Predicting baby name sex using PyTorch for Logistic Regression

### References

- [Logistic Regression with PyTorch](https://proai.org/pytorch-logistic-regression) by [Denny Loevlie](https://twitter.com/DennisLoevlie)
- [PyTorch OO design compared with SkLearn](https://jeancochrane.com/blog/pytorch-functional-api) by [Jean Cochrane](https://JeanCochrane.com)
- [Building Your First Network in PyTorch](https://t.co/m9I4e0tfrC) by [Ta-Ying Cheng](https://www.linkedin.com/in/tim-ta-ying-cheng-411857139/)
- [data.world US baby names since 1880](https://data.world/ssa/baby-names-for-us-states-territories)

In [1]:
import numpy as np
import pandas as pd
# neither year nor len are statistically significant predictors of sex
from pathlib import Path

In [2]:
pd.options.display.max_rows=7

In [3]:
CWD = Path('.').absolute().resolve()
DATA_DIR_NAME = '.nlpia2-data'
DATA_FILE = 'baby-names-region.csv.gz'
CWD

WindowsPath('C:/Users/maria/Dropbox/Tangible AI/gitlab/nlpia2/src/nlpia2/ch05')

In [4]:
parent = CWD
data_dir = parent / DATA_DIR_NAME 
filepath = data_dir / DATA_FILE
for i in range(10):
    print(filepath)
    if filepath.is_file():
        break
    parent = parent.parent
    data_dir = parent / DATA_DIR_NAME 
    filepath = data_dir / DATA_FILE
filepath

C:\Users\maria\Dropbox\Tangible AI\gitlab\nlpia2\src\nlpia2\ch05\.nlpia2-data\baby-names-region.csv.gz
C:\Users\maria\Dropbox\Tangible AI\gitlab\nlpia2\src\nlpia2\.nlpia2-data\baby-names-region.csv.gz
C:\Users\maria\Dropbox\Tangible AI\gitlab\nlpia2\src\.nlpia2-data\baby-names-region.csv.gz
C:\Users\maria\Dropbox\Tangible AI\gitlab\nlpia2\.nlpia2-data\baby-names-region.csv.gz

WindowsPath('C:/Users/maria/Dropbox/Tangible AI/gitlab/nlpia2/.nlpia2-data/baby-names-region.csv.gz')

In [5]:
def find_dir(dirname=DATA_DIR_NAME, parent=Path('.').absolute().resolve(), max_parents=20):
    for i in range(max_parents):
        data_dir = parent / dirname
        if data_dir.is_dir():
            return data_dir
        parent = parent.parent

DATA_DIR = find_dir()
DATA_DIR

WindowsPath('C:/Users/maria/Dropbox/Tangible AI/gitlab/nlpia2/.nlpia2-data')

In [6]:
def find_file(filename, parent=Path('.').absolute().resolve(), data_dir_name=DATA_DIR_NAME, max_parents=20):
    for i in range(max_parents):
        data_dir = parent / data_dir_name 
        filepath = data_dir / filename
        if filepath.is_file():
            return filepath
        parent = parent.parent

filepath = find_file(DATA_FILE)
filepath

WindowsPath('C:/Users/maria/Dropbox/Tangible AI/gitlab/nlpia2/.nlpia2-data/baby-names-region.csv.gz')

In [7]:
df = pd.read_csv(filepath)

In [8]:
np.random.seed(451)
df = df.sample(10_000)
df

        region sex  year      name  count      freq
6139665     WV   F  1987  Brittani     10  0.000003
2565339     MD   F  1954       Ida     18  0.000005
22297       AK   M  1988   Maxwell      5  0.000001
...        ...  ..   ...       ...    ...       ...
4475894     OK   F  1950      Leah      9  0.000003
5744351     VA   F  2007    Carley     11  0.000003
5583882     TX   M  2019   Kartier     10  0.000003

[10000 rows x 6 columns]

In [9]:
names = df['name'].unique()
list(names[:10])

['Brittani',
 'Ida',
 'Maxwell',
 'Charlene',
 'Todd',
 'Aubrey',
 'Arianna',
 'Otis',
 'Trenton',
 'Faustino']

In [10]:
len(names) / len(df)

0.4025

In [11]:
# df = pd.get_dummies(df, columns=['region'])
# df.head()

In [12]:
df = df.rename(dict(name='name_', sex='sex_'), axis=1)
df.head()

        region sex_  year     name_  count      freq
6139665     WV    F  1987  Brittani     10  0.000003
2565339     MD    F  1954       Ida     18  0.000005
22297       AK    M  1988   Maxwell      5  0.000001
5114650     TN    F  1972  Charlene     24  0.000008
2126395     KS    M  1954      Todd     11  0.000003

In [13]:
df = df.groupby(['name_', 'sex_']).sum()
df

             year  count      freq
name_  sex_
Aaden  M     2008     51  0.000015
Aahana F     2018     26  0.000009
Aahil  M     2019      5  0.000002
...           ...    ...       ...
Zvi    M     2015      5  0.000002
Zya    F     2019      8  0.000003
Zylah  F     2008      5  0.000001

[4238 rows x 3 columns]

In [108]:
df_with_duplicates = pd.read_csv(filepath)
np.random.seed(451)
df_with_duplicates = df_with_duplicates.sample(10_000)
df_with_duplicates.set_index(['name', 'sex'])
groups = df_with_duplicates.groupby(['name', 'sex'])

In [113]:
groups = df_with_duplicates.groupby(['name', 'sex'])
for group in groups: 
    if len(group) > 1:
        print (group)

(('Aaden', 'M'),         region sex  year   name  count      freq
1258876     FL   M  2008  Aaden     51  0.000015)
(('Aahana', 'F'),        region sex  year    name  count      freq
612877     CA   F  2018  Aahana     26  0.000009)
(('Aahil', 'M'),         region sex  year   name  count      freq
5584635     TX   M  2019  Aahil      5  0.000002)
(('Aaleyah', 'F'),        region sex  year     name  count      freq
581605     CA   F  2010  Aaleyah     17  0.000005)
(('Aalia', 'F'),        region sex  year   name  count      freq
598948     CA   F  2014  Aalia      7  0.000002
618326     CA   F  2019  Aalia      6  0.000002)
(('Aaliyah', 'F'),         region sex  year     name  count      freq
6034503     WI   F  1998  Aaliyah     18  0.000005
2337545     LA   F  1998  Aaliyah     55  0.000017
3589731     NE   F  2016  Aaliyah     22  0.000007)
(('Aalyah', 'F'),        region sex  year    name  count      freq
546322     CA   F  2001  Aalyah      6  0.000002)
(('Aanya', 'F'),         region sex  year   name  count      freq
3736537     NJ   F  2007  Aanya     15  0.000004)
(('Aaradhya', 'F'),         region sex  year      name  count      freq
3753667     NJ   F  2019  Aaradhya      5  0.000002)
(('Aarav', 'M'),        region sex  year   name  count      freq
742134     CA   M  2006  Aarav     28  0.000008)
(('Aaron', 'M'),         region sex  year   name  count      freq
1596321     IA   M  1959  Aaron     16  0.000004
4905964     RI   M  1996  Aaron     31  0.000010
5813804     VA   M  2005  Aaron    200  0.000060
5661765     UT   M  1995  Aaron    113  0.000035
143282      AL   M  1988  Aaron    152  0.000045)
(('Aarush', 'M'),         region sex  year    name  count      freq
2895760     MI   M  2013  Aarush      5  0.000002)
(('Abbey', 'F'),         region sex  year   name  count      freq
5736732     VA   F  2001  Abbey     15  0.000005
4053268     NY   F  1992  Abbey     17  0.000005
3397229     NC   F  2004  Abbey     27  0.000008)
(('Abbie', 'F'),         region sex  year   name  count      freq
3213477     MS   F  2001  Abbie      7  0.000002
6143319     WV   F  1998  Abbie      5  0.000002
4728072     PA   F  1982  Abbie     12  0.000004
6025548     WI   F  1985  Abbie      5  0.000002)
(('Abbigail', 'F'),         region sex  year      name  count      freq
5906475     WA   F  1998  Abbigail     12  0.000004)
(('Abby', 'F'),         region sex  year  name  count      freq
4297877     OH   F  1968  Abby      7  0.000002
5922207     WA   F  2012  Abby     21  0.000007
1125179     FL   F  1990  Abby     37  0.000010)
(('Abdallah', 'M'),         region sex  year      name  count      freq
4868847     PA   M  2019  Abdallah      5  0.000002)
(('Abdiel', 'M'),         region sex  year    name  count      freq
6232803     PR   M  2009  Abdiel    107  0.000033)
(('Abdullah', 'M'),         region sex  year      name  count      freq
4234593     NY   M  2011  Abdullah     47  0.000015
3502322     NC   M  2018  Abdullah      5  0.000002)
(('Abe', 'M'),         region sex  year name  count      freq
1412649     GA   M  1959  Abe      5  0.000001
3756290     NJ   M  1915  Abe     23  0.000014)
(('Abel', 'M'),         region sex  year  name  count      freq
882359      CO   M  2005  Abel     23  0.000007
6088722     WI   M  1994  Abel      6  0.000002
2651442     MD   M  2004  Abel     12  0.000004
3936388     NV   M  1994  Abel      5  0.000002
4168299     NY   M  1969  Abel     14  0.000004)
(('Abelardo', 'M'),         region sex  year      name  count      freq
5437566     TX   M  1918  Abelardo     13  0.000006)
(('Abhi', 'M'),        region sex  year  name  count      freq
769837     CA   M  2015  Abhi      6  0.000002)
(('Abigail', 'F'),         region sex  year     name  count      freq
3861894     NM   F  2016  Abigail     48  0.000015
1639946     ID   F  1983  Abigail     11  0.000003
2579253     MD   F  1979  Abigail     15  0.000005
2331863     LA   F  1991  Abigail     41  0.000012
2608062     MD   F  2014  Abigail    230  0.000073
3968839     NY   F  1936  Abigail      8  0.000004)
(('Abigale', 'F'),         region sex  year     name  count      freq
1352813     GA   F  2001  Abigale      8  0.000002
4763411     PA   F  2008  Abigale      8  0.000002)
(('Abigayle', 'F'),         region sex  year      name  count      freq
1146890     FL   F  2002  Abigayle     15  0.000005
4965382     SC   F  2008  Abigayle      7  0.000002)
(('Abraham', 'M'),         region sex  year     name  count      freq
2550703     MA   M  2020  Abraham     25  0.000009
5449384     TX   M  1930  Abraham     21  0.000010
2401757     LA   M  1987  Abraham      8  0.000002
3010071     MN   M  2007  Abraham     23  0.000007
1825869     IL   M  1927  Abraham      9  0.000004)
(('Abram', 'M'),         region sex  year   name  count      freq
3550571     ND   M  2014  Abram      7  0.000002
4783765     PA   M  1910  Abram      5  0.000010
4842473     PA   M  1998  Abram      5  0.000002)
(('Abubakar', 'M'),         region sex  year      name  count      freq
4452363     OH   M  2018  Abubakar      8  0.000003)
(('Ada', 'F'),         region sex  year name  count      freq
4918307     SC   F  1926  Ada     50  0.000023
97274       AL   F  2014  Ada     12  0.000004
4306763     OH   F  1976  Ada     10  0.000004)
(('Adalberto', 'M'),         region sex  year       name  count      freq
5483755     TX   M  1963  Adalberto     10  0.000003
1862738     IL   M  1979  Adalberto      6  0.000002)
(('Adaline', 'F'),         region sex  year     name  count      freq
1183587     FL   F  2018  Adaline     74  0.000025)
(('Adalyn', 'F'),         region sex  year    name  count      freq
2108059     KS   F  2014  Adalyn     34  0.000011)
(('Adalynn', 'F'),         region sex  year     name  count      freq
3587788     NE   F  2012  Adalynn     15  0.000005)
(('Adam', 'M'),         region sex  year  name  count      freq
5653135     UT   M  1974  Adam    145  0.000052
114602      AL   M  1932  Adam      5  0.000003
20466       AK   M  1979  Adam     36  0.000012
2364819     LA   M  1924  Adam     32  0.000014
5069504     SD   M  1970  Adam     11  0.000003)
(('Adarian', 'M'),         region sex  year     name  count      freq
5552677     TX   M  2007  Adarian      6  0.000002)
(('Addelyn', 'F'),         region sex  year     name  count      freq
4776322     PA   F  2016  Addelyn      9  0.000003)
(('Addie', 'F'),         region sex  year   name  count      freq
1284588     GA   F  1913  Addie     63  0.000061
4353544     OH   F  2010  Addie      5  0.000002
3201382     MS   F  1979  Addie      5  0.000002
43088       AL   F  1935  Addie     46  0.000024)
(('Addilynn', 'F'),        region sex  year      name  count      freq
219625     AR   F  2016  Addilynn     12  0.000004)
(('Addison', 'F'),         region sex  year     name  count      freq
1379659     GA   F  2017  Addison    209  0.000069)
(('Addison', 'M'),         region sex  year     name  count      freq
2417559     LA   M  2007  Addison      6  0.000002)
(('Addisyn', 'F'),         region sex  year     name  count      freq
4767751     PA   F  2011  Addisyn     25  0.000008
101288      AL   F  2018  Addisyn      7  0.000002)
(('Addyson', 'F'),         region sex  year     name  count      freq
1354774     GA   F  2002  Addyson      5  0.000002)
(('Adel', 'M'),         region sex  year  name  count      freq
4247868     NY   M  2017  Adel      9  0.000003)
(('Adela', 'F'),         region sex  year   name  count      freq
5265422     TX   F  1950  Adela     66  0.000020
1734515     IL   F  1971  Adela      5  0.000002)
(('Adelaide', 'F'),         region sex  year      name  count      freq
2103409     KS   F  2007  Adelaide      7  0.000002)
(('Adele', 'F'),         region sex  year   name  count      freq
3681224     NJ   F  1948  Adele     38  0.000012
3964714     NY   F  1931  Adele    140  0.000071)
(('Adeline', 'F'),         region sex  year     name  count      freq
3510180     ND   F  1932  Adeline     10  0.000005
2342259     LA   F  2003  Adeline      7  0.000002
4457427     OK   F  1914  Adeline      5  0.000004)
(('Adelyn', 'F'),         region sex  year    name  count      freq
5375956     TX   F  2005  Adelyn      7  0.000002)
(('Adelynn', 'F'),         region sex  year     name  count      freq
5159420     TN   F  2020  Adelynn     24  0.000009)
(('Aden', 'M'),         region sex  year  name  count      freq
3948375     NV   M  2018  Aden      8  0.000003)
(('Adin', 'M'),         region sex  year  name  count      freq
2539857     MA   M  2006  Adin      5  0.000001)
(('Adir', 'M'),         region sex  year  name  count      freq
4252518     NY   M  2019  Adir      5  0.000002)
(('Adolfo', 'M'),         region sex  year    name  count      freq
5489809     TX   M  1969  Adolfo     43  0.000013)
(('Adreanna', 'F'),         region sex  year      name  count      freq
1565847     IA   F  1998  Adreanna      5  0.000002)
(('Adrian', 'F'),         region sex  year    name  count      freq
2783180     MI   F  1992  Adrian     11  0.000003
79157       AL   F  1992  Adrian     16  0.000005
2311296     LA   F  1966  Adrian      6  0.000002)
(('Adrian', 'M'),         region sex  year    name  count      freq
2406586     LA   M  1994  Adrian     28  0.000008
2714559     ME   M  2010  Adrian      9  0.000003
4129297     NY   M  1920  Adrian     32  0.000015
2849016     MI   M  1961  Adrian     15  0.000004
21833       AK   M  1986  Adrian     10  0.000003)
(('Adriana', 'F'),        region sex  year     name  count      freq
922570     CT   F  1985  Adriana      7  0.000002)
(('Adriane', 'F'),         region sex  year     name  count      freq
4940431     SC   F  1969  Adriane      8  0.000002
1723390     IL   F  1962  Adriane      5  0.000001
461134      CA   F  1974  Adriane     10  0.000004)
(('Adrianna', 'F'),         region sex  year      name  count      freq
3213251     MS   F  2001  Adrianna     19  0.000006
3858487     NM   F  2009  Adrianna     17  0.000005)
(('Adrianne', 'F'),         region sex  year      name  count      freq
570263      CA   F  2007  Adrianne      7  0.000002
4053493     NY   F  1992  Adrianne     12  0.000003
1730199     IL   F  1968  Adrianne     10  0.000003
2813143     MI   F  2013  Adrianne      5  0.000002
5890532     WA   F  1979  Adrianne      6  0.000002)
(('Adrien', 'M'),         region sex  year    name  count      freq
4895684     RI   M  1928  Adrien      5  0.000002
2899038     MI   M  2016  Adrien     10  0.000003)
(('Adrienne', 'F'),         region sex  year      name  count      freq
2668148     ME   F  1920  Adrienne      6  0.000003)
(('Adrina', 'F'),         region sex  year    name  count      freq
5383712     TX   F  2007  Adrina      5  0.000001)
(('Advait', 'M'),        region sex  year    name  count      freq
766534     CA   M  2014  Advait      8  0.000003)
(('Afton', 'F'),         region sex  year   name  count      freq
4494945     OK   F  1985  Afton      6  0.000002)
(('Agatha', 'F'),         region sex  year    name  count      freq
4680250     PA   F  1930  Agatha     13  0.000006)
(('Agnes', 'F'),         region sex  year   name  count      freq
3697312     NJ   F  1970  Agnes      8  0.000002
5100324     TN   F  1949  Agnes     17  0.000005
2281356     LA   F  1918  Agnes    134  0.000067
5096443     TN   F  1942  Agnes     35  0.000014)
(('Agustine', 'M'),         region sex  year      name  count      freq
5515609     TX   M  1988  Agustine      5  0.000001)
(('Ahmad', 'M'),         region sex  year   name  count      freq
4428893     OH   M  2000  Ahmad     16  0.000005)
(('Ahmari', 'M'),         region sex  year    name  count      freq
4239795     NY   M  2013  Ahmari      7  0.000002)
(('Ahmed', 'M'),         region sex  year   name  count      freq
3780733     NJ   M  1974  Ahmed     11  0.000004
4176626     NY   M  1976  Ahmed     17  0.000006)
(('Aida', 'F'),         region sex  year  name  count      freq
5342439     TX   F  1994  Aida     21  0.000006)
(('Aidan', 'F'),         region sex  year   name  count      freq
4337259     OH   F  2000  Aidan      7  0.000002)
(('Aidan', 'M'),         region sex  year   name  count      freq
4854209     PA   M  2009  Aidan    272  0.000083)
(('Aiden', 'M'),         region sex  year   name  count      freq
2877701     MI   M  1998  Aiden     12  0.000004)
(('Aila', 'F'),         region sex  year  name  count      freq
5922943     WA   F  2012  Aila      5  0.000002)
(('Aileen', 'F'),         region sex  year    name  count      freq
394206      CA   F  1919  Aileen     27  0.000014
3824560     NM   F  1918  Aileen      5  0.000002)
(('Aimee', 'F'),         region sex  year   name  count      freq
2931697     MN   F  1971  Aimee     31  0.000010
1485367     HI   F  1970  Aimee      9  0.000003
3399134     NC   F  2005  Aimee     10  0.000003
201429      AR   F  1983  Aimee      9  0.000003
2083412     KS   F  1968  Aimee      7  0.000002
5744892     VA   F  2007  Aimee      5  0.000001
4344765     OH   F  2005  Aimee      8  0.000002)
(('Ainsley', 'F'),         region sex  year     name  count      freq
1806466     IL   F  2015  Ainsley     37  0.000012
1977776     IN   F  2004  Ainsley     23  0.000007
3747781     NJ   F  2015  Ainsley     10  0.000003
328764      AZ   F  2013  Ainsley     22  0.000007)
(('Aisha', 'F'),         region sex  year   name  count      freq
1967428     IN   F  1993  Aisha      7  0.000002
1753473     IL   F  1985  Aisha     27  0.000008)
(('Aislynn', 'F'),         region sex  year     name  count      freq
3423757     NC   F  2020  Aislynn      5  0.000002)
(('Aiza', 'F'),         region sex  year  name  count      freq
4109731     NY   F  2015  Aiza     19  0.000006)
(('Aj', 'M'),        region sex  year name  count      freq
772061     CA   M  2016   Aj     11  0.000004)
(('Aja', 'F'),         region sex  year name  count      freq
5908931     WA   F  2000  Aja      5  0.000001)
(('Ajah', 'F'),         region sex  year  name  count      freq
5734843     VA   F  1999  Ajah      7  0.000002)
(('Ajanae', 'F'),         region sex  year    name  count      freq
2795494     MI   F  2001  Ajanae      6  0.000002)
(('Ajay', 'M'),         region sex  year  name  count      freq
4189707     NY   M  1986  Ajay     10  0.000003)
(('Ajla', 'F'),         region sex  year  name  count      freq
1568489     IA   F  2003  Ajla      7  0.000002)
(('Akeem', 'M'),         region sex  year   name  count      freq
4831867     PA   M  1987  Akeem     26  0.000008)
(('Akira', 'F'),        region sex  year   name  count      freq
524127     CA   F  1995  Akira      8  0.000002)
(('Al', 'M'),         region sex  year name  count      freq
3252612     MS   M  1969   Al      6  0.000002)
(('Alain', 'M'),         region sex  year   name  count      freq
4183036     NY   M  1981  Alain     14  0.000004)
(('Alaina', 'F'),         region sex  year    name  count      freq
6147501     WV   F  2010  Alaina     17  0.000005
4740031     PA   F  1992  Alaina     40  0.000012
1653540     ID   F  2019  Alaina      5  0.000002
3726327     NJ   F  1999  Alaina     12  0.000004
2604158     MD   F  2010  Alaina     24  0.000008)
(('Alan', 'M'),         region sex  year  name  count      freq
1058225     DE   M  1958  Alan     21  0.000005
4385021     OH   M  1941  Alan    153  0.000067
859969      CO   M  1961  Alan    105  0.000027
...        ...  ..   ...   ...    ...       ...
4626504     OR   M  1915  Alan      6  0.000004
17782       AK   M  1961  Alan     11  0.000003
136154      AL   M  1974  Alan     33  0.000012

[8 rows x 6 columns])
(('Alana', 'F'),         region sex  year   name  count      freq
5608995     UT   F  1980  Alana      8  0.000003
4884841     RI   F  1983  Alana      5  0.000002
4767488     PA   F  2011  Alana     73  0.000023
529369      CA   F  1997  Alana    124  0.000039)
(('Alanna', 'F'),         region sex  year    name  count      freq
5352671     TX   F  1998  Alanna     28  0.000009
4615666     OR   F  2007  Alanna      5  0.000001
1337027     GA   F  1988  Alanna      6  0.000002
612341      CA   F  2018  Alanna     67  0.000023
940114      CT   F  2016  Alanna      7  0.000002
1742471     IL   F  1977  Alanna      7  0.000002
3926347     NV   F  2020  Alanna      6  0.000002)
(('Alayah', 'F'),         region sex  year    name  count      freq
6043567     WI   F  2008  Alayah      6  0.000002)
(('Alayna', 'F'),         region sex  year    name  count      freq
6146436     WV   F  2007  Alayna      8  0.000002)
(('Albert', 'M'),         region sex  year    name  count      freq
240052      AR   M  1953  Albert     71  0.000019
223946      AR   M  1915  Albert    112  0.000066
246350      AR   M  1969  Albert     27  0.000008
...        ...  ..   ...     ...    ...       ...
2268677     KY   M  2007  Albert      5  0.000001
5847837     VT   M  1919  Albert     32  0.000016
978879      CT   M  2019  Albert      7  0.000002

[8 rows x 6 columns])
(('Alberta', 'F'),         region sex  year     name  count      freq
5094027     TN   F  1937  Alberta     17  0.000009
3986255     NY   F  1954  Alberta     30  0.000008
4713632     PA   F  1969  Alberta     12  0.000004
1301551     GA   F  1943  Alberta     34  0.000013
3175356     MS   F  1933  Alberta     57  0.000031)
(('Albin', 'M'),         region sex  year   name  count      freq
2973564     MN   M  1921  Albin      9  0.000004
1822344     IL   M  1921  Albin     15  0.000007)
(('Aldo', 'M'),         region sex  year  name  count      freq
6099839     WI   M  2010  Aldo     10  0.000003)
(('Aleah', 'F'),         region sex  year   name  count      freq
5760750     VA   F  2019  Aleah     13  0.000004)
(('Alease', 'F'),         region sex  year    name  count      freq
3350756     NC   F  1951  Alease      5  0.000001)
(('Alec', 'M'),         region sex  year  name  count      freq
5659641     UT   M  1990  Alec     16  0.000004
5202224     TN   M  1996  Alec     39  0.000012
3659911     NH   M  1994  Alec     23  0.000007
4650083     OR   M  1995  Alec     45  0.000014)
(('Alecia', 'F'),         region sex  year    name  count      freq
5305644     TX   F  1977  Alecia     16  0.000006
5309164     TX   F  1979  Alecia     26  0.000009)
(('Aleem', 'M'),         region sex  year   name  count      freq
4857934     PA   M  2011  Aleem      5  0.000002)
(('Aleena', 'F'),         region sex  year    name  count      freq
4758516     PA   F  2005  Aleena     10  0.000003
588465      CA   F  2012  Aleena    131  0.000042)
(('Aleesha', 'F'),         region sex  year     name  count      freq
1136186     FL   F  1996  Aleesha      6  0.000002)
(('Aleia', 'F'),         region sex  year   name  count      freq
5314307     TX   F  1981  Aleia      5  0.000002)
(('Aleigha', 'F'),         region sex  year     name  count      freq
1368191     GA   F  2010  Aleigha     13  0.000004)
(('Alejandra', 'F'),         region sex  year       name  count      freq
5285069     TX   F  1964  Alejandra     18  0.000005
2948669     MN   F  1998  Alejandra     13  0.000004
1567886     IA   F  2002  Alejandra      8  0.000002)
(('Alejandro', 'M'),         region sex  year       name  count      freq
377719      AZ   M  2008  Alejandro    208  0.000062
4450514     OH   M  2017  Alejandro     23  0.000008
2652043     MD   M  2005  Alejandro     29  0.000009
4823831     PA   M  1976  Alejandro      8  0.000003)
(('Alek', 'M'),         region sex  year  name  count      freq
1243459     FL   M  1998  Alek      7  0.000002)
(('Aleksandra', 'F'),         region sex  year        name  count      freq
4091553     NY   F  2008  Aleksandra     22  0.000007)
(('Alena', 'F'),         region sex  year   name  count      freq
1357476     GA   F  2004  Alena     11  0.000003)
(('Alesha', 'F'),         region sex  year    name  count      freq
5891232     WA   F  1980  Alesha      7  0.000002)
(('Alessandra', 'F'),         region sex  year        name  count      freq
4025389     NY   F  1978  Alessandra      8  0.000003
4621109     OR   F  2014  Alessandra      6  0.000002)
(('Alex', 'F'),         region sex  year  name  count      freq
4766701     PA   F  2010  Alex      8  0.000003)
(('Alex', 'M'),         region sex  year  name  count      freq
3119303     MO   M  1952  Alex      6  0.000002
1512471     HI   M  1973  Alex      5  0.000002
684334      CA   M  1982  Alex    391  0.000122
...        ...  ..   ...   ...    ...       ...
2843035     MI   M  1952  Alex     15  0.000004
2854037     MI   M  1969  Alex     48  0.000015
3894364     NM   M  2008  Alex     33  0.000010

[8 rows x 6 columns])
(('Alexa', 'F'),         region sex  year   name  count      freq
218724      AR   F  2015  Alexa     46  0.000015
5897041     WA   F  1988  Alexa     27  0.000008
2966105     MN   F  2017  Alexa     31  0.000010
2339323     LA   F  2000  Alexa     28  0.000008)
(('Alexander', 'M'),         region sex  year       name  count      freq
1866982     IL   M  1984  Alexander    361  0.000114
950204      CT   M  1947  Alexander     19  0.000006
4652701     OR   M  2000  Alexander    204  0.000061
2631366     MD   M  1966  Alexander     34  0.000010
5854912     VT   M  1976  Alexander      5  0.000002
1911216     IL   M  2017  Alexander    584  0.000193
28706       AK   M  2018  Alexander     18  0.000006)
(('Alexandra', 'F'),         region sex  year       name  count      freq
919586      CT   F  1979  Alexandra     39  0.000013
4369326     OH   F  2020  Alexandra     31  0.000011
4696692     PA   F  1952  Alexandra     13  0.000004
6023904     WI   F  1983  Alexandra     23  0.000007
547265      CA   F  2002  Alexandra   1000  0.000305
4605278     OR   F  1993  Alexandra     97  0.000029)
(('Alexandre', 'M'),         region sex  year       name  count      freq
3804843     NJ   M  2004  Alexandre      7  0.000002)
(('Alexandrea', 'F'),         region sex  year        name  count      freq
3578959     NE   F  1991  Alexandrea      7  0.000002
4739059     PA   F  1991  Alexandrea     12  0.000003)
(('Alexandria', 'F'),         region sex  year        name  count      freq
4621651     OR   F  2015  Alexandria     12  0.000004
5729435     VA   F  1994  Alexandria     59  0.000018
1994620     IN   F  2018  Alexandria     23  0.000008)
(('Alexandro', 'M'),         region sex  year       name  count      freq
5539716     TX   M  2002  Alexandro     52  0.000016
5510367     TX   M  1985  Alexandro     20  0.000006)
(('Alexia', 'F'),         region sex  year    name  count      freq
3582230     NE   F  2000  Alexia     12  0.000004
507670      CA   F  1991  Alexia     52  0.000015
5346858     TX   F  1996  Alexia    130  0.000040
2499250     MA   F  2020  Alexia      6  0.000002)
(('Alexis', 'F'),         region sex  year    name  count      freq
1569287     IA   F  2005  Alexis    137  0.000041
931404      CT   F  2002  Alexis    130  0.000040
930842      CT   F  2001  Alexis    117  0.000036)
(('Alexus', 'F'),         region sex  year    name  count      freq
330842      AZ   F  2014  Alexus      5  0.000002
4100859     NY   F  2011  Alexus      5  0.000002
211055      AR   F  2003  Alexus     17  0.000005)
(('Alexxus', 'F'),         region sex  year     name  count      freq
5357230     TX   F  1999  Alexxus      5  0.000002)
(('Alexzander', 'M'),         region sex  year        name  count      freq
3482251     NC   M  2002  Alexzander      9  0.000003)
(('Alfonso', 'M'),         region sex  year     name  count      freq
1231748     FL   M  1989  Alfonso     22  0.000006
5467783     TX   M  1949  Alfonso     89  0.000027
1821291     IL   M  1919  Alfonso     10  0.000005)
(('Alford', 'M'),         region sex  year    name  count      freq
2226950     KY   M  1919  Alford      5  0.000003)
(('Alfred', 'M'),         region sex  year    name  count      freq
1505222     HI   M  1945  Alfred     24  0.000010
1502141     HI   M  1924  Alfred     34  0.000015
1517503     HI   M  1990  Alfred      6  0.000002
...        ...  ..   ...     ...    ...       ...
4784979     PA   M  1914  Alfred    263  0.000203
1502988     HI   M  1929  Alfred     32  0.000016
362741      AZ   M  1988  Alfred     14  0.000004

[9 rows x 6 columns])
(('Ali', 'F'),         region sex  year name  count      freq
2792592     MI   F  1999  Ali      7  0.000002)
(('Ali', 'M'),         region sex  year name  count      freq
4404713     OH   M  1971  Ali      7  0.000002)
(('Aliana', 'F'),         region sex  year    name  count      freq
2614237     MD   F  2019  Aliana      5  0.000002)
(('Alianna', 'F'),         region sex  year     name  count      freq
1986663     IN   F  2011  Alianna      6  0.000002
1184253     FL   F  2018  Alianna     16  0.000005)
(('Alice', 'F'),         region sex  year   name  count      freq
1339751     GA   F  1991  Alice     23  0.000007
2673559     ME   F  1944  Alice     34  0.000013
4463461     OK   F  1926  Alice    169  0.000079
3631994     NH   F  1951  Alice     17  0.000005
5248263     TX   F  1934  Alice    359  0.000186
5246295     TX   F  1932  Alice    393  0.000200)
(('Alicia', 'F'),         region sex  year    name  count      freq
4484490     OK   F  1967  Alicia     26  0.000008
3828466     NM   F  1934  Alicia      8  0.000004
1757487     IL   F  1988  Alicia    291  0.000087
4698325     PA   F  1954  Alicia     38  0.000010
6198949     WY   F  1999  Alicia      8  0.000002)
(('Alijah', 'M'),         region sex  year    name  count      freq
5209589     TN   M  2005  Alijah      9  0.000003
4425143     OH   M  1996  Alijah      6  0.000002
159098      AL   M  2011  Alijah     12  0.000004)
(('Alina', 'F'),         region sex  year   name  count      freq
2489973     MA   F  2011  Alina     25  0.000008
1157347     FL   F  2007  Alina    111  0.000032
2462918     MA   F  1978  Alina      7  0.000002)
(('Aline', 'F'),         region sex  year   name  count      freq
2552556     MD   F  1915  Aline      5  0.000003)
(('Alisa', 'F'),         region sex  year   name  count      freq
2310153     LA   F  1965  Alisa     31  0.000009
1551024     IA   F  1967  Alisa      9  0.000003
1321512     GA   F  1971  Alisa     33  0.000010
64579       AL   F  1970  Alisa     14  0.000004)
(('Alisha', 'F'),         region sex  year    name  count      freq
5316909     TX   F  1983  Alisha    121  0.000038
69663       AL   F  1978  Alisha     39  0.000014
5607209     UT   F  1977  Alisha     37  0.000013
3906117     NV   F  1977  Alisha     12  0.000004)
(('Alison', 'F'),         region sex  year    name  count      freq
2201119     KY   F  1991  Alison     24  0.000007
2443262     MA   F  1944  Alison      7  0.000003
992748      DC   F  1966  Alison      9  0.000003
296217      AZ   F  1982  Alison     26  0.000008)
(('Alissa', 'F'),         region sex  year    name  count      freq
1740497     IL   F  1976  Alissa     26  0.000009
5893342     WA   F  1983  Alissa     13  0.000004
4941641     SC   F  1971  Alissa      6  0.000002)
(('Alivia', 'F'),         region sex  year    name  count      freq
4746933     PA   F  1997  Alivia     18  0.000006)
(('Alix', 'M'),         region sex  year  name  count      freq
1239320     FL   M  1995  Alix      9  0.000003)
(('Aliya', 'F'),         region sex  year   name  count      freq
4767847     PA   F  2011  Aliya     20  0.000006
1162609     FL   F  2009  Aliya     27  0.000008
4076537     NY   F  2002  Aliya     22  0.000007)
(('Aliyah', 'F'),         region sex  year    name  count      freq
5930882     WA   F  2019  Aliyah     44  0.000015
6150877     WV   F  2018  Aliyah      6  0.000002
3394313     NC   F  2002  Aliyah     53  0.000016)
(('Aliza', 'F'),        region sex  year   name  count      freq
597338     CA   F  2014  Aliza     28  0.000009)
(('Allan', 'M'),         region sex  year   name  count      freq
3608310     NE   M  1970  Allan      5  0.000001
4182743     NY   M  1981  Allan     49  0.000016
1821663     IL   M  1920  Allan     42  0.000020
2250874     KY   M  1969  Allan      6  0.000002)
(('Allegra', 'F'),         region sex  year     name  count      freq
4109950     NY   F  2015  Allegra     14  0.000004)
(('Allen', 'M'),         region sex  year   name  count      freq
4181350     NY   M  1980  Allen    101  0.000032
3263053     MS   M  1992  Allen     25  0.000007
5790758     VA   M  1971  Allen     76  0.000024
...        ...  ..   ...    ...    ...       ...
5519159     TX   M  1991  Allen    140  0.000040
4794690     PA   M  1930  Allen    162  0.000078
6171698     WV   M  1968  Allen     35  0.000011

[11 rows x 6 columns])
(('Allena', 'F'),         region sex  year    name  count      freq
3412445     NC   F  2013  Allena      5  0.000002)
(('Allene', 'F'),         region sex  year    name  count      freq
5259016     TX   F  1944  Allene     10  0.000004
5684100     VA   F  1920  Allene      8  0.000004
5690534     VA   F  1934  Allene      8  0.000004)
(('Allie', 'F'),         region sex  year   name  count      freq
1802711     IL   F  2013  Allie     38  0.000012
1300593     GA   F  1941  Allie      9  0.000004)
(('Allison', 'F'),         region sex  year     name  count      freq
4969218     SC   F  2013  Allison     82  0.000026
2309250     LA   F  1964  Allison     65  0.000018
6050809     WI   F  2016  Allison     45  0.000014
3098004     MO   F  2018  Allison     65  0.000022
5117199     TN   F  1976  Allison    106  0.000038
4883856     RI   F  1979  Allison     24  0.000008)
(('Allison', 'M'),         region sex  year     name  count      freq
4803821     PA   M  1946  Allison      8  0.000003)
(('Ally', 'F'),         region sex  year  name  count      freq
2494275     MA   F  2015  Ally      7  0.000002
3405484     NC   F  2009  Ally     10  0.000003
1774485     IL   F  1998  Ally     24  0.000007)
(('Allyn', 'M'),         region sex  year   name  count      freq
1594628     IA   M  1954  Allyn      5  0.000001)
(('Allyson', 'F'),         region sex  year     name  count      freq
2205360     KY   F  1998  Allyson     28  0.000009
3373176     NC   F  1981  Allyson     15  0.000005)
(('Allyssa', 'F'),         region sex  year     name  count      freq
4514631     OK   F  2012  Allyssa      5  0.000002)
(('Alma', 'F'),         region sex  year  name  count      freq
2599354     MD   F  2005  Alma      8  0.000002
3667505     NJ   F  1915  Alma     60  0.000036
4766927     PA   F  2010  Alma      6  0.000002
4509175     OK   F  2006  Alma      6  0.000002
174864      AR   F  1927  Alma    108  0.000050)
(('Alnisa', 'F'),         region sex  year    name  count      freq
3710159     NJ   F  1984  Alnisa      7  0.000002)
(('Alonso', 'M'),         region sex  year    name  count      freq
5516289     TX   M  1989  Alonso     33  0.000009)
(('Alonzo', 'M'),         region sex  year    name  count      freq
2021567     IN   M  1968  Alonzo      7  0.000002
236666      AR   M  1944  Alonzo      7  0.000003
2382447     LA   M  1958  Alonzo     18  0.000005)
(('Alpha', 'F'),         region sex  year   name  count      freq
5263843     TX   F  1948  Alpha      5  0.000002)
(('Alphonse', 'M'),         region sex  year      name  count      freq
3241379     MS   M  1945  Alphonse      5  0.000002)
(('Alta', 'F'),         region sex  year  name  count      freq
2177263     KY   F  1949  Alta     10  0.000003
2160953     KY   F  1919  Alta     38  0.000019)
(('Altha', 'F'),         region sex  year   name  count      freq
4467620     OK   F  1933  Altha      5  0.000003)
(('Althea', 'F'),         region sex  year    name  count      freq
446535      CA   F  1967  Althea     13  0.000004
2668302     ME   F  1921  Althea     16  0.000007
4680831     PA   F  1931  Althea     24  0.000012)
(('Alton', 'M'),         region sex  year   name  count      freq
3782083     NJ   M  1976  Alton      7  0.000003
3242529     MS   M  1948  Alton     29  0.000009
3432337     NC   M  1926  Alton     73  0.000034
2415924     LA   M  2005  Alton      5  0.000001
6077555     WI   M  1971  Alton      6  0.000002
4991829     SC   M  1949  Alton     20  0.000006)
(('Alva', 'F'),         region sex  year  name  count     freq
5239346     TX   F  1925  Alva     22  0.00001)
(('Alvera', 'F'),         region sex  year    name  count      freq
4670292     PA   F  1916  Alvera      5  0.000003)
(('Alvin', 'M'),         region sex  year   name  count      freq
884411      CO   M  2007  Alvin      5  0.000001
1581761     IA   M  1917  Alvin     61  0.000033
1230495     FL   M  1988  Alvin     40  0.000012
2982341     MN   M  1946  Alvin     22  0.000007
5069937     SD   M  1972  Alvin      6  0.000002
4165827     NY   M  1967  Alvin     73  0.000023)
(('Alvina', 'F'),         region sex  year    name  count      freq
5248991     TX   F  1934  Alvina      7  0.000004)
(('Alyanna', 'F'),         region sex  year     name  count      freq
5415105     TX   F  2016  Alyanna     21  0.000007)
(('Alyce', 'F'),         region sex  year   name  count      freq
4717283     PA   F  1972  Alyce      5  0.000002)
(('Alyse', 'F'),       region sex  year   name  count      freq
87826     AL   F  2003  Alyse      5  0.000002)
(('Alysha', 'F'),         region sex  year    name  count      freq
1960109     IN   F  1984  Alysha      7  0.000002)
(('Alyshia', 'F'),         region sex  year     name  count      freq
2781036     MI   F  1990  Alyshia      5  0.000001)
(('Alyson', 'F'),         region sex  year    name  count      freq
4019002     NY   F  1975  Alyson     38  0.000014)
(('Alyssa', 'F'),         region sex  year    name  count      freq
1967736     IN   F  1994  Alyssa    260  0.000079
1003129     DC   F  1998  Alyssa     12  0.000004
2795863     MI   F  2002  Alyssa    456  0.000139
4502538     OK   F  1998  Alyssa    151  0.000046
6199236     WY   F  2002  Alyssa     20  0.000006)
(('Alyvia', 'F'),         region sex  year    name  count      freq
1367203     GA   F  2009  Alyvia      5  0.000002)
(('Alyza', 'F'),        region sex  year   name  count      freq
538555     CA   F  1999  Alyza      7  0.000002)
(('Amahia', 'F'),         region sex  year    name  count      freq
4118606     NY   F  2018  Amahia      5  0.000002)

(('Amalia', 'F'),        region sex  year    name  count      freq
572699     CA   F  2008  Amalia     32  0.000009)
(('Amanda', 'F'),         region sex  year    name  count      freq
3852428     NM   F  1997  Amanda     79  0.000025
1945399     IN   F  1965  Amanda     51  0.000015
5887415     WA   F  1975  Amanda    179  0.000065
5098154     TN   F  1945  Amanda     10  0.000004)
(('Amani', 'F'),        region sex  year   name  count      freq
938830     CT   F  2014  Amani     11  0.000003)
(('Amarah', 'F'),        region sex  year    name  count      freq
553543     CA   F  2003  Amarah      8  0.000002)
(('Amari', 'F'),         region sex  year   name  count      freq
3220988     MS   F  2013  Amari     22  0.000007)
(('Amariah', 'F'),        region sex  year     name  count      freq
549640     CA   F  2002  Amariah      8  0.000002
565407     CA   F  2006  Amariah     10  0.000003)
(('Amarion', 'M'),         region sex  year     name  count      freq
2416564     LA   M  2006  Amarion      8  0.000002)
(('Amaya', 'F'),         region sex  year   name  count      freq
4620781     OR   F  2014  Amaya     14  0.000004)
(('Amber', 'F'),         region sex  year   name  count      freq
4501198     OK   F  1996  Amber    111  0.000034
1953437     IN   F  1976  Amber    255  0.000093
5261330     TX   F  1946  Amber      7  0.000002
3079803     MO   F  2001  Amber    146  0.000044
6198856     WY   F  1998  Amber      6  0.000002
4355878     OH   F  2012  Amber     22  0.000007
5703850     VA   F  1959  Amber      8  0.000002)
(('Amberly', 'F'),         region sex  year     name  count      freq
4120073     NY   F  2019  Amberly     12  0.000004)
(('Ambika', 'F'),         region sex  year    name  count      freq
4068020     NY   F  1998  Ambika      6  0.000002)
(('Ambrosio', 'M'),         region sex  year      name  count      freq
5503745     TX   M  1980  Ambrosio      7  0.000002)
(('Ameer', 'M'),         region sex  year   name  count      freq
4453458     OH   M  2019  Ameer     15  0.000005
1458067     GA   M  2011  Ameer      9  0.000003)
(('Ameerah', 'F'),         region sex  year     name  count      freq
4110498     NY   F  2015  Ameerah      8  0.000003)
(('Amelia', 'F'),         region sex  year    name  count      freq
4921066     SC   F  1932  Amelia     11  0.000006
32876       AL   F  1917  Amelia      8  0.000004
2322392     LA   F  1980  Amelia     15  0.000005
6027848     WI   F  1989  Amelia     20  0.000006)
(('Amelie', 'F'),        region sex  year    name  count      freq
838660     CO   F  2013  Amelie     11  0.000004)
(('Amethyst', 'F'),         region sex  year      name  count      freq
5393692     TX   F  2010  Amethyst     10  0.000003)
(('Amiah', 'F'),         region sex  year   name  count      freq
1174658     FL   F  2014  Amiah     16  0.000005)
(('Amie', 'F'),         region sex  year  name  count      freq
2681446     ME   F  1972  Amie      5  0.000002
3170397     MS   F  1923  Amie      5  0.000002)
(('Amiee', 'F'),         region sex  year   name  count      freq
5343803     TX   F  1994  Amiee      5  0.000002)
(('Amilia', 'F'),         region sex  year    name  count      freq
4363427     OH   F  2016  Amilia      6  0.000002)
(('Amina', 'F'),         region sex  year   name  count      freq
6051939     WI   F  2017  Amina     21  0.000007)
(('Aminah', 'F'),         region sex  year    name  count      freq
6053315     WI   F  2018  Aminah      7  0.000002)
(('Amir', 'M'),         region sex  year  name  count      freq
662509      CA   M  1966  Amir      5  0.000002
4658083     OR   M  2008  Amir      6  0.000002)
(('Amira', 'F'),         region sex  year   name  count      freq
1355657     GA   F  2003  Amira     14  0.000004
3747571     NJ   F  2015  Amira     15  0.000005)
(('Amity', 'F'),         region sex  year   name  count      freq
1956383     IN   F  1979  Amity      5  0.000002)
(('Amiya', 'F'),         region sex  year   name  count      freq
5918640     WA   F  2009  Amiya     12  0.000004
6040792     WI   F  2005  Amiya      5  0.000001)
(('Amoni', 'F'),         region sex  year   name  count      freq
5751683     VA   F  2012  Amoni      5  0.000002)
(('Amora', 'F'),         region sex  year   name  count      freq
4095239     NY   F  2009  Amora      7  0.000002)
(('Amos', 'M'),         region sex  year  name  count      freq
666107      CA   M  1969  Amos      6  0.000002
2628562     MD   M  1959  Amos      9  0.000002
4813316     PA   M  1961  Amos     20  0.000005
2264460     KY   M  2000  Amos      5  0.000001)
(('Amy', 'F'),         region sex  year name  count      freq
3571040     NE   F  1969  Amy    261  0.000080
6226246     PR   F  2017  Amy     14  0.000005
3030318     MO   F  1926  Amy     12  0.000006
...        ...  ..   ...  ...    ...       ...
3023667     MO   F  1914  Amy     13  0.000010
927654      CT   F  1995  Amy     59  0.000018
3748548     NJ   F  2016  Amy     67  0.000021

[8 rows x 6 columns])
(('Amyah', 'F'),        region sex  year   name  count      freq
614698     CA   F  2018  Amyah      6  0.000002)
(('An', 'M'),        region sex  year name  count      freq
709770     CA   M  1993   An      8  0.000002)
(('Ana', 'F'),         region sex  year name  count      freq
933408      CT   F  2005  Ana     12  0.000004
449612      CA   F  1969  Ana    241  0.000074
1099883     FL   F  1969  Ana     41  0.000013)
(('Ana', 'M'),        region sex  year name  count      freq
692953     CA   M  1986  Ana      9  0.000003)
(('Anabel', 'F'),         region sex  year    name  count      freq
3408858     NC   F  2011  Anabel      8  0.000003
1762670     IL   F  1991  Anabel     23  0.000007)
(('Anabelle', 'F'),         region sex  year      name  count      freq
2806556     MI   F  2009  Anabelle     16  0.000005)
(('Analisa', 'F'),        region sex  year     name  count      freq
519401     CA   F  1994  Analisa     22  0.000007)
(('Anastacia', 'F'),         region sex  year       name  count      freq
5250032     TX   F  1935  Anastacia      6  0.000003)
(('Anastasia', 'F'),         region sex  year       name  count      freq
5622566     UT   F  2003  Anastasia     16  0.000005
1562215     IA   F  1991  Anastasia      7  0.000002)
(('Anay', 'F'),        region sex  year  name  count      freq
554116     CA   F  2003  Anay      6  0.000002)
(('Anaya', 'F'),         region sex  year   name  count      freq
2352710     LA   F  2014  Anaya      8  0.000003
619425      CA   F  2020  Anaya    122  0.000044
2110041     KS   F  2016  Anaya      5  0.000002
2611461     MD   F  2017  Anaya     24  0.000008
1790943     IL   F  2007  Anaya     42  0.000012)
(('Anayeli', 'F'),        region sex  year     name  count      freq
317530     AZ   F  2004  Anayeli      5  0.000002)
(('Andera', 'F'),        region sex  year    name  count      freq
513965     CA   F  1992  Andera      5  0.000001)
(('Anders', 'M'),         region sex  year    name  count      freq
4868704     PA   M  2019  Anders      6  0.000002
2533013     MA   M  1996  Anders      5  0.000002)
(('Andersen', 'M'),        region sex  year      name  count      freq
784194     CA   M  2020  Andersen      6  0.000002)
(('Andi', 'F'),         region sex  year  name  count      freq
5632163     UT   F  2014  Andi     10  0.000003)
(('Andie', 'F'),         region sex  year   name  count      freq
2803919     MI   F  2007  Andie      9  0.000003)
(('Andrae', 'M'),         region sex  year    name  count      freq
5005217     SC   M  1978  Andrae      8  0.000003)
(('Andre', 'M'),         region sex  year   name  count      freq
5582491     TX   M  2019  Andre    171  0.000059
2638682     MD   M  1984  Andre     63  0.000020)
(('Andrea', 'F'),         region sex  year    name  count      freq
3072829     MO   F  1993  Andrea    169  0.000050
2082719     KS   F  1967  Andrea     51  0.000016
1044966     DE   F  1975  Andrea     27  0.000010
...        ...  ..   ...     ...    ...       ...
3569023     NE   F  1963  Andrea     27  0.000007
4878206     RI   F  1954  Andrea     18  0.000005
5868657     WA   F  1939  Andrea     12  0.000006

[10 rows x 6 columns])
(('Andrei', 'M'),         region sex  year    name  count      freq
1909359     IL   M  2015  Andrei      6  0.000002)
(('Andres', 'M'),         region sex  year    name  count      freq
4563607     OK   M  2005  Andres     18  0.000005
166249      AL   M  2020  Andres     18  0.000006
2885341     MI   M  2005  Andres     25  0.000007)
(('Andrew', 'F'),        region sex  year    name  count      freq
485669     CA   F  1984  Andrew     17  0.000005)
(('Andrew', 'M'),         region sex  year    name  count      freq
944964      CT   M  1922  Andrew     73  0.000034
1602180     IA   M  1976  Andrew    274  0.000099
235230      AR   M  1941  Andrew     39  0.000017
...        ...  ..   ...     ...    ...       ...
1467004     GA   M  2018  Andrew    215  0.000073
5806597     VA   M  1997  Andrew    594  0.000186
1416385     GA   M  1966  Andrew    179  0.000055

[11 rows x 6 columns])
(('Andrey', 'M'),         region sex  year    name  count      freq
783272      CA   M  2020  Andrey     15  0.000005
732026      CA   M  2002  Andrey     11  0.000003
4655466     OR   M  2004  Andrey      6  0.000002)
(('Andria', 'F'),         region sex  year    name  count      freq
5719546     VA   F  1982  Andria      9  0.000003
4690043     PA   F  1944  Andria      6  0.000002)
(('Andy', 'M'),         region sex  year  name  count      freq
3128634     MO   M  1971  Andy     18  0.000006
3938564     NV   M  2000  Andy     22  0.000007
782277      CA   M  2020  Andy    175  0.000063
...        ...  ..   ...   ...    ...       ...
3948893     NV   M  2019  Andy     10  0.000003
2054582     IN   M  2015  Andy     12  0.000004
1819525     IL   M  1916  Andy     16  0.000009

[8 rows x 6 columns])
(('Anessa', 'F'),         region sex  year    name  count      freq
5348331     TX   F  1996  Anessa      8  0.000002)
(('Anette', 'F'),         region sex  year    name  count      freq
5285710     TX   F  1964  Anette      5  0.000001)
(('Angel', 'F'),         region sex  year   name  count      freq
2201686     KY   F  1992  Angel     35  0.000010
4957983     SC   F  1999  Angel     59  0.000018
3842219     NM   F  1973  Angel      9  0.000003
846139      CO   F  2020  Angel      8  0.000003
6037636     WI   F  2002  Angel     36  0.000011)
(('Angel', 'M'),         region sex  year   name  count      freq
2533790     MA   M  1998  Angel     84  0.000026
773436      CA   M  2017  Angel   1268  0.000419)
(('Angela', 'F'),         region sex  year    name  count      freq
1699        AK   F  1953  Angela      6  0.000002
4669131     PA   F  1915  Angela     81  0.000048
2965290     MN   F  2016  Angela     14  0.000004
1485227     HI   F  1970  Angela     37  0.000011
5839584     VT   F  1967  Angela     24  0.000008)
(('Angelena', 'F'),        region sex  year      name  count      freq
505038     CA   F  1990  Angelena     12  0.000003)
(('Angelic', 'F'),         region sex  year     name  count      freq
1740825     IL   F  1976  Angelic     10  0.000004)
(('Angelica', 'F'),         region sex  year      name  count      freq
3574111     NE   F  1977  Angelica      5  0.000002
831069      CO   F  2006  Angelica     32  0.000009
1326844     GA   F  1977  Angelica      7  0.000002
4727989     PA   F  1982  Angelica     15  0.000005
923378      CT   F  1987  Angelica     21  0.000006
2588059     MD   F  1992  Angelica     17  0.000005
543501      CA   F  2001  Angelica    646  0.000196)
(('Angelie', 'F'),         region sex  year     name  count      freq
5345884     TX   F  1995  Angelie      7  0.000002)
(('Angelina', 'F'),         region sex  year      name  count      freq
2936293     MN   F  1979  Angelina      6  0.000002
2614693     MD   F  2020  Angelina     18  0.000006
596308      CA   F  2014  Angelina    418  0.000132
1966599     IN   F  1992  Angelina      7  0.000002
3391829     NC   F  2000  Angelina     22  0.000007
3721423     NJ   F  1995  Angelina     34  0.000010
6024766     WI   F  1984  Angelina      8  0.000003)
(('Angelique', 'F'),         region sex  year       name  count      freq
1133680     FL   F  1995  Angelique     23  0.000007
5901825     WA   F  1993  Angelique      9  0.000003
2464145     MA   F  1980  Angelique     10  0.000003)
(('Angelisse', 'F'),         region sex  year       name  count      freq
6219741     PR   F  2003  Angelisse      5  0.000002)
(('Angelo', 'M'),         region sex  year    name  count      freq
4893938     RI   M  1916  Angelo     22  0.000012
2275396     KY   M  2017  Angelo      7  0.000002
5503380     TX   M  1980  Angelo     17  0.000005
3786357     NJ   M  1983  Angelo     38  0.000012
4151768     NY   M  1953  Angelo    156  0.000043)
(('Angie', 'F'),         region sex  year   name  count      freq
3294570     MT   F  1978  Angie      7  0.000002
5841041     VT   F  1976  Angie      5  0.000002
2941191     MN   F  1987  Angie      7  0.000002
4295275     OH   F  1966  Angie     74  0.000023
5883318     WA   F  1968  Angie     36  0.000011
3063190     MO   F  1980  Angie     15  0.000005)
(('Anglia', 'F'),         region sex  year    name  count      freq
1322858     GA   F  1972  Anglia      5  0.000002)
(('Anibal', 'M'),         region sex  year    name  count      freq
675320      CA   M  1976  Anibal     14  0.000005
2531267     MA   M  1993  Anibal      5  0.000001)
(('Anica', 'F'),        region sex  year   name  count      freq
587645     CA   F  2011  Anica      5  0.000002)
(('Anil', 'M'),        region sex  year  name  count      freq
702346     CA   M  1990  Anil      7  0.000002)
(('Anirudh', 'M'),         region sex  year     name  count      freq
2887001     MI   M  2006  Anirudh      7  0.000002
5552688     TX   M  2007  Anirudh      6  0.000002)
(('Anisha', 'F'),         region sex  year    name  count      freq
2605863     MD   F  2011  Anisha      5  0.000002)
(('Anissa', 'F'),         region sex  year    name  count      freq
1342238     GA   F  1993  Anissa     11  0.000003)
(('Anita', 'F'),         region sex  year   name  count      freq
2082721     KS   F  1967  Anita     50  0.000016
4598857     OR   F  1981  Anita     13  0.000004
6190888     WY   F  1946  Anita      8  0.000003
3628900     NH   F  1930  Anita     15  0.000007)
(('Aniyah', 'F'),         region sex  year    name  count      freq
4063145     NY   F  1996  Aniyah      8  0.000002)
(('Anjali', 'F'),         region sex  year    name  count      freq
5411808     TX   F  2015  Anjali     13  0.000004)
(('Anjelica', 'F'),         region sex  year      name  count      freq
1761421     IL   F  1990  Anjelica     10  0.000003)
(('Ann', 'F'),         region sex  year name  count      freq
999923      DC   F  1987  Ann      9  0.000003
1320563     GA   F  1970  Ann     86  0.000026
1683399     IL   F  1912  Ann    257  0.000289
1335688     GA   F  1987  Ann     14  0.000004
2295484     LA   F  1944  Ann    122  0.000048
3846485     NM   F  1983  Ann      5  0.000002
2158334     KY   F  1914  Ann     76  0.000059)
(('Anna', 'F'),         region sex  year  name  count      freq
2103678     KS   F  2008  Anna     82  0.000024
3906327     NV   F  1978  Anna     10  0.000003
3284678     MT   F  1937  Anna     20  0.000010
...        ...  ..   ...   ...    ...       ...
2736226     MI   F  1946  Anna     81  0.000027
5990069     WI   F  1913  Anna    130  0.000126
3053134     MO   F  1966  Anna     73  0.000022

[8 rows x 6 columns])
(('Annabel', 'F'),         region sex  year     name  count      freq
2480015     MA   F  2000  Annabel      7  0.000002
842983      CO   F  2017  Annabel      9  0.000003)
(('Annabella', 'F'),         region sex  year       name  count      freq
2214159     KY   F  2010  Annabella     34  0.000011)
(('Annabelle', 'F'),         region sex  year       name  count      freq
2438368     MA   F  1931  Annabelle      5  0.000003
604304      CA   F  2016  Annabelle    270  0.000087
5335701     TX   F  1991  Annabelle      9  0.000003
1977684     IN   F  2004  Annabelle     33  0.000010
2063768     KS   F  1920  Annabelle     10  0.000005
4913351     SC   F  1915  Annabelle      8  0.000005)
(('Annabeth', 'F'),         region sex  year      name  count      freq
5426371     TX   F  2019  Annabeth     15  0.000005)
(('Annaleah', 'F'),         region sex  year      name  count      freq
5411909     TX   F  2015  Annaleah     12  0.000004)

(('Annalie', 'F'),         region sex  year     name  count      freq
5419981     TX   F  2017  Annalie      8  0.000003)
(('Annaliese', 'F'),        region sex  year       name  count      freq
332968     AZ   F  2016  Annaliese      9  0.000003)
(('Annalise', 'F'),         region sex  year      name  count      freq
3085029     MO   F  2006  Annalise     14  0.000004)
(('Annalynn', 'F'),         region sex  year      name  count      freq
1989218     IN   F  2013  Annalynn      5  0.000002)
(('Annamae', 'F'),         region sex  year     name  count      freq
4687591     PA   F  1941  Annamae     12  0.000005)
(('Anne', 'F'),         region sex  year  name  count      freq
5147145     TN   F  2010  Anne     15  0.000005
2677266     ME   F  1958  Anne     37  0.000009
426375      CA   F  1956  Anne    366  0.000093
...        ...  ..   ...   ...    ...       ...
92646       AL   F  2009  Anne     19  0.000006
4255468     OH   F  1912  Anne    111  0.000125
1974614     IN   F  2001  Anne     22  0.000007

[8 rows x 6 columns])
(('Anneliese', 'F'),         region sex  year       name  count      freq
1803297     IL   F  2013  Anneliese     11  0.000004)
(('Annemarie', 'F'),         region sex  year       name  count      freq
2453727     MA   F  1964  Annemarie     42  0.000011)
(('Annetta', 'F'),        region sex  year     name  count      freq
411866     CA   F  1944  Annetta     10  0.000004)
(('Annette', 'F'),         region sex  year     name  count      freq
4686612     PA   F  1940  Annette    101  0.000047
6135821     WV   F  1976  Annette      9  0.000003
5992082     WI   F  1918  Annette     25  0.000012
...        ...  ..   ...      ...    ...       ...
3678184     NJ   F  1942  Annette     73  0.000028
2681900     ME   F  1974  Annette      7  0.000003
2186830     KY   F  1966  Annette     45  0.000014

[8 rows x 6 columns])
(('Annie', 'F'),         region sex  year   name  count      freq
979721      DC   F  1912  Annie     10  0.000011
2939080     MN   F  1984  Annie     25  0.000008
5995169     WI   F  1925  Annie      8  0.000004
...        ...  ..   ...    ...    ...       ...
2167080     KY   F  1930  Annie     77  0.000037
786185      CO   F  1917  Annie     17  0.000009
2777985     MI   F  1988  Annie     15  0.000004

[8 rows x 6 columns])
(('Annika', 'F'),         region sex  year    name  count      freq
3403872     NC   F  2008  Annika     10  0.000003
834218      CO   F  2009  Annika     31  0.000009)
(('Annmarie', 'F'),         region sex  year      name  count      freq
2772755     MI   F  1983  Annmarie      7  0.000002
4732679     PA   F  1986  Annmarie     12  0.000004)
(('Anselmo', 'M'),         region sex  year     name  count      freq
5458167     TX   M  1939  Anselmo     10  0.000005)
(('Ansh', 'M'),         region sex  year  name  count      freq
3814519     NJ   M  2013  Ansh     18  0.000006)
(('Ansley', 'F'),         region sex  year    name  count      freq
2213683     KY   F  2009  Ansley      9  0.000003)
(('Anslie', 'F'),         region sex  year    name  count      freq
1368640     GA   F  2010  Anslie      7  0.000002)
(('Anthony', 'F'),         region sex  year     name  count      freq
4729350     PA   F  1983  Anthony      8  0.000003)
(('Anthony', 'M'),         region sex  year     name  count      freq
767578      CA   M  2015  Anthony   1776  0.000563
131560      AL   M  1965  Anthony    412  0.000120
3308589     MT   M  1938  Anthony      7  0.000003
...        ...  ..   ...      ...    ...       ...
3940227     NV   M  2004  Anthony    252  0.000076
348342      AZ   M  1957  Anthony    112  0.000028
3757765     NJ   M  1920  Anthony    504  0.000240

[8 rows x 6 columns])
(('Antionette', 'F'),         region sex  year        name  count      freq
4731919     PA   F  1985  Antionette      5  0.000002)
(('Antoine', 'M'),         region sex  year     name  count      freq
3477998     NC   M  1998  Antoine     16  0.000005
135964      AL   M  1973  Antoine      5  0.000002
2138517     KS   M  1987  Antoine     10  0.000003)
(('Antoinette', 'F'),         region sex  year        name  count      freq
2671151     ME   F  1933  Antoinette      8  0.000004
1316068     GA   F  1964  Antoinette     20  0.000005
3708820     NJ   F  1983  Antoinette     32  0.000010
3025231     MO   F  1917  Antoinette     14  0.000008)
(('Anton', 'M'),         region sex  year   name  count      freq
3160924     MO   M  2017  Anton      5  0.000002
2049965     IN   M  2010  Anton      5  0.000002)
(('Antonette', 'F'),         region sex  year       name  count      freq
1740945     IL   F  1976  Antonette      8  0.000003)
(('Antonia', 'F'),        region sex  year     name  count      freq
274770     AZ   F  1931  Antonia      9  0.000005)
(('Antonietta', 'F'),        region sex  year        name  count      freq
481493     CA   F  1982  Antonietta      5  0.000002)
(('Antonio', 'F'),         region sex  year     name  count      freq
4052089     NY   F  1991  Antonio      5  0.000001)
(('Antonio', 'M'),         region sex  year     name  count      freq
881425      CO   M  2004  Antonio     79  0.000024
623648      CA   M  1914  Antonio     21  0.000016
850874      CO   M  1930  Antonio     11  0.000005
4816591     PA   M  1966  Antonio     39  0.000012
2259443     KY   M  1990  Antonio     35  0.000010)
(('Antony', 'M'),         region sex  year    name  count      freq
3809029     NJ   M  2008  Antony     12  0.000004
1889583     IL   M  2002  Antony      6  0.000002)
(('Antwone', 'M'),         region sex  year     name  count      freq
2884864     MI   M  2004  Antwone      5  0.000002)
(('Anushka', 'F'),         region sex  year     name  count      freq
4080361     NY   F  2003  Anushka      5  0.000002)
(('Anwar', 'M'),         region sex  year   name  count      freq
5515474     TX   M  1988  Anwar      6  0.000002)
(('Anyla', 'F'),         region sex  year   name  count      freq
4115073     NY   F  2017  Anyla     13  0.000004
4963666     SC   F  2006  Anyla      6  0.000002)
(('Apollo', 'M'),         region sex  year    name  count      freq
4665081     OR   M  2018  Apollo      5  0.000002)
(('April', 'F'),         region sex  year   name  count      freq
1636099     ID   F  1970  April     18  0.000005
2472082     MA   F  1991  April     37  0.000011
74241       AL   F  1985  April    222  0.000068
...        ...  ..   ...    ...    ...       ...
1637387     ID   F  1975  April     32  0.000012
1102638     FL   F  1972  April    236  0.000082
2738560     MI   F  1949  April     32  0.000010

[11 rows x 6 columns])
(('Arabella', 'F'),         region sex  year      name  count      freq
4354055     OH   F  2011  Arabella     39  0.000013)
(('Araceli', 'F'),         region sex  year     name  count      freq
4604345     OR   F  1991  Araceli      9  0.000003)
(('Araya', 'F'),         region sex  year   name  count      freq
1175354     FL   F  2014  Araya      7  0.000002)
(('Arcelia', 'F'),        region sex  year     name  count      freq
454871     CA   F  1971  Arcelia     11  0.000003)
(('Archer', 'M'),         region sex  year    name  count      freq
5827287     VA   M  2017  Archer     33  0.000011
3897364     NM   M  2014  Archer      6  0.000002)
(('Archie', 'M'),         region sex  year    name  count      freq
851859      CO   M  1934  Archie      8  0.000004
5003907     SC   M  1975  Archie      5  0.000002
5797423     VA   M  1983  Archie      6  0.000002
3308775     MT   M  1939  Archie      6  0.000003
2839137     MI   M  1945  Archie     13  0.000005)
(('Arden', 'F'),         region sex  year   name  count      freq
3405565     NC   F  2009  Arden      9  0.000003)
(('Ardis', 'F'),        region sex  year   name  count      freq
412164     CA   F  1944  Ardis      5  0.000002)
(('Arely', 'F'),        region sex  year   name  count      freq
540111     CA   F  2000  Arely     90  0.000027)
(('Aren', 'M'),        region sex  year  name  count      freq
771465     CA   M  2016  Aren     23  0.000007)
(('Aretha', 'F'),         region sex  year    name  count      freq
5107269     TN   F  1960  Aretha      5  0.000001
3199569     MS   F  1976  Aretha      6  0.000002)
(('Ari', 'M'),        region sex  year name  count      freq
160018     AL   M  2012  Ari      8  0.000003
889928     CO   M  2014  Ari     22  0.000007)
(('Aria', 'F'),         region sex  year  name  count      freq
1796968     IL   F  2010  Aria     36  0.000011
1771693     IL   F  1996  Aria      8  0.000002
5741592     VA   F  2005  Aria     12  0.000004
5424887     TX   F  2019  Aria    734  0.000252)
(('Ariah', 'F'),         region sex  year   name  count      freq
5403420     TX   F  2013  Ariah     37  0.000012)
(('Arian', 'F'),        region sex  year   name  count      freq
535651     CA   F  1998  Arian      5  0.000002)
(('Arian', 'M'),         region sex  year   name  count      freq
5549262     TX   M  2006  Arian     17  0.000005)
(('Ariana', 'F'),         region sex  year    name  count      freq
209436      AR   F  2000  Ariana     11  0.000003
1806169     IL   F  2015  Ariana    225  0.000071
1372738     GA   F  2013  Ariana    123  0.000040)
(('Ariane', 'F'),         region sex  year    name  count      freq
441515      CA   F  1964  Ariane      6  0.000002
2815920     MI   F  2015  Ariane      6  0.000002)
(('Arianna', 'F'),         region sex  year     name  count      freq
6224656     PR   F  2013  Arianna     57  0.000018
5897347     WA   F  1988  Arianna      8  0.000002
6051822     WI   F  2017  Arianna     38  0.000013
3916863     NV   F  2006  Arianna     39  0.000011)
(('Arianne', 'F'),         region sex  year     name  count      freq
1114553     FL   F  1982  Arianne      6  0.000002)
(('Aribella', 'F'),        region sex  year      name  count      freq
598582     CA   F  2014  Aribella      9  0.000003)
(('Ariel', 'F'),         region sex  year   name  count      freq
1136738     FL   F  1997  Ariel    133  0.000042
1986075     IN   F  2011  Ariel     23  0.000007
4344085     OH   F  2005  Ariel     43  0.000013
5892566     WA   F  1982  Ariel     15  0.000005)
(('Ariel', 'M'),         region sex  year   name  count      freq
1908913     IL   M  2015  Ariel     12  0.000004)
(('Ariela', 'F'),         region sex  year    name  count      freq
1363368     GA   F  2007  Ariela      6  0.000002)
(('Ariella', 'F'),         region sex  year     name  count      freq
5753638     VA   F  2014  Ariella     19  0.000006
3923552     NV   F  2016  Ariella     13  0.000004
2693720     ME   F  2020  Ariella      6  0.000002)
(('Arielle', 'F'),         region sex  year     name  count      freq
222588      AR   F  2020  Arielle      5  0.000002
2487443     MA   F  2008  Arielle      8  0.000002)
(('Arilyn', 'F'),         region sex  year    name  count      freq
5405210     TX   F  2013  Arilyn      7  0.000002)
(('Ariyah', 'F'),         region sex  year    name  count      freq
5761818     VA   F  2020  Ariyah     26  0.000009
5366541     TX   F  2002  Ariyah      5  0.000002)
(('Arlen', 'M'),         region sex  year   name  count      freq
1590109     IA   M  1941  Arlen      9  0.000004
4532587     OK   M  1936  Arlen      5  0.000003)
(('Arlene', 'F'),         region sex  year    name  count      freq
436603      CA   F  1962  Arlene    150  0.000039
175053      AR   F  1927  Arlene     17  0.000008
1945534     IN   F  1965  Arlene     19  0.000006)
(('Arlett', 'F'),         region sex  year    name  count      freq
5391220     TX   F  2009  Arlett      5  0.000002)
(('Arlie', 'M'),         region sex  year   name  count      freq
2236076     KY   M  1937  Arlie      8  0.000004
227765      AR   M  1923  Arlie     12  0.000006)
(('Arlyn', 'F'),         region sex  year   name  count      freq
5372377     TX   F  2004  Arlyn      8  0.000002)
(('Arlyne', 'F'),        region sex  year    name  count      freq
550593     CA   F  2002  Arlyne      5  0.000002)
(('Armand', 'M'),         region sex  year    name  count      freq
4812116     PA   M  1959  Armand      8  0.000002
2500450     MA   M  1914  Armand     64  0.000049)
(('Armani', 'F'),         region sex  year    name  count      freq
4071548     NY   F  2000  Armani     28  0.000008)
(('Armin', 'M'),         region sex  year   name  count      freq
6063702     WI   M  1934  Armin      6  0.000003)
(('Armonie', 'F'),         region sex  year     name  count      freq
1166438     FL   F  2010  Armonie      5  0.000002)
(('Arnaldo', 'M'),         region sex  year     name  count      freq
5492695     TX   M  1971  Arnaldo      6  0.000002)
(('Arnav', 'M'),         region sex  year   name  count      freq
2894325     MI   M  2012  Arnav      7  0.000002)
(('Arne', 'M'),         region sex  year  name  count      freq
6060938     WI   M  1926  Arne      5  0.000002)
(('Arnold', 'M'),         region sex  year    name  count      freq
2835096     MI   M  1937  Arnold     95  0.000048
2510653     MA   M  1944  Arnold     36  0.000014
345003      AZ   M  1946  Arnold     13  0.000004
4990472     SC   M  1946  Arnold     19  0.000006
3129772     MO   M  1973  Arnold      9  0.000003
945855      CT   M  1926  Arnold     26  0.000012
3305922     MT   M  1921  Arnold     12  0.000006)
(('Arnulfo', 'M'),         region sex  year     name  count      freq
5544345     TX   M  2004  Arnulfo     24  0.000007)
(('Arriana', 'F'),         region sex  year     name  count      freq
4072615     NY   F  2000  Arriana      7  0.000002)
(('Artavius', 'M'),         region sex  year      name  count      freq
1436038     GA   M  1993  Artavius      5  0.000001)
(('Arther', 'M'),         region sex  year    name  count      freq
2361258     LA   M  1916  Arther      6  0.000003)
(('Arthur', 'M'),         region sex  year    name  count      freq
6096548     WI   M  2006  Arthur     11  0.000003
3927590     NV   M  1943  Arthur      8  0.000003
2640715     MD   M  1988  Arthur     16  0.000005
...        ...  ..   ...     ...    ...       ...
254665      AR   M  1991  Arthur     16  0.000005
158505      AL   M  2010  Arthur      7  0.000002
4437156     OH   M  2007  Arthur     16  0.000005

[11 rows x 6 columns])
(('Artie', 'M'),         region sex  year   name  count      freq
4156001     NY   M  1957  Artie      7  0.000002)
(('Arturo', 'M'),         region sex  year    name  count      freq
4162911     NY   M  1964  Arturo     18  0.000005
383015      AZ   M  2013  Arturo     23  0.000007)
(('Arvid', 'M'),         region sex  year   name  count      freq
6057194     WI   M  1916  Arvid      6  0.000003)
(('Arvilla', 'F'),         region sex  year     name  count      freq
5990569     WI   F  1914  Arvilla      9  0.000007)
(('Arya', 'M'),         region sex  year  name  count      freq
5576586     TX   M  2016  Arya      5  0.000002)
(('Aryanna', 'F'),         region sex  year     name  count      freq
1988679     IN   F  2013  Aryanna     13  0.000004
1378964     GA   F  2016  Aryanna      8  0.000003
1159991     FL   F  2008  Aryanna     44  0.000013
826493      CO   F  2001  Aryanna      9  0.000003)
(('Asa', 'M'),         region sex  year name  count      freq
1620938     IA   M  2017  Asa      8  0.000003
1819109     IL   M  1915  Asa      7  0.000004)
(('Asha', 'F'),         region sex  year  name  count      freq
2956874     MN   F  2007  Asha      5  0.000001)
(('Ashanti', 'F'),         region sex  year     name  count      freq
4957626     SC   F  1998  Ashanti      9  0.000003)

(('Asher', 'M'),         region sex  year   name  count      freq
3947511     NV   M  2017  Asher     44  0.000015
706574      CA   M  1992  Asher     17  0.000005)
(('Ashlea', 'F'),         region sex  year    name  count      freq
4061394     NY   F  1995  Ashlea      5  0.000002)
(('Ashlee', 'F'),         region sex  year    name  count      freq
2336074     LA   F  1996  Ashlee     22  0.000007
1747943     IL   F  1981  Ashlee     15  0.000005)
(('Ashleigh', 'F'),         region sex  year      name  count      freq
3089763     MO   F  2010  Ashleigh      7  0.000002
2582291     MD   F  1984  Ashleigh     20  0.000006
4612391     OR   F  2003  Ashleigh      9  0.000003)
(('Ashley', 'F'),         region sex  year    name  count      freq
6198288     WY   F  1994  Ashley     57  0.000017
1374466     GA   F  2014  Ashley     92  0.000029
6029055     WI   F  1991  Ashley    827  0.000236
611890      CA   F  2018  Ashley    358  0.000121
1000585     DC   F  1990  Ashley    158  0.000044
1995840     IN   F  2019  Ashley     22  0.000008)
(('Ashley', 'M'),         region sex  year    name  count      freq
654213      CA   M  1959  Ashley      7  0.000002
5795531     VA   M  1980  Ashley     26  0.000008)
(('Ashlie', 'F'),         region sex  year    name  count      freq
4496461     OK   F  1988  Ashlie     16  0.000005
3376484     NC   F  1985  Ashlie     15  0.000005)
(('Ashlin', 'F'),         region sex  year    name  count      freq
4756050     PA   F  2003  Ashlin      5  0.000002)
(('Ashly', 'F'),         region sex  year   name  count      freq
1748613     IL   F  1981  Ashly      5  0.000002)
(('Ashlyn', 'F'),         region sex  year    name  count      freq
10701       AK   F  2000  Ashlyn      5  0.000001
4051397     NY   F  1991  Ashlyn      9  0.000003)
(('Ashlynn', 'F'),         region sex  year     name  count      freq
3926356     NV   F  2020  Ashlynn      6  0.000002
2111934     KS   F  2019  Ashlynn      7  0.000002
2486339     MA   F  2007  Ashlynn     11  0.000003)
(('Ashtin', 'M'),         region sex  year    name  count      freq
4436353     OH   M  2006  Ashtin      6  0.000002)
(('Ashton', 'F'),         region sex  year    name  count      freq
815061      CO   F  1986  Ashton     11  0.000003
212301      AR   F  2005  Ashton     14  0.000004
4495820     OK   F  1987  Ashton     26  0.000008)
(('Ashton', 'M'),         region sex  year    name  count      freq
4910253     RI   M  2015  Ashton      5  0.000002
708691      CA   M  1993  Ashton     52  0.000015)
(('Asia', 'F'),         region sex  year  name  count      freq
1753504     IL   F  1985  Asia     24  0.000007
6036985     WI   F  2001  Asia     14  0.000004
2770561     MI   F  1981  Asia      8  0.000003)
(('Aspen', 'F'),         region sex  year   name  count      freq
1808845     IL   F  2016  Aspen     13  0.000004)
(('Atarah', 'F'),         region sex  year    name  count      freq
1186857     FL   F  2019  Atarah     12  0.000004)
(('Athena', 'F'),         region sex  year    name  count      freq
3910163     NV   F  1992  Athena      6  0.000002
5317462     TX   F  1983  Athena     19  0.000006)
(('Atlas', 'M'),         region sex  year   name  count      freq
2895635     MI   M  2013  Atlas      6  0.000002)
(('Aubree', 'F'),         region sex  year    name  count      freq
2343891     LA   F  2005  Aubree     11  0.000003)
(('Aubrey', 'F'),         region sex  year    name  count     freq
1052950     DE   F  2016  Aubrey     30  0.00001)
(('Aubrey', 'M'),         region sex  year    name  count      freq
1431300     GA   M  1988  Aubrey      9  0.000003
651738      CA   M  1957  Aubrey     20  0.000005
5961196     WA   M  1989  Aubrey      6  0.000002
5214640     TN   M  2010  Aubrey      5  0.000002
106196      AL   M  1917  Aubrey     28  0.000015)
(('Aubriana', 'F'),         region sex  year      name  count      freq
3090886     MO   F  2011  Aubriana      7  0.000002)
(('Aubrianna', 'F'),         region sex  year       name  count      freq
4337273     OH   F  2000  Aubrianna      7  0.000002)
(('Aubrie', 'F'),        region sex  year    name  count      freq
319663     AZ   F  2006  Aubrie     12  0.000004)
(('Aubriella', 'F'),         region sex  year       name  count      freq
5762331     VA   F  2020  Aubriella      8  0.000003
3749632     NJ   F  2016  Aubriella      5  0.000002)
(('Aubrielle', 'F'),         region sex  year       name  count      freq
1805165     IL   F  2014  Aubrielle     12  0.000004)
(('Audra', 'F'),         region sex  year   name  count      freq
1642283     ID   F  1991  Audra      6  0.000002
3194942     MS   F  1968  Audra      7  0.000002
3708220     NJ   F  1982  Audra      9  0.000003)
(('Audrey', 'F'),         region sex  year    name  count      freq
1323192     GA   F  1973  Audrey     32  0.000012
11001       AK   F  2002  Audrey     13  0.000004
4732325     PA   F  1986  Audrey     40  0.000012
936254      CT   F  2010  Audrey     38  0.000012
210973      AR   F  2003  Audrey     31  0.000009
4576764     OR   F  1917  Audrey      9  0.000005)
(('Audriana', 'F'),         region sex  year      name  count      freq
2817433     MI   F  2016  Audriana      6  0.000002
4768125     PA   F  2011  Audriana     11  0.000004)
(('Audrianna', 'F'),         region sex  year       name  count      freq
1803536     IL   F  2013  Audrianna      8  0.000003
3094404     MO   F  2014  Audrianna      5  0.000002
520548      CA   F  1994  Audrianna      8  0.000002)
(('August', 'F'),         region sex  year    name  count      freq
5310271     TX   F  1979  August      5  0.000002)
(('August', 'M'),         region sex  year    name  count      freq
3594894     NE   M  1921  August      9  0.000004
946534      CT   M  1929  August     11  0.000005
2378337     LA   M  1951  August     10  0.000003)
(('Augusta', 'F'),         region sex  year     name  count      freq
2292071     LA   F  1937  Augusta      5  0.000003)
(('Augustus', 'M'),         region sex  year      name  count      freq
4807982     PA   M  1953  Augustus     11  0.000003)
(('Aundre', 'M'),         region sex  year    name  count      freq
1216510     FL   M  1971  Aundre      5  0.000002)
(('Auria', 'F'),         region sex  year   name  count      freq
1185428     FL   F  2018  Auria      5  0.000002)
(('Aurora', 'F'),         region sex  year    name  count      freq
5056989     SD   F  2019  Aurora     16  0.000005
1362609     GA   F  2007  Aurora     16  0.000005)
(('Austen', 'M'),         region sex  year    name  count      freq
3147145     MO   M  2002  Austen      7  0.000002)
(('Austin', 'M'),         region sex  year    name  count      freq
3938002     NV   M  1999  Austin    138  0.000042
2694696     ME   M  1916  Austin      7  0.000004
2853607     MI   M  1968  Austin     11  0.000003
...        ...  ..   ...     ...    ...       ...
5969294     WA   M  2001  Austin    324  0.000098
236711      AR   M  1944  Austin      5  0.000002
5796053     VA   M  1981  Austin     33  0.000010

[8 rows x 6 columns])
(('Auston', 'M'),         region sex  year    name  count      freq
4440435     OH   M  2009  Auston      5  0.000002)
(('Austyn', 'F'),         region sex  year    name  count      freq
5365960     TX   F  2002  Austyn      7  0.000002
3410480     NC   F  2012  Austyn      8  0.000003)
(('Author', 'M'),         region sex  year    name  count      freq
5468543     TX   M  1949  Author      5  0.000002
3444388     NC   M  1946  Author      5  0.000002)
(('Autumn', 'F'),         region sex  year    name  count      freq
2944929     MN   F  1993  Autumn     40  0.000012
92466       AL   F  2009  Autumn     66  0.000020
3389018     NC   F  1998  Autumn    180  0.000055
5126380     TN   F  1989  Autumn     52  0.000015)
(('Ava', 'F'),         region sex  year name  count      freq
2280172     LA   F  1915  Ava      6  0.000004
3224784     MS   F  2019  Ava    228  0.000078
5684693     VA   F  1921  Ava      5  0.000002
2348242     LA   F  2010  Ava    299  0.000095)
(('Avah', 'F'),         region sex  year  name  count      freq
6050350     WI   F  2015  Avah      8  0.000003)
(('Aveah', 'F'),         region sex  year   name  count      freq
2817606     MI   F  2016  Aveah      5  0.000002)
(('Averie', 'F'),         region sex  year    name  count      freq
6036519     WI   F  2000  Averie      5  0.000001)
(('Avery', 'F'),         region sex  year   name  count      freq
5316084     TX   F  1982  Avery      7  0.000002
1573188     IA   F  2011  Avery    115  0.000037
3859975     NM   F  2012  Avery     35  0.000011
2587610     MD   F  1991  Avery      6  0.000002
3862802     NM   F  2018  Avery     42  0.000014)
(('Avery', 'M'),         region sex  year   name  count      freq
1900782     IL   M  2010  Avery     48  0.000015
3270882     MS   M  2006  Avery     19  0.000006
3106318     MO   M  1922  Avery      5  0.000002
5569047     TX   M  2014  Avery    139  0.000044)
(('Avian', 'M'),         region sex  year   name  count      freq
4665085     OR   M  2018  Avian      5  0.000002)
(('Avigail', 'F'),         region sex  year     name  count      freq
4065711     NY   F  1997  Avigail      6  0.000002)
(('Avis', 'F'),         region sex  year  name  count      freq
2068491     KS   F  1932  Avis      7  0.000004
5083230     TN   F  1916  Avis      8  0.000004
176166      AR   F  1929  Avis      8  0.000004)
(('Axton', 'M'),         region sex  year   name  count      freq
5983254     WA   M  2015  Axton     17  0.000005)
(('Aya', 'F'),         region sex  year name  count      freq
2499257     MA   F  2020  Aya      6  0.000002)
(('Ayaan', 'M'),         region sex  year   name  count      freq
5822885     VA   M  2013  Ayaan     19  0.000006
978305      CT   M  2018  Ayaan      8  0.000003)
(('Ayanna', 'F'),         region sex  year    name  count      freq
3853262     NM   F  1998  Ayanna      5  0.000002)
(('Ayari', 'F'),        region sex  year   name  count      freq
565582     CA   F  2006  Ayari      9  0.000003)
(('Ayat', 'F'),         region sex  year  name  count      freq
2811727     MI   F  2012  Ayat      5  0.000002)
(('Aydan', 'M'),         region sex  year   name  count      freq
1252081     FL   M  2004  Aydan     17  0.000005)
(('Ayden', 'M'),         region sex  year   name  count      freq
5077007     SD   M  2008  Ayden     23  0.000007
1677269     ID   M  2009  Ayden     28  0.000009)
(('Ayelen', 'F'),        region sex  year    name  count      freq
586113     CA   F  2011  Ayelen     12  0.000004)
(('Ayla', 'F'),         region sex  year  name  count      freq
4743502     PA   F  1994  Ayla      6  0.000002
3396225     NC   F  2003  Ayla     10  0.000003
4330002     OH   F  1995  Ayla     12  0.000004)
(('Ayleen', 'F'),         region sex  year    name  count      freq
3734479     NJ   F  2005  Ayleen      5  0.000001
4109662     NY   F  2015  Ayleen     21  0.000007)
(('Aysha', 'F'),         region sex  year   name  count      freq
4736908     PA   F  1989  Aysha      5  0.000001)
(('Azalea', 'F'),         region sex  year    name  count      freq
1168051     FL   F  2011  Azalea      9  0.000003
103121      AL   F  2020  Azalea      8  0.000003)
(('Azariah', 'F'),         region sex  year     name  count      freq
3421514     NC   F  2019  Azariah     11  0.000004)
(('Azekiel', 'M'),         region sex  year     name  count      freq
5579007     TX   M  2017  Azekiel      6  0.000002)
(('Azriel', 'M'),         region sex  year    name  count      freq
4868518     PA   M  2019  Azriel      8  0.000003)
(('Babette', 'F'),         region sex  year     name  count      freq
3993278     NY   F  1959  Babette     13  0.000003)
(('Babyboy', 'M'),        region sex  year     name  count      freq
963075     CT   M  1986  Babyboy      6  0.000002)
(('Baila', 'F'),         region sex  year   name  count      freq
4086012     NY   F  2006  Baila     50  0.000015)
(('Bailey', 'F'),         region sex  year    name  count      freq
5929648     WA   F  2018  Bailey     41  0.000014
5630956     UT   F  2013  Bailey     60  0.000019
2949146     MN   F  1999  Bailey    111  0.000034
204096      AR   F  1989  Bailey     11  0.000003
6045946     WI   F  2011  Bailey     48  0.000015)
(('Baker', 'M'),         region sex  year   name  count      freq
2550226     MA   M  2019  Baker      7  0.000002)
(('Baldomero', 'M'),         region sex  year       name  count      freq
5466036     TX   M  1947  Baldomero     12  0.000004)
(('Baleigh', 'F'),         region sex  year     name  count      freq
4336076     OH   F  1999  Baleigh      5  0.000002)
(('Baltazar', 'M'),         region sex  year      name  count      freq
5471551     TX   M  1952  Baltazar      9  0.000002)
(('Barbara', 'F'),         region sex  year     name  count      freq
5270238     TX   F  1954  Barbara   1445  0.000381
4950011     SC   F  1986  Barbara     18  0.000006
3296316     MT   F  1985  Barbara      7  0.000002
1354043     GA   F  2002  Barbara     14  0.000004
5590856     UT   F  1926  Barbara    121  0.000057
2089044     KS   F  1981  Barbara     24  0.000008
77778       AL   F  1990  Barbara     15  0.000004)
(('Barbara', 'M'),        region sex  year     name  count      freq
629725     CA   M  1926  Barbara      7  0.000003)
(('Barbra', 'F'),         region sex  year    name  count      freq
6015745     WI   F  1969  Barbra     10  0.000003
5883662     WA   F  1968  Barbra      6  0.000002
179631      AR   F  1936  Barbra      6  0.000003
4475475     OK   F  1949  Barbra      6  0.000002)
(('Barney', 'M'),         region sex  year    name  count      freq
4984404     SC   M  1931  Barney      8  0.000004
5174168     TN   M  1941  Barney      5  0.000002
2229525     KY   M  1924  Barney      8  0.000004)
(('Barry', 'M'),         region sex  year   name  count      freq
2256604     KY   M  1983  Barry     27  0.000009
6068191     WI   M  1948  Barry     52  0.000016
3137607     MO   M  1988  Barry     13  0.000004)
(('Bartholomew', 'M'),         region sex  year         name  count      freq
2028771     IN   M  1981  Bartholomew      5  0.000002
4787713     PA   M  1918  Bartholomew      6  0.000003)
(('Barton', 'M'),         region sex  year    name  count      freq
3766863     NJ   M  1947  Barton      5  0.000001
650642      CA   M  1956  Barton     25  0.000006)
(('Baruch', 'M'),         region sex  year    name  count      freq
4160130     NY   M  1961  Baruch      6  0.000002)
(('Basil', 'M'),         region sex  year   name  count      freq
4527795     OK   M  1925  Basil      7  0.000003)
(('Batsheva', 'F'),         region sex  year      name  count      freq
3731588     NJ   F  2003  Batsheva      7  0.000002)
(('Baylee', 'F'),         region sex  year    name  count      freq
1806709     IL   F  2015  Baylee     20  0.000006)
(('Bayleigh', 'F'),         region sex  year      name  count      freq
1981843     IN   F  2007  Bayleigh      6  0.000002)
(('Baylie', 'F'),         region sex  year    name  count      freq
1776956     IL   F  1999  Baylie      7  0.000002)
(('Beatrice', 'F'),         region sex  year      name  count      freq
3668584     NJ   F  1918  Beatrice    186  0.000092
2481900     MA   F  2002  Beatrice      6  0.000002
2429623     MA   F  1910  Beatrice    114  0.000221
...        ...  ..   ...       ...    ...       ...
1477654     HI   F  1944  Beatrice      7  0.000003
5630768     UT   F  2012  Beatrice      5  0.000002
2430460     MA   F  1913  Beatrice    171  0.000166

[8 rows x 6 columns])
(('Beau', 'M'),         region sex  year  name  count      freq
1668661     ID   M  1982  Beau     11  0.000003)
(('Beauford', 'M'),         region sex  year      name  count      freq
5437068     TX   M  1917  Beauford      5  0.000003)
(('Beaulah', 'F'),         region sex  year     name  count      freq
6114500     WV   F  1924  Beaulah      5  0.000002)
(('Beckett', 'M'),         region sex  year     name  count      freq
5574434     TX   M  2016  Beckett    165  0.000053
4866483     PA   M  2018  Beckett     50  0.000017)
(('Beckham', 'M'),         region sex  year     name  count      freq
1679233     ID   M  2013  Beckham      9  0.000003)
(('Belem', 'F'),        region sex  year   name  count      freq
595744     CA   F  2013  Belem      5  0.000002)
(('Belinda', 'F'),         region sex  year     name  count      freq
4722102     PA   F  1977  Belinda     24  0.000008
1709947     IL   F  1950  Belinda     58  0.000017
1755084     IL   F  1986  Belinda     16  0.000005
2177058     KY   F  1949  Belinda     47  0.000014
4055606     NY   F  1993  Belinda     17  0.000005
3184867     MS   F  1951  Belinda     42  0.000012
410777      CA   F  1943  Belinda     13  0.000005)
(('Bella', 'F'),         region sex  year   name  count      freq
3217054     MS   F  2007  Bella     14  0.000004)
(('Belle', 'F'),         region sex  year   name  count      freq
4362819     OH   F  2016  Belle     14  0.000004)

(('Belva', 'F'),         region sex  year   name  count      freq
3353534     NC   F  1955  Belva      6  0.000002)
(('Ben', 'M'),         region sex  year name  count      freq
849063      CO   M  1923  Ben     20  0.000009
1668985     ID   M  1983  Ben      6  0.000002
5061914     SD   M  1933  Ben      6  0.000003
...        ...  ..   ...  ...    ...       ...
2525499     MA   M  1982  Ben      7  0.000002
255223      AR   M  1992  Ben      6  0.000002
3866862     NM   M  1927  Ben     11  0.000005

[9 rows x 6 columns])
(('Benedict', 'M'),        region sex  year      name  count      freq
702352     CA   M  1990  Benedict      7  0.000002)
(('Benita', 'F'),         region sex  year    name  count      freq
6127505     WV   F  1955  Benita      8  0.000002
2573949     MD   F  1969  Benita      5  0.000002)
(('Benjamin', 'M'),         region sex  year      name  count      freq
25111       AK   M  2003  Benjamin     37  0.000011
6154797     WV   M  1921  Benjamin     33  0.000015
4894385     RI   M  1919  Benjamin      9  0.000005
...        ...  ..   ...       ...    ...       ...
2514631     MA   M  1956  Benjamin     45  0.000011
6071974     WI   M  1958  Benjamin     21  0.000005
1502000     HI   M  1923  Benjamin     19  0.000009

[10 rows x 6 columns])
(('Benjiman', 'M'),         region sex  year      name  count      freq
1391474     GA   M  1920  Benjiman      8  0.000004)
(('Bennett', 'M'),         region sex  year     name  count      freq
1615280     IA   M  2008  Bennett     19  0.000006
3797164     NJ   M  1996  Bennett      5  0.000002
3493669     NC   M  2012  Bennett     62  0.000020)
(('Bennie', 'F'),         region sex  year    name  count      freq
417751      CA   F  1949  Bennie      8  0.000002
4929744     SC   F  1950  Bennie      7  0.000002)
(('Bennie', 'M'),         region sex  year    name  count      freq
2500020     MA   M  1912  Bennie      7  0.000008
3472135     NC   M  1991  Bennie      7  0.000002
4544954     OK   M  1967  Bennie      9  0.000003
...        ...  ..   ...     ...    ...       ...
5518205     TX   M  1990  Bennie     12  0.000003
4413137     OH   M  1982  Bennie      5  0.000002
1823396     IL   M  1923  Bennie     28  0.000013

[8 rows x 6 columns])
(('Benny', 'M'),         region sex  year   name  count      freq
4403016     OH   M  1969  Benny     16  0.000005
2120439     KS   M  1935  Benny     14  0.000007
1227647     FL   M  1985  Benny     15  0.000005
2848336     MI   M  1960  Benny     15  0.000004
3451370     NC   M  1958  Benny     42  0.000011
2232978     KY   M  1931  Benny     18  0.000009)
(('Benson', 'M'),         region sex  year    name  count      freq
4376629     OH   M  1923  Benson      5  0.000002
4224362     NY   M  2006  Benson     26  0.000008)
(('Bentlee', 'M'),         region sex  year     name  count      freq
2893934     MI   M  2012  Bentlee     17  0.000005
6184069     WV   M  2012  Bentlee     17  0.000005)
(('Bentley', 'M'),         region sex  year     name  count      freq
2544860     MA   M  2013  Bentley     49  0.000016
1258161     FL   M  2007  Bentley      6  0.000002)
(('Benton', 'M'),         region sex  year    name  count      freq
3623941     NE   M  2016  Benton      6  0.000002
5554451     TX   M  2008  Benton     13  0.000004)
(('Berkley', 'F'),         region sex  year     name  count      freq
5157434     TN   F  2018  Berkley      7  0.000002)
(('Bernabe', 'M'),        region sex  year     name  count      freq
729636     CA   M  2001  Bernabe      9  0.000003)
(('Bernadette', 'F'),         region sex  year        name  count      freq
3047133     MO   F  1957  Bernadette     13  0.000003
5872889     WA   F  1949  Bernadette      8  0.000002
4312595     OH   F  1981  Bernadette     12  0.000004)
(('Bernadine', 'F'),         region sex  year       name  count      freq
1932399     IN   F  1945  Bernadine      5  0.000002)
(('Bernard', 'M'),         region sex  year     name  count      freq
5197324     TN   M  1988  Bernard     11  0.000003
2006114     IN   M  1934  Bernard     56  0.000029
3239878     MS   M  1942  Bernard     14  0.000005)
(('Bernardo', 'M'),         region sex  year      name  count      freq
5463779     TX   M  1945  Bernardo     29  0.000012
1860684     IL   M  1977  Bernardo      7  0.000002)
(('Bernice', 'F'),         region sex  year     name  count      freq
3509632     ND   F  1930  Bernice     49  0.000024
2295561     LA   F  1944  Bernice     54  0.000021
1472460     HI   F  1919  Bernice     15  0.000008)
(('Berniece', 'F'),         region sex  year      name  count      freq
3187484     MS   F  1955  Berniece      5  0.000001)
(('Bernita', 'F'),         region sex  year     name  count      freq
1692257     IL   F  1925  Bernita     10  0.000005)
(('Bert', 'M'),         region sex  year  name  count      freq
3764450     NJ   M  1940  Bert      5  0.000002
1510336     HI   M  1965  Bert      6  0.000002
2835721     MI   M  1938  Bert     15  0.000007
2837087     MI   M  1941  Bert     22  0.000010
1193477     FL   M  1922  Bert      8  0.000004)
(('Berta', 'F'),         region sex  year   name  count      freq
29699       AL   F  1910  Berta      5  0.000010
5241319     TX   F  1927  Berta     51  0.000024)
(('Bertha', 'F'),         region sex  year    name  count      freq
5699739     VA   F  1953  Bertha     33  0.000009
900331      CT   F  1928  Bertha     22  0.000010
440379      CA   F  1964  Bertha     75  0.000020
2433907     MA   F  1921  Bertha    146  0.000067
2070469     KS   F  1938  Bertha     12  0.000006
4873953     RI   F  1930  Bertha     10  0.000005
2667293     ME   F  1917  Bertha     39  0.000021)
(('Bertie', 'F'),         region sex  year    name  count      freq
2167861     KY   F  1931  Bertie      9  0.000005)
(('Beryl', 'F'),         region sex  year   name  count      freq
4676528     PA   F  1925  Beryl     22  0.000010
1684152     IL   F  1913  Beryl     11  0.000011
4683530     PA   F  1935  Beryl     11  0.000006)
(('Bessie', 'F'),         region sex  year    name  count      freq
4000988     NY   F  1964  Bessie      8  0.000002
3334708     NC   F  1925  Bessie    216  0.000099
4461207     OK   F  1922  Bessie    113  0.000053
1294304     GA   F  1930  Bessie    183  0.000088)
(('Beth', 'F'),         region sex  year  name  count      freq
817171      CO   F  1989  Beth      6  0.000002
4931799     SC   F  1954  Beth     19  0.000005
3575728     NE   F  1982  Beth     18  0.000006
...        ...  ..   ...   ...    ...       ...
4118001     NY   F  2018  Beth      8  0.000003
1929766     IN   F  1940  Beth     17  0.000008
55149       AL   F  1956  Beth     25  0.000006

[8 rows x 6 columns])
(('Bethany', 'F'),         region sex  year     name  count      freq
5336763     TX   F  1992  Bethany    257  0.000075
918268      CT   F  1976  Bethany     26  0.000009
5360762     TX   F  2001  Bethany    224  0.000068
2582830     MD   F  1985  Bethany     48  0.000015)
(('Betsy', 'F'),         region sex  year   name  count      freq
1936857     IN   F  1953  Betsy     23  0.000006
2195085     KY   F  1980  Betsy     11  0.000004)
(('Bette', 'F'),         region sex  year   name  count      freq
4585819     OR   F  1952  Bette      5  0.000001)
(('Bettie', 'F'),         region sex  year    name  count      freq
3188259     MS   F  1957  Bettie     42  0.000010
3965858     NY   F  1932  Bettie      9  0.000005
5285606     TX   F  1964  Bettie      6  0.000002
3173821     MS   F  1930  Bettie     58  0.000028)
(('Bettina', 'F'),         region sex  year     name  count      freq
4312940     OH   F  1981  Bettina      6  0.000002)
(('Betty', 'F'),         region sex  year   name  count      freq
3511151     ND   F  1937  Betty    105  0.000053
4363190     OH   F  2016  Betty      8  0.000003
2577559     MD   F  1976  Betty     16  0.000006
...        ...  ..   ...    ...    ...       ...
3058821     MO   F  1974  Betty     16  0.000006
4732680     PA   F  1986  Betty     12  0.000004
5607469     UT   F  1977  Betty      7  0.000002

[8 rows x 6 columns])
(('Bettye', 'F'),         region sex  year    name  count      freq
45174       AL   F  1939  Bettye     92  0.000045
5084324     TN   F  1918  Bettye      7  0.000003)
(('Beulah', 'F'),         region sex  year    name  count      freq
3172282     MS   F  1927  Beulah     37  0.000017)
(('Beverley', 'F'),         region sex  year      name  count      freq
3973291     NY   F  1942  Beverley     30  0.000012)
(('Beverly', 'F'),         region sex  year     name  count      freq
2204506     KY   F  1996  Beverly      5  0.000002
3042439     MO   F  1950  Beverly    338  0.000101
3515512     ND   F  1956  Beverly     37  0.000009
3674248     NJ   F  1932  Beverly     96  0.000049
5382058     TX   F  2007  Beverly     15  0.000004)
(('Bibiana', 'F'),        region sex  year     name  count      freq
577614     CA   F  2009  Bibiana     15  0.000005)
(('Bilal', 'M'),         region sex  year   name  count      freq
1893484     IL   M  2005  Bilal     13  0.000004)
(('Bill', 'M'),         region sex  year  name  count      freq
6161563     WV   M  1939  Bill     47  0.000023
2376434     LA   M  1948  Bill     48  0.000015
2127363     KS   M  1957  Bill     48  0.000012
4812407     PA   M  1960  Bill    207  0.000052
1019019     DC   M  1963  Bill     13  0.000003
4383070     OH   M  1937  Bill    203  0.000102)
(('Billie', 'F'),         region sex  year    name  count      freq
6013672     WI   F  1965  Billie      5  0.000001
4593435     OR   F  1970  Billie     13  0.000004
2680583     ME   F  1969  Billie      6  0.000002)
(('Billie', 'M'),         region sex  year    name  count      freq
3107887     MO   M  1926  Billie     78  0.000036
4533159     OK   M  1938  Billie     29  0.000014
3241575     MS   M  1946  Billie     28  0.000009
3233989     MS   M  1929  Billie     64  0.000031
1224323     FL   M  1981  Billie      5  0.000002
2123093     KS   M  1944  Billie      9  0.000004)
(('Billy', 'F'),       region sex  year   name  count      freq
50008     AL   F  1947  Billy      5  0.000001)
(('Billy', 'M'),         region sex  year   name  count      freq
3936019     NV   M  1993  Billy      6  0.000002
5645859     UT   M  1950  Billy     11  0.000003
3596743     NE   M  1928  Billy     55  0.000026
...        ...  ..   ...    ...    ...       ...
6154401     WV   M  1920  Billy     38  0.000018
4564998     OK   M  2007  Billy     18  0.000005
2537522     MA   M  2003  Billy      7  0.000002

[8 rows x 6 columns])
(('Birdie', 'F'),         region sex  year    name  count      freq
2158042     KY   F  1913  Birdie     18  0.000017
5232781     TX   F  1919  Birdie     36  0.000018)
(('Blaine', 'M'),         region sex  year    name  count      freq
771593      CA   M  2016  Blaine     19  0.000006
4809140     PA   M  1955  Blaine     30  0.000008
2995830     MN   M  1981  Blaine     12  0.000004)
(('Blair', 'M'),         region sex  year   name  count      freq
2996708     MN   M  1983  Blair      8  0.000003)
(('Blaire', 'F'),         region sex  year    name  count      freq
5931228     WA   F  2019  Blaire     14  0.000005
2822567     MI   F  2020  Blaire     24  0.000009)
(('Blake', 'F'),        region sex  year   name  count      freq
823061     CO   F  1997  Blake      6  0.000002)
(('Blake', 'M'),         region sex  year   name  count      freq
5979704     WA   M  2012  Blake    151  0.000049
5985166     WA   M  2017  Blake     60  0.000020
5492079     TX   M  1971  Blake     43  0.000014
4666021     OR   M  2020  Blake     25  0.000009
2641703     MD   M  1990  Blake     37  0.000010
4639246     OR   M  1967  Blake      7  0.000002
3316777     MT   M  1978  Blake      5  0.000002)
(('Blakely', 'F'),         region sex  year     name  count      freq
5930821     WA   F  2019  Blakely     63  0.000022)
(('Blakely', 'M'),        region sex  year     name  count      freq
146544     AL   M  1993  Blakely      7  0.000002)
(('Blakelyn', 'F'),         region sex  year      name  count      freq
3422159     NC   F  2019  Blakelyn      5  0.000002)
(('Blanca', 'F'),         region sex  year    name  count      freq
5907634     WA   F  1999  Blanca      9  0.000003)
(('Blanche', 'F'),         region sex  year     name  count      freq
3669815     NJ   F  1921  Blanche     76  0.000035)
(('Blimie', 'F'),         region sex  year    name  count      freq
4121082     NY   F  2019  Blimie      5  0.000002)
(('Bo', 'M'),         region sex  year name  count      freq
5572278     TX   M  2015   Bo     27  0.000009
3622923     NE   M  2014   Bo      6  0.000002)
(('Bob', 'M'),         region sex  year name  count      freq
3107875     MO   M  1926  Bob    101  0.000047
3309038     MT   M  1941  Bob     20  0.000009
3447278     NC   M  1951  Bob     11  0.000003
6061111     WI   M  1927  Bob     26  0.000012)
(('Bobbie', 'F'),         region sex  year    name  count      freq
2730171     MI   F  1935  Bobbie      5  0.000003
479600      CA   F  1982  Bobbie     61  0.000019
2312512     LA   F  1968  Bobbie     20  0.000006
3334374     NC   F  1924  Bobbie     12  0.000005)
(('Bobbie', 'M'),         region sex  year    name  count      freq
2229934     KY   M  1925  Bobbie     16  0.000007
3239373     MS   M  1941  Bobbie     30  0.000013
637168      CA   M  1939  Bobbie      6  0.000003)
(('Bobby', 'F'),        region sex  year   name  count      freq
182916     AR   F  1943  Bobby      8  0.000003)
(('Bobby', 'M'),         region sex  year   name  count      freq
2979341     MN   M  1937  Bobby      8  0.000004
2648611     MD   M  2000  Bobby      7  0.000002
3107868     MO   M  1926  Bobby    114  0.000053
4417236     OH   M  1988  Bobby     47  0.000014)
(('Bode', 'M'),         region sex  year  name  count      freq
2050956     IN   M  2011  Bode      5  0.000002)

(('Bodhi', 'M'),         region sex  year   name  count      freq
5220176     TN   M  2016  Bodhi     23  0.000007
1525167     HI   M  2015  Bodhi     10  0.000003)
(('Bodie', 'M'),         region sex  year   name  count      freq
6108460     WI   M  2020  Bodie     10  0.000004)
(('Bonita', 'F'),         region sex  year    name  count      freq
4579427     OR   F  1929  Bonita      6  0.000003)
(('Bonni', 'F'),         region sex  year   name  count      freq
4010843     NY   F  1970  Bonni      8  0.000002)
(('Bonnie', 'F'),         region sex  year    name  count      freq
4294155     OH   F  1965  Bonnie    208  0.000061
1632204     ID   F  1956  Bonnie     52  0.000013
5100110     TN   F  1949  Bonnie    147  0.000044
...        ...  ..   ...     ...    ...       ...
5045848     SD   F  1970  Bonnie     13  0.000004
2742403     MI   F  1954  Bonnie    414  0.000109
4607723     OR   F  1996  Bonnie      5  0.000002

[8 rows x 6 columns])
(('Bonny', 'F'),         region sex  year   name  count      freq
1709302     IL   F  1949  Bonny     16  0.000005
5281252     TX   F  1961  Bonny      6  0.000002)
(('Booker', 'M'),         region sex  year    name  count      freq
5441307     TX   M  1922  Booker     19  0.000009)
(('Boris', 'M'),         region sex  year   name  count      freq
4809505     PA   M  1955  Boris      5  0.000001)
(('Boston', 'M'),         region sex  year    name  count      freq
5988039     WA   M  2019  Boston      6  0.000002)
(('Boyce', 'M'),         region sex  year   name  count      freq
1391554     GA   M  1920  Boyce      6  0.000003)
(('Boyd', 'M'),         region sex  year  name  count      freq
1655887     ID   M  1923  Boyd     12  0.000006
3534413     ND   M  1932  Boyd      5  0.000003
4993752     SC   M  1953  Boyd      8  0.000002)
(('Brad', 'M'),         region sex  year  name  count      freq
4436265     OH   M  2006  Brad      7  0.000002
1839471     IL   M  1952  Brad     89  0.000025)
(('Braden', 'M'),         region sex  year    name  count      freq
1874872     IL   M  1991  Braden     14  0.000004
3003810     MN   M  1998  Braden     24  0.000007)
(('Bradford', 'M'),         region sex  year      name  count      freq
2124773     KS   M  1949  Bradford      5  0.000002)
(('Bradley', 'M'),         region sex  year     name  count      freq
3886491     NM   M  1989  Bradley     21  0.000006
3664952     NH   M  2016  Bradley     11  0.000004
2227332     KY   M  1920  Bradley      9  0.000004)
(('Bradly', 'M'),         region sex  year    name  count      freq
2995127     MN   M  1979  Bradly      6  0.000002
5202687     TN   M  1996  Bradly      5  0.000002
4825202     PA   M  1978  Bradly     11  0.000004
148544      AL   M  1996  Bradly      5  0.000002
4841179     PA   M  1997  Bradly     10  0.000003)
(('Brady', 'M'),         region sex  year   name  count      freq
5527781     TX   M  1996  Brady    137  0.000042
972770      CT   M  2008  Brady     57  0.000017
2539227     MA   M  2006  Brady    160  0.000047
3263282     MS   M  1992  Brady      7  0.000002)
(('Braeden', 'M'),         region sex  year     name  count      freq
5965278     WA   M  1995  Braeden      6  0.000002
5206192     TN   M  2001  Braeden     13  0.000004
5811309     VA   M  2002  Braeden     13  0.000004
5984781     WA   M  2016  Braeden      6  0.000002)
(('Braedon', 'M'),         region sex  year     name  count      freq
5533774     TX   M  1999  Braedon     21  0.000006)
(('Braelyn', 'F'),         region sex  year     name  count      freq
2219463     KY   F  2016  Braelyn      8  0.000003
217822      AR   F  2013  Braelyn      6  0.000002)
(('Braelynn', 'F'),         region sex  year      name  count      freq
4974757     SC   F  2019  Braelynn     13  0.000004)
(('Bralyn', 'M'),         region sex  year    name  count      freq
3274467     MS   M  2011  Bralyn      5  0.000002)
(('Brandan', 'M'),         region sex  year     name  count      freq
1227097     FL   M  1984  Brandan      5  0.000002)
(('Brande', 'F'),         region sex  year    name  count      freq
3368628     NC   F  1975  Brande      6  0.000002)
(('Branden', 'M'),         region sex  year     name  count      freq
2661358     MD   M  2015  Branden      5  0.000002
256003      AR   M  1994  Branden      8  0.000002
2039658     IN   M  1999  Branden     19  0.000006)
(('Brandi', 'F'),         region sex  year    name  count      freq
3636971     NH   F  1975  Brandi      9  0.000003
1636323     ID   F  1971  Brandi     26  0.000008)
(('Brandie', 'F'),         region sex  year     name  count      freq
2460484     MA   F  1974  Brandie      5  0.000002)
(('Brandon', 'M'),         region sex  year     name  count      freq
3265490     MS   M  1997  Brandon    282  0.000088
1418851     GA   M  1970  Brandon     52  0.000015
4407916     OH   M  1976  Brandon    356  0.000129
4809446     PA   M  1955  Brandon      6  0.000002
4658979     OR   M  2010  Brandon     75  0.000024
5479120     TX   M  1959  Brandon     18  0.000005)
(('Brandy', 'F'),         region sex  year    name  count      freq
4052894     NY   F  1992  Brandy     37  0.000011
2210469     KY   F  2005  Brandy      9  0.000003
2100122     KS   F  2002  Brandy      6  0.000002)
(('Brantlee', 'M'),         region sex  year      name  count      freq
6186452     WV   M  2018  Brantlee      6  0.000002)
(('Brantley', 'M'),         region sex  year      name  count      freq
1462864     GA   M  2015  Brantley    168  0.000053)
(('Braxten', 'M'),         region sex  year     name  count      freq
3163792     MO   M  2020  Braxten      6  0.000002)
(('Brayden', 'M'),         region sex  year     name  count      freq
4437956     OH   M  2008  Brayden    540  0.000160
3661612     NH   M  2002  Brayden      8  0.000002
3270141     MS   M  2005  Brayden     62  0.000019)
(('Braydon', 'M'),         region sex  year     name  count      freq
2901410     MI   M  2018  Braydon     14  0.000005
5977877     WA   M  2010  Braydon     22  0.000007)
(('Braylen', 'M'),         region sex  year     name  count      freq
2888929     MI   M  2008  Braylen     25  0.000007)
(('Braylon', 'M'),         region sex  year     name  count      freq
3500122     NC   M  2017  Braylon     46  0.000015
261835      AR   M  2006  Braylon     26  0.000008)
(('Brayton', 'M'),         region sex  year     name  count      freq
2038876     IN   M  1998  Brayton     23  0.000007)
(('Breann', 'F'),         region sex  year    name  count      freq
2940547     MN   F  1986  Breann      8  0.000002)
(('Breanna', 'F'),         region sex  year     name  count      freq
5134748     TN   F  1999  Breanna    125  0.000038
5144386     TN   F  2008  Breanna     53  0.000016)
(('Brecken', 'M'),        region sex  year     name  count      freq
777882     CA   M  2018  Brecken     11  0.000004)
(('Brenda', 'F'),         region sex  year    name  count      freq
5837873     VT   F  1957  Brenda     63  0.000016
1081241     FL   F  1943  Brenda    118  0.000044
6129005     WV   F  1959  Brenda    325  0.000082
3517875     ND   F  1965  Brenda     96  0.000028)
(('Brendan', 'M'),         region sex  year     name  count      freq
5800672     VA   M  1989  Brendan     57  0.000016
962831      CT   M  1986  Brendan     69  0.000021
361008      AZ   M  1985  Brendan     16  0.000005)
(('Brenden', 'M'),         region sex  year     name  count      freq
4905459     RI   M  1993  Brenden      8  0.000002
3273866     MS   M  2010  Brenden      5  0.000002)
(('Brendon', 'M'),         region sex  year     name  count      freq
3150204     MO   M  2006  Brendon     16  0.000005
3659946     NH   M  1994  Brendon     12  0.000004)
(('Brenna', 'F'),         region sex  year    name  count      freq
2093523     KS   F  1990  Brenna     10  0.000003
3095178     MO   F  2015  Brenna      9  0.000003
4728164     PA   F  1982  Brenna     10  0.000003
620693      CA   F  2020  Brenna     15  0.000005)
(('Brennan', 'M'),         region sex  year     name  count      freq
3157515     MO   M  2014  Brennan     19  0.000006
1897654     IL   M  2008  Brennan     46  0.000014)
(('Brennen', 'M'),         region sex  year     name  count      freq
5026742     SC   M  2013  Brennen      5  0.000002
1235908     FL   M  1992  Brennen      5  0.000001
4423831     OH   M  1995  Brennen     17  0.000005)
(('Brent', 'M'),         region sex  year   name  count      freq
3495523     NC   M  2013  Brent      8  0.000003
636996      CA   M  1939  Brent     14  0.000007
6073180     WI   M  1961  Brent     38  0.000010)
(('Brenton', 'M'),         region sex  year     name  count      freq
2418253     LA   M  2008  Brenton     10  0.000003
3462338     NC   M  1976  Brenton      6  0.000002
5027410     SC   M  2014  Brenton      6  0.000002)
(('Breslyn', 'F'),         region sex  year     name  count      freq
2808848     MI   F  2010  Breslyn      5  0.000002)
(('Brett', 'M'),         region sex  year   name  count      freq
3317671     MT   M  1983  Brett     21  0.000007
6081671     WI   M  1981  Brett    130  0.000041
4650057     OR   M  1995  Brett     58  0.000018)
(('Breyonna', 'F'),         region sex  year      name  count      freq
2594117     MD   F  1999  Breyonna      5  0.000002)
(('Brian', 'M'),         region sex  year   name  count      freq
5643258     UT   M  1939  Brian      5  0.000002
1880503     IL   M  1996  Brian    531  0.000165
948588      CT   M  1940  Brian     41  0.000019
3148304     MO   M  2004  Brian     91  0.000027
5657477     UT   M  1985  Brian    181  0.000056
5947274     WA   M  1961  Brian    474  0.000121
19283       AK   M  1971  Brian     66  0.000021)
(('Briana', 'F'),         region sex  year    name  count      freq
3524149     ND   F  1994  Briana      9  0.000003
103366      AL   F  2020  Briana      5  0.000002)
(('Brianna', 'F'),         region sex  year     name  count      freq
811668      CO   F  1981  Brianna     22  0.000007
2357325     LA   F  2019  Brianna     25  0.000009
1573278     IA   F  2011  Brianna     32  0.000010)
(('Brianne', 'F'),         region sex  year     name  count      freq
2473054     MA   F  1992  Brianne     18  0.000005)
(('Briar', 'M'),         region sex  year   name  count      freq
2276021     KY   M  2018  Briar     10  0.000003)
(('Briauna', 'F'),         region sex  year     name  count      freq
1145887     FL   F  2001  Briauna      5  0.000002)
(('Bridget', 'F'),         region sex  year     name  count      freq
3909110     NV   F  1989  Bridget      6  0.000002
69688       AL   F  1978  Bridget     32  0.000011)
(('Bridgette', 'F'),         region sex  year       name  count      freq
6012554     WI   F  1963  Bridgette      5  0.000001)
(('Briella', 'F'),         region sex  year     name  count      freq
1574040     IA   F  2012  Briella     14  0.000005)
(('Brielle', 'F'),         region sex  year     name  count      freq
4613890     OR   F  2005  Brielle      8  0.000002
1052738     DE   F  2015  Brielle     19  0.000006)
(('Brigette', 'F'),         region sex  year      name  count      freq
5887860     WA   F  1975  Brigette      6  0.000002
1320278     GA   F  1969  Brigette      6  0.000002)
(('Briggs', 'M'),         region sex  year    name  count      freq
5671705     UT   M  2010  Briggs     18  0.000006)
(('Brigham', 'M'),        region sex  year     name  count      freq
380364     AZ   M  2010  Brigham      8  0.000003)
(('Brigitte', 'F'),         region sex  year      name  count      freq
6014742     WI   F  1967  Brigitte      6  0.000002
2304899     LA   F  1958  Brigitte     11  0.000003)
(('Briley', 'F'),         region sex  year    name  count      freq
4515416     OK   F  2013  Briley      6  0.000002
4518234     OK   F  2016  Briley      5  0.000002)
(('Brinda', 'F'),       region sex  year    name  count      freq
55439     AL   F  1956  Brinda      6  0.000002)
(('Brinley', 'F'),         region sex  year     name  count      freq
2216675     KY   F  2013  Brinley     18  0.000006
6054760     WI   F  2020  Brinley     31  0.000011)
(('Briona', 'F'),         region sex  year    name  count      freq
5735060     VA   F  1999  Briona      5  0.000002)
(('Brissa', 'F'),         region sex  year    name  count      freq
5385030     TX   F  2008  Brissa     38  0.000011)
(('Bristol', 'F'),         region sex  year     name  count      freq
2692939     ME   F  2017  Bristol      7  0.000002
835634      CO   F  2010  Bristol     10  0.000003)
(('Britney', 'F'),         region sex  year     name  count      freq
4615524     OR   F  2007  Britney      7  0.000002
3577519     NE   F  1987  Britney     11  0.000003
5129679     TN   F  1993  Britney     31  0.000009
1144230     FL   F  2001  Britney    119  0.000036)
(('Brittaney', 'F'),         region sex  year       name  count      freq
1756890     IL   F  1987  Brittaney      8  0.000002)
(('Brittani', 'F'),         region sex  year      name  count      freq
6139665     WV   F  1987  Brittani     10  0.000003)
(('Brittany', 'F'),         region sex  year      name  count      freq
4503236     OK   F  1999  Brittany    141  0.000043
3718986     NJ   F  1993  Brittany    528  0.000157
213644      AR   F  2007  Brittany     12  0.000003
5127848     TN   F  1991  Brittany    872  0.000249)
(('Brittnay', 'F'),         region sex  year      name  count      freq
4738114     PA   F  1990  Brittnay      6  0.000002)
(('Brittney', 'F'),         region sex  year      name  count      freq
3717970     NJ   F  1992  Brittney     77  0.000022
1562915     IA   F  1993  Brittney     59  0.000018
3210359     MS   F  1996  Brittney     50  0.000015)
(('Brittny', 'F'),         region sex  year     name  count      freq
4043919     NY   F  1988  Brittny     28  0.000008)
(('Brixton', 'M'),         region sex  year     name  count      freq
1470446     GA   M  2020  Brixton     17  0.000006)
(('Brock', 'M'),         region sex  year   name  count      freq
5799650     VA   M  1987  Brock     10  0.000003
5076292     SD   M  2005  Brock     12  0.000004
5955417     WA   M  1979  Brock     16  0.000005
3158433     MO   M  2015  Brock     25  0.000008)
(('Brody', 'M'),         region sex  year   name  count      freq
4555657     OK   M  1991  Brody      9  0.000003
5021660     SC   M  2007  Brody     51  0.000015
2655360     MD   M  2009  Brody     76  0.000023)
(('Brogan', 'M'),         region sex  year    name  count      freq
3622982     NE   M  2014  Brogan      5  0.000002)
(('Bronson', 'M'),         region sex  year     name  count      freq
6108548     WI   M  2020  Bronson      8  0.000003
6103196     WI   M  2014  Bronson     12  0.000004
5665968     UT   M  2002  Bronson     16  0.000005
2052585     IN   M  2013  Bronson     11  0.000004
1679252     ID   M  2013  Bronson      8  0.000003
5671621     UT   M  2010  Bronson     29  0.000009)
(('Brook', 'F'),         region sex  year   name  count      freq
511737      CA   F  1992  Brook     28  0.000008
5136397     TN   F  2000  Brook      6  0.000002
1968884     IN   F  1995  Brook     18  0.000006
293923      AZ   F  1978  Brook      6  0.000002)
(('Brook', 'M'),         region sex  year   name  count      freq
2025452     IN   M  1975  Brook      5  0.000002)
(('Brooke', 'F'),         region sex  year    name  count      freq
3060086     MO   F  1976  Brooke     37  0.000013
810316      CO   F  1979  Brooke     82  0.000027
2692049     ME   F  2014  Brooke     16  0.000005
...        ...  ..   ...     ...    ...       ...
2341741     LA   F  2003  Brooke     82  0.000025
2947626     MN   F  1997  Brooke    144  0.000045
4511315     OK   F  2009  Brooke     37  0.000011

[8 rows x 6 columns])
(('Brookelyn', 'F'),         region sex  year       name  count      freq
1789774     IL   F  2006  Brookelyn      9  0.000003)
(('Brookelynn', 'F'),        region sex  year        name  count      freq
538372     CA   F  1999  Brookelynn      8  0.000002)
(('Brooklyn', 'F'),        region sex  year      name  count      freq
555190     CA   F  2004  Brooklyn    235  0.000071
218688     AR   F  2015  Brooklyn     84  0.000027)

(('Brooks', 'M'),         region sex  year    name  count      freq
3488929     NC   M  2008  Brooks     15  0.000004
954353      CT   M  1961  Brooks      5  0.000001)
(('Bruce', 'M'),         region sex  year   name  count      freq
3530748     ND   M  1916  Bruce     12  0.000007
3309674     MT   M  1945  Bruce     31  0.000012
3817826     NJ   M  2016  Bruce     24  0.000008
...        ...  ..   ...    ...    ...       ...
6076830     WI   M  1970  Bruce     89  0.000026
2242569     KY   M  1951  Bruce    184  0.000052
2501788     MA   M  1917  Bruce      7  0.000004

[10 rows x 6 columns])
(('Bruno', 'M'),         region sex  year   name  count      freq
2518787     MA   M  1966  Bruno      5  0.000002
2502021     MA   M  1918  Bruno     26  0.000013
1826276     IL   M  1928  Bruno     29  0.000014)
(('Bryan', 'M'),         region sex  year   name  count      freq
2013240     IN   M  1952  Bryan     21  0.000006
4397965     OH   M  1962  Bryan    321  0.000084
2376560     LA   M  1948  Bryan     18  0.000005
4409432     OH   M  1978  Bryan    430  0.000149
2231114     KY   M  1927  Bryan      8  0.000004
1523643     HI   M  2010  Bryan      5  0.000002
4573567     OK   M  2018  Bryan     15  0.000005)
(('Bryana', 'F'),       region sex  year    name  count      freq
87017     AL   F  2002  Bryana      5  0.000002)
(('Bryant', 'M'),         region sex  year    name  count      freq
2265873     KY   M  2003  Bryant     15  0.000005
2399447     LA   M  1984  Bryant     19  0.000006)
(('Bryar', 'M'),         region sex  year   name  count      freq
1274978     FL   M  2016  Bryar      6  0.000002
4839584     PA   M  1995  Bryar      5  0.000002)
(('Bryce', 'M'),         region sex  year   name  count      freq
4648640     OR   M  1992  Bryce     41  0.000012
5783790     VA   M  1957  Bryce      5  0.000001)
(('Bryn', 'F'),         region sex  year  name  count      freq
3737261     NJ   F  2007  Bryn      5  0.000001)
(('Brynley', 'F'),         region sex  year     name  count      freq
1805458     IL   F  2014  Brynley      8  0.000003)
(('Brynna', 'F'),         region sex  year    name  count      freq
5430587     TX   F  2020  Brynna      9  0.000003)
(('Bryon', 'M'),        region sex  year   name  count      freq
960657     CT   M  1979  Bryon      5  0.000002)
(('Brysen', 'M'),        region sex  year    name  count      freq
163962     AL   M  2017  Brysen      8  0.000003
715494     CA   M  1995  Brysen      5  0.000002)
(('Bryson', 'M'),         region sex  year    name  count      freq
4436781     OH   M  2007  Bryson     83  0.000024
3146808     MO   M  2002  Bryson     32  0.000010
2411208     LA   M  2000  Bryson     42  0.000013
380829      AZ   M  2011  Bryson     76  0.000024)
(('Bryton', 'M'),         region sex  year    name  count      freq
3150556     MO   M  2006  Bryton      6  0.000002)
(('Buford', 'M'),         region sex  year    name  count      freq
2238956     KY   M  1943  Buford     13  0.000005)
(('Bulah', 'F'),         region sex  year   name  count      freq
4915181     SC   F  1919  Bulah      6  0.000003)
(('Burech', 'M'),         region sex  year    name  count      freq
4252203     NY   M  2019  Burech      7  0.000002)
(('Burl', 'M'),         region sex  year  name  count      freq
5446503     TX   M  1927  Burl     12  0.000006)
(('Burton', 'M'),         region sex  year    name  count      freq
2006310     IN   M  1934  Burton      6  0.000003
2836641     MI   M  1940  Burton     17  0.000008)
(('Buster', 'M'),         region sex  year    name  count      freq
4528115     OK   M  1926  Buster     17  0.000008
5469243     TX   M  1950  Buster     13  0.000004)
(('Byron', 'M'),         region sex  year   name  count      freq
6070867     WI   M  1955  Byron      8  0.000002
2643712     MD   M  1993  Byron     13  0.000004
4633145     OR   M  1948  Byron     17  0.000005
3144024     MO   M  1998  Byron     12  0.000004
5183121     TN   M  1960  Byron     28  0.000007
3884706     NM   M  1984  Byron     10  0.000003)
(('Caden', 'M'),         region sex  year   name  count     freq
3021281     MN   M  2020  Caden     29  0.00001)
(('Cadence', 'F'),         region sex  year     name  count      freq
1649947     ID   F  2011  Cadence      6  0.000002
831006      CO   F  2006  Cadence     47  0.000014
5915730     WA   F  2007  Cadence     46  0.000013
4509500     OK   F  2007  Cadence     42  0.000012)
(('Cael', 'M'),         region sex  year  name  count      freq
4858701     PA   M  2012  Cael     13  0.000004)
(('Caiden', 'M'),         region sex  year    name  count     freq
2050339     IN   M  2011  Caiden     32  0.00001)
(('Cailyn', 'F'),         region sex  year    name  count      freq
1795150     IL   F  2009  Cailyn     25  0.000008
1359541     GA   F  2005  Cailyn      7  0.000002)
(('Cain', 'M'),         region sex  year  name  count      freq
1448454     GA   M  2004  Cain      5  0.000002)
(('Caitlin', 'F'),         region sex  year     name  count      freq
3064075     MO   F  1981  Caitlin      9  0.000003
4007216     NY   F  1968  Caitlin     10  0.000003
4952285     SC   F  1990  Caitlin     75  0.000021
919731      CT   F  1979  Caitlin     11  0.000004)
(('Caitlyn', 'F'),         region sex  year     name  count      freq
3743293     NJ   F  2012  Caitlyn     24  0.000008
1564976     IA   F  1997  Caitlyn     30  0.000009)
(('Cal', 'M'),         region sex  year name  count      freq
3148013     MO   M  2003  Cal      6  0.000002
5986822     WA   M  2018  Cal      8  0.000003)
(('Caldonia', 'F'),         region sex  year      name  count      freq
5232308     TX   F  1918  Caldonia      6  0.000003)
(('Cale', 'M'),         region sex  year  name  count      freq
5020720     SC   M  2005  Cale      5  0.000001)
(('Caleb', 'M'),         region sex  year   name  count      freq
2710608     ME   M  1993  Caleb     62  0.000018
158768      AL   M  2011  Caleb    201  0.000065
1608901     IA   M  1995  Caleb     89  0.000027
4425388     OH   M  1997  Caleb    438  0.000137
5799397     VA   M  1987  Caleb     52  0.000016
2423177     LA   M  2014  Caleb    141  0.000045)
(('Caleigh', 'F'),        region sex  year     name  count      freq
215274     AR   F  2009  Caleigh      5  0.000002)
(('Caley', 'F'),         region sex  year   name  count      freq
3393972     NC   F  2001  Caley      5  0.000002)
(('Cali', 'F'),         region sex  year  name  count      freq
2614647     MD   F  2020  Cali     21  0.000008
4967901     SC   F  2011  Cali      9  0.000003)
(('Calista', 'F'),         region sex  year     name  count      freq
4505317     OK   F  2001  Calista      5  0.000002)
(('Calla', 'F'),         region sex  year   name  count      freq
2490575     MA   F  2011  Calla      5  0.000002)
(('Calli', 'F'),         region sex  year   name  count      freq
6040804     WI   F  2005  Calli      5  0.000001)
(('Callie', 'F'),         region sex  year    name  count      freq
2168922     KY   F  1933  Callie      8  0.000004
3166928     MS   F  1917  Callie     38  0.000020
5720341     VA   F  1983  Callie      8  0.000003)
(('Callum', 'M'),         region sex  year    name  count      freq
2715688     ME   M  2014  Callum      5  0.000002
3012785     MN   M  2010  Callum      9  0.000003)
(('Calvin', 'M'),         region sex  year    name  count      freq
958144      CT   M  1972  Calvin     11  0.000004
2006545     IN   M  1935  Calvin     19  0.000010
4980504     SC   M  1922  Calvin     50  0.000024
...        ...  ..   ...     ...    ...       ...
5494343     TX   M  1973  Calvin     78  0.000028
4408847     OH   M  1977  Calvin     34  0.000012
3228480     MS   M  1917  Calvin     34  0.000018

[13 rows x 6 columns])
(('Camden', 'M'),         region sex  year    name  count      freq
709388      CA   M  1993  Camden     12  0.000004
2716057     ME   M  2016  Camden     20  0.000006)
(('Camdon', 'M'),         region sex  year    name  count      freq
1273065     FL   M  2015  Camdon      6  0.000002)
(('Cameron', 'F'),        region sex  year     name  count      freq
413097     CA   F  1945  Cameron      6  0.000002
543791     CA   F  2001  Cameron    120  0.000036)
(('Cameron', 'M'),         region sex  year     name  count      freq
876525      CO   M  1997  Cameron    161  0.000050
3487155     NC   M  2007  Cameron    427  0.000124
889709      CO   M  2014  Cameron     92  0.000029
2152948     KS   M  2015  Cameron     45  0.000014)
(('Cameryn', 'F'),         region sex  year     name  count      freq
5398209     TX   F  2011  Cameryn      6  0.000002
606674      CA   F  2016  Cameryn      8  0.000003)
(('Camila', 'F'),         region sex  year    name  count      freq
1811750     IL   F  2018  Camila    330  0.000111
1790755     IL   F  2007  Camila    108  0.000031
1004649     DC   F  2003  Camila      5  0.000002
4516611     OK   F  2015  Camila     44  0.000014)
(('Camilla', 'F'),         region sex  year     name  count      freq
5757721     VA   F  2017  Camilla     23  0.000008
5107212     TN   F  1960  Camilla      6  0.000002)
(('Camille', 'F'),         region sex  year     name  count      freq
3089205     MO   F  2010  Camille     36  0.000011
4721191     PA   F  1976  Camille     12  0.000004
3748727     NJ   F  2016  Camille     28  0.000009
5890277     WA   F  1979  Camille     14  0.000005)
(('Camille', 'M'),         region sex  year     name  count      freq
2366456     LA   M  1927  Camille      8  0.000004)
(('Campbell', 'F'),         region sex  year      name  count      freq
2489346     MA   F  2010  Campbell      9  0.000003
838760      CO   F  2013  Campbell      9  0.000003)
(('Camren', 'M'),         region sex  year    name  count      freq
2889146     MI   M  2008  Camren     13  0.000004)
(('Camryn', 'F'),         region sex  year    name  count      freq
4515147     OK   F  2013  Camryn     11  0.000004
90893       AL   F  2007  Camryn     13  0.000004
2100505     KS   F  2003  Camryn     15  0.000005
1137547     FL   F  1997  Camryn     10  0.000003)
(('Camryn', 'M'),         region sex  year    name  count      freq
3817115     NJ   M  2015  Camryn      8  0.000003)
(('Candace', 'F'),         region sex  year     name  count      freq
5273213     TX   F  1956  Candace     65  0.000017
2089505     KS   F  1982  Candace     31  0.000010
6134781     WV   F  1973  Candace      7  0.000003
2341489     LA   F  2002  Candace      6  0.000002
6014471     WI   F  1967  Candace     29  0.000009
1726186     IL   F  1965  Candace     54  0.000016)
(('Candice', 'F'),         region sex  year     name  count      freq
5048355     SD   F  1981  Candice      7  0.000002
4744327     PA   F  1995  Candice     17  0.000005)
(('Candida', 'F'),         region sex  year     name  count      freq
4941709     SC   F  1971  Candida      5  0.000002
6019322     WI   F  1975  Candida      5  0.000002)
(('Candy', 'F'),         region sex  year   name  count      freq
4590872     OR   F  1964  Candy      9  0.000002
1633558     ID   F  1960  Candy      5  0.000001
4938351     SC   F  1965  Candy      5  0.000001
1743341     IL   F  1978  Candy     24  0.000008)
(('Cannon', 'M'),         region sex  year    name  count      freq
4666451     OR   M  2020  Cannon      5  0.000002)
(('Capri', 'F'),        region sex  year   name  count      freq
327868     AZ   F  2012  Capri      9  0.000003)
(('Cara', 'F'),         region sex  year  name  count      freq
5912786     WA   F  2004  Cara     10  0.000003
2098108     KS   F  1999  Cara     12  0.000004
1754709     IL   F  1986  Cara     64  0.000020)
(('Caren', 'F'),         region sex  year   name  count      freq
5303993     TX   F  1976  Caren     13  0.000005
4035171     NY   F  1983  Caren      5  0.000002
4036382     NY   F  1984  Caren     10  0.000003)
(('Carey', 'M'),         region sex  year   name  count      freq
5942785     WA   M  1949  Carey      7  0.000002)
(('Caridad', 'F'),         region sex  year     name  count     freq
4022814     NY   F  1977  Caridad     28  0.00001)
(('Carie', 'F'),         region sex  year   name  count      freq
2761652     MI   F  1973  Carie     13  0.000005
4307725     OH   F  1977  Carie     16  0.000006)
(('Carina', 'F'),         region sex  year    name  count      freq
1354487     GA   F  2002  Carina      7  0.000002
3752205     NJ   F  2018  Carina      6  0.000002
1748136     IL   F  1981  Carina     10  0.000003)
(('Carissa', 'F'),         region sex  year     name  count      freq
3094100     MO   F  2014  Carissa      8  0.000003
4501566     OK   F  1996  Carissa      8  0.000002
1728128     IL   F  1966  Carissa      5  0.000002)
(('Carl', 'M'),         region sex  year  name  count      freq
1055470     DE   M  1931  Carl      9  0.000005
4563834     OK   M  2005  Carl      7  0.000002
3760169     NJ   M  1927  Carl    126  0.000058
...        ...  ..   ...   ...    ...       ...
5178506     TN   M  1951  Carl    276  0.000079
1823215     IL   M  1923  Carl    397  0.000185
4976858     SC   M  1913  Carl     42  0.000041

[10 rows x 6 columns])
(('Carla', 'F'),         region sex  year   name  count      freq
2740037     MI   F  1951  Carla     81  0.000023
4013456     NY   F  1972  Carla    112  0.000039
6195618     WY   F  1976  Carla      6  0.000002
...        ...  ..   ...    ...    ...       ...
1630413     ID   F  1949  Carla     23  0.000007
3733726     NJ   F  2005  Carla     20  0.000006
1480848     HI   F  1956  Carla     12  0.000003

[8 rows x 6 columns])
(('Carlee', 'F'),         region sex  year    name  count      freq
98457       AL   F  2015  Carlee      7  0.000002
4339782     OH   F  2002  Carlee     16  0.000005)
(('Carleigh', 'F'),         region sex  year      name  count      freq
101132      AL   F  2018  Carleigh     10  0.000003
4089830     NY   F  2007  Carleigh      8  0.000002)
(('Carlene', 'F'),         region sex  year     name  count      freq
4046595     NY   F  1989  Carlene     11  0.000003
45528       AL   F  1939  Carlene      6  0.000003)
(('Carleton', 'M'),         region sex  year      name  count      freq
2976288     MN   M  1928  Carleton      6  0.000003
2698287     ME   M  1933  Carleton      6  0.000003)
(('Carley', 'F'),         region sex  year    name  count      freq
5744351     VA   F  2007  Carley     11  0.000003)
(('Carli', 'F'),         region sex  year   name  count      freq
1129087     FL   F  1992  Carli      9  0.000003)
(('Carlie', 'F'),         region sex  year    name  count      freq
4064703     NY   F  1997  Carlie     20  0.000006
1116947     FL   F  1984  Carlie      8  0.000003)
(('Carlo', 'M'),         region sex  year   name  count      freq
5505166     TX   M  1981  Carlo      7  0.000002)
(('Carlos', 'M'),         region sex  year    name  count      freq
4805066     PA   M  1948  Carlos      7  0.000002
1063353     DE   M  1991  Carlos      8  0.000002
2532602     MA   M  1996  Carlos     71  0.000022
...        ...  ..   ...     ...    ...       ...
3870489     NM   M  1942  Carlos     33  0.000013
5781969     VA   M  1954  Carlos     13  0.000003
3113205     MO   M  1938  Carlos      6  0.000003

[11 rows x 6 columns])
(('Carlton', 'M'),         region sex  year     name  count      freq
872973      CO   M  1990  Carlton      6  0.000002
3134034     MO   M  1981  Carlton      6  0.000002
4396771     OH   M  1960  Carlton     24  0.000006
2626445     MD   M  1954  Carlton     23  0.000006
2631827     MD   M  1967  Carlton     17  0.000005
2227935     KY   M  1921  Carlton      7  0.000003)
(('Carly', 'F'),         region sex  year   name  count      freq
4316836     OH   F  1985  Carly     72  0.000022
1355225     GA   F  2003  Carly     55  0.000017
2476126     MA   F  1996  Carly     82  0.000025
6143539     WV   F  1999  Carly     10  0.000003)
(('Carmel', 'F'),         region sex  year    name  count      freq
4279012     OH   F  1949  Carmel      5  0.000002)
(('Carmela', 'F'),         region sex  year     name  count      freq
5282103     TX   F  1962  Carmela     22  0.000006)
(('Carmelo', 'M'),         region sex  year     name  count      freq
4451058     OH   M  2017  Carmelo      7  0.000002
3773684     NJ   M  1962  Carmelo      9  0.000002)
(('Carmen', 'F'),         region sex  year    name  count      freq
5418071     TX   F  2017  Carmen     75  0.000025
182965      AR   F  1943  Carmen      6  0.000002
3849326     NM   F  1990  Carmen     15  0.000004
194573      AR   F  1968  Carmen     11  0.000003
3632844     NH   F  1955  Carmen      5  0.000001)
(('Carmen', 'M'),         region sex  year    name  count      freq
5433868     TX   M  1913  Carmen      5  0.000005)
(('Carmine', 'M'),         region sex  year     name  count      freq
4218873     NY   M  2003  Carmine     12  0.000004)
(('Carol', 'F'),         region sex  year   name  count      freq
4287637     OH   F  1959  Carol   1005  0.000254
2938588     MN   F  1983  Carol     13  0.000004
2957879     MN   F  2008  Carol      5  0.000001
...        ...  ..   ...    ...    ...       ...
1481679     HI   F  1959  Carol     58  0.000015
1354621     GA   F  2002  Carol      6  0.000002
1533168     IA   F  1926  Carol     89  0.000042

[11 rows x 6 columns])
(('Carol', 'M'),         region sex  year   name  count      freq
2234701     KY   M  1934  Carol      6  0.000003
2508937     MA   M  1938  Carol      8  0.000004)
(('Carole', 'F'),         region sex  year    name  count      freq
4707192     PA   F  1963  Carole     96  0.000026
1933711     IN   F  1948  Carole     77  0.000023
6014012     WI   F  1966  Carole     16  0.000005
...        ...  ..   ...     ...    ...       ...
2299987     LA   F  1951  Carole     12  0.000003
418277      CA   F  1950  Carole    204  0.000061
3288337     MT   F  1954  Carole      6  0.000002

[8 rows x 6 columns])
(('Carolina', 'F'),        region sex  year      name  count      freq
547408     CA   F  2002  Carolina    252  0.000077)
(('Caroline', 'F'),         region sex  year      name  count      freq
2465881     MA   F  1983  Caroline     64  0.000020
2745426     MI   F  1957  Caroline     43  0.000011
4930623     SC   F  1952  Caroline     26  0.000007
3037264     MO   F  1940  Caroline     27  0.000013
2483957     MA   F  2005  Caroline    213  0.000064
3039306     MO   F  1944  Caroline     27  0.000011
1100826     FL   F  1970  Caroline     37  0.000011)
(('Carolyn', 'F'),         region sex  year     name  count      freq
393652      CA   F  1918  Carolyn     42  0.000021
2174269     KY   F  1944  Carolyn    593  0.000234
2160465     KY   F  1918  Carolyn     22  0.000011
...        ...  ..   ...      ...    ...       ...
1047894     DE   F  1992  Carolyn      7  0.000002
2158426     KY   F  1914  Carolyn     25  0.000019
3335405     NC   F  1926  Carolyn     91  0.000043

[9 rows x 6 columns])
(('Carolynn', 'F'),         region sex  year      name  count      freq
2741160     MI   F  1952  Carolynn     12  0.000003)
(('Carrie', 'F'),         region sex  year    name  count      freq
2559103     MD   F  1938  Carrie     13  0.000006
394822      CA   F  1920  Carrie     15  0.000007
3677902     NJ   F  1941  Carrie     11  0.000005
...        ...  ..   ...     ...    ...       ...
2337848     LA   F  1998  Carrie     11  0.000003
3909031     NV   F  1989  Carrie      9  0.000003
5389843     TX   F  2009  Carrie     11  0.000003

[11 rows x 6 columns])
(('Carrol', 'F'),         region sex  year    name  count      freq
3038473     MO   F  1942  Carrol      7  0.000003
3041656     MO   F  1948  Carrol      8  0.000002)
(('Carrol', 'M'),         region sex  year    name  count      freq
4525866     OK   M  1921  Carrol      8  0.000004)
(('Carroll', 'F'),         region sex  year     name  count      freq
2293677     LA   F  1940  Carroll      5  0.000002)
(('Carroll', 'M'),         region sex  year     name  count      freq
5483562     TX   M  1963  Carroll     20  0.000005)
(('Carson', 'F'),         region sex  year    name  count      freq

(('Carson', 'M'),         region sex  year    name  count      freq
3450926     NC   M  1957  Carson     12  0.000003
373081      AZ   M  2003  Carson     88  0.000026)
(('Carsyn', 'F'),         region sex  year    name  count      freq
5422355     TX   F  2018  Carsyn     24  0.000008)
(('Carter', 'M'),         region sex  year    name  count      freq
6183627     WV   M  2011  Carter     60  0.000019
2264640     KY   M  2001  Carter     49  0.000015
265907      AR   M  2013  Carter     89  0.000029
4839921     PA   M  1996  Carter     35  0.000011
2277087     KY   M  2020  Carter    153  0.000055
4396275     OH   M  1959  Carter      8  0.000002)
(('Cary', 'F'),         region sex  year  name  count      freq
2755509     MI   F  1967  Cary      8  0.000003
4004463     NY   F  1966  Cary      5  0.000002)
(('Cary', 'M'),         region sex  year  name  count      freq
5950411     WA   M  1968  Cary     17  0.000005
1200019     FL   M  1942  Cary      7  0.000003
3538222     ND   M  1951  Cary      5  0.000001)
(('Caryn', 'F'),         region sex  year   name  count      freq
5728271     VA   F  1992  Caryn      5  0.000001
2309842     LA   F  1964  Caryn      5  0.000001)
(('Casen', 'M'),         region sex  year   name  count      freq
4862988     PA   M  2015  Casen      8  0.000003)
(('Casey', 'F'),         region sex  year   name  count      freq
3088775     MO   F  2009  Casey      6  0.000002
5357899     TX   F  2000  Casey     98  0.000029
1146375     FL   F  2002  Casey     59  0.000018
2333558     LA   F  1993  Casey     37  0.000011
3296492     MT   F  1986  Casey     13  0.000004
510969      CA   F  1992  Casey    187  0.000054)
(('Casey', 'M'),         region sex  year   name  count      freq
3252505     MS   M  1969  Casey     12  0.000004
3662810     NH   M  2007  Casey      6  0.000002
5819544     VA   M  2010  Casey     20  0.000006)
(('Cash', 'M'),         region sex  year  name  count      freq
5518112     TX   M  1990  Cash     15  0.000004)
(('Casie', 'F'),        region sex  year   name  count      freq
294606     AZ   F  1979  Casie      5  0.000002
482783     CA   F  1983  Casie     21  0.000007)
(('Casper', 'M'),         region sex  year    name  count      freq
2003469     IN   M  1926  Casper      5  0.000002)
(('Caspian', 'M'),        region sex  year     name  count      freq
768827     CA   M  2015  Caspian     15  0.000005)
(('Cassandra', 'F'),         region sex  year       name  count      freq
2442909     MA   F  1943  Cassandra      5  0.000002
3346683     NC   F  1945  Cassandra      8  0.000003
4487067     OK   F  1972  Cassandra     32  0.000011
...        ...  ..   ...        ...    ...       ...
2598154     MD   F  2004  Cassandra     15  0.000005
1650402     ID   F  2012  Cassandra      6  0.000002
4011672     NY   F  1971  Cassandra    127  0.000040

[8 rows x 6 columns])
(('Cassandre', 'F'),         region sex  year       name  count      freq
4059109     NY   F  1994  Cassandre      5  0.000002)
(('Cassi', 'F'),         region sex  year   name  count      freq
1958578     IN   F  1982  Cassi      8  0.000003)
(('Cassidy', 'F'),         region sex  year     name  count      freq
4111786     NY   F  2016  Cassidy     51  0.000016
5741198     VA   F  2005  Cassidy     54  0.000016
933888      CT   F  2006  Cassidy     24  0.000007
3526596     ND   F  2007  Cassidy      6  0.000002)
(('Cassie', 'F'),         region sex  year    name  count      freq
593371      CA   F  2013  Cassie     27  0.000009
4325571     OH   F  1992  Cassie     54  0.000016)
(('Cassius', 'M'),        region sex  year     name  count      freq
892655     CO   M  2017  Cassius     16  0.000005)
(('Cataleya', 'F'),         region sex  year      name  count      freq
4116966     NY   F  2018  Cataleya     32  0.000011)
(('Catalina', 'F'),         region sex  year      name  count      freq
5292338     TX   F  1969  Catalina     17  0.000005
4361076     OH   F  2015  Catalina     16  0.000005)
(('Catherine', 'F'),         region sex  year       name  count      freq
33109       AL   F  1918  Catherine    136  0.000068
1971481     IN   F  1998  Catherine     53  0.000016
3925852     NV   F  2019  Catherine      5  0.000002
...        ...  ..   ...        ...    ...       ...
2280852     LA   F  1917  Catherine     96  0.000052
4334942     OH   F  1999  Catherine    118  0.000036
2061045     KS   F  1913  Catherine     47  0.000046

[11 rows x 6 columns])
(('Cathi', 'F'),         region sex  year   name  count      freq
1725500     IL   F  1964  Cathi      9  0.000002)
(('Cathleen', 'F'),         region sex  year      name  count      freq
3054078     MO   F  1967  Cathleen     11  0.000003)
(('Cathrine', 'F'),         region sex  year      name  count      freq
4299069     OH   F  1969  Cathrine      6  0.000002)
(('Cathryn', 'F'),         region sex  year     name  count      freq
1298489     GA   F  1937  Cathryn      5  0.000003
65520       AL   F  1971  Cathryn      5  0.000002
3990371     NY   F  1957  Cathryn     16  0.000004
1758631     IL   F  1988  Cathryn      6  0.000002
2480180     MA   F  2000  Cathryn      5  0.000001)
(('Cathy', 'F'),         region sex  year   name  count      freq
3832119     NM   F  1947  Cathy     10  0.000003
6126804     WV   F  1954  Cathy    144  0.000038
2190777     KY   F  1973  Cathy     50  0.000018
3701462     NJ   F  1975  Cathy     20  0.000007
1487309     HI   F  1976  Cathy      6  0.000002
1935998     IN   F  1952  Cathy    350  0.000097
5870816     WA   F  1945  Cathy     23  0.000009)
(('Catrina', 'F'),         region sex  year     name  count      freq
5312982     TX   F  1981  Catrina     42  0.000013)
(('Cayden', 'M'),         region sex  year    name  count      freq
6181434     WV   M  2004  Cayden     11  0.000003)
(('Cayla', 'F'),        region sex  year   name  count      freq
822988     CO   F  1997  Cayla      7  0.000002)
(('Caylee', 'F'),         region sex  year    name  count      freq
4965882     SC   F  2009  Caylee     25  0.000008)
(('Caylie', 'F'),         region sex  year    name  count      freq
5394594     TX   F  2010  Caylie      6  0.000002)
(('Cecelia', 'F'),         region sex  year     name  count      freq
2158994     KY   F  1915  Cecelia     11  0.000007
4256404     OH   F  1914  Cecelia     41  0.000032
5126176     TN   F  1988  Cecelia      5  0.000001
1298890     GA   F  1938  Cecelia     10  0.000005
4311890     OH   F  1980  Cecelia      5  0.000002
5748508     VA   F  2010  Cecelia     10  0.000003)
(('Cecil', 'F'),         region sex  year   name  count      freq
3032523     MO   F  1930  Cecil      7  0.000003)
(('Cecil', 'M'),         region sex  year   name  count      freq
1392894     GA   M  1923  Cecil    109  0.000051
5474329     TX   M  1955  Cecil    108  0.000028
5174282     TN   M  1942  Cecil     81  0.000031
4236069     NY   M  2011  Cecil      5  0.000002
5638336     UT   M  1916  Cecil     11  0.000006
3533679     ND   M  1929  Cecil     13  0.000006
5773029     VA   M  1935  Cecil     81  0.000042)
(('Cecile', 'F'),        region sex  year    name  count      freq
443565     CA   F  1965  Cecile      5  0.000001)
(('Cecilia', 'F'),         region sex  year     name  count      freq
1362293     GA   F  2007  Cecilia     33  0.000010
5301657     TX   F  1975  Cecilia     99  0.000036
5421505     TX   F  2018  Cecilia    135  0.000046
3302125     MT   F  2011  Cecilia      5  0.000002
5878247     WA   F  1959  Cecilia     12  0.000003
2482372     MA   F  2003  Cecilia     21  0.000006)
(('Cecilio', 'M'),         region sex  year     name  count      freq
5497158     TX   M  1975  Cecilio     12  0.000004)
(('Cedric', 'M'),         region sex  year    name  count      freq
5803907     VA   M  1993  Cedric     10  0.000003)
(('Celeste', 'F'),         region sex  year     name  count      freq
3635310     NH   F  1967  Celeste      6  0.000002)
(('Celestine', 'F'),         region sex  year       name  count      freq
3351256     NC   F  1952  Celestine     11  0.000003
3683215     NJ   F  1951  Celestine      5  0.000001)
(('Celia', 'F'),         region sex  year   name  count      freq
2468331     MA   F  1986  Celia      9  0.000003)
(('Cesar', 'M'),         region sex  year   name  count      freq
1874461     IL   M  1991  Cesar     87  0.000025)
(('Chad', 'M'),         region sex  year  name  count      freq
5672083     UT   M  2010  Chad      5  0.000002
3608087     NE   M  1970  Chad     99  0.000029
1516123     HI   M  1986  Chad     50  0.000015
1238673     FL   M  1995  Chad    133  0.000041
4822644     PA   M  1975  Chad    635  0.000231)
(('Chadwick', 'M'),         region sex  year      name  count      freq
4418212     OH   M  1989  Chadwick     20  0.000006
2634020     MD   M  1972  Chadwick      6  0.000002
2033091     IN   M  1989  Chadwick      7  0.000002
3138327     MO   M  1989  Chadwick      7  0.000002
5019329     SC   M  2003  Chadwick      5  0.000002)
(('Chaim', 'M'),         region sex  year   name  count      freq
3800425     NJ   M  2000  Chaim     18  0.000005)
(('Chance', 'M'),         region sex  year    name  count      freq
6097217     WI   M  2007  Chance     17  0.000005
5206747     TN   M  2002  Chance     48  0.000015)
(('Chandler', 'F'),         region sex  year      name  count      freq
4500719     OK   F  1995  Chandler     23  0.000007
5730470     VA   F  1995  Chandler     27  0.000008)
(('Chandler', 'M'),         region sex  year      name  count      freq
5972214     WA   M  2004  Chandler     11  0.000003)
(('Chandra', 'F'),         region sex  year     name  count      freq
1553891     IA   F  1973  Chandra      5  0.000002
2198629     KY   F  1986  Chandra      5  0.000002
2579398     MD   F  1979  Chandra      8  0.000003)
(('Chanel', 'F'),         region sex  year    name  count      freq
834754      CO   F  2009  Chanel      7  0.000002
5761372     VA   F  2019  Chanel      5  0.000002
4019261     NY   F  1975  Chanel     18  0.000007)
(('Chanelle', 'F'),         region sex  year      name  count      freq
3719656     NJ   F  1993  Chanelle      8  0.000002)
(('Channing', 'F'),         region sex  year      name  count      freq
5368363     TX   F  2003  Channing     14  0.000004
4602190     OR   F  1987  Channing      6  0.000002)
(('Chantel', 'F'),         region sex  year     name  count      freq
1123565     FL   F  1989  Chantel     38  0.000011)
(('Charisma', 'F'),         region sex  year      name  count      freq
1155818     FL   F  2006  Charisma     13  0.000004)
(('Charisse', 'F'),         region sex  year      name  count      freq
1118425     FL   F  1985  Charisse      7  0.000002)
(('Charity', 'F'),         region sex  year     name  count      freq
2772292     MI   F  1983  Charity     30  0.000010
3054245     MO   F  1967  Charity      6  0.000002
1637214     ID   F  1974  Charity     11  0.000004
5914298     WA   F  2005  Charity      5  0.000001)
(('Charla', 'F'),        region sex  year    name  count      freq
806945     CO   F  1972  Charla      5  0.000002)
(('Charleigh', 'F'),         region sex  year       name  count      freq
2212303     KY   F  2007  Charleigh      5  0.000001)
(('Charlene', 'F'),         region sex  year      name  count      freq
5114650     TN   F  1972  Charlene     24  0.000008
6131643     WV   F  1965  Charlene     22  0.000006
5100221     TN   F  1949  Charlene     39  0.000012
1746126     IL   F  1980  Charlene     40  0.000013
4268465     OH   F  1934  Charlene     88  0.000046
2314703     LA   F  1971  Charlene     57  0.000018
2924065     MN   F  1957  Charlene     49  0.000012)
(('Charles', 'F'),         region sex  year     name  count      freq
5255544     TX   F  1941  Charles     24  0.000010
3186721     MS   F  1954  Charles     13  0.000003
2172503     KY   F  1940  Charles      9  0.000004
2317466     LA   F  1974  Charles      7  0.000003
4273581     OH   F  1942  Charles      9  0.000003)
(('Charles', 'M'),         region sex  year     name  count      freq
387761      AZ   M  2018  Charles     95  0.000032
3238807     MS   M  1940  Charles    853  0.000395
4791573     PA   M  1925  Charles   2904  0.001337
...        ...  ..   ...      ...    ...       ...
1057870     DE   M  1956  Charles    116  0.000030
3927563     NV   M  1943  Charles     30  0.000011
3109580     MO   M  1930  Charles   1121  0.000541

[9 rows x 6 columns])
(('Charlesetta', 'F'),         region sex  year         name  count      freq
5281165     TX   F  1961  Charlesetta      7  0.000002)
(('Charley', 'M'),         region sex  year     name  count      freq
4129003     NY   M  1919  Charley      5  0.000003
1401864     GA   M  1940  Charley      8  0.000004)
(('Charlie', 'M'),         region sex  year     name  count      freq
1855573     IL   M  1972  Charlie     29  0.000010
1445082     GA   M  2002  Charlie     43  0.000013
4989063     SC   M  1943  Charlie    115  0.000043
3325610     MT   M  2016  Charlie      5  0.000002
1841030     IL   M  1954  Charlie     20  0.000005
3227165     MS   M  1914  Charlie    161  0.000124
3773018     NJ   M  1961  Charlie     19  0.000005)
(('Charline', 'F'),         region sex  year      name  count      freq
3031898     MO   F  1929  Charline     13  0.000006)
(('Charlize', 'F'),         region sex  year      name  count      freq
1143141     FL   F  2000  Charlize     10  0.000003)
(('Charlotte', 'F'),         region sex  year       name  count      freq
1337487     GA   F  1989  Charlotte     39  0.000011
1005253     DC   F  2006  Charlotte     28  0.000008
4604312     OR   F  1991  Charlotte     11  0.000003
4874594     RI   F  1934  Charlotte     11  0.000006
795564      CO   F  1949  Charlotte     36  0.000011
2910692     MN   F  1926  Charlotte     90  0.000042)
(('Charlsie', 'F'),         region sex  year      name  count      freq
1289005     GA   F  1920  Charlsie      5  0.000002)
(('Chase', 'F'),         region sex  year   name  count      freq
3391281     NC   F  1999  Chase      5  0.000002)
(('Chase', 'M'),         region sex  year   name  count      freq
4833419     PA   M  1989  Chase     51  0.000015
4908357     RI   M  2007  Chase     15  0.000004
3659050     NH   M  1989  Chase      5  0.000001
3816432     NJ   M  2015  Chase    195  0.000062)
(('Chasidy', 'F'),         region sex  year     name  count      freq
3059073     MO   F  1974  Chasidy      6  0.000002)
(('Chasity', 'F'),         region sex  year     name  count      freq
6135053     WV   F  1974  Chasity     14  0.000005
4319309     OH   F  1987  Chasity     35  0.000011
5339465     TX   F  1993  Chasity     73  0.000022)
(('Chauncey', 'M'),         region sex  year      name  count      freq
1459869     GA   M  2012  Chauncey      5  0.000002)
(('Chava', 'F'),         region sex  year   name  count     freq
3747323     NJ   F  2015  Chava     33  0.00001)
(('Chayton', 'M'),        region sex  year     name  count      freq
720160     CA   M  1997  Chayton      6  0.000002)
(('Chaz', 'M'),         region sex  year  name  count      freq
2641369     MD   M  1989  Chaz      9  0.000003)
(('Chazz', 'M'),         region sex  year   name  count      freq
3798000     NJ   M  1997  Chazz      6  0.000002)
(('Chelcie', 'F'),         region sex  year     name  count      freq
2783709     MI   F  1992  Chelcie      5  0.000001)
(('Chelsa', 'F'),        region sex  year    name  count      freq
502143     CA   F  1989  Chelsa      7  0.000002)
(('Chelsea', 'F'),         region sex  year     name  count      freq
5924845     WA   F  2014  Chelsea     13  0.000004
2758603     MI   F  1970  Chelsea      8  0.000002
1491593     HI   F  1990  Chelsea     84  0.000024)
(('Chelsee', 'F'),         region sex  year     name  count      freq
5612664     UT   F  1987  Chelsee      9  0.000003)
(('Chelsey', 'F'),         region sex  year     name  count      freq
3718051     NJ   F  1992  Chelsey     36  0.000010
1564545     IA   F  1996  Chelsey     17  0.000005
4766731     PA   F  2010  Chelsey      8  0.000003)
(('Chelsi', 'F'),         region sex  year    name  count      freq
4322001     OH   F  1989  Chelsi     13  0.000004
511740      CA   F  1992  Chelsi     28  0.000008)
(('Chelsie', 'F'),         region sex  year     name  count      freq
2199016     KY   F  1987  Chelsie      8  0.000002
4493514     OK   F  1983  Chelsie     11  0.000003)
(('Cher', 'F'),         region sex  year  name  count      freq
1102310     FL   F  1971  Cher      7  0.000002)
(('Cheri', 'F'),         region sex  year   name  count      freq
4004980     NY   F  1967  Cheri     59  0.000019
5597829     UT   F  1953  Cheri     11  0.000003)
(('Cherice', 'F'),        region sex  year     name  count      freq
445268     CA   F  1966  Cherice      6  0.000002)
(('Cherie', 'F'),         region sex  year    name  count      freq
436655      CA   F  1962  Cherie    111  0.000029
5703801     VA   F  1959  Cherie     10  0.000003
2457547     MA   F  1970  Cherie     24  0.000007
5726402     VA   F  1990  Cherie      5  0.000001
1487589     HI   F  1977  Cherie      7  0.000002)
(('Cherise', 'F'),         region sex  year     name  count      freq
5341099     TX   F  1993  Cherise      6  0.000002)

(('Cherish', 'F'),         region sex  year     name  count      freq
1953242     IN   F  1975  Cherish      6  0.000002)
(('Cherita', 'F'),         region sex  year     name  count      freq
2758864     MI   F  1970  Cherita      5  0.000001)
(('Cherri', 'F'),         region sex  year    name  count      freq
5304424     TX   F  1976  Cherri      7  0.000003
4485292     OK   F  1968  Cherri      5  0.000002)
(('Cherrie', 'F'),         region sex  year     name  count      freq
5876699     WA   F  1956  Cherrie      5  0.000001)
(('Cherry', 'F'),         region sex  year    name  count      freq
2178435     KY   F  1951  Cherry      7  0.000002)
(('Cheryl', 'F'),         region sex  year    name  count      freq
1045013     DE   F  1975  Cheryl     12  0.000004
1041425     DE   F  1957  Cheryl     91  0.000023)
(('Cheryle', 'F'),        region sex  year     name  count      freq
419831     CA   F  1951  Cheryle     25  0.000007)
(('Cheryll', 'F'),         region sex  year     name  count      freq
4289411     OH   F  1960  Cheryll      8  0.000002)
(('Chester', 'M'),         region sex  year     name  count      freq
6059182     WI   M  1922  Chester    107  0.000050
5640510     UT   M  1926  Chester      6  0.000003
649485      CA   M  1955  Chester     53  0.000014
4795273     PA   M  1931  Chester    157  0.000080
4805306     PA   M  1949  Chester    110  0.000033
2618094     MD   M  1923  Chester     24  0.000011
2622524     MD   M  1942  Chester     27  0.000010)
(('Cheyanne', 'F'),         region sex  year      name  count      freq
1494586     HI   F  1999  Cheyanne      6  0.000002
2963741     MN   F  2014  Cheyanne      5  0.000002)
(('Cheyenne', 'F'),         region sex  year      name  count      freq
2601956     MD   F  2008  Cheyenne     35  0.000010
816401      CO   F  1988  Cheyenne      9  0.000003
4496037     OK   F  1987  Cheyenne      9  0.000003)
(('China', 'F'),        region sex  year   name  count      freq
515952     CA   F  1993  China     16  0.000005)
(('Chong', 'F'),        region sex  year   name  count      freq
516811     CA   F  1993  Chong      8  0.000002)
(('Chris', 'F'),         region sex  year   name  count      freq
4729651     PA   F  1983  Chris      5  0.000002)
(('Chris', 'M'),         region sex  year   name  count      freq
6171988     WV   M  1969  Chris     31  0.000010
3246997     MS   M  1957  Chris     11  0.000003
4540601     OK   M  1957  Chris     80  0.000020
2990181     MN   M  1967  Chris    117  0.000037)
(('Christa', 'F'),         region sex  year     name  count      freq
924511      CT   F  1989  Christa     12  0.000003
3073183     MO   F  1993  Christa     11  0.000003
1102825     FL   F  1972  Christa     41  0.000014)
(('Christal', 'F'),         region sex  year      name  count      freq
5715185     VA   F  1976  Christal      8  0.000003)
(('Christen', 'F'),         region sex  year      name  count      freq
3075897     MO   F  1996  Christen      7  0.000002)
(('Christi', 'F'),        region sex  year     name  count      freq
435005     CA   F  1961  Christi     46  0.000012)
(('Christian', 'F'),         region sex  year       name  count      freq
4321776     OH   F  1989  Christian     26  0.000007
2598294     MD   F  2004  Christian     10  0.000003
203632      AR   F  1988  Christian     11  0.000003)
(('Christian', 'M'),         region sex  year       name  count      freq
1599877     IA   M  1969  Christian     29  0.000009
2529674     MA   M  1991  Christian    183  0.000052
5670677     UT   M  2009  Christian    105  0.000032
1416243     GA   M  1965  Christian      6  0.000002
4151092     NY   M  1952  Christian     40  0.000011
5854023     VT   M  1969  Christian      8  0.000002)
(('Christianna', 'F'),         region sex  year         name  count      freq
4056337     NY   F  1993  Christianna      7  0.000002)
(('Christianne', 'F'),        region sex  year         name  count      freq
468369     CA   F  1977  Christianne      6  0.000002)
(('Christie', 'F'),         region sex  year      name  count      freq
1484465     HI   F  1967  Christie      8  0.000003
3193240     MS   F  1965  Christie      9  0.000003
3571605     NE   F  1970  Christie      9  0.000003)
(('Christina', 'F'),         region sex  year       name  count      freq
1630237     ID   F  1948  Christina      9  0.000003
828066      CO   F  2003  Christina     31  0.000009
4713084     PA   F  1969  Christina    518  0.000160
6006724     WI   F  1953  Christina     18  0.000005)
(('Christine', 'F'),         region sex  year       name  count      freq
3028511     MO   F  1923  Christine     32  0.000015
3036323     MO   F  1938  Christine     16  0.000008
3208894     MS   F  1993  Christine     13  0.000004
...        ...  ..   ...        ...    ...       ...
4606005     OR   F  1994  Christine     25  0.000008
174361      AR   F  1926  Christine     67  0.000031
831528      CO   F  2006  Christine      8  0.000002

[8 rows x 6 columns])
(('Christofer', 'M'),         region sex  year        name  count      freq
5536241     TX   M  2000  Christofer     10  0.000003)
(('Christoper', 'M'),         region sex  year        name  count      freq
5498521     TX   M  1976  Christoper      9  0.000003)
(('Christophe', 'M'),         region sex  year        name  count      freq
4189928     NY   M  1986  Christophe      7  0.000002)
(('Christopher', 'M'),         region sex  year         name  count      freq
6206349     WY   M  1957  Christopher     15  0.000004
3934815     NV   M  1990  Christopher    252  0.000071
3550765     ND   M  2015  Christopher     16  0.000005
2993187     MN   M  1975  Christopher    822  0.000299
2981070     MN   M  1942  Christopher      8  0.000003
2144539     KS   M  2001  Christopher    161  0.000049)
(('Christos', 'M'),         region sex  year      name  count      freq
2534105     MA   M  1998  Christos      8  0.000002)
(('Christy', 'F'),         region sex  year     name  count      freq
5601526     UT   F  1963  Christy     24  0.000006
5103795     TN   F  1955  Christy     17  0.000004)
(('Chrystian', 'M'),         region sex  year       name  count      freq
4213527     NY   M  2000  Chrystian      8  0.000002)
(('Chuck', 'M'),         region sex  year   name  count      freq
1857938     IL   M  1974  Chuck      5  0.000002)
(('Chyenne', 'F'),         region sex  year     name  count      freq
5359974     TX   F  2000  Chyenne      6  0.000002)
(('Chyna', 'F'),         region sex  year   name  count      freq
3384328     NC   F  1993  Chyna      8  0.000002)
(('Ciera', 'F'),         region sex  year   name  count      freq
4053213     NY   F  1992  Ciera     19  0.000006)
(('Cierra', 'F'),         region sex  year    name  count      freq
5416510     TX   F  2016  Cierra      7  0.000002
5896533     WA   F  1987  Cierra      8  0.000002
3217448     MS   F  2007  Cierra      5  0.000001
2091696     KS   F  1986  Cierra      6  0.000002)
(('Cillian', 'M'),         region sex  year     name  count      freq
4869522     PA   M  2020  Cillian     18  0.000006)
(('Cipriano', 'M'),         region sex  year      name  count      freq
5587173     TX   M  2020  Cipriano      6  0.000002)
(('Clair', 'M'),         region sex  year   name  count      freq
5936366     WA   M  1925  Clair      5  0.000002)
(('Claire', 'F'),         region sex  year    name  count      freq
5093249     TN   F  1935  Claire      5  0.000003
1376179     GA   F  2015  Claire    125  0.000040
1800532     IL   F  2012  Claire    225  0.000072
...        ...  ..   ...     ...    ...       ...
4321591     OH   F  1989  Claire     68  0.000020
1098591     FL   F  1967  Claire      6  0.000002
2938512     MN   F  1983  Claire     21  0.000007

[8 rows x 6 columns])
(('Clara', 'F'),         region sex  year   name  count      freq
1290337     GA   F  1923  Clara    235  0.000110
787222      CO   F  1921  Clara     45  0.000021
4913532     SC   F  1916  Clara    121  0.000068
...        ...  ..   ...    ...    ...       ...
4055127     NY   F  1993  Clara     50  0.000015
4718929     PA   F  1974  Clara     16  0.000006
3824405     NM   F  1918  Clara     22  0.000011

[12 rows x 6 columns])
(('Clarabelle', 'F'),         region sex  year        name  count      freq
4259493     OH   F  1919  Clarabelle     14  0.000007)
(('Clare', 'F'),         region sex  year   name  count      freq
4339588     OH   F  2002  Clare     29  0.000009
576803      CA   F  2009  Clare     38  0.000012
3667632     NJ   F  1915  Clare     12  0.000007
1574323     IA   F  2012  Clare      6  0.000002
1121390     FL   F  1987  Clare      6  0.000002)
(('Clarence', 'M'),         region sex  year      name  count      freq
2372680     LA   M  1941  Clarence    167  0.000073
5438975     TX   M  1920  Clarence    328  0.000156
2696047     ME   M  1923  Clarence     51  0.000024
2232326     KY   M  1930  Clarence    176  0.000085
4999613     SC   M  1966  Clarence     52  0.000016
3472680     NC   M  1992  Clarence     20  0.000006
5847335     VT   M  1914  Clarence     18  0.000014)
(('Claretha', 'F'),         region sex  year      name  count      freq
1300613     GA   F  1941  Claretha      8  0.000003)
(('Clarice', 'F'),         region sex  year     name  count      freq
4576209     OR   F  1914  Clarice      5  0.000004)
(('Clarissa', 'F'),         region sex  year      name  count      freq
3414108     NC   F  2014  Clarissa      5  0.000002
3297854     MT   F  1992  Clarissa      6  0.000002
6027917     WI   F  1989  Clarissa     14  0.000004)
(('Clark', 'M'),         region sex  year   name  count      freq
955330      CT   M  1964  Clark      9  0.000002
2029803     IN   M  1983  Clark      6  0.000002
2121053     KS   M  1937  Clark     10  0.000005
2623217     MD   M  1944  Clark      6  0.000002)
(('Claud', 'M'),         region sex  year   name  count      freq
2367007     LA   M  1928  Claud      6  0.000003)
(('Claude', 'M'),         region sex  year    name  count      freq
2124317     KS   M  1948  Claude     14  0.000004
138347      AL   M  1978  Claude     11  0.000004
2398760     LA   M  1983  Claude     16  0.000005
1848743     IL   M  1964  Claude     40  0.000011)
(('Claudette', 'F'),        region sex  year       name  count      freq
535706     CA   F  1998  Claudette      5  0.000002
57947      AL   F  1960  Claudette     13  0.000003)
(('Claudia', 'F'),         region sex  year     name  count      freq
5990027     WI   F  1912  Claudia      5  0.000006
1703365     IL   F  1942  Claudia     73  0.000028
909520      CT   F  1958  Claudia     35  0.000009)
(('Claudine', 'F'),         region sex  year      name  count      freq
2290538     LA   F  1934  Claudine      5  0.000003)
(('Clay', 'M'),         region sex  year  name  count      freq
1255746     FL   M  2006  Clay     12  0.000004
641279      CA   M  1945  Clay      5  0.000002
4406863     OH   M  1974  Clay     10  0.000004
1847301     IL   M  1962  Clay     16  0.000004)
(('Clayton', 'M'),         region sex  year     name  count      freq
2047245     IN   M  2008  Clayton     73  0.000022
2999128     MN   M  1989  Clayton     23  0.000007
1667868     ID   M  1979  Clayton     13  0.000004
...        ...  ..   ...      ...    ...       ...
1255061     FL   M  2006  Clayton     91  0.000027
2661750     MD   M  2016  Clayton     19  0.000006
4664031     OR   M  2017  Clayton     17  0.000006

[8 rows x 6 columns])
(('Clement', 'M'),         region sex  year     name  count      freq
3109538     MO   M  1929  Clement      5  0.000002)
(('Clementine', 'F'),         region sex  year        name  count      freq
5097798     TN   F  1944  Clementine      5  0.000002
2111179     KS   F  2018  Clementine      9  0.000003)
(('Clemmie', 'F'),       region sex  year     name  count      freq
33333     AL   F  1918  Clemmie     14  0.000007)
(('Cleo', 'F'),         region sex  year  name  count      freq
4467398     OK   F  1933  Cleo     15  0.000008)
(('Cleo', 'M'),         region sex  year  name  count      freq
5501180     TX   M  1978  Cleo      6  0.000002
119123      AL   M  1941  Cleo      8  0.000003)
(('Cleona', 'F'),         region sex  year    name  count      freq
4258496     OH   F  1917  Cleona      5  0.000003)
(('Cleta', 'F'),         region sex  year   name  count      freq
4465913     OK   F  1930  Cleta     11  0.000005)
(('Cleveland', 'M'),         region sex  year       name  count      freq
1215545     FL   M  1970  Cleveland     13  0.000004)
(('Cliff', 'M'),         region sex  year   name  count      freq
862637      CO   M  1967  Cliff      5  0.000002
4397657     OH   M  1961  Cliff     10  0.000003)
(('Clifford', 'M'),         region sex  year      name  count      freq
1505771     HI   M  1948  Clifford     34  0.000010
1062722     DE   M  1987  Clifford      5  0.000002)
(('Clifton', 'M'),         region sex  year     name  count      freq
1513259     HI   M  1976  Clifton      8  0.000003
2223688     KY   M  1912  Clifton     14  0.000016
5653676     UT   M  1975  Clifton     10  0.000004
2134774     KS   M  1977  Clifton      9  0.000003)
(('Clint', 'M'),         region sex  year   name  count      freq
2849177     MI   M  1961  Clint      7  0.000002
5485578     TX   M  1965  Clint     44  0.000013)
(('Clinton', 'M'),         region sex  year     name  count      freq
5554160     TX   M  2008  Clinton     20  0.000006
2361098     LA   M  1916  Clinton     15  0.000008
2410970     LA   M  1999  Clinton      5  0.000002)
(('Clovis', 'M'),         region sex  year    name  count      freq
5441308     TX   M  1922  Clovis     19  0.000009)
(('Clyde', 'F'),         region sex  year   name  count      freq
3170323     MS   F  1923  Clyde      7  0.000003)
(('Clyde', 'M'),         region sex  year   name  count      freq
5640807     UT   M  1928  Clyde     23  0.000011
2374284     LA   M  1944  Clyde     69  0.000027)
(('Coda', 'M'),        region sex  year  name  count      freq
761397     CA   M  2012  Coda      5  0.000002)
(('Cody', 'F'),        region sex  year  name  count      freq
500887     CA   F  1989  Cody     21  0.000006)
(('Cody', 'M'),         region sex  year  name  count      freq
1515264     HI   M  1983  Cody     23  0.000007
3004876     MN   M  2000  Cody    162  0.000048
248598      AR   M  1975  Cody     15  0.000005)
(('Cohen', 'M'),         region sex  year   name  count      freq
3549281     ND   M  2009  Cohen      9  0.000003)
(('Colbie', 'F'),         region sex  year    name  count      freq
4773290     PA   F  2014  Colbie      7  0.000002
4969081     SC   F  2012  Colbie      5  0.000002)
(('Colby', 'M'),         region sex  year   name  count      freq
2038984     IN   M  1998  Colby     13  0.000004
3321444     MT   M  2001  Colby     15  0.000005
6083404     WI   M  1984  Colby      5  0.000002
2531503     MA   M  1994  Colby     30  0.000009)
(('Cole', 'M'),         region sex  year  name  count      freq
3466696     NC   M  1983  Cole      5  0.000002
1032037     DC   M  2005  Cole     11  0.000003
4646901     OR   M  1988  Cole     22  0.000007
1681815     ID   M  2019  Cole     19  0.000007
6187044     WV   M  2020  Cole     22  0.000008)
(('Coleen', 'F'),         region sex  year    name  count      freq
5883637     WA   F  1968  Coleen      7  0.000002)
(('Coleman', 'M'),         region sex  year     name  count      freq
4561269     OK   M  2001  Coleman      7  0.000002)
(('Coleton', 'M'),         region sex  year     name  count      freq
4562567     OK   M  2003  Coleton      6  0.000002)
(('Colette', 'F'),         region sex  year     name  count      freq
2927544     MN   F  1963  Colette     14  0.000004
4323730     OH   F  1990  Colette      6  0.000002)
(('Colin', 'M'),         region sex  year   name  count      freq
4551234     OK   M  1982  Colin     12  0.000004
4398357     OH   M  1962  Colin     10  0.000003
4642630     OR   M  1977  Colin     14  0.000005
...        ...  ..   ...    ...    ...       ...
3790446     NJ   M  1989  Colin     86  0.000025
5797127     VA   M  1983  Colin     37  0.000012
6074162     WI   M  1963  Colin     10  0.000003

[9 rows x 6 columns])
(('Colleen', 'F'),         region sex  year     name  count      freq
1994170     IN   F  2017  Colleen      5  0.000002
5736574     VA   F  2001  Colleen     27  0.000008
395532      CA   F  1921  Colleen      9  0.000004
3366971     NC   F  1973  Colleen      9  0.000003)
(('Collin', 'M'),         region sex  year    name  count      freq
3500192     NC   M  2017  Collin     33  0.000011
2842669     MI   M  1951  Collin      5  0.000001
24668       AK   M  2000  Collin      5  0.000001)
(('Colon', 'M'),         region sex  year   name  count      freq
3443053     NC   M  1944  Colon     11  0.000004)
(('Colt', 'M'),         region sex  year  name  count      freq
4829757     PA   M  1984  Colt     10  0.000003
895150      CO   M  2020  Colt     32  0.000012)
(('Colten', 'M'),         region sex  year    name  count      freq
1272078     FL   M  2015  Colten     27  0.000009
3613849     NE   M  1991  Colten      5  0.000001)
(('Colton', 'M'),         region sex  year    name  count      freq
4655681     OR   M  2005  Colton     49  0.000015
4192729     NY   M  1988  Colton      8  0.000002
5655368     UT   M  1979  Colton      5  0.000002)
(('Concepcion', 'F'),         region sex  year        name  count      freq
5297360     TX   F  1972  Concepcion     12  0.000004
5232758     TX   F  1919  Concepcion     41  0.000021)
(('Conner', 'M'),         region sex  year    name  count      freq
3143115     MO   M  1997  Conner     51  0.000016
2547632     MA   M  2016  Conner     10  0.000003)
(('Connie', 'F'),         region sex  year    name  count      freq
45331       AL   F  1939  Connie     21  0.000010
3672326     NJ   F  1927  Connie     25  0.000012
1532490     IA   F  1924  Connie     12  0.000005
1628290     ID   F  1939  Connie     25  0.000012
4946565     SC   F  1980  Connie     13  0.000004
2176950     KY   F  1949  Connie    310  0.000094
2922403     MN   F  1954  Connie    206  0.000054)
(('Connie', 'M'),         region sex  year    name  count      freq
2383890     LA   M  1960  Connie      7  0.000002
1397372     GA   M  1931  Connie      6  0.000003)
(('Connor', 'M'),         region sex  year    name  count      freq
2263558     KY   M  1999  Connor     77  0.000023
2870692     MI   M  1991  Connor     84  0.000024
2270126     KY   M  2010  Connor    145  0.000046)
(('Conor', 'M'),         region sex  year   name  count      freq
6105723     WI   M  2017  Conor     14  0.000005)
(('Conrad', 'M'),         region sex  year    name  count      freq
2003741     IN   M  1927  Conrad     10  0.000005
2509522     MA   M  1940  Conrad      7  0.000003
1512759     HI   M  1974  Conrad      5  0.000002
1225969     FL   M  1983  Conrad      8  0.000003)
(('Constance', 'F'),         region sex  year       name  count      freq
3344657     NC   F  1942  Constance     29  0.000011
2449443     MA   F  1957  Constance     62  0.000015
2779065     MI   F  1989  Constance     22  0.000006
5148609     TN   F  2011  Constance      8  0.000003
993520      DC   F  1968  Constance     11  0.000003
3688788     NJ   F  1960  Constance     59  0.000015
2161155     KY   F  1919  Constance      9  0.000005)
(('Constanza', 'F'),        region sex  year       name  count      freq
606914     CA   F  2016  Constanza      7  0.000002)
(('Cooper', 'M'),         region sex  year    name  count      freq
5080002     SD   M  2019  Cooper     37  0.000013)

(('Cora', 'F'),         region sex  year  name  count      freq
1316157     GA   F  1964  Cora     13  0.000004
3645024     NH   F  2008  Cora      7  0.000002
2200171     KY   F  1989  Cora      8  0.000002)
(('Coral', 'F'),         region sex  year   name  count      freq
5364789     TX   F  2002  Coral     21  0.000006
2780935     MI   F  1990  Coral      6  0.000002
1140706     FL   F  1999  Coral     25  0.000008)
(('Coraline', 'F'),         region sex  year      name  count      freq
1814084     IL   F  2019  Coraline     20  0.000007
5153245     TN   F  2015  Coraline     15  0.000005)
(('Corbin', 'M'),         region sex  year    name  count      freq
372528      AZ   M  2002  Corbin     15  0.000005
716496      CA   M  1996  Corbin     28  0.000009
2417119     LA   M  2007  Corbin     22  0.000006
5561188     TX   M  2011  Corbin    189  0.000061)
(('Cordelia', 'F'),         region sex  year      name  count      freq
5296206     TX   F  1971  Cordelia      6  0.000002
5241819     TX   F  1927  Cordelia      8  0.000004)
(('Cordell', 'M'),         region sex  year     name  count      freq
3152121     MO   M  2008  Cordell     12  0.000004)
(('Cordie', 'F'),         region sex  year    name  count      freq
2158531     KY   F  1914  Cordie     10  0.000008)
(('Corey', 'M'),         region sex  year   name  count      freq
1601520     IA   M  1974  Corey     85  0.000031
2709594     ME   M  1988  Corey     66  0.000020
647851      CA   M  1953  Corey     12  0.000003
4439509     OH   M  2009  Corey     48  0.000015
4855722     PA   M  2010  Corey     38  0.000012)
(('Cori', 'F'),         region sex  year  name  count      freq
1954463     IN   F  1977  Cori     19  0.000007)
(('Corina', 'F'),         region sex  year    name  count      freq
2778250     MI   F  1988  Corina      8  0.000002)
(('Corine', 'F'),         region sex  year    name  count      freq
3030515     MO   F  1926  Corine      5  0.000002)
(('Corinne', 'F'),         region sex  year     name  count      freq
3575141     NE   F  1980  Corinne      6  0.000002
1092395     FL   F  1960  Corinne      6  0.000002
907133      CT   F  1952  Corinne     13  0.000004)
(('Cornelia', 'F'),        region sex  year      name  count      freq
984851     DC   F  1944  Cornelia      9  0.000004)
(('Cornelius', 'M'),         region sex  year       name  count      freq
5507531     TX   M  1983  Cornelius     21  0.000007
5175067     TN   M  1943  Cornelius      6  0.000002
2120547     KS   M  1935  Cornelius      5  0.000003
...        ...  ..   ...        ...    ...       ...
5219630     TN   M  2015  Cornelius      6  0.000002
3000861     MN   M  1992  Cornelius      5  0.000001
5490173     TX   M  1969  Cornelius     10  0.000003

[8 rows x 6 columns])
(('Corrie', 'F'),         region sex  year    name  count      freq
2327408     LA   F  1985  Corrie      5  0.000002
452426      CA   F  1970  Corrie     17  0.000005)
(('Corrina', 'F'),        region sex  year     name  count      freq
488283     CA   F  1985  Corrina     23  0.000007)
(('Corrine', 'F'),         region sex  year     name  count      freq
5888566     WA   F  1976  Corrine      5  0.000002
2766260     MI   F  1977  Corrine      6  0.000002)
(('Cortez', 'M'),         region sex  year    name  count      freq
5022091     SC   M  2007  Cortez      7  0.000002)
(('Cortney', 'F'),         region sex  year     name  count      freq
4734717     PA   F  1988  Cortney     58  0.000017
1121998     FL   F  1988  Cortney     44  0.000013
4597897     OR   F  1979  Cortney      7  0.000002)
(('Cory', 'M'),         region sex  year  name  count      freq
3800298     NJ   M  2000  Cory     31  0.000009
859364      CO   M  1959  Cory     11  0.000003
5648826     UT   M  1960  Cory     38  0.000010
1596420     IA   M  1959  Cory      7  0.000002)
(('Cosimo', 'M'),        region sex  year    name  count      freq
775494     CA   M  2017  Cosimo      7  0.000002)
(('Cosmo', 'M'),         region sex  year   name  count     freq
4134104     NY   M  1927  Cosmo     21  0.00001)
(('Coty', 'M'),         region sex  year  name  count      freq
2032867     IN   M  1989  Coty     21  0.000006
4831929     PA   M  1987  Coty     18  0.000006)
(('Courtland', 'M'),         region sex  year       name  count      freq
2400306     LA   M  1985  Courtland      9  0.000003)
(('Courtney', 'F'),         region sex  year      name  count      freq
4719642     PA   F  1975  Courtney    134  0.000049
1001950     DC   F  1994  Courtney     28  0.000008
3701262     NJ   F  1975  Courtney     74  0.000027
2682554     ME   F  1977  Courtney     16  0.000006)
(('Coy', 'M'),         region sex  year name  count      freq
685678      CA   M  1982  Coy      6  0.000002
3621076     NE   M  2010  Coy      5  0.000002)
(('Craig', 'M'),         region sex  year   name  count      freq
5175476     TN   M  1944  Craig      8  0.000003
3601396     NE   M  1946  Craig     20  0.000007
4414760     OH   M  1985  Craig    267  0.000082
3874703     NM   M  1956  Craig     21  0.000005
1418162     GA   M  1969  Craig    130  0.000040
1223618     FL   M  1981  Craig    120  0.000038
2551192     MA   M  2020  Craig      5  0.000002)
(('Cristal', 'F'),         region sex  year     name  count     freq
5349541     TX   F  1997  Cristal     97  0.00003)
(('Cristela', 'F'),        region sex  year      name  count      freq
489908     CA   F  1985  Cristela      5  0.000002)
(('Cristian', 'M'),         region sex  year      name  count      freq
741432      CA   M  2006  Cristian    700  0.000204
6107676     WI   M  2019  Cristian      8  0.000003
6214397     WY   M  2011  Cristian      5  0.000002)
(('Cristina', 'F'),         region sex  year      name  count      freq
333399      AZ   F  2016  Cristina      5  0.000002
3691545     NJ   F  1963  Cristina      8  0.000002)
(('Cristine', 'F'),         region sex  year      name  count      freq
3982853     NY   F  1951  Cristine     13  0.000004)
(('Cristobal', 'M'),         region sex  year       name  count      freq
5458211     TX   M  1939  Cristobal      9  0.000004)
(('Cristofer', 'M'),         region sex  year       name  count      freq
3943256     NV   M  2009  Cristofer      8  0.000002)
(('Cristopher', 'M'),         region sex  year        name  count      freq
4567709     OK   M  2010  Cristopher      5  0.000002
4209109     NY   M  1998  Cristopher     33  0.000010)
(('Crosby', 'M'),         region sex  year    name  count      freq
1620225     IA   M  2016  Crosby     10  0.000003)
(('Cruz', 'M'),         region sex  year  name  count      freq
5448246     TX   M  1929  Cruz     43  0.000021
3471354     NC   M  1990  Cruz      7  0.000002)
(('Crystal', 'F'),         region sex  year     name  count      freq
3565086     NE   F  1952  Crystal      6  0.000002
831109      CO   F  2006  Crystal     26  0.000008
3837402     NM   F  1961  Crystal     10  0.000003
...        ...  ..   ...      ...    ...       ...
1004038     DC   F  2001  Crystal      7  0.000002
1492631     HI   F  1993  Crystal     18  0.000005
3567171     NE   F  1958  Crystal     11  0.000003

[8 rows x 6 columns])
(('Cuca', 'F'),         region sex  year  name  count      freq
5234254     TX   F  1920  Cuca      8  0.000004)
(('Cullen', 'M'),         region sex  year    name  count      freq
4188801     NY   M  1985  Cullen      5  0.000002
1247441     FL   M  2001  Cullen     15  0.000005)
(('Curtis', 'M'),         region sex  year    name  count      freq
19502       AK   M  1972  Curtis     11  0.000004
3947259     NV   M  2016  Curtis      7  0.000002
1218912     FL   M  1975  Curtis     89  0.000032
...        ...  ..   ...     ...    ...       ...
5445043     TX   M  1926  Curtis    158  0.000074
3652316     NH   M  1946  Curtis      5  0.000002
631363      CA   M  1929  Curtis     17  0.000008

[13 rows x 6 columns])
(('Cyan', 'F'),        region sex  year  name  count      freq
548990     CA   F  2002  Cyan     13  0.000004)
(('Cydney', 'F'),         region sex  year    name  count      freq
1565862     IA   F  1998  Cydney      5  0.000002)
(('Cyndi', 'F'),         region sex  year   name  count      freq
5288188     TX   F  1966  Cyndi      9  0.000003)
(('Cynthia', 'F'),         region sex  year     name  count      freq
3176056     MS   F  1934  Cynthia     10  0.000005
1333535     GA   F  1985  Cynthia     69  0.000021
1751731     IL   F  1984  Cynthia    245  0.000077
2167270     KY   F  1930  Cynthia     14  0.000007
3368077     NC   F  1975  Cynthia    189  0.000069
1566696     IA   F  2000  Cynthia     13  0.000004)
(('Cypress', 'M'),         region sex  year     name  count      freq
3159975     MO   M  2016  Cypress      5  0.000002)
(('Cyril', 'M'),         region sex  year   name  count      freq
2226346     KY   M  1918  Cyril      7  0.000003
4816984     PA   M  1966  Cyril      5  0.000002)
(('Cyrus', 'M'),         region sex  year   name  count      freq
3276901     MS   M  2015  Cyrus      5  0.000002)
(('Dacia', 'F'),         region sex  year   name  count      freq
1325286     GA   F  1975  Dacia      6  0.000002)
(('Dafne', 'F'),         region sex  year   name  count      freq
5357004     TX   F  1999  Dafne      6  0.000002)
(('Dahlia', 'F'),         region sex  year    name  count      freq
1812063     IL   F  2018  Dahlia     36  0.000012)
(('Dailyn', 'F'),        region sex  year    name  count      freq
336945     AZ   F  2019  Dailyn      6  0.000002)
(('Daisy', 'F'),         region sex  year   name  count      freq
3187212     MS   F  1955  Daisy     21  0.000005
5912353     WA   F  2004  Daisy     49  0.000015
2434985     MA   F  1923  Daisy     10  0.000005
5233681     TX   F  1920  Daisy     80  0.000038
4052664     NY   F  1992  Daisy     85  0.000025
1751794     IL   F  1984  Daisy    113  0.000036
1331390     GA   F  1982  Daisy      7  0.000002)
(('Dakari', 'M'),        region sex  year    name  count      freq
720174     CA   M  1997  Dakari      6  0.000002)
(('Dakota', 'F'),         region sex  year    name  count      freq
2596186     MD   F  2002  Dakota     26  0.000008)
(('Dakota', 'M'),         region sex  year    name  count      freq
2868466     MI   M  1988  Dakota     10  0.000003)
(('Dale', 'F'),         region sex  year  name  count      freq
2735843     MI   F  1945  Dale     11  0.000004
6011307     WI   F  1961  Dale      7  0.000002)
(('Dale', 'M'),         region sex  year  name  count      freq
1672190     ID   M  1995  Dale      5  0.000002
649254      CA   M  1955  Dale    597  0.000156
3138163     MO   M  1989  Dale     16  0.000005
1999397     IN   M  1916  Dale     89  0.000050)
(('Daleyza', 'F'),         region sex  year     name  count      freq
2815586     MI   F  2015  Daleyza     10  0.000003)
(('Daliyah', 'F'),         region sex  year     name  count      freq
1796405     IL   F  2009  Daliyah      5  0.000002)
(('Dallas', 'F'),         region sex  year    name  count      freq
5410841     TX   F  2015  Dallas     41  0.000013)
(('Dallas', 'M'),         region sex  year    name  count      freq
3492438     NC   M  2011  Dallas     51  0.000016
1406762     GA   M  1949  Dallas      6  0.000002
1213582     FL   M  1967  Dallas     12  0.000004)
(('Dalton', 'M'),         region sex  year    name  count      freq
2373938     LA   M  1943  Dalton     14  0.000005)
(('Damaris', 'F'),         region sex  year     name  count      freq
3983974     NY   F  1952  Damaris     15  0.000004)
(('Damian', 'M'),         region sex  year    name  count      freq
4910910     RI   M  2018  Damian      7  0.000002
1884597     IL   M  1999  Damian     63  0.000019
5011092     SC   M  1990  Damian     17  0.000005)
(('Damien', 'M'),         region sex  year    name  count      freq
3261227     MS   M  1988  Damien      9  0.000003
2993069     MN   M  1974  Damien      8  0.000003
2264772     KY   M  2001  Damien     16  0.000005)
(('Damion', 'M'),         region sex  year    name  count      freq
4655349     OR   M  2004  Damion     10  0.000003)
(('Damon', 'M'),         region sex  year   name  count      freq
144721      AL   M  1990  Damon      8  0.000002
3931645     NV   M  1974  Damon      9  0.000003
5445767     TX   M  1926  Damon      6  0.000003)
(('Dan', 'M'),         region sex  year name  count      freq
6167248     WV   M  1954  Dan     11  0.000003
4219176     NY   M  2003  Dan      8  0.000002
1661120     ID   M  1951  Dan     26  0.000007
2131248     KS   M  1967  Dan     12  0.000004)
(('Dana', 'F'),         region sex  year  name  count      freq
3968191     NY   F  1935  Dana      6  0.000003
2330163     LA   F  1989  Dana     64  0.000018
4771473     PA   F  2013  Dana      9  0.000003
1483739     HI   F  1965  Dana     20  0.000006
1695128     IL   F  1929  Dana      9  0.000004
2565383     MD   F  1954  Dana     13  0.000003)
(('Dana', 'M'),         region sex  year  name  count      freq
1410020     GA   M  1955  Dana     17  0.000004)
(('Danae', 'F'),        region sex  year   name  count      freq
577102     CA   F  2009  Danae     25  0.000008)
(('Dane', 'M'),         region sex  year  name  count      freq
2265476     KY   M  2002  Dane      7  0.000002
1605108     IA   M  1984  Dane     13  0.000004)
(('Danette', 'F'),         region sex  year     name  count      freq
2450298     MA   F  1958  Danette      8  0.000002
4939407     SC   F  1967  Danette      6  0.000002)
(('Dangelo', 'M'),         region sex  year     name  count      freq
731411      CA   M  2002  Dangelo     29  0.000009
4209326     NY   M  1998  Dangelo     18  0.000005)
(('Dani', 'F'),         region sex  year  name  count      freq
2745884     MI   F  1957  Dani      7  0.000002)
(('Dania', 'F'),         region sex  year   name  count      freq
1124085     FL   F  1989  Dania     11  0.000003)
(('Danial', 'M'),         region sex  year    name  count      freq
4157888     NY   M  1959  Danial     10  0.000003)
(('Danica', 'F'),         region sex  year    name  count      freq
5931688     WA   F  2019  Danica      6  0.000002
1560895     IA   F  1988  Danica      5  0.000001
1160078     FL   F  2008  Danica     35  0.000010)
(('Daniel', 'M'),         region sex  year    name  count      freq
2507017     MA   M  1932  Daniel    242  0.000123
1021357     DC   M  1971  Daniel    107  0.000034
2845280     MI   M  1956  Daniel   1734  0.000442
...        ...  ..   ...     ...    ...       ...
1594675     IA   M  1955  Daniel    558  0.000146
4849116     PA   M  2005  Daniel    732  0.000219
2012583     IN   M  1951  Daniel    675  0.000192

[10 rows x 6 columns])
(('Daniela', 'F'),         region sex  year     name  count      freq
5727152     VA   F  1991  Daniela      7  0.000002
1140346     FL   F  1999  Daniela    134  0.000041
320475      AZ   F  2007  Daniela    114  0.000033)
(('Daniella', 'F'),         region sex  year      name  count      freq
1802650     IL   F  2013  Daniella     47  0.000015
2474878     MA   F  1994  Daniella      9  0.000003)
(('Danielle', 'F'),         region sex  year      name  count     freq
1568786     IA   F  2004  Danielle     33  0.00001)
(('Danielle', 'M'),         region sex  year      name  count      freq
5505397     TX   M  1981  Danielle      5  0.000002)
(('Danika', 'F'),         region sex  year    name  count      freq
5148948     TN   F  2011  Danika      5  0.000002)
(('Danish', 'M'),        region sex  year    name  count      freq
710448     CA   M  1993  Danish      5  0.000001)
(('Danny', 'M'),         region sex  year   name  count      freq
1880733     IL   M  1996  Danny     49  0.000015
4549730     OK   M  1979  Danny     39  0.000013
3264111     MS   M  1994  Danny     17  0.000005
1611877     IA   M  2001  Danny      5  0.000002
3120371     MO   M  1955  Danny    310  0.000081
344911      AZ   M  1946  Danny     50  0.000016
3605567     NE   M  1961  Danny     56  0.000014)
(('Dante', 'M'),         region sex  year   name  count      freq
2852367     MI   M  1966  Dante      8  0.000002
4822169     PA   M  1974  Dante     24  0.000009
4787072     PA   M  1917  Dante      7  0.000004
3267670     MS   M  2000  Dante      5  0.000001)
(('Danyelle', 'F'),         region sex  year      name  count      freq
3061200     MO   F  1977  Danyelle      6  0.000002)
(('Daphne', 'F'),         region sex  year    name  count      freq
2908477     MN   F  1920  Daphne      5  0.000002
3997214     NY   F  1962  Daphne     77  0.000020)
(('Dara', 'F'),         region sex  year  name  count      freq
5884856     WA   F  1970  Dara      8  0.000002)
(('Darci', 'F'),         region sex  year   name  count      freq
1953178     IN   F  1975  Darci      7  0.000003)
(('Darcy', 'F'),         region sex  year   name  count      freq
804645      CO   F  1968  Darcy     13  0.000004
3296086     MT   F  1984  Darcy      7  0.000002)
(('Daren', 'M'),         region sex  year   name  count      freq
1230905     FL   M  1988  Daren      9  0.000003)
(('Darian', 'F'),         region sex  year    name  count      freq
1128757     FL   F  1992  Darian     16  0.000005)
(('Darian', 'M'),         region sex  year    name  count      freq
1867590     IL   M  1984  Darian      8  0.000003
388282      AZ   M  2018  Darian      9  0.000003)
(('Darien', 'M'),         region sex  year    name  count      freq
1910685     IL   M  2016  Darien      8  0.000003
1862636     IL   M  1979  Darien      8  0.000003)
(('Darin', 'M'),         region sex  year   name  count      freq
4188118     NY   M  1985  Darin     20  0.000006
5788326     VA   M  1966  Darin     24  0.000007
4836413     PA   M  1992  Darin     11  0.000003)
(('Darion', 'M'),         region sex  year    name  count      freq
2413260     LA   M  2002  Darion      8  0.000002
1268878     FL   M  2013  Darion      9  0.000003
5021463     SC   M  2006  Darion      5  0.000001)
(('Darius', 'M'),         region sex  year    name  count      freq
3276735     MS   M  2015  Darius      8  0.000003
1445000     GA   M  2002  Darius     67  0.000020
2538771     MA   M  2005  Darius     14  0.000004
2396560     LA   M  1980  Darius     19  0.000006
3470118     NC   M  1989  Darius     91  0.000026)
(('Darla', 'F'),         region sex  year   name  count      freq
4587654     OR   F  1957  Darla     25  0.000006)
(('Darleen', 'F'),         region sex  year     name  count      freq
4685742     PA   F  1938  Darleen      5  0.000002)
(('Darlene', 'F'),         region sex  year     name  count      freq
1540051     IA   F  1944  Darlene     82  0.000032
5836813     VT   F  1950  Darlene     16  0.000005
4933349     SC   F  1957  Darlene     67  0.000017
3038676     MO   F  1943  Darlene     90  0.000034)
(('Darline', 'F'),         region sex  year     name  count      freq
5257944     TX   F  1943  Darline      9  0.000003)
(('Darnel', 'M'),         region sex  year    name  count      freq
4184738     NY   M  1982  Darnel      6  0.000002)
(('Darrel', 'M'),         region sex  year    name  count      freq
5772940     VA   M  1934  Darrel      5  0.000003
2119494     KS   M  1932  Darrel     29  0.000015
1880076     IL   M  1995  Darrel      8  0.000002)
(('Darrell', 'M'),         region sex  year     name  count      freq
1059789     DE   M  1967  Darrell      5  0.000002
3804932     NJ   M  2004  Darrell      6  0.000002
4173829     NY   M  1974  Darrell     92  0.000033
5505727     TX   M  1982  Darrell    128  0.000040)
(('Darren', 'M'),         region sex  year    name  count      freq
3654388     NH   M  1960  Darren      8  0.000002
5583060     TX   M  2019  Darren     29  0.000010)
(('Darrick', 'M'),         region sex  year     name  count      freq
1877518     IL   M  1993  Darrick      8  0.000002
717242      CA   M  1996  Darrick      9  0.000003)
(('Darrien', 'M'),         region sex  year     name  count      freq
1445637     GA   M  2002  Darrien      8  0.000002)
(('Darrin', 'M'),         region sex  year    name  count      freq
5803988     VA   M  1993  Darrin      8  0.000002)
(('Darrion', 'M'),         region sex  year     name  count      freq
2874930     MI   M  1995  Darrion      8  0.000002)
(('Darrius', 'M'),         region sex  year     name  count      freq
1442983     GA   M  2000  Darrius     13  0.000004)
(('Darrow', 'M'),         region sex  year    name  count      freq
4167617     NY   M  1968  Darrow      5  0.000002)
(('Darryl', 'M'),         region sex  year    name  count      freq
4535327     OK   M  1943  Darryl      8  0.000003
6079206     WI   M  1975  Darryl      8  0.000003
2374883     LA   M  1945  Darryl     24  0.000010
4798727     PA   M  1937  Darryl     17  0.000009
4999110     SC   M  1965  Darryl    125  0.000037
857870      CO   M  1955  Darryl      8  0.000002)
(('Darwin', 'M'),         region sex  year    name  count      freq
2863208     MI   M  1981  Darwin     11  0.000003
355844      AZ   M  1974  Darwin      5  0.000002)
(('Daryl', 'M'),         region sex  year   name  count      freq
5185999     TN   M  1966  Daryl     35  0.000011
4423952     OH   M  1995  Daryl     11  0.000003)
(('Dashaun', 'M'),         region sex  year     name  count      freq
4848629     PA   M  2004  Dashaun      9  0.000003)
(('Dashawn', 'M'),         region sex  year     name  count      freq
4437276     OH   M  2007  Dashawn     12  0.000003)
(('Dashiell', 'M'),         region sex  year      name  count      freq
4226818     NY   M  2007  Dashiell     12  0.000003)
(('Dasia', 'F'),         region sex  year   name  count      freq
3731739     NJ   F  2003  Dasia      6  0.000002)
(('Davante', 'M'),         region sex  year     name  count      freq
5550039     TX   M  2006  Davante      7  0.000002)
(('Dave', 'M'),         region sex  year  name  count      freq
2123649     KS   M  1946  Dave     16  0.000005
5454261     TX   M  1935  Dave     17  0.000009
5437431     TX   M  1918  Dave     26  0.000013
1396714     GA   M  1930  Dave     12  0.000006
3237226     MS   M  1936  Dave     14  0.000007)
(('Daveon', 'M'),        region sex  year    name  count      freq
751978     CA   M  2009  Daveon      8  0.000002)
(('David', 'F'),         region sex  year   name  count      freq
4060843     NY   F  1995  David      8  0.000002
5317237     TX   F  1983  David     34  0.000011
3990657     NY   F  1957  David      8  0.000002
427085      CA   F  1956  David     13  0.000003)
(('David', 'M'),         region sex  year   name  count      freq
1068200     DE   M  2015  David     16  0.000005
3112478     MO   M  1937  David    569  0.000286
1673237     ID   M  1999  David     69  0.000021
...        ...  ..   ...    ...    ...       ...
5061955     SD   M  1934  David     64  0.000033
3593335     NE   M  1916  David     42  0.000024
5010324     SC   M  1989  David    422  0.000121

[8 rows x 6 columns])
(('Davida', 'F'),        region sex  year    name  count      freq
436184     CA   F  1961  Davida      5  0.000001)
(('Davin', 'M'),        region sex  year   name  count      freq
681434     CA   M  1980  Davin     20  0.000006)
(('Davina', 'F'),         region sex  year    name  count      freq
4058317     NY   F  1994  Davina     10  0.000003)
(('Davion', 'M'),         region sex  year    name  count      freq
3937878     NV   M  1998  Davion      7  0.000002)
(('Davis', 'M'),         region sex  year   name  count      freq
4987670     SC   M  1939  Davis      6  0.000003)
(('Dawn', 'F'),         region sex  year  name  count      freq
6132667     WV   F  1968  Dawn     53  0.000017
6026470     WI   F  1987  Dawn     28  0.000009
6194840     WY   F  1971  Dawn     32  0.000010
...        ...  ..   ...   ...    ...       ...
5042436     SD   F  1957  Dawn     45  0.000011
4712058     PA   F  1968  Dawn    904  0.000286
1633098     ID   F  1959  Dawn     19  0.000005

[8 rows x 6 columns])
(('Dawson', 'M'),         region sex  year    name  count      freq
728550      CA   M  2001  Dawson     79  0.000024
3494990     NC   M  2013  Dawson     42  0.000014)
(('Dax', 'M'),         region sex  year name  count      freq
6215239     WY   M  2016  Dax      6  0.000002
2426193     LA   M  2017  Dax     22  0.000007)
(('Dayanna', 'F'),        region sex  year     name  count      freq
544899     CA   F  2001  Dayanna     17  0.000005)
(('Daymien', 'M'),        region sex  year     name  count      freq
752162     CA   M  2009  Daymien      7  0.000002)
(('Dayna', 'F'),         region sex  year   name  count      freq
2775489     MI   F  1986  Dayna     36  0.000011
3989366     NY   F  1956  Dayna      7  0.000002
2761544     MI   F  1973  Dayna     20  0.000007
2926480     MN   F  1961  Dayna      9  0.000002)
(('Dayshawn', 'M'),         region sex  year      name  count      freq
4435237     OH   M  2005  Dayshawn      5  0.000001)
(('Dayton', 'M'),         region sex  year    name  count      freq
3162506     MO   M  2019  Dayton     13  0.000004
5767197     VA   M  1921  Dayton      5  0.000002)
(('Deacon', 'M'),         region sex  year    name  count      freq
3019600     MN   M  2018  Deacon     16  0.000005)
(('Deagan', 'M'),        region sex  year    name  count      freq
760564     CA   M  2012  Deagan      9  0.000003)
(('Dean', 'M'),         region sex  year  name  count      freq
958404      CT   M  1973  Dean     27  0.000010
2049460     IN   M  2010  Dean     18  0.000006
3665447     NH   M  2018  Dean     11  0.000004
...        ...  ..   ...   ...    ...       ...
1842962     IL   M  1957  Dean    255  0.000064
3112573     MO   M  1937  Dean     47  0.000024
4869166     PA   M  2020  Dean     92  0.000033

[8 rows x 6 columns])
(('Deana', 'F'),         region sex  year   name  count      freq
2769126     MI   F  1980  Deana     19  0.000006
4064929     NY   F  1997  Deana     14  0.000004
3740070     NJ   F  2009  Deana      5  0.000002
4288001     OH   F  1959  Deana     27  0.000007)
(('Deandra', 'F'),         region sex  year     name  count      freq
1763249     IL   F  1991  Deandra      8  0.000002)
(('Deandre', 'M'),         region sex  year     name  count      freq
1467465     GA   M  2018  Deandre     18  0.000006
2268636     KY   M  2007  Deandre      6  0.000002
1063387     DE   M  1991  Deandre      6  0.000002)
(('Deann', 'F'),         region sex  year   name  count      freq
4300912     OH   F  1971  Deann     18  0.000006
2077133     KS   F  1955  Deann      9  0.000002)
(('Deanna', 'F'),         region sex  year    name  count      freq
3078215     MO   F  1999  Deanna     23  0.000007
1304163     GA   F  1947  Deanna      8  0.000002
5606782     UT   F  1976  Deanna     20  0.000007
...        ...  ..   ...     ...    ...       ...
3361372     NC   F  1966  Deanna     53  0.000016
289501      AZ   F  1971  Deanna     53  0.000017
808191      CO   F  1975  Deanna     33  0.000012

[9 rows x 6 columns])
(('Deanne', 'F'),         region sex  year    name  count      freq
3708518     NJ   F  1982  Deanne      5  0.000002
3714357     NJ   F  1988  Deanne      5  0.000001)
(('Deasia', 'F'),         region sex  year    name  count      freq
3213359     MS   F  2001  Deasia     11  0.000003)
(('Debbi', 'F'),         region sex  year   name  count      freq
1735747     IL   F  1972  Debbi      6  0.000002)
(('Debbie', 'F'),         region sex  year    name  count      freq
1314218     GA   F  1962  Debbie    341  0.000089
2739307     MI   F  1950  Debbie     37  0.000011)
(('Debby', 'F'),         region sex  year   name  count      freq
56690       AL   F  1958  Debby      9  0.000002
5261506     TX   F  1946  Debby      5  0.000002)
(('Debi', 'F'),         region sex  year  name  count      freq
5276276     TX   F  1958  Debi     24  0.000006)
(('Debora', 'F'),         region sex  year    name  count      freq
2754154     MI   F  1966  Debora     42  0.000013)
(('Deborah', 'F'),         region sex  year     name  count      freq
63653       AL   F  1969  Deborah    154  0.000047
3573631     NE   F  1976  Deborah     13  0.000005
6221457     PR   F  2006  Deborah      6  0.000002
5321041     TX   F  1985  Deborah    133  0.000041
3420101     NC   F  2018  Deborah      8  0.000003
2677492     ME   F  1959  Deborah    213  0.000054)
(('Debra', 'F'),         region sex  year   name  count      freq
3067529     MO   F  1986  Debra     18  0.000006
6026780     WI   F  1987  Debra      7  0.000002
203328      AR   F  1987  Debra      6  0.000002
5395        AK   F  1974  Debra      5  0.000002
4477541     OK   F  1954  Debra    657  0.000173
3291813     MT   F  1967  Debra     39  0.000012)
(('Debrah', 'F'),       region sex  year    name  count      freq
54781     AL   F  1955  Debrah      6  0.000002)
(('Declan', 'M'),         region sex  year    name  count      freq
2153635     KS   M  2016  Declan     42  0.000013)

(('Dedra', 'F'),         region sex  year   name  count      freq
4945968     SC   F  1979  Dedra     13  0.000004)
(('Dedrick', 'M'),         region sex  year     name  count      freq
5506346     TX   M  1982  Dedrick     11  0.000003)
(('Dee', 'F'),         region sex  year name  count      freq
3054836     MO   F  1968  Dee      8  0.000003
2756479     MI   F  1968  Dee      9  0.000003
2079489     KS   F  1960  Dee     24  0.000006)
(('Dee', 'M'),         region sex  year name  count      freq
4532146     OK   M  1935  Dee      6  0.000003)
(('Deion', 'M'),         region sex  year   name  count      freq
4422904     OH   M  1994  Deion     15  0.000005)
(('Deirdre', 'F'),         region sex  year     name  count      freq
3978043     NY   F  1947  Deirdre     40  0.000012)
(('Dejah', 'F'),         region sex  year   name  count      freq
4747199     PA   F  1997  Dejah     10  0.000003)
(('Dejane', 'F'),        region sex  year    name  count      freq
535722     CA   F  1998  Dejane      5  0.000002)
(('Dejanee', 'F'),        region sex  year     name  count      freq
502436     CA   F  1989  Dejanee      6  0.000002)
(('Delanie', 'F'),         region sex  year     name  count      freq
2795090     MI   F  2001  Delanie     12  0.000004)
(('Delano', 'M'),         region sex  year    name  count      freq
2977632     MN   M  1932  Delano      8  0.000004)
(('Delbert', 'M'),         region sex  year     name  count      freq
2002078     IN   M  1923  Delbert     45  0.000021
6152014     WV   M  1912  Delbert     24  0.000027
3308235     MT   M  1936  Delbert     12  0.000006
2129823     KS   M  1963  Delbert     11  0.000003
1586726     IA   M  1931  Delbert     68  0.000035)
(('Delia', 'F'),        region sex  year   name  count      freq
393008     CA   F  1916  Delia      5  0.000003)
(('Delilah', 'F'),         region sex  year     name  count      freq
4973630     SC   F  2018  Delilah     35  0.000012
4289484     OH   F  1960  Delilah      7  0.000002
3717577     NJ   F  1991  Delilah      6  0.000002)
(('Delisha', 'F'),         region sex  year     name  count      freq
5302587     TX   F  1975  Delisha      8  0.000003)
(('Delmar', 'M'),         region sex  year    name  count      freq
5438571     TX   M  1919  Delmar      9  0.000005)
(('Delmas', 'M'),         region sex  year    name  count      freq
3439222     NC   M  1937  Delmas      5  0.000003)
(('Delmer', 'M'),         region sex  year    name  count      freq
6160234     WV   M  1935  Delmer     10  0.000005
4385954     OH   M  1942  Delmer      5  0.000002)
(('Delois', 'F'),         region sex  year    name  count      freq
1083134     FL   F  1946  Delois      5  0.000002
3359450     NC   F  1963  Delois      9  0.000002)
(('Delon', 'M'),         region sex  year   name  count      freq
4422370     OH   M  1993  Delon      5  0.000001)
(('Delora', 'F'),        region sex  year    name  count      freq
499359     CA   F  1988  Delora      5  0.000001)
(('Delores', 'F'),         region sex  year     name  count      freq
2445083     MA   F  1948  Delores     12  0.000004
3837359     NM   F  1961  Delores     13  0.000003
2438544     MA   F  1932  Delores     26  0.000013)
(('Deloris', 'F'),         region sex  year     name  count      freq
2912689     MN   F  1931  Deloris     53  0.000027
1101072     FL   F  1970  Deloris     13  0.000004
6122160     WV   F  1943  Deloris     56  0.000021
1093803     FL   F  1962  Deloris     18  0.000005
6129684     WV   F  1960  Deloris     11  0.000003
402299      CA   F  1931  Deloris      6  0.000003
4931042     SC   F  1953  Deloris    104  0.000028)
(('Delpha', 'F'),         region sex  year    name  count      freq
4463380     OK   F  1925  Delpha      5  0.000002)
(('Delta', 'F'),         region sex  year   name  count      freq
2291021     LA   F  1935  Delta      6  0.000003)
(('Delton', 'M'),         region sex  year    name  count      freq
3446780     NC   M  1950  Delton      7  0.000002
2369695     LA   M  1934  Delton      9  0.000005)
(('Demarion', 'M'),         region sex  year      name  count      freq
3490299     NC   M  2009  Demarion     12  0.000004)
(('Demarius', 'M'),         region sex  year      name  count      freq
1434070     GA   M  1991  Demarius      6  0.000002)
(('Demetria', 'F'),         region sex  year      name  count      freq
2582020     MD   F  1983  Demetria      5  0.000002)
(('Demetrio', 'M'),         region sex  year      name  count      freq
3867631     NM   M  1930  Demetrio      6  0.000003
673013      CA   M  1974  Demetrio      5  0.000002)
(('Demetrius', 'F'),         region sex  year       name  count      freq
5292706     TX   F  1969  Demetrius      8  0.000002)
(('Demetrius', 'M'),         region sex  year       name  count      freq
2136363     KS   M  1981  Demetrius      5  0.000002
1440367     GA   M  1998  Demetrius     50  0.000015
2385182     LA   M  1962  Demetrius      7  0.000002
4568475     OK   M  2011  Demetrius      5  0.000002
382586      AZ   M  2012  Demetrius      5  0.000002)
(('Demi', 'F'),         region sex  year  name  count      freq
5920476     WA   F  2010  Demi      5  0.000002)
(('Demitri', 'M'),         region sex  year     name  count      freq
4206258     NY   M  1996  Demitri      8  0.000002)
(('Demond', 'M'),         region sex  year    name  count      freq
1867595     IL   M  1984  Demond      8  0.000003
2026482     IN   M  1977  Demond      7  0.000002)
(('Dena', 'F'),         region sex  year  name  count      freq
1555521     IA   F  1977  Dena     15  0.000005
4587012     OR   F  1955  Dena      6  0.000002
419817      CA   F  1951  Dena     27  0.000008)
(('Denim', 'M'),         region sex  year   name  count      freq
5545246     TX   M  2004  Denim      7  0.000002)
(('Denis', 'M'),         region sex  year   name  count      freq
1844783     IL   M  1959  Denis     25  0.000006)
(('Denise', 'F'),         region sex  year    name  count      freq
6010874     WI   F  1961  Denise    341  0.000087
2443481     MA   F  1945  Denise     48  0.000019
3690985     NJ   F  1963  Denise    658  0.000176
1548374     IA   F  1962  Denise    257  0.000067
3296120     MT   F  1984  Denise      6  0.000002
2924481     MN   F  1958  Denise    299  0.000076)
(('Denisha', 'F'),         region sex  year     name  count      freq
5363426     TX   F  2001  Denisha      5  0.000002)
(('Denita', 'F'),         region sex  year    name  count      freq
1943679     IN   F  1962  Denita      5  0.000001)
(('Dennis', 'M'),         region sex  year    name  count      freq
1035152     DC   M  2016  Dennis      6  0.000002
2265947     KY   M  2003  Dennis     10  0.000003
973603      CT   M  2009  Dennis      7  0.000002
4897881     RI   M  1947  Dennis    126  0.000037
3131561     MO   M  1977  Dennis    116  0.000040)
(('Denny', 'M'),         region sex  year   name  count      freq
3117389     MO   M  1948  Denny     13  0.000004
2838237     MI   M  1943  Denny      8  0.000003
1591360     IA   M  1945  Denny     13  0.000005
3127677     MO   M  1969  Denny     12  0.000004)
(('Denver', 'M'),         region sex  year    name  count      freq
6152468     WV   M  1914  Denver     20  0.000015)
(('Deonta', 'M'),         region sex  year    name  count      freq
5014240     SC   M  1995  Deonta      6  0.000002)
(('Deontae', 'M'),         region sex  year     name  count      freq
1231090     FL   M  1988  Deontae      6  0.000002)
(('Dereck', 'M'),         region sex  year    name  count      freq
1873971     IL   M  1990  Dereck      7  0.000002)
(('Derick', 'M'),         region sex  year    name  count      freq
2262900     KY   M  1997  Derick      6  0.000002
698675      CA   M  1989  Derick     49  0.000014
3544831     ND   M  1985  Derick      6  0.000002)
(('Deron', 'M'),         region sex  year   name  count      freq
672494      CA   M  1974  Deron     13  0.000005
4173018     NY   M  1973  Deron     15  0.000005
5509347     TX   M  1984  Deron      8  0.000003)
(('Derrick', 'M'),         region sex  year     name  count      freq
1519557     HI   M  1997  Derrick     12  0.000004
5069524     SD   M  1970  Derrick      9  0.000003
965440      CT   M  1992  Derrick     14  0.000004
2409500     LA   M  1998  Derrick     80  0.000024)
(('Derrion', 'M'),         region sex  year     name  count      freq
5563292     TX   M  2011  Derrion      5  0.000002)
(('Desean', 'M'),         region sex  year    name  count      freq
4239826     NY   M  2013  Desean      7  0.000002)
(('Deshaun', 'M'),         region sex  year     name  count      freq
3793613     NJ   M  1992  Deshaun      5  0.000001
1863867     IL   M  1980  Deshaun      5  0.000002
1453465     GA   M  2008  Deshaun     17  0.000005)
(('Deshawn', 'M'),         region sex  year     name  count      freq
1883329     IL   M  1998  Deshawn     41  0.000013)
(('Deshawna', 'F'),        region sex  year      name  count      freq
506587     CA   F  1990  Deshawna      5  0.000001)
(('Desirae', 'F'),        region sex  year     name  count      freq
496956     CA   F  1988  Desirae     60  0.000018)
(('Desiree', 'F'),         region sex  year     name  count      freq
5892350     WA   F  1982  Desiree     57  0.000018
207455      AR   F  1996  Desiree      8  0.000002)
(('Desmond', 'M'),         region sex  year     name  count      freq
5827336     VA   M  2017  Desmond     26  0.000009
2526457     MA   M  1984  Desmond      5  0.000002
2046844     IN   M  2007  Desmond      7  0.000002
...        ...  ..   ...      ...    ...       ...
1453252     GA   M  2008  Desmond     31  0.000009
4429923     OH   M  2001  Desmond     20  0.000006
4251143     NY   M  2019  Desmond     44  0.000015

[8 rows x 6 columns])
(('Dessie', 'F'),         region sex  year    name  count      freq
3169648     MS   F  1922  Dessie     15  0.000007)
(('Destin', 'M'),         region sex  year    name  count      freq
1463526     GA   M  2015  Destin     11  0.000003)
(('Destinee', 'F'),         region sex  year      name  count      freq
1369666     GA   F  2011  Destinee     23  0.000007)
(('Destini', 'F'),         region sex  year     name  count      freq
2808569     MI   F  2010  Destini      7  0.000002)
(('Destiny', 'F'),         region sex  year     name  count      freq
81098       AL   F  1995  Destiny    132  0.000041
4313652     OH   F  1982  Destiny     19  0.000006)
(('Devan', 'F'),         region sex  year   name  count      freq
1969098     IN   F  1995  Devan      9  0.000003
2472416     MA   F  1991  Devan      9  0.000003
2329033     LA   F  1987  Devan      6  0.000002)
(('Devan', 'M'),         region sex  year   name  count      freq
780647      CA   M  2019  Devan     12  0.000004
5808764     VA   M  1999  Devan      9  0.000003)
(('Deven', 'M'),         region sex  year   name  count      freq
2034921     IN   M  1992  Deven      8  0.000002)
(('Devin', 'F'),         region sex  year   name  count      freq
2469789     MA   F  1988  Devin     12  0.000004)
(('Devin', 'M'),         region sex  year   name  count      freq
390010      AZ   M  2020  Devin     20  0.000007
3661299     NH   M  2001  Devin     35  0.000011)
(('Devina', 'F'),         region sex  year    name  count      freq
5360328     TX   F  2000  Devina      5  0.000001)
(('Devion', 'M'),         region sex  year    name  count      freq
5532284     TX   M  1998  Devion     10  0.000003)
(('Devon', 'F'),         region sex  year   name  count      freq
2937561     MN   F  1981  Devon      6  0.000002
820513      CO   F  1994  Devon     11  0.000003
1158143     FL   F  2007  Devon     15  0.000004)
(('Devon', 'M'),         region sex  year   name  count      freq
2266353     KY   M  2004  Devon     32  0.000010
2013823     IN   M  1953  Devon      9  0.000002)
(('Devontae', 'M'),         region sex  year      name  count      freq
1250953     FL   M  2003  Devontae      7  0.000002
1885247     IL   M  1999  Devontae      8  0.000002)
(('Devonte', 'M'),         region sex  year     name  count      freq
4557926     OK   M  1995  Devonte      5  0.000002
5966082     WA   M  1996  Devonte      5  0.000002
2260909     KY   M  1993  Devonte     12  0.000004)
(('Devyn', 'F'),         region sex  year   name  count      freq
4758536     PA   F  2005  Devyn     10  0.000003
1970047     IN   F  1996  Devyn      8  0.000002
2479893     MA   F  2000  Devyn     10  0.000003)
(('Dewayne', 'M'),         region sex  year     name  count      freq
5460219     TX   M  1941  Dewayne      7  0.000003
4993851     SC   M  1953  Dewayne      5  0.000001
1213524     FL   M  1967  Dewayne     17  0.000005
1021242     DC   M  1970  Dewayne      8  0.000002)
(('Dewey', 'M'),         region sex  year   name  count      freq
2241221     KY   M  1948  Dewey     51  0.000016
5491140     TX   M  1970  Dewey     17  0.000005)
(('Dexter', 'M'),         region sex  year    name  count      freq
5073791     SD   M  1993  Dexter      6  0.000002
1218291     FL   M  1974  Dexter     30  0.000011
4556208     OK   M  1992  Dexter      8  0.000002
3150507     MO   M  2006  Dexter      7  0.000002
2401439     LA   M  1987  Dexter     44  0.000013)

(('Dia', 'F'),         region sex  year name  count      freq
1805944     IL   F  2014  Dia      5  0.000002)
(('Diamond', 'F'),        region sex  year     name  count      freq
597397     CA   F  2014  Diamond     26  0.000008)
(('Dian', 'F'),        region sex  year  name  count      freq
430343     CA   F  1958  Dian     12  0.000003)
(('Diana', 'F'),         region sex  year   name  count      freq
397286      CA   F  1924  Diana     18  0.000008
4756503     PA   F  2004  Diana     43  0.000013
1378231     GA   F  2016  Diana     30  0.000010
1640611     ID   F  1985  Diana      6  0.000002
4283552     OH   F  1955  Diana    619  0.000162
3204629     MS   F  1985  Diana     10  0.000003)
(('Diane', 'F'),         region sex  year   name  count      freq
5113256     TN   F  1970  Diane     35  0.000010
5899881     WA   F  1991  Diane     11  0.000003
4943120     SC   F  1974  Diane     16  0.000006
...        ...  ..   ...    ...    ...       ...
2324330     LA   F  1982  Diane     13  0.000004
6122981     WV   F  1945  Diane     37  0.000015
2168926     KY   F  1933  Diane      8  0.000004

[9 rows x 6 columns])
(('Diann', 'F'),         region sex  year   name  count      freq
2920619     MN   F  1950  Diann     15  0.000005
4709381     PA   F  1965  Diann     35  0.000010
2082054     KS   F  1965  Diann     10  0.000003)
(('Dianna', 'F'),         region sex  year    name  count      freq
2448457     MA   F  1955  Dianna     20  0.000005
1099032     FL   F  1968  Dianna     30  0.000009)
(('Dianne', 'F'),         region sex  year    name  count      freq
1477021     HI   F  1941  Dianne      5  0.000002
2913587     MN   F  1933  Dianne     12  0.000006)
(('Diedra', 'F'),         region sex  year    name  count      freq
5278460     TX   F  1959  Diedra      5  0.000001)
(('Diego', 'M'),         region sex  year   name  count      freq
654001      CA   M  1959  Diego     13  0.000003
5477000     TX   M  1957  Diego     12  0.000003)
(('Dillan', 'M'),         region sex  year    name  count      freq
877571      CO   M  1998  Dillan      7  0.000002
3490500     NC   M  2009  Dillan      8  0.000002
714015      CA   M  1995  Dillan     30  0.000009)
(('Dillard', 'M'),         region sex  year     name  count      freq
2240445     KY   M  1946  Dillard      8  0.000003)
(('Dillion', 'M'),         region sex  year     name  count      freq
1610425     IA   M  1998  Dillion      7  0.000002)
(('Dillon', 'M'),         region sex  year    name  count      freq
1243994     FL   M  1999  Dillon    126  0.000038
5672668     UT   M  2011  Dillon      8  0.000003
4655260     OR   M  2004  Dillon     15  0.000005)
(('Dimitri', 'M'),         region sex  year     name  count      freq
3491969     NC   M  2010  Dimitri      6  0.000002)
(('Dina', 'F'),         region sex  year  name  count      freq
5291884     TX   F  1969  Dina     98  0.000030
3366802     NC   F  1973  Dina     19  0.000007)
(('Dino', 'M'),         region sex  year  name  count      freq
4394702     OH   M  1957  Dino     14  0.000003
4813256     PA   M  1961  Dino     33  0.000008)
(('Dion', 'M'),         region sex  year  name  count      freq
5017353     SC   M  2000  Dion      5  0.000001
4822909     PA   M  1975  Dion     20  0.000007
5507829     TX   M  1983  Dion     10  0.000003)
(('Dionicio', 'M'),         region sex  year      name  count      freq
5473787     TX   M  1954  Dionicio      9  0.000002)
(('Dionne', 'F'),        region sex  year    name  count      freq
465047     CA   F  1976  Dionne     22  0.000008)
(('Dixie', 'F'),         region sex  year   name  count      freq
4467270     OK   F  1933  Dixie     42  0.000023
1294184     GA   F  1929  Dixie      6  0.000003
1628490     ID   F  1940  Dixie     22  0.000010
2568087     MD   F  1959  Dixie      8  0.000002)
(('Djibril', 'M'),         region sex  year     name  count      freq
4219463     NY   M  2003  Djibril      6  0.000002)
(('Dollie', 'F'),         region sex  year    name  count      freq
3026305     MO   F  1919  Dollie     18  0.000009)
(('Dolly', 'F'),         region sex  year   name  count      freq
3044094     MO   F  1952  Dolly      6  0.000002
2067021     KS   F  1928  Dolly      8  0.000004)
(('Dolores', 'F'),         region sex  year     name  count      freq
3336193     NC   F  1927  Dolores     15  0.000007)
(('Domenic', 'M'),         region sex  year     name  count      freq
4422074     OH   M  1993  Domenic     10  0.000003)
(('Domenico', 'M'),         region sex  year      name  count      freq
2522080     MA   M  1974  Domenico      8  0.000003)
(('Dominic', 'M'),         region sex  year     name  count      freq
3148283     MO   M  2004  Dominic    117  0.000035
4445986     OH   M  2014  Dominic    313  0.000099
4408069     OH   M  1976  Dominic     40  0.000015
...        ...  ..   ...      ...    ...       ...
1273515     FL   M  2016  Dominic    347  0.000111
1671447     ID   M  1993  Dominic     12  0.000004
4648713     OR   M  1992  Dominic     20  0.000006

[8 rows x 6 columns])
(('Dominick', 'M'),         region sex  year      name  count      freq
5010808     SC   M  1989  Dominick      5  0.000001
2711530     ME   M  1997  Dominick      8  0.000003)
(('Dominik', 'M'),         region sex  year     name  count      freq
1887793     IL   M  2001  Dominik     12  0.000004)
(('Dominique', 'M'),         region sex  year       name  count      freq
1889243     IL   M  2002  Dominique     11  0.000003
2404936     LA   M  1992  Dominique     55  0.000016
3461177     NC   M  1974  Dominique      6  0.000002)
(('Domonique', 'F'),         region sex  year       name  count      freq
4050705     NY   F  1991  Domonique     26  0.000007)
(('Don', 'M'),         region sex  year name  count      freq
1406412     GA   M  1949  Don     83  0.000025
868577      CO   M  1981  Don      6  0.000002
5655147     UT   M  1979  Don     21  0.000007
2625698     MD   M  1952  Don     24  0.000007
6166040     WV   M  1951  Don     45  0.000013
3447631     NC   M  1952  Don     78  0.000022
3470380     NC   M  1989  Don     15  0.000004)
(('Dona', 'F'),         region sex  year  name  count      freq
3999207     NY   F  1963  Dona     13  0.000003
1941216     IN   F  1959  Dona     10  0.000003)
(('Donald', 'M'),         region sex  year    name  count      freq
3893762     NM   M  2006  Donald      5  0.000001
5764647     VA   M  1916  Donald     36  0.000020
2360303     LA   M  1914  Donald     13  0.000010
...        ...  ..   ...     ...    ...       ...
6066765     WI   M  1944  Donald    641  0.000253
1596525     IA   M  1960  Donald    295  0.000075
5490616     TX   M  1970  Donald    596  0.000177

[12 rows x 6 columns])
(('Donaven', 'M'),         region sex  year     name  count      freq
5548071     TX   M  2005  Donaven      5  0.000001)
(('Dondre', 'M'),         region sex  year    name  count      freq
3794254     NJ   M  1993  Dondre      9  0.000003)
(('Donn', 'M'),        region sex  year  name  count      freq
657397     CA   M  1962  Donn     14  0.000004)
(('Donna', 'F'),         region sex  year   name  count      freq
5591313     UT   F  1928  Donna    145  0.000069
3282632     MT   F  1925  Donna     27  0.000012
5603026     UT   F  1967  Donna     24  0.000008
...        ...  ..   ...    ...    ...       ...
3509831     ND   F  1931  Donna    163  0.000083
1625434     ID   F  1924  Donna     50  0.000023
4490237     OK   F  1978  Donna     36  0.000013

[8 rows x 6 columns])
(('Donnell', 'M'),         region sex  year     name  count      freq
1415688     GA   M  1964  Donnell      5  0.000001)
(('Donnie', 'F'),         region sex  year    name  count      freq
5245791     TX   F  1931  Donnie     14  0.000007)
(('Donnie', 'M'),         region sex  year    name  count      freq
678208      CA   M  1978  Donnie     21  0.000007
2391182     LA   M  1972  Donnie     35  0.000012)
(('Donny', 'M'),         region sex  year   name  count      freq
3114461     MO   M  1941  Donny      6  0.000003
641102      CA   M  1945  Donny      9  0.000004)
(('Donovan', 'M'),         region sex  year     name  count      freq
1227650     FL   M  1985  Donovan     15  0.000005
6075461     WI   M  1966  Donovan      6  0.000002
2982433     MN   M  1946  Donovan      9  0.000003)
(('Donta', 'M'),         region sex  year   name  count      freq
1251272     FL   M  2003  Donta      5  0.000002)
(('Dontae', 'M'),         region sex  year    name  count      freq
5518256     TX   M  1990  Dontae     11  0.000003)
(('Donte', 'M'),         region sex  year   name  count      freq
2641156     MD   M  1989  Donte     34  0.000010
5497473     TX   M  1975  Donte      6  0.000002)
(('Dora', 'F'),         region sex  year  name  count      freq
1151526     FL   F  2004  Dora      9  0.000003
49119       AL   F  1946  Dora     26  0.000009
2060444     KS   F  1910  Dora      7  0.000014
1103421     FL   F  1972  Dora      6  0.000002)
(('Dorathy', 'F'),         region sex  year     name  count      freq
3956660     NY   F  1920  Dorathy      6  0.000003)
(('Doreen', 'F'),         region sex  year    name  count      freq
2909231     MN   F  1922  Doreen     10  0.000005
803307      CO   F  1965  Doreen      8  0.000002
3674454     NJ   F  1932  Doreen      9  0.000005)
(('Doretha', 'F'),         region sex  year     name  count      freq
2303542     LA   F  1956  Doretha      7  0.000002
2292408     LA   F  1938  Doretha     15  0.000007
4681000     PA   F  1931  Doretha      9  0.000005)
(('Dori', 'F'),         region sex  year  name  count      freq
4705617     PA   F  1961  Dori     10  0.000003)
(('Dorian', 'F'),         region sex  year    name  count      freq
5300919     TX   F  1974  Dorian      8  0.000003)
(('Dorian', 'M'),         region sex  year    name  count      freq
3156098     MO   M  2012  Dorian      6  0.000002
3021891     MN   M  2020  Dorian      5  0.000002)
(('Doris', 'F'),         region sex  year   name  count      freq
902686      CT   F  1938  Doris     50  0.000024
1038498     DE   F  1935  Doris     44  0.000023
5330790     TX   F  1989  Doris     11  0.000003
1942401     IN   F  1961  Doris     66  0.000017
4470205     OK   F  1939  Doris    180  0.000087
5088284     TN   F  1926  Doris    216  0.000101)
(('Dorman', 'M'),         region sex  year    name  count      freq
3433343     NC   M  1927  Dorman      6  0.000003)
(('Dorothea', 'F'),         region sex  year      name  count      freq
2720606     MI   F  1918  Dorothea     52  0.000026
5698757     VA   F  1951  Dorothea     10  0.000003
3974112     NY   F  1943  Dorothea     61  0.000023
2297097     LA   F  1946  Dorothea      5  0.000002
4266343     OH   F  1930  Dorothea     19  0.000009
1285419     GA   F  1914  Dorothea      5  0.000004)
(('Dorothy', 'F'),         region sex  year     name  count      freq
6051163     WI   F  2016  Dorothy     11  0.000004
275774      AZ   F  1936  Dorothy     48  0.000025
3055217     MO   F  1969  Dorothy     38  0.000012
...        ...  ..   ...      ...    ...       ...
792554      CO   F  1940  Dorothy    116  0.000054
5874696     WA   F  1953  Dorothy     50  0.000014
795892      CO   F  1950  Dorothy     72  0.000022

[12 rows x 6 columns])
(('Dory', 'F'),         region sex  year  name  count      freq
4699762     PA   F  1955  Dory      6  0.000002)
(('Doug', 'M'),         region sex  year  name  count      freq
6071227     WI   M  1956  Doug     11  0.000003)
(('Douglas', 'M'),         region sex  year     name  count      freq
2126903     KS   M  1956  Douglas    302  0.000077
4652405     OR   M  1999  Douglas     13  0.000004
4387537     OH   M  1946  Douglas    460  0.000152
3756606     NJ   M  1916  Douglas     20  0.000011
1668066     ID   M  1980  Douglas     44  0.000014)
(('Doyle', 'M'),         region sex  year   name  count      freq
130838      AL   M  1963  Doyle     11  0.000003
3442429     NC   M  1943  Doyle     14  0.000005
6159509     WV   M  1933  Doyle     10  0.000005
248768      AR   M  1975  Doyle      5  0.000002)
(('Drake', 'M'),         region sex  year   name  count      freq
24464       AK   M  1999  Drake      5  0.000002
2842086     MI   M  1950  Drake      5  0.000002
4653599     OR   M  2001  Drake      9  0.000003)
(('Draven', 'M'),         region sex  year    name  count      freq
5220450     TN   M  2016  Draven     10  0.000003)
(('Drew', 'F'),         region sex  year  name  count      freq
3082363     MO   F  2003  Drew      6  0.000002
1971973     IN   F  1998  Drew      8  0.000002)
(('Drew', 'M'),         region sex  year  name  count      freq
6175931     WV   M  1983  Drew     12  0.000004
967540      CT   M  1997  Drew     30  0.000009
4148002     NY   M  1948  Drew     25  0.000008
256305      AR   M  1995  Drew     21  0.000006)
(('Dru', 'M'),         region sex  year name  count      freq
5534507     TX   M  1999  Dru      7  0.000002)
(('Duane', 'M'),         region sex  year   name  count      freq
19983       AK   M  1975  Duane      5  0.000002
2135525     KS   M  1979  Duane      8  0.000003
3593682     NE   M  1917  Duane     13  0.000007
...        ...  ..   ...    ...    ...       ...
345039      AZ   M  1946  Duane      9  0.000003
364771      AZ   M  1991  Duane      7  0.000002
3258164     MS   M  1981  Duane      5  0.000002

[8 rows x 6 columns])
(('Duke', 'M'),        region sex  year  name  count      freq
978460     CT   M  2018  Duke      5  0.000002)
(('Duncan', 'M'),         region sex  year    name  count      freq
4429895     OH   M  2001  Duncan     22  0.000007
3159004     MO   M  2015  Duncan      5  0.000002
4812124     PA   M  1959  Duncan      8  0.000002)
(('Dwayne', 'M'),         region sex  year    name  count      freq
2516194     MA   M  1960  Dwayne     30  0.000008
6087368     WI   M  1992  Dwayne     13  0.000004
2409628     LA   M  1998  Dwayne     27  0.000008
857152      CO   M  1953  Dwayne     11  0.000003
364244      AZ   M  1990  Dwayne      5  0.000001
2009619     IN   M  1943  Dwayne      6  0.000002
2901469     MI   M  2018  Dwayne     12  0.000004)
(('Dwight', 'M'),         region sex  year    name  count      freq
1595507     IA   M  1957  Dwight     31  0.000008
2520709     MA   M  1971  Dwight     14  0.000004
2427671     LA   M  2018  Dwight      5  0.000002
2991109     MN   M  1969  Dwight     11  0.000003)
(('Dylan', 'M'),         region sex  year   name  count      freq
2531373     MA   M  1994  Dylan    288  0.000087
5020122     SC   M  2005  Dylan    133  0.000040
865031      CO   M  1973  Dylan      7  0.000003
4906547     RI   M  1999  Dylan     54  0.000016
1866343     IL   M  1983  Dylan     23  0.000007)
(('Dymond', 'F'),         region sex  year    name  count      freq
4090546     NY   F  2007  Dymond      5  0.000001)
(('Ean', 'M'),         region sex  year name  count      freq
4221259     NY   M  2004  Ean      7  0.000002)
(('Earl', 'M'),         region sex  year  name  count      freq
1389979     GA   M  1918  Earl     94  0.000047
4144993     NY   M  1944  Earl    151  0.000060
965650      CT   M  1992  Earl      5  0.000001
6067488     WI   M  1946  Earl     57  0.000019
1512765     HI   M  1974  Earl      5  0.000002
5938727     WA   M  1936  Earl     45  0.000023
4372636     OH   M  1916  Earl    319  0.000179)
(('Earlene', 'F'),         region sex  year     name  count      freq
3338566     NC   F  1931  Earlene     11  0.000006)
(('Earlie', 'M'),         region sex  year    name  count      freq
5178886     TN   M  1951  Earlie      6  0.000002)
(('Earline', 'F'),         region sex  year     name  count      freq
3165650     MS   F  1914  Earline     15  0.000012)
(('Early', 'M'),         region sex  year   name  count      freq
2362641     LA   M  1919  Early      6  0.000003)
(('Earnest', 'M'),         region sex  year     name  count      freq
5172958     TN   M  1939  Earnest     46  0.000022)
(('Earnestine', 'F'),         region sex  year        name  count      freq
3349191     NC   F  1949  Earnestine     13  0.000004)
(('Easton', 'M'),         region sex  year    name  count      freq
4561850     OK   M  2002  Easton      8  0.000002
1457352     GA   M  2011  Easton    110  0.000035)
(('Ebonee', 'F'),         region sex  year    name  count      freq
5319920     TX   F  1984  Ebonee     10  0.000003)
(('Eboni', 'F'),         region sex  year   name  count      freq
3379135     NC   F  1988  Eboni     15  0.000004)
(('Ebony', 'F'),         region sex  year   name  count      freq
4492724     OK   F  1982  Ebony     22  0.000007
1328225     GA   F  1979  Ebony     31  0.000010)
(('Ed', 'M'),         region sex  year name  count      freq
3594641     NE   M  1920   Ed      7  0.000003)
(('Edd', 'M'),         region sex  year name  count      freq
5463358     TX   M  1944  Edd      5  0.000002)
(('Eddie', 'M'),         region sex  year   name  count      freq
684423      CA   M  1982  Eddie    186  0.000058
6180945     WV   M  2002  Eddie      5  0.000002
850839      CO   M  1930  Eddie     16  0.000008
...        ...  ..   ...    ...    ...       ...
3596656     NE   M  1927  Eddie      6  0.000003
163882      AL   M  2017  Eddie     10  0.000003
4784337     PA   M  1912  Eddie     12  0.000014

[9 rows x 6 columns])
(('Eddy', 'M'),        region sex  year  name  count      freq
657221     CA   M  1962  Eddy     28  0.000007)
(('Eden', 'F'),         region sex  year  name  count      freq
4973635     SC   F  2018  Eden     34  0.000011
2593854     MD   F  1999  Eden      9  0.000003)
(('Eden', 'M'),         region sex  year  name  count      freq
5585336     TX   M  2020  Eden     97  0.000035)
(('Edgar', 'M'),         region sex  year   name  count      freq
2975438     MN   M  1926  Edgar     15  0.000007
1655756     ID   M  1922  Edgar      7  0.000003
676243      CA   M  1977  Edgar    224  0.000078
1398116     GA   M  1933  Edgar     52  0.000028)
(('Edison', 'M'),         region sex  year    name  count      freq
2648026     MD   M  1999  Edison      5  0.000002)
(('Edith', 'F'),         region sex  year   name  count      freq
2562560     MD   F  1948  Edith     41  0.000012
4701108     PA   F  1957  Edith     82  0.000020
3280792     MT   F  1916  Edith     48  0.000027
2455753     MA   F  1967  Edith     11  0.000003
5989833     WI   F  1912  Edith     48  0.000054)
(('Edmond', 'M'),         region sex  year    name  count      freq
4533309     OK   M  1938  Edmond      8  0.000004
1400408     GA   M  1937  Edmond      6  0.000003
5460049     TX   M  1941  Edmond     11  0.000005
...        ...  ..   ...     ...    ...       ...
5563313     TX   M  2011  Edmond      5  0.000002
634161      CA   M  1934  Edmond     17  0.000009
690626      CA   M  1985  Edmond     15  0.000005

[8 rows x 6 columns])
(('Edmund', 'M'),         region sex  year    name  count      freq
2824531     MI   M  1914  Edmund     42  0.000032
2504220     MA   M  1924  Edmund    146  0.000066
4385677     OH   M  1942  Edmund     26  0.000010
1204341     FL   M  1952  Edmund     15  0.000004
1451282     GA   M  2006  Edmund      5  0.000001
6055879     WI   M  1912  Edmund     19  0.000021)
(('Edna', 'F'),         region sex  year  name  count      freq
6005274     WI   F  1950  Edna     13  0.000004
4292252     OH   F  1963  Edna     33  0.000009
4271366     OH   F  1939  Edna     78  0.000038
1095513     FL   F  1964  Edna     30  0.000008)

(('Eduard', 'M'),        region sex  year    name  count      freq
882025     CO   M  2004  Eduard      5  0.000002)
(('Eduardo', 'F'),        region sex  year     name  count      freq
499018     CA   F  1988  Eduardo      6  0.000002)
(('Eduardo', 'M'),         region sex  year     name  count      freq
2851795     MI   M  1965  Eduardo      6  0.000002
2148003     KS   M  2007  Eduardo     22  0.000006)
(('Edward', 'M'),         region sex  year    name  count      freq
5066416     SD   M  1956  Edward     39  0.000010
2416190     LA   M  2006  Edward     36  0.000011
4542298     OK   M  1961  Edward     92  0.000023
...        ...  ..   ...     ...    ...       ...
4388072     OH   M  1947  Edward   1115  0.000325
5184931     TN   M  1964  Edward    204  0.000056
104298      AL   M  1913  Edward    125  0.000122

[11 rows x 6 columns])
(('Edwin', 'M'),         region sex  year   name  count      freq
352168      AZ   M  1966  Edwin     20  0.000006
1017711     DC   M  1959  Edwin     14  0.000004
1055059     DE   M  1925  Edwin      7  0.000003
...        ...  ..   ...    ...    ...       ...
3307472     MT   M  1931  Edwin     13  0.000007
3134498     MO   M  1982  Edwin      8  0.000003
5847457     VT   M  1915  Edwin      7  0.000004

[9 rows x 6 columns])
(('Edythe', 'F'),         region sex  year    name  count      freq
5686497     VA   F  1925  Edythe      9  0.000004
5865413     WA   F  1927  Edythe      6  0.000003)
(('Effie', 'F'),         region sex  year   name  count      freq
4274442     OH   F  1943  Effie      5  0.000002
167172      AR   F  1911  Effie     33  0.000058)
(('Eileen', 'F'),         region sex  year    name  count      freq
3736375     NJ   F  2007  Eileen     23  0.000007
2163304     KY   F  1923  Eileen     22  0.000010
2912673     MN   F  1931  Eileen     69  0.000035
786172      CO   F  1917  Eileen     22  0.000012
5289344     TX   F  1967  Eileen     17  0.000005
1546034     IA   F  1957  Eileen     27  0.000007
5600348     UT   F  1960  Eileen     21  0.000005)
(('Eilene', 'F'),         region sex  year    name  count      freq
4265955     OH   F  1929  Eilene      6  0.000003)
(('Eitan', 'M'),         region sex  year   name  count      freq
4206534     NY   M  1996  Eitan      6  0.000002)
(('Ekaterina', 'F'),         region sex  year       name  count      freq
1174930     FL   F  2014  Ekaterina     11  0.000003)
(('Elaina', 'F'),         region sex  year    name  count      freq
4726968     PA   F  1981  Elaina     11  0.000003
1117051     FL   F  1984  Elaina      7  0.000002
2479312     MA   F  1999  Elaina      5  0.000002
2493999     MA   F  2015  Elaina     14  0.000004
3978633     NY   F  1947  Elaina      6  0.000002)
(('Elaine', 'F'),         region sex  year    name  count      freq
1552881     IA   F  1971  Elaine     10  0.000003
5696296     VA   F  1947  Elaine     61  0.000018
5694810     VA   F  1944  Elaine     60  0.000024
4724295     PA   F  1979  Elaine     38  0.000013
4924936     SC   F  1941  Elaine     39  0.000017
1535516     IA   F  1932  Elaine     73  0.000037
1550025     IA   F  1965  Elaine     22  0.000006)
(('Elam', 'M'),        region sex  year  name  count      freq
778425     CA   M  2018  Elam      7  0.000002)
(('Elana', 'F'),         region sex  year   name  count      freq
5397902     TX   F  2011  Elana      7  0.000002)
(('Elbert', 'M'),         region sex  year    name  count      freq
3427951     NC   M  1919  Elbert     51  0.000026)
(('Elda', 'F'),         region sex  year  name  count      freq
5033629     SD   F  1917  Elda      5  0.000003)
(('Eldon', 'M'),         region sex  year   name  count      freq
5772943     VA   M  1934  Eldon      5  0.000003
4629209     OR   M  1930  Eldon     13  0.000006
230844      AR   M  1930  Eldon     10  0.000005
6056191     WI   M  1913  Eldon      7  0.000007
2833857     MI   M  1934  Eldon     32  0.000017)
(('Eldridge', 'M'),         region sex  year      name  count      freq
5779451     VA   M  1949  Eldridge     11  0.000003
2622677     MD   M  1942  Eldridge      5  0.000002)
(('Eleanor', 'F'),         region sex  year     name  count      freq
790621      CO   F  1933  Eleanor     43  0.000023
1484469     HI   F  1967  Eleanor      8  0.000003
3713028     NJ   F  1987  Eleanor      8  0.000002
92634       AL   F  2009  Eleanor     20  0.000006
3727352     NJ   F  2000  Eleanor     18  0.000005
1480233     HI   F  1954  Eleanor     11  0.000003)
(('Eleanora', 'F'),         region sex  year      name  count      freq
2966442     MN   F  2017  Eleanora     10  0.000003)
(('Elena', 'F'),         region sex  year   name  count      freq
5298524     TX   F  1973  Elena     44  0.000016
5904410     WA   F  1996  Elena     19  0.000006
4039515     NY   F  1986  Elena     68  0.000021
274539      AZ   F  1930  Elena      8  0.000004)
(('Eleni', 'F'),         region sex  year   name  count      freq
3739778     NJ   F  2009  Eleni      7  0.000002)
(('Elgin', 'M'),         region sex  year   name  count      freq
5477072     TX   M  1957  Elgin     10  0.000002)
(('Eli', 'M'),         region sex  year name  count      freq
3319804     MT   M  1993  Eli      5  0.000001
5971053     WA   M  2003  Eli     62  0.000019
3239548     MS   M  1941  Eli      7  0.000003
2267589     KY   M  2006  Eli     65  0.000019)
(('Eliah', 'M'),         region sex  year   name  count      freq
5582020     TX   M  2018  Eliah      5  0.000002)
(('Elian', 'M'),         region sex  year   name  count      freq
881729      CO   M  2004  Elian     12  0.000004
2276198     KY   M  2018  Elian      6  0.000002)
(('Eliana', 'F'),         region sex  year    name  count      freq
5154188     TN   F  2016  Eliana     45  0.000014)
(('Elias', 'M'),         region sex  year   name  count      freq
1524130     HI   M  2012  Elias     13  0.000004
2665113     MD   M  2020  Elias     93  0.000034
4786957     PA   M  1917  Elias     12  0.000006
1032591     DC   M  2007  Elias     11  0.000003
6184463     WV   M  2013  Elias     12  0.000004
3812019     NJ   M  2011  Elias     86  0.000028)
(('Elicia', 'F'),        region sex  year    name  count      freq
477868     CA   F  1981  Elicia     11  0.000003)
(('Elida', 'F'),         region sex  year   name  count      freq
5257371     TX   F  1943  Elida    118  0.000044)
(('Eliezer', 'M'),         region sex  year     name  count      freq
4863341     PA   M  2015  Eliezer      5  0.000002)
(('Eligio', 'M'),         region sex  year    name  count      freq
1853307     IL   M  1969  Eligio      5  0.000002)
(('Elijah', 'M'),         region sex  year    name  count      freq
5224146     TN   M  2020  Elijah    370  0.000133
5804337     VA   M  1994  Elijah     68  0.000021
673665      CA   M  1975  Elijah     25  0.000009
5028360     SC   M  2016  Elijah    222  0.000071)
(('Elina', 'F'),         region sex  year   name  count      freq
1163014     FL   F  2009  Elina     14  0.000004
5909988     WA   F  2001  Elina      5  0.000002)
(('Elinor', 'F'),         region sex  year    name  count      freq
899572      CT   F  1925  Elinor     20  0.000009
5244039     TX   F  1929  Elinor      7  0.000003
3507411     ND   F  1920  Elinor      8  0.000004
1532902     IA   F  1925  Elinor     15  0.000007)
(('Elio', 'M'),        region sex  year  name  count      freq
681832     CA   M  1980  Elio      9  0.000003)
(('Elisa', 'F'),         region sex  year   name  count      freq
4722188     PA   F  1977  Elisa     18  0.000006)
(('Elisabeth', 'F'),         region sex  year       name  count      freq
3523992     ND   F  1993  Elisabeth      7  0.000002
2459597     MA   F  1973  Elisabeth     14  0.000005
3681989     NJ   F  1949  Elisabeth      8  0.000002
1000348     DC   F  1988  Elisabeth      6  0.000002
3740879     NJ   F  2010  Elisabeth     11  0.000003)
(('Elise', 'F'),         region sex  year   name  count      freq
3971695     NY   F  1940  Elise     22  0.000010
2614595     MD   F  2020  Elise     26  0.000009
4674397     PA   F  1922  Elise     11  0.000005
4929724     SC   F  1950  Elise      8  0.000002)
(('Elisha', 'F'),         region sex  year    name  count      freq
6220779     PR   F  2005  Elisha      8  0.000002
3381049     NC   F  1990  Elisha     15  0.000004
2794142     MI   F  2000  Elisha      6  0.000002)
(('Eliud', 'M'),         region sex  year   name  count      freq
5578009     TX   M  2017  Eliud     17  0.000006
5583203     TX   M  2019  Eliud     22  0.000008)
(('Eliyahu', 'M'),         region sex  year     name  count      freq
1910914     IL   M  2016  Eliyahu      6  0.000002)
(('Eliza', 'F'),         region sex  year   name  count      freq
4920949     SC   F  1932  Eliza     34  0.000017
491136      CA   F  1986  Eliza     26  0.000008
5237111     TX   F  1923  Eliza     25  0.000012
3646250     NH   F  2013  Eliza     14  0.000005)
(('Elizabeth', 'F'),         region sex  year       name  count      freq
3519889     ND   F  1974  Elizabeth     32  0.000012
1479256     HI   F  1951  Elizabeth     34  0.000010
4734528     PA   F  1988  Elizabeth    840  0.000251
...        ...  ..   ...        ...    ...       ...
2966956     MN   F  2018  Elizabeth    151  0.000051
3670938     NJ   F  1924  Elizabeth    676  0.000305
441908      CA   F  1965  Elizabeth   1675  0.000490

[8 rows x 6 columns])
(('Elizabeth', 'M'),         region sex  year       name  count      freq
4133748     NY   M  1926  Elizabeth      5  0.000002)
(('Ella', 'F'),         region sex  year  name  count      freq
5999465     WI   F  1936  Ella     11  0.000006
6003116     WI   F  1945  Ella      5  0.000002
52545       AL   F  1952  Ella     93  0.000026
3916207     NV   F  2005  Ella     45  0.000013
5237854     TX   F  1924  Ella    219  0.000099)
(('Elle', 'F'),         region sex  year  name  count      freq
5636199     UT   F  2019  Elle     17  0.000006
5428950     TX   F  2020  Elle     68  0.000025)
(('Ellen', 'F'),         region sex  year   name  count      freq
3354524     NC   F  1957  Ellen    127  0.000032
1976716     IN   F  2003  Ellen     22  0.000007
837069      CO   F  2011  Ellen      5  0.000002
...        ...  ..   ...    ...    ...       ...
282552      AZ   F  1957  Ellen     23  0.000006
2298484     LA   F  1949  Ellen     62  0.000019
2286510     LA   F  1927  Ellen     35  0.000016

[9 rows x 6 columns])
(('Ellene', 'F'),         region sex  year    name  count      freq
1290656     GA   F  1923  Ellene     11  0.000005)
(('Ellery', 'F'),         region sex  year    name  count      freq
2786351     MI   F  1994  Ellery      5  0.000002)
(('Ellianna', 'F'),         region sex  year      name  count      freq
1990207     IN   F  2014  Ellianna      7  0.000002)
(('Ellie', 'F'),         region sex  year   name  count      freq
5732838     VA   F  1997  Ellie      7  0.000002)
(('Ellierose', 'F'),        region sex  year       name  count      freq
611043     CA   F  2017  Ellierose      6  0.000002)
(('Elliot', 'M'),         region sex  year    name  count      freq
4838995     PA   M  1995  Elliot     31  0.000010
3002729     MN   M  1996  Elliot     16  0.000005)
(('Elliott', 'M'),         region sex  year     name  count      freq
5190152     TN   M  1974  Elliott      6  0.000002
1681367     ID   M  2018  Elliott     17  0.000006
5004718     SC   M  1977  Elliott      9  0.000003
870945      CO   M  1986  Elliott      6  0.000002
6082723     WI   M  1983  Elliott     16  0.000005)
(('Ellis', 'M'),         region sex  year   name  count      freq
4386936     OH   M  1944  Ellis      6  0.000002
5444226     TX   M  1925  Ellis     37  0.000017)
(('Ellison', 'F'),         region sex  year     name  count      freq
4964385     SC   F  2007  Ellison      9  0.000003)
(('Ellsworth', 'M'),         region sex  year       name  count      freq
4796054     PA   M  1932  Ellsworth     16  0.000008
2618196     MD   M  1923  Ellsworth      7  0.000003)
(('Ellwood', 'M'),         region sex  year     name  count      freq
4135138     NY   M  1928  Ellwood      5  0.000002)
(('Elly', 'F'),         region sex  year  name  count      freq
5921610     WA   F  2011  Elly      6  0.000002
5151265     TN   F  2013  Elly      6  0.000002)
(('Elma', 'F'),         region sex  year  name  count      freq
5252530     TX   F  1938  Elma     29  0.000014
394803      CA   F  1920  Elma     17  0.000008
5684986     VA   F  1922  Elma     15  0.000007)
(('Elmer', 'M'),         region sex  year   name  count      freq
5643049     UT   M  1938  Elmer      5  0.000002
2701094     ME   M  1947  Elmer     11  0.000003
2853565     MI   M  1968  Elmer     14  0.000004)
(('Elnora', 'F'),         region sex  year    name  count      freq
4267714     OH   F  1932  Elnora      6  0.000003
2287640     LA   F  1929  Elnora     27  0.000013
4258803     OH   F  1918  Elnora     21  0.000010)
(('Eloise', 'F'),         region sex  year    name  count      freq
2220021     KY   F  2017  Eloise     19  0.000006
4461377     OK   F  1922  Eloise     21  0.000010
1929444     IN   F  1939  Eloise      8  0.000004
...        ...  ..   ...     ...    ...       ...
5094060     TN   F  1937  Eloise     13  0.000007
5688657     VA   F  1930  Eloise     31  0.000015
4780439     PA   F  2019  Eloise     67  0.000023

[9 rows x 6 columns])
(('Elon', 'M'),         region sex  year  name  count      freq
5580868     TX   M  2018  Elon     13  0.000004)
(('Elouise', 'F'),         region sex  year     name  count      freq
1802225     IL   F  2012  Elouise      5  0.000002)
(('Elroy', 'M'),         region sex  year   name  count      freq
2373624     LA   M  1942  Elroy      5  0.000002)
(('Elsa', 'F'),         region sex  year  name  count      freq
1781934     IL   F  2002  Elsa     13  0.000004)
(('Elsie', 'F'),         region sex  year   name  count      freq
4743341     PA   F  1994  Elsie      8  0.000002
5255346     TX   F  1941  Elsie     74  0.000032
1037239     DE   F  1921  Elsie     14  0.000006
6188628     WY   F  1925  Elsie      9  0.000004
4749808     PA   F  1999  Elsie     12  0.000004)
(('Elsy', 'F'),        region sex  year  name  count      freq
542099     CA   F  2000  Elsy      8  0.000002)
(('Elton', 'M'),         region sex  year   name  count      freq
4382431     OH   M  1935  Elton      8  0.000004
1056820     DE   M  1947  Elton      5  0.000001
3424372     NC   M  1911  Elton      6  0.000011)
(('Elvin', 'M'),         region sex  year   name  count      freq
2846502     MI   M  1957  Elvin      7  0.000002
2522993     MA   M  1976  Elvin      6  0.000002
748083      CA   M  2008  Elvin     24  0.000007)
(('Elvis', 'M'),         region sex  year   name  count      freq
2884907     MI   M  2004  Elvis      5  0.000002
4861746     PA   M  2014  Elvis      7  0.000002)
(('Ely', 'M'),         region sex  year name  count      freq
4184751     NY   M  1982  Ely      6  0.000002)
(('Elyanna', 'F'),        region sex  year     name  count      freq
583314     CA   F  2010  Elyanna      6  0.000002)
(('Elyse', 'F'),         region sex  year   name  count      freq
3376826     NC   F  1985  Elyse      6  0.000002)
(('Elzie', 'M'),         region sex  year   name  count      freq
4527877     OK   M  1925  Elzie      5  0.000002
2229890     KY   M  1925  Elzie     23  0.000011)
(('Ema', 'F'),         region sex  year name  count      freq
3087807     MO   F  2008  Ema      5  0.000001
1356301     GA   F  2003  Ema      6  0.000002)
(('Emalee', 'F'),         region sex  year    name  count      freq
4333297     OH   F  1997  Emalee      5  0.000002)
(('Emani', 'F'),         region sex  year   name  count      freq
1793786     IL   F  2008  Emani      9  0.000003)
(('Emanuel', 'M'),         region sex  year     name  count      freq
671288      CA   M  1973  Emanuel     10  0.000004
979311      CT   M  2020  Emanuel     11  0.000004
2881939     MI   M  2002  Emanuel     19  0.000006
390107      AZ   M  2020  Emanuel     15  0.000005)
(('Ember', 'F'),         region sex  year   name  count      freq
4620066     OR   F  2013  Ember     12  0.000004)
(('Emelia', 'F'),         region sex  year    name  count      freq
1574333     IA   F  2012  Emelia      6  0.000002)
(('Emerson', 'F'),         region sex  year     name  count      freq
5754709     VA   F  2015  Emerson     65  0.000021
2108185     KS   F  2014  Emerson     17  0.000005)
(('Emerson', 'M'),         region sex  year     name  count      freq
3663559     NH   M  2010  Emerson      5  0.000002)
(('Emersyn', 'F'),         region sex  year     name  count      freq
1979601     IN   F  2005  Emersyn      5  0.000001
1575945     IA   F  2015  Emersyn     30  0.000010)
(('Emery', 'F'),         region sex  year   name  count      freq
3857055     NM   F  2006  Emery      7  0.000002
836288      CO   F  2011  Emery     38  0.000012)
(('Emery', 'M'),         region sex  year   name  count      freq
5445527     TX   M  1926  Emery     11  0.000005)
(('Emilee', 'F'),         region sex  year    name  count      freq
6147229     WV   F  2009  Emilee      9  0.000003
833730      CO   F  2008  Emilee      7  0.000002)
(('Emilie', 'F'),         region sex  year    name  count      freq
5292934     TX   F  1969  Emilie      6  0.000002
616532      CA   F  2019  Emilie     28  0.000010)
(('Emilio', 'M'),         region sex  year    name  count      freq
2903736     MI   M  2020  Emilio     21  0.000008
3865072     NM   M  1918  Emilio      8  0.000004
4792767     PA   M  1926  Emilio      5  0.000002
776455      CA   M  2018  Emilio    401  0.000135
673523      CA   M  1975  Emilio     48  0.000017)
(('Emily', 'F'),         region sex  year   name  count      freq
4677808     PA   F  1927  Emily    163  0.000075
1539052     IA   F  1941  Emily     10  0.000004
5046702     SD   F  1974  Emily     18  0.000006
...        ...  ..   ...    ...    ...       ...
789969      CO   F  1930  Emily      8  0.000004
1367470     GA   F  2010  Emily    438  0.000139
6026966     WI   F  1988  Emily    469  0.000140

[9 rows x 6 columns])
(('Emir', 'M'),         region sex  year  name  count      freq
4211671     NY   M  1999  Emir      8  0.000002
5831185     VA   M  2020  Emir      9  0.000003)
(('Emma', 'F'),         region sex  year  name  count      freq
3670168     NJ   F  1922  Emma    124  0.000058
33630       AL   F  1919  Emma    263  0.000135
3979107     NY   F  1948  Emma     52  0.000016
...        ...  ..   ...   ...    ...       ...
4273243     OH   F  1942  Emma     80  0.000031
935577      CT   F  2009  Emma    190  0.000058
1077683     FL   F  1934  Emma     52  0.000027

[10 rows x 6 columns])
(('Emmalyn', 'F'),         region sex  year     name  count      freq
4354190     OH   F  2011  Emmalyn     25  0.000008)
(('Emmanuel', 'M'),         region sex  year      name  count      freq
2269229     KY   M  2008  Emmanuel      7  0.000002
6105669     WI   M  2017  Emmanuel     18  0.000006
1226473     FL   M  1984  Emmanuel     52  0.000016
3477799     NC   M  1998  Emmanuel     40  0.000012)
(('Emmer', 'F'),         region sex  year   name  count      freq
3175564     MS   F  1933  Emmer     10  0.000005)
(('Emmett', 'M'),         region sex  year    name  count      freq
6063320     WI   M  1933  Emmett      8  0.000004
5675317     UT   M  2015  Emmett     79  0.000025
3248475     MS   M  1960  Emmett      8  0.000002
1254500     FL   M  2005  Emmett      6  0.000002
4143208     NY   M  1941  Emmett     16  0.000007)
(('Emmit', 'M'),         region sex  year   name  count      freq
5163786     TN   M  1919  Emmit      8  0.000004)
(('Emmitt', 'M'),         region sex  year    name  count      freq
1398325     GA   M  1933  Emmitt      9  0.000005)
(('Emmy', 'F'),        region sex  year  name  count      freq
836949     CO   F  2011  Emmy      6  0.000002)
(('Emoni', 'F'),         region sex  year   name  count      freq
4069704     NY   F  1999  Emoni     12  0.000004)
(('Emori', 'F'),         region sex  year   name  count      freq

(('Ervin', 'M'),         region sex  year   name  count      freq
2254724     KY   M  1978  Ervin      5  0.000002
5769253     VA   M  1926  Ervin     17  0.000008
4156906     NY   M  1958  Ervin      9  0.000002
3450737     NC   M  1957  Ervin     48  0.000012
5567416     TX   M  2013  Ervin     13  0.000004)
(('Erwin', 'M'),         region sex  year   name  count      freq
3761016     NJ   M  1929  Erwin     10  0.000005)
(('Eryn', 'F'),         region sex  year  name  count      freq
2784521     MI   F  1993  Eryn     11  0.000003
5905534     WA   F  1997  Eryn     11  0.000003)
(('Esequiel', 'M'),         region sex  year      name  count      freq
3865878     NM   M  1922  Esequiel      6  0.000003)
(('Esme', 'F'),         region sex  year  name  count      freq
2613088     MD   F  2018  Esme      6  0.000002)
(('Esmeralda', 'F'),         region sex  year       name  count      freq
5901736     WA   F  1993  Esmeralda     12  0.000004)
(('Esmirna', 'F'),        region sex  year     name  count      freq
481577     CA   F  1982  Esmirna      5  0.000002)
(('Esperanza', 'F'),         region sex  year       name  count      freq
5254310     TX   F  1940  Esperanza     92  0.000043)
(('Essence', 'F'),         region sex  year     name  count      freq
5385265     TX   F  2008  Essence     27  0.000008
593999      CA   F  2013  Essence     14  0.000005
2817666     MI   F  2016  Essence      5  0.000002
4755484     PA   F  2003  Essence     11  0.000003)
(('Essie', 'F'),         region sex  year   name  count      freq
1303260     GA   F  1946  Essie     51  0.000017
3332285     NC   F  1921  Essie    100  0.000046)
(('Esteban', 'M'),         region sex  year     name  count      freq
5452318     TX   M  1933  Esteban     21  0.000011)
(('Estela', 'F'),         region sex  year    name  count      freq
6223934     PR   F  2011  Estela      9  0.000003)
(('Estella', 'F'),         region sex  year     name  count      freq
460522      CA   F  1974  Estella     32  0.000012
2163962     KY   F  1924  Estella     13  0.000006
3973808     NY   F  1942  Estella      5  0.000002
182872      AR   F  1943  Estella     10  0.000004)
(('Estelle', 'F'),         region sex  year     name  count      freq
3089885     MO   F  2010  Estelle      6  0.000002
5989915     WI   F  1912  Estelle     15  0.000017
6054178     WI   F  2019  Estelle      9  0.000003
845419      CO   F  2019  Estelle      5  0.000002)
(('Ester', 'F'),         region sex  year   name  count      freq
4079026     NY   F  2003  Ester     19  0.000006
4930945     SC   F  1952  Ester      5  0.000001
2723687     MI   F  1923  Ester      5  0.000002)
(('Estevan', 'M'),         region sex  year     name  count      freq
3883615     NM   M  1981  Estevan      8  0.000003
5467184     TX   M  1948  Estevan     10  0.000003
771365      CA   M  2016  Estevan     28  0.000009)
(('Esther', 'F'),         region sex  year    name  count      freq
3331647     NC   F  1920  Esther    144  0.000069
2747394     MI   F  1959  Esther     41  0.000010
4700134     PA   F  1956  Esther     80  0.000020
...        ...  ..   ...     ...    ...       ...
4620730     OR   F  2014  Esther     18  0.000006
912544      CT   F  1964  Esther     11  0.000003
4018708     NY   F  1975  Esther    164  0.000060

[8 rows x 6 columns])
(('Ethan', 'M'),        region sex  year   name  count      freq
954368     CT   M  1961  Ethan      5  0.000001)
(('Ethel', 'F'),         region sex  year   name  count      freq
2909000     MN   F  1922  Ethel    142  0.000067)
(('Ethelene', 'F'),         region sex  year      name  count      freq
3337611     NC   F  1929  Ethelene      5  0.000002)
(('Ethen', 'M'),         region sex  year   name  count      freq
1901551     IL   M  2010  Ethen      8  0.000003)
(('Etta', 'F'),         region sex  year  name  count      freq
1073179     FL   F  1922  Etta     17  0.000008
4933630     SC   F  1957  Etta     10  0.000002
2071208     KS   F  1940  Etta      7  0.000003)
(('Ettel', 'F'),         region sex  year   name  count      freq
4090262     NY   F  2007  Ettel      6  0.000002)
(('Eugene', 'M'),         region sex  year    name  count      freq
4533483     OK   M  1939  Eugene     70  0.000034
5936631     WA   M  1927  Eugene     86  0.000040
3864375     NM   M  1914  Eugene     10  0.000008
2128541     KS   M  1960  Eugene     35  0.000009
869354      CO   M  1983  Eugene     19  0.000006
6174899     WV   M  1979  Eugene     10  0.000003)
(('Eugenia', 'F'),         region sex  year     name  count      freq
1700242     IL   F  1937  Eugenia     11  0.000006
5247622     TX   F  1933  Eugenia     25  0.000013
2734665     MI   F  1943  Eugenia      8  0.000003
3666810     NJ   F  1912  Eugenia      5  0.000006
3669991     NJ   F  1921  Eugenia      9  0.000004
3046575     MO   F  1956  Eugenia      8  0.000002)
(('Eugenio', 'M'),         region sex  year     name  count      freq
5460861     TX   M  1942  Eugenio     21  0.000008)
(('Eunice', 'F'),         region sex  year    name  count      freq
1290389     GA   F  1923  Eunice    104  0.000049
2290221     LA   F  1934  Eunice     30  0.000016
1933363     IN   F  1947  Eunice     10  0.000003
2584673     MD   F  1987  Eunice      5  0.000002
4465237     OK   F  1929  Eunice     31  0.000015)
(('Eva', 'F'),         region sex  year name  count      freq
5247298     TX   F  1933  Eva    237  0.000128
3331014     NC   F  1919  Eva    231  0.000118
2554360     MD   F  1922  Eva     50  0.000024
...        ...  ..   ...  ...    ...       ...
2679254     ME   F  1964  Eva      5  0.000001
4690393     PA   F  1945  Eva     43  0.000017
3391746     NC   F  2000  Eva     30  0.000009

[8 rows x 6 columns])
(('Evan', 'M'),         region sex  year  name  count      freq
2418685     LA   M  2009  Evan    139  0.000043
881359      CO   M  2004  Evan    183  0.000055
2712493     ME   M  2002  Evan     53  0.000016)
(('Evander', 'M'),        region sex  year     name  count      freq
740593     CA   M  2005  Evander      7  0.000002)
(('Evangeline', 'F'),         region sex  year        name  count      freq
2692667     ME   F  2016  Evangeline      8  0.000003)
(('Eve', 'F'),        region sex  year name  count      freq
942543     CT   F  2020  Eve      7  0.000003)
(('Evelyn', 'F'),         region sex  year    name  count      freq
429601      CA   F  1958  Evelyn    233  0.000059
3515371     ND   F  1955  Evelyn      8  0.000002
6019204     WI   F  1975  Evelyn      8  0.000003
4508656     OK   F  2006  Evelyn     37  0.000011
1079550     FL   F  1939  Evelyn    102  0.000050)
(('Everett', 'M'),         region sex  year     name  count      freq
4898745     RI   M  1952  Everett      6  0.000002
2716327     ME   M  2017  Everett     20  0.000007
3239584     MS   M  1941  Everett      6  0.000003
...        ...  ..   ...      ...    ...       ...
226183      AR   M  1920  Everett     44  0.000021
1658173     ID   M  1936  Everett      6  0.000003
2623120     MD   M  1944  Everett     18  0.000007

[10 rows x 6 columns])
(('Everette', 'M'),         region sex  year      name  count      freq
1823626     IL   M  1923  Everette      7  0.000003)
(('Evette', 'F'),         region sex  year    name  count      freq
4296937     OH   F  1967  Evette      6  0.000002)
(('Evonne', 'F'),         region sex  year    name  count      freq
442787      CA   F  1965  Evonne     14  0.000004
5699508     VA   F  1952  Evonne      5  0.000001
2913694     MN   F  1933  Evonne      6  0.000003)
(('Ewelina', 'F'),         region sex  year     name  count      freq
1780970     IL   F  2001  Ewelina      5  0.000002)
(('Eyan', 'M'),        region sex  year  name  count      freq
740811     CA   M  2005  Eyan      6  0.000002)
(('Ezekiel', 'M'),         region sex  year     name  count      freq
5528059     TX   M  1996  Ezekiel     36  0.000011
3889439     NM   M  1996  Ezekiel      8  0.000002
3156461     MO   M  2013  Ezekiel     41  0.000013
3150990     MO   M  2007  Ezekiel     28  0.000008)
(('Ezra', 'F'),        region sex  year  name  count      freq
835917     CO   F  2010  Ezra      6  0.000002)
(('Ezra', 'M'),         region sex  year  name  count      freq
5219926     TN   M  2016  Ezra    101  0.000032
1393858     GA   M  1924  Ezra      5  0.000002
3103396     MO   M  1916  Ezra      8  0.000004
3796782     NJ   M  1996  Ezra     13  0.000004)
(('Fabian', 'M'),         region sex  year    name  count      freq
3469274     NC   M  1987  Fabian      5  0.000002
5478517     TX   M  1958  Fabian      5  0.000001)
(('Fabiola', 'F'),        region sex  year     name  count      freq
474351     CA   F  1980  Fabiola     49  0.000016)
(('Faith', 'F'),         region sex  year   name  count      freq
4595731     OR   F  1975  Faith     12  0.000004
4303116     OH   F  1973  Faith     24  0.000009
5056592     SD   F  2017  Faith      6  0.000002
58015       AL   F  1960  Faith     10  0.000003
928760      CT   F  1997  Faith     29  0.000009)
(('Fallon', 'F'),        region sex  year    name  count      freq
926250     CT   F  1992  Fallon      8  0.000002
203851     AR   F  1988  Fallon      5  0.000001)
(('Fannie', 'F'),         region sex  year    name  count      freq
1288475     GA   F  1920  Fannie    247  0.000118
4031241     NY   F  1981  Fannie      6  0.000002)
(('Fanny', 'F'),         region sex  year   name  count      freq
1303009     GA   F  1945  Fanny      6  0.000002)
(('Farrah', 'F'),         region sex  year    name  count      freq
1132474     FL   F  1994  Farrah      9  0.000003)
(('Fate', 'M'),         region sex  year  name  count      freq
3429048     NC   M  1920  Fate      5  0.000002)
(('Fatima', 'F'),         region sex  year    name  count      freq
5136203     TN   F  2000  Fatima      9  0.000003)
(('Fatimata', 'F'),         region sex  year      name  count      freq
4361367     OH   F  2015  Fatimata     10  0.000003)
(('Faustino', 'M'),         region sex  year      name  count      freq
5586663     TX   M  2020  Faustino      9  0.000003)
(('Fay', 'F'),         region sex  year name  count     freq
3328963     NC   F  1915  Fay     17  0.00001)
(('Faye', 'F'),         region sex  year  name  count      freq
4582521     OR   F  1943  Faye      9  0.000003
786010      CO   F  1916  Faye      8  0.000004
2064042     KS   F  1921  Faye     40  0.000018)
(('Felicia', 'F'),         region sex  year     name  count      freq
6037137     WI   F  2001  Felicia      9  0.000003
989476      DC   F  1958  Felicia     11  0.000003)
(('Felicita', 'F'),         region sex  year      name  count      freq
5285629     TX   F  1964  Felicita      6  0.000002)
(('Felipa', 'F'),         region sex  year    name  count      freq
5232747     TX   F  1919  Felipa     44  0.000023)
(('Felipe', 'M'),         region sex  year    name  count      freq
5813546     VA   M  2004  Felipe      6  0.000002
747484      CA   M  2008  Felipe    130  0.000039
345988      AZ   M  1949  Felipe      5  0.000002)
(('Felisha', 'F'),         region sex  year     name  count      freq
5897580     WA   F  1988  Felisha      5  0.000001)
(('Felix', 'M'),         region sex  year   name  count      freq
1190774     FL   M  1912  Felix      8  0.000009)
(('Ferdinand', 'M'),         region sex  year       name  count      freq
6056719     WI   M  1915  Ferdinand     15  0.000009)
(('Fermin', 'M'),        region sex  year    name  count      freq
706277     CA   M  1992  Fermin     33  0.000010
734563     CA   M  2003  Fermin     12  0.000004
685007     CA   M  1982  Fermin     16  0.000005)
(('Fern', 'F'),         region sex  year  name  count      freq
5263879     TX   F  1948  Fern      5  0.000002
2747797     MI   F  1959  Fern      8  0.000002)
(('Fernando', 'M'),         region sex  year      name  count      freq
1246913     FL   M  2001  Fernando    118  0.000036
1892905     IL   M  2005  Fernando    133  0.000040
3887662     NM   M  1992  Fernando     33  0.000010
5200561     TN   M  1993  Fernando      6  0.000002
3800247     NJ   M  2000  Fernando     46  0.000014)
(('Fidel', 'M'),         region sex  year   name  count      freq
3886262     NM   M  1988  Fidel      7  0.000002)
(('Filiberto', 'M'),        region sex  year       name  count      freq
681612     CA   M  1980  Filiberto     13  0.000004)
(('Finis', 'M'),         region sex  year   name  count      freq
3112410     MO   M  1936  Finis      6  0.000003)
(('Finley', 'F'),         region sex  year    name  count      freq
836301      CO   F  2011  Finley     34  0.000011
935935      CT   F  2009  Finley      8  0.000002
1369591     GA   F  2011  Finley     27  0.000009)
(('Finley', 'M'),         region sex  year    name  count      freq
4227150     NY   M  2007  Finley      8  0.000002)
(('Finn', 'M'),         region sex  year  name  count      freq
1268085     FL   M  2013  Finn     53  0.000017
5079627     SD   M  2017  Finn      7  0.000002
4859627     PA   M  2013  Finn     65  0.000021)
(('Finnegan', 'M'),         region sex  year      name  count      freq
3163290     MO   M  2020  Finnegan     28  0.000010
2889222     MI   M  2008  Finnegan     11  0.000003)
(('Finnian', 'M'),         region sex  year     name  count      freq
4849967     PA   M  2005  Finnian      7  0.000002
4858685     PA   M  2012  Finnian     14  0.000005)
(('Finnley', 'F'),        region sex  year     name  count      freq
621081     CA   F  2020  Finnley     11  0.000004)
(('Finnley', 'M'),        region sex  year     name  count      freq
270010     AR   M  2019  Finnley      8  0.000003)
(('Fiona', 'F'),         region sex  year   name  count      freq
5761726     VA   F  2020  Fiona     36  0.000013
6038607     WI   F  2003  Fiona     16  0.000005)
(('Fletcher', 'M'),         region sex  year      name  count      freq
3500486     NC   M  2017  Fletcher     13  0.000004)
(('Flora', 'F'),         region sex  year   name  count      freq
2766392     MI   F  1977  Flora      5  0.000002)
(('Florence', 'F'),         region sex  year      name  count      freq
3956788     NY   F  1921  Florence   1725  0.000795
6188271     WY   F  1922  Florence     11  0.000005
2908971     MN   F  1922  Florence    307  0.000144
452205      CA   F  1970  Florence     29  0.000009)
(('Florene', 'F'),        region sex  year     name  count      freq
411196     CA   F  1943  Florene      5  0.000002)
(('Florine', 'F'),         region sex  year     name  count      freq
3027525     MO   F  1921  Florine     12  0.000006
46567       AL   F  1941  Florine      7  0.000003)
(('Flossie', 'F'),         region sex  year     name  count      freq
1069658     FL   F  1910  Flossie     11  0.000021
6116555     WV   F  1929  Flossie     12  0.000006)
(('Floyd', 'M'),         region sex  year   name  count      freq
227083      AR   M  1922  Floyd    124  0.000058
5940637     WA   M  1943  Floyd     27  0.000010
846975      CO   M  1914  Floyd     25  0.000019
...        ...  ..   ...    ...    ...       ...
2132326     KS   M  1970  Floyd     11  0.000003
2637236     MD   M  1980  Floyd      6  0.000002
4546477     OK   M  1971  Floyd     15  0.000005

[10 rows x 6 columns])
(('Ford', 'M'),         region sex  year  name  count      freq
5221469     TN   M  2017  Ford     11  0.000004)
(('Forest', 'M'),         region sex  year    name  count      freq
1393859     GA   M  1924  Forest      5  0.000002
3498446     NC   M  2015  Forest      5  0.000002)
(('Forrest', 'M'),         region sex  year     name  count      freq
5979292     WA   M  2011  Forrest      8  0.000003
6165772     WV   M  1950  Forrest     14  0.000004)
(('Foster', 'M'),         region sex  year    name  count      freq
2236564     KY   M  1938  Foster      9  0.000004)
(('Fradel', 'F'),         region sex  year    name  count      freq
4072364     NY   F  2000  Fradel      9  0.000003)
(('Frances', 'F'),         region sex  year     name  count      freq
2760394     MI   F  1972  Frances     33  0.000011
4469211     OK   F  1937  Frances    159  0.000080
3706926     NJ   F  1981  Frances     35  0.000011
...        ...  ..   ...      ...    ...       ...
3024955     MO   F  1917  Frances    442  0.000238
1476105     HI   F  1937  Frances     47  0.000024
5106765     TN   F  1960  Frances     88  0.000022

[11 rows x 6 columns])
(('Francesca', 'F'),         region sex  year       name  count      freq
1788900     IL   F  2006  Francesca     56  0.000016
4306946     OH   F  1976  Francesca      7  0.000003
4618784     OR   F  2011  Francesca      6  0.000002
2806819     MI   F  2009  Francesca     10  0.000003)
(('Francesco', 'M'),         region sex  year       name  count      freq
1901186     IL   M  2010  Francesco     15  0.000005)
(('Franchesca', 'F'),         region sex  year        name  count      freq
5417338     TX   F  2016  Franchesca      5  0.000002)
(('Francheska', 'F'),         region sex  year        name  count      freq
3719739     NJ   F  1993  Francheska      7  0.000002)
(('Francine', 'F'),         region sex  year      name  count      freq
4067284     NY   F  1998  Francine     13  0.000004
803309      CO   F  1965  Francine      8  0.000002)
(('Francis', 'F'),         region sex  year     name  count      freq
2905528     MN   F  1913  Francis      6  0.000006
1700284     IL   F  1937  Francis      9  0.000005

4260218     OH   F  1920  Francis      8  0.000004)
(('Francis', 'M'),         region sex  year     name  count      freq
2664514     MD   M  2019  Francis     14  0.000005
6169750     WV   M  1961  Francis      6  0.000002
4385553     OH   M  1942  Francis    125  0.000049)
(('Francisco', 'M'),         region sex  year       name  count      freq
4845999     PA   M  2002  Francisco     30  0.000009
2860148     MI   M  1977  Francisco     13  0.000005
3616626     NE   M  2000  Francisco     17  0.000005)
(('Franco', 'M'),         region sex  year    name  count      freq
6237147     PR   M  2017  Franco     11  0.000004)
(('Frank', 'F'),         region sex  year   name  count      freq
1295246     GA   F  1931  Frank      6  0.000003)
(('Frank', 'M'),         region sex  year   name  count      freq
2894007     MI   M  2012  Frank     14  0.000005
1848520     IL   M  1964  Frank    526  0.000143
3535718     ND   M  1939  Frank     22  0.000011
...        ...  ..   ...    ...    ...       ...
947983      CT   M  1937  Frank    165  0.000083
4907787     RI   M  2004  Frank      5  0.000002
1830850     IL   M  1937  Frank    591  0.000297

[8 rows x 6 columns])
(('Frankie', 'F'),         region sex  year     name  count      freq
4942135     SC   F  1972  Frankie      8  0.000003
4263465     OH   F  1925  Frankie      6  0.000003
4112045     NY   F  2016  Frankie     27  0.000009)
(('Frankie', 'M'),         region sex  year     name  count      freq
2389401     LA   M  1969  Frankie     16  0.000005
4821692     PA   M  1973  Frankie      9  0.000003
5535782     TX   M  2000  Frankie     22  0.000007
157090      AL   M  2008  Frankie      5  0.000001
2125113     KS   M  1950  Frankie      5  0.000002)
(('Franklin', 'M'),         region sex  year      name  count      freq
4527124     OK   M  1924  Franklin     25  0.000011
2536628     MA   M  2002  Franklin     14  0.000004
6169886     WV   M  1962  Franklin     40  0.000010
...        ...  ..   ...       ...    ...       ...
2130195     KS   M  1964  Franklin     11  0.000003
3602887     NE   M  1951  Franklin      7  0.000002
5531736     TX   M  1998  Franklin     32  0.000010

[10 rows x 6 columns])
(('Franky', 'M'),         region sex  year    name  count      freq
5532906     TX   M  1998  Franky      5  0.000002)
(('Fred', 'F'),         region sex  year  name  count      freq
3672514     NJ   F  1927  Fred      6  0.000003)
(('Fred', 'M'),         region sex  year  name  count      freq
5941506     WA   M  1946  Fred    120  0.000040
3595624     NE   M  1924  Fred     60  0.000027
3599840     NE   M  1940  Fred     54  0.000025
2868395     MI   M  1988  Fred     13  0.000004
4421958     OH   M  1993  Fred     15  0.000004
1010249     DC   M  1920  Fred     14  0.000007
240855      AR   M  1955  Fred     58  0.000015)
(('Freda', 'F'),         region sex  year   name  count      freq
2175407     KY   F  1946  Freda     42  0.000014
51509       AL   F  1950  Freda     20  0.000006
4270830     OH   F  1938  Freda     32  0.000015
416341      CA   F  1948  Freda     12  0.000004
2167132     KY   F  1930  Freda     48  0.000023)
(('Freddie', 'F'),         region sex  year     name  count      freq
1085291     FL   F  1950  Freddie      6  0.000002
183227      AR   F  1944  Freddie     22  0.000009)
(('Freddie', 'M'),         region sex  year     name  count      freq
1445725     GA   M  2002  Freddie      7  0.000002
5163704     TN   M  1919  Freddie     13  0.000007
5482158     TX   M  1962  Freddie    101  0.000026)
(('Frederic', 'M'),        region sex  year      name  count      freq
956132     CT   M  1966  Frederic      5  0.000002)
(('Frederick', 'M'),         region sex  year       name  count      freq
2393680     LA   M  1976  Frederick     50  0.000018
1056045     DE   M  1939  Frederick      5  0.000002
4145583     NY   M  1945  Frederick    536  0.000214
3456105     NC   M  1966  Frederick     71  0.000022
5645649     UT   M  1949  Frederick      7  0.000002
5847162     VT   M  1911  Frederick      5  0.000009)
(('Fredericka', 'F'),         region sex  year        name  count      freq
4695127     PA   F  1950  Fredericka      6  0.000002)
(('Fredrick', 'M'),         region sex  year      name  count      freq
5808907     VA   M  1999  Fredrick      6  0.000002
3759233     NJ   M  1924  Fredrick     25  0.000011
3594558     NE   M  1920  Fredrick     15  0.000007)
(('Freeda', 'F'),        region sex  year    name  count      freq
177066     AR   F  1931  Freeda     14  0.000007)
(('Freya', 'F'),         region sex  year   name  count      freq
1161317     FL   F  2008  Freya      7  0.000002)
(('Frieda', 'F'),         region sex  year    name  count      freq
5230924     TX   F  1917  Frieda     21  0.000011)
(('Fritz', 'M'),         region sex  year   name  count      freq
1218697     FL   M  1974  Fritz      6  0.000002)
(('Gabriel', 'F'),         region sex  year     name  count      freq
4950911     SC   F  1987  Gabriel      5  0.000002)
(('Gabriel', 'M'),         region sex  year     name  count      freq
4811972     PA   M  1959  Gabriel     17  0.000004
2504358     MA   M  1924  Gabriel     15  0.000007
22775       AK   M  1991  Gabriel     15  0.000004
...        ...  ..   ...      ...    ...       ...
387692      AZ   M  2018  Gabriel    193  0.000065
134353      AL   M  1970  Gabriel     10  0.000003
862886      CO   M  1968  Gabriel     12  0.000004

[8 rows x 6 columns])
(('Gabriella', 'F'),         region sex  year       name  count      freq
2959977     MN   F  2011  Gabriella     87  0.000028
3855213     NM   F  2003  Gabriella     42  0.000013
1001426     DC   F  1992  Gabriella      8  0.000002
1048300     DE   F  1994  Gabriella      5  0.000002)
(('Gabrielle', 'F'),         region sex  year       name  count      freq
4075895     NY   F  2002  Gabrielle    321  0.000098
2496970     MA   F  2018  Gabrielle     13  0.000004
4887219     RI   F  1994  Gabrielle     20  0.000006
2691638     ME   F  2012  Gabrielle      7  0.000002)
(('Gaby', 'F'),        region sex  year  name  count      freq
519765     CA   F  1994  Gaby     15  0.000005)
(('Gaelle', 'F'),         region sex  year    name  count      freq
1145678     FL   F  2001  Gaelle      6  0.000002)
(('Gage', 'M'),         region sex  year  name  count      freq
5012374     SC   M  1992  Gage     10  0.000003
2411138     LA   M  2000  Gage     87  0.000026
367781      AZ   M  1996  Gage     30  0.000009)
(('Gaia', 'F'),         region sex  year  name  count      freq
5430124     TX   F  2020  Gaia     13  0.000005)
(('Gaige', 'M'),         region sex  year   name  count      freq
2896720     MI   M  2014  Gaige      8  0.000003
1910920     IL   M  2016  Gaige      6  0.000002)
(('Gail', 'F'),         region sex  year  name  count      freq
4725580     PA   F  1980  Gail     22  0.000007
5314165     TX   F  1981  Gail      6  0.000002
6010902     WI   F  1961  Gail    190  0.000048
2676368     ME   F  1955  Gail     77  0.000020
4676623     PA   F  1925  Gail     13  0.000006
2561687     MD   F  1946  Gail     84  0.000028
5709585     VA   F  1968  Gail     43  0.000014)
(('Gail', 'M'),         region sex  year  name  count      freq
4373382     OH   M  1917  Gail     11  0.000006
4787022     PA   M  1917  Gail      9  0.000005)
(('Gale', 'F'),         region sex  year  name  count      freq
4482214     OK   F  1962  Gale      6  0.000002
3983591     NY   F  1952  Gale     91  0.000025)
(('Gale', 'M'),         region sex  year  name  count      freq
2829679     MI   M  1925  Gale     15  0.000007)
(('Galen', 'M'),         region sex  year   name  count      freq
4425268     OH   M  1996  Galen      5  0.000002)
(('Galilea', 'F'),         region sex  year     name  count      freq
1385677     GA   F  2020  Galilea     11  0.000004
5636590     UT   F  2019  Galilea      6  0.000002)
(('Garett', 'M'),         region sex  year    name  count      freq
2999396     MN   M  1989  Garett      5  0.000001)
(('Garey', 'M'),        region sex  year   name  count      freq
642066     CA   M  1946  Garey      5  0.000002)
(('Garland', 'M'),         region sex  year     name  count      freq
232406      AR   M  1934  Garland     24  0.000012
5797888     VA   M  1984  Garland      9  0.000003)
(('Garren', 'M'),         region sex  year    name  count      freq
5560114     TX   M  2010  Garren      8  0.000003)
(('Garret', 'M'),         region sex  year    name  count      freq
3150511     MO   M  2006  Garret      7  0.000002)
(('Garrett', 'M'),         region sex  year     name  count      freq
870655      CO   M  1986  Garrett     55  0.000017
164524      AL   M  2018  Garrett     21  0.000007
2847232     MI   M  1958  Garrett      6  0.000002)
(('Garrison', 'M'),         region sex  year      name  count      freq
5209422     TN   M  2005  Garrison     15  0.000004
2415967     LA   M  2005  Garrison      5  0.000001)
(('Garry', 'M'),         region sex  year   name  count      freq
4380706     OH   M  1931  Garry      5  0.000003
3537763     ND   M  1949  Garry      8  0.000002
3453157     NC   M  1961  Garry     48  0.000012
2984898     MN   M  1953  Garry     17  0.000005)
(('Gary', 'M'),         region sex  year  name  count      freq
1221135     FL   M  1978  Gary    182  0.000063
2014965     IN   M  1956  Gary    924  0.000235
2620063     MD   M  1931  Gary      8  0.000004)
(('Gatlin', 'M'),         region sex  year    name  count      freq
3476480     NC   M  1996  Gatlin      6  0.000002)
(('Gauge', 'M'),         region sex  year   name  count      freq
5569550     TX   M  2014  Gauge     29  0.000009)
(('Gavin', 'M'),         region sex  year   name  count      freq
3547388     ND   M  2000  Gavin     20  0.000006
5662326     UT   M  1996  Gavin     43  0.000013
369134      AZ   M  1998  Gavin     62  0.000019
716072      CA   M  1996  Gavin    155  0.000048)
(('Gay', 'F'),         region sex  year name  count      freq
1309289     GA   F  1955  Gay     14  0.000004
2450417     MA   F  1958  Gay      5  0.000001)
(('Gaye', 'F'),         region sex  year  name  count      freq
408340      CA   F  1940  Gaye      7  0.000003
5256978     TX   F  1942  Gaye      7  0.000003)
(('Gayle', 'F'),         region sex  year   name  count      freq
5041987     SD   F  1955  Gayle     14  0.000004
5114370     TN   F  1971  Gayle      5  0.000002)
(('Gayle', 'M'),         region sex  year   name  count      freq
3601801     NE   M  1947  Gayle      6  0.000002
3604008     NE   M  1955  Gayle      5  0.000001)
(('Gaynell', 'F'),         region sex  year     name  count      freq
5254102     TX   F  1939  Gaynell      5  0.000002)
(('Gearldine', 'F'),         region sex  year       name  count      freq
1084778     FL   F  1949  Gearldine      5  0.000002
176174      AR   F  1929  Gearldine      8  0.000004)
(('Geary', 'M'),         region sex  year   name  count      freq
6167707     WV   M  1955  Geary      5  0.000001)
(('Gemma', 'F'),         region sex  year   name  count      freq
1652587     ID   F  2017  Gemma      7  0.000002
3407012     NC   F  2010  Gemma     12  0.000004)
(('Genaro', 'M'),        region sex  year    name  count      freq
375361     AZ   M  2005  Genaro      8  0.000002)
(('Gene', 'M'),         region sex  year  name  count      freq
2512946     MA   M  1951  Gene     40  0.000011
3869733     NM   M  1939  Gene     23  0.000011
1199130     FL   M  1940  Gene     41  0.000019
6062793     WI   M  1932  Gene    103  0.000052)
(('Genesis', 'F'),         region sex  year     name  count      freq
2598123     MD   F  2004  Genesis     17  0.000005
6037232     WI   F  2001  Genesis      7  0.000002)
(('Geneva', 'F'),         region sex  year    name  count      freq
5684835     VA   F  1922  Geneva     77  0.000036
2107914     KS   F  2013  Geneva      5  0.000002
522890      CA   F  1995  Geneva     27  0.000008
4042232     NY   F  1987  Geneva     13  0.000004
1759756     IL   F  1989  Geneva     11  0.000003
3845541     NM   F  1981  Geneva      7  0.000002)
(('Genevieve', 'F'),         region sex  year       name  count      freq
2582667     MD   F  1984  Genevieve      5  0.000002
1478157     HI   F  1946  Genevieve      5  0.000002
334896      AZ   F  2018  Genevieve     45  0.000015
5628513     UT   F  2010  Genevieve     20  0.000006
4916054     SC   F  1921  Genevieve     11  0.000005)
(('Geno', 'M'),         region sex  year  name  count      freq
1864728     IL   M  1981  Geno      7  0.000002)
(('Geoff', 'M'),         region sex  year   name  count      freq
4178554     NY   M  1977  Geoff      5  0.000002)
(('Geoffrey', 'M'),         region sex  year      name  count      freq
4207424     NY   M  1997  Geoffrey     25  0.000008)
(('George', 'F'),         region sex  year    name  count      freq
421673      CA   F  1952  George      7  0.000002
5085396     TN   F  1920  George      7  0.000003)
(('George', 'M'),         region sex  year    name  count      freq
23179       AK   M  1993  George     15  0.000004
4562223     OK   M  2003  George     31  0.000009
4901267     RI   M  1968  George     54  0.000017
3926612     NV   M  1915  George     14  0.000008
3608128     NE   M  1970  George     32  0.000010
4825586     PA   M  1979  George    313  0.000104
1404149     GA   M  1945  George    591  0.000236)
(('Georgene', 'F'),         region sex  year      name  count      freq
2738852     MI   F  1949  Georgene      8  0.000002
4683610     PA   F  1935  Georgene      8  0.000004)
(('Georgia', 'F'),         region sex  year     name  count      freq
5749402     VA   F  2011  Georgia     34  0.000011
3836076     NM   F  1958  Georgia     13  0.000003)
(('Georgiana', 'F'),         region sex  year       name  count      freq
4258399     OH   F  1917  Georgiana      7  0.000004)
(('Georgie', 'F'),        region sex  year     name  count      freq
182012     AR   F  1941  Georgie      6  0.000003)
(('Geovanni', 'M'),         region sex  year      name  count      freq
5819905     VA   M  2010  Geovanni      8  0.000003)
(('Gerald', 'M'),         region sex  year    name  count      freq
4857375     PA   M  2011  Gerald     13  0.000004
3793942     NJ   M  1993  Gerald     31  0.000009
5548870     TX   M  2006  Gerald     40  0.000012
...        ...  ..   ...     ...    ...       ...
2524473     MA   M  1980  Gerald     25  0.000008
1060167     DE   M  1970  Gerald     19  0.000006
5024448     SC   M  2010  Gerald      6  0.000002

[10 rows x 6 columns])
(('Geraldine', 'F'),         region sex  year       name  count      freq
5589984     UT   F  1922  Geraldine     20  0.000009
1544216     IA   F  1953  Geraldine     13  0.000004
190269      AR   F  1959  Geraldine     18  0.000005
4677747     PA   F  1927  Geraldine    425  0.000197
983725      DC   F  1940  Geraldine     34  0.000016
6189717     WY   F  1935  Geraldine      5  0.000003)
(('Geraldo', 'M'),        region sex  year     name  count      freq
709481     CA   M  1993  Geraldo     11  0.000003)
(('Geralyn', 'F'),         region sex  year     name  count      freq
420448      CA   F  1951  Geralyn      6  0.000002
3050735     MO   F  1962  Geralyn     10  0.000003)
(('Gerard', 'M'),         region sex  year    name  count      freq
2619129     MD   M  1927  Gerard      9  0.000004)
(('Gerardo', 'M'),         region sex  year     name  count      freq
4662091     OR   M  2014  Gerardo      8  0.000003)
(('Germain', 'M'),         region sex  year     name  count      freq
4202862     NY   M  1994  Germain      7  0.000002)
(('German', 'M'),        region sex  year    name  count      freq
389414     AZ   M  2019  German      7  0.000002)
(('Gerrit', 'M'),        region sex  year    name  count      freq
714924     CA   M  1995  Gerrit      8  0.000002)
(('Gertie', 'F'),         region sex  year    name  count      freq
3337523     NC   F  1929  Gertie      7  0.000003)
(('Gertrude', 'F'),         region sex  year      name  count      freq
5268151     TX   F  1952  Gertrude     21  0.000006
6117325     WV   F  1931  Gertrude     24  0.000012)
(('Gevork', 'M'),        region sex  year    name  count      freq
709676     CA   M  1993  Gevork      9  0.000003)
(('Gia', 'F'),         region sex  year name  count      freq
4731592     PA   F  1985  Gia      9  0.000003

5392205     TX   F  2010  Gia     67  0.000021)
(('Gian', 'M'),         region sex  year  name  count      freq
3810323     NJ   M  2009  Gian      9  0.000003)
(('Giancarlos', 'M'),        region sex  year        name  count      freq
752182     CA   M  2009  Giancarlos      7  0.000002)
(('Gianna', 'F'),         region sex  year    name  count      freq
3748464     NJ   F  2016  Gianna    180  0.000058
6151408     WV   F  2020  Gianna     28  0.000010)
(('Gideon', 'M'),         region sex  year    name  count      freq
2883137     MI   M  2003  Gideon     15  0.000005)
(('Gil', 'M'),         region sex  year name  count      freq
6229902     PR   M  2003  Gil     11  0.000003)
(('Gilbert', 'M'),         region sex  year     name  count      freq
1024556     DC   M  1981  Gilbert      5  0.000002
2388739     LA   M  1968  Gilbert     23  0.000007
3426810     NC   M  1917  Gilbert     37  0.000020)
(('Gilberto', 'M'),        region sex  year      name  count      freq
676318     CA   M  1977  Gilberto    120  0.000042
692017     CA   M  1986  Gilberto    125  0.000039)
(('Gilda', 'F'),         region sex  year   name  count      freq
2437049     MA   F  1928  Gilda     20  0.000009
2746048     MI   F  1957  Gilda      5  0.000001)
(('Gillian', 'F'),         region sex  year     name  count      freq
3416903     NC   F  2016  Gillian      8  0.000003
915103      CT   F  1969  Gillian      8  0.000002)
(('Gina', 'F'),         region sex  year  name  count      freq
5137539     TN   F  2001  Gina      5  0.000002
5898740     WA   F  1990  Gina     27  0.000008)
(('Ginger', 'F'),         region sex  year    name  count      freq
5283208     TX   F  1963  Ginger    102  0.000027
3342007     NC   F  1937  Ginger      8  0.000004
5375357     TX   F  2005  Ginger     11  0.000003
3840275     NM   F  1968  Ginger      8  0.000003
5111311     TN   F  1967  Ginger     55  0.000017
3060828     MO   F  1977  Ginger     30  0.000010)
(('Gino', 'M'),         region sex  year  name  count      freq
627838      CA   M  1923  Gino     13  0.000006
2520258     MA   M  1970  Gino     14  0.000004)
(('Giovanna', 'F'),         region sex  year      name  count      freq
4728428     PA   F  1982  Giovanna      6  0.000002)
(('Giovanni', 'M'),         region sex  year      name  count      freq
3796520     NJ   M  1996  Giovanni     47  0.000015)
(('Giselle', 'F'),         region sex  year     name  count      freq
6039757     WI   F  2004  Giselle      7  0.000002
4512490     OK   F  2010  Giselle     11  0.000003
3700821     NJ   F  1974  Giselle      9  0.000003)
(('Giuliana', 'F'),         region sex  year      name  count      freq
3089539     MO   F  2010  Giuliana     11  0.000003
564137      CA   F  2006  Giuliana     33  0.000010)
(('Giuseppe', 'M'),         region sex  year      name  count      freq
673035      CA   M  1974  Giuseppe      5  0.000002
2531237     MA   M  1993  Giuseppe      6  0.000002)
(('Gladstone', 'M'),         region sex  year       name  count      freq
4149889     NY   M  1950  Gladstone      6  0.000002)
(('Gladys', 'F'),         region sex  year    name  count      freq
1036738     DE   F  1916  Gladys     11  0.000006
2912651     MN   F  1931  Gladys    112  0.000057
3828556     NM   F  1934  Gladys      5  0.000003
4717928     PA   F  1973  Gladys     14  0.000005
6121767     WV   F  1942  Gladys     46  0.000018
6114100     WV   F  1924  Gladys    196  0.000088)
(('Glen', 'M'),         region sex  year  name  count      freq
4151807     NY   M  1953  Glen    105  0.000029
4385600     OH   M  1942  Glen     60  0.000023
5070452     SD   M  1975  Glen      7  0.000003
1602771     IA   M  1977  Glen      7  0.000002)
(('Glenda', 'F'),         region sex  year    name  count      freq
285068      AZ   F  1962  Glenda     15  0.000004
4585153     OR   F  1951  Glenda     42  0.000012
3293875     MT   F  1975  Glenda      6  0.000002)
(('Glenn', 'M'),         region sex  year   name  count      freq
3652021     NH   M  1944  Glenn      9  0.000004
2697238     ME   M  1928  Glenn      7  0.000003
3796621     NJ   M  1996  Glenn     26  0.000008)
(('Glenna', 'F'),         region sex  year    name  count      freq
2302933     LA   F  1955  Glenna      5  0.000001
4269055     OH   F  1935  Glenna     50  0.000026
423826      CA   F  1954  Glenna     30  0.000008)
(('Glennis', 'F'),         region sex  year     name  count      freq
2667454     ME   F  1917  Glennis      6  0.000003)
(('Gloria', 'F'),         region sex  year    name  count      freq
3381942     NC   F  1991  Gloria     22  0.000006
1078384     FL   F  1936  Gloria    118  0.000061
5894011     WA   F  1984  Gloria     19  0.000006
4943604     SC   F  1975  Gloria     23  0.000008)
(('Golda', 'F'),         region sex  year   name  count      freq
2169962     KY   F  1935  Golda      8  0.000004
4056124     NY   F  1993  Golda      9  0.000003
1685938     IL   F  1916  Golda     15  0.000008
4014682     NY   F  1972  Golda      6  0.000002)
(('Golden', 'F'),         region sex  year    name  count      freq
2281845     LA   F  1918  Golden      5  0.000002)
(('Goldie', 'F'),         region sex  year    name  count      freq
5243802     TX   F  1929  Goldie     13  0.000006)
(('Gordon', 'M'),         region sex  year    name  count      freq
4626181     OR   M  1913  Gordon      7  0.000007
3785297     NJ   M  1981  Gordon      9  0.000003
4894107     RI   M  1917  Gordon     10  0.000005
6202199     WY   M  1920  Gordon     11  0.000005
2507363     MA   M  1933  Gordon     79  0.000043
2704989     ME   M  1964  Gordon     11  0.000003)
(('Grace', 'F'),         region sex  year   name  count      freq
6190786     WY   F  1945  Grace      7  0.000003
3553461     NE   F  1915  Grace     70  0.000041
4913956     SC   F  1917  Grace    121  0.000065
3909392     NV   F  1990  Grace      8  0.000002
3826335     NM   F  1926  Grace     23  0.000011)
(('Gracelyn', 'F'),         region sex  year      name  count      freq
6150708     WV   F  2018  Gracelyn     17  0.000006
214473      AR   F  2008  Gracelyn      7  0.000002
2612803     MD   F  2018  Gracelyn     10  0.000003)
(('Gracey', 'F'),         region sex  year    name  count      freq
2810343     MI   F  2011  Gracey      5  0.000002)
(('Gracie', 'F'),         region sex  year    name  count      freq
3098052     MO   F  2018  Gracie     46  0.000016)
(('Graciela', 'F'),         region sex  year      name  count      freq
5236369     TX   F  1922  Graciela      8  0.000004)
(('Grady', 'M'),         region sex  year   name  count      freq
6186912     WV   M  2019  Grady      5  0.000002
2855127     MI   M  1970  Grady      7  0.000002
1197269     FL   M  1934  Grady     16  0.000008
4226359     NY   M  2007  Grady     28  0.000008)
(('Graham', 'M'),         region sex  year    name  count      freq
4222397     NY   M  2005  Graham     24  0.000007
1225759     FL   M  1983  Graham     16  0.000005)
(('Grant', 'M'),         region sex  year   name  count      freq
1507781     HI   M  1956  Grant     10  0.000003
2410332     LA   M  1999  Grant     76  0.000023
1677402     ID   M  2009  Grant     11  0.000003
349343      AZ   M  1959  Grant     10  0.000003
6077902     WI   M  1972  Grant     11  0.000004)
(('Gray', 'M'),         region sex  year  name  count      freq
5564810     TX   M  2012  Gray     13  0.000004)
(('Grayson', 'M'),         region sex  year     name  count      freq
5828176     VA   M  2018  Grayson    269  0.000091)
(('Gregg', 'M'),         region sex  year   name  count      freq
2855530     MI   M  1971  Gregg     34  0.000011
2022446     IN   M  1970  Gregg     20  0.000006
2125057     KS   M  1950  Gregg      8  0.000002
1411266     GA   M  1957  Gregg     13  0.000003)
(('Gregoria', 'F'),         region sex  year      name  count      freq
5225593     TX   F  1910  Gregoria     10  0.000019)
(('Gregory', 'M'),         region sex  year     name  count      freq
2706389     ME   M  1971  Gregory     71  0.000022
1017881     DC   M  1960  Gregory    184  0.000047
2656335     MD   M  2010  Gregory     33  0.000010
3313310     MT   M  1962  Gregory     66  0.000017
3449379     NC   M  1955  Gregory    349  0.000091
5852787     VT   M  1960  Gregory     30  0.000008
1275697     FL   M  2017  Gregory     64  0.000021)
(('Greta', 'F'),         region sex  year   name  count      freq
5241829     TX   F  1927  Greta      8  0.000004
1695012     IL   F  1929  Greta     15  0.000007)
(('Gretchen', 'F'),         region sex  year      name  count      freq
1975794     IN   F  2002  Gretchen     14  0.000004
4673734     PA   F  1921  Gretchen      9  0.000004
590227      CA   F  2012  Gretchen     11  0.000004
1325748     GA   F  1976  Gretchen     18  0.000007)
(('Greyson', 'M'),         region sex  year     name  count      freq
5585101     TX   M  2020  Greyson    309  0.000111
5203968     TN   M  1998  Greyson      9  0.000003
890602      CO   M  2015  Greyson     81  0.000026
6184372     WV   M  2013  Greyson     28  0.000009)
(('Gricelda', 'F'),        region sex  year      name  count      freq
553606     CA   F  2003  Gricelda      8  0.000002)
(('Grover', 'M'),         region sex  year    name  count      freq
3242582     MS   M  1948  Grover     18  0.000005
225272      AR   M  1918  Grover     37  0.000018
2372944     LA   M  1941  Grover     11  0.000005
5451403     TX   M  1932  Grover     18  0.000009)
(('Guadalupe', 'F'),         region sex  year       name  count      freq
4610744     OR   F  2001  Guadalupe     21  0.000006
933604      CT   F  2005  Guadalupe      6  0.000002
1968421     IN   F  1994  Guadalupe      6  0.000002)
(('Guadalupe', 'M'),         region sex  year       name  count      freq
3889143     NM   M  1995  Guadalupe      5  0.000002
5959521     WA   M  1986  Guadalupe      5  0.000002
1228808     FL   M  1986  Guadalupe      9  0.000003
1845013     IL   M  1959  Guadalupe      9  0.000002)
(('Guido', 'M'),         region sex  year   name  count      freq
2505865     MA   M  1928  Guido     10  0.000005)
(('Guiliana', 'F'),         region sex  year      name  count      freq
5409334     TX   F  2014  Guiliana      6  0.000002)
(('Gunnar', 'M'),         region sex  year    name  count      freq
3547665     ND   M  2001  Gunnar      6  0.000002)
(('Gunner', 'M'),         region sex  year    name  count      freq
2270262     KY   M  2010  Gunner     30  0.000010
4573376     OK   M  2018  Gunner     41  0.000014)
(('Gurleen', 'F'),        region sex  year     name  count      freq
594621     CA   F  2013  Gurleen      9  0.000003)
(('Gussie', 'F'),         region sex  year    name  count      freq
29486       AL   F  1910  Gussie     24  0.000046
4255792     OH   F  1912  Gussie      5  0.000006)
(('Gustavo', 'M'),         region sex  year     name  count      freq
880824      CO   M  2003  Gustavo     22  0.000007
5032177     SC   M  2020  Gustavo      5  0.000002)
(('Gwen', 'F'),         region sex  year  name  count      freq
4317292     OH   F  1985  Gwen     11  0.000003
1317662     GA   F  1966  Gwen     18  0.000006
5276192     TX   F  1958  Gwen     32  0.000008
2808585     MI   F  2010  Gwen      7  0.000002
1624474     ID   F  1919  Gwen     12  0.000006
1079777     FL   F  1939  Gwen     10  0.000005)
(('Gwendolyn', 'F'),         region sex  year       name  count      freq
4614120     OR   F  2005  Gwendolyn      5  0.000001
2085207     KS   F  1972  Gwendolyn      8  0.000003
4931594     SC   F  1954  Gwendolyn    134  0.000035
...        ...  ..   ...        ...    ...       ...
5900069     WA   F  1991  Gwendolyn      7  0.000002
5611750     UT   F  1985  Gwendolyn      6  0.000002
6049147     WI   F  2014  Gwendolyn     15  0.000005

[11 rows x 6 columns])
(('Gwyneth', 'F'),         region sex  year     name  count      freq
5741633     VA   F  2005  Gwyneth     11  0.000003)
(('Hadassah', 'F'),         region sex  year      name  count      freq
4040451     NY   F  1986  Hadassah      9  0.000003
2822753     MI   F  2020  Hadassah     15  0.000005)
(('Haden', 'M'),         region sex  year   name  count      freq
1257841     FL   M  2007  Haden      9  0.000003)
(('Hadi', 'M'),         region sex  year  name  count      freq
3818543     NJ   M  2016  Hadi      5  0.000002)
(('Hadley', 'F'),         region sex  year    name  count      freq
4963415     SC   F  2006  Hadley     11  0.000003)
(('Haidyn', 'F'),         region sex  year    name  count      freq
4781577     PA   F  2019  Haidyn      6  0.000002)
(('Hailee', 'F'),         region sex  year    name  count     freq
2793352     MI   F  2000  Hailee     32  0.00001)
(('Hakeem', 'M'),        region sex  year    name  count      freq
704222     CA   M  1991  Hakeem     14  0.000004)
(('Hal', 'M'),         region sex  year name  count      freq
4396193     OH   M  1959  Hal     11  0.000003)
(('Haleigh', 'F'),         region sex  year     name  count      freq
3217078     MS   F  2007  Haleigh     13  0.000004
3213231     MS   F  2001  Haleigh     22  0.000007)
(('Haley', 'F'),         region sex  year   name  count      freq
200862      AR   F  1982  Haley     21  0.000007
2596934     MD   F  2003  Haley    111  0.000033
1049115     DE   F  1999  Haley     26  0.000008
2938631     MN   F  1983  Haley     11  0.000003)
(('Hali', 'F'),         region sex  year  name  count      freq
1351434     GA   F  2000  Hali      7  0.000002)
(('Halle', 'F'),         region sex  year   name  count      freq
5926136     WA   F  2015  Halle     12  0.000004)
(('Hallie', 'F'),         region sex  year    name  count      freq
5406847     TX   F  2014  Hallie     69  0.000022
3165659     MS   F  1914  Hallie     14  0.000011)
(('Hallie', 'M'),         region sex  year    name  count      freq
3425059     NC   M  1913  Hallie      6  0.000006)
(('Hamilton', 'M'),         region sex  year      name  count      freq
2365028     LA   M  1924  Hamilton      8  0.000004)
(('Hana', 'F'),         region sex  year  name  count      freq
5407634     TX   F  2014  Hana     20  0.000006
3394898     NC   F  2002  Hana      9  0.000003)
(('Haneef', 'M'),         region sex  year    name  count      freq
4863100     PA   M  2015  Haneef      7  0.000002)
(('Hank', 'M'),         region sex  year  name  count      freq
5528886     TX   M  1996  Hank      7  0.000002
3490591     NC   M  2009  Hank      7  0.000002
3249463     MS   M  1962  Hank      7  0.000002)
(('Hanna', 'F'),         region sex  year   name  count      freq
1760888     IL   F  1990  Hanna     35  0.000010
10527       AK   F  1999  Hanna      5  0.000002)
(('Hannah', 'F'),         region sex  year    name  count      freq
5238563     TX   F  1924  Hannah      8  0.000004
1328192     GA   F  1979  Hannah     38  0.000013
3398352     NC   F  2005  Hannah    552  0.000165)
(('Hans', 'M'),         region sex  year  name  count      freq
3759691     NJ   M  1925  Hans      7  0.000003)
(('Harlan', 'M'),         region sex  year    name  count      freq
760008      CA   M  2012  Harlan     16  0.000005
6162513     WV   M  1941  Harlan      7  0.000003)
(('Harland', 'M'),         region sex  year     name  count      freq
4530047     OK   M  1930  Harland      6  0.000003)
(('Harley', 'F'),         region sex  year    name  count      freq
1968857     IN   F  1995  Harley     20  0.000006
5414080     TX   F  2016  Harley    166  0.000053)
(('Harley', 'M'),         region sex  year    name  count      freq
1389818     GA   M  1917  Harley      6  0.000003
4861373     PA   M  2014  Harley     13  0.000004
6075497     WI   M  1966  Harley      5  0.000002)
(('Harlie', 'F'),         region sex  year    name  count      freq
3091129     MO   F  2011  Harlie      5  0.000002)
(('Harmony', 'F'),         region sex  year     name  count      freq
3857197     NM   F  2006  Harmony      5  0.000001)
(('Harold', 'F'),         region sex  year    name  count      freq
1691051     IL   F  1923  Harold      5  0.000002)
(('Harold', 'M'),         region sex  year    name  count      freq
4528380     OK   M  1927  Harold    341  0.000158
5561984     TX   M  2011  Harold     18  0.000006
5206213     TN   M  2001  Harold     12  0.000004
1387497     GA   M  1913  Harold     98  0.000095
4374115     OH   M  1919  Harold    748  0.000383)
(('Harper', 'F'),         region sex  year    name  count      freq
1007783     DC   F  2015  Harper     20  0.000006
3400204     NC   F  2006  Harper     26  0.000008
2952920     MN   F  2003  Harper      7  0.000002)
(('Harper', 'M'),        region sex  year    name  count      freq
266162     AR   M  2013  Harper     12  0.000004)
(('Harrell', 'M'),         region sex  year     name  count      freq
5455612     TX   M  1936  Harrell      6  0.000003)
(('Harriet', 'F'),         region sex  year     name  count      freq
2179424     KY   F  1953  Harriet     13  0.000004
4362912     OH   F  2016  Harriet     12  0.000004)
(('Harriett', 'F'),         region sex  year      name  count      freq
3956254     NY   F  1920  Harriett     52  0.000025
3331885     NC   F  1920  Harriett     14  0.000007)
(('Harriette', 'F'),         region sex  year       name  count      freq
3334437     NC   F  1924  Harriette      9  0.000004
1310987     GA   F  1957  Harriette      6  0.000001)
(('Harris', 'M'),         region sex  year    name  count      freq
2370201     LA   M  1935  Harris      7  0.000004
2365864     LA   M  1926  Harris     17  0.000008)
(('Harrison', 'M'),         region sex  year      name  count      freq
5817152     VA   M  2008  Harrison     51  0.000015)
(('Harry', 'M'),         region sex  year   name  count      freq
2020794     IN   M  1967  Harry     51  0.000016
5764980     VA   M  1917  Harry    221  0.000119
2223414     KY   M  1911  Harry     31  0.000055
...        ...  ..   ...    ...    ...       ...
870459      CO   M  1985  Harry      7  0.000002
5464497     TX   M  1946  Harry    225  0.000074
4896239     RI   M  1933  Harry     19  0.000010

[10 rows x 6 columns])
(('Haruko', 'F'),        region sex  year    name  count      freq
392840     CA   F  1916  Haruko     11  0.000006)
(('Harvey', 'M'),         region sex  year    name  count      freq
231945      AR   M  1933  Harvey     34  0.000018
4979610     SC   M  1920  Harvey     46  0.000022
650465      CA   M  1956  Harvey     76  0.000019
3435338     NC   M  1931  Harvey    101  0.000052
1243065     FL   M  1998  Harvey     17  0.000005)
(('Hasan', 'M'),         region sex  year   name  count      freq
5817976     VA   M  2008  Hasan      5  0.000001
1876469     IL   M  1992  Hasan      6  0.000002)

(('Hassie', 'F'),         region sex  year    name  count      freq
5090768     TN   F  1930  Hassie      6  0.000003)
(('Hattie', 'F'),         region sex  year    name  count      freq
3037932     MO   F  1941  Hattie      8  0.000003
4618646     OR   F  2011  Hattie      8  0.000003
1988515     IN   F  2013  Hattie     21  0.000007
3671597     NJ   F  1925  Hattie     11  0.000005)
(('Haven', 'M'),         region sex  year   name  count      freq
6182544     WV   M  2007  Haven      5  0.000001)
(('Hawa', 'F'),         region sex  year  name  count      freq
2955665     MN   F  2006  Hawa      7  0.000002)
(('Haydee', 'F'),        region sex  year    name  count      freq
552721     CA   F  2003  Haydee     15  0.000005)
(('Hayden', 'F'),         region sex  year    name  count      freq
1381681     GA   F  2018  Hayden     33  0.000011
5754774     VA   F  2015  Hayden     43  0.000014
2102668     KS   F  2006  Hayden      8  0.000002)
(('Hayden', 'M'),         region sex  year    name  count      freq
2537157     MA   M  2003  Hayden     46  0.000014
5075989     SD   M  2004  Hayden     28  0.000008)
(('Hayes', 'M'),         region sex  year   name  count     freq
1465902     GA   M  2017  Hayes     30  0.00001)
(('Haylee', 'F'),         region sex  year    name  count      freq
1385825     GA   F  2020  Haylee      9  0.000003)
(('Hayleigh', 'F'),        region sex  year      name  count      freq
561121     CA   F  2005  Hayleigh     11  0.000003)
(('Hayley', 'F'),         region sex  year    name  count      freq
1172104     FL   F  2013  Hayley     21  0.000007
10292       AK   F  1998  Hayley      6  0.000002)
(('Haylie', 'F'),         region sex  year    name  count      freq
4607742     OR   F  1996  Haylie      5  0.000002)
(('Hayward', 'M'),         region sex  year     name  count      freq
1392625     GA   M  1922  Hayward      9  0.000004)
(('Haywood', 'M'),         region sex  year     name  count      freq
3228264     MS   M  1916  Haywood      7  0.000004)
(('Haze', 'M'),         region sex  year  name  count      freq
5675785     UT   M  2015  Haze      8  0.000003)
(('Hazel', 'F'),         region sex  year   name  count      freq
2161349     KY   F  1920  Hazel    337  0.000160
5588786     UT   F  1917  Hazel     39  0.000021
4872438     RI   F  1922  Hazel     13  0.000006
4961364     SC   F  2003  Hazel      5  0.000002
1287244     GA   F  1918  Hazel    231  0.000115
4258579     OH   F  1918  Hazel    344  0.000171)
(('Hazle', 'F'),         region sex  year   name  count      freq
4669616     PA   F  1915  Hazle      5  0.000003)
(('Heath', 'M'),        region sex  year   name  count      freq
959293     CT   M  1975  Heath      5  0.000002
145713     AL   M  1992  Heath     21  0.000006)
(('Heather', 'F'),         region sex  year     name  count      freq
2596112     MD   F  2002  Heather     45  0.000014
3851109     NM   F  1994  Heather     41  0.000012
63130       AL   F  1968  Heather     34  0.000011
5288918     TX   F  1967  Heather    102  0.000032
551359      CA   F  2003  Heather    169  0.000051)
(('Heaven', 'F'),         region sex  year    name  count      freq
3736268     NJ   F  2007  Heaven     34  0.000010
3913622     NV   F  2000  Heaven      9  0.000003
3404883     NC   F  2009  Heaven     43  0.000013)
(('Heavenly', 'F'),         region sex  year      name  count      freq
2494370     MA   F  2015  Heavenly      6  0.000002)
(('Hector', 'M'),         region sex  year    name  count      freq
967578      CT   M  1997  Hector     20  0.000006
4166737     NY   M  1968  Hector    279  0.000088)
(('Hedwig', 'F'),        region sex  year    name  count      freq
899947     CT   F  1926  Hedwig      5  0.000002)
(('Hedy', 'F'),         region sex  year  name  count      freq
4686963     PA   F  1940  Hedy      9  0.000004)
(('Heidi', 'F'),         region sex  year   name  count      freq
2906        AK   F  1960  Heidi      7  0.000002
69138       AL   F  1977  Heidi     14  0.000005
5281863     TX   F  1962  Heidi     54  0.000014
3192673     MS   F  1964  Heidi      9  0.000002)
(('Helen', 'F'),         region sex  year   name  count      freq
5091833     TN   F  1933  Helen    411  0.000221
612129      CA   F  2018  Helen    114  0.000038
3167301     MS   F  1918  Helen    183  0.000091
...        ...  ..   ...    ...    ...       ...
5735450     VA   F  2000  Helen     28  0.000008
5720106     VA   F  1983  Helen     23  0.000007
6189325     WY   F  1932  Helen     31  0.000016

[9 rows x 6 columns])
(('Helena', 'F'),         region sex  year    name  count      freq
3397437     NC   F  2004  Helena     16  0.000005
1528265     IA   F  1914  Helena      5  0.000004
3079679     MO   F  2000  Helena      5  0.000001)
(('Helene', 'F'),         region sex  year    name  count      freq
1539173     IA   F  1941  Helene      5  0.000002
3628805     NH   F  1929  Helene      7  0.000003
549350      CA   F  2002  Helene     10  0.000003
5707161     VA   F  1964  Helene     11  0.000003)
(('Hellen', 'F'),         region sex  year    name  count      freq
4097717     NY   F  2010  Hellen      8  0.000003)
(('Henley', 'F'),         region sex  year    name  count      freq
4357926     OH   F  2013  Henley     11  0.000004)
(('Henna', 'F'),         region sex  year   name  count      freq
4097718     NY   F  2010  Henna      8  0.000003)
(('Henrietta', 'F'),         region sex  year       name  count      freq
3836900     NM   F  1960  Henrietta     15  0.000004
2905715     MN   F  1914  Henrietta     17  0.000013
4872521     RI   F  1922  Henrietta      5  0.000002)
(('Henry', 'M'),         region sex  year   name  count      freq
2408766     LA   M  1997  Henry     48  0.000015
2657922     MD   M  2012  Henry    181  0.000058
244030      AR   M  1963  Henry     53  0.000014
341469      AZ   M  1930  Henry     52  0.000025
1034098     DC   M  2013  Henry     69  0.000022
3605637     NE   M  1961  Henry     18  0.000005
1064447     DE   M  1997  Henry      7  0.000002)
(('Henryk', 'M'),         region sex  year    name  count      freq
4252230     NY   M  2019  Henryk      7  0.000002)
(('Herbert', 'M'),         region sex  year     name  count      freq
4815886     PA   M  1965  Herbert     61  0.000018
347732      AZ   M  1955  Herbert     23  0.000006
222703      AR   M  1910  Herbert     28  0.000054
5955644     WA   M  1979  Herbert      6  0.000002
4893595     RI   M  1913  Herbert     14  0.000014
2255898     KY   M  1981  Herbert     10  0.000003)
(('Heriberto', 'M'),         region sex  year       name  count      freq
4833878     PA   M  1989  Heriberto      7  0.000002
5519323     TX   M  1991  Heriberto     52  0.000015)
(('Herlinda', 'F'),        region sex  year      name  count      freq
505196     CA   F  1990  Herlinda     11  0.000003)
(('Herman', 'M'),         region sex  year    name  count      freq
5775511     VA   M  1941  Herman    101  0.000044
1012013     DC   M  1935  Herman     13  0.000007
3762171     NJ   M  1933  Herman     39  0.000021
2237807     KY   M  1941  Herman     82  0.000036)
(('Herminia', 'F'),         region sex  year      name  count      freq
5276376     TX   F  1958  Herminia     18  0.000005)
(('Hernan', 'M'),         region sex  year    name  count      freq
701045      CA   M  1990  Hernan     62  0.000017
5489387     TX   M  1968  Hernan      5  0.000002)
(('Herschel', 'M'),         region sex  year      name  count      freq
1820566     IL   M  1918  Herschel     31  0.000015)
(('Hershel', 'M'),         region sex  year     name  count      freq
3231574     MS   M  1923  Hershel      5  0.000002
5474993     TX   M  1955  Hershel      7  0.000002
4220417     NY   M  2004  Hershel     28  0.000008
1827024     IL   M  1929  Hershel      8  0.000004)
(('Hester', 'F'),         region sex  year    name  count      freq
3958820     NY   F  1923  Hester      9  0.000004
5233949     TX   F  1920  Hester     20  0.000010
171811      AR   F  1921  Hester     13  0.000006)
(('Hettie', 'F'),         region sex  year    name  count      freq
4915091     SC   F  1919  Hettie      9  0.000005
4459903     OK   F  1919  Hettie      6  0.000003)
(('Hezekiah', 'M'),         region sex  year      name  count      freq
5559389     TX   M  2010  Hezekiah     19  0.000006
1252521     FL   M  2004  Hezekiah      8  0.000002)
(('Hilario', 'M'),         region sex  year     name  count      freq
5436097     TX   M  1916  Hilario      7  0.000004)
(('Hilda', 'F'),         region sex  year   name  count      freq
5087327     TN   F  1924  Hilda     48  0.000022
1708558     IL   F  1948  Hilda     10  0.000003)
(('Hillary', 'F'),         region sex  year     name  count      freq
318904      AZ   F  2005  Hillary      5  0.000001
3988733     NY   F  1956  Hillary     50  0.000013
4725464     PA   F  1980  Hillary     32  0.000010)
(('Hilliard', 'M'),         region sex  year      name  count      freq
3444412     NC   M  1946  Hilliard      5  0.000002)
(('Hina', 'F'),         region sex  year  name  count      freq
1500396     HI   F  2019  Hina      5  0.000002)
(('Hipolito', 'M'),         region sex  year      name  count      freq
5461078     TX   M  1942  Hipolito     10  0.000004)
(('Hiram', 'M'),         region sex  year   name  count      freq
6230428     PR   M  2004  Hiram     10  0.000003
1399263     GA   M  1935  Hiram     13  0.000007)
(('Hisashi', 'M'),         region sex  year     name  count      freq
1501752     HI   M  1921  Hisashi      6  0.000003)
(('Hobart', 'M'),         region sex  year    name  count      freq
2241516     KY   M  1948  Hobart      6  0.000002)
(('Holden', 'M'),         region sex  year    name  count      freq
3625689     NE   M  2020  Holden     21  0.000008
5983027     WA   M  2015  Holden     45  0.000014
1453334     GA   M  2008  Holden     24  0.000007)
(('Holley', 'F'),         region sex  year    name  count      freq
2322790     LA   F  1980  Holley      6  0.000002)
(('Holli', 'F'),         region sex  year   name  count      freq
5288461     TX   F  1966  Holli      6  0.000002)
(('Hollie', 'F'),         region sex  year    name  count      freq
2317238     LA   F  1974  Hollie     17  0.000006
5620014     UT   F  1999  Hollie      5  0.000002)
(('Hollis', 'M'),        region sex  year    name  count      freq
640446     CA   M  1944  Hollis      7  0.000003)
(('Holly', 'F'),         region sex  year   name  count      freq
1650037     ID   F  2011  Holly      5  0.000002
5885737     WA   F  1972  Holly     81  0.000028
1042749     DE   F  1963  Holly     14  0.000004)
(('Hollyn', 'F'),         region sex  year    name  count      freq
5159684     TN   F  2020  Hollyn     13  0.000005)
(('Homer', 'M'),         region sex  year   name  count      freq
1209635     FL   M  1961  Homer     13  0.000003)
(('Honey', 'F'),         region sex  year   name  count      freq
3965895     NY   F  1932  Honey      8  0.000004)
(('Hope', 'F'),         region sex  year  name  count      freq
3385911     NC   F  1995  Hope     40  0.000012
789162      CO   F  1927  Hope      6  0.000003
2437887     MA   F  1930  Hope     11  0.000005
2733360     MI   F  1941  Hope      8  0.000003
3970877     NY   F  1939  Hope     25  0.000012)
(('Hortensia', 'F'),        region sex  year       name  count      freq
457709     CA   F  1972  Hortensia      5  0.000002)
(('Howard', 'M'),         region sex  year    name  count      freq
4835334     PA   M  1991  Howard     22  0.000006
3104959     MO   M  1920  Howard    227  0.000108
1441830     GA   M  1999  Howard     13  0.000004
...        ...  ..   ...     ...    ...       ...
1421407     GA   M  1974  Howard     39  0.000014
2122942     KS   M  1944  Howard     63  0.000025
971095      CT   M  2004  Howard      5  0.000002

[10 rows x 6 columns])
(('Hoyt', 'M'),         region sex  year  name  count      freq
1403282     GA   M  1943  Hoyt     21  0.000008)
(('Hudson', 'M'),         region sex  year    name  count      freq
2411854     LA   M  2000  Hudson      5  0.000001)
(('Hugh', 'M'),         region sex  year  name  count      freq
954302      CT   M  1961  Hugh      8  0.000002
5209852     TN   M  2005  Hugh      5  0.000001
2988850     MN   M  1963  Hugh     11  0.000003
2880203     MI   M  2000  Hugh      6  0.000002
5946623     WA   M  1959  Hugh     14  0.000004)
(('Hugo', 'M'),         region sex  year  name  count      freq
2500044     MA   M  1912  Hugo      6  0.000007
2975874     MN   M  1927  Hugo      8  0.000004
2662030     MD   M  2016  Hugo      8  0.000003)
(('Hunter', 'M'),         region sex  year    name  count      freq
4645554     OR   M  1984  Hunter      6  0.000002
3789974     NJ   M  1988  Hunter     13  0.000004
3659376     NH   M  1991  Hunter      9  0.000003)
(('Hussain', 'M'),         region sex  year     name  count      freq
4243636     NY   M  2015  Hussain     11  0.000003)
(('Huston', 'M'),        region sex  year    name  count      freq
107402     AL   M  1919  Huston     10  0.000005)
(('Hyman', 'M'),         region sex  year   name  count      freq
4159217     NY   M  1960  Hyman      5  0.000001
1821800     IL   M  1920  Hyman     14  0.000007)
(('Ian', 'M'),         region sex  year name  count      freq
2514503     MA   M  1955  Ian      5  0.000001
1915804     IL   M  2020  Ian    140  0.000050
2874341     MI   M  1995  Ian    233  0.000072
3882377     NM   M  1978  Ian     18  0.000006)
(('Ida', 'F'),         region sex  year name  count      freq
2565339     MD   F  1954  Ida     18  0.000005
1086154     FL   F  1952  Ida     28  0.000008
4871223     RI   F  1916  Ida     33  0.000018
6124316     WV   F  1948  Ida     20  0.000006)
(('Idella', 'F'),         region sex  year    name  count      freq
1077239     FL   F  1932  Idella      5  0.000003)
(('Iesha', 'F'),         region sex  year   name  count      freq
1753537     IL   F  1985  Iesha     22  0.000007
1764152     IL   F  1992  Iesha     44  0.000013)
(('Ignacio', 'M'),        region sex  year     name  count      freq
390274     AZ   M  2020  Ignacio      9  0.000003)
(('Ike', 'M'),         region sex  year name  count      freq
2276207     KY   M  2018  Ike      6  0.000002)
(('Iker', 'M'),         region sex  year  name  count      freq
5224759     TN   M  2020  Iker     10  0.000004)
(('Ila', 'F'),        region sex  year name  count      freq
620039     CA   F  2020  Ila     33  0.000012)
(('Ilene', 'F'),         region sex  year   name  count      freq
5874996     WA   F  1953  Ilene      6  0.000002)
(('Iliana', 'F'),         region sex  year    name  count      freq
1738570     IL   F  1974  Iliana      5  0.000002
1145038     FL   F  2001  Iliana     12  0.000004)
(('Ilianna', 'F'),        region sex  year     name  count      freq
586581     CA   F  2011  Ilianna      9  0.000003)
(('Illyana', 'F'),        region sex  year     name  count      freq
599887     CA   F  2014  Illyana      5  0.000002)
(('Ima', 'F'),         region sex  year name  count      freq
5095060     TN   F  1939  Ima     12  0.000006)
(('Imani', 'F'),        region sex  year   name  count      freq
330307     AZ   F  2014  Imani     12  0.000004
334248     AZ   F  2017  Imani      9  0.000003)
(('Immaculate', 'F'),         region sex  year        name  count      freq
3969009     NY   F  1936  Immaculate      5  0.000003)
(('Imogene', 'F'),         region sex  year     name  count      freq
3341921     NC   F  1937  Imogene     13  0.000007
5864608     WA   F  1924  Imogene      5  0.000002)
(('Imran', 'M'),        region sex  year   name  count      freq
738050     CA   M  2004  Imran      6  0.000002)

(('Ina', 'F'),         region sex  year name  count      freq
5686387     VA   F  1925  Ina     19  0.000009
903351      CT   F  1940  Ina      5  0.000002)
(('Inaaya', 'F'),         region sex  year    name  count      freq
4103055     NY   F  2012  Inaaya      7  0.000002)
(('Indiana', 'F'),         region sex  year     name  count      freq
1382749     GA   F  2018  Indiana      6  0.000002)
(('Indigo', 'F'),         region sex  year    name  count      freq
2612047     MD   F  2017  Indigo      6  0.000002)
(('Inell', 'F'),         region sex  year   name  count      freq
5229367     TX   F  1915  Inell      7  0.000004)
(('Inez', 'F'),         region sex  year  name  count      freq
400672      CA   F  1929  Inez     27  0.000013
1143899     FL   F  2000  Inez      5  0.000001
1299821     GA   F  1940  Inez     51  0.000024
2565461     MD   F  1954  Inez      8  0.000002
52159       AL   F  1951  Inez     16  0.000005)
(('Ingrid', 'F'),         region sex  year    name  count      freq
3368597     NC   F  1975  Ingrid      7  0.000003
2561940     MD   F  1946  Ingrid      7  0.000002
3057709     MO   F  1972  Ingrid      6  0.000002
2943881     MN   F  1991  Ingrid      7  0.000002
1976189     IN   F  2002  Ingrid      6  0.000002)
(('Ioanna', 'F'),         region sex  year    name  count      freq
4014882     NY   F  1972  Ioanna      5  0.000002)
(('Iola', 'F'),         region sex  year  name  count      freq
1286523     GA   F  1916  Iola      6  0.000003
3957302     NY   F  1921  Iola      9  0.000004)
(('Iona', 'F'),        region sex  year  name  count      freq
178680     AR   F  1934  Iona      6  0.000003)
(('Iqra', 'F'),         region sex  year  name  count      freq
2960803     MN   F  2011  Iqra      5  0.000002)
(('Ira', 'F'),         region sex  year name  count      freq
5240532     TX   F  1926  Ira     15  0.000007)
(('Ira', 'M'),         region sex  year name  count      freq
735672      CA   M  2003  Ira      5  0.000002
4996981     SC   M  1960  Ira     14  0.000004
3465224     NC   M  1981  Ira     14  0.000004)
(('Iran', 'M'),         region sex  year  name  count      freq
5582064     TX   M  2018  Iran      5  0.000002)
(('Irasema', 'F'),        region sex  year     name  count      freq
509425     CA   F  1991  Irasema      8  0.000002)
(('Irelynn', 'F'),         region sex  year     name  count      freq
1170882     FL   F  2012  Irelynn      6  0.000002)
(('Irene', 'F'),         region sex  year   name  count      freq
4581196     OR   F  1938  Irene     18  0.000009
920294      CT   F  1980  Irene      7  0.000002
2725988     MI   F  1928  Irene    382  0.000181
5881868     WA   F  1965  Irene      9  0.000003
2672861     ME   F  1941  Irene     39  0.000017)
(('Iris', 'F'),         region sex  year  name  count      freq
3172417     MS   F  1927  Iris     13  0.000006
4709452     PA   F  1965  Iris     24  0.000007
276964      AZ   F  1940  Iris      5  0.000002
1979112     IN   F  2005  Iris     12  0.000004
931752      CT   F  2002  Iris      8  0.000002)
(('Irma', 'F'),         region sex  year  name  count      freq
4576565     OR   F  1916  Irma      8  0.000004
1931254     IN   F  1943  Irma     12  0.000005)
(('Irvin', 'M'),         region sex  year   name  count      freq
4401774     OH   M  1967  Irvin      9  0.000003
624063      CA   M  1915  Irvin     14  0.000008
3243787     MS   M  1950  Irvin      5  0.000002
6158006     WV   M  1929  Irvin     12  0.000006)
(('Irving', 'M'),         region sex  year    name  count      freq
4224680     NY   M  2006  Irving     14  0.000004
947921      CT   M  1936  Irving      7  0.000004
1228926     FL   M  1986  Irving      7  0.000002
2970266     MN   M  1912  Irving     19  0.000021
944984      CT   M  1922  Irving     44  0.000021)
(('Isa', 'M'),         region sex  year name  count      freq
3819460     NJ   M  2017  Isa      7  0.000002)
(('Isaac', 'M'),         region sex  year   name  count      freq
6086638     WI   M  1991  Isaac     43  0.000012
1612934     IA   M  2004  Isaac    124  0.000037
3139286     MO   M  1991  Isaac     37  0.000011
5071935     SD   M  1983  Isaac      7  0.000002
127513      AL   M  1957  Isaac     16  0.000004)
(('Isabel', 'F'),         region sex  year    name  count      freq
2949931     MN   F  2000  Isabel     83  0.000025
3074286     MO   F  1994  Isabel      6  0.000002)
(('Isabel', 'M'),         region sex  year    name  count      freq
5482738     TX   M  1962  Isabel      8  0.000002)
(('Isabella', 'F'),         region sex  year      name  count      freq
3419088     NC   F  2018  Isabella    405  0.000137
3854241     NM   F  2001  Isabella     57  0.000017)
(('Isabelle', 'F'),         region sex  year      name  count      freq
4515804     OK   F  2014  Isabelle     25  0.000008
459140      CA   F  1973  Isabelle      9  0.000003
461161      CA   F  1974  Isabelle     10  0.000004
5053330     SD   F  2005  Isabelle     15  0.000004
3555320     NE   F  1920  Isabelle     10  0.000005
1300114     GA   F  1940  Isabelle      7  0.000003)
(('Isai', 'M'),        region sex  year  name  count      freq
885105     CO   M  2008  Isai      8  0.000002)
(('Isaiah', 'M'),         region sex  year    name  count      freq
3614660     NE   M  1994  Isaiah      9  0.000003
5005268     SC   M  1978  Isaiah      7  0.000002
1412489     GA   M  1959  Isaiah     10  0.000003
3324542     MT   M  2013  Isaiah     22  0.000007
2716074     ME   M  2016  Isaiah     17  0.000005
3275828     MS   M  2014  Isaiah     50  0.000016)
(('Isha', 'F'),         region sex  year  name  count      freq
6043616     WI   F  2008  Isha      6  0.000002)
(('Ishaan', 'M'),        region sex  year    name  count      freq
747734     CA   M  2008  Ishaan     53  0.000016)
(('Ishan', 'M'),         region sex  year   name  count      freq
1251295     FL   M  2003  Ishan      5  0.000002
2889737     MI   M  2008  Ishan      5  0.000001)
(('Isis', 'F'),         region sex  year  name  count      freq
5392327     TX   F  2010  Isis     51  0.000016
543945      CA   F  2001  Isis     77  0.000023)
(('Isla', 'F'),         region sex  year  name  count      freq
4780325     PA   F  2019  Isla    154  0.000053)
(('Ismael', 'M'),         region sex  year    name  count      freq
2550954     MA   M  2020  Ismael      9  0.000003
4139751     NY   M  1935  Ismael      5  0.000003
4185310     NY   M  1983  Ismael     49  0.000016)
(('Ismerai', 'F'),        region sex  year     name  count      freq
574604     CA   F  2008  Ismerai      7  0.000002)
(('Israel', 'M'),         region sex  year    name  count      freq
5014816     SC   M  1996  Israel      6  0.000002
3158478     MO   M  2015  Israel     21  0.000007)
(('Isreal', 'M'),         region sex  year    name  count      freq
2372069     LA   M  1939  Isreal      7  0.000003)
(('Issac', 'M'),         region sex  year   name  count      freq
4663711     OR   M  2016  Issac      5  0.000002
6104049     WI   M  2015  Issac     12  0.000004)
(('Itzae', 'M'),         region sex  year   name  count      freq
5578720     TX   M  2017  Itzae      8  0.000003)
(('Itzel', 'F'),        region sex  year   name  count      freq
221865     AR   F  2019  Itzel      6  0.000002)
(('Iva', 'F'),         region sex  year name  count      freq
4261238     OH   F  1922  Iva     31  0.000015
4292588     OH   F  1963  Iva      9  0.000002
3337873     NC   F  1930  Iva     29  0.000014)
(('Ivan', 'M'),         region sex  year  name  count      freq
1509147     HI   M  1961  Ivan     12  0.000003
5519063     TX   M  1991  Ivan    281  0.000080
6075035     WI   M  1965  Ivan      7  0.000002
2700288     ME   M  1943  Ivan      7  0.000003
5676952     UT   M  2017  Ivan     37  0.000012
2515622     MA   M  1958  Ivan      5  0.000001
6055934     WI   M  1912  Ivan      8  0.000009)
(('Ivana', 'F'),         region sex  year   name  count      freq
3921997     NV   F  2013  Ivana      5  0.000002)
(('Ivania', 'F'),        region sex  year    name  count      freq
542126     CA   F  2000  Ivania      8  0.000002)
(('Iveth', 'F'),         region sex  year   name  count      freq
5372637     TX   F  2004  Iveth      7  0.000002)
(('Ivey', 'F'),         region sex  year  name  count      freq
1121595     FL   F  1987  Ivey      5  0.000002)
(('Ivonne', 'F'),         region sex  year    name  count      freq
5401642     TX   F  2012  Ivonne      7  0.000002)
(('Ivory', 'M'),         region sex  year   name  count      freq
4394973     OH   M  1957  Ivory      5  0.000001
5442629     TX   M  1923  Ivory      8  0.000004)
(('Ivy', 'F'),         region sex  year name  count      freq
479920      CA   F  1982  Ivy     27  0.000008
1310262     GA   F  1956  Ivy      6  0.000002
1554355     IA   F  1974  Ivy      5  0.000002)
(('Ixchel', 'F'),        region sex  year    name  count      freq
449305     CA   F  1968  Ixchel      5  0.000002)
(('Izabella', 'F'),         region sex  year      name  count      freq
3091397     MO   F  2012  Izabella     40  0.000013)
(('Izabelle', 'F'),         region sex  year      name  count      freq
4107755     NY   F  2014  Izabelle     10  0.000003)
(('Izaiah', 'M'),         region sex  year    name  count      freq
2550920     MA   M  2020  Izaiah     10  0.000004)
(('Izan', 'M'),         region sex  year  name  count      freq
5575269     TX   M  2016  Izan     18  0.000006)
(('Izrael', 'M'),         region sex  year    name  count      freq
3503771     NC   M  2019  Izrael      5  0.000002)
(('Jacalyn', 'F'),         region sex  year     name  count      freq
4701560     PA   F  1957  Jacalyn     10  0.000002)
(('Jace', 'M'),         region sex  year  name  count      freq
3616249     NE   M  1999  Jace     18  0.000005
2876936     MI   M  1997  Jace      7  0.000002
1676812     ID   M  2008  Jace     35  0.000010
2139490     KS   M  1989  Jace      5  0.000001)
(('Jacee', 'F'),         region sex  year   name  count      freq
1359978     GA   F  2005  Jacee      5  0.000001)
(('Jacey', 'F'),         region sex  year   name  count      freq
1183160     FL   F  2017  Jacey      5  0.000002)
(('Jacinda', 'F'),        region sex  year     name  count      freq
498370     CA   F  1988  Jacinda      9  0.000003)
(('Jack', 'M'),         region sex  year  name  count      freq
3779276     NJ   M  1972  Jack     42  0.000015
2375804     LA   M  1947  Jack    115  0.000034
2251490     KY   M  1971  Jack     38  0.000012
...        ...  ..   ...   ...    ...       ...
2517750     MA   M  1964  Jack     42  0.000011
5848837     VT   M  1927  Jack      8  0.000004
5666414     UT   M  2003  Jack     94  0.000028

[14 rows x 6 columns])
(('Jackie', 'F'),         region sex  year    name  count      freq
5131936     TN   F  1995  Jackie      5  0.000002
3062386     MO   F  1979  Jackie     21  0.000007
1631734     ID   F  1954  Jackie     14  0.000004
1628010     ID   F  1937  Jackie      6  0.000003
5867496     WA   F  1935  Jackie     16  0.000008)
(('Jackie', 'M'),         region sex  year    name  count      freq
5793935     VA   M  1977  Jackie     23  0.000008
5789367     VA   M  1968  Jackie     19  0.000006
855520      CO   M  1948  Jackie     13  0.000004
4160755     NY   M  1962  Jackie     24  0.000006)
(('Jacklyn', 'F'),         region sex  year     name  count      freq
821596      CO   F  1995  Jacklyn      5  0.000002
3701065     NJ   F  1974  Jacklyn      5  0.000002)
(('Jackson', 'M'),         region sex  year     name  count      freq
5543676     TX   M  2004  Jackson    708  0.000212
874821      CO   M  1994  Jackson     57  0.000017
3161072     MO   M  2018  Jackson    254  0.000086
5196701     TN   M  1987  Jackson     16  0.000005
4659601     OR   M  2011  Jackson    180  0.000058)
(('Jaclyn', 'F'),         region sex  year    name  count      freq
5609348     UT   F  1981  Jaclyn     21  0.000007)
(('Jaclynn', 'F'),         region sex  year     name  count      freq
5318376     TX   F  1983  Jaclynn      6  0.000002)
(('Jacob', 'M'),         region sex  year   name  count      freq
5008834     SC   M  1986  Jacob    106  0.000033
4148658     NY   M  1949  Jacob     48  0.000014
2996848     MN   M  1984  Jacob    525  0.000165
...        ...  ..   ...    ...    ...       ...
1066326     DE   M  2007  Jacob     61  0.000018
3146610     MO   M  2002  Jacob    761  0.000232
3278867     MS   M  2019  Jacob     69  0.000024

[9 rows x 6 columns])
(('Jacobo', 'M'),        region sex  year    name  count      freq
768846     CA   M  2015  Jacobo     15  0.000005)
(('Jacqueline', 'F'),         region sex  year        name  count      freq
3991171     NY   F  1958  Jacqueline    503  0.000128
6195643     WY   F  1976  Jacqueline      5  0.000002
1928756     IN   F  1938  Jacqueline    107  0.000052
1295470     GA   F  1932  Jacqueline     55  0.000028
905645      CT   F  1948  Jacqueline     85  0.000026
2334454     LA   F  1994  Jacqueline     25  0.000008)
(('Jacquelyn', 'F'),         region sex  year       name  count      freq
1959787     IN   F  1984  Jacquelyn     30  0.000009
3677415     NJ   F  1940  Jacquelyn     21  0.000010
3208422     MS   F  1992  Jacquelyn      9  0.000003
474121      CA   F  1980  Jacquelyn    106  0.000034
2777687     MI   F  1988  Jacquelyn     55  0.000016)
(('Jacquelynn', 'F'),        region sex  year        name  count      freq
537859     CA   F  1999  Jacquelynn     12  0.000004)
(('Jacquline', 'F'),       region sex  year       name  count      freq
57440     AL   F  1959  Jacquline      7  0.000002)
(('Jacqulyn', 'F'),         region sex  year      name  count      freq
5271484     TX   F  1954  Jacqulyn      5  0.000001)
(('Jade', 'F'),         region sex  year  name  count      freq
1652472     ID   F  2017  Jade     11  0.000004
6221757     PR   F  2007  Jade     18  0.000005
3851629     NM   F  1995  Jade     20  0.000006
2497737     MA   F  2019  Jade     29  0.000010)
(('Jade', 'M'),        region sex  year  name  count      freq
690988     CA   M  1985  Jade      9  0.000003)
(('Jaden', 'M'),         region sex  year   name  count     freq
2537849     MA   M  2004  Jaden     65  0.00002)
(('Jadon', 'M'),         region sex  year   name  count      freq
4655487     OR   M  2004  Jadon      6  0.000002)
(('Jaelene', 'F'),        region sex  year     name  count      freq
577479     CA   F  2009  Jaelene     17  0.000005)
(('Jaelyn', 'F'),         region sex  year    name  count      freq
5735745     VA   F  2000  Jaelyn     10  0.000003
834427      CO   F  2009  Jaelyn     15  0.000005
2496193     MA   F  2017  Jaelyn      8  0.000003)
(('Jahaida', 'F'),         region sex  year     name  count      freq
4025893     NY   F  1978  Jahaida      5  0.000002)
(('Jahaira', 'F'),         region sex  year     name  count      freq
5375364     TX   F  2005  Jahaira     11  0.000003)
(('Jaheim', 'M'),         region sex  year    name  count     freq
2413731     LA   M  2003  Jaheim     33  0.00001)
(('Jahel', 'M'),        region sex  year   name  count      freq
752798     CA   M  2009  Jahel      5  0.000002)
(('Jahleel', 'M'),         region sex  year     name  count      freq
4213465     NY   M  2000  Jahleel      9  0.000003)
(('Jahmir', 'M'),         region sex  year    name  count      freq
1907903     IL   M  2014  Jahmir      6  0.000002)
(('Jai', 'M'),         region sex  year name  count      freq
1904748     IL   M  2012  Jai      7  0.000002)

(('Jaiden', 'M'),         region sex  year    name  count      freq
5577204     TX   M  2017  Jaiden    127  0.000042
744440      CA   M  2007  Jaiden    208  0.000060
2658981     MD   M  2013  Jaiden     31  0.000010)
(('Jaidyn', 'F'),         region sex  year    name  count      freq
4345995     OH   F  2006  Jaidyn     18  0.000005
4964447     SC   F  2007  Jaidyn      8  0.000002
835818      CO   F  2010  Jaidyn      7  0.000002
6146578     WV   F  2007  Jaidyn      5  0.000001)
(('Jailynn', 'F'),         region sex  year     name  count      freq
4769874     PA   F  2012  Jailynn      9  0.000003)
(('Jaime', 'F'),         region sex  year   name  count      freq
5607702     UT   F  1978  Jaime     38  0.000013)
(('Jaime', 'M'),         region sex  year   name  count      freq
1843225     IL   M  1957  Jaime     23  0.000006
4559562     OK   M  1998  Jaime      6  0.000002
2848398     MI   M  1960  Jaime     11  0.000003)
(('Jaimee', 'F'),         region sex  year    name  count      freq
4050941     NY   F  1991  Jaimee     17  0.000005)
(('Jaimie', 'F'),         region sex  year    name  count      freq
4598422     OR   F  1980  Jaimie      8  0.000003)
(('Jaina', 'F'),         region sex  year   name  count      freq
1180075     FL   F  2016  Jaina      8  0.000003)
(('Jairo', 'M'),         region sex  year   name  count      freq
733623      CA   M  2003  Jairo     95  0.000029
1255433     FL   M  2006  Jairo     24  0.000007
1234361     FL   M  1991  Jairo     10  0.000003
3893684     NM   M  2006  Jairo      7  0.000002)
(('Jakari', 'M'),         region sex  year    name  count      freq
2898978     MI   M  2016  Jakari     12  0.000004)
(('Jake', 'M'),         region sex  year  name  count      freq
3437306     NC   M  1934  Jake     11  0.000006
357173      AZ   M  1977  Jake      7  0.000002
3235545     MS   M  1932  Jake      9  0.000005
3792084     NJ   M  1991  Jake     99  0.000028)
(('Jakob', 'M'),         region sex  year   name  count      freq
4455268     OH   M  2020  Jakob      8  0.000003
5213101     TN   M  2009  Jakob     22  0.000007
6090213     WI   M  1997  Jakob     32  0.000010
4654540     OR   M  2003  Jakob     32  0.000010
2274590     KY   M  2016  Jakob     10  0.000003)
(('Jakobe', 'M'),         region sex  year    name  count      freq
5026484     SC   M  2013  Jakobe     10  0.000003)
(('Jalen', 'M'),         region sex  year   name  count      freq
5529799     TX   M  1997  Jalen     42  0.000013
4443626     OH   M  2012  Jalen     23  0.000007)
(('Jalyn', 'F'),         region sex  year   name  count      freq
1354055     GA   F  2002  Jalyn     14  0.000004
2589996     MD   F  1994  Jalyn      6  0.000002)
(('Jama', 'F'),         region sex  year  name  count      freq
1940471     IN   F  1958  Jama     11  0.000003)
(('Jamal', 'M'),         region sex  year   name  count      freq
2528658     MA   M  1989  Jamal     26  0.000007
1456203     GA   M  2010  Jamal     26  0.000008
3798460     NJ   M  1998  Jamal     26  0.000008
2025471     IN   M  1975  Jamal      5  0.000002
673511      CA   M  1975  Jamal     50  0.000018)
(('Jamar', 'M'),         region sex  year   name  count      freq
1062894     DE   M  1988  Jamar      5  0.000001
2391349     LA   M  1972  Jamar     12  0.000004
1276050     FL   M  2017  Jamar     22  0.000007
4211078     NY   M  1999  Jamar     23  0.000007)
(('Jamarcus', 'M'),         region sex  year      name  count      freq
3483205     NC   M  2003  Jamarcus     13  0.000004)
(('Jamari', 'M'),         region sex  year    name  count     freq
5556508     TX   M  2009  Jamari     33  0.00001)
(('Jamarion', 'M'),         region sex  year      name  count      freq
1902395     IL   M  2011  Jamarion     39  0.000013
3275311     MS   M  2013  Jamarion     20  0.000006)
(('Jamel', 'M'),         region sex  year   name  count      freq
5576432     TX   M  2016  Jamel      6  0.000002
4216484     NY   M  2002  Jamel     41  0.000013)
(('Jamere', 'M'),         region sex  year    name  count      freq
4857838     PA   M  2011  Jamere      6  0.000002)
(('James', 'F'),         region sex  year   name  count      freq
989198      DC   F  1957  James      6  0.000001
3349142     NC   F  1949  James     18  0.000005
2912462     MN   F  1930  James     10  0.000005)
(('James', 'M'),         region sex  year   name  count      freq
3615459     NE   M  1997  James     82  0.000026
2505653     MA   M  1928  James   1220  0.000579
5209929     TN   M  2006  James    511  0.000149
...        ...  ..   ...    ...    ...       ...
6064733     WI   M  1938  James   1518  0.000734
6086532     WI   M  1991  James    403  0.000115
2240099     KY   M  1946  James   2457  0.000810

[11 rows x 6 columns])
(('Jameson', 'M'),         region sex  year     name  count      freq
6078448     WI   M  1973  Jameson      5  0.000002)
(('Jami', 'F'),         region sex  year  name  count      freq
2094575     KS   F  1992  Jami      7  0.000002
2320603     LA   F  1978  Jami     14  0.000005)
(('Jamie', 'F'),         region sex  year   name  count      freq
2808116     MI   F  2010  Jamie     15  0.000005
2498034     MA   F  2019  Jamie     11  0.000004
4593786     OR   F  1971  Jamie     35  0.000011
2189595     KY   F  1971  Jamie     63  0.000020
3291318     MT   F  1965  Jamie     27  0.000008)
(('Jamie', 'M'),         region sex  year   name  count      freq
1280001     FL   M  2019  Jamie     21  0.000007)
(('Jamika', 'F'),         region sex  year    name  count      freq
5340937     TX   F  1993  Jamika      7  0.000002)
(('Jamila', 'F'),         region sex  year    name  count      freq
4740741     PA   F  1992  Jamila      7  0.000002)
(('Jamin', 'M'),        region sex  year   name  count      freq
757868     CA   M  2011  Jamin      8  0.000003)
(('Jamir', 'M'),         region sex  year   name  count      freq
2053888     IN   M  2014  Jamir      6  0.000002)
(('Jamira', 'F'),         region sex  year    name  count      freq
3213656     MS   F  2001  Jamira      5  0.000002)
(('Jamison', 'M'),         region sex  year     name  count      freq
2048659     IN   M  2009  Jamison     10  0.000003
5219151     TN   M  2015  Jamison     20  0.000006)
(('Jamiyah', 'F'),         region sex  year     name  count      freq
5141774     TN   F  2005  Jamiyah      5  0.000001)
(('Jan', 'F'),         region sex  year name  count      freq
905119      CT   F  1946  Jan     10  0.000003
5869606     WA   F  1942  Jan     18  0.000007
2314859     LA   F  1971  Jan     21  0.000007)
(('Jan', 'M'),         region sex  year name  count      freq
3806790     NJ   M  2006  Jan     12  0.000004
1232008     FL   M  1989  Jan     10  0.000003
6072440     WI   M  1959  Jan     14  0.000004
4401007     OH   M  1966  Jan     15  0.000005)
(('Jana', 'F'),         region sex  year  name  count      freq
5138152     TN   F  2002  Jana     10  0.000003
2457808     MA   F  1970  Jana      7  0.000002)
(('Janae', 'F'),         region sex  year   name  count      freq
5345042     TX   F  1995  Janae     19  0.000006
3852829     NM   F  1997  Janae      5  0.000002
1964004     IN   F  1989  Janae      7  0.000002)
(('Janay', 'F'),         region sex  year   name  count      freq
89547       AL   F  2005  Janay      5  0.000001
4090587     NY   F  2007  Janay      5  0.000001)
(('Jane', 'F'),         region sex  year  name  count      freq
4311090     OH   F  1980  Jane     36  0.000011
2086516     KS   F  1975  Jane      6  0.000002
1652391     ID   F  2017  Jane     19  0.000006
...        ...  ..   ...   ...    ...       ...
1713509     IL   F  1954  Jane    480  0.000127
1623422     ID   F  1913  Jane      8  0.000008
6023277     WI   F  1982  Jane     23  0.000007

[8 rows x 6 columns])
(('Janee', 'F'),         region sex  year   name  count      freq
1139818     FL   F  1998  Janee      6  0.000002)
(('Janel', 'F'),         region sex  year   name  count      freq
433696      CA   F  1960  Janel     13  0.000003
3844318     NM   F  1978  Janel      6  0.000002)
(('Janell', 'F'),         region sex  year    name  count      freq
590383      CA   F  2012  Janell     10  0.000003
2932821     MN   F  1973  Janell     17  0.000006
5256652     TX   F  1942  Janell     17  0.000007
5601770     UT   F  1963  Janell      5  0.000001)
(('Janelle', 'F'),         region sex  year     name  count      freq
1544631     IA   F  1954  Janelle     22  0.000006
1344662     GA   F  1995  Janelle      9  0.000003
2956772     MN   F  2007  Janelle      6  0.000002)
(('Janene', 'F'),         region sex  year    name  count      freq
4289680     OH   F  1960  Janene      5  0.000001)
(('Janet', 'F'),         region sex  year   name  count      freq
3040152     MO   F  1946  Janet    545  0.000180
4881066     RI   F  1966  Janet     26  0.000008
4674043     PA   F  1922  Janet    268  0.000126
...        ...  ..   ...    ...    ...       ...
309791      AZ   F  1998  Janet     23  0.000007
5711492     VA   F  1971  Janet    107  0.000034
6113772     WV   F  1923  Janet     32  0.000015

[8 rows x 6 columns])
(('Janey', 'F'),        region sex  year   name  count      freq
415378     CA   F  1947  Janey      7  0.000002
432643     CA   F  1959  Janey      5  0.000001)
(('Janice', 'F'),         region sex  year    name  count      freq
2190792     KY   F  1973  Janice     43  0.000016
1079962     FL   F  1940  Janice     82  0.000038
2564664     MD   F  1953  Janice    176  0.000048
3962349     NY   F  1928  Janice    146  0.000069)
(('Janie', 'F'),         region sex  year   name  count      freq
4912077     SC   F  1912  Janie     78  0.000088
1710975     IL   F  1951  Janie     28  0.000008
3196472     MS   F  1971  Janie     16  0.000005
519190      CA   F  1994  Janie     30  0.000009)
(('Janine', 'F'),         region sex  year    name  count      freq
5900263     WA   F  1991  Janine      5  0.000001
810758      CO   F  1979  Janine      6  0.000002
1314668     GA   F  1962  Janine     10  0.000003)
(('Janis', 'F'),         region sex  year   name  count      freq
1631736     ID   F  1954  Janis     14  0.000004
4710508     PA   F  1966  Janis     18  0.000006)
(('Janiyah', 'F'),         region sex  year     name  count      freq
3753194     NJ   F  2019  Janiyah     11  0.000004)
(('Janna', 'F'),         region sex  year   name  count      freq
2779548     MI   F  1989  Janna      7  0.000002)
(('Jannette', 'F'),        region sex  year      name  count      freq
519646     CA   F  1994  Jannette     17  0.000005)
(('Jannie', 'F'),         region sex  year    name  count      freq
1284675     GA   F  1913  Jannie     23  0.000022)
(('Japhet', 'M'),         region sex  year    name  count      freq
6233276     PR   M  2009  Japhet      5  0.000002)
(('Jaquan', 'M'),        region sex  year    name  count      freq
147044     AL   M  1994  Jaquan     12  0.000004)
(('Jaquil', 'M'),         region sex  year    name  count      freq
3800016     NJ   M  1999  Jaquil      5  0.000002)
(('Jared', 'M'),         region sex  year   name  count      freq
5856466     VT   M  1989  Jared     19  0.000005
6083987     WI   M  1986  Jared    131  0.000041
4850455     PA   M  2006  Jared     92  0.000027)
(('Jarell', 'M'),         region sex  year    name  count      freq
2410915     LA   M  1999  Jarell      6  0.000002)
(('Jarod', 'M'),         region sex  year   name  count      freq
5494865     TX   M  1973  Jarod     10  0.000004
3660973     NH   M  1999  Jarod      9  0.000003)
(('Jaron', 'M'),         region sex  year   name  count      freq
1878574     IL   M  1994  Jaron     13  0.000004)
(('Jarred', 'M'),        region sex  year    name  count      freq
251639     AR   M  1983  Jarred     12  0.000004)
(('Jarret', 'M'),         region sex  year    name  count      freq
5503711     TX   M  1980  Jarret      8  0.000003)
(('Jarrett', 'M'),         region sex  year     name  count      freq
253190      AR   M  1987  Jarrett      7  0.000002
1234053     FL   M  1991  Jarrett     26  0.000007)
(('Jarrod', 'M'),         region sex  year    name  count      freq
4411843     OH   M  1981  Jarrod     57  0.000018
5803890     VA   M  1993  Jarrod     11  0.000003
3465277     NC   M  1981  Jarrod     11  0.000003)
(('Jase', 'M'),         region sex  year  name  count      freq
1255637     FL   M  2006  Jase     15  0.000004
5515536     TX   M  1988  Jase      6  0.000002
1267865     FL   M  2013  Jase    217  0.000070
1619314     IA   M  2015  Jase     50  0.000016)
(('Jasen', 'M'),         region sex  year   name  count      freq
5538848     TX   M  2001  Jasen      6  0.000002)
(('Jaskaran', 'M'),        region sex  year      name  count      freq
752806     CA   M  2009  Jaskaran      5  0.000002)
(('Jasmin', 'F'),         region sex  year    name  count      freq
1492796     HI   F  1993  Jasmin      6  0.000002
6031460     WI   F  1994  Jasmin     23  0.000007
4617621     OR   F  2010  Jasmin     17  0.000005)
(('Jasmine', 'F'),         region sex  year     name  count      freq
3210312     MS   F  1996  Jasmine    197  0.000061
1332685     GA   F  1984  Jasmine     52  0.000016
1645720     ID   F  2002  Jasmine     34  0.000010)

(('Jasmyne', 'F'),         region sex  year     name  count      freq
1974968     IN   F  2001  Jasmyne      8  0.000002)
(('Jason', 'F'),         region sex  year   name  count      freq
2770873     MI   F  1981  Jason      5  0.000002)
(('Jason', 'M'),         region sex  year   name  count      freq
6173622     WV   M  1975  Jason    568  0.000207
4429580     OH   M  2001  Jason    330  0.000100
2023320     IN   M  1972  Jason   1354  0.000468
2032689     IN   M  1989  Jason    263  0.000076
123993      AL   M  1950  Jason      5  0.000002
5009812     SC   M  1988  Jason    176  0.000053)
(('Jasper', 'M'),         region sex  year    name  count      freq
4866479     PA   M  2018  Jasper     51  0.000017
1393533     GA   M  1924  Jasper     25  0.000011
1242060     FL   M  1997  Jasper      8  0.000003
5184293     TN   M  1962  Jasper      7  0.000002
1874079     IL   M  1990  Jasper      6  0.000002
2373983     LA   M  1943  Jasper     11  0.000004
5492734     TX   M  1971  Jasper      6  0.000002)
(('Jatziel', 'M'),         region sex  year     name  count      freq
6233277     PR   M  2009  Jatziel      5  0.000002)
(('Javian', 'M'),         region sex  year    name  count      freq
5547054     TX   M  2005  Javian     13  0.000004)
(('Javier', 'M'),         region sex  year    name  count      freq
3013430     MN   M  2011  Javier     20  0.000006
2416546     LA   M  2006  Javier      9  0.000003)
(('Javion', 'M'),         region sex  year    name  count      freq
1897801     IL   M  2008  Javion     27  0.000008
151755      AL   M  2001  Javion      9  0.000003)
(('Javon', 'M'),         region sex  year   name  count      freq
5519987     TX   M  1991  Javon      9  0.000003
5820798     VA   M  2011  Javon     13  0.000004)
(('Jax', 'M'),         region sex  year name  count      freq
1252527     FL   M  2004  Jax      8  0.000002
2056323     IN   M  2017  Jax     42  0.000014)
(('Jaxen', 'M'),         region sex  year   name  count     freq
5577651     TX   M  2017  Jaxen     31  0.00001)
(('Jaxon', 'M'),         region sex  year   name  count      freq
5665128     UT   M  2001  Jaxon     89  0.000027)
(('Jaxson', 'M'),         region sex  year    name  count      freq
5972161     WA   M  2004  Jaxson     14  0.000004
1461468     GA   M  2014  Jaxson    156  0.000049)
(('Jaxton', 'M'),         region sex  year    name  count      freq
3019641     MN   M  2018  Jaxton     14  0.000005
5672344     UT   M  2011  Jaxton     35  0.000011)
(('Jaxxon', 'M'),        region sex  year    name  count      freq
386531     AZ   M  2016  Jaxxon      6  0.000002)
(('Jay', 'M'),         region sex  year name  count      freq
5658354     UT   M  1987  Jay     23  0.000007
1514366     HI   M  1980  Jay     14  0.000004)
(('Jaya', 'F'),         region sex  year  name  count      freq
1572397     IA   F  2009  Jaya      6  0.000002)
(('Jayce', 'F'),         region sex  year   name  count      freq
1367323     GA   F  2009  Jayce      5  0.000002)
(('Jayce', 'M'),         region sex  year   name  count      freq
5968420     WA   M  1999  Jayce      5  0.000002
4562975     OK   M  2004  Jayce     16  0.000005)
(('Jaycie', 'F'),         region sex  year    name  count      freq
2808913     MI   F  2010  Jaycie      5  0.000002)
(('Jaycob', 'M'),         region sex  year    name  count      freq
4251384     NY   M  2019  Jaycob     23  0.000008
2890703     MI   M  2009  Jaycob      7  0.000002)
(('Jayda', 'F'),         region sex  year   name  count      freq
6238506     TR   F  2000  Jayda      5  0.000001)
(('Jayde', 'F'),         region sex  year   name  count      freq
313562      AZ   F  2001  Jayde      8  0.000002
2223127     KY   F  2020  Jayde      5  0.000002
1370106     GA   F  2011  Jayde     10  0.000003)
(('Jaydem', 'M'),         region sex  year    name  count      freq
6235881     PR   M  2014  Jaydem      7  0.000002)
(('Jayden', 'F'),         region sex  year    name  count      freq
6045101     WI   F  2010  Jayden     23  0.000007)
(('Jayden', 'M'),         region sex  year    name  count      freq
1032235     DC   M  2006  Jayden     23  0.000007)
(('Jayla', 'F'),         region sex  year   name  count      freq
4369264     OH   F  2020  Jayla     37  0.000013)
(('Jaylan', 'M'),         region sex  year    name  count      freq
2047771     IN   M  2008  Jaylan      8  0.000002)
(('Jayleen', 'F'),         region sex  year     name  count     freq
1157687     FL   F  2007  Jayleen     33  0.00001)
(('Jaylen', 'M'),         region sex  year    name  count      freq
2878391     MI   M  1999  Jaylen     73  0.000022
768026      CA   M  2015  Jaylen     73  0.000023
1254974     FL   M  2006  Jaylen    160  0.000047
3617972     NE   M  2003  Jaylen      5  0.000002
4454759     OH   M  2020  Jaylen     25  0.000009)
(('Jaylene', 'F'),        region sex  year     name  count      freq
839621     CO   F  2014  Jaylene     14  0.000004)
(('Jaylin', 'F'),         region sex  year    name  count      freq
5738346     VA   F  2002  Jaylin      6  0.000002)
(('Jaylyn', 'F'),         region sex  year    name  count      freq
1181927     FL   F  2017  Jaylyn     14  0.000005)
(('Jaylynn', 'F'),         region sex  year     name  count      freq
1148758     FL   F  2003  Jaylynn     22  0.000007
1997660     IN   F  2020  Jaylynn      6  0.000002
5744362     VA   F  2007  Jaylynn     11  0.000003)
(('Jayme', 'F'),         region sex  year   name  count      freq
2092048     KS   F  1987  Jayme     11  0.000003
428623      CA   F  1957  Jayme     15  0.000004)
(('Jayna', 'F'),        region sex  year   name  count      freq
578196     CA   F  2009  Jayna     10  0.000003)
(('Jayne', 'F'),         region sex  year   name  count      freq
1694446     IL   F  1928  Jayne      9  0.000004
2722399     MI   F  1921  Jayne     12  0.000006
4036595     NY   F  1984  Jayne      8  0.000003)
(('Jayquan', 'M'),         region sex  year     name  count      freq
3477161     NC   M  1997  Jayquan     11  0.000003)
(('Jayro', 'M'),        region sex  year   name  count      freq
695540     CA   M  1987  Jayro      6  0.000002)
(('Jayson', 'M'),         region sex  year    name  count      freq
2528941     MA   M  1989  Jayson      6  0.000002
973953      CT   M  2010  Jayson     16  0.000005)
(('Jayvion', 'M'),         region sex  year     name  count      freq
3503785     NC   M  2019  Jayvion      5  0.000002)
(('Jazleen', 'F'),         region sex  year     name  count      freq
1798409     IL   F  2010  Jazleen      5  0.000002)
(('Jazlyn', 'F'),         region sex  year    name  count      freq
3724010     NJ   F  1997  Jazlyn     11  0.000003
540238      CA   F  2000  Jazlyn     65  0.000019)
(('Jazmin', 'F'),         region sex  year    name  count      freq
3861760     NM   F  2015  Jazmin      6  0.000002
4320854     OH   F  1988  Jazmin     11  0.000003
208958      AR   F  1999  Jazmin      9  0.000003)
(('Jazmine', 'F'),         region sex  year     name  count      freq
2104142     KS   F  2008  Jazmine      7  0.000002)
(('Jazmyn', 'F'),        region sex  year    name  count      freq
308950     AZ   F  1997  Jazmyn     12  0.000004)
(('Jean', 'F'),         region sex  year  name  count      freq
598191      CA   F  2014  Jean     12  0.000004
1684397     IL   F  1914  Jean    308  0.000238
1295384     GA   F  1932  Jean    157  0.000080
3633316     NH   F  1958  Jean     28  0.000007
5590180     UT   F  1923  Jean     53  0.000025)
(('Jean', 'M'),         region sex  year  name  count      freq
4181411     NY   M  1980  Jean     69  0.000022
4896137     RI   M  1932  Jean     16  0.000008
4140181     NY   M  1936  Jean     10  0.000005
5491267     TX   M  1970  Jean     12  0.000004)
(('Jeancarlo', 'M'),        region sex  year       name  count      freq
710235     CA   M  1993  Jeancarlo      6  0.000002)
(('Jeanette', 'F'),         region sex  year      name  count      freq
3172326     MS   F  1927  Jeanette     25  0.000012
4579373     OR   F  1929  Jeanette     12  0.000006
6126028     WV   F  1952  Jeanette     28  0.000008
2762469     MI   F  1974  Jeanette     45  0.000016
786546      CO   F  1918  Jeanette      8  0.000004
3964672     NY   F  1931  Jeanette    240  0.000122)
(('Jeanie', 'F'),         region sex  year    name  count      freq
2081147     KS   F  1963  Jeanie      8  0.000002)
(('Jeanine', 'F'),         region sex  year     name  count      freq
1944055     IN   F  1963  Jeanine     21  0.000006
1537916     IA   F  1938  Jeanine     10  0.000005)
(('Jeanne', 'F'),         region sex  year    name  count      freq
4926991     SC   F  1945  Jeanne     16  0.000006
4042014     NY   F  1987  Jeanne     19  0.000006
4301869     OH   F  1972  Jeanne     51  0.000018
2308475     LA   F  1963  Jeanne     67  0.000018
6189913     WY   F  1937  Jeanne      6  0.000003
2748201     MI   F  1960  Jeanne    162  0.000041)
(('Jeannette', 'F'),         region sex  year       name  count      freq
1714761     IL   F  1955  Jeannette     42  0.000011
433010      CA   F  1960  Jeannette    133  0.000034
2182498     KY   F  1958  Jeannette      6  0.000002)
(('Jeannie', 'F'),         region sex  year     name  count      freq
4685574     PA   F  1938  Jeannie     10  0.000005
197148      AR   F  1974  Jeannie     28  0.000010
4468625     OK   F  1935  Jeannie      6  0.000003
4267721     OH   F  1932  Jeannie      6  0.000003)
(('Jeannine', 'F'),         region sex  year      name  count      freq
3630137     NH   F  1939  Jeannine      9  0.000004)
(('Jed', 'M'),         region sex  year name  count      freq
681313      CA   M  1980  Jed     28  0.000009
4833078     PA   M  1988  Jed      6  0.000002)
(('Jeff', 'M'),         region sex  year  name  count      freq
2530558     MA   M  1992  Jeff      9  0.000003
3255254     MS   M  1975  Jeff      8  0.000003
5784457     VA   M  1959  Jeff    124  0.000031)
(('Jefferson', 'M'),         region sex  year       name  count      freq
651896      CA   M  1957  Jefferson     11  0.000003
5829810     VA   M  2019  Jefferson     16  0.000005
2536021     MA   M  2001  Jefferson     10  0.000003
5776779     VA   M  1943  Jefferson      5  0.000002)
(('Jeffery', 'M'),         region sex  year     name  count      freq
4994961     SC   M  1956  Jeffery     52  0.000013
153592      AL   M  2004  Jeffery     23  0.000007)
(('Jeffrey', 'M'),         region sex  year     name  count      freq
3126418     MO   M  1967  Jeffrey    792  0.000249
1836265     IL   M  1947  Jeffrey    360  0.000105
1013777     DC   M  1945  Jeffrey     37  0.000015
1260581     FL   M  2009  Jeffrey     99  0.000030
2372936     LA   M  1941  Jeffrey     12  0.000005)
(('Jeffry', 'M'),         region sex  year    name  count      freq
4541681     OK   M  1959  Jeffry      8  0.000002)
(('Jelani', 'M'),         region sex  year    name  count      freq
4183307     NY   M  1981  Jelani      8  0.000003)
(('Jemal', 'M'),         region sex  year   name  count      freq
3779087     NJ   M  1971  Jemal      5  0.000002
1852480     IL   M  1968  Jemal      5  0.000002)
(('Jena', 'F'),         region sex  year  name  count      freq
5382579     TX   F  2007  Jena     10  0.000003)
(('Jencarlos', 'M'),         region sex  year       name  count      freq
1912622     IL   M  2017  Jencarlos      5  0.000002)
(('Jenee', 'F'),        region sex  year   name  count      freq
480517     CA   F  1982  Jenee     12  0.000004)
(('Jenelle', 'F'),         region sex  year     name  count      freq
1966776     IN   F  1992  Jenelle      5  0.000001
3844654     NM   F  1979  Jenelle      9  0.000003)
(('Jenesis', 'F'),         region sex  year     name  count      freq
3917404     NV   F  2006  Jenesis      5  0.000001)
(('Jenessa', 'F'),         region sex  year     name  count      freq
2795727     MI   F  2001  Jenessa      5  0.000002)
(('Jenifer', 'F'),         region sex  year     name  count      freq
3364612     NC   F  1970  Jenifer     10  0.000003)
(('Jenna', 'F'),         region sex  year   name  count      freq
1356786     GA   F  2004  Jenna    100  0.000030
4519016     OK   F  2017  Jenna      6  0.000002)
(('Jennafer', 'F'),         region sex  year      name  count      freq
1120153     FL   F  1986  Jennafer      5  0.000002)
(('Jennette', 'F'),         region sex  year      name  count      freq
4929763     SC   F  1950  Jennette      7  0.000002)
(('Jennie', 'F'),         region sex  year    name  count      freq
4057779     NY   F  1994  Jennie     22  0.000007
2581830     MD   F  1983  Jennie      9  0.000003
802829      CO   F  1964  Jennie      7  0.000002
3393621     NC   F  2001  Jennie      8  0.000002
2077141     KS   F  1955  Jennie      9  0.000002)
(('Jennifer', 'F'),         region sex  year      name  count      freq
221090      AR   F  2018  Jennifer      8  0.000003
6127268     WV   F  1955  Jennifer     76  0.000020
5842568     VT   F  1987  Jennifer     61  0.000019
2922970     MN   F  1955  Jennifer     86  0.000022
1645374     ID   F  2001  Jennifer     25  0.000008
6019948     WI   F  1977  Jennifer   1571  0.000545
5137689     TN   F  2002  Jennifer     90  0.000027)
(('Jennine', 'F'),         region sex  year     name  count      freq
2767517     MI   F  1978  Jennine      5  0.000002)
(('Jennings', 'M'),         region sex  year      name  count      freq
3441389     NC   M  1941  Jennings      7  0.000003)
(('Jenny', 'F'),         region sex  year   name  count      freq
1344333     GA   F  1995  Jenny     21  0.000006
5908390     WA   F  2000  Jenny     19  0.000006
273448      AZ   F  1925  Jenny      5  0.000002
5591060     UT   F  1926  Jenny      5  0.000002
1962988     IN   F  1988  Jenny     12  0.000004)
(('Jensen', 'M'),         region sex  year    name  count      freq
5078785     SD   M  2014  Jensen      6  0.000002
2425367     LA   M  2016  Jensen     15  0.000005)
(('Jenson', 'M'),         region sex  year    name  count      freq
3159032     MO   M  2015  Jenson      5  0.000002)

(('Jerald', 'M'),         region sex  year    name  count      freq
4229419     NY   M  2008  Jerald      7  0.000002
2249638     KY   M  1966  Jerald      7  0.000002
1838928     IL   M  1951  Jerald     36  0.000010)
(('Jeramiah', 'M'),         region sex  year      name  count      freq
2890468     MI   M  2009  Jeramiah     11  0.000003)
(('Jereme', 'M'),         region sex  year    name  count      freq
2863485     MI   M  1981  Jereme      5  0.000002)
(('Jeremiah', 'M'),         region sex  year      name  count      freq
4203576     NY   M  1995  Jeremiah     93  0.000029
2638726     MD   M  1984  Jeremiah     33  0.000010
3612085     NE   M  1985  Jeremiah     31  0.000010)
(('Jeremias', 'M'),         region sex  year      name  count      freq
737304      CA   M  2004  Jeremias     11  0.000003
4194571     NY   M  1989  Jeremias      6  0.000002)
(('Jeremie', 'M'),         region sex  year     name  count      freq
6228448     PR   M  2000  Jeremie     11  0.000003)
(('Jeremy', 'M'),         region sex  year    name  count      freq
4550075     OK   M  1980  Jeremy    466  0.000149
3933419     NV   M  1984  Jeremy     61  0.000019
4839728     PA   M  1996  Jeremy    305  0.000095)
(('Jeri', 'F'),         region sex  year  name  count      freq
1735171     IL   F  1972  Jeri     22  0.000008
2198034     KY   F  1985  Jeri      6  0.000002
1632627     ID   F  1957  Jeri      9  0.000002
422188      CA   F  1953  Jeri    112  0.000031
1086880     FL   F  1953  Jeri     14  0.000004)
(('Jermaine', 'M'),        region sex  year      name  count      freq
706125     CA   M  1992  Jermaine     51  0.000015)
(('Jerome', 'M'),         region sex  year    name  count      freq
2254936     KY   M  1979  Jerome     21  0.000007
6078186     WI   M  1973  Jerome     34  0.000012)
(('Jeromy', 'M'),        region sex  year    name  count      freq
140637     AL   M  1982  Jeromy      5  0.000002)
(('Jerrell', 'M'),         region sex  year     name  count      freq
3244279     MS   M  1951  Jerrell      5  0.000001)
(('Jerri', 'F'),         region sex  year   name  count      freq
6122868     WV   F  1944  Jerri      5  0.000002)
(('Jerry', 'F'),         region sex  year   name  count      freq
5106432     TN   F  1959  Jerry     10  0.000003
5246478     TX   F  1932  Jerry     59  0.000030
3042240     MO   F  1949  Jerry      8  0.000002
1087646     FL   F  1954  Jerry      9  0.000002)
(('Jerry', 'M'),         region sex  year   name  count      freq
5956390     WA   M  1981  Jerry     49  0.000016
2510027     MA   M  1942  Jerry     31  0.000012
1208012     FL   M  1959  Jerry    310  0.000078
4395776     OH   M  1959  Jerry    641  0.000162
165579      AL   M  2019  Jerry     10  0.000003
1403615     GA   M  1944  Jerry    644  0.000254
2142331     KS   M  1996  Jerry     13  0.000004)
(('Jersey', 'F'),         region sex  year    name  count      freq
1993743     IN   F  2017  Jersey     10  0.000003)
(('Jess', 'M'),         region sex  year  name  count      freq
2859423     MI   M  1976  Jess     12  0.000004)
(('Jesse', 'F'),         region sex  year   name  count      freq
2939228     MN   F  1984  Jesse     11  0.000003)
(('Jesse', 'M'),         region sex  year   name  count      freq
1068787     DE   M  2017  Jesse      6  0.000002
1521575     HI   M  2004  Jesse     15  0.000005
1245398     FL   M  2000  Jesse    193  0.000058
...        ...  ..   ...    ...    ...       ...
23727       AK   M  1996  Jesse     32  0.000010
4993496     SC   M  1953  Jesse     98  0.000027
5182078     TN   M  1958  Jesse     45  0.000011

[11 rows x 6 columns])
(('Jessica', 'F'),         region sex  year     name  count      freq
1641785     ID   F  1990  Jessica    186  0.000052
2683234     ME   F  1980  Jessica    282  0.000090
2948348     MN   F  1998  Jessica    260  0.000079
6137783     WV   F  1982  Jessica    533  0.000167)
(('Jessica', 'M'),         region sex  year     name  count      freq
4189465     NY   M  1986  Jessica     19  0.000006)
(('Jessie', 'F'),         region sex  year    name  count      freq
5629746     UT   F  2011  Jessie      7  0.000002
3954689     NY   F  1918  Jessie    145  0.000072
1956079     IN   F  1979  Jessie     13  0.000004
3344540     NC   F  1942  Jessie     92  0.000036
5589785     UT   F  1921  Jessie     15  0.000007
3686923     NJ   F  1957  Jessie      8  0.000002)
(('Jessie', 'M'),         region sex  year    name  count      freq
113138      AL   M  1930  Jessie    124  0.000060
646645      CA   M  1952  Jessie     47  0.000013
1268616     FL   M  2013  Jessie     14  0.000005
2997079     MN   M  1984  Jessie     10  0.000003
6073408     WI   M  1961  Jessie      6  0.000002
3227169     MS   M  1914  Jessie    140  0.000108)
(('Jessika', 'F'),         region sex  year     name  count      freq
4323071     OH   F  1990  Jessika     27  0.000008)
(('Jesus', 'M'),         region sex  year   name  count      freq
3269225     MS   M  2003  Jesus      9  0.000003
1670333     ID   M  1989  Jesus     16  0.000005
3001654     MN   M  1994  Jesus     17  0.000005
3276234     MS   M  2014  Jesus      6  0.000002
2650697     MD   M  2003  Jesus     11  0.000003)
(('Jesusita', 'F'),         region sex  year      name  count      freq
5283962     TX   F  1963  Jesusita      9  0.000002)
(('Jevon', 'M'),         region sex  year   name  count      freq
6090024     WI   M  1996  Jevon      5  0.000002)
(('Jewel', 'F'),         region sex  year   name  count      freq
3032384     MO   F  1930  Jewel     17  0.000008
4963698     SC   F  2006  Jewel      6  0.000002)
(('Jewell', 'F'),         region sex  year    name  count      freq
2279578     LA   F  1914  Jewell     12  0.000009
3410958     NC   F  2012  Jewell      5  0.000002
3281172     MT   F  1917  Jewell      6  0.000003)
(('Jeysen', 'M'),         region sex  year    name  count      freq
6236427     PR   M  2015  Jeysen      6  0.000002)
(('Jill', 'F'),         region sex  year  name  count      freq
5913208     WA   F  2004  Jill      5  0.000002
203678      AR   F  1988  Jill      9  0.000003)
(('Jillian', 'F'),       region sex  year     name  count      freq
11333     AK   F  2003  Jillian      5  0.000002)
(('Jim', 'M'),         region sex  year name  count      freq
3425309     NC   M  1914  Jim     19  0.000015
115269      AL   M  1934  Jim     61  0.000032
3239779     MS   M  1942  Jim     34  0.000013
2844738     MI   M  1955  Jim     89  0.000023
4164776     NY   M  1966  Jim     78  0.000024
5064856     SD   M  1949  Jim     23  0.000007)
(('Jimi', 'M'),         region sex  year  name  count      freq
5506716     TX   M  1982  Jimi      6  0.000002)
(('Jimmie', 'F'),         region sex  year    name  count      freq
30620       AL   F  1913  Jimmie     35  0.000034
1289206     GA   F  1921  Jimmie     53  0.000024
4472282     OK   F  1943  Jimmie     36  0.000014)
(('Jimmie', 'M'),         region sex  year    name  count      freq
2409015     LA   M  1997  Jimmie     13  0.000004
4434073     OH   M  2004  Jimmie      5  0.000002
3594309     NE   M  1919  Jimmie     10  0.000005
3451933     NC   M  1959  Jimmie     58  0.000015
5199784     TN   M  1992  Jimmie     10  0.000003)
(('Jimmy', 'F'),         region sex  year   name  count      freq
4474508     OK   F  1947  Jimmy      6  0.000002)
(('Jimmy', 'M'),         region sex  year   name  count      freq
860409      CO   M  1962  Jimmy     50  0.000013
3927025     NV   M  1929  Jimmy      5  0.000002
5005960     SC   M  1980  Jimmy     52  0.000017
...        ...  ..   ...    ...    ...       ...
1430902     GA   M  1988  Jimmy     85  0.000025
1389075     GA   M  1916  Jimmy     17  0.000010
2842892     MI   M  1952  Jimmy     58  0.000016

[11 rows x 6 columns])
(('Jina', 'F'),         region sex  year  name  count      freq
2583328     MD   F  1985  Jina      5  0.000002)
(('Jireh', 'F'),         region sex  year   name  count      freq
5373354     TX   F  2004  Jireh      5  0.000002)
(('Jo', 'F'),         region sex  year name  count      freq
2166563     KY   F  1929   Jo     67  0.000033
202360      AR   F  1985   Jo      8  0.000002
4000091     NY   F  1964   Jo    190  0.000052
3632955     NH   F  1956   Jo     17  0.000004
5043414     SD   F  1960   Jo      8  0.000002)
(('Joan', 'F'),         region sex  year  name  count      freq
5834935     VT   F  1936  Joan     72  0.000037
1326027     GA   F  1976  Joan      7  0.000003
3510948     ND   F  1936  Joan     84  0.000043
1807148     IL   F  2015  Joan     10  0.000003)
(('Joanie', 'F'),         region sex  year    name  count      freq
1092261     FL   F  1960  Joanie      9  0.000002)
(('Joann', 'F'),         region sex  year   name  count      freq
5594493     UT   F  1942  Joann     25  0.000010
1485912     HI   F  1972  Joann     16  0.000006
4689499     PA   F  1944  Joann    336  0.000132
4294251     OH   F  1965  Joann     82  0.000024)
(('Joanna', 'F'),         region sex  year    name  count      freq
3409869     NC   F  2012  Joanna     27  0.000009
813548      CO   F  1984  Joanna     43  0.000014
805057      CO   F  1969  Joanna     21  0.000006
2780151     MI   F  1990  Joanna     41  0.000011)
(('Joanne', 'F'),         region sex  year    name  count      freq
5257559     TX   F  1943  Joanne     36  0.000014
1539688     IA   F  1943  Joanne     49  0.000018
179526      AR   F  1936  Joanne     12  0.000006
793525      CO   F  1943  Joanne     27  0.000010
2739945     MI   F  1951  Joanne    275  0.000078
4881529     RI   F  1968  Joanne     23  0.000007
2450482     MA   F  1959  Joanne    520  0.000131)
(('Joaopedro', 'M'),         region sex  year       name  count      freq
3809422     NJ   M  2008  Joaopedro      6  0.000002)
(('Joaquin', 'M'),         region sex  year     name  count      freq
3875611     NM   M  1958  Joaquin      5  0.000001
3943298     NV   M  2009  Joaquin      7  0.000002
354035      AZ   M  1970  Joaquin      5  0.000001)
(('Jocelin', 'F'),         region sex  year     name  count      freq
1773664     IL   F  1997  Jocelin      6  0.000002
1771961     IL   F  1996  Jocelin      6  0.000002)
(('Jocelyn', 'F'),         region sex  year     name  count      freq
5367004     TX   F  2003  Jocelyn    466  0.000140
4340863     OH   F  2003  Jocelyn     81  0.000024
6039294     WI   F  2004  Jocelyn     38  0.000011)
(('Jocelynn', 'F'),         region sex  year      name  count      freq
4743727     PA   F  1994  Jocelynn      5  0.000002
4338808     OH   F  2001  Jocelynn      7  0.000002)
(('Jodi', 'F'),         region sex  year  name  count      freq
3358706     NC   F  1962  Jodi      9  0.000002
5420609     TX   F  2017  Jodi      6  0.000002
6015985     WI   F  1970  Jodi    274  0.000082
3205382     MS   F  1986  Jodi      5  0.000002
823007      CO   F  1997  Jodi      7  0.000002
2328733     LA   F  1987  Jodi     14  0.000004)
(('Jodie', 'F'),         region sex  year   name  count      freq
4586244     OR   F  1953  Jodie      5  0.000001
4497330     OK   F  1989  Jodie      6  0.000002
3746947     NJ   F  2014  Jodie      5  0.000002)
(('Jodie', 'M'),         region sex  year   name  count      freq
5502554     TX   M  1979  Jodie      6  0.000002)
(('Jody', 'M'),         region sex  year  name  count      freq
3777516     NJ   M  1969  Jody     18  0.000006
1417654     GA   M  1968  Jody     55  0.000017)
(('Joe', 'F'),         region sex  year name  count      freq
1304746     GA   F  1948  Joe     10  0.000003)
(('Joe', 'M'),         region sex  year name  count      freq
6080459     WI   M  1978  Joe     13  0.000005
3306367     MT   M  1924  Joe     26  0.000012
866961      CO   M  1978  Joe     30  0.000010
...        ...  ..   ...  ...    ...       ...
3605268     NE   M  1960  Joe     55  0.000014
1390503     GA   M  1919  Joe    296  0.000151
3453039     NC   M  1961  Joe    195  0.000050

[15 rows x 6 columns])
(('Joel', 'M'),         region sex  year  name  count      freq
1195832     FL   M  1929  Joel      7  0.000003
698279      CA   M  1989  Joel    628  0.000181
2524812     MA   M  1981  Joel     79  0.000025)
(('Joelle', 'F'),         region sex  year    name  count      freq
449906      CA   F  1969  Joelle     58  0.000018
5157211     TN   F  2018  Joelle     11  0.000004)
(('Joely', 'F'),         region sex  year   name  count      freq
4087697     NY   F  2006  Joely      6  0.000002)
(('Joesph', 'M'),         region sex  year    name  count      freq
4392010     OH   M  1953  Joesph     10  0.000003
5469305     TX   M  1950  Joesph     11  0.000003
4392673     OH   M  1954  Joesph     10  0.000003)
(('Joey', 'M'),         region sex  year  name  count      freq
2264440     KY   M  2000  Joey      6  0.000002
1858345     IL   M  1975  Joey     29  0.000011)
(('Johan', 'M'),         region sex  year   name  count      freq
2055028     IN   M  2015  Johan      5  0.000002)
(('Johann', 'M'),         region sex  year    name  count      freq
6234246     PR   M  2011  Johann      8  0.000003)
(('Johanna', 'F'),         region sex  year     name  count      freq
3748988     NJ   F  2016  Johanna     14  0.000004
1578971     IA   F  2019  Johanna      9  0.000003)
(('John', 'F'),         region sex  year  name  count      freq
1091357     FL   F  1959  John     12  0.000003
2169053     KY   F  1933  John      5  0.000003)
(('John', 'M'),         region sex  year  name  count      freq
5777263     VA   M  1945  John   1446  0.000578
3656538     NH   M  1974  John    131  0.000047
4984160     SC   M  1931  John    831  0.000424
...        ...  ..   ...   ...    ...       ...
3769269     NJ   M  1954  John   3417  0.000901
2136032     KS   M  1981  John    344  0.000109
2362256     LA   M  1919  John    827  0.000423

[16 rows x 6 columns])
(('Johnathan', 'M'),         region sex  year       name  count      freq
381937      AZ   M  2012  Johnathan     38  0.000012
779665      CA   M  2019  Johnathan     70  0.000024
1521691     HI   M  2004  Johnathan      7  0.000002
3134794     MO   M  1983  Johnathan     37  0.000012
1613104     IA   M  2004  Johnathan     19  0.000006)
(('Johnathon', 'M'),         region sex  year       name  count      freq
4419815     OH   M  1991  Johnathon     66  0.000019
2531792     MA   M  1994  Johnathon      7  0.000002
3936002     NV   M  1993  Johnathon      7  0.000002)
(('Johncarlos', 'M'),        region sex  year        name  count      freq
749318     CA   M  2008  Johncarlos      7  0.000002)
(('Johneisha', 'F'),         region sex  year       name  count      freq
2336586     LA   F  1996  Johneisha      5  0.000002)
(('Johnie', 'M'),         region sex  year    name  count      freq
5502555     TX   M  1979  Johnie      6  0.000002)
(('Johniel', 'M'),         region sex  year     name  count      freq
6235167     PR   M  2013  Johniel     18  0.000006)
(('Johnluke', 'M'),         region sex  year      name  count      freq
1468137     GA   M  2018  Johnluke      6  0.000002)
(('Johnna', 'F'),         region sex  year    name  count      freq
6141671     WV   F  1993  Johnna      7  0.000002)
(('Johnnie', 'F'),         region sex  year     name  count      freq
1931859     IN   F  1944  Johnnie      7  0.000003
30574       AL   F  1913  Johnnie     70  0.000068
5281915     TX   F  1962  Johnnie     42  0.000011)
(('Johnnie', 'M'),         region sex  year     name  count      freq
5193669     TN   M  1981  Johnnie     12  0.000004
231481      AR   M  1932  Johnnie     63  0.000032
4978668     SC   M  1918  Johnnie    126  0.000063
659419      CA   M  1964  Johnnie     66  0.000018
4381037     OH   M  1932  Johnnie     10  0.000005
1895488     IL   M  2006  Johnnie      6  0.000002
2843539     MI   M  1953  Johnnie     33  0.000009)
(('Johnny', 'M'),         region sex  year    name  count      freq
4847119     PA   M  2003  Johnny     26  0.000008
1205127     FL   M  1954  Johnny    240  0.000063
3935309     NV   M  1991  Johnny      9  0.000003
...        ...  ..   ...     ...    ...       ...
961876      CT   M  1983  Johnny     14  0.000004
4143686     NY   M  1942  Johnny     53  0.000021
6072425     WI   M  1959  Johnny     16  0.000004

[9 rows x 6 columns])
(('Johnsie', 'F'),         region sex  year     name  count      freq
3340138     NC   F  1934  Johnsie     26  0.000013)
(('Joi', 'F'),         region sex  year name  count      freq
2785714     MI   F  1994  Joi     14  0.000004)
(('Joie', 'F'),        region sex  year  name  count      freq
541488     CA   F  2000  Joie     12  0.000004)
(('Joleen', 'F'),         region sex  year    name  count      freq
3293909     MT   F  1975  Joleen      5  0.000002
3518307     ND   F  1966  Joleen      5  0.000002)
(('Jolene', 'F'),         region sex  year    name  count      freq
5428908     TX   F  2020  Jolene     74  0.000027
2470890     MA   F  1989  Jolene      6  0.000002
4483782     OK   F  1965  Jolene      6  0.000002)
(('Jon', 'M'),         region sex  year name  count      freq
119608      AL   M  1942  Jon     10  0.000004
6177645     WV   M  1990  Jon     11  0.000003)
(('Jonah', 'M'),         region sex  year   name  count      freq
5207521     TN   M  2003  Jonah     67  0.000020
2150481     KS   M  2011  Jonah     27  0.000009
5077060     SD   M  2008  Jonah     13  0.000004
26056       AK   M  2007  Jonah     12  0.000003)
(('Jonas', 'M'),         region sex  year   name  count      freq
4425858     OH   M  1997  Jonas     13  0.000004
2873966     MI   M  1994  Jonas      8  0.000002
1247324     FL   M  2001  Jonas     21  0.000006)
(('Jonathan', 'M'),         region sex  year      name  count      freq
684250      CA   M  1982  Jonathan   2488  0.000779
1867934     IL   M  1985  Jonathan    927  0.000285
3004242     MN   M  1999  Jonathan    190  0.000058
...        ...  ..   ...       ...    ...       ...
4990483     SC   M  1946  Jonathan     17  0.000006
6091326     WI   M  1999  Jonathan    181  0.000055
3143010     MO   M  1997  Jonathan    266  0.000083

[9 rows x 6 columns])
(('Jonathon', 'M'),         region sex  year      name  count      freq
3545342     ND   M  1988  Jonathon      6  0.000002
1259229     FL   M  2008  Jonathon     20  0.000006
2259408     KY   M  1990  Jonathon     66  0.000018)
(('Joni', 'F'),         region sex  year  name  count      freq
1638733     ID   F  1979  Joni      8  0.000003
5701723     VA   F  1956  Joni     15  0.000004
4931973     SC   F  1954  Joni      7  0.000002
2926225     MN   F  1961  Joni     65  0.000017
1311364     GA   F  1958  Joni     30  0.000008)
(('Jordan', 'F'),         region sex  year    name  count      freq
3381701     NC   F  1991  Jordan    229  0.000065
2592585     MD   F  1998  Jordan    135  0.000041
1128190     FL   F  1992  Jordan    243  0.000071)
(('Jordan', 'M'),         region sex  year    name  count      freq
115144      AL   M  1933  Jordan      5  0.000003
2708881     ME   M  1984  Jordan     22  0.000007)
(('Jordana', 'F'),        region sex  year     name  count      freq
595099     CA   F  2013  Jordana      7  0.000002)
(('Jorden', 'M'),         region sex  year    name  count      freq
5811635     VA   M  2002  Jorden      6  0.000002
5663154     UT   M  1997  Jorden      7  0.000002)
(('Jordin', 'F'),         region sex  year    name  count      freq
2787464     MI   F  1995  Jordin      6  0.000002)
(('Jordon', 'M'),         region sex  year    name  count      freq
2650605     MD   M  2003  Jordon     16  0.000005)
(('Jordy', 'M'),        region sex  year   name  count      freq
745151     CA   M  2007  Jordy     23  0.000007)
(('Jordyn', 'F'),         region sex  year    name  count      freq
5052435     SD   F  2001  Jordyn     11  0.000003
3915757     NV   F  2004  Jordyn     15  0.000005
1495603     HI   F  2003  Jordyn     15  0.000005
1495036     HI   F  2001  Jordyn     19  0.000006)
(('Jordyn', 'M'),         region sex  year    name  count      freq
2542882     MA   M  2010  Jordyn      7  0.000002)

(('Jorge', 'M'),         region sex  year   name  count      freq
1068051     DE   M  2014  Jorge      7  0.000002
1023669     DC   M  1978  Jorge      5  0.000002)
(('Jorja', 'F'),         region sex  year   name  count      freq
4509340     OK   F  2006  Jorja      5  0.000001)
(('Jose', 'M'),         region sex  year  name  count      freq
4638559     OR   M  1965  Jose      9  0.000003
2636678     MD   M  1979  Jose     14  0.000005
853238      CO   M  1940  Jose     36  0.000017
2834368     MI   M  1935  Jose     16  0.000008
5823763     VA   M  2014  Jose     64  0.000020)
(('Josefina', 'F'),        region sex  year      name  count      freq
425439     CA   F  1955  Josefina     19  0.000005)
(('Joseline', 'F'),        region sex  year      name  count      freq
511644     CA   F  1992  Joseline     32  0.000009)
(('Joseph', 'F'),         region sex  year    name  count      freq
1744842     IL   F  1979  Joseph     20  0.000007)
(('Joseph', 'M'),         region sex  year    name  count      freq
1009628     DC   M  1913  Joseph     65  0.000063
1666538     ID   M  1974  Joseph     68  0.000025
2709568     ME   M  1988  Joseph    126  0.000038
...        ...  ..   ...     ...    ...       ...
1613425     IA   M  2005  Joseph    178  0.000053
5939966     WA   M  1941  Joseph     93  0.000041
4986160     SC   M  1936  Joseph    293  0.000151

[20 rows x 6 columns])
(('Josephine', 'F'),         region sex  year       name  count      freq
2963928     MN   F  2015  Josephine     72  0.000023
4576124     OR   F  1914  Josephine     15  0.000012
2926465     MN   F  1961  Josephine     10  0.000003
3668170     NJ   F  1917  Josephine    455  0.000245
5303537     TX   F  1976  Josephine     46  0.000017)
(('Josette', 'F'),         region sex  year     name  count      freq
2760587     MI   F  1972  Josette     14  0.000005
531184      CA   F  1997  Josette      9  0.000003)
(('Josey', 'F'),         region sex  year   name  count      freq
5356448     TX   F  1999  Josey      9  0.000003)
(('Josh', 'M'),         region sex  year  name  count      freq
2872219     MI   M  1992  Josh      7  0.000002
2415003     LA   M  2004  Josh      7  0.000002
4824436     PA   M  1977  Josh     13  0.000005
4408261     OH   M  1976  Josh     13  0.000005
5534050     TX   M  1999  Josh     13  0.000004)
(('Joshua', 'M'),         region sex  year    name  count      freq
3665190     NH   M  2017  Joshua     15  0.000005
2711388     ME   M  1997  Joshua    142  0.000044
6209277     WY   M  1978  Joshua     87  0.000030
...        ...  ..   ...     ...    ...       ...
666415      CA   M  1970  Joshua    482  0.000143
3781670     NJ   M  1976  Joshua    201  0.000073
1408445     GA   M  1952  Joshua      7  0.000002

[9 rows x 6 columns])
(('Joshuah', 'M'),         region sex  year     name  count      freq
3476580     NC   M  1996  Joshuah      5  0.000002)
(('Josiah', 'M'),         region sex  year    name  count      freq
4658322     OR   M  2009  Josiah     62  0.000019
5973627     WA   M  2006  Josiah    114  0.000033
6213970     WY   M  2009  Josiah     10  0.000003)
(('Josias', 'M'),         region sex  year    name  count      freq
4249888     NY   M  2018  Josias     10  0.000003)
(('Josie', 'F'),         region sex  year   name  count      freq
4470596     OK   F  1939  Josie      6  0.000003
419842      CA   F  1951  Josie     24  0.000007
462695      CA   F  1975  Josie     30  0.000011
5699466     VA   F  1952  Josie      6  0.000002
5624081     UT   F  2005  Josie     26  0.000008)
(('Journee', 'F'),         region sex  year     name  count      freq
3737328     NJ   F  2007  Journee      5  0.000001)
(('Journey', 'F'),         region sex  year     name  count      freq
4624105     OR   F  2018  Journey      9  0.000003)
(('Jovan', 'M'),         region sex  year   name  count      freq
4184069     NY   M  1982  Jovan     34  0.000011)
(('Joy', 'F'),         region sex  year name  count      freq
2066502     KS   F  1927  Joy     28  0.000013
1717819     IL   F  1958  Joy    140  0.000036
2674189     ME   F  1946  Joy      5  0.000002
...        ...  ..   ...  ...    ...       ...
989794      DC   F  1959  Joy     15  0.000004
3588512     NE   F  2013  Joy      6  0.000002
3731113     NJ   F  2003  Joy     18  0.000005

[10 rows x 6 columns])
(('Joyce', 'F'),         region sex  year   name  count      freq
2820665     MI   F  2018  Joyce      5  0.000002
5725942     VA   F  1990  Joyce     16  0.000004
3177841     MS   F  1938  Joyce    171  0.000083
...        ...  ..   ...    ...    ...       ...
2671685     ME   F  1936  Joyce    134  0.000069
2678771     ME   F  1963  Joyce     31  0.000008
1289221     GA   F  1921  Joyce     43  0.000020

[9 rows x 6 columns])
(('Juan', 'M'),         region sex  year  name  count      freq
4183783     NY   M  1982  Juan    324  0.000101
3609035     NE   M  1973  Juan      9  0.000003
140491      AL   M  1982  Juan      9  0.000003
...        ...  ..   ...   ...    ...       ...
4827975     PA   M  1982  Juan     53  0.000017
4830973     PA   M  1986  Juan     52  0.000016
4236457     NY   M  2012  Juan    138  0.000044

[10 rows x 6 columns])
(('Juana', 'F'),        region sex  year   name  count      freq
393827     CA   F  1918  Juana     10  0.000005)
(('Juanita', 'F'),         region sex  year     name  count      freq
4584057     OR   F  1948  Juanita     23  0.000007
5095832     TN   F  1941  Juanita    123  0.000054
3845792     NM   F  1982  Juanita     21  0.000007
4930522     SC   F  1952  Juanita     68  0.000019)
(('Judah', 'M'),         region sex  year   name  count      freq
3944391     NV   M  2011  Judah      8  0.000003
2656445     MD   M  2010  Judah     19  0.000006
4654342     OR   M  2002  Judah      5  0.000002
6100517     WI   M  2011  Judah     21  0.000007)
(('Jude', 'M'),         region sex  year  name  count      freq
1889094     IL   M  2002  Jude     16  0.000005
3949379     NV   M  2020  Jude     17  0.000006
5482992     TX   M  1962  Jude      5  0.000001)
(('Judith', 'F'),         region sex  year    name  count      freq
5687475     VA   F  1927  Judith      8  0.000004
1628458     ID   F  1940  Judith     63  0.000029
1767888     IL   F  1994  Judith     16  0.000005
...        ...  ..   ...     ...    ...       ...
2083293     KS   F  1968  Judith     15  0.000005
304042      AZ   F  1992  Judith     16  0.000005
3962328     NY   F  1928  Judith    187  0.000089

[8 rows x 6 columns])
(('Judy', 'F'),         region sex  year  name  count      freq
3686469     NJ   F  1957  Judy    190  0.000047
2917279     MN   F  1943  Judy    469  0.000176)
(('Jules', 'F'),         region sex  year   name  count      freq
1177848     FL   F  2015  Jules      7  0.000002)
(('Jules', 'M'),         region sex  year   name  count      freq
4181115     NY   M  1979  Jules      5  0.000002)
(('Julia', 'F'),         region sex  year   name  count      freq
2064446     KS   F  1922  Julia     48  0.000023
5117266     TN   F  1976  Julia     44  0.000016
5841730     VT   F  1981  Julia     10  0.000003
5887557     WA   F  1975  Julia     26  0.000009
193602      AR   F  1966  Julia     23  0.000007
5758895     VA   F  2018  Julia     62  0.000021
4961479     SC   F  2004  Julia     73  0.000022)
(('Julian', 'M'),         region sex  year    name  count      freq
5806717     VA   M  1997  Julian     53  0.000017
2622339     MD   M  1941  Julian      9  0.000004
4384936     OH   M  1940  Julian      5  0.000002
5812848     VA   M  2004  Julian     88  0.000026)
(('Juliana', 'F'),         region sex  year     name  count      freq
1183463     FL   F  2018  Juliana    151  0.000051
314147      AZ   F  2002  Juliana     42  0.000013)
(('Julianna', 'F'),         region sex  year      name  count      freq
515023      CA   F  1993  Julianna     65  0.000019
4360691     OH   F  2015  Julianna     49  0.000016
2345566     LA   F  2007  Julianna     18  0.000005)
(('Julianne', 'F'),         region sex  year      name  count      freq
5311634     TX   F  1980  Julianne     10  0.000003
5332607     TX   F  1990  Julianne     25  0.000007
472169      CA   F  1979  Julianne     22  0.000007
6003402     WI   F  1946  Julianne     12  0.000004
4268221     OH   F  1933  Julianne      7  0.000004
2805734     MI   F  2008  Julianne      6  0.000002)
(('Juliano', 'M'),         region sex  year     name  count      freq
4194759     NY   M  1989  Juliano      5  0.000001)
(('Julie', 'F'),         region sex  year   name  count      freq
2685374     ME   F  1988  Julie     15  0.000004
217781      AR   F  2013  Julie      7  0.000002
422025      CA   F  1953  Julie    691  0.000188
3213918     MS   F  2002  Julie     13  0.000004
1710733     IL   F  1951  Julie    240  0.000068
3848420     NM   F  1988  Julie     24  0.000007)
(('Juliet', 'F'),        region sex  year    name  count      freq
313747     AZ   F  2001  Juliet      6  0.000002)
(('Julieta', 'F'),        region sex  year     name  count      freq
432349     CA   F  1959  Julieta      7  0.000002)
(('Juliette', 'F'),         region sex  year      name  count      freq
4624635     OR   F  2019  Juliette     19  0.000007)
(('Julio', 'M'),         region sex  year   name  count      freq
4570030     OK   M  2013  Julio      5  0.000002)
(('Julissa', 'F'),         region sex  year     name  count      freq
4508113     OK   F  2005  Julissa     11  0.000003)
(('Julius', 'M'),         region sex  year    name  count      freq
1388953     GA   M  1916  Julius     55  0.000031
2274524     KY   M  2016  Julius     13  0.000004
6078874     WI   M  1974  Julius      5  0.000002
...        ...  ..   ...     ...    ...       ...
1195710     FL   M  1929  Julius     21  0.000010
1460538     GA   M  2013  Julius     17  0.000005
5076353     SD   M  2005  Julius      7  0.000002

[9 rows x 6 columns])
(('June', 'F'),         region sex  year  name  count      freq
5395930     TX   F  2011  June     56  0.000018
5292256     TX   F  1969  June     22  0.000007
800527      CO   F  1960  June     25  0.000006
2559292     MD   F  1939  June     56  0.000027)
(('Junior', 'M'),         region sex  year    name  count      freq
5060096     SD   M  1924  Junior      5  0.000002
4988795     SC   M  1942  Junior     15  0.000006)
(('Juniper', 'F'),         region sex  year     name  count      freq
2112340     KS   F  2020  Juniper     20  0.000007)
(('Junius', 'M'),         region sex  year    name  count      freq
4988546     SC   M  1941  Junius      5  0.000002)
(('Jurnee', 'F'),         region sex  year    name  count      freq
5407557     TX   F  2014  Jurnee     22  0.000007)
(('Justice', 'F'),         region sex  year     name  count      freq
3084931     MO   F  2006  Justice     19  0.000006
1643506     ID   F  1995  Justice      6  0.000002)
(('Justice', 'M'),         region sex  year     name  count      freq
1453311     GA   M  2008  Justice     26  0.000008
1268255     FL   M  2013  Justice     30  0.000010
6100082     WI   M  2010  Justice      6  0.000002
3273839     MS   M  2010  Justice      6  0.000002)
(('Justin', 'F'),         region sex  year    name  count      freq
4061013     NY   F  1995  Justin      7  0.000002)
(('Justin', 'M'),         region sex  year    name  count      freq
3546086     ND   M  1993  Justin     50  0.000015
4557451     OK   M  1995  Justin    273  0.000084
3315059     MT   M  1970  Justin     41  0.000012
3152670     MO   M  2009  Justin    109  0.000033)
(('Justina', 'F'),         region sex  year     name  count      freq
5718310     VA   F  1980  Justina      5  0.000002)
(('Justine', 'F'),         region sex  year     name  count      freq
2479779     MA   F  2000  Justine     14  0.000004
2476276     MA   F  1996  Justine     24  0.000007)
(('Justo', 'M'),         region sex  year   name  count      freq
5457385     TX   M  1938  Justo      7  0.000003)
(('Justyce', 'F'),         region sex  year     name  count      freq
4075648     NY   F  2001  Justyce      5  0.000002)
(('Kacey', 'F'),         region sex  year   name  count      freq
5302843     TX   F  1975  Kacey      6  0.000002
2481127     MA   F  2001  Kacey      5  0.000002
4016305     NY   F  1973  Kacey      7  0.000003
3402877     NC   F  2007  Kacey      5  0.000001)
(('Kacy', 'F'),         region sex  year  name  count      freq
4491176     OK   F  1979  Kacy      6  0.000002)
(('Kaeli', 'F'),         region sex  year   name  count      freq
2802981     MI   F  2006  Kaeli      5  0.000001)
(('Kaelyn', 'F'),         region sex  year    name  count      freq
5733555     VA   F  1998  Kaelyn     14  0.000004)
(('Kai', 'M'),         region sex  year name  count      freq
1456143     GA   M  2010  Kai     33  0.000010
4420435     OH   M  1991  Kai      6  0.000002
387773      AZ   M  2018  Kai     80  0.000027)
(('Kaiden', 'M'),         region sex  year    name  count      freq
4666120     OR   M  2020  Kaiden     15  0.000005
3940110     NV   M  2003  Kaiden      7  0.000002)
(('Kaikea', 'M'),         region sex  year    name  count      freq
1523563     HI   M  2010  Kaikea      8  0.000003)
(('Kaila', 'F'),         region sex  year   name  count      freq
5130653     TN   F  1994  Kaila     14  0.000004
4333842     OH   F  1998  Kaila     24  0.000007)
(('Kailee', 'F'),         region sex  year    name  count      freq
1494210     HI   F  1998  Kailee     12  0.000004
325480      AZ   F  2010  Kailee      7  0.000002)
(('Kailey', 'F'),         region sex  year    name  count      freq
1133495     FL   F  1995  Kailey     41  0.000013
3746193     NJ   F  2014  Kailey     16  0.000005)
(('Kailyn', 'F'),        region sex  year    name  count      freq
306469     AZ   F  1994  Kailyn      5  0.000002)
(('Kailynn', 'F'),         region sex  year     name  count      freq
1160620     FL   F  2008  Kailynn     14  0.000004
1995441     IN   F  2018  Kailynn      5  0.000002)
(('Kainen', 'M'),         region sex  year    name  count      freq
5582100     TX   M  2018  Kainen      5  0.000002)
(('Kainoa', 'M'),         region sex  year    name  count      freq
3943998     NV   M  2010  Kainoa      5  0.000002)
(('Kairi', 'F'),         region sex  year   name  count      freq
1176929     FL   F  2015  Kairi     19  0.000006)
(('Kaisen', 'M'),         region sex  year    name  count      freq
5029728     SC   M  2017  Kaisen      6  0.000002)
(('Kaislee', 'F'),         region sex  year     name  count      freq
2355922     LA   F  2017  Kaislee      6  0.000002)
(('Kaison', 'M'),         region sex  year    name  count      freq
5030276     SC   M  2018  Kaison     11  0.000004)
(('Kaithlyn', 'F'),        region sex  year      name  count      freq
550790     CA   F  2002  Kaithlyn      5  0.000002)
(('Kaitlin', 'F'),         region sex  year     name  count      freq
3576819     NE   F  1985  Kaitlin     14  0.000004)
(('Kaitlyn', 'F'),         region sex  year     name  count      freq
335367      AZ   F  2018  Kaitlyn     11  0.000004
2214106     KY   F  2010  Kaitlyn     53  0.000017)
(('Kaitlynn', 'F'),         region sex  year      name  count      freq
2338764     LA   F  1999  Kaitlynn      9  0.000003)
(('Kaito', 'M'),        region sex  year   name  count      freq
740268     CA   M  2005  Kaito      9  0.000003)
(('Kaiya', 'F'),         region sex  year   name  count      freq
1380738     GA   F  2017  Kaiya      8  0.000003
843152      CO   F  2017  Kaiya      7  0.000002)
(('Kala', 'F'),         region sex  year  name  count      freq
3391048     NC   F  1999  Kala      7  0.000002
4321723     OH   F  1989  Kala     33  0.000009)
(('Kale', 'M'),         region sex  year  name  count      freq
2890563     MI   M  2009  Kale      9  0.000003)
(('Kaleb', 'M'),         region sex  year   name  count      freq
3494846     NC   M  2013  Kaleb    105  0.000034
5800865     VA   M  1989  Kaleb     16  0.000005
2056446     IN   M  2017  Kaleb     23  0.000008)
(('Kalee', 'F'),         region sex  year   name  count      freq
5128594     TN   F  1991  Kalee      5  0.000001)
(('Kaleigh', 'F'),         region sex  year     name  count      freq
5156462     TN   F  2017  Kaleigh      5  0.000002
816465      CO   F  1988  Kaleigh      8  0.000002
4497776     OK   F  1990  Kaleigh     10  0.000003
818994      CO   F  1992  Kaleigh     15  0.000004)
(('Kalel', 'M'),         region sex  year   name  count      freq
5567078     TX   M  2013  Kalel     22  0.000007)
(('Kaley', 'F'),        region sex  year   name  count      freq
533391     CA   F  1998  Kaley     35  0.000011)
(('Kali', 'F'),         region sex  year  name  count      freq
6054863     WI   F  2020  Kali     21  0.000008
4097480     NY   F  2010  Kali     10  0.000003
4044020     NY   F  1988  Kali     22  0.000007
1008332     DC   F  2016  Kali      5  0.000002
4509216     OK   F  2006  Kali      6  0.000002)
(('Kalia', 'F'),         region sex  year   name  count      freq
1799791     IL   F  2011  Kalia      8  0.000003)
(('Kalie', 'F'),         region sex  year   name  count      freq
4317761     OH   F  1985  Kalie      5  0.000002)
(('Kaliya', 'F'),        region sex  year    name  count      freq
566153     CA   F  2006  Kaliya      7  0.000002)
(('Kaliyah', 'F'),         region sex  year     name  count      freq
5915502     WA   F  2006  Kaliyah      5  0.000001)
(('Kallen', 'M'),         region sex  year    name  count      freq
4574588     OK   M  2019  Kallen      7  0.000002)
(('Kalli', 'F'),         region sex  year   name  count      freq
2947207     MN   F  1996  Kalli     12  0.000004)
(('Kallie', 'F'),         region sex  year    name  count      freq
5157131     TN   F  2018  Kallie     13  0.000004
1351020     GA   F  2000  Kallie     13  0.000004)
(('Kalyn', 'F'),         region sex  year   name  count      freq
5328064     TX   F  1988  Kalyn     25  0.000007)
(('Kalynn', 'F'),        region sex  year    name  count      freq
546951     CA   F  2001  Kalynn      5  0.000002)
(('Kamari', 'F'),         region sex  year    name  count      freq
3225749     MS   F  2020  Kamari     10  0.000004
4095133     NY   F  2009  Kamari      8  0.000002)
(('Kamaria', 'F'),         region sex  year     name  count      freq
4962943     SC   F  2005  Kamaria      5  0.000001)
(('Kamauri', 'M'),         region sex  year     name  count      freq
1277228     FL   M  2017  Kamauri      5  0.000002)
(('Kameron', 'F'),         region sex  year     name  count      freq
2803942     MI   F  2007  Kameron      9  0.000003
3410618     NC   F  2012  Kameron      7  0.000002)
(('Kameron', 'M'),         region sex  year     name  count      freq
2410365     LA   M  1999  Kameron     53  0.000016
4562245     OK   M  2003  Kameron     26  0.000008
5028468     SC   M  2016  Kameron     51  0.000016)
(('Kamila', 'F'),         region sex  year    name  count      freq
5156108     TN   F  2017  Kamila      8  0.000003)
(('Kamilah', 'F'),         region sex  year     name  count      freq
3705476     NJ   F  1979  Kamilah      7  0.000002)
(('Kamron', 'M'),         region sex  year    name  count      freq
5204107     TN   M  1998  Kamron      6  0.000002)
(('Kamryn', 'F'),         region sex  year    name  count      freq
5158268     TN   F  2019  Kamryn     18  0.000006
4959479     SC   F  2001  Kamryn     17  0.000005)
(('Kandi', 'F'),         region sex  year   name  count      freq
4286150     OH   F  1957  Kandi     12  0.000003)
(('Kandice', 'F'),         region sex  year     name  count      freq
1342309     GA   F  1993  Kandice     10  0.000003)
(('Kandy', 'F'),         region sex  year   name  count      freq
2752449     MI   F  1964  Kandy     15  0.000004
450802      CA   F  1969  Kandy      9  0.000003)
(('Kane', 'M'),         region sex  year  name  count      freq
3496597     NC   M  2014  Kane     13  0.000004
1434189     GA   M  1991  Kane      5  0.000001)
(('Kansas', 'F'),         region sex  year    name  count      freq
1350118     GA   F  1999  Kansas      6  0.000002)

(('Kara', 'F'),         region sex  year  name  count      freq
5403211     TX   F  2013  Kara     57  0.000018
3069551     MO   F  1989  Kara     87  0.000025
2109363     KS   F  2015  Kara      5  0.000002
2958265     MN   F  2009  Kara     21  0.000006
331534      AZ   F  2015  Kara     14  0.000004
810982      CO   F  1980  Kara     38  0.000012)
(('Karalee', 'F'),         region sex  year     name  count      freq
5607023     UT   F  1976  Karalee      6  0.000002)
(('Kareem', 'M'),         region sex  year    name  count      freq
1860409     IL   M  1977  Kareem     17  0.000006)
(('Karen', 'F'),         region sex  year   name  count      freq
3705805     NJ   F  1980  Karen    189  0.000060
6331        AK   F  1980  Karen     16  0.000005
2106499     KS   F  2011  Karen      5  0.000002
1042663     DE   F  1963  Karen    135  0.000036
1047123     DE   F  1988  Karen     12  0.000004
3045462     MO   F  1955  Karen    837  0.000219)
(('Kari', 'F'),         region sex  year  name  count      freq
4725383     PA   F  1980  Kari     57  0.000018
6025724     WI   F  1986  Kari     74  0.000023)
(('Karie', 'F'),         region sex  year   name  count      freq
539426      CA   F  1999  Karie      5  0.000002
4322083     OH   F  1989  Karie     11  0.000003
4719361     PA   F  1974  Karie      6  0.000002)
(('Karim', 'M'),         region sex  year   name  count      freq
1469500     GA   M  2019  Karim      7  0.000002)
(('Karin', 'F'),         region sex  year   name  count      freq
4715489     PA   F  1971  Karin     54  0.000017
4732959     PA   F  1986  Karin      7  0.000002
2457474     MA   F  1970  Karin     38  0.000011)
(('Karina', 'F'),         region sex  year    name  count      freq
1988690     IN   F  2013  Karina     13  0.000004)
(('Karis', 'F'),        region sex  year   name  count      freq
581217     CA   F  2010  Karis     27  0.000009)
(('Karissa', 'F'),         region sex  year     name  count      freq
5403816     TX   F  2013  Karissa     22  0.000007
2956597     MN   F  2007  Karissa      8  0.000002)
(('Karl', 'M'),         region sex  year  name  count      freq
4548669     OK   M  1976  Karl      7  0.000003
3311080     MT   M  1952  Karl     13  0.000004
1016462     DC   M  1955  Karl     24  0.000006
1204767     FL   M  1953  Karl     27  0.000007
344532      AZ   M  1944  Karl     10  0.000004)
(('Karla', 'F'),         region sex  year   name  count      freq
5626977     UT   F  2008  Karla      9  0.000003
304774      AZ   F  1993  Karla     44  0.000013
3046930     MO   F  1957  Karla     54  0.000013
...        ...  ..   ...    ...    ...       ...
2213068     KY   F  2008  Karla      6  0.000002
2207152     KY   F  2000  Karla      5  0.000001
3573412     NE   F  1975  Karla      6  0.000002

[8 rows x 6 columns])
(('Karlee', 'F'),         region sex  year    name  count      freq
5912732     WA   F  2004  Karlee     12  0.000004)
(('Karlie', 'F'),         region sex  year    name  count      freq
1151067     FL   F  2004  Karlie     17  0.000005)
(('Karmen', 'F'),         region sex  year    name  count      freq
5333615     TX   F  1990  Karmen      7  0.000002)
(('Karmyn', 'F'),         region sex  year    name  count      freq
2355561     LA   F  2017  Karmyn     13  0.000004)
(('Karsen', 'M'),         region sex  year    name  count      freq
5679798     UT   M  2020  Karsen      5  0.000002
6107050     WI   M  2018  Karsen      5  0.000002)
(('Karson', 'M'),         region sex  year    name  count      freq
5026312     SC   M  2013  Karson     21  0.000007
3324136     MT   M  2011  Karson      7  0.000002)
(('Karsten', 'M'),         region sex  year     name  count      freq
2045160     IN   M  2005  Karsten      5  0.000001)
(('Karter', 'M'),         region sex  year    name  count      freq
2050312     IN   M  2011  Karter     37  0.000012)
(('Kartier', 'M'),         region sex  year     name  count      freq
5583882     TX   M  2019  Kartier     10  0.000003)
(('Karyn', 'F'),         region sex  year   name  count      freq
2573398     MD   F  1968  Karyn      5  0.000002
1118219     FL   F  1985  Karyn     10  0.000003)
(('Karyna', 'F'),         region sex  year    name  count      freq
5351191     TX   F  1997  Karyna      7  0.000002)
(('Kasandra', 'F'),         region sex  year      name  count      freq
5337359     TX   F  1992  Kasandra     27  0.000008
4499237     OK   F  1992  Kasandra      5  0.000001)
(('Kasey', 'F'),         region sex  year   name  count      freq
80532       AL   F  1994  Kasey     25  0.000008
616506      CA   F  2019  Kasey     29  0.000010
5906326     WA   F  1998  Kasey     21  0.000006)
(('Kasey', 'M'),         region sex  year   name  count      freq
1877444     IL   M  1993  Kasey     10  0.000003
4550822     OK   M  1981  Kasey      9  0.000003)
(('Kashawn', 'M'),         region sex  year     name  count      freq
5016718     SC   M  1999  Kashawn      5  0.000002)
(('Kashton', 'M'),         region sex  year     name  count      freq
1916235     IL   M  2020  Kashton     19  0.000007
3021587     MN   M  2020  Kashton     10  0.000004)
(('Kason', 'M'),         region sex  year   name  count      freq
5544157     TX   M  2004  Kason     42  0.000013)
(('Kassidy', 'F'),         region sex  year     name  count      freq
5737942     VA   F  2002  Kassidy     13  0.000004)
(('Kassy', 'F'),        region sex  year   name  count      freq
520862     CA   F  1994  Kassy      7  0.000002)
(('Katana', 'F'),         region sex  year    name  count      freq
4359975     OH   F  2014  Katana      7  0.000002)
(('Kate', 'F'),         region sex  year  name  count      freq
5617731     UT   F  1996  Kate     10  0.000003
1330281     GA   F  1981  Kate     13  0.000004
2333845     LA   F  1993  Kate     10  0.000003)
(('Katelin', 'F'),         region sex  year     name  count      freq
6038244     WI   F  2002  Katelin      5  0.000002)
(('Katelyn', 'F'),         region sex  year     name  count      freq
7910        AK   F  1987  Katelyn     10  0.000003
3580924     NE   F  1997  Katelyn     48  0.000015
3079805     MO   F  2001  Katelyn    142  0.000043)
(('Katelynn', 'F'),         region sex  year      name  count      freq
4347262     OH   F  2007  Katelynn     66  0.000019
3639229     NH   F  1985  Katelynn      5  0.000002
217016      AR   F  2012  Katelynn     10  0.000003
2803427     MI   F  2007  Katelynn     28  0.000008
563489      CA   F  2006  Katelynn    126  0.000037)
(('Katelynne', 'F'),         region sex  year       name  count      freq
1152341     FL   F  2004  Katelynne      5  0.000002)
(('Kateri', 'F'),        region sex  year    name  count      freq
302789     AZ   F  1990  Kateri      5  0.000001)
(('Katerina', 'F'),         region sex  year      name  count      freq
1764704     IL   F  1992  Katerina     11  0.000003
1174806     FL   F  2014  Katerina     13  0.000004)
(('Katharine', 'F'),         region sex  year       name  count      freq
1001511     DC   F  1992  Katharine      6  0.000002
5248092     TX   F  1933  Katharine      6  0.000003)
(('Katherine', 'F'),         region sex  year       name  count      freq
2907726     MN   F  1919  Katherine     92  0.000047
1683911     IL   F  1913  Katherine    143  0.000139
1114904     FL   F  1983  Katherine    323  0.000102
4614230     OR   F  2006  Katherine     71  0.000021
5689009     VA   F  1931  Katherine     75  0.000038
3974893     NY   F  1944  Katherine    322  0.000127
3680573     NJ   F  1947  Katherine    141  0.000041)
(('Katherine', 'M'),         region sex  year       name  count      freq
2266437     KY   M  2004  Katherine     20  0.000006)
(('Katheryn', 'F'),         region sex  year      name  count      freq
2920305     MN   F  1949  Katheryn      6  0.000002)
(('Kathie', 'F'),         region sex  year    name  count      freq
4699227     PA   F  1955  Kathie     49  0.000013)
(('Kathleen', 'F'),         region sex  year      name  count      freq
5226572     TX   F  1912  Kathleen     38  0.000043
1005442     DC   F  2006  Kathleen      6  0.000002
5687198     VA   F  1927  Kathleen    100  0.000046
...        ...  ..   ...       ...    ...       ...
3843734     NM   F  1977  Kathleen     15  0.000005
316790      AZ   F  2004  Kathleen     21  0.000006
3694997     NJ   F  1968  Kathleen    591  0.000187

[8 rows x 6 columns])
(('Kathlyn', 'F'),         region sex  year     name  count      freq
2734743     MI   F  1943  Kathlyn      6  0.000002)
(('Kathrine', 'F'),         region sex  year      name  count      freq
5332539     TX   F  1990  Kathrine     28  0.000008
421030      CA   F  1952  Kathrine     36  0.000010)
(('Kathryn', 'F'),         region sex  year     name  count      freq
3285079     MT   F  1939  Kathryn     15  0.000007
1003975     DC   F  2001  Kathryn     10  0.000003
3905772     NV   F  1975  Kathryn     11  0.000004
4739822     PA   F  1992  Kathryn    287  0.000083
3038670     MO   F  1943  Kathryn     95  0.000036
4921871     SC   F  1934  Kathryn     23  0.000012
6196774     WY   F  1983  Kathryn     17  0.000005)
(('Kathy', 'F'),         region sex  year   name  count      freq
2090350     KS   F  1983  Kathy      5  0.000002
3635840     NH   F  1970  Kathy     24  0.000007
1039906     DE   F  1947  Kathy      7  0.000002)
(('Kati', 'F'),         region sex  year  name  count      freq
4720572     PA   F  1975  Kati      5  0.000002)
(('Katiana', 'F'),        region sex  year     name  count      freq
496168     CA   F  1987  Katiana      5  0.000002)
(('Katie', 'F'),         region sex  year   name  count      freq
3704003     NJ   F  1978  Katie     44  0.000015
995826      DC   F  1974  Katie      7  0.000003
1926509     IN   F  1932  Katie     10  0.000005
3355438     NC   F  1958  Katie     28  0.000007)
(('Katiria', 'F'),         region sex  year     name  count      freq
4040307     NY   F  1986  Katiria     11  0.000003)
(('Katlin', 'F'),         region sex  year    name  count      freq
1971763     IN   F  1998  Katlin     14  0.000004
4956344     SC   F  1996  Katlin     10  0.000003
489255      CA   F  1985  Katlin      8  0.000002)
(('Katlyn', 'F'),         region sex  year    name  count      freq
6027160     WI   F  1988  Katlyn     24  0.000007)
(('Katlynn', 'F'),         region sex  year     name  count      freq
1979245     IN   F  2005  Katlynn      9  0.000003)
(('Katrice', 'F'),         region sex  year     name  count      freq
2319826     LA   F  1977  Katrice     10  0.000003)
(('Katrina', 'F'),         region sex  year     name  count      freq
4317961     OH   F  1986  Katrina    104  0.000032
4066545     NY   F  1998  Katrina     70  0.000021
5389521     TX   F  2009  Katrina     15  0.000005
4309695     OH   F  1979  Katrina    122  0.000040
1047755     DE   F  1991  Katrina      5  0.000001)
(('Kattie', 'F'),         region sex  year    name  count      freq
3184431     MS   F  1950  Kattie     18  0.000005)
(('Katy', 'F'),         region sex  year  name  count      freq
2467553     MA   F  1985  Katy     11  0.000003
4594576     OR   F  1972  Katy      5  0.000002)
(('Kawika', 'M'),         region sex  year    name  count      freq
1515882     HI   M  1985  Kawika     21  0.000006)
(('Kay', 'F'),         region sex  year name  count      freq
1331596     GA   F  1982  Kay      5  0.000002
3956271     NY   F  1920  Kay     45  0.000021
4678813     PA   F  1928  Kay     16  0.000008
5593319     UT   F  1937  Kay     29  0.000015
2915286     MN   F  1938  Kay    112  0.000054
3058471     MO   F  1973  Kay      5  0.000002)
(('Kaydance', 'F'),         region sex  year      name  count      freq
4353670     OH   F  2010  Kaydance      5  0.000002)
(('Kayden', 'M'),         region sex  year    name  count      freq
3497336     NC   M  2015  Kayden    186  0.000059
6102015     WI   M  2013  Kayden     79  0.000025
6097864     WI   M  2008  Kayden     61  0.000018)
(('Kaydence', 'F'),         region sex  year      name  count      freq
335173      AZ   F  2018  Kaydence     17  0.000006
2496472     MA   F  2017  Kaydence      5  0.000002)
(('Kaye', 'F'),         region sex  year  name  count      freq
3985507     NY   F  1953  Kaye      7  0.000002
1084150     FL   F  1948  Kaye      7  0.000002
5109172     TN   F  1963  Kaye      7  0.000002)
(('Kayla', 'F'),         region sex  year   name  count      freq
2783888     MI   F  1993  Kayla    583  0.000173
2312715     LA   F  1968  Kayla      9  0.000003
6148507     WV   F  2012  Kayla      6  0.000002
3848777     NM   F  1989  Kayla     82  0.000024)
(('Kaylee', 'F'),         region sex  year    name  count      freq
1048967     DE   F  1998  Kaylee     12  0.000004
2335194     LA   F  1995  Kaylee     40  0.000012)
(('Kayleigh', 'F'),         region sex  year      name  count      freq
3639344     NH   F  1986  Kayleigh     14  0.000004)
(('Kayley', 'F'),         region sex  year    name  count      freq
1168407     FL   F  2011  Kayley      7  0.000002)
(('Kaylin', 'F'),         region sex  year    name  count      freq
494449      CA   F  1987  Kaylin     19  0.000006
206013      AR   F  1993  Kaylin      8  0.000002
1569116     IA   F  2004  Kaylin      7  0.000002)
(('Kayson', 'M'),         region sex  year    name  count      freq
1525554     HI   M  2016  Kayson      8  0.000003
265717      AR   M  2012  Kayson      7  0.000002)
(('Kc', 'F'),        region sex  year name  count      freq
499473     CA   F  1988   Kc      5  0.000001)
(('Keandre', 'M'),         region sex  year     name  count      freq
5576460     TX   M  2016  Keandre      6  0.000002
2889760     MI   M  2008  Keandre      5  0.000001)
(('Keanu', 'M'),         region sex  year   name  count      freq
1908085     IL   M  2014  Keanu      5  0.000002)
(('Keara', 'F'),         region sex  year   name  count      freq
1771816     IL   F  1996  Keara      7  0.000002
2484801     MA   F  2005  Keara      5  0.000001)
(('Keaton', 'M'),         region sex  year    name  count      freq
3942315     NV   M  2007  Keaton      5  0.000001
1890292     IL   M  2003  Keaton     30  0.000009
1902444     IL   M  2011  Keaton     32  0.000010
2054382     IN   M  2015  Keaton     26  0.000008)
(('Keegan', 'F'),         region sex  year    name  count      freq
3418426     NC   F  2017  Keegan      9  0.000003
4089503     NY   F  2007  Keegan     11  0.000003)
(('Keegan', 'M'),        region sex  year    name  count      freq
889977     CO   M  2014  Keegan     18  0.000006)
(('Keeley', 'F'),         region sex  year    name  count      freq
5352698     TX   F  1998  Keeley     27  0.000008)
(('Keely', 'F'),         region sex  year   name  count      freq
2952658     MN   F  2003  Keely     15  0.000005)
(('Keenan', 'M'),         region sex  year    name  count      freq
1241581     FL   M  1997  Keenan     25  0.000008
696419      CA   M  1988  Keenan     48  0.000014
4664349     OR   M  2017  Keenan      6  0.000002
2654017     MD   M  2007  Keenan     10  0.000003)
(('Keily', 'F'),         region sex  year   name  count      freq
1798175     IL   F  2010  Keily      6  0.000002)
(('Keira', 'F'),         region sex  year   name  count      freq
6051921     WI   F  2017  Keira     23  0.000008
2215823     KY   F  2012  Keira     25  0.000008)
(('Keith', 'M'),         region sex  year   name  count      freq
3616756     NE   M  2000  Keith      7  0.000002
4995833     SC   M  1958  Keith    106  0.000027
4790474     PA   M  1923  Keith     42  0.000020
...        ...  ..   ...    ...    ...       ...
3931283     NV   M  1972  Keith     20  0.000007
6064478     WI   M  1937  Keith     64  0.000032
1832998     IL   M  1941  Keith    134  0.000059

[9 rows x 6 columns])
(('Kelani', 'F'),         region sex  year    name  count      freq
5761254     VA   F  2019  Kelani      6  0.000002)
(('Kelby', 'M'),         region sex  year   name  count      freq
5560147     TX   M  2010  Kelby      8  0.000003)
(('Kelci', 'F'),         region sex  year   name  count      freq
4337682     OH   F  2000  Kelci      5  0.000001)
(('Kelis', 'F'),        region sex  year   name  count      freq

583408     CA   F  2010  Kelis      6  0.000002)
(('Kellan', 'M'),         region sex  year    name  count      freq
4253462     NY   M  2020  Kellan     21  0.000008)
(('Kellee', 'F'),         region sex  year    name  count      freq
4318706     OH   F  1986  Kellee      7  0.000002)
(('Kelley', 'F'),         region sex  year    name  count      freq
2574875     MD   F  1971  Kelley     14  0.000004
3730575     NJ   F  2002  Kelley      5  0.000002
1547577     IA   F  1960  Kelley     19  0.000005)
(('Kelli', 'F'),         region sex  year   name  count      freq
4959701     SC   F  2001  Kelli      8  0.000002
282783      AZ   F  1957  Kelli      6  0.000001
194066      AR   F  1967  Kelli     20  0.000006
2094366     KS   F  1992  Kelli     23  0.000007
4006507     NY   F  1968  Kelli     94  0.000030)
(('Kellie', 'F'),         region sex  year    name  count      freq
1639688     ID   F  1982  Kellie      8  0.000003
2095985     KS   F  1995  Kellie     11  0.000003)
(('Kelly', 'F'),         region sex  year   name  count      freq
923755      CT   F  1988  Kelly    192  0.000057
3903133     NV   F  1961  Kelly     28  0.000007
287424      AZ   F  1967  Kelly     85  0.000027
89142       AL   F  2005  Kelly     13  0.000004
4587972     OR   F  1958  Kelly    116  0.000029)
(('Kelly', 'M'),         region sex  year   name  count      freq
2851374     MI   M  1965  Kelly    101  0.000030
2373956     LA   M  1943  Kelly     13  0.000005
2125623     KS   M  1952  Kelly     19  0.000005
...        ...  ..   ...    ...    ...       ...
4853810     PA   M  2008  Kelly      7  0.000002
374583      AZ   M  2004  Kelly      6  0.000002
5182614     TN   M  1959  Kelly     32  0.000008

[8 rows x 6 columns])
(('Kellyann', 'F'),         region sex  year      name  count      freq
3725702     NJ   F  1998  Kellyann      5  0.000002)
(('Kellye', 'F'),         region sex  year    name  count      freq
5125027     TN   F  1987  Kellye     19  0.000006)
(('Kelsea', 'F'),         region sex  year    name  count      freq
2943960     MN   F  1991  Kelsea      6  0.000002)
(('Kelsey', 'F'),         region sex  year    name  count      freq
319452      AZ   F  2006  Kelsey     20  0.000006
580481      CA   F  2010  Kelsey     96  0.000030
3912458     NV   F  1998  Kelsey     25  0.000008
934487      CT   F  2007  Kelsey     22  0.000006)
(('Kelsy', 'F'),         region sex  year   name  count      freq
4745945     PA   F  1996  Kelsy      9  0.000003)
(('Kelton', 'M'),         region sex  year    name  count      freq
5544299     TX   M  2004  Kelton     27  0.000008)
(('Kelvin', 'M'),        region sex  year    name  count      freq
247612     AR   M  1972  Kelvin      7  0.000002)
(('Ken', 'M'),         region sex  year name  count      freq
5187150     TN   M  1968  Ken      7  0.000002
4403739     OH   M  1970  Ken     17  0.000005
2985051     MN   M  1953  Ken      5  0.000001)
(('Kenda', 'F'),         region sex  year   name  count      freq
3048758     MO   F  1959  Kenda      6  0.000002)
(('Kendal', 'F'),         region sex  year    name  count      freq
5340155     TX   F  1993  Kendal     17  0.000005
4767810     PA   F  2011  Kendal     22  0.000007)
(('Kendall', 'F'),         region sex  year     name  count      freq
1344126     GA   F  1995  Kendall     71  0.000022
430467      CA   F  1958  Kendall     10  0.000003)
(('Kendall', 'M'),         region sex  year     name  count      freq
5511640     TX   M  1986  Kendall     47  0.000015
631077      CA   M  1928  Kendall      5  0.000002
5661558     UT   M  1994  Kendall      8  0.000002)
(('Kendell', 'M'),         region sex  year     name  count      freq
4185639     NY   M  1983  Kendell     14  0.000004)
(('Kendra', 'F'),         region sex  year    name  count      freq
3839941     NM   F  1967  Kendra      7  0.000002
3570152     NE   F  1966  Kendra     15  0.000005
1996050     IN   F  2019  Kendra     13  0.000004
5637218     UT   F  2020  Kendra      9  0.000003)
(('Kendrick', 'M'),         region sex  year      name  count      freq
3500188     NC   M  2017  Kendrick     34  0.000011
5818686     VA   M  2009  Kendrick     10  0.000003
6084390     WI   M  1986  Kendrick      5  0.000002
2252949     KY   M  1974  Kendrick      7  0.000003)
(('Kendyl', 'F'),         region sex  year    name  count      freq
6041793     WI   F  2006  Kendyl      5  0.000001)
(('Kenechukwu', 'M'),         region sex  year        name  count      freq
5563101     TX   M  2011  Kenechukwu      6  0.000002)
(('Kenleigh', 'F'),         region sex  year      name  count      freq
2216799     KY   F  2013  Kenleigh     12  0.000004)
(('Kenley', 'F'),         region sex  year    name  count      freq
5740964     VA   F  2004  Kenley      5  0.000002)
(('Kennedi', 'F'),         region sex  year     name  count      freq
1009086     DC   F  2019  Kennedi      7  0.000002
2337834     LA   F  1998  Kennedi     12  0.000004)
(('Kennedy', 'F'),         region sex  year     name  count      freq
5741154     VA   F  2005  Kennedy     76  0.000023
5618113     UT   F  1997  Kennedy     47  0.000015
6037580     WI   F  2002  Kennedy     57  0.000017
6143519     WV   F  1999  Kennedy     12  0.000004
5732431     VA   F  1997  Kennedy     24  0.000008)
(('Kenneth', 'F'),        region sex  year     name  count      freq
419313     CA   F  1950  Kenneth      5  0.000002)
(('Kenneth', 'M'),         region sex  year     name  count      freq
2525218     MA   M  1982  Kenneth    162  0.000051
3305142     MT   M  1917  Kenneth     69  0.000037
5000806     SC   M  1969  Kenneth    297  0.000092
...        ...  ..   ...      ...    ...       ...
5064185     SD   M  1946  Kenneth    131  0.000043
6055580     WI   M  1910  Kenneth     18  0.000035
6204090     WY   M  1940  Kenneth     29  0.000013

[13 rows x 6 columns])
(('Kennith', 'M'),        region sex  year     name  count      freq
127571     AL   M  1957  Kennith     11  0.000003)
(('Kenny', 'M'),         region sex  year   name  count      freq
4249492     NY   M  2018  Kenny     17  0.000006
5011918     SC   M  1991  Kenny      6  0.000002
2837336     MI   M  1941  Kenny      5  0.000002
2248584     KY   M  1964  Kenny     47  0.000013
1879864     IL   M  1995  Kenny     13  0.000004)
(('Kent', 'M'),         region sex  year  name  count      freq
4192411     NY   M  1988  Kent     15  0.000004
2128483     KS   M  1960  Kent     90  0.000023
5198077     TN   M  1989  Kent      6  0.000002)
(('Kenton', 'M'),         region sex  year    name  count      freq
4814210     PA   M  1962  Kenton      7  0.000002)
(('Kenya', 'F'),         region sex  year   name  count      freq
1135211     FL   F  1996  Kenya     37  0.000011
4944728     SC   F  1977  Kenya     20  0.000007)
(('Kenyetta', 'F'),       region sex  year      name  count      freq
74106     AL   F  1984  Kenyetta      6  0.000002)
(('Kenzie', 'F'),         region sex  year    name  count      freq
3585541     NE   F  2007  Kenzie      6  0.000002
5922034     WA   F  2012  Kenzie     40  0.000013
5144689     TN   F  2008  Kenzie     16  0.000005)
(('Kenzleigh', 'F'),         region sex  year       name  count      freq
1375974     GA   F  2014  Kenzleigh      5  0.000002)
(('Keon', 'M'),         region sex  year  name  count      freq
3803897     NJ   M  2003  Keon      6  0.000002)
(('Keona', 'F'),         region sex  year   name  count      freq
3380487     NC   F  1989  Keona      6  0.000002)
(('Keonna', 'F'),         region sex  year    name  count      freq
1145989     FL   F  2001  Keonna      5  0.000002)
(('Keonte', 'M'),         region sex  year    name  count      freq
1886647     IL   M  2000  Keonte      8  0.000002)
(('Keri', 'F'),         region sex  year  name  count      freq
1740255     IL   F  1976  Keri     76  0.000028)
(('Kermit', 'M'),         region sex  year    name  count      freq
6156769     WV   M  1926  Kermit     26  0.000012)
(('Keron', 'M'),         region sex  year   name  count      freq
4206035     NY   M  1996  Keron     11  0.000003)
(('Kerri', 'F'),         region sex  year   name  count      freq
2085871     KS   F  1974  Kerri     25  0.000009
4335971     OH   F  1999  Kerri      6  0.000002)
(('Kerria', 'F'),         region sex  year    name  count      freq
5351759     TX   F  1997  Kerria      5  0.000002)
(('Kerrie', 'F'),         region sex  year    name  count      freq
6136667     WV   F  1978  Kerrie      5  0.000002)
(('Kerry', 'F'),        region sex  year   name  count      freq
988779     DC   F  1956  Kerry      7  0.000002)
(('Kerry', 'M'),         region sex  year   name  count      freq
6077862     WI   M  1972  Kerry     15  0.000005
3778159     NJ   M  1970  Kerry     14  0.000004
5516217     TX   M  1989  Kerry     43  0.000012)
(('Kevin', 'M'),         region sex  year   name  count      freq
3461871     NC   M  1976  Kevin    516  0.000187
3779754     NJ   M  1973  Kevin    639  0.000232
3931742     NV   M  1975  Kevin     35  0.000013
2386608     LA   M  1965  Kevin    693  0.000203
4454563     OH   M  2020  Kevin     55  0.000020)
(('Kevon', 'M'),         region sex  year   name  count      freq
3807302     NJ   M  2006  Kevon      5  0.000001)
(('Keyla', 'F'),         region sex  year   name  count      freq
3726876     NJ   F  1999  Keyla      5  0.000002)
(('Keylian', 'F'),         region sex  year     name  count      freq
6222133     PR   F  2007  Keylian      5  0.000001)
(('Keyshawn', 'M'),         region sex  year      name  count      freq
4843217     PA   M  1999  Keyshawn     10  0.000003)
(('Keyshone', 'M'),         region sex  year      name  count      freq
1882960     IL   M  1997  Keyshone      5  0.000002)
(('Kezia', 'F'),         region sex  year   name  count      freq
5409399     TX   F  2014  Kezia      6  0.000002)
(('Khadija', 'F'),         region sex  year     name  count      freq
5747559     VA   F  2009  Khadija      6  0.000002)
(('Khaleesi', 'F'),         region sex  year      name  count      freq
2221849     KY   F  2019  Khaleesi     13  0.000004)
(('Khalid', 'M'),         region sex  year    name  count      freq
5812396     VA   M  2003  Khalid      9  0.000003)
(('Khalil', 'M'),         region sex  year    name  count      freq
2658951     MD   M  2013  Khalil     38  0.000012
2409065     LA   M  1997  Khalil     11  0.000003
2886544     MI   M  2006  Khalil     23  0.000007
1447606     GA   M  2004  Khalil     36  0.000011)
(('Khamari', 'M'),         region sex  year     name  count      freq
2664982     MD   M  2019  Khamari      5  0.000002)
(('Khloe', 'F'),         region sex  year   name  count      freq
4764214     PA   F  2009  Khloe     78  0.000024)
(('Khloee', 'F'),         region sex  year    name  count      freq
1377748     GA   F  2015  Khloee      5  0.000002)
(('Kian', 'M'),         region sex  year  name  count      freq
6104109     WI   M  2015  Kian     10  0.000003)
(('Kiana', 'F'),         region sex  year   name  count      freq
5137150     TN   F  2001  Kiana     10  0.000003
1340983     GA   F  1992  Kiana     15  0.000004)
(('Kiara', 'F'),         region sex  year   name  count      freq
323459      AZ   F  2009  Kiara     35  0.000011
2688938     ME   F  2002  Kiara      7  0.000002)
(('Kiel', 'M'),         region sex  year  name  count      freq
1228935     FL   M  1986  Kiel      7  0.000002)
(('Kiera', 'F'),         region sex  year   name  count      freq
3645319     NH   F  2009  Kiera      6  0.000002)
(('Kierra', 'F'),         region sex  year    name  count      freq
3213234     MS   F  2001  Kierra     22  0.000007)
(('Kiersten', 'F'),         region sex  year      name  count      freq
2479152     MA   F  1999  Kiersten      7  0.000002
3075660     MO   F  1996  Kiersten     13  0.000004
2096585     KS   F  1996  Kiersten      8  0.000002)
(('Kierstyn', 'F'),         region sex  year      name  count      freq
4090629     NY   F  2007  Kierstyn      5  0.000001)
(('Kiley', 'F'),         region sex  year   name  count      freq
5350055     TX   F  1997  Kiley     25  0.000008
3743620     NJ   F  2012  Kiley     11  0.000004
5730840     VA   F  1995  Kiley      8  0.000002)
(('Killian', 'M'),         region sex  year     name  count      freq
2541862     MA   M  2009  Killian     15  0.000005)
(('Kim', 'F'),         region sex  year name  count      freq
4730308     PA   F  1984  Kim     13  0.000004
5321475     TX   F  1985  Kim     28  0.000009
2572328     MD   F  1967  Kim    126  0.000040
3843075     NM   F  1975  Kim      7  0.000003)
(('Kim', 'M'),         region sex  year name  count      freq
5786226     VA   M  1962  Kim     22  0.000006
4999787     SC   M  1966  Kim     11  0.000003)
(('Kimber', 'F'),         region sex  year    name  count      freq
1719702     IL   F  1959  Kimber      7  0.000002)
(('Kimberlee', 'F'),         region sex  year       name  count      freq
5879475     WA   F  1961  Kimberlee     11  0.000003
808522      CO   F  1975  Kimberlee      6  0.000002)
(('Kimberley', 'F'),         region sex  year       name  count      freq
2567437     MD   F  1958  Kimberley     13  0.000003
913441      CT   F  1966  Kimberley     21  0.000006)
(('Kimberlie', 'F'),         region sex  year       name  count      freq
4593603     OR   F  1970  Kimberlie      6  0.000002)
(('Kimberly', 'F'),         region sex  year      name  count      freq
5911284     WA   F  2003  Kimberly     57  0.000017)
(('Kimi', 'F'),        region sex  year  name  count      freq
447029     CA   F  1967  Kimi      7  0.000002)
(('Kina', 'F'),         region sex  year  name  count      freq
5304591     TX   F  1976  Kina      6  0.000002)
(('King', 'M'),         region sex  year  name  count      freq
895378      CO   M  2020  King     13  0.000005
4448825     OH   M  2016  King     93  0.000030
3446875     NC   M  1950  King      5  0.000002
643767      CA   M  1948  King      5  0.000002)
(('Kinley', 'F'),       region sex  year    name  count      freq
94349     AL   F  2011  Kinley     42  0.000013
92572     AL   F  2009  Kinley     27  0.000008)
(('Kinsey', 'F'),         region sex  year    name  count      freq
1382781     GA   F  2018  Kinsey      6  0.000002
1792257     IL   F  2007  Kinsey      6  0.000002)
(('Kinzie', 'F'),         region sex  year    name  count      freq

5362863     TX   F  2001  Kinzie      7  0.000002)
(('Kip', 'M'),         region sex  year name  count      freq
648683      CA   M  1954  Kip     21  0.000006
1859681     IL   M  1976  Kip      8  0.000003)
(('Kira', 'F'),         region sex  year  name  count      freq
3095016     MO   F  2015  Kira     14  0.000004
6148930     WV   F  2013  Kira      6  0.000002
3208645     MS   F  1992  Kira      5  0.000001)
(('Kiran', 'M'),         region sex  year   name  count      freq
5584531     TX   M  2019  Kiran      6  0.000002)
(('Kirby', 'M'),         region sex  year   name  count      freq
362945      AZ   M  1988  Kirby      6  0.000002
3123727     MO   M  1961  Kirby     12  0.000003)
(('Kirk', 'M'),         region sex  year  name  count      freq
706094      CA   M  1992  Kirk     56  0.000016
5586862     TX   M  2020  Kirk      8  0.000003)
(('Kirstin', 'F'),         region sex  year     name  count      freq
1339161     GA   F  1990  Kirstin      7  0.000002)
(('Kirsty', 'F'),         region sex  year    name  count      freq
5901235     WA   F  1992  Kirsty      5  0.000001)
(('Kisha', 'F'),         region sex  year   name  count      freq
1329186     GA   F  1980  Kisha     25  0.000008
4315457     OH   F  1983  Kisha      5  0.000002)
(('Kit', 'M'),         region sex  year name  count      freq
4173586     NY   M  1973  Kit      5  0.000002)
(('Kitty', 'F'),         region sex  year   name  count      freq
60289       AL   F  1963  Kitty      5  0.000001
5696425     VA   F  1947  Kitty     21  0.000006)
(('Knox', 'M'),         region sex  year  name  count      freq
1619325     IA   M  2015  Knox     47  0.000015
1682463     ID   M  2020  Knox      7  0.000003)
(('Kodie', 'M'),        region sex  year   name  count      freq
707713     CA   M  1992  Kodie      6  0.000002)
(('Kofi', 'M'),         region sex  year  name  count      freq
4203251     NY   M  1994  Kofi      5  0.000002)
(('Kolby', 'M'),         region sex  year   name  count      freq
1243119     FL   M  1998  Kolby     15  0.000005
261534      AR   M  2005  Kolby      7  0.000002)
(('Kollin', 'M'),         region sex  year    name  count      freq
1466889     GA   M  2017  Kollin      5  0.000002)
(('Kolton', 'M'),         region sex  year    name  count      freq
2047401     IN   M  2008  Kolton     25  0.000007)
(('Kooper', 'M'),         region sex  year    name  count      freq
4572177     OK   M  2016  Kooper      9  0.000003)
(('Korbin', 'M'),         region sex  year    name  count      freq
4445092     OH   M  2013  Korbin     18  0.000006
4862811     PA   M  2015  Korbin     12  0.000004)
(('Korey', 'M'),         region sex  year   name  count      freq
2642575     MD   M  1991  Korey      9  0.000003
4429995     OH   M  2001  Korey     16  0.000005
3471146     NC   M  1990  Korey     14  0.000004)
(('Kori', 'F'),         region sex  year  name  count      freq
1797854     IL   F  2010  Kori      8  0.000003
1141761     FL   F  1999  Kori      6  0.000002
4496610     OK   F  1988  Kori      9  0.000003)
(('Kory', 'M'),         region sex  year  name  count      freq
683097      CA   M  1981  Kory     22  0.000007
2259673     KY   M  1990  Kory      7  0.000002
3138141     MO   M  1989  Kory     19  0.000005
4648282     OR   M  1991  Kory     16  0.000005
4851340     PA   M  2006  Kory      6  0.000002
4440111     OH   M  2009  Kory      9  0.000003)
(('Kourtney', 'F'),         region sex  year      name  count      freq
1767663     IL   F  1994  Kourtney     27  0.000008
1746805     IL   F  1980  Kourtney      8  0.000003)
(('Kris', 'M'),         region sex  year  name  count      freq
2847551     MI   M  1959  Kris     43  0.000011
4818014     PA   M  1968  Kris     18  0.000006)
(('Krista', 'F'),         region sex  year    name  count      freq
1712296     IL   F  1952  Krista      7  0.000002
1970644     IN   F  1997  Krista     25  0.000008
3573612     NE   F  1976  Krista     16  0.000006)
(('Kristal', 'F'),         region sex  year     name  count      freq
4050691     NY   F  1991  Kristal     27  0.000008)
(('Kristan', 'F'),         region sex  year     name  count      freq
3209736     MS   F  1994  Kristan      5  0.000002
1961634     IN   F  1986  Kristan      7  0.000002
4046613     NY   F  1989  Kristan     11  0.000003)
(('Kristen', 'F'),         region sex  year     name  count      freq
3578793     NE   F  1991  Kristen     36  0.000010
1720369     IL   F  1960  Kristen     29  0.000007
911489      CT   F  1962  Kristen     19  0.000005
3853914     NM   F  2000  Kristen     15  0.000004)
(('Kristi', 'F'),         region sex  year    name  count      freq
4719666     PA   F  1975  Kristi    103  0.000038)
(('Kristian', 'F'),         region sex  year      name  count      freq
3066415     MO   F  1984  Kristian      6  0.000002)
(('Kristian', 'M'),         region sex  year      name  count      freq
681502      CA   M  1980  Kristian     17  0.000005
2535959     MA   M  2001  Kristian     13  0.000004)
(('Kristie', 'F'),         region sex  year     name  count      freq
2201227     KY   F  1991  Kristie     13  0.000004)
(('Kristin', 'F'),         region sex  year     name  count      freq
1760608     IL   F  1990  Kristin    268  0.000075
6023082     WI   F  1982  Kristin    308  0.000096
5145424     TN   F  2008  Kristin      5  0.000001)
(('Kristina', 'F'),         region sex  year      name  count      freq
3710513     NJ   F  1985  Kristina    160  0.000049
2571890     MD   F  1966  Kristina     28  0.000009
5124177     TN   F  1986  Kristina     64  0.000020
5841408     VT   F  1979  Kristina     14  0.000005
1730829     IL   F  1969  Kristina    138  0.000043)
(('Kristine', 'F'),         region sex  year      name  count      freq
2675203     ME   F  1950  Kristine      6  0.000002
2735803     MI   F  1945  Kristine     14  0.000006)
(('Kristopher', 'M'),         region sex  year        name  count      freq
1874511     IL   M  1991  Kristopher     63  0.000018
249292      AR   M  1977  Kristopher     27  0.000009
4644963     OR   M  1983  Kristopher     35  0.000011)
(('Kristy', 'F'),         region sex  year    name  count      freq
2090035     KS   F  1983  Kristy     24  0.000008
3570564     NE   F  1967  Kristy      9  0.000003
2739046     MI   F  1949  Kristy      5  0.000002
5611957     UT   F  1986  Kristy     28  0.000009)
(('Kristyn', 'F'),         region sex  year     name  count      freq
2685777     ME   F  1989  Kristyn      5  0.000001)
(('Kruz', 'M'),         region sex  year  name  count      freq
5675911     UT   M  2015  Kruz      6  0.000002)
(('Krystal', 'F'),         region sex  year     name  count      freq
2589587     MD   F  1994  Krystal     22  0.000007)
(('Krysten', 'F'),         region sex  year     name  count      freq
5365324     TX   F  2002  Krysten     12  0.000004)
(('Krystian', 'M'),         region sex  year      name  count      freq
3804977     NJ   M  2004  Krystian      6  0.000002)
(('Krystle', 'F'),         region sex  year     name  count     freq
2325041     LA   F  1983  Krystle     31  0.00001)
(('Kujtim', 'M'),         region sex  year    name  count      freq
4204781     NY   M  1995  Kujtim      6  0.000002)
(('Kurt', 'M'),         region sex  year  name  count      freq
3884401     NM   M  1983  Kurt      7  0.000002
347541      AZ   M  1954  Kurt      7  0.000002
358127      AZ   M  1979  Kurt      7  0.000002)
(('Kurtis', 'M'),         region sex  year    name  count      freq
748689      CA   M  2008  Kurtis     12  0.000004
869148      CO   M  1982  Kurtis      5  0.000002
2527731     MA   M  1987  Kurtis     12  0.000004
4638562     OR   M  1965  Kurtis      9  0.000003)
(('Kwame', 'M'),         region sex  year   name  count      freq
4204064     NY   M  1995  Kwame     16  0.000005)
(('Kyana', 'F'),         region sex  year   name  count      freq
5341167     TX   F  1993  Kyana      6  0.000002
1156010     FL   F  2006  Kyana     11  0.000003)
(('Kye', 'M'),         region sex  year name  count      freq
5554622     TX   M  2008  Kye     11  0.000003)
(('Kyla', 'F'),         region sex  year  name  count      freq
1644819     ID   F  1999  Kyla      7  0.000002
2212680     KY   F  2008  Kyla     16  0.000005
5752158     VA   F  2013  Kyla     28  0.000009)
(('Kyle', 'F'),         region sex  year  name  count      freq
1306844     GA   F  1951  Kyle      5  0.000001
4012333     NY   F  1971  Kyle     13  0.000004)
(('Kyle', 'M'),         region sex  year  name  count      freq
3437429     NC   M  1934  Kyle      7  0.000004
3496231     NC   M  2014  Kyle     50  0.000016
6186049     WV   M  2017  Kyle      7  0.000002
3316663     MT   M  1978  Kyle     32  0.000011)
(('Kyleigh', 'F'),         region sex  year     name  count      freq
5742674     VA   F  2006  Kyleigh     26  0.000008
5374139     TX   F  2005  Kyleigh     56  0.000017
1990908     IN   F  2015  Kyleigh     22  0.000007)
(('Kylen', 'M'),         region sex  year   name  count      freq
2048761     IN   M  2009  Kylen      8  0.000002)
(('Kyler', 'M'),         region sex  year   name  count      freq
1672104     ID   M  1995  Kyler      9  0.000003)
(('Kyli', 'F'),         region sex  year  name  count      freq
5362485     TX   F  2001  Kyli      9  0.000003
4341960     OH   F  2003  Kyli      6  0.000002)
(('Kymani', 'M'),        region sex  year    name  count      freq
161706     AL   M  2014  Kymani      6  0.000002)
(('Kynnedi', 'F'),         region sex  year     name  count      freq
1178093     FL   F  2015  Kynnedi      6  0.000002)
(('Kynslee', 'F'),         region sex  year     name  count      freq
3100930     MO   F  2020  Kynslee      7  0.000003)
(('Kynzlee', 'F'),         region sex  year     name  count      freq
5157781     TN   F  2018  Kynzlee      5  0.000002)
(('Kyra', 'F'),         region sex  year  name  count      freq
3209669     MS   F  1994  Kyra      6  0.000002
2591927     MD   F  1997  Kyra     26  0.000008
3583938     NE   F  2004  Kyra     13  0.000004
1003438     DC   F  1999  Kyra      9  0.000003)
(('Kyree', 'M'),         region sex  year   name  count      freq
3795941     NJ   M  1995  Kyree     12  0.000004)
(('Kyson', 'M'),         region sex  year   name  count      freq
2902873     MI   M  2019  Kyson      9  0.000003)
(('Laakea', 'M'),         region sex  year    name  count      freq
1522553     HI   M  2007  Laakea     12  0.000003)
(('Lacey', 'F'),        region sex  year   name  count      freq
210712     AR   F  2002  Lacey      7  0.000002)
(('Lachlan', 'M'),         region sex  year     name  count      freq
4244094     NY   M  2015  Lachlan      7  0.000002
387612      AZ   M  2017  Lachlan      5  0.000002)
(('Laci', 'F'),         region sex  year  name  count      freq
4358678     OH   F  2013  Laci      5  0.000002)
(('Lacie', 'F'),         region sex  year   name  count      freq
5408826     TX   F  2014  Lacie      8  0.000003
4498837     OK   F  1992  Lacie     18  0.000005)
(('Ladarius', 'M'),         region sex  year      name  count      freq
2414267     LA   M  2003  Ladarius      6  0.000002)
(('Lael', 'M'),         region sex  year  name  count      freq
2664986     MD   M  2019  Lael      5  0.000002)
(('Laila', 'F'),         region sex  year   name  count      freq
6047019     WI   F  2012  Laila     30  0.000010
4970145     SC   F  2014  Laila     41  0.000013)
(('Lailani', 'F'),         region sex  year     name  count      freq
4770248     PA   F  2012  Lailani      6  0.000002)
(('Lainey', 'F'),         region sex  year    name  count      freq
3411578     NC   F  2013  Lainey     19  0.000006)
(('Laisha', 'F'),         region sex  year    name  count      freq
4074105     NY   F  2001  Laisha     22  0.000007)
(('Laiyah', 'F'),         region sex  year    name  count      freq
5758391     VA   F  2017  Laiyah      7  0.000002)
(('Lakeesha', 'F'),         region sex  year      name  count      freq
5312135     TX   F  1980  Lakeesha      6  0.000002)
(('Lakeisha', 'F'),         region sex  year      name  count      freq
5301870     TX   F  1975  Lakeisha     39  0.000014
1325649     GA   F  1976  Lakeisha     32  0.000012)
(('Lakeshia', 'F'),       region sex  year      name  count      freq
70403     AL   F  1979  Lakeshia     25  0.000008)
(('Lakisha', 'F'),         region sex  year     name  count      freq
1741677     IL   F  1977  Lakisha     60  0.000021
1755071     IL   F  1986  Lakisha     17  0.000005)
(('Lamar', 'M'),         region sex  year   name  count      freq
5639798     UT   M  1923  Lamar     14  0.000007)
(('Lana', 'F'),         region sex  year  name  count      freq
3047032     MO   F  1957  Lana     22  0.000005
1304639     GA   F  1948  Lana     18  0.000005
4482486     OK   F  1963  Lana     23  0.000006)
(('Lance', 'M'),         region sex  year   name  count      freq
3934153     NV   M  1987  Lance     11  0.000003
3316688     MT   M  1978  Lance     20  0.000007
1014898     DC   M  1949  Lance      6  0.000002
...        ...  ..   ...    ...    ...       ...
5179770     TN   M  1953  Lance     11  0.000003
3769435     NJ   M  1954  Lance     27  0.000007
5497849     TX   M  1976  Lance    156  0.000057

[8 rows x 6 columns])
(('Landen', 'M'),         region sex  year    name  count      freq
5813011     VA   M  2004  Landen     26  0.000008)
(('Landin', 'M'),         region sex  year    name  count      freq
5021429     SC   M  2006  Landin      6  0.000002)
(('Landis', 'F'),       region sex  year    name  count      freq
52961     AL   F  1952  Landis      6  0.000002)
(('Landry', 'M'),         region sex  year    name  count      freq
5830117     VA   M  2019  Landry      8  0.000003)
(('Landyn', 'M'),         region sex  year    name  count      freq
1262754     FL   M  2010  Landyn     28  0.000009)
(('Lane', 'M'),         region sex  year  name  count      freq
4806225     PA   M  1950  Lane      8  0.000002
765372      CA   M  2014  Lane     36  0.000011
132041      AL   M  1965  Lane      5  0.000001
4853137     PA   M  2008  Lane     34  0.000010
1621883     IA   M  2019  Lane     50  0.000017
2988552     MN   M  1962  Lane      6  0.000002
4559766     OK   M  1999  Lane     46  0.000014)
(('Lanell', 'F'),         region sex  year    name  count      freq
5265805     TX   F  1950  Lanell     14  0.000004)
(('Lanelle', 'F'),         region sex  year     name  count      freq
5246890     TX   F  1932  Lanelle     10  0.000005)
(('Langston', 'M'),         region sex  year      name  count      freq
1461760     GA   M  2014  Langston     27  0.000009
5530638     TX   M  1997  Langston      8  0.000003)
(('Lanie', 'F'),         region sex  year   name  count      freq
1164252     FL   F  2009  Lanie      5  0.000002
3332087     NC   F  1920  Lanie      6  0.000003)
(('Lanny', 'M'),         region sex  year   name  count      freq
5065178     SD   M  1950  Lanny      7  0.000002)
(('Laquan', 'M'),         region sex  year    name  count      freq
3471220     NC   M  1990  Laquan     11  0.000003)
(('Laquisha', 'F'),         region sex  year      name  count      freq
3203015     MS   F  1982  Laquisha      8  0.000003
5131778     TN   F  1995  Laquisha      7  0.000002)
(('Laquita', 'F'),         region sex  year     name  count      freq
1122564     FL   F  1988  Laquita     10  0.000003)
(('Lara', 'F'),         region sex  year  name  count      freq
6043530     WI   F  2008  Lara      7  0.000002
5350473     TX   F  1997  Lara     14  0.000004
5898220     WA   F  1989  Lara      8  0.000002)
(('Larisa', 'F'),        region sex  year    name  count      freq
321584     AZ   F  2007  Larisa      6  0.000002)
(('Laritza', 'F'),         region sex  year     name  count      freq
5395188     TX   F  2010  Laritza      5  0.000002)
(('Laronda', 'F'),         region sex  year     name  count      freq
2191212     KY   F  1973  Laronda      5  0.000002)
(('Larry', 'F'),         region sex  year   name  count      freq
1930862     IN   F  1942  Larry      7  0.000003)
(('Larry', 'M'),         region sex  year   name  count      freq
640619      CA   M  1945  Larry   1389  0.000555
6180546     WV   M  2001  Larry     12  0.000004
4557061     OK   M  1994  Larry     26  0.000008
4901173     RI   M  1967  Larry      9  0.000003
1587640     IA   M  1934  Larry    252  0.000130
6159702     WV   M  1934  Larry     61  0.000032
2985467     MN   M  1955  Larry    366  0.000096)
(('Larue', 'F'),         region sex  year   name  count      freq
1686904     IL   F  1917  Larue      5  0.000003)
(('Lashaunda', 'F'),         region sex  year       name  count      freq
3701087     NJ   F  1974  Lashaunda      5  0.000002)
(('Lashawnda', 'F'),         region sex  year       name  count      freq
1752823     IL   F  1984  Lashawnda      6  0.000002
4014918     NY   F  1972  Lashawnda      5  0.000002)
(('Lashon', 'F'),         region sex  year    name  count      freq
1323516     GA   F  1973  Lashon      8  0.000003)
(('Lashonda', 'F'),         region sex  year      name  count      freq
4299819     OH   F  1970  Lashonda     14  0.000004)
(('Lashone', 'F'),        region sex  year     name  count      freq
995235     DC   F  1972  Lashone      5  0.000002)
(('Lasonya', 'F'),         region sex  year     name  count      freq
3367901     NC   F  1974  Lasonya      6  0.000002)
(('Latanya', 'F'),         region sex  year     name  count      freq
990706      DC   F  1961  Latanya      8  0.000002
3694770     NJ   F  1967  Latanya      8  0.000003
1093173     FL   F  1961  Latanya      8  0.000002
2575976     MD   F  1973  Latanya     14  0.000005
1098482     FL   F  1967  Latanya      8  0.000003
1755240     IL   F  1986  Latanya     12  0.000004
3706278     NJ   F  1980  Latanya     10  0.000003)
(('Latasha', 'F'),         region sex  year     name  count      freq
4726582     PA   F  1981  Latasha     45  0.000014)
(('Latonia', 'F'),         region sex  year     name  count      freq
5116186     TN   F  1974  Latonia      9  0.000003)
(('Latonya', 'F'),         region sex  year     name  count     freq
5291956     TX   F  1969  Latonya     64  0.00002)
(('Latoria', 'F'),         region sex  year     name  count      freq
3381492     NC   F  1990  Latoria      6  0.000002)
(('Latrice', 'F'),         region sex  year     name  count      freq
1332919     GA   F  1984  Latrice     15  0.000005)
(('Latricia', 'F'),         region sex  year      name  count      freq
5313121     TX   F  1981  Latricia     29  0.000009)
(('Latrina', 'F'),         region sex  year     name  count      freq
3202435     MS   F  1981  Latrina      8  0.000003)
(('Laura', 'F'),         region sex  year   name  count      freq
1790875     IL   F  2007  Laura     56  0.000016
1744348     IL   F  1979  Laura    716  0.000237
5265246     TX   F  1950  Laura    309  0.000093
...        ...  ..   ...    ...    ...       ...
3830030     NM   F  1940  Laura     18  0.000008
1478751     HI   F  1949  Laura     22  0.000007
2469399     MA   F  1988  Laura    353  0.000106

[11 rows x 6 columns])
(('Lauren', 'F'),         region sex  year    name  count      freq
1123271     FL   F  1989  Lauren   1014  0.000292
203000      AR   F  1987  Lauren    137  0.000042
4093488     NY   F  2009  Lauren    283  0.000087
...        ...  ..   ...     ...    ...       ...
1045776     DE   F  1980  Lauren     39  0.000012
4018627     NY   F  1975  Lauren    396  0.000144
4600779     OR   F  1985  Lauren     64  0.000020

[8 rows x 6 columns])
(('Lauren', 'M'),         region sex  year    name  count      freq
3597706     NE   M  1931  Lauren      7  0.000004)
(('Laurence', 'M'),         region sex  year      name  count      freq
2617927     MD   M  1922  Laurence     10  0.000005
622843      CA   M  1910  Laurence      6  0.000012)
(('Lauri', 'F'),         region sex  year   name  count      freq
1321850     GA   F  1971  Lauri      8  0.000003)
(('Laurie', 'F'),         region sex  year    name  count      freq

(('Lawanda', 'F'),         region sex  year     name  count      freq
5273550     TX   F  1956  Lawanda     18  0.000005
2313465     LA   F  1969  Lawanda     10  0.000003)
(('Lawrence', 'M'),         region sex  year      name  count      freq
4628604     OR   M  1927  Lawrence     41  0.000019
2155907     KS   M  2019  Lawrence      8  0.000003
6175112     WV   M  1980  Lawrence     21  0.000007
6152414     WV   M  1914  Lawrence     62  0.000048
2119112     KS   M  1931  Lawrence     90  0.000046
1905715     IL   M  2013  Lawrence     18  0.000006)
(('Lawson', 'M'),         region sex  year    name  count      freq
3477540     NC   M  1997  Lawson      5  0.000002
5582663     TX   M  2019  Lawson     79  0.000027
3159415     MO   M  2016  Lawson     21  0.000007)
(('Layla', 'F'),         region sex  year   name  count      freq
5718325     VA   F  1980  Layla      5  0.000002
1004564     DC   F  2003  Layla      8  0.000002
2965972     MN   F  2017  Layla     85  0.000028
3586715     NE   F  2010  Layla     28  0.000009)
(('Laylanie', 'F'),         region sex  year      name  count      freq
5427570     TX   F  2019  Laylanie      7  0.000002)
(('Layne', 'F'),         region sex  year   name  count      freq
5419585     TX   F  2017  Layne     11  0.000004)
(('Layne', 'M'),         region sex  year   name  count      freq
157793      AL   M  2009  Layne      6  0.000002
4866872     PA   M  2018  Layne     13  0.000004)
(('Lea', 'F'),         region sex  year name  count      freq
2317401     LA   F  1974  Lea      9  0.000003
3066361     MO   F  1984  Lea      7  0.000002)
(('Leah', 'F'),         region sex  year  name  count      freq
1493953     HI   F  1997  Leah      9  0.000003
1990650     IN   F  2015  Leah     86  0.000027
5704426     VA   F  1960  Leah     12  0.000003
3189240     MS   F  1958  Leah      5  0.000001
2317091     LA   F  1974  Leah     35  0.000013
3214420     MS   F  2003  Leah     22  0.000007
4475894     OK   F  1950  Leah      9  0.000003)
(('Leandra', 'F'),         region sex  year     name  count      freq
5350057     TX   F  1997  Leandra     25  0.000008
3394065     NC   F  2001  Leandra      5  0.000002)
(('Leandro', 'M'),         region sex  year     name  count      freq
4253387     NY   M  2020  Leandro     25  0.000009
5468171     TX   M  1949  Leandro     13  0.000004)
(('Leane', 'F'),        region sex  year   name  count      freq
451217     CA   F  1969  Leane      6  0.000002)
(('Leann', 'F'),         region sex  year   name  count      freq
2200356     KY   F  1989  Leann      5  0.000001
2309087     LA   F  1963  Leann      5  0.000001
4313654     OH   F  1982  Leann     19  0.000006
4703374     PA   F  1959  Leann     21  0.000005
6019771     WI   F  1976  Leann      8  0.000003)
(('Leanna', 'F'),         region sex  year    name  count      freq
3075930     MO   F  1996  Leanna      7  0.000002
454358      CA   F  1971  Leanna     29  0.000009
307325      AZ   F  1995  Leanna      6  0.000002)
(('Leanne', 'F'),         region sex  year    name  count      freq
3363804     NC   F  1969  Leanne     12  0.000004
6001067     WI   F  1940  Leanne      6  0.000003
2754119     MI   F  1966  Leanne     51  0.000016
5337543     TX   F  1992  Leanne     20  0.000006)
(('Leasa', 'F'),         region sex  year   name  count      freq
5282593     TX   F  1962  Leasa      8  0.000002)
(('Leasia', 'F'),         region sex  year    name  count      freq
5745007     VA   F  2007  Leasia      5  0.000001)
(('Leatha', 'F'),         region sex  year    name  count      freq
3193245     MS   F  1965  Leatha      9  0.000003)
(('Ledger', 'M'),         region sex  year    name  count      freq
1679846     ID   M  2014  Ledger      5  0.000002)
(('Lee', 'F'),         region sex  year name  count      freq
5708336     VA   F  1966  Lee     26  0.000008
3290921     MT   F  1963  Lee      7  0.000002
3054590     MO   F  1968  Lee     28  0.000009
184692      AR   F  1947  Lee     13  0.000004)
(('Lee', 'M'),         region sex  year name  count      freq
1219702     FL   M  1976  Lee     58  0.000021
639976      CA   M  1944  Lee    197  0.000078
1017380     DC   M  1958  Lee     19  0.000005)
(('Leena', 'F'),         region sex  year   name  count      freq
1805629     IL   F  2014  Leena      7  0.000002)
(('Leia', 'F'),         region sex  year  name  count      freq
3922442     NV   F  2014  Leia      8  0.000003)
(('Leigh', 'F'),         region sex  year   name  count      freq
3350719     NC   F  1951  Leigh      6  0.000002
4291128     OH   F  1962  Leigh     45  0.000012
2183411     KY   F  1960  Leigh     23  0.000006
416346      CA   F  1948  Leigh     12  0.000004)
(('Leighton', 'F'),         region sex  year      name  count      freq
219097      AR   F  2015  Leighton      8  0.000003
3223056     MS   F  2016  Leighton     13  0.000004)
(('Leila', 'F'),         region sex  year   name  count      freq
5120444     TN   F  1980  Leila      8  0.000003
1700980     IL   F  1938  Leila      8  0.000004
1531743     IA   F  1922  Leila      6  0.000003)
(('Leilani', 'F'),         region sex  year     name  count      freq
6219645     PR   F  2003  Leilani      7  0.000002
3915780     NV   F  2004  Leilani     14  0.000004)
(('Leira', 'F'),         region sex  year   name  count      freq
6218929     PR   F  2002  Leira     10  0.000003)
(('Lela', 'F'),         region sex  year  name  count      freq
5083003     TN   F  1916  Lela     50  0.000028)
(('Leland', 'M'),         region sex  year    name  count      freq
3102346     MO   M  1914  Leland     27  0.000021
4192518     NY   M  1988  Leland     12  0.000004
850599      CO   M  1929  Leland     16  0.000008
5807325     VA   M  1997  Leland      5  0.000002)
(('Lelia', 'F'),         region sex  year   name  count      freq
5278283     TX   F  1959  Lelia      7  0.000002
3024818     MO   F  1916  Lelia      8  0.000004)
(('Lena', 'F'),         region sex  year  name  count      freq
789032      CO   F  1927  Lena     20  0.000009
2476584     MA   F  1996  Lena      8  0.000002
421065      CA   F  1952  Lena     31  0.000009
...        ...  ..   ...   ...    ...       ...
5628760     UT   F  2010  Lena      9  0.000003
3645851     NH   F  2011  Lena      6  0.000002
3751347     NJ   F  2018  Lena     39  0.000013

[8 rows x 6 columns])
(('Lennie', 'F'),       region sex  year    name  count      freq
41828     AL   F  1932  Lennie      5  0.000003)
(('Lennon', 'F'),         region sex  year    name  count      freq
331571      AZ   F  2015  Lennon     13  0.000004
3746688     NJ   F  2014  Lennon      7  0.000002)
(('Lennon', 'M'),         region sex  year    name  count      freq
2902822     MI   M  2019  Lennon     10  0.000003)
(('Lenny', 'M'),         region sex  year   name  count      freq
4165027     NY   M  1966  Lenny     19  0.000006
2376827     LA   M  1948  Lenny      5  0.000002)
(('Lenora', 'F'),         region sex  year    name  count      freq
5289267     TX   F  1967  Lenora     23  0.000007)
(('Lenore', 'F'),         region sex  year    name  count      freq
1703445     IL   F  1942  Lenore     35  0.000014)
(('Leo', 'M'),         region sex  year name  count      freq
5492089     TX   M  1971  Leo     41  0.000013
2017847     IN   M  1961  Leo     17  0.000004
2530383     MA   M  1992  Leo     23  0.000007
3478218     NC   M  1998  Leo      9  0.000003
2861618     MI   M  1979  Leo     17  0.000006
2021951     IN   M  1969  Leo     15  0.000005
5483317     TX   M  1963  Leo     73  0.000019)
(('Leocadia', 'F'),         region sex  year      name  count      freq
3668141     NJ   F  1916  Leocadia      5  0.000003)
(('Leodis', 'M'),        region sex  year    name  count      freq
236738     AR   M  1944  Leodis      5  0.000002)
(('Leola', 'F'),        region sex  year   name  count      freq
416718     CA   F  1948  Leola      6  0.000002)
(('Leon', 'M'),         region sex  year  name  count      freq
1030218     DC   M  1998  Leon      5  0.000002
961921      CT   M  1983  Leon     10  0.000003
1421398     GA   M  1974  Leon     42  0.000015
...        ...  ..   ...   ...    ...       ...
3460366     NC   M  1973  Leon     17  0.000006
2649520     MD   M  2001  Leon      5  0.000002
3539676     ND   M  1958  Leon     11  0.000003

[11 rows x 6 columns])
(('Leona', 'F'),         region sex  year   name  count      freq
48159       AL   F  1944  Leona     11  0.000004
5876630     WA   F  1956  Leona      7  0.000002
3509423     ND   F  1929  Leona     44  0.000022
1948624     IN   F  1969  Leona      8  0.000002)
(('Leonard', 'M'),         region sex  year     name  count      freq
4979607     SC   M  1920  Leonard     48  0.000023
1387520     GA   M  1913  Leonard     67  0.000065
3764855     NJ   M  1942  Leonard    150  0.000058
1579988     IA   M  1910  Leonard     25  0.000048
4196790     NY   M  1991  Leonard     82  0.000023
2053910     IN   M  2014  Leonard      6  0.000002
2975640     MN   M  1927  Leonard    174  0.000081)
(('Leonardo', 'M'),         region sex  year      name  count      freq
4234383     NY   M  2011  Leonardo    134  0.000043)
(('Leone', 'F'),         region sex  year   name  count      freq
4668836     PA   F  1914  Leone      8  0.000006)
(('Leonel', 'M'),         region sex  year    name  count      freq
2046002     IN   M  2006  Leonel      6  0.000002)
(('Leonidas', 'M'),         region sex  year      name  count      freq
5577375     TX   M  2017  Leonidas     64  0.000021)
(('Leonor', 'F'),        region sex  year    name  count      freq
558792     CA   F  2004  Leonor      5  0.000002)
(('Leonore', 'F'),         region sex  year     name  count      freq
3974399     NY   F  1943  Leonore     13  0.000005)
(('Leopold', 'M'),         region sex  year     name  count      freq
4864594     PA   M  2016  Leopold      6  0.000002
2366104     LA   M  1926  Leopold      5  0.000002)
(('Leopoldo', 'M'),         region sex  year      name  count      freq
5474659     TX   M  1955  Leopoldo     18  0.000005)
(('Leora', 'F'),         region sex  year   name  count      freq
2160225     KY   F  1917  Leora      5  0.000003
409308      CA   F  1941  Leora      5  0.000002)
(('Leota', 'F'),         region sex  year   name  count      freq
6115331     WV   F  1926  Leota      7  0.000003)
(('Leroy', 'M'),         region sex  year   name  count      freq
3307877     MT   M  1934  Leroy     32  0.000017
3454382     NC   M  1963  Leroy     47  0.000013
5172943     TN   M  1939  Leroy     53  0.000026)
(('Lesa', 'F'),         region sex  year  name  count      freq
3047023     MO   F  1957  Lesa     23  0.000006
1946218     IN   F  1966  Lesa     25  0.000008)
(('Lesley', 'F'),         region sex  year    name  count      freq
3573459     NE   F  1975  Lesley      5  0.000002
3576614     NE   F  1984  Lesley      6  0.000002)
(('Leslie', 'F'),         region sex  year    name  count      freq
3359052     NC   F  1963  Leslie    107  0.000029
5346698     TX   F  1996  Leslie    508  0.000157
4700032     PA   F  1956  Leslie    259  0.000066)
(('Leslie', 'M'),         region sex  year    name  count      freq
1510051     HI   M  1964  Leslie      7  0.000002
1418385     GA   M  1969  Leslie     18  0.000006
3596235     NE   M  1926  Leslie     27  0.000013
3654414     NH   M  1960  Leslie      6  0.000002
3535347     ND   M  1937  Leslie     14  0.000007)
(('Lesly', 'F'),         region sex  year   name  count      freq
4616259     OR   F  2008  Lesly      9  0.000003
3406874     NC   F  2010  Lesly     16  0.000005)
(('Leslye', 'F'),         region sex  year    name  count      freq
1782845     IL   F  2002  Leslye      5  0.000002)
(('Lesslie', 'F'),         region sex  year     name  count      freq
5391011     TX   F  2009  Lesslie      6  0.000002)
(('Lester', 'M'),         region sex  year    name  count      freq
3592586     NE   M  1913  Lester     39  0.000038
622984      CA   M  1911  Lester      6  0.000011
2378108     LA   M  1951  Lester     71  0.000020
3774038     NJ   M  1963  Lester     31  0.000008
4442909     OH   M  2011  Lester      7  0.000002)
(('Letha', 'F'),         region sex  year   name  count      freq
3558378     NE   F  1929  Letha      8  0.000004)
(('Leticia', 'F'),         region sex  year     name  count      freq
3389480     NC   F  1998  Leticia     13  0.000004)
(('Letisha', 'F'),         region sex  year     name  count      freq
3707501     NJ   F  1981  Letisha      6  0.000002)
(('Letitia', 'F'),         region sex  year     name  count      freq
4693142     PA   F  1948  Letitia     13  0.000004)
(('Lettie', 'F'),         region sex  year    name  count      freq
3340303     NC   F  1934  Lettie      9  0.000005
1290082     GA   F  1922  Lettie      9  0.000004)
(('Levar', 'M'),         region sex  year   name  count     freq
4180319     NY   M  1979  Levar     30  0.00001)
(('Levi', 'M'),         region sex  year  name  count      freq
882220      CO   M  2005  Levi     59  0.000018
688260      CA   M  1984  Levi     69  0.000022
3266291     MS   M  1998  Levi     11  0.000003
3887722     NM   M  1992  Levi     19  0.000006
3260884     MS   M  1987  Levi      6  0.000002)
(('Levon', 'M'),         region sex  year   name  count      freq
4454057     OH   M  2019  Levon      6  0.000002)
(('Levy', 'M'),         region sex  year  name  count      freq
2366600     LA   M  1927  Levy      5  0.000002
3439178     NC   M  1937  Levy      6  0.000003)
(('Lewis', 'M'),         region sex  year   name  count      freq
1412848     GA   M  1960  Lewis     62  0.000016
5802227     VA   M  1991  Lewis     24  0.000007
4658117     OR   M  2008  Lewis      6  0.000002
...        ...  ..   ...    ...    ...       ...
4853729     PA   M  2008  Lewis      8  0.000002
1248781     FL   M  2002  Lewis     22  0.000007
4155443     NY   M  1957  Lewis    120  0.000030

[9 rows x 6 columns])
(('Lexi', 'F'),         region sex  year  name  count      freq
5149375     TN   F  2012  Lexi     24  0.000008)
(('Lexus', 'F'),         region sex  year   name  count      freq
1494378     HI   F  1998  Lexus      5  0.000002)
(('Leyah', 'F'),         region sex  year   name  count      freq
4108186     NY   F  2014  Leyah      7  0.000002)
(('Leyla', 'F'),         region sex  year   name  count      freq
3411623     NC   F  2013  Leyla     17  0.000005
5388435     TX   F  2009  Leyla     68  0.000021)
(('Leylah', 'F'),        region sex  year    name  count      freq
603113     CA   F  2015  Leylah      7  0.000002)
(('Lia', 'F'),         region sex  year name  count      freq
2458404     MA   F  1971  Lia     10  0.000003)
(('Liam', 'M'),         region sex  year  name  count      freq
5022423     SC   M  2008  Liam     53  0.000016
894942      CO   M  2020  Liam    312  0.000112)
(('Liana', 'F'),         region sex  year   name  count      freq
6028298     WI   F  1989  Liana      5  0.000001)
(('Liba', 'F'),         region sex  year  name  count      freq
4065244     NY   F  1997  Liba     10  0.000003)
(('Liberty', 'F'),         region sex  year     name  count      freq
3223341     MS   F  2016  Liberty      6  0.000002
5403282     TX   F  2013  Liberty     49  0.000016
3586118     NE   F  2008  Liberty      5  0.000001
87547       AL   F  2003  Liberty     10  0.000003)
(('Lidia', 'F'),         region sex  year   name  count      freq
5355754     TX   F  1999  Lidia     19  0.000006)
(('Lila', 'F'),         region sex  year  name  count      freq
1741380     IL   F  1976  Lila      5  0.000002
1533243     IA   F  1926  Lila     31  0.000015
5907658     WA   F  1999  Lila      9  0.000003)
(('Lilah', 'F'),         region sex  year   name  count      freq
1576952     IA   F  2016  Lilah      8  0.000003
335075      AZ   F  2018  Lilah     23  0.000008)
(('Lili', 'F'),         region sex  year  name  count      freq
5357110     TX   F  1999  Lili      6  0.000002
1190295     FL   F  2020  Lili      5  0.000002)
(('Liliana', 'F'),         region sex  year     name  count      freq
4625254     OR   F  2020  Liliana     36  0.000013)
(('Lillee', 'F'),        region sex  year    name  count      freq
101411     AL   F  2018  Lillee      6  0.000002)
(('Lillian', 'F'),         region sex  year     name  count      freq
4518367     OK   F  2017  Lillian     87  0.000029
3348939     NC   F  1949  Lillian     82  0.000025
2729251     MI   F  1934  Lillian    151  0.000078
3089040     MO   F  2010  Lillian    235  0.000075)
(('Lilliana', 'F'),       region sex  year      name  count      freq
97217     AL   F  2014  Lilliana     15  0.000005)
(('Lillie', 'F'),         region sex  year    name  count      freq
282721      AZ   F  1957  Lillie      8  0.000002
1812721     IL   F  2018  Lillie     10  0.000003
3507735     ND   F  1921  Lillie      5  0.000002
2956298     MN   F  2007  Lillie     19  0.000006
5231546     TX   F  1918  Lillie    299  0.000149
46203       AL   F  1941  Lillie    156  0.000068
33072       AL   F  1918  Lillie    252  0.000125)
(('Lilly', 'F'),         region sex  year   name  count      freq
438995      CA   F  1963  Lilly     18  0.000005
4744791     PA   F  1995  Lilly      7  0.000002
5136079     TN   F  2000  Lilly     13  0.000004)
(('Lily', 'F'),         region sex  year  name  count      freq
4059648     NY   F  1995  Lily     79  0.000024
6148227     WV   F  2012  Lily     49  0.000016)
(('Lina', 'F'),         region sex  year  name  count      freq
1116920     FL   F  1984  Lina      9  0.000003
4333047     OH   F  1997  Lina      7  0.000002
5916348     WA   F  2007  Lina      8  0.000002)
(('Lincoln', 'M'),         region sex  year     name  count      freq
5455722     TX   M  1936  Lincoln      5  0.000003
4854311     PA   M  2009  Lincoln     77  0.000024
3234807     MS   M  1930  Lincoln      5  0.000002)
(('Linda', 'F'),         region sex  year   name  count      freq
81461       AL   F  1995  Linda      9  0.000003
2458007     MA   F  1971  Linda    233  0.000073)
(('Lindsay', 'F'),         region sex  year     name  count      freq
1375275     GA   F  2014  Lindsay     10  0.000003)
(('Lindsey', 'M'),         region sex  year     name  count      freq
3244195     MS   M  1951  Lindsey      7  0.000002)
(('Lindy', 'F'),         region sex  year   name  count      freq
5607091     UT   F  1976  Lindy      5  0.000002
2749605     MI   F  1961  Lindy     12  0.000003)
(('Linnie', 'F'),         region sex  year    name  count      freq
3184639     MS   F  1950  Linnie      6  0.000002)
(('Linsey', 'F'),         region sex  year    name  count      freq
4492776     OK   F  1982  Linsey     16  0.000005)
(('Linwood', 'M'),         region sex  year     name  count      freq
2630655     MD   M  1964  Linwood     11  0.000003
2505221     MA   M  1926  Linwood      6  0.000003)
(('Lionel', 'M'),         region sex  year    name  count      freq
4454058     OH   M  2019  Lionel      6  0.000002
3126879     MO   M  1967  Lionel      5  0.000002
5820239     VA   M  2010  Lionel      5  0.000002)
(('Lisa', 'F'),         region sex  year  name  count      freq
4591899     OR   F  1967  Lisa    405  0.000127
5878510     WA   F  1960  Lisa    514  0.000130
999822      DC   F  1987  Lisa     26  0.000008
2450469     MA   F  1959  Lisa    973  0.000246
320973      AZ   F  2007  Lisa     15  0.000004
5728539     VA   F  1993  Lisa     51  0.000015)
(('Lisabeth', 'F'),        region sex  year      name  count      freq
464151     CA   F  1975  Lisabeth      5  0.000002)
(('Lisandro', 'M'),        region sex  year      name  count      freq
724199     CA   M  1999  Lisandro     15  0.000005)
(('Lisha', 'F'),         region sex  year   name  count      freq
1314149     GA   F  1961  Lisha      5  0.000001)
(('Liv', 'F'),         region sex  year name  count      freq
4087732     NY   F  2006  Liv      6  0.000002
2493257     MA   F  2014  Liv      8  0.000003)
(('Livia', 'F'),         region sex  year   name  count      freq
3959812     NY   F  1924  Livia      5  0.000002)

639671     CA   M  1943  Lon      9  0.000003)
(('Lona', 'F'),         region sex  year  name  count      freq
3349442     NC   F  1949  Lona      5  0.000002)
(('London', 'F'),         region sex  year    name  count      freq
5624114     UT   F  2005  London     21  0.000006
2343223     LA   F  2004  London      7  0.000002
936910      CT   F  2011  London     24  0.000008)
(('London', 'M'),         region sex  year    name  count      freq
2151351     KS   M  2012  London      9  0.000003
3491307     NC   M  2010  London     27  0.000009
3941109     NV   M  2005  London      7  0.000002)
(('Londyn', 'F'),         region sex  year    name  count      freq
2108927     KS   F  2015  Londyn     14  0.000004)
(('Londynn', 'F'),         region sex  year     name  count      freq
2357937     LA   F  2019  Londynn      6  0.000002)
(('Long', 'M'),        region sex  year  name  count      freq
719914     CA   M  1997  Long      8  0.000003)
(('Loni', 'F'),         region sex  year  name  count      freq
2769283     MI   F  1980  Loni     12  0.000004)
(('Lonna', 'F'),         region sex  year   name  count      freq
6004921     WI   F  1949  Lonna      7  0.000002)
(('Lonnie', 'M'),         region sex  year    name  count      freq
5789799     VA   M  1969  Lonnie     33  0.000010
4541044     OK   M  1958  Lonnie     64  0.000016
5771890     VA   M  1932  Lonnie     21  0.000011
343235      AZ   M  1938  Lonnie      5  0.000002)
(('Lonny', 'M'),         region sex  year   name  count      freq
6073860     WI   M  1962  Lonny      5  0.000001)
(('Lonzo', 'M'),         region sex  year   name  count      freq
3227746     MS   M  1915  Lonzo     10  0.000006)
(('Lora', 'F'),         region sex  year  name  count      freq
5359021     TX   F  2000  Lora     13  0.000004
5238251     TX   F  1924  Lora     20  0.000009
5233794     TX   F  1920  Lora     41  0.000020
...        ...  ..   ...   ...    ...       ...
1483258     HI   F  1963  Lora      7  0.000002
3560434     NE   F  1936  Lora      7  0.000004
4723216     PA   F  1978  Lora     27  0.000009

[9 rows x 6 columns])
(('Loraine', 'F'),         region sex  year     name  count      freq
2436378     MA   F  1926  Loraine      6  0.000003
2730450     MI   F  1936  Loraine     20  0.000010
409073      CA   F  1941  Loraine      9  0.000004)
(('Lorelai', 'F'),         region sex  year     name  count      freq
1653133     ID   F  2018  Lorelai      5  0.000002)
(('Lorelei', 'F'),        region sex  year     name  count      freq
212686     AR   F  2005  Lorelei      5  0.000001)
(('Loren', 'F'),         region sex  year   name  count      freq
2586620     MD   F  1990  Loren     11  0.000003
444806      CA   F  1966  Loren     11  0.000003
81750       AL   F  1995  Loren      5  0.000002)
(('Loren', 'M'),         region sex  year   name  count      freq
3310700     MT   M  1950  Loren     10  0.000003
4528093     OK   M  1926  Loren     21  0.000010
2018827     IN   M  1963  Loren     28  0.000007
853299      CO   M  1940  Loren     18  0.000008
3772652     NJ   M  1960  Loren      7  0.000002
5467153     TX   M  1948  Loren     11  0.000003)
(('Lorena', 'F'),         region sex  year    name  count      freq
3585009     NE   F  2006  Lorena      7  0.000002
5085861     TN   F  1921  Lorena     11  0.000005
818582      CO   F  1991  Lorena      6  0.000002
1370227     GA   F  2011  Lorena      9  0.000003
4771835     PA   F  2013  Lorena      6  0.000002)
(('Lorene', 'F'),         region sex  year    name  count     freq
3180043     MS   F  1942  Lorene     27  0.00001)
(('Lorenzo', 'M'),         region sex  year     name  count      freq
5505756     TX   M  1982  Lorenzo     99  0.000031
4164875     NY   M  1966  Lorenzo     41  0.000013
1253327     FL   M  2005  Lorenzo     72  0.000022
1832892     IL   M  1940  Lorenzo      5  0.000002
3866408     NM   M  1925  Lorenzo     19  0.000009)
(('Loretta', 'F'),         region sex  year     name  count      freq
41015       AL   F  1931  Loretta     17  0.000009
2326578     LA   F  1984  Loretta      5  0.000002
901984      CT   F  1935  Loretta     29  0.000015
3846394     NM   F  1983  Loretta      8  0.000003
5151472     TN   F  2013  Loretta      5  0.000002
3824133     NM   F  1916  Loretta      5  0.000003)
(('Lori', 'F'),         region sex  year  name  count      freq
6129481     WV   F  1960  Lori     80  0.000020
4349681     OH   F  2008  Lori     10  0.000003
500213      CA   F  1989  Lori     75  0.000022
2588233     MD   F  1992  Lori     10  0.000003
5613101     UT   F  1988  Lori     15  0.000004
4733470     PA   F  1987  Lori     61  0.000019)
(('Lorie', 'F'),         region sex  year   name  count      freq
4588199     OR   F  1958  Lorie     11  0.000003
6008774     WI   F  1957  Lorie     27  0.000007)
(('Lorine', 'F'),         region sex  year    name  count      freq
4469119     OK   F  1936  Lorine      6  0.000003
5270026     TX   F  1953  Lorine      6  0.000002)
(('Lorna', 'F'),         region sex  year   name  count      freq
2452564     MA   F  1962  Lorna     24  0.000006
4580239     OR   F  1933  Lorna      6  0.000003)
(('Lorraine', 'F'),         region sex  year      name  count      freq
2443848     MA   F  1946  Lorraine    268  0.000088
38235       AL   F  1926  Lorraine     10  0.000005
399788      CA   F  1928  Lorraine    261  0.000124
4594367     OR   F  1972  Lorraine     13  0.000004)
(('Lorri', 'F'),         region sex  year   name  count      freq
1549666     IA   F  1964  Lorri     10  0.000003)
(('Lorry', 'F'),        region sex  year   name  count      freq
450820     CA   F  1969  Lorry      9  0.000003)
(('Lottie', 'F'),         region sex  year    name  count      freq
3173895     MS   F  1930  Lottie     30  0.000014
5230686     TX   F  1917  Lottie     86  0.000046
4460157     OK   F  1920  Lottie     33  0.000016)
(('Lotus', 'F'),         region sex  year   name  count      freq
1180485     FL   F  2016  Lotus      6  0.000002
574684      CA   F  2008  Lotus      7  0.000002)
(('Lou', 'F'),         region sex  year name  count      freq
4716281     PA   F  1971  Lou      5  0.000002)
(('Louella', 'F'),         region sex  year     name  count      freq
3974606     NY   F  1943  Louella      7  0.000003
2170873     KY   F  1937  Louella     13  0.000007
4695806     PA   F  1951  Louella     12  0.000003
5235048     TX   F  1921  Louella     17  0.000008)
(('Louie', 'M'),         region sex  year   name  count      freq
5455188     TX   M  1936  Louie     21  0.000011
1390652     GA   M  1919  Louie     29  0.000015
4811418     PA   M  1958  Louie      9  0.000002)
(('Louis', 'M'),         region sex  year   name  count      freq
249760      AR   M  1978  Louis     11  0.000004
3439351     NC   M  1938  Louis     82  0.000040
1586721     IA   M  1931  Louis     79  0.000040
2851391     MI   M  1965  Louis     80  0.000023
3887029     NM   M  1990  Louis      9  0.000003
3940052     NV   M  2003  Louis      9  0.000003
5080433     SD   M  2020  Louis      8  0.000003)
(('Louisa', 'F'),         region sex  year    name  count      freq
620043      CA   F  2020  Louisa     33  0.000012
433494      CA   F  1960  Louisa     20  0.000005
5087662     TN   F  1924  Louisa      6  0.000003)
(('Louise', 'F'),         region sex  year    name  count      freq
4725782     PA   F  1980  Louise     12  0.000004
903720      CT   F  1942  Louise     63  0.000024
1549226     IA   F  1963  Louise      8  0.000002
1544141     IA   F  1953  Louise     24  0.000007
5862369     WA   F  1917  Louise     61  0.000033
3634204     NH   F  1962  Louise     12  0.000003
790345      CO   F  1932  Louise     57  0.000029)
(('Lovely', 'F'),         region sex  year    name  count      freq
1803757     IL   F  2013  Lovely      7  0.000002)
(('Lovie', 'F'),         region sex  year   name  count      freq
5101715     TN   F  1951  Lovie      5  0.000001)
(('Lowell', 'M'),         region sex  year    name  count      freq
2974186     MN   M  1923  Lowell     46  0.000021
2989205     MN   M  1964  Lowell     15  0.000004
645819      CA   M  1951  Lowell     35  0.000010
848650      CO   M  1921  Lowell      9  0.000004)
(('Loy', 'M'),         region sex  year name  count      freq
4525436     OK   M  1920  Loy      7  0.000003
4525901     OK   M  1921  Loy      7  0.000003)
(('Loyal', 'M'),         region sex  year   name  count      freq
3110348     MO   M  1931  Loyal      6  0.000003)
(('Loyalty', 'F'),         region sex  year     name  count      freq
1182666     FL   F  2017  Loyalty      7  0.000002)
(('Loyd', 'M'),         region sex  year  name  count      freq
235260      AR   M  1941  Loyd     28  0.000012
3124335     MO   M  1962  Loyd      7  0.000002)
(('Luana', 'F'),         region sex  year   name  count      freq
1933470     IN   F  1947  Luana      7  0.000002
5281454     TX   F  1961  Luana      5  0.000001)
(('Luann', 'F'),         region sex  year   name  count      freq
1538416     IA   F  1939  Luann      5  0.000002)
(('Luca', 'M'),         region sex  year  name  count      freq
1525132     HI   M  2015  Luca     14  0.000004)
(('Lucas', 'M'),         region sex  year   name  count      freq
4549733     OK   M  1979  Lucas     39  0.000013
2716273     ME   M  2017  Lucas     46  0.000015
1616825     IA   M  2011  Lucas    115  0.000037
2647464     MD   M  1999  Lucas     67  0.000020
143955      AL   M  1989  Lucas     29  0.000008
1611958     IA   M  2002  Lucas    103  0.000031)
(('Luci', 'F'),         region sex  year  name  count      freq
5373426     TX   F  2004  Luci      5  0.000002)
(('Lucia', 'F'),         region sex  year   name  count      freq
3824763     NM   F  1919  Lucia      6  0.000003
2734101     MI   F  1942  Lucia      6  0.000002
5745382     VA   F  2008  Lucia     28  0.000008
287314      AZ   F  1966  Lucia      6  0.000002
4744560     PA   F  1995  Lucia     10  0.000003)
(('Lucian', 'M'),         region sex  year    name  count      freq
4657421     OR   M  2007  Lucian      6  0.000002)
(('Lucianna', 'F'),        region sex  year      name  count      freq
337139     AZ   F  2019  Lucianna      5  0.000002)
(('Luciano', 'M'),         region sex  year     name  count      freq
3813327     NJ   M  2012  Luciano     25  0.000008)
(('Lucien', 'M'),         region sex  year    name  count      freq
4251791     NY   M  2019  Lucien     12  0.000004
2380122     LA   M  1954  Lucien     10  0.000003)
(('Lucila', 'F'),         region sex  year    name  count      freq
427451      CA   F  1956  Lucila      7  0.000002
5272149     TX   F  1955  Lucila     20  0.000005
430841      CA   F  1958  Lucila      6  0.000002)
(('Lucile', 'F'),         region sex  year    name  count      freq
785080      CO   F  1911  Lucile      5  0.000009
3181245     MS   F  1944  Lucile     11  0.000004
1073119     FL   F  1922  Lucile     33  0.000016
4931380     SC   F  1953  Lucile      8  0.000002
4926040     SC   F  1943  Lucile     12  0.000005
2720623     MI   F  1918  Lucile     42  0.000021)
(('Lucille', 'F'),         region sex  year     name  count      freq
273084      AZ   F  1924  Lucille     15  0.000007
3976761     NY   F  1946  Lucille    317  0.000105)
(('Lucinda', 'F'),         region sex  year     name  count      freq
2486453     MA   F  2007  Lucinda      9  0.000003
3054040     MO   F  1967  Lucinda     14  0.000004
172552      AR   F  1922  Lucinda      6  0.000003
3288111     MT   F  1953  Lucinda      5  0.000001)
(('Lucio', 'M'),         region sex  year   name  count      freq
3868643     NM   M  1934  Lucio      5  0.000003)
(('Lucretia', 'F'),         region sex  year      name  count      freq
1088412     FL   F  1955  Lucretia      7  0.000002)
(('Lucy', 'F'),         region sex  year  name  count      freq
5862232     WA   F  1916  Lucy     11  0.000006
5081264     TN   F  1912  Lucy     58  0.000065
1053659     DE   F  2019  Lucy     18  0.000006
984825      DC   F  1944  Lucy     11  0.000004
3588697     NE   F  2014  Lucy     31  0.000010
2172243     KY   F  1940  Lucy     68  0.000032)
(('Ludwig', 'M'),         region sex  year    name  count      freq
3756770     NJ   M  1916  Ludwig      5  0.000003)
(('Luella', 'F'),         region sex  year    name  count      freq
5430847     TX   F  2020  Luella      8  0.000003)
(('Luis', 'M'),         region sex  year  name  count      freq
4650576     OR   M  1996  Luis     52  0.000016
3157508     MO   M  2014  Luis     20  0.000006
3785592     NJ   M  1982  Luis    174  0.000054
...        ...  ..   ...   ...    ...       ...
2838305     MI   M  1943  Luis      6  0.000002
961074      CT   M  1981  Luis     71  0.000023
855274      CO   M  1947  Luis      8  0.000002

[8 rows x 6 columns])
(('Luisa', 'F'),        region sex  year   name  count      freq
458663     CA   F  1973  Luisa     19  0.000007)
(('Luka', 'M'),         region sex  year  name  count      freq
1248181     FL   M  2001  Luka      5  0.000002
2896460     MI   M  2014  Luka     14  0.000004)
(('Lukas', 'M'),         region sex  year   name  count      freq
4666053     OR   M  2020  Lukas     22  0.000008
970045      CT   M  2002  Lukas      7  0.000002
5077448     SD   M  2009  Lukas      5  0.000002
6095553     WI   M  2005  Lukas     45  0.000013)
(('Luke', 'M'),         region sex  year  name  count      freq
5473542     TX   M  1954  Luke     19  0.000005
2636260     MD   M  1978  Luke     18  0.000006
3325650     MT   M  2017  Luke     42  0.000014
2417776     LA   M  2008  Luke    199  0.000059)
(('Lula', 'F'),         region sex  year  name  count      freq
2552731     MD   F  1916  Lula     14  0.000008
38509       AL   F  1927  Lula    165  0.000076)
(('Luna', 'F'),         region sex  year  name  count      freq
1653617     ID   F  2020  Luna     39  0.000014
5142815     TN   F  2006  Luna      6  0.000002)
(('Luther', 'M'),         region sex  year    name  count      freq
4389465     OH   M  1949  Luther     27  0.000008
4994500     SC   M  1955  Luther     48  0.000013
2825151     MI   M  1915  Luther      6  0.000004)
(('Luverne', 'F'),         region sex  year     name  count      freq
2911262     MN   F  1927  Luverne     13  0.000006)
(('Luz', 'F'),         region sex  year name  count      freq
1725167     IL   F  1964  Luz     25  0.000007)
(('Lyam', 'M'),         region sex  year  name  count      freq
4254270     NY   M  2020  Lyam      7  0.000003)
(('Lydia', 'F'),         region sex  year   name  count      freq
4770591     PA   F  2013  Lydia    171  0.000055
4106476     NY   F  2014  Lydia    132  0.000042)
(('Lyla', 'F'),         region sex  year  name  count      freq
5141653     TN   F  2005  Lyla      6  0.000002
3095801     MO   F  2016  Lyla     51  0.000016)
(('Lylah', 'F'),         region sex  year   name  count      freq
3646700     NH   F  2014  Lylah      5  0.000002
1188650     FL   F  2020  Lylah     31  0.000011
5403367     TX   F  2013  Lylah     42  0.000014)
(('Lyle', 'M'),         region sex  year  name  count      freq
3109850     MO   M  1930  Lyle     10  0.000005
4221507     NY   M  2004  Lyle      6  0.000002)
(('Lyman', 'M'),         region sex  year   name  count      freq
1583845     IA   M  1922  Lyman      6  0.000003)
(('Lyn', 'F'),         region sex  year name  count      freq
5269646     TX   F  1953  Lyn     12  0.000003)
(('Lynda', 'F'),        region sex  year   name  count      freq
476924     CA   F  1981  Lynda     59  0.000019)
(('Lyndi', 'F'),         region sex  year   name  count      freq
5314475     TX   F  1981  Lyndi      5  0.000002)
(('Lyndon', 'M'),         region sex  year    name  count      freq
671563      CA   M  1973  Lyndon      6  0.000002
3452354     NC   M  1959  Lyndon      5  0.000001
4195986     NY   M  1990  Lyndon      8  0.000002)
(('Lyndsay', 'F'),        region sex  year     name  count      freq
467463     CA   F  1977  Lyndsay     18  0.000006)
(('Lynelle', 'F'),         region sex  year     name  count      freq
2759654     MI   F  1971  Lynelle     10  0.000003)
(('Lynette', 'F'),         region sex  year     name  count      freq
804048      CO   F  1967  Lynette     26  0.000008
5609543     UT   F  1981  Lynette      8  0.000003
1721339     IL   F  1961  Lynette     92  0.000023
3517965     ND   F  1965  Lynette     16  0.000005
1759483     IL   F  1989  Lynette     21  0.000006
2934932     MN   F  1977  Lynette     15  0.000005)
(('Lynn', 'F'),         region sex  year  name  count      freq
987123      DC   F  1952  Lynn     69  0.000019
4691003     PA   F  1946  Lynn    231  0.000076
5872593     WA   F  1949  Lynn    133  0.000040
5883919     WA   F  1969  Lynn     42  0.000013)
(('Lynn', 'M'),         region sex  year  name  count      freq
5165957     TN   M  1923  Lynn      5  0.000002
4627054     OR   M  1918  Lynn      5  0.000002
3447099     NC   M  1951  Lynn     38  0.000011
4374806     OH   M  1920  Lynn     24  0.000011
5654483     UT   M  1977  Lynn      8  0.000003)
(('Lynne', 'F'),         region sex  year   name  count      freq
3837019     NM   F  1960  Lynne      8  0.000002
1085606     FL   F  1951  Lynne     21  0.000006
2183383     KY   F  1960  Lynne     27  0.000007)
(('Lynnette', 'F'),         region sex  year      name  count      freq
2313537     LA   F  1969  Lynnette      8  0.000002)
(('Lyra', 'F'),         region sex  year  name  count      freq
2964295     MN   F  2015  Lyra     13  0.000004)
(('Lyric', 'F'),         region sex  year   name  count      freq
3588529     NE   F  2013  Lyric      6  0.000002
3738578     NJ   F  2008  Lyric      6  0.000002
1774618     IL   F  1998  Lyric     18  0.000005)
(('Lyric', 'M'),         region sex  year   name  count      freq
5213295     TN   M  2009  Lyric     12  0.000004)
(('Mabel', 'F'),         region sex  year   name  count      freq
3553797     NE   F  1916  Mabel     55  0.000031
2668267     ME   F  1921  Mabel     24  0.000011
3028986     MO   F  1924  Mabel     86  0.000039
...        ...  ..   ...    ...    ...       ...
4621567     OR   F  2015  Mabel     18  0.000006
5336519     TX   F  1991  Mabel      5  0.000001
3178078     MS   F  1938  Mabel     15  0.000007

[8 rows x 6 columns])
(('Mable', 'F'),         region sex  year   name  count      freq
3828233     NM   F  1933  Mable      7  0.000004)
(('Mac', 'M'),         region sex  year name  count      freq
2058879     IN   M  2019  Mac      9  0.000003)
(('Macario', 'M'),         region sex  year     name  count      freq
5452321     TX   M  1933  Macario     21  0.000011
5471530     TX   M  1952  Macario     10  0.000003)
(('Maceo', 'M'),        region sex  year   name  count      freq
730566     CA   M  2001  Maceo      5  0.000002)
(('Macey', 'F'),         region sex  year   name  count      freq
3586506     NE   F  2009  Macey      7  0.000002)
(('Maci', 'F'),         region sex  year  name  count      freq
3217249     MS   F  2007  Maci      8  0.000002
2348360     LA   F  2010  Maci     36  0.000011
5332652     TX   F  1990  Maci     23  0.000006)
(('Macie', 'F'),         region sex  year   name  count      freq
4921239     SC   F  1932  Macie      5  0.000003)
(('Mack', 'M'),         region sex  year  name  count      freq
1827028     IL   M  1929  Mack      8  0.000004
1386914     GA   M  1911  Mack     18  0.000032
1435710     GA   M  1993  Mack     11  0.000003)
(('Mackenna', 'F'),         region sex  year      name  count      freq
4346246     OH   F  2006  Mackenna     11  0.000003)
(('Mackenzie', 'F'),         region sex  year       name  count      freq
5843749     VT   F  1994  Mackenzie      5  0.000002
5367039     TX   F  2003  Mackenzie    354  0.000106
4352180     OH   F  2010  Mackenzie    222  0.000070
6040045     WI   F  2005  Mackenzie    116  0.000035)
(('Macy', 'F'),         region sex  year  name  count      freq
3092572     MO   F  2013  Macy     29  0.000009
5927553     WA   F  2016  Macy     10  0.000003)
(('Madalyn', 'F'),         region sex  year     name  count      freq

6147983     WV   F  2011  Madilyn     11  0.000004)
(('Madilynn', 'F'),         region sex  year      name  count      freq
5159431     TN   F  2020  Madilynn     24  0.000009)
(('Madison', 'F'),         region sex  year     name  count      freq
2691995     ME   F  2014  Madison     41  0.000013
5051355     SD   F  1996  Madison     34  0.000011
6150246     WV   F  2017  Madison     38  0.000013
2332765     LA   F  1992  Madison     30  0.000009
1565396     IA   F  1998  Madison    260  0.000079)
(('Madison', 'M'),         region sex  year     name  count      freq
4250388     NY   M  2018  Madison      6  0.000002)
(('Madisyn', 'F'),         region sex  year     name  count      freq
1972601     IN   F  1999  Madisyn     23  0.000007
3925264     NV   F  2018  Madisyn      5  0.000002)
(('Madyson', 'F'),         region sex  year     name  count      freq
2688993     ME   F  2002  Madyson      5  0.000002)
(('Mae', 'F'),         region sex  year name  count      freq
5625526     UT   F  2006  Mae      5  0.000001
277983      AZ   F  1944  Mae     10  0.000004
5863884     WA   F  1922  Mae     23  0.000011)
(('Maegan', 'F'),       region sex  year    name  count      freq
82056     AL   F  1996  Maegan     14  0.000004)
(('Maelynn', 'F'),         region sex  year     name  count      freq
4118789     NY   F  2018  Maelynn      5  0.000002)
(('Maeve', 'F'),         region sex  year   name  count      freq
5152552     TN   F  2014  Maeve      6  0.000002
4055813     NY   F  1993  Maeve     13  0.000004
936350      CT   F  2010  Maeve     19  0.000006)
(('Magali', 'F'),         region sex  year    name  count      freq
3987980     NY   F  1955  Magali      9  0.000002)
(('Magda', 'F'),        region sex  year   name  count      freq
569938     CA   F  2007  Magda      9  0.000003)
(('Magdalena', 'F'),         region sex  year       name  count      freq
5920549     WA   F  2010  Magdalena      5  0.000002
405267      CA   F  1936  Magdalena     13  0.000007)
(('Magdalene', 'F'),         region sex  year       name  count      freq
5241036     TX   F  1926  Magdalene      5  0.000002)
(('Maggie', 'F'),         region sex  year    name  count      freq
2934523     MN   F  1976  Maggie      8  0.000003
1098440     FL   F  1967  Maggie      9  0.000003
3579884     NE   F  1994  Maggie     21  0.000006
2161448     KY   F  1920  Maggie     59  0.000028
2157216     KY   F  1911  Maggie     42  0.000074
464958      CA   F  1976  Maggie     28  0.000010
6144843     WV   F  2003  Maggie     15  0.000005)
(('Magnolia', 'F'),        region sex  year      name  count      freq
218549     AR   F  2014  Magnolia      6  0.000002)
(('Mahina', 'F'),         region sex  year    name  count      freq
1500192     HI   F  2019  Mahina     20  0.000007)
(('Mahlon', 'M'),         region sex  year    name  count      freq
2696220     ME   M  1923  Mahlon      5  0.000002)
(('Mahogany', 'F'),         region sex  year      name  count      freq
5737025     VA   F  2001  Mahogany      8  0.000002)
(('Maia', 'F'),         region sex  year  name  count      freq
4336768     OH   F  2000  Maia     19  0.000006
5636332     UT   F  2019  Maia     11  0.000004
4341213     OH   F  2003  Maia     19  0.000006)
(('Maida', 'F'),         region sex  year   name  count      freq
3973640     NY   F  1942  Maida      8  0.000003)
(('Maisie', 'F'),         region sex  year    name  count      freq
4121689     NY   F  2020  Maisie     52  0.000019)
(('Majesty', 'F'),         region sex  year     name  count      freq
4776938     PA   F  2016  Majesty      5  0.000002)
(('Major', 'M'),         region sex  year   name  count      freq
1252807     FL   M  2004  Major      6  0.000002
5772914     VA   M  1934  Major      6  0.000003)
(('Makaela', 'F'),        region sex  year     name  count      freq
594350     CA   F  2013  Makaela     11  0.000004)
(('Makena', 'F'),         region sex  year    name  count      freq
5381775     TX   F  2007  Makena     21  0.000006)
(('Makenna', 'F'),         region sex  year     name  count      freq
2950806     MN   F  2001  Makenna     39  0.000012
4615946     OR   F  2008  Makenna     27  0.000008)
(('Makenzie', 'F'),         region sex  year      name  count      freq
616092      CA   F  2019  Makenzie     60  0.000021
3920396     NV   F  2011  Makenzie     13  0.000004)
(('Makenzy', 'F'),         region sex  year     name  count      freq
5359839     TX   F  2000  Makenzy      7  0.000002)
(('Makinzie', 'F'),         region sex  year      name  count      freq
5363576     TX   F  2001  Makinzie      5  0.000002)
(('Malakai', 'M'),         region sex  year     name  count      freq
2538835     MA   M  2005  Malakai     11  0.000003
2048563     IN   M  2009  Malakai     13  0.000004
1273819     FL   M  2016  Malakai     51  0.000016)
(('Malasia', 'F'),         region sex  year     name  count      freq
4054607     NY   F  1992  Malasia      5  0.000001)
(('Malayah', 'F'),         region sex  year     name  count      freq
1812460     IL   F  2018  Malayah     15  0.000005)
(('Malaysia', 'F'),         region sex  year      name  count      freq
4119663     NY   F  2019  Malaysia     22  0.000008
4340058     OH   F  2002  Malaysia     10  0.000003
2354309     LA   F  2016  Malaysia     34  0.000011)
(('Malcolm', 'M'),         region sex  year     name  count      freq
6088541     WI   M  1994  Malcolm     13  0.000004
949034      CT   M  1942  Malcolm     23  0.000009
3247393     MS   M  1958  Malcolm     20  0.000005
5674205     UT   M  2013  Malcolm      8  0.000003
1201556     FL   M  1946  Malcolm     16  0.000005
4133965     NY   M  1927  Malcolm     59  0.000027
1998833     IN   M  1914  Malcolm     13  0.000010)
(('Male', 'M'),         region sex  year  name  count      freq
3885770     NM   M  1987  Male     16  0.000005)
(('Malerie', 'F'),         region sex  year     name  count      freq
5398388     TX   F  2011  Malerie      6  0.000002)
(('Malia', 'F'),         region sex  year   name  count      freq
1800866     IL   F  2012  Malia     34  0.000011
1571019     IA   F  2007  Malia      7  0.000002)
(('Maliah', 'F'),         region sex  year    name  count      freq
5386703     TX   F  2008  Maliah      8  0.000002)
(('Malik', 'M'),         region sex  year   name  count      freq
5812919     VA   M  2004  Malik     46  0.000014
4565900     OK   M  2008  Malik     10  0.000003
2540282     MA   M  2007  Malik     14  0.000004
3484985     NC   M  2005  Malik     59  0.000018)
(('Malinda', 'F'),         region sex  year     name  count      freq
3358600     NC   F  1962  Malinda     14  0.000004)
(('Malisa', 'F'),         region sex  year    name  count      freq
4307201     OH   F  1976  Malisa      5  0.000002)
(('Malissa', 'F'),        region sex  year     name  count      freq
519454     CA   F  1994  Malissa     21  0.000006)
(('Maliyah', 'F'),         region sex  year     name  count      freq
1791274     IL   F  2007  Maliyah     19  0.000006
3394750     NC   F  2002  Maliyah     12  0.000004)
(('Mallie', 'F'),         region sex  year    name  count      freq
3329035     NC   F  1915  Mallie     11  0.000007)
(('Mallory', 'F'),         region sex  year     name  count      freq
1982270     IN   F  2008  Mallory     51  0.000015
2327594     LA   F  1986  Mallory     83  0.000026)
(('Malvina', 'F'),         region sex  year     name  count      freq
4256747     OH   F  1914  Malvina      5  0.000004)
(('Mame', 'F'),         region sex  year  name  count      freq
4082710     NY   F  2004  Mame      6  0.000002)
(('Mamie', 'F'),         region sex  year   name  count      freq
59306       AL   F  1962  Mamie     16  0.000004
1529008     IA   F  1916  Mamie      9  0.000005)
(('Manda', 'F'),         region sex  year   name  count      freq
5315825     TX   F  1982  Manda     10  0.000003)
(('Mandi', 'F'),         region sex  year   name  count      freq
3521049     ND   F  1979  Mandi      9  0.000003
3295399     MT   F  1981  Mandi      5  0.000002
1118284     FL   F  1985  Mandi      9  0.000003)
(('Mandy', 'F'),         region sex  year   name  count      freq
577183      CA   F  2009  Mandy     23  0.000007
3294455     MT   F  1978  Mandy     27  0.000009
5401073     TX   F  2012  Mandy     10  0.000003)
(('Manuel', 'M'),         region sex  year    name  count      freq
340082      AZ   M  1923  Manuel    110  0.000051
849277      CO   M  1924  Manuel     36  0.000016
1386801     GA   M  1910  Manuel      5  0.000010
...        ...  ..   ...     ...    ...       ...
259324      AR   M  2001  Manuel     10  0.000003
3878589     NM   M  1967  Manuel     49  0.000015
4425862     OH   M  1997  Manuel     13  0.000004

[8 rows x 6 columns])
(('Mara', 'F'),         region sex  year  name  count      freq
2478489     MA   F  1998  Mara      5  0.000002
423957      CA   F  1954  Mara     20  0.000005
5131652     TN   F  1995  Mara      9  0.000003)
(('Maranda', 'F'),         region sex  year     name  count      freq
2475067     MA   F  1994  Maranda      6  0.000002)
(('Marbella', 'F'),         region sex  year      name  count      freq
5422813     TX   F  2018  Marbella     15  0.000005
585621      CA   F  2011  Marbella     19  0.000006)
(('Marc', 'M'),         region sex  year  name  count      freq
744594      CA   M  2007  Marc     93  0.000027
2381282     LA   M  1956  Marc     13  0.000003
4856007     PA   M  2010  Marc     15  0.000005
...        ...  ..   ...   ...    ...       ...
2140252     KS   M  1991  Marc      7  0.000002
5821997     VA   M  2012  Marc     10  0.000003
6174676     WV   M  1978  Marc      7  0.000002

[9 rows x 6 columns])
(('Marcel', 'M'),         region sex  year    name  count      freq
2521173     MA   M  1972  Marcel     11  0.000004
2502472     MA   M  1919  Marcel     15  0.000008)
(('Marcelina', 'F'),         region sex  year       name  count      freq
3824544     NM   F  1918  Marcelina      6  0.000003)
(('Marcelino', 'M'),         region sex  year       name  count      freq
5442334     TX   M  1923  Marcelino     19  0.000009)
(('Marcell', 'M'),         region sex  year     name  count      freq
4194350     NY   M  1989  Marcell      8  0.000002)
(('Marcella', 'F'),         region sex  year      name  count      freq
3689758     NJ   F  1961  Marcella     16  0.000004
2441560     MA   F  1940  Marcella     10  0.000005
1801453     IL   F  2012  Marcella     11  0.000004
5096567     TN   F  1942  Marcella     13  0.000005
5115720     TN   F  1973  Marcella      5  0.000002)
(('Marcellus', 'M'),         region sex  year       name  count      freq
5532989     TX   M  1998  Marcellus      5  0.000002)
(('Marcelo', 'M'),         region sex  year     name  count      freq
3948980     NV   M  2019  Marcelo      8  0.000003)
(('Marci', 'F'),         region sex  year   name  count      freq
5887805     WA   F  1975  Marci      8  0.000003
4705325     PA   F  1961  Marci     31  0.000008
4589969     OR   F  1962  Marci     11  0.000003)
(('Marcia', 'F'),         region sex  year    name  count      freq
4703031     PA   F  1959  Marcia    250  0.000063
5117433     TN   F  1976  Marcia     16  0.000006
1940106     IN   F  1958  Marcia    180  0.000046
3690399     NJ   F  1962  Marcia     44  0.000012)
(('Marciano', 'M'),         region sex  year      name  count      freq
5483004     TX   M  1962  Marciano      5  0.000001)
(('Marcie', 'F'),         region sex  year    name  count      freq
4312445     OH   F  1981  Marcie     20  0.000006)
(('Marco', 'M'),         region sex  year   name  count      freq
2139499     KS   M  1989  Marco      5  0.000001
1220654     FL   M  1977  Marco     18  0.000006
2392078     LA   M  1973  Marco      8  0.000003
6229822     PR   M  2003  Marco     18  0.000005
5671849     UT   M  2010  Marco     10  0.000003
3886638     NM   M  1989  Marco      8  0.000002)
(('Marcoantonio', 'M'),        region sex  year          name  count      freq
731437     CA   M  2002  Marcoantonio     28  0.000009)
(('Marcus', 'M'),         region sex  year    name  count      freq
3616618     NE   M  2000  Marcus     19  0.000006
5492975     TX   M  1972  Marcus    391  0.000135
1016822     DC   M  1956  Marcus     11  0.000003
...        ...  ..   ...     ...    ...       ...
3773052     NJ   M  1961  Marcus     15  0.000004
148696      AL   M  1997  Marcus     82  0.000026
4791332     PA   M  1924  Marcus     11  0.000005

[10 rows x 6 columns])
(('Marcy', 'F'),         region sex  year   name  count      freq
2681396     ME   F  1972  Marcy      8  0.000003
5324104     TX   F  1986  Marcy     13  0.000004)
(('Margaret', 'F'),         region sex  year      name  count      freq
4777114     PA   F  2017  Margaret    100  0.000033
1623986     ID   F  1917  Margaret     84  0.000045
3286730     MT   F  1948  Margaret     78  0.000024
...        ...  ..   ...       ...    ...       ...
1136780     FL   F  1997  Margaret     89  0.000028
4733378     PA   F  1987  Margaret    138  0.000042
3335300     NC   F  1926  Margaret   1000  0.000468

[11 rows x 6 columns])
(('Margarita', 'F'),         region sex  year       name  count      freq
503487      CA   F  1990  Margarita    206  0.000058
5233596     TX   F  1920  Margarita    147  0.000070
5250287     TX   F  1936  Margarita    167  0.000086)
(('Margarito', 'M'),        region sex  year       name  count      freq
628486     CA   M  1924  Margarito     10  0.000005)
(('Margery', 'F'),         region sex  year     name  count      freq
4701616     PA   F  1957  Margery      9  0.000002)
(('Margie', 'F'),         region sex  year    name  count      freq
6118465     WV   F  1934  Margie     44  0.000023)
(('Margo', 'F'),        region sex  year   name  count      freq
280322     AZ   F  1951  Margo      6  0.000002
983848     DC   F  1940  Margo      7  0.000003)
(('Marguerite', 'F'),         region sex  year        name  count      freq
30256       AL   F  1912  Marguerite     18  0.000020
2454392     MA   F  1965  Marguerite     26  0.000008
1686339     IL   F  1917  Marguerite    206  0.000111
614329      CA   F  2018  Marguerite      8  0.000003
4929121     SC   F  1949  Marguerite     13  0.000004
1096678     FL   F  1965  Marguerite     10  0.000003)
(('Mari', 'F'),         region sex  year  name  count      freq
2933422     MN   F  1974  Mari     10  0.000004)
(('Maria', 'F'),         region sex  year   name  count      freq
3292211     MT   F  1968  Maria      7  0.000002
1924740     IN   F  1928  Maria     19  0.000009
2182143     KY   F  1958  Maria     43  0.000011)
(('Mariah', 'F'),         region sex  year    name  count      freq
3924145     NV   F  2017  Mariah     20  0.000007
3297935     MT   F  1993  Mariah     29  0.000009)
(('Marian', 'F'),         region sex  year    name  count      freq
2163224     KY   F  1923  Marian     45  0.000021
5595128     UT   F  1944  Marian      8  0.000003
1077747     FL   F  1934  Marian     27  0.000014)
(('Mariana', 'F'),         region sex  year     name  count      freq
936478      CT   F  2010  Mariana     11  0.000003
4771217     PA   F  2013  Mariana     14  0.000005
4616929     OR   F  2009  Mariana     13  0.000004
5310888     TX   F  1980  Mariana     50  0.000016)
(('Marianna', 'F'),         region sex  year      name  count     freq
3970149     NY   F  1938  Marianna     21  0.00001)
(('Marianne', 'F'),         region sex  year      name  count      freq
4474937     OK   F  1948  Marianne      8  0.000002
1722524     IL   F  1962  Marianne    101  0.000026
2910096     MN   F  1924  Marianne      9  0.000004
281522      AZ   F  1954  Marianne      5  0.000001
1301333     GA   F  1942  Marianne      5  0.000002)
(('Mariano', 'M'),        region sex  year     name  count     freq
780023     CA   M  2019  Mariano     29  0.00001)
(('Maribel', 'F'),        region sex  year     name  count      freq
529261     CA   F  1997  Maribel    194  0.000061)
(('Maricela', 'F'),         region sex  year      name  count      freq
1760973     IL   F  1990  Maricela     28  0.000008)
(('Marie', 'F'),         region sex  year   name  count      freq
3177863     MS   F  1938  Marie    104  0.000050
285438      AZ   F  1963  Marie     45  0.000012
3829962     NM   F  1940  Marie     41  0.000019
...        ...  ..   ...    ...    ...       ...
4460009     OK   F  1920  Marie    280  0.000133
6036152     WI   F  2000  Marie     14  0.000004
4877313     RI   F  1950  Marie     50  0.000015

[12 rows x 6 columns])
(('Marielena', 'F'),         region sex  year       name  count      freq
3719764     NJ   F  1993  Marielena      7  0.000002)
(('Marielle', 'F'),        region sex  year      name  count      freq
494957     CA   F  1987  Marielle     11  0.000003)
(('Marietta', 'F'),         region sex  year      name  count      freq
1939755     IN   F  1957  Marietta     11  0.000003
2724702     MI   F  1925  Marietta      8  0.000004
5087586     TN   F  1924  Marietta      8  0.000004)
(('Marigold', 'F'),         region sex  year      name  count      freq
2968912     MN   F  2019  Marigold      5  0.000002)
(('Mariko', 'F'),        region sex  year    name  count      freq
501823     CA   F  1989  Mariko      9  0.000003)
(('Marilu', 'F'),         region sex  year    name  count      freq
4014206     NY   F  1972  Marilu     11  0.000004)
(('Marilyn', 'F'),         region sex  year     name  count      freq
1078413     FL   F  1936  Marilyn     55  0.000028
3959125     NY   F  1924  Marilyn    362  0.000163
5998493     WI   F  1934  Marilyn    386  0.000200
576156      CA   F  2009  Marilyn    150  0.000046)
(('Marilynn', 'F'),         region sex  year      name  count      freq
1311005     GA   F  1957  Marilynn      6  0.000001
1933328     IN   F  1947  Marilynn     12  0.000004)
(('Marina', 'F'),         region sex  year    name  count      freq
5247744     TX   F  1933  Marina     16  0.000009
2343228     LA   F  2004  Marina      7  0.000002
2821434     MI   F  2019  Marina     12  0.000004)
(('Mario', 'M'),         region sex  year   name  count      freq
1262439     FL   M  2010  Mario     96  0.000030
3765631     NJ   M  1944  Mario     27  0.000011
703177      CA   M  1991  Mario    940  0.000268
141833      AL   M  1985  Mario     28  0.000009)
(('Marion', 'M'),         region sex  year    name  count      freq
642481      CA   M  1947  Marion     22  0.000006
4394629     OH   M  1957  Marion     21  0.000005
2366295     LA   M  1927  Marion     25  0.000012
1588050     IA   M  1935  Marion     36  0.000018)
(('Marisa', 'F'),         region sex  year    name  count      freq
514607      CA   F  1993  Marisa    319  0.000095
1155634     FL   F  2006  Marisa     17  0.000005)
(('Marisol', 'F'),         region sex  year     name  count      freq
4743768     PA   F  1994  Marisol      5  0.000002)
(('Marissa', 'F'),         region sex  year     name  count      freq
1487237     HI   F  1976  Marissa      9  0.000003
935774      CT   F  2009  Marissa     16  0.000005)
(('Maritza', 'F'),         region sex  year     name  count      freq
4091762     NY   F  2008  Maritza     17  0.000005)
(('Mariza', 'F'),        region sex  year    name  count      freq
480609     CA   F  1982  Mariza     11  0.000003)
(('Marjorie', 'F'),         region sex  year      name  count      freq
5740822     VA   F  2004  Marjorie      6  0.000002
1708128     IL   F  1948  Marjorie    141  0.000043
5362229     TX   F  2001  Marjorie     11  0.000003
...        ...  ..   ...       ...    ...       ...
5037608     SD   F  1935  Marjorie     43  0.000022
5095346     TN   F  1940  Marjorie     82  0.000038
3553435     NE   F  1915  Marjorie    120  0.000071

[9 rows x 6 columns])
(('Mark', 'F'),         region sex  year  name  count      freq
296019      AZ   F  1981  Mark      5  0.000002
4711645     PA   F  1967  Mark     12  0.000004)
(('Mark', 'M'),         region sex  year  name  count      freq
4652835     OR   M  2000  Mark     34  0.000010
5200752     TN   M  1994  Mark    100  0.000030

2531165     MA   M  1993  Markus      8  0.000002)
(('Marla', 'F'),         region sex  year   name  count      freq
2310273     LA   F  1965  Marla     16  0.000005
1711735     IL   F  1952  Marla     87  0.000024
4581791     OR   F  1940  Marla      5  0.000002
1765445     IL   F  1992  Marla      5  0.000001
436610      CA   F  1962  Marla    142  0.000037
4481438     OK   F  1961  Marla     23  0.000006)
(('Marlee', 'F'),         region sex  year    name  count      freq
3094866     MO   F  2015  Marlee     22  0.000007
928072      CT   F  1995  Marlee      5  0.000002)
(('Marlen', 'F'),        region sex  year    name  count      freq
580926     CA   F  2010  Marlen     41  0.000013)
(('Marlena', 'F'),        region sex  year     name  count      freq
569448     CA   F  2007  Marlena     12  0.000003)
(('Marlene', 'F'),         region sex  year     name  count      freq
2335734     LA   F  1995  Marlene      6  0.000002
4368635     OH   F  2019  Marlene      6  0.000002
3514469     ND   F  1952  Marlene     26  0.000007
3719886     NJ   F  1993  Marlene      6  0.000002
2675067     ME   F  1950  Marlene     29  0.000009
1632594     ID   F  1957  Marlene     12  0.000003
914405      CT   F  1968  Marlene     25  0.000008)
(('Marley', 'F'),         region sex  year    name  count      freq
4096450     NY   F  2010  Marley     47  0.000015
1371120     GA   F  2012  Marley     60  0.000019)
(('Marlin', 'M'),         region sex  year    name  count      freq
2118137     KS   M  1927  Marlin      5  0.000002
4552448     OK   M  1984  Marlin      5  0.000002)
(('Marlina', 'F'),        region sex  year     name  count      freq
534607     CA   F  1998  Marlina     10  0.000003)
(('Marlo', 'F'),        region sex  year   name  count      freq
441474     CA   F  1964  Marlo      7  0.000002)
(('Marlon', 'M'),        region sex  year    name  count      freq
670723     CA   M  1973  Marlon     74  0.000027)
(('Marlow', 'F'),        region sex  year    name  count      freq
620662     CA   F  2020  Marlow     16  0.000006)
(('Marlyn', 'M'),         region sex  year    name  count      freq
4800581     PA   M  1940  Marlyn      5  0.000002)
(('Marlys', 'F'),         region sex  year    name  count      freq
2920973     MN   F  1951  Marlys     78  0.000022)
(('Marquavious', 'M'),         region sex  year         name  count      freq
1445328     GA   M  2002  Marquavious     17  0.000005)
(('Marquetta', 'F'),         region sex  year       name  count      freq
4303453     OH   F  1973  Marquetta      9  0.000003)
(('Marquis', 'M'),         region sex  year     name  count      freq
1224810     FL   M  1982  Marquis     18  0.000006
966872      CT   M  1995  Marquis      7  0.000002
5531663     TX   M  1998  Marquis     42  0.000013)
(('Marquise', 'M'),         region sex  year      name  count      freq
962406      CT   M  1984  Marquise      5  0.000002
4427785     OH   M  1999  Marquise     20  0.000006
6103350     WI   M  2014  Marquise      8  0.000003
1464112     GA   M  2015  Marquise      5  0.000002)
(('Marquita', 'F'),         region sex  year      name  count      freq
5129198     TN   F  1992  Marquita      8  0.000002)
(('Marsha', 'F'),         region sex  year    name  count      freq
5597007     UT   F  1951  Marsha     61  0.000017
50197       AL   F  1948  Marsha     57  0.000017
4704080     PA   F  1960  Marsha    140  0.000035)
(('Marshall', 'M'),         region sex  year      name  count      freq
246819      AR   M  1970  Marshall     11  0.000003
3457275     NC   M  1968  Marshall     45  0.000014
5457855     TX   M  1939  Marshall     46  0.000022
...        ...  ..   ...       ...    ...       ...
2526478     MA   M  1984  Marshall      5  0.000002
2114649     KS   M  1917  Marshall     10  0.000005
4792388     PA   M  1926  Marshall     34  0.000016

[13 rows x 6 columns])
(('Marta', 'F'),         region sex  year   name  count      freq
3716313     NJ   F  1990  Marta      8  0.000002)
(('Martavious', 'M'),         region sex  year        name  count      freq
3269274     MS   M  2003  Martavious      8  0.000002)
(('Martha', 'F'),         region sex  year    name  count      freq
5131558     TN   F  1995  Martha     12  0.000004
3166351     MS   F  1916  Martha    137  0.000077
4711229     PA   F  1967  Martha     82  0.000026
2730293     MI   F  1936  Martha    150  0.000077)
(('Martin', 'M'),         region sex  year    name  count      freq
2973791     MN   M  1922  Martin     53  0.000025
1582524     IA   M  1919  Martin     45  0.000023
2707145     ME   M  1974  Martin      5  0.000002
...        ...  ..   ...     ...    ...       ...
5063903     SD   M  1944  Martin     12  0.000005
5787743     VA   M  1965  Martin     53  0.000015
5786655     VA   M  1963  Martin     69  0.000018

[10 rows x 6 columns])
(('Marty', 'F'),         region sex  year   name  count      freq
3367132     NC   F  1973  Marty      6  0.000002)
(('Marty', 'M'),         region sex  year   name  count      freq
1412867     GA   M  1960  Marty     53  0.000013
1424079     GA   M  1978  Marty     19  0.000007)
(('Marvella', 'F'),         region sex  year      name  count      freq
1691786     IL   F  1924  Marvella      5  0.000002)
(('Marvin', 'M'),         region sex  year    name  count      freq
4569274     OK   M  2012  Marvin      5  0.000002
1056501     DE   M  1944  Marvin      5  0.000002
2836004     MI   M  1939  Marvin    179  0.000087
16307       AK   M  1950  Marvin      5  0.000002
635050      CA   M  1936  Marvin    120  0.000062
3236238     MS   M  1934  Marvin     47  0.000024
5790771     VA   M  1971  Marvin     62  0.000020)
(('Mary', 'F'),         region sex  year  name  count      freq
5758871     VA   F  2018  Mary     79  0.000027
291712      AZ   F  1975  Mary    106  0.000039
3529021     ND   F  2017  Mary      6  0.000002
2280797     LA   F  1917  Mary    957  0.000516)
(('Maryam', 'F'),         region sex  year    name  count      freq
2818074     MI   F  2017  Maryam     38  0.000013
616094      CA   F  2019  Maryam     60  0.000021)
(('Maryann', 'F'),         region sex  year     name  count      freq
1711752     IL   F  1952  Maryann     70  0.000019
1555710     IA   F  1977  Maryann      6  0.000002
2465412     MA   F  1982  Maryann     14  0.000004
2721309     MI   F  1919  Maryann     12  0.000006)
(('Marybeth', 'F'),         region sex  year      name  count      freq
4732895     PA   F  1986  Marybeth      8  0.000002)
(('Marylou', 'F'),        region sex  year     name  count      freq
538295     CA   F  1999  Marylou      9  0.000003)
(('Maryn', 'F'),         region sex  year   name  count      freq
4776946     PA   F  2016  Maryn      5  0.000002)
(('Marysol', 'F'),        region sex  year     name  count      freq
461186     CA   F  1974  Marysol     10  0.000004)
(('Maryssa', 'F'),        region sex  year     name  count      freq
570461     CA   F  2007  Maryssa      7  0.000002)
(('Mason', 'M'),         region sex  year   name  count      freq
3803146     NJ   M  2003  Mason    103  0.000031
356151      AZ   M  1975  Mason     11  0.000004
3467970     NC   M  1985  Mason      5  0.000002)
(('Massiah', 'M'),         region sex  year     name  count      freq
4248364     NY   M  2017  Massiah      6  0.000002)
(('Massimo', 'M'),         region sex  year     name  count      freq
1255647     FL   M  2006  Massimo     15  0.000004)
(('Mateo', 'M'),         region sex  year   name  count      freq
4850771     PA   M  2006  Mateo     18  0.000005)
(('Mathew', 'M'),         region sex  year    name  count      freq
962871      CT   M  1986  Mathew     33  0.000010
956143      CT   M  1966  Mathew      5  0.000002
3888930     NM   M  1995  Mathew     19  0.000006
...        ...  ..   ...     ...    ...       ...
3502283     NC   M  2018  Mathew      6  0.000002
22234       AK   M  1988  Mathew      8  0.000002
3822695     NJ   M  2020  Mathew     10  0.000004

[9 rows x 6 columns])
(('Mathias', 'M'),         region sex  year     name  count      freq
2660309     MD   M  2014  Mathias      7  0.000002
2541486     MA   M  2008  Mathias      5  0.000001)
(('Mathieu', 'M'),         region sex  year     name  count      freq
5555409     TX   M  2008  Mathieu      6  0.000002)
(('Mathilda', 'F'),         region sex  year      name  count      freq
2287440     LA   F  1928  Mathilda      5  0.000002)
(('Matias', 'M'),         region sex  year    name  count      freq
1271738     FL   M  2015  Matias     89  0.000028)
(('Matt', 'M'),         region sex  year  name  count      freq
2015215     IN   M  1956  Matt     17  0.000004
2825480     MI   M  1916  Matt     10  0.000006)
(('Matteo', 'M'),         region sex  year    name  count      freq
3624365     NE   M  2017  Matteo      9  0.000003
1247364     FL   M  2001  Matteo     19  0.000006
3758744     NJ   M  1922  Matteo      5  0.000002)
(('Matthew', 'F'),         region sex  year     name  count      freq
4014207     NY   F  1972  Matthew     11  0.000004)
(('Matthew', 'M'),         region sex  year     name  count      freq
360772      AZ   M  1985  Matthew    671  0.000207
3544154     ND   M  1982  Matthew    207  0.000065
5069820     SD   M  1972  Matthew     58  0.000020
...        ...  ..   ...      ...    ...       ...
4383290     OH   M  1937  Matthew     14  0.000007
3539970     ND   M  1959  Matthew      6  0.000002
1414601     GA   M  1963  Matthew    105  0.000028

[13 rows x 6 columns])
(('Matthews', 'M'),         region sex  year      name  count      freq
1431412     GA   M  1988  Matthews      7  0.000002)
(('Matthias', 'M'),         region sex  year      name  count      freq
1904554     IL   M  2012  Matthias      9  0.000003
2901287     MI   M  2018  Matthias     20  0.000007)
(('Mattias', 'M'),        region sex  year     name  count      freq
757129     CA   M  2011  Mattias     16  0.000005)
(('Mattie', 'F'),         region sex  year    name  count      freq
5265433     TX   F  1950  Mattie     61  0.000018
1745206     IL   F  1979  Mattie     10  0.000003
1530337     IA   F  1919  Mattie      9  0.000005
1707606     IL   F  1947  Mattie     13  0.000004
5280738     TX   F  1961  Mattie     16  0.000004)
(('Mattie', 'M'),        region sex  year    name  count      freq
112438     AL   M  1928  Mattie      7  0.000003)
(('Mattox', 'M'),         region sex  year    name  count      freq
5587579     TX   M  2020  Mattox      5  0.000002)
(('Maudie', 'F'),         region sex  year    name  count      freq
4469046     OK   F  1936  Maudie      8  0.000004)
(('Maudine', 'F'),         region sex  year     name  count      freq
5244003     TX   F  1929  Maudine      8  0.000004)
(('Maureen', 'F'),         region sex  year     name  count      freq
1091920     FL   F  1960  Maureen     44  0.000011
5040233     SD   F  1948  Maureen     15  0.000005
2680253     ME   F  1968  Maureen     10  0.000003)
(('Maurice', 'M'),         region sex  year     name  count      freq
2842310     MI   M  1951  Maurice     53  0.000015
5961781     WA   M  1990  Maurice      8  0.000002
2701010     ME   M  1947  Maurice     39  0.000011
...        ...  ..   ...      ...    ...       ...
3491288     NC   M  2010  Maurice     29  0.000009
1201197     FL   M  1945  Maurice     11  0.000004
5950533     WA   M  1968  Maurice      7  0.000002

[9 rows x 6 columns])
(('Mauricio', 'M'),         region sex  year      name  count      freq
3794315     NJ   M  1993  Mauricio      8  0.000002)
(('Mauro', 'M'),         region sex  year   name  count      freq
5528118     TX   M  1996  Mauro     30  0.000009
780539      CA   M  2019  Mauro     14  0.000005)
(('Maverick', 'M'),         region sex  year      name  count      freq
6186566     WV   M  2019  Maverick     63  0.000022)
(('Mavis', 'F'),         region sex  year   name  count      freq
2064217     KS   F  1921  Mavis      9  0.000004
3512708     ND   F  1944  Mavis     13  0.000005
4517385     OK   F  2015  Mavis      5  0.000002
4918557     SC   F  1926  Mavis      7  0.000003
3172846     MS   F  1928  Mavis     25  0.000012)
(('Max', 'M'),         region sex  year name  count      freq
4796469     PA   M  1933  Max     45  0.000024
4790415     PA   M  1923  Max     87  0.000041
2016165     IN   M  1958  Max     40  0.000010
4549134     OK   M  1977  Max      6  0.000002
3476888     NC   M  1997  Max     33  0.000010
3007633     MN   M  2004  Max     77  0.000023)
(('Maximillian', 'M'),         region sex  year         name  count      freq
3793564     NJ   M  1992  Maximillian      6  0.000002)
(('Maximillion', 'M'),        region sex  year         name  count      freq
732795     CA   M  2002  Maximillion      6  0.000002)
(('Maximino', 'M'),         region sex  year      name  count      freq
5545327     TX   M  2004  Maximino      7  0.000002)
(('Maxine', 'F'),         region sex  year    name  count      freq
5242241     TX   F  1928  Maxine    177  0.000084
5080812     TN   F  1910  Maxine      7  0.000014
420910      CA   F  1952  Maxine     69  0.000019)
(('Maxton', 'M'),         region sex  year    name  count      freq
4438840     OH   M  2008  Maxton      8  0.000002
4245659     NY   M  2016  Maxton     12  0.000004
3014777     MN   M  2012  Maxton      5  0.000002)
(('Maxwell', 'M'),         region sex  year     name  count      freq
22297       AK   M  1988  Maxwell      5  0.000001
1030618     DC   M  2000  Maxwell     12  0.000004
2053155     IN   M  2014  Maxwell     99  0.000031)
(('May', 'F'),         region sex  year name  count      freq
1917936     IN   F  1912  May      7  0.000008
5681617     VA   F  1915  May     34  0.000020)
(('Maya', 'F'),         region sex  year  name  count      freq
3064096     MO   F  1981  Maya      9  0.000003
1652882     ID   F  2018  Maya     14  0.000005)
(('Maycee', 'F'),         region sex  year    name  count      freq
1800141     IL   F  2011  Maycee      6  0.000002
5630720     UT   F  2012  Maycee      6  0.000002
1986635     IN   F  2011  Maycee      7  0.000002)
(('Maylin', 'F'),        region sex  year    name  count      freq
568721     CA   F  2007  Maylin     22  0.000006)
(('Mayme', 'F'),         region sex  year   name  count      freq
1697320     IL   F  1932  Mayme      5  0.000003
3034011     MO   F  1933  Mayme      8  0.000004)
(('Maynard', 'M'),         region sex  year     name  count      freq
4814325     PA   M  1962  Maynard      5  0.000001
625966      CA   M  1919  Maynard      5  0.000003)
(('Mayra', 'F'),         region sex  year   name  count      freq
4608232     OR   F  1997  Mayra      8  0.000003)
(('Mcarthur', 'M'),         region sex  year      name  count      freq
4993354     SC   M  1952  Mcarthur      6  0.000002)
(('Mckell', 'F'),         region sex  year    name  count      freq
5631705     UT   F  2013  Mckell      5  0.000002)
(('Mckenna', 'F'),         region sex  year     name  count      freq
5392120     TX   F  2010  Mckenna     83  0.000026
4891129     RI   F  2010  Mckenna      5  0.000002)
(('Mckenzie', 'F'),         region sex  year      name  count      freq
3909187     NV   F  1989  Mckenzie      5  0.000001
5334970     TX   F  1991  Mckenzie     26  0.000007
5146781     TN   F  2010  Mckenzie     81  0.000026
4318984     OH   F  1986  Mckenzie      5  0.000002)
(('Mckinley', 'F'),         region sex  year      name  count      freq
3528270     ND   F  2014  Mckinley      5  0.000002
14113       AK   F  2016  Mckinley      8  0.000003)
(('Meadow', 'F'),         region sex  year    name  count      freq
6151625     WV   F  2020  Meadow      7  0.000003)
(('Meagan', 'F'),         region sex  year    name  count      freq
4606066     OR   F  1994  Meagan     18  0.000005
1796087     IL   F  2009  Meagan      7  0.000002
832947      CO   F  2007  Meagan      5  0.000001)

(('Meaghan', 'F'),         region sex  year     name  count      freq
474943      CA   F  1980  Meaghan     16  0.000005
4331358     OH   F  1996  Meaghan     12  0.000004)
(('Mechelle', 'F'),         region sex  year      name  count      freq
4296702     OH   F  1967  Mechelle     11  0.000003)
(('Medha', 'F'),         region sex  year   name  count      freq
5417512     TX   F  2016  Medha      5  0.000002)
(('Megan', 'F'),        region sex  year   name  count      freq
316463     AZ   F  2004  Megan    124  0.000037)
(('Megha', 'F'),         region sex  year   name  count      freq
3728984     NJ   F  2001  Megha      8  0.000002)
(('Meghan', 'F'),         region sex  year    name  count      freq
2939568     MN   F  1985  Meghan    104  0.000032
3641792     NH   F  1996  Meghan     37  0.000011
5898660     WA   F  1990  Meghan     49  0.000014
6196638     WY   F  1982  Meghan      9  0.000003)
(('Meghann', 'F'),         region sex  year     name  count      freq
5895913     WA   F  1986  Meghann      6  0.000002)
(('Meilani', 'F'),        region sex  year     name  count      freq
608672     CA   F  2017  Meilani     57  0.000019)
(('Mekhi', 'M'),         region sex  year   name  count      freq
1034297     DC   M  2013  Mekhi      7  0.000002
978502      CT   M  2018  Mekhi      5  0.000002
4249233     NY   M  2018  Mekhi     30  0.000010)
(('Melaina', 'F'),         region sex  year     name  count      freq
4760309     PA   F  2006  Melaina      8  0.000002)
(('Melani', 'F'),         region sex  year    name  count      freq
5378083     TX   F  2006  Melani     25  0.000007)
(('Melanie', 'F'),         region sex  year     name  count      freq
2358304     LA   F  2020  Melanie     26  0.000009
1951954     IN   F  1974  Melanie    127  0.000046
4026145     NY   F  1979  Melanie    298  0.000099)
(('Melba', 'F'),         region sex  year   name  count      freq
4686975     PA   F  1940  Melba      9  0.000004
3050966     MO   F  1962  Melba      5  0.000001)
(('Melinda', 'F'),         region sex  year     name  count      freq
2737865     MI   F  1948  Melinda     24  0.000007
3679036     NJ   F  1943  Melinda      5  0.000002
4022423     NY   F  1977  Melinda    173  0.000060)
(('Melisa', 'F'),         region sex  year    name  count      freq
293245      AZ   F  1977  Melisa      8  0.000003
5713037     VA   F  1973  Melisa     17  0.000006
5330394     TX   F  1989  Melisa     19  0.000005
2591702     MD   F  1996  Melisa      5  0.000002)
(('Melissa', 'F'),         region sex  year     name  count      freq
1152609     FL   F  2005  Melissa    166  0.000050
6012134     WI   F  1963  Melissa     86  0.000023
3194003     MS   F  1967  Melissa    312  0.000098
2347927     LA   F  2009  Melissa      7  0.000002
2081815     KS   F  1965  Melissa    101  0.000030
3361936     NC   F  1967  Melissa    547  0.000172)
(('Mell', 'M'),         region sex  year  name  count      freq
1391059     GA   M  1919  Mell      5  0.000003)
(('Mellissa', 'F'),         region sex  year      name  count      freq
1098629     FL   F  1967  Mellissa      6  0.000002)
(('Melodie', 'F'),        region sex  year     name  count      freq
488841     CA   F  1985  Melodie     12  0.000004)
(('Melody', 'F'),         region sex  year    name  count      freq
2188535     KY   F  1969  Melody     29  0.000009)
(('Melony', 'F'),       region sex  year    name  count      freq
70077     AL   F  1978  Melony      6  0.000002)
(('Melva', 'F'),         region sex  year   name  count      freq
392409      CA   F  1915  Melva      9  0.000005
3040483     MO   F  1946  Melva     10  0.000003
3358087     NC   F  1961  Melva      6  0.000002)
(('Melvin', 'M'),         region sex  year    name  count      freq
4894709     RI   M  1921  Melvin      6  0.000003
5510067     TX   M  1985  Melvin     67  0.000021
3233975     MS   M  1929  Melvin     77  0.000038
6078889     WI   M  1974  Melvin      5  0.000002
5447037     TX   M  1928  Melvin    230  0.000109
3781836     NJ   M  1976  Melvin     26  0.000009
3755583     NJ   M  1912  Melvin     13  0.000015)
(('Memphis', 'F'),         region sex  year     name  count      freq
1651384     ID   F  2014  Memphis      5  0.000002)
(('Memphis', 'M'),         region sex  year     name  count      freq
2050664     IN   M  2011  Memphis     10  0.000003)
(('Menucha', 'F'),         region sex  year     name  count      freq
4079995     NY   F  2003  Menucha      7  0.000002)
(('Mercedes', 'F'),         region sex  year      name  count      freq
3724991     NJ   F  1998  Mercedes     18  0.000005
213051      AR   F  2006  Mercedes     10  0.000003
1492237     HI   F  1991  Mercedes      5  0.000001
6141564     WV   F  1993  Mercedes     16  0.000005)
(('Meredith', 'F'),         region sex  year      name  count      freq
1949175     IN   F  1970  Meredith     17  0.000005
5717715     VA   F  1980  Meredith     75  0.000024
182078      AR   F  1941  Meredith      5  0.000002
196298      AR   F  1972  Meredith     20  0.000007)
(('Meredith', 'M'),         region sex  year      name  count      freq
5775445     VA   M  1940  Meredith      5  0.000002)
(('Meriam', 'F'),         region sex  year    name  count      freq
4678294     PA   F  1927  Meriam      7  0.000003)
(('Merle', 'F'),         region sex  year   name  count      freq
3354407     NC   F  1956  Merle      5  0.000001)
(('Merrick', 'M'),         region sex  year     name  count      freq
1916558     IL   M  2020  Merrick     10  0.000004
388220      AZ   M  2018  Merrick     11  0.000004)
(('Merrill', 'F'),         region sex  year     name  count      freq
3977384     NY   F  1946  Merrill      9  0.000003)
(('Mervin', 'M'),         region sex  year    name  count      freq
4806727     PA   M  1951  Mervin     13  0.000004)
(('Messiah', 'M'),         region sex  year     name  count      freq
4860977     PA   M  2014  Messiah     55  0.000017)
(('Mia', 'F'),         region sex  year name  count      freq
1325047     GA   F  1975  Mia     12  0.000004
84189       AL   F  1999  Mia     22  0.000007
193438      AR   F  1965  Mia      5  0.000001)
(('Miah', 'F'),         region sex  year  name  count      freq
4341423     OH   F  2003  Miah     12  0.000004)
(('Micaela', 'F'),        region sex  year     name  count      freq
395108     CA   F  1920  Micaela      5  0.000002
830587     CO   F  2005  Micaela      7  0.000002)
(('Micah', 'F'),         region sex  year   name  count      freq
822164      CO   F  1996  Micah      8  0.000002
3421496     NC   F  2019  Micah     12  0.000004)
(('Micah', 'M'),         region sex  year   name  count      freq
3262612     MS   M  1991  Micah     18  0.000005
741533      CA   M  2006  Micah    293  0.000086
5492309     TX   M  1971  Micah     17  0.000005
2540192     MA   M  2007  Micah     22  0.000006)
(('Michael', 'F'),         region sex  year     name  count      freq
926227      CT   F  1992  Michael      9  0.000003
2744704     MI   F  1956  Michael     13  0.000003)
(('Michael', 'M'),         region sex  year     name  count      freq
117889      AL   M  1939  Michael     37  0.000018
1520612     HI   M  2001  Michael     65  0.000020
2248901     KY   M  1965  Michael   1117  0.000327
1428592     GA   M  1985  Michael   1527  0.000470
3933818     NV   M  1986  Michael    274  0.000085
5016133     SC   M  1999  Michael    424  0.000129
2856038     MI   M  1972  Michael   3246  0.001123)
(('Michaela', 'F'),         region sex  year      name  count      freq
3863878     NM   F  2020  Michaela      7  0.000003)
(('Michaelene', 'F'),         region sex  year        name  count      freq
4703793     PA   F  1959  Michaelene      6  0.000002)
(('Micheal', 'M'),         region sex  year     name  count      freq
765699      CA   M  2014  Micheal     20  0.000006
6097478     WI   M  2007  Micheal      8  0.000002
3260134     MS   M  1986  Micheal     39  0.000012
...        ...  ..   ...      ...    ...       ...
2142379     KS   M  1996  Micheal     10  0.000003
5003576     SC   M  1975  Micheal     57  0.000021
5572249     TX   M  2015  Micheal     29  0.000009

[9 rows x 6 columns])
(('Michel', 'M'),         region sex  year    name  count      freq
3123826     MO   M  1961  Michel      7  0.000002
2526479     MA   M  1984  Michel      5  0.000002
752067      CA   M  2009  Michel      8  0.000002)
(('Michela', 'F'),         region sex  year     name  count      freq
2479870     MA   F  2000  Michela     11  0.000003)
(('Michele', 'F'),         region sex  year     name  count      freq
4308510     OH   F  1978  Michele    184  0.000064
204726      AR   F  1990  Michele      6  0.000002
1723595     IL   F  1963  Michele    357  0.000095)
(('Michell', 'F'),         region sex  year     name  count      freq
1096122     FL   F  1964  Michell      5  0.000001)
(('Michelle', 'F'),         region sex  year      name  count      freq
1551166     IA   F  1968  Michelle    559  0.000177
3847004     NM   F  1985  Michelle    103  0.000032
2750072     MI   F  1962  Michelle    852  0.000223
5876803     WA   F  1957  Michelle    122  0.000030
1939392     IN   F  1957  Michelle    151  0.000038
3642335     NH   F  1998  Michelle     15  0.000005)
(('Mickey', 'F'),         region sex  year    name  count      freq
4463837     OK   F  1926  Mickey      8  0.000004
410768      CA   F  1943  Mickey     14  0.000005)
(('Mickey', 'M'),         region sex  year    name  count      freq
4389580     OH   M  1949  Mickey     12  0.000004)
(('Migel', 'M'),        region sex  year   name  count      freq
738114     CA   M  2004  Migel      6  0.000002)
(('Mignon', 'F'),         region sex  year    name  count      freq
5251174     TX   F  1936  Mignon      5  0.000003)
(('Miguel', 'F'),         region sex  year    name  count      freq
4049961     NY   F  1990  Miguel      5  0.000001)
(('Miguel', 'M'),         region sex  year    name  count      freq
1668155     ID   M  1980  Miguel     11  0.000004
633567      CA   M  1933  Miguel     35  0.000019
3876587     NM   M  1961  Miguel     13  0.000003
6083624     WI   M  1985  Miguel     19  0.000006)
(('Miguelangel', 'M'),         region sex  year         name  count      freq
5581296     TX   M  2018  Miguelangel      9  0.000003)
(('Mikael', 'M'),         region sex  year    name  count      freq
5515198     TX   M  1988  Mikael     10  0.000003)
(('Mikaela', 'F'),         region sex  year     name  count      freq
86976       AL   F  2002  Mikaela      6  0.000002
3850561     NM   F  1992  Mikaela      5  0.000001)
(('Mikala', 'F'),         region sex  year    name  count      freq
2787162     MI   F  1995  Mikala     10  0.000003)
(('Mikayla', 'F'),        region sex  year     name  count      freq
834230     CO   F  2009  Mikayla     29  0.000009)
(('Mike', 'M'),         region sex  year  name  count      freq
3250575     MS   M  1965  Mike     52  0.000015
5438195     TX   M  1919  Mike     47  0.000024
5783908     VA   M  1958  Mike    131  0.000033
...        ...  ..   ...   ...    ...       ...
3105663     MO   M  1921  Mike     13  0.000006
5551286     TX   M  2007  Mike     41  0.000012
4402724     OH   M  1969  Mike    173  0.000053

[8 rows x 6 columns])
(('Mikel', 'M'),         region sex  year   name  count      freq
3474760     NC   M  1994  Mikel      6  0.000002)
(('Mila', 'F'),         region sex  year  name  count      freq
6224700     PR   F  2013  Mila     22  0.000007)
(('Milagros', 'F'),         region sex  year      name  count      freq
1129232     FL   F  1992  Milagros      8  0.000002)
(('Milan', 'F'),         region sex  year   name  count      freq
2597543     MD   F  2003  Milan      7  0.000002)
(('Milan', 'M'),         region sex  year   name  count      freq
1887987     IL   M  2001  Milan      9  0.000003
2828934     MI   M  1923  Milan      5  0.000002)
(('Mildred', 'F'),         region sex  year     name  count      freq
277968      AZ   F  1944  Mildred     11  0.000004
4296477     OH   F  1967  Mildred     25  0.000008
2911479     MN   F  1928  Mildred    172  0.000082
3024953     MO   F  1917  Mildred    625  0.000337
3023033     MO   F  1913  Mildred    462  0.000449
5286325     TX   F  1965  Mildred     35  0.000010
5593213     UT   F  1936  Mildred      7  0.000004)
(('Milena', 'F'),         region sex  year    name  count      freq
4362995     OH   F  2016  Milena     11  0.000004)
(('Miles', 'M'),         region sex  year   name  count      freq
3102936     MO   M  1915  Miles      8  0.000005
2544024     MA   M  2012  Miles     67  0.000022
2546440     MA   M  2015  Miles     94  0.000030
1619954     IA   M  2016  Miles     49  0.000016
29196       AK   M  2020  Miles     15  0.000005
4551414     OK   M  1982  Miles      6  0.000002)
(('Miley', 'F'),         region sex  year   name  count      freq
3918986     NV   F  2009  Miley     21  0.000006)
(('Milford', 'M'),         region sex  year     name  count      freq
4788798     PA   M  1920  Milford     12  0.000006)
(('Millard', 'M'),         region sex  year     name  count      freq
6167633     WV   M  1955  Millard      9  0.000002
1411339     GA   M  1957  Millard      9  0.000002
128296      AL   M  1958  Millard      5  0.000001)
(('Miller', 'M'),         region sex  year    name  count      freq
1463367     GA   M  2015  Miller     16  0.000005)
(('Millicent', 'F'),         region sex  year       name  count      freq
4271081     OH   F  1938  Millicent      8  0.000004)
(('Millie', 'F'),         region sex  year    name  count      freq
1704637     IL   F  1943  Millie      7  0.000003
333958      AZ   F  2017  Millie     16  0.000005
4052305     NY   F  1991  Millie      5  0.000001)
(('Milly', 'F'),         region sex  year   name  count      freq
4097944     NY   F  2010  Milly      7  0.000002
5922764     WA   F  2012  Milly      7  0.000002)
(('Milo', 'M'),         region sex  year  name  count      freq
4655281     OR   M  2004  Milo     14  0.000004)
(('Milton', 'M'),         region sex  year    name  count      freq
2372254     LA   M  1940  Milton     71  0.000033
3118655     MO   M  1951  Milton     22  0.000006
4537577     OK   M  1949  Milton     17  0.000005)
(('Mina', 'F'),         region sex  year  name  count      freq
5736799     VA   F  2001  Mina     13  0.000004)
(('Mindy', 'F'),         region sex  year   name  count      freq
3906987     NV   F  1981  Mindy     11  0.000003
2924888     MN   F  1958  Mindy      7  0.000002
5318999     TX   F  1984  Mindy     97  0.000031)
(('Minerva', 'F'),         region sex  year     name  count      freq
5083853     TN   F  1917  Minerva      6  0.000003)
(('Minnie', 'F'),         region sex  year    name  count      freq
896624      CT   F  1914  Minnie     15  0.000012
3332221     NC   F  1921  Minnie    224  0.000103
1705137     IL   F  1944  Minnie     18  0.000007
3628110     NH   F  1924  Minnie      5  0.000002
192978      AR   F  1964  Minnie      5  0.000001)
(('Miquel', 'M'),         region sex  year    name  count      freq
4173613     NY   M  1973  Miquel      5  0.000002)
(('Miracle', 'F'),         region sex  year     name  count      freq
1003031     DC   F  1997  Miracle      5  0.000002
2341866     LA   F  2003  Miracle     28  0.000008)
(('Miranda', 'F'),         region sex  year     name  count      freq
3644830     NH   F  2007  Miranda      5  0.000001
2823364     MI   F  2020  Miranda      6  0.000002
2336782     LA   F  1997  Miranda     41  0.000013
2488137     MA   F  2009  Miranda     19  0.000006)
(('Miriam', 'F'),         region sex  year    name  count      freq
5034355     SD   F  1920  Miriam      7  0.000003
3168016     MS   F  1919  Miriam     17  0.000009
4622422     OR   F  2016  Miriam     14  0.000004)
(('Mirna', 'F'),        region sex  year   name  count      freq
574447     CA   F  2008  Mirna      8  0.000002)
(('Misael', 'M'),         region sex  year    name  count      freq
1456870     GA   M  2010  Misael      7  0.000002)
(('Misao', 'F'),        region sex  year   name  count      freq
396139     CA   F  1922  Misao      9  0.000004)
(('Misti', 'F'),         region sex  year   name  count      freq
1556646     IA   F  1979  Misti      7  0.000002)
(('Mistie', 'F'),        region sex  year    name  count      freq
484102     CA   F  1983  Mistie      6  0.000002)
(('Misty', 'F'),        region sex  year   name  count      freq
205901     AR   F  1993  Misty     15  0.000004)
(('Mitch', 'M'),         region sex  year   name  count      freq
4163347     NY   M  1964  Mitch      6  0.000002)

(('Mitchel', 'M'),         region sex  year     name  count      freq
4650281     OR   M  1995  Mitchel     11  0.000003
4404100     OH   M  1970  Mitchel      5  0.000001)
(('Mitchell', 'M'),         region sex  year      name  count      freq
3127032     MO   M  1968  Mitchell     45  0.000014
2637491     MD   M  1981  Mitchell     20  0.000006
3250639     MS   M  1965  Mitchell     30  0.000009
1594154     IA   M  1953  Mitchell     15  0.000004
1025338     DC   M  1984  Mitchell      8  0.000003
973544      CT   M  2009  Mitchell      9  0.000003
1854553     IL   M  1971  Mitchell     48  0.000015)
(('Mittie', 'F'),         region sex  year    name  count      freq
3330082     NC   F  1917  Mittie     17  0.000009
5087665     TN   F  1924  Mittie      6  0.000003)
(('Mitzi', 'F'),       region sex  year   name  count      freq
57225     AL   F  1959  Mitzi     17  0.000004)
(('Moana', 'F'),        region sex  year   name  count      freq
334344     AZ   F  2017  Moana      8  0.000003)
(('Mohammed', 'M'),         region sex  year      name  count      freq
4446321     OH   M  2014  Mohammed     28  0.000009)
(('Mollie', 'F'),         region sex  year    name  count      freq
3224011     MS   F  2017  Mollie      6  0.000002
3187891     MS   F  1956  Mollie     11  0.000003)
(('Molly', 'F'),         region sex  year   name  count      freq
3347831     NC   F  1947  Molly     17  0.000005
4580645     OR   F  1935  Molly      6  0.000003
3047055     MO   F  1957  Molly     19  0.000005)
(('Mona', 'F'),         region sex  year  name  count      freq
1813219     IL   F  2018  Mona      6  0.000002
460394      CA   F  1974  Mona     49  0.000018)
(('Monae', 'F'),         region sex  year   name  count      freq
2591421     MD   F  1996  Monae      9  0.000003)
(('Monet', 'F'),         region sex  year   name  count      freq
2792562     MI   F  1999  Monet      8  0.000002)
(('Monica', 'F'),         region sex  year    name  count      freq
5637523     UT   F  2020  Monica      5  0.000002
915377      CT   F  1970  Monica     39  0.000012
823405      CO   F  1998  Monica     35  0.000011
3711478     NJ   F  1986  Monica    103  0.000032
3826775     NM   F  1927  Monica      5  0.000002
3052468     MO   F  1965  Monica    100  0.000029)
(('Monika', 'F'),         region sex  year    name  count      freq
3054343     MO   F  1967  Monika      5  0.000002
3996184     NY   F  1961  Monika     14  0.000004)
(('Monique', 'F'),         region sex  year     name  count      freq
2484547     MA   F  2005  Monique      8  0.000002
5298438     TX   F  1973  Monique     62  0.000022
1553418     IA   F  1972  Monique      7  0.000002
4946398     SC   F  1980  Monique     49  0.000016
5724793     VA   F  1989  Monique     67  0.000019
2800987     MI   F  2005  Monique      9  0.000003
2090672     KS   F  1984  Monique      9  0.000003)
(('Monroe', 'M'),         region sex  year    name  count      freq
1201752     FL   M  1946  Monroe      5  0.000002)
(('Montana', 'F'),       region sex  year     name  count      freq
92004     AL   F  2008  Montana      9  0.000003)
(('Montana', 'M'),         region sex  year     name  count      freq
2141982     KS   M  1995  Montana      8  0.000002)
(('Montavius', 'M'),         region sex  year       name  count      freq
1434860     GA   M  1992  Montavius      9  0.000003)
(('Monte', 'M'),         region sex  year   name  count      freq
1658467     ID   M  1938  Monte     13  0.000006
2384550     LA   M  1961  Monte      7  0.000002
2007414     IN   M  1937  Monte      5  0.000003)
(('Montez', 'M'),         region sex  year    name  count      freq
4403287     OH   M  1969  Montez      6  0.000002)
(('Monty', 'M'),         region sex  year   name  count      freq
4546495     OK   M  1971  Monty     13  0.000004
3254048     MS   M  1972  Monty      5  0.000002)
(('Morgan', 'F'),         region sex  year    name  count      freq
4886110     RI   F  1989  Morgan      7  0.000002
922390      CT   F  1985  Morgan     23  0.000007
4512174     OK   F  2010  Morgan     48  0.000015)
(('Morgan', 'M'),         region sex  year    name  count      freq
2527236     MA   M  1986  Morgan     12  0.000004
2886503     MI   M  2006  Morgan     27  0.000008
1432702     GA   M  1990  Morgan     29  0.000008)
(('Moriah', 'F'),         region sex  year    name  count      freq
4778596     PA   F  2017  Moriah      5  0.000002
5731900     VA   F  1996  Moriah      7  0.000002)
(('Morris', 'M'),         region sex  year    name  count      freq
4523600     OK   M  1916  Morris     11  0.000006
1998253     IN   M  1912  Morris     20  0.000023
4185612     NY   M  1983  Morris     15  0.000005
4990873     SC   M  1947  Morris     32  0.000009
5784103     VA   M  1958  Morris     19  0.000005
2972275     MN   M  1918  Morris     29  0.000014
2625737     MD   M  1952  Morris     17  0.000005)
(('Mose', 'M'),         region sex  year  name  count      freq
3251767     MS   M  1967  Mose      6  0.000002)
(('Moses', 'M'),         region sex  year   name  count      freq
1878642     IL   M  1994  Moses     11  0.000003
5484707     TX   M  1964  Moses     17  0.000005
2875091     MI   M  1995  Moses      6  0.000002
5663275     UT   M  1997  Moses      5  0.000002
15842       AK   M  1943  Moses      6  0.000002
3496513     NC   M  2014  Moses     16  0.000005)
(('Moshe', 'M'),         region sex  year   name  count      freq
1259836     FL   M  2008  Moshe      8  0.000002)
(('Mozelle', 'F'),         region sex  year     name  count      freq
41774       AL   F  1932  Mozelle      6  0.000003
5696681     VA   F  1947  Mozelle      6  0.000002
3337317     NC   F  1929  Mozelle     23  0.000011)
(('Muhammad', 'M'),         region sex  year      name  count      freq
1427870     GA   M  1983  Muhammad      5  0.000002)
(('Muriel', 'F'),         region sex  year    name  count      freq
5088567     TN   F  1926  Muriel     12  0.000006
2910687     MN   F  1926  Muriel     97  0.000045
3629568     NH   F  1935  Muriel     13  0.000007
5695605     VA   F  1945  Muriel      6  0.000002
1624349     ID   F  1918  Muriel      6  0.000003)
(('Murray', 'M'),        region sex  year    name  count      freq
121170     AL   M  1945  Murray      9  0.000004)
(('Musa', 'M'),         region sex  year  name  count      freq
1914809     IL   M  2019  Musa     17  0.000006)
(('Mya', 'F'),         region sex  year name  count      freq
3646165     NH   F  2012  Mya      5  0.000002
6042882     WI   F  2008  Mya     87  0.000026)
(('Myesha', 'F'),         region sex  year    name  count      freq
5326213     TX   F  1987  Myesha     14  0.000004)
(('Myka', 'F'),         region sex  year  name  count      freq
5420694     TX   F  2017  Myka      6  0.000002)
(('Mykayla', 'F'),         region sex  year     name  count      freq
5909026     WA   F  2000  Mykayla      5  0.000001
3079597     MO   F  2000  Mykayla      6  0.000002
4746035     PA   F  1996  Mykayla      8  0.000002)
(('Myles', 'M'),         region sex  year   name  count      freq
6096316     WI   M  2006  Myles     37  0.000011)
(('Myra', 'F'),         region sex  year  name  count      freq
5269182     TX   F  1953  Myra     63  0.000017
2193969     KY   F  1978  Myra      8  0.000003
4480375     OK   F  1959  Myra     18  0.000005
1159228     FL   F  2007  Myra      6  0.000002)
(('Myriam', 'F'),         region sex  year    name  count      freq
1116079     FL   F  1983  Myriam      5  0.000002)
(('Myrna', 'F'),         region sex  year   name  count      freq
2740324     MI   F  1951  Myrna     14  0.000004
3511235     ND   F  1937  Myrna     15  0.000008
431501      CA   F  1959  Myrna     49  0.000012
2913571     MN   F  1933  Myrna     14  0.000008
2301987     LA   F  1954  Myrna     12  0.000003)
(('Myron', 'M'),         region sex  year   name  count      freq
2059214     IN   M  2019  Myron      5  0.000002
3121099     MO   M  1956  Myron     17  0.000004
859475      CO   M  1959  Myron      6  0.000002
5494584     TX   M  1973  Myron     24  0.000009
2009468     IN   M  1943  Myron     19  0.000007
3258588     MS   M  1982  Myron      7  0.000002)
(('Myrtice', 'F'),         region sex  year     name  count      freq
1081565     FL   F  1943  Myrtice      8  0.000003)
(('Myrtle', 'F'),         region sex  year    name  count      freq
6119291     WV   F  1936  Myrtle     43  0.000022
2284156     LA   F  1923  Myrtle    142  0.000066
2294431     LA   F  1942  Myrtle     43  0.000017)
(('Nacole', 'F'),         region sex  year    name  count      freq
4025982     NY   F  1978  Nacole      5  0.000002)
(('Nadia', 'F'),         region sex  year   name  count      freq
5306950     TX   F  1978  Nadia     82  0.000028)
(('Nadine', 'F'),         region sex  year    name  count      freq
789067      CO   F  1927  Nadine     14  0.000006
2490651     MA   F  2011  Nadine      5  0.000002
2572045     MD   F  1966  Nadine     11  0.000003
...        ...  ..   ...     ...    ...       ...
3853239     NM   F  1998  Nadine      6  0.000002
176521      AR   F  1930  Nadine     22  0.000011
5034149     SD   F  1919  Nadine      5  0.000003

[8 rows x 6 columns])
(('Nahia', 'F'),         region sex  year   name  count      freq
6227080     PR   F  2020  Nahia     12  0.000004)
(('Nahum', 'M'),         region sex  year   name  count      freq
5587066     TX   M  2020  Nahum      7  0.000003)
(('Naima', 'F'),        region sex  year   name  count      freq
585138     CA   F  2011  Naima     33  0.000011)
(('Naiya', 'F'),        region sex  year   name  count      freq
614600     CA   F  2018  Naiya      7  0.000002)
(('Nakita', 'F'),         region sex  year    name  count      freq
74193       AL   F  1984  Nakita      5  0.000002
3714284     NJ   F  1988  Nakita      6  0.000002)
(('Nala', 'F'),         region sex  year  name  count      freq
1163337     FL   F  2009  Nala     10  0.000003)
(('Nancy', 'F'),         region sex  year   name  count      freq
1539219     IA   F  1942  Nancy    425  0.000165
5686687     VA   F  1926  Nancy    196  0.000092
2323163     LA   F  1981  Nancy     39  0.000012
...        ...  ..   ...    ...    ...       ...
4870542     RI   F  1911  Nancy      8  0.000014
4878346     RI   F  1955  Nancy    189  0.000049
2464507     MA   F  1981  Nancy     72  0.000023

[10 rows x 6 columns])
(('Nancy', 'M'),         region sex  year   name  count      freq
4160926     NY   M  1962  Nancy     13  0.000003)
(('Nanette', 'F'),         region sex  year     name  count      freq
2756274     MI   F  1968  Nanette     18  0.000006)
(('Nannie', 'F'),         region sex  year    name  count      freq
3166491     MS   F  1916  Nannie     24  0.000013
4463812     OK   F  1926  Nannie      9  0.000004)
(('Naomi', 'F'),         region sex  year   name  count      freq
998041      DC   F  1981  Naomi     10  0.000003
5248457     TX   F  1934  Naomi     56  0.000029
10787       AK   F  2001  Naomi     15  0.000005
3341158     NC   F  1936  Naomi     71  0.000037
6123821     WV   F  1947  Naomi     30  0.000009
1625159     ID   F  1922  Naomi      8  0.000004
5590022     UT   F  1922  Naomi     14  0.000007)
(('Nariah', 'F'),        region sex  year    name  count      freq
940320     CT   F  2016  Nariah      5  0.000002)
(('Naseem', 'M'),         region sex  year    name  count      freq
4868659     PA   M  2019  Naseem      7  0.000002
784699      CA   M  2020  Naseem      5  0.000002)
(('Nash', 'M'),         region sex  year  name  count      freq
2882072     MI   M  2002  Nash     13  0.000004)
(('Nasir', 'M'),         region sex  year   name  count      freq
5985776     WA   M  2017  Nasir      8  0.000003
4199849     NY   M  1992  Nasir      5  0.000001)
(('Natalee', 'F'),         region sex  year     name  count      freq
5054293     SD   F  2008  Natalee      5  0.000001
498058      CA   F  1988  Natalee     12  0.000004
1566960     IA   F  2000  Natalee      5  0.000001
1346321     GA   F  1996  Natalee      5  0.000002)
(('Natalia', 'F'),         region sex  year     name  count      freq
4753649     PA   F  2002  Natalia     34  0.000010
822868      CO   F  1997  Natalia     10  0.000003
4971221     SC   F  2015  Natalia     15  0.000005
4350676     OH   F  2009  Natalia     51  0.000016
2096243     KS   F  1995  Natalia      5  0.000002
4889147     RI   F  2002  Natalia      8  0.000002
3646553     NH   F  2014  Natalia     10  0.000003)
(('Natalie', 'F'),         region sex  year     name  count      freq
4871910     RI   F  1919  Natalie      7  0.000004
5599216     UT   F  1957  Natalie     18  0.000004
5730310     VA   F  1995  Natalie    123  0.000038
59823       AL   F  1963  Natalie     37  0.000010
3954708     NY   F  1918  Natalie    119  0.000059)
(('Nataly', 'F'),         region sex  year    name  count      freq
5931539     WA   F  2019  Nataly      8  0.000003)
(('Natasha', 'F'),         region sex  year     name  count      freq
3090854     MO   F  2011  Natasha      8  0.000003
4083360     NY   F  2005  Natasha     88  0.000026
2460748     MA   F  1975  Natasha     25  0.000009)
(('Nathaly', 'F'),         region sex  year     name  count      freq
941510      CT   F  2018  Nathaly      5  0.000002
2488608     MA   F  2009  Nathaly      6  0.000002)
(('Nathan', 'M'),         region sex  year    name  count      freq
3251987     MS   M  1968  Nathan     24  0.000008
6182618     WV   M  2008  Nathan     56  0.000017
2234523     KY   M  1934  Nathan     16  0.000008
...        ...  ..   ...     ...    ...       ...
2002639     IN   M  1924  Nathan      9  0.000004
3116537     MO   M  1946  Nathan      9  0.000003
3260552     MS   M  1987  Nathan     64  0.000020

[14 rows x 6 columns])
(('Nathanael', 'M'),         region sex  year       name  count      freq
2034752     IN   M  1992  Nathanael     18  0.000005
1861778     IL   M  1978  Nathanael      6  0.000002
1464937     GA   M  2016  Nathanael     11  0.000004
3818151     NJ   M  2016  Nathanael     10  0.000003
1676208     ID   M  2006  Nathanael      6  0.000002
701123      CA   M  1990  Nathanael     48  0.000013)
(('Nathanial', 'M'),         region sex  year       name  count      freq
5204218     TN   M  1998  Nathanial      5  0.000002)
(('Nathaniel', 'M'),         region sex  year       name  count      freq
4381469     OH   M  1933  Nathaniel     12  0.000006
3622200     NE   M  2013  Nathaniel     21  0.000007
2148519     KS   M  2008  Nathaniel     44  0.000013
5674641     UT   M  2014  Nathaniel     33  0.000010
5205051     TN   M  2000  Nathaniel    166  0.000050
1020191     DC   M  1967  Nathaniel     24  0.000008)
(('Nayeli', 'F'),         region sex  year    name  count      freq
4091394     NY   F  2008  Nayeli     31  0.000009
5352512     TX   F  1998  Nayeli     40  0.000012)
(('Nayshawn', 'M'),         region sex  year      name  count      freq
4221740     NY   M  2004  Nayshawn      5  0.000002)
(('Nazareth', 'M'),        region sex  year      name  count      freq
760994     CA   M  2012  Nazareth      7  0.000002)
(('Neal', 'M'),         region sex  year  name  count      freq
5476678     TX   M  1957  Neal     50  0.000012
4900008     RI   M  1960  Neal      7  0.000002
1204282     FL   M  1952  Neal     23  0.000006
1508553     HI   M  1959  Neal     17  0.000004)
(('Nedra', 'F'),         region sex  year   name  count      freq
2294829     LA   F  1942  Nedra      5  0.000002
3353404     NC   F  1955  Nedra     10  0.000003)
(('Neftali', 'M'),         region sex  year     name  count      freq
5573742     TX   M  2015  Neftali      6  0.000002)
(('Nehemiah', 'M'),         region sex  year      name  count      freq
2550112     MA   M  2019  Nehemiah     10  0.000003
5563917     TX   M  2012  Nehemiah     84  0.000027)
(('Neil', 'M'),         region sex  year  name  count      freq
2885641     MI   M  2005  Neil     11  0.000003
2995286     MN   M  1980  Neil     48  0.000015)
(('Nelda', 'F'),         region sex  year   name  count      freq
2167759     KY   F  1931  Nelda     18  0.000009
5328581     TX   F  1988  Nelda     11  0.000003
58735       AL   F  1961  Nelda      9  0.000002)
(('Nell', 'F'),       region sex  year  name  count      freq
30622     AL   F  1913  Nell     34  0.000033)
(('Nella', 'F'),        region sex  year   name  count      freq
604038     CA   F  2015  Nella      5  0.000002)
(('Nellie', 'F'),         region sex  year    name  count      freq
2303353     LA   F  1956  Nellie     14  0.000004
3684347     NJ   F  1953  Nellie      7  0.000002
2912849     MN   F  1931  Nellie     10  0.000005)
(('Nels', 'M'),        region sex  year  name  count      freq
652076     CA   M  1957  Nels      7  0.000002)
(('Nelson', 'M'),         region sex  year    name  count      freq
5551196     TX   M  2007  Nelson     53  0.000015
4230329     NY   M  2009  Nelson     57  0.000017
2250893     KY   M  1969  Nelson      6  0.000002
2382380     LA   M  1958  Nelson     30  0.000008
4168958     NY   M  1970  Nelson    232  0.000069
2369034     LA   M  1933  Nelson     36  0.000019)
(('Nemesis', 'F'),         region sex  year     name  count      freq
6219144     PR   F  2002  Nemesis      6  0.000002)
(('Nereida', 'F'),         region sex  year     name  count      freq
4031011     NY   F  1981  Nereida      8  0.000003)
(('Neva', 'F'),         region sex  year  name  count      freq
1532410     IA   F  1924  Neva     26  0.000012)
(('Nevaeh', 'F'),         region sex  year    name  count      freq
312604      AZ   F  2000  Nevaeh      6  0.000002
5737655     VA   F  2002  Nevaeh     39  0.000012)
(('Neveah', 'F'),        region sex  year    name  count     freq
605197     CA   F  2016  Neveah     31  0.00001)
(('Nia', 'F'),        region sex  year name  count      freq
463369     CA   F  1975  Nia     10  0.000004)
(('Nichol', 'F'),         region sex  year    name  count      freq
4021980     NY   F  1976  Nichol      6  0.000002)
(('Nicholas', 'F'),         region sex  year      name  count      freq
5308495     TX   F  1978  Nicholas      5  0.000002)
(('Nicholas', 'M'),         region sex  year      name  count      freq
654641      CA   M  1960  Nicholas    178  0.000045
2132286     KS   M  1970  Nicholas     15  0.000004
6094664     WI   M  2004  Nicholas    322  0.000097
2021810     IN   M  1969  Nicholas     47  0.000014
4860788     PA   M  2014  Nicholas    353  0.000112
1413613     GA   M  1961  Nicholas     16  0.000004
138087      AL   M  1978  Nicholas    179  0.000062)
(('Nichole', 'F'),         region sex  year     name  count      freq
5298473     TX   F  1973  Nichole     54  0.000020
1555388     IA   F  1977  Nichole     47  0.000016
300435      AZ   F  1988  Nichole     54  0.000016)
(('Nick', 'M'),         region sex  year  name  count      freq
122941      AL   M  1948  Nick      5  0.000002
2124382     KS   M  1948  Nick      8  0.000002
2128331     KS   M  1959  Nick      8  0.000002
1850287     IL   M  1966  Nick     63  0.000019
3536970     ND   M  1945  Nick      6  0.000002
5794244     VA   M  1977  Nick      5  0.000002)
(('Nickolas', 'M'),         region sex  year      name  count      freq
3141826     MO   M  1995  Nickolas     31  0.000010
5815086     VA   M  2006  Nickolas     25  0.000007)
(('Nickole', 'F'),        region sex  year     name  count      freq
547092     CA   F  2001  Nickole      5  0.000002)
(('Nico', 'M'),         region sex  year  name  count      freq
3804517     NJ   M  2004  Nico     16  0.000005)
(('Nicol', 'F'),         region sex  year   name  count      freq
1737045     IL   F  1973  Nicol      7  0.000003)
(('Nicolas', 'M'),         region sex  year     name  count      freq
2259235     KY   M  1989  Nicolas      7  0.000002
3818775     NJ   M  2017  Nicolas     73  0.000024)
(('Nicole', 'F'),         region sex  year    name  count      freq
6199327     WY   F  2002  Nicole      6  0.000002
4595528     OR   F  1975  Nicole    135  0.000049
2680214     ME   F  1968  Nicole     15  0.000005

(('Nidia', 'F'),         region sex  year   name  count      freq
5378911     TX   F  2006  Nidia     11  0.000003)
(('Niels', 'M'),        region sex  year   name  count      freq
671724     CA   M  1973  Niels      5  0.000002)
(('Nija', 'F'),         region sex  year  name  count      freq
5363624     TX   F  2001  Nija      5  0.000002)
(('Nika', 'F'),        region sex  year  name  count      freq
593659     CA   F  2013  Nika     20  0.000006)
(('Niki', 'F'),         region sex  year  name  count      freq
2463597     MA   F  1979  Niki      7  0.000002)
(('Nikki', 'F'),         region sex  year   name  count     freq
2777763     MI   F  1988  Nikki     34  0.00001)
(('Niklaus', 'M'),        region sex  year     name  count      freq
389510     AZ   M  2019  Niklaus      6  0.000002)
(('Niko', 'M'),         region sex  year  name  count      freq
5577656     TX   M  2017  Niko     31  0.000010
3806202     NJ   M  2005  Niko      5  0.000001)
(('Nikolas', 'M'),         region sex  year     name  count      freq
5814052     VA   M  2005  Nikolas     24  0.000007
723446      CA   M  1999  Nikolas    145  0.000044)
(('Nilda', 'F'),         region sex  year   name  count      freq
3973485     NY   F  1942  Nilda     13  0.000005
3997305     NY   F  1962  Nilda     46  0.000012)
(('Nina', 'F'),         region sex  year  name  count      freq
2079008     KS   F  1959  Nina     17  0.000004
4499052     OK   F  1992  Nina      8  0.000002
1089534     FL   F  1957  Nina     36  0.000009
934475      CT   F  2007  Nina     24  0.000007
1719028     IL   F  1959  Nina     70  0.000018
2935653     MN   F  1978  Nina      8  0.000003)
(('Nita', 'F'),         region sex  year  name  count      freq
4930259     SC   F  1951  Nita      9  0.000003
1539196     IA   F  1941  Nita      5  0.000002
5278935     TX   F  1960  Nita     48  0.000012)
(('Nixon', 'M'),        region sex  year   name  count      freq
268719     AR   M  2017  Nixon      9  0.000003)
(('Noah', 'M'),         region sex  year  name  count      freq
4212378     NY   M  2000  Noah    610  0.000182
5466169     TX   M  1947  Noah      9  0.000003
1235151     FL   M  1992  Noah     41  0.000012
...        ...  ..   ...   ...    ...       ...
3659012     NH   M  1989  Noah      8  0.000002
1253109     FL   M  2005  Noah    677  0.000203
143475      AL   M  1988  Noah     16  0.000005

[9 rows x 6 columns])
(('Noble', 'M'),         region sex  year   name  count      freq
230833      AR   M  1930  Noble     11  0.000005
2831892     MI   M  1929  Noble      5  0.000002)
(('Noe', 'M'),         region sex  year name  count      freq
4657902     OR   M  2008  Noe     12  0.000004)
(('Noel', 'F'),         region sex  year  name  count      freq
6036613     WI   F  2000  Noel      5  0.000001)
(('Noel', 'M'),         region sex  year  name  count      freq
3236862     MS   M  1935  Noel     10  0.000005
2998058     MN   M  1986  Noel      5  0.000002
890094      CO   M  2014  Noel     12  0.000004
5778147     VA   M  1946  Noel      5  0.000002)
(('Noelia', 'F'),        region sex  year    name  count      freq
572284     CA   F  2008  Noelia     59  0.000017)
(('Noelle', 'F'),         region sex  year    name  count      freq
3732326     NJ   F  2004  Noelle     26  0.000008
423332      CA   F  1953  Noelle      5  0.000001)
(('Nola', 'F'),         region sex  year  name  count      freq
4583196     OR   F  1945  Nola      5  0.000002)
(('Nolan', 'M'),         region sex  year   name  count      freq
5974600     WA   M  2007  Nolan     89  0.000026
3272917     MS   M  2009  Nolan     15  0.000005
1867338     IL   M  1984  Nolan     20  0.000006
5666699     UT   M  2003  Nolan     12  0.000004
2833154     MI   M  1932  Nolan      9  0.000005
970785      CT   M  2004  Nolan     24  0.000007
3231014     MS   M  1922  Nolan      7  0.000003)
(('Nolberto', 'M'),        region sex  year      name  count      freq
675861     CA   M  1976  Nolberto      6  0.000002)
(('Noor', 'F'),         region sex  year  name  count      freq
1170255     FL   F  2012  Noor     11  0.000004)
(('Nora', 'F'),         region sex  year  name  count      freq
4932400     SC   F  1955  Nora     14  0.000004
3387159     NC   F  1996  Nora     17  0.000005
2951699     MN   F  2002  Nora     27  0.000008
...        ...  ..   ...   ...    ...       ...
1481998     HI   F  1959  Nora      5  0.000001
5111798     TN   F  1967  Nora      5  0.000002
4890298     RI   F  2007  Nora     11  0.000003

[9 rows x 6 columns])
(('Norah', 'F'),        region sex  year   name  count      freq
935283     CT   F  2008  Norah     10  0.000003)
(('Norbert', 'M'),         region sex  year     name  count      freq
2619184     MD   M  1927  Norbert      6  0.000003)
(('Nori', 'F'),         region sex  year  name  count      freq
4776191     PA   F  2016  Nori     12  0.000004)
(('Norine', 'F'),         region sex  year    name  count      freq
5998113     WI   F  1932  Norine      5  0.000003)
(('Norma', 'F'),         region sex  year   name  count      freq
4912612     SC   F  1913  Norma      8  0.000008
3558471     NE   F  1930  Norma    188  0.000091
2297850     LA   F  1948  Norma     84  0.000026
3829711     NM   F  1939  Norma     30  0.000015
2552188     MD   F  1914  Norma     15  0.000012
3697983     NJ   F  1971  Norma     20  0.000006
1125471     FL   F  1990  Norma     18  0.000005)
(('Norman', 'M'),         region sex  year    name  count      freq
631154      CA   M  1929  Norman    192  0.000094
2518110     MA   M  1965  Norman     75  0.000022
5790827     VA   M  1971  Norman     38  0.000012
...        ...  ..   ...     ...    ...       ...
651356      CA   M  1957  Norman    293  0.000073
3654665     NH   M  1962  Norman     21  0.000005
3755260     NJ   M  1910  Norman     12  0.000023

[11 rows x 6 columns])
(('Norris', 'M'),         region sex  year    name  count      freq
2360726     LA   M  1915  Norris     10  0.000006
5180875     TN   M  1955  Norris      6  0.000002)
(('Norwood', 'M'),         region sex  year     name  count      freq
3451053     NC   M  1957  Norwood      7  0.000002)
(('Nosson', 'M'),         region sex  year    name  count      freq
4215775     NY   M  2001  Nosson      6  0.000002)
(('Novalee', 'F'),         region sex  year     name  count      freq
3096405     MO   F  2016  Novalee      8  0.000003)
(('Nyla', 'F'),        region sex  year  name  count      freq
411236     CA   F  1943  Nyla      5  0.000002)
(('Nylah', 'F'),         region sex  year   name  count      freq
4780586     PA   F  2019  Nylah     36  0.000012)
(('Nyomi', 'F'),         region sex  year   name  count      freq
4781372     PA   F  2019  Nyomi      8  0.000003)
(('Oakley', 'M'),         region sex  year    name  count      freq
5677336     UT   M  2017  Oakley      8  0.000003)
(('Obed', 'M'),        region sex  year  name  count      freq
726427     CA   M  2000  Obed     24  0.000007)
(('Ocean', 'F'),         region sex  year   name  count      freq
1158667     FL   F  2007  Ocean      9  0.000003)
(('Octavia', 'F'),         region sex  year     name  count      freq
2798296     MI   F  2003  Octavia      7  0.000002
1143184     FL   F  2000  Octavia     10  0.000003)
(('Octavio', 'M'),        region sex  year     name  count      freq
744615     CA   M  2007  Octavio     86  0.000025
382537     AZ   M  2012  Octavio      6  0.000002)
(('Octavious', 'M'),         region sex  year       name  count      freq
1252823     FL   M  2004  Octavious      6  0.000002
1231135     FL   M  1988  Octavious      6  0.000002)
(('Odalis', 'F'),         region sex  year    name  count      freq
1776400     IL   F  1999  Odalis     17  0.000005)
(('Odell', 'M'),         region sex  year   name  count      freq
2241027     KY   M  1947  Odell      6  0.000002
4987097     SC   M  1938  Odell     21  0.000010)
(('Odessa', 'F'),         region sex  year    name  count      freq
4025456     NY   F  1978  Odessa      8  0.000003
3556792     NE   F  1924  Odessa      6  0.000003
4924666     SC   F  1940  Odessa      9  0.000004
4671615     PA   F  1918  Odessa      8  0.000004)
(('Olen', 'M'),         region sex  year  name  count      freq
1391678     GA   M  1920  Olen      5  0.000002)
(('Oleta', 'F'),         region sex  year   name  count      freq
4456817     OK   F  1913  Oleta     22  0.000021
167646      AR   F  1912  Oleta      7  0.000008)
(('Olga', 'F'),         region sex  year  name  count      freq
2283760     LA   F  1922  Olga     24  0.000011
3686072     NJ   F  1956  Olga     15  0.000004
1153590     FL   F  2005  Olga     12  0.000004
5682701     VA   F  1917  Olga      8  0.000004
471646      CA   F  1979  Olga     86  0.000028)
(('Olin', 'M'),         region sex  year  name  count      freq
117676      AL   M  1938  Olin      6  0.000003
3017242     MN   M  2015  Olin      7  0.000002)
(('Olive', 'F'),         region sex  year   name  count      freq
5991178     WI   F  1916  Olive     66  0.000037
4700516     PA   F  1956  Olive     12  0.000003
2437780     MA   F  1930  Olive     33  0.000016)
(('Oliver', 'M'),         region sex  year    name  count      freq
2501696     MA   M  1917  Oliver     15  0.000008
2234488     KY   M  1934  Oliver     22  0.000011
1833770     IL   M  1942  Oliver     14  0.000005)
(('Olivia', 'F'),         region sex  year    name  count      freq
5053528     SD   F  2006  Olivia     49  0.000014
209215      AR   F  2000  Olivia    100  0.000030
3177569     MS   F  1937  Olivia     15  0.000008
2693299     ME   F  2019  Olivia     62  0.000021
3525171     ND   F  2000  Olivia     36  0.000011)
(('Ollie', 'M'),         region sex  year   name  count      freq
4985642     SC   M  1934  Ollie      7  0.000004
5160494     TN   M  1910  Ollie     13  0.000025)
(('Omar', 'M'),         region sex  year  name  count      freq
3886923     NM   M  1990  Omar     16  0.000004
2417275     LA   M  2007  Omar     13  0.000004
5537214     TX   M  2001  Omar    424  0.000129
1023555     DC   M  1978  Omar     10  0.000003)
(('Omari', 'M'),         region sex  year   name  count      freq
3483075     NC   M  2003  Omari     21  0.000006
695851      CA   M  1987  Omari      5  0.000002)
(('Omarion', 'M'),         region sex  year     name  count      freq
5814117     VA   M  2005  Omarion     18  0.000005)
(('Ona', 'F'),        region sex  year name  count      freq
168827     AR   F  1915  Ona      7  0.000004)
(('Oneida', 'F'),         region sex  year    name  count      freq
5685678     VA   F  1923  Oneida      5  0.000002)
(('Oneil', 'M'),         region sex  year   name  count      freq
2367513     LA   M  1929  Oneil      6  0.000003)
(('Onolee', 'F'),         region sex  year    name  count      freq
3956761     NY   F  1920  Onolee      5  0.000002)
(('Opal', 'F'),        region sex  year  name  count      freq
785711     CO   F  1915  Opal     18  0.000011)
(('Ora', 'F'),         region sex  year name  count      freq
4471114     OK   F  1940  Ora      6  0.000003
2748050     MI   F  1959  Ora      5  0.000001)
(('Oretha', 'F'),         region sex  year    name  count      freq
1073381     FL   F  1922  Oretha      5  0.000002)
(('Orion', 'M'),         region sex  year   name  count      freq
1620193     IA   M  2016  Orion     12  0.000004
770774      CA   M  2016  Orion    166  0.000053)
(('Orlando', 'M'),         region sex  year     name  count      freq
5195733     TN   M  1985  Orlando     10  0.000003
877431      CO   M  1998  Orlando     13  0.000004
3253014     MS   M  1970  Orlando      9  0.000003)
(('Orval', 'M'),         region sex  year   name  count      freq
2118324     KS   M  1928  Orval     13  0.000006)
(('Orville', 'M'),         region sex  year     name  count      freq
1590117     IA   M  1941  Orville      9  0.000004
5463928     TX   M  1945  Orville     16  0.000006
2125397     KS   M  1951  Orville      7  0.000002
4535599     OK   M  1944  Orville     21  0.000008
2124022     KS   M  1947  Orville     11  0.000003
3113838     MO   M  1940  Orville     34  0.000016)
(('Oscar', 'M'),         region sex  year   name  count      freq
3895278     NM   M  2010  Oscar     37  0.000012
1823899     IL   M  1924  Oscar     71  0.000032
2412312     LA   M  2001  Oscar     13  0.000004
129629      AL   M  1961  Oscar     30  0.000008)
(('Osiel', 'M'),         region sex  year   name  count      freq
5580378     TX   M  2018  Osiel     28  0.000009)
(('Osmel', 'M'),         region sex  year   name  count      freq
5552312     TX   M  2007  Osmel      9  0.000003)
(('Otha', 'M'),         region sex  year  name  count      freq
3424386     NC   M  1911  Otha      6  0.000011
3228277     MS   M  1916  Otha      7  0.000004
2361291     LA   M  1916  Otha      6  0.000003)
(('Otis', 'M'),         region sex  year  name  count      freq
1016244     DC   M  1954  Otis     10  0.000003
2385538     LA   M  1963  Otis     32  0.000009
3431719     NC   M  1925  Otis     76  0.000035)
(('Otto', 'M'),         region sex  year  name  count      freq
3306144     MT   M  1922  Otto      6  0.000003)
(('Ouida', 'F'),       region sex  year   name  count      freq
47700     AL   F  1943  Ouida      7  0.000003)
(('Owen', 'M'),         region sex  year  name  count      freq
1193428     FL   M  1922  Owen     12  0.000006
2858703     MI   M  1975  Owen     12  0.000004
2380063     LA   M  1954  Owen     14  0.000004
2013353     IN   M  1952  Owen      9  0.000002
6066359     WI   M  1942  Owen      6  0.000002
6162890     WV   M  1942  Owen      7  0.000003)
(('Pa', 'F'),         region sex  year name  count      freq
6024780     WI   F  1984   Pa      8  0.000003)
(('Pablo', 'M'),         region sex  year   name  count      freq
655975      CA   M  1961  Pablo     43  0.000011
1869269     IL   M  1986  Pablo     24  0.000007)
(('Paige', 'F'),         region sex  year   name  count      freq
4719164     PA   F  1974  Paige      9  0.000003
1757573     IL   F  1988  Paige     98  0.000029
3297960     MT   F  1993  Paige     17  0.000005
3197736     MS   F  1973  Paige     10  0.000004)
(('Paislee', 'F'),        region sex  year     name  count      freq
601047     CA   F  2015  Paislee     43  0.000014)
(('Paisley', 'F'),         region sex  year     name  count      freq
4616042     OR   F  2008  Paisley     18  0.000005
4970945     SC   F  2015  Paisley     88  0.000028)
(('Paityn', 'F'),         region sex  year    name  count      freq
1650346     ID   F  2012  Paityn      8  0.000003)
(('Palmer', 'M'),         region sex  year    name  count      freq
3491817     NC   M  2010  Palmer      8  0.000003)
(('Pamela', 'F'),         region sex  year    name  count      freq
4305078     OH   F  1975  Pamela    204  0.000074
1042894     DE   F  1964  Pamela     48  0.000013
4693559     PA   F  1949  Pamela    653  0.000197
6005042     WI   F  1950  Pamela    352  0.000106
3377090     NC   F  1986  Pamela     72  0.000022)
(('Pandora', 'F'),         region sex  year     name  count      freq
4283313     OH   F  1954  Pandora      7  0.000002
575726      CA   F  2008  Pandora      5  0.000001)
(('Pansy', 'F'),         region sex  year   name  count      freq
2165080     KY   F  1926  Pansy     19  0.000009)
(('Paolo', 'M'),        region sex  year   name  count      freq
686867     CA   M  1983  Paolo     15  0.000005)
(('Paris', 'F'),         region sex  year   name  count      freq
2475189     MA   F  1994  Paris      5  0.000002)
(('Paris', 'M'),        region sex  year   name  count      freq
673908     CA   M  1975  Paris     13  0.000005)
(('Parker', 'F'),         region sex  year    name  count      freq
4101760     NY   F  2012  Parker     34  0.000011
2348464     LA   F  2010  Parker     22  0.000007
5636918     UT   F  2020  Parker     28  0.000010
3921856     NV   F  2013  Parker      7  0.000002
6052863     WI   F  2018  Parker     26  0.000009)
(('Parker', 'M'),         region sex  year    name  count      freq
2260068     KY   M  1991  Parker      9  0.000003
6186189     WV   M  2018  Parker     45  0.000015)
(('Parsa', 'M'),        region sex  year   name  count      freq
722358     CA   M  1998  Parsa      8  0.000002)
(('Pasquale', 'M'),         region sex  year      name  count     freq
4796585     PA   M  1933  Pasquale     18  0.00001)
(('Pat', 'F'),         region sex  year name  count      freq
1093849     FL   F  1962  Pat     15  0.000004
1738355     IL   F  1974  Pat      7  0.000003
2166456     KY   F  1928  Pat      5  0.000002)
(('Pat', 'M'),         region sex  year name  count      freq
4146425     NY   M  1946  Pat     45  0.000015
5169960     TN   M  1932  Pat     15  0.000008
5165854     TN   M  1923  Pat      7  0.000003)
(('Patricia', 'F'),         region sex  year      name  count      freq
2088503     KS   F  1980  Patricia     48  0.000015
5033788     SD   F  1918  Patricia     12  0.000006
1553586     IA   F  1973  Patricia     53  0.000019
...        ...  ..   ...       ...    ...       ...
4076090     NY   F  2002  Patricia     72  0.000022
275995      AZ   F  1937  Patricia     66  0.000033
3578908     NE   F  1991  Patricia     10  0.000003

[9 rows x 6 columns])
(('Patrick', 'M'),         region sex  year     name  count      freq
5645507     UT   M  1949  Patrick     35  0.000011
3598402     NE   M  1934  Patrick     19  0.000010
5648508     UT   M  1959  Patrick     33  0.000008
...        ...  ..   ...      ...    ...       ...
1022846     DC   M  1976  Patrick     42  0.000015
2705338     ME   M  1966  Patrick     73  0.000022
1590261     IA   M  1942  Patrick     82  0.000032

[16 rows x 6 columns])
(('Patti', 'F'),         region sex  year   name  count      freq
3045607     MO   F  1955  Patti     50  0.000013
3047600     MO   F  1958  Patti     85  0.000022
407321      CA   F  1939  Patti     19  0.000009)
(('Paul', 'M'),         region sex  year  name  count      freq
3779137     NJ   M  1972  Paul    518  0.000179
1063130     DE   M  1990  Paul     23  0.000006
6165958     WV   M  1951  Paul    315  0.000090
...        ...  ..   ...   ...    ...       ...
1846892     IL   M  1962  Paul   1314  0.000343
2270229     KY   M  2010  Paul     41  0.000013
2530798     MA   M  1993  Paul    250  0.000074

[8 rows x 6 columns])
(('Paula', 'F'),         region sex  year   name  count      freq
1635551     ID   F  1968  Paula     26  0.000008
193935      AR   F  1967  Paula    110  0.000035
1126752     FL   F  1991  Paula     45  0.000013
...        ...  ..   ...    ...    ...       ...
4672294     PA   F  1919  Paula      9  0.000005
3905099     NV   F  1971  Paula      9  0.000003
426320      CA   F  1956  Paula    669  0.000170

[11 rows x 6 columns])
(('Pauletta', 'F'),         region sex  year      name  count      freq
4479997     OK   F  1958  Pauletta      8  0.000002)

(('Paulette', 'F'),         region sex  year      name  count      freq
5293677     TX   F  1970  Paulette     38  0.000011
4062911     NY   F  1996  Paulette     11  0.000003
5599060     UT   F  1956  Paulette      5  0.000001)
(('Paulina', 'F'),         region sex  year     name  count      freq
2436846     MA   F  1927  Paulina      5  0.000002)
(('Pauline', 'F'),         region sex  year     name  count      freq
5996196     WI   F  1928  Pauline     57  0.000027
4472770     OK   F  1944  Pauline     30  0.000012
482363      CA   F  1983  Pauline     55  0.000017
...        ...  ..   ...      ...    ...       ...
277101      AZ   F  1941  Pauline     13  0.000006
3067953     MO   F  1986  Pauline      5  0.000002
1074203     FL   F  1925  Pauline     70  0.000032

[8 rows x 6 columns])
(('Paulo', 'M'),        region sex  year   name  count      freq
751123     CA   M  2009  Paulo     21  0.000006)
(('Paxton', 'M'),         region sex  year    name  count      freq
5216978     TN   M  2013  Paxton     42  0.000014)
(('Payton', 'F'),         region sex  year    name  count      freq
832110      CO   F  2007  Payton     34  0.000010
3856508     NM   F  2005  Payton      8  0.000002
3723892     NJ   F  1997  Payton     15  0.000005
4062827     NY   F  1996  Payton     12  0.000004)
(('Pearl', 'F'),         region sex  year   name  count      freq
1918425     IN   F  1914  Pearl     31  0.000024
3988817     NY   F  1956  Pearl     34  0.000009
2495209     MA   F  2016  Pearl      8  0.000003
458481      CA   F  1973  Pearl     28  0.000010
3351211     NC   F  1952  Pearl     15  0.000004
3283181     MT   F  1928  Pearl     14  0.000007)
(('Pearlie', 'F'),         region sex  year     name  count      freq
1317309     GA   F  1965  Pearlie      5  0.000001
1286220     GA   F  1916  Pearlie     34  0.000019)
(('Pedro', 'M'),         region sex  year   name  count      freq
3881673     NM   M  1976  Pedro     17  0.000006
879405      CO   M  2001  Pedro     20  0.000006)
(('Peggie', 'F'),         region sex  year    name  count      freq
3335214     NC   F  1925  Peggie      6  0.000003)
(('Peggy', 'F'),         region sex  year   name  count      freq
5317483     TX   F  1983  Peggy     19  0.000006
2754967     MI   F  1967  Peggy    138  0.000043
3284349     MT   F  1935  Peggy     17  0.000009
1041547     DE   F  1957  Peggy     10  0.000002
3327733     NC   F  1912  Peggy      6  0.000007)
(('Pennie', 'F'),         region sex  year    name  count      freq
2081764     KS   F  1964  Pennie      5  0.000001
1095035     FL   F  1963  Pennie      7  0.000002)
(('Penny', 'F'),         region sex  year   name  count     freq
4271490     OH   F  1939  Penny     21  0.00001)
(('Pepper', 'F'),        region sex  year    name  count      freq
100636     AL   F  2017  Pepper      5  0.000002)
(('Percy', 'M'),         region sex  year   name  count      freq
1867675     IL   M  1984  Percy      7  0.000002
4816815     PA   M  1966  Percy     10  0.000003)
(('Perla', 'F'),         region sex  year   name  count      freq
6224255     PR   F  2012  Perla     22  0.000007)
(('Perry', 'M'),         region sex  year   name  count      freq
1194664     FL   M  1926  Perry     23  0.000011
1015348     DC   M  1951  Perry     13  0.000004
1199948     FL   M  1942  Perry     15  0.000006
2644509     MD   M  1994  Perry      8  0.000002
1396643     GA   M  1930  Perry     23  0.000011
2118689     KS   M  1929  Perry      8  0.000004
105240      AL   M  1915  Perry     20  0.000012)
(('Pershing', 'M'),         region sex  year      name  count      freq
2363667     LA   M  1921  Pershing      6  0.000003)
(('Pete', 'M'),         region sex  year  name  count      freq
4977704     SC   M  1915  Pete      8  0.000005)
(('Peter', 'M'),         region sex  year   name  count      freq
2637357     MD   M  1981  Peter     90  0.000029
4903449     RI   M  1982  Peter     57  0.000018
5933426     WA   M  1912  Peter      9  0.000010
5217148     TN   M  2013  Peter     18  0.000006
3004274     MN   M  1999  Peter    103  0.000031
348017      AZ   M  1956  Peter     58  0.000015
2826166     MI   M  1918  Peter    181  0.000090)
(('Peyton', 'F'),         region sex  year    name  count      freq
323283      AZ   F  2009  Peyton    110  0.000034
5332874     TX   F  1990  Peyton     16  0.000004
3300570     MT   F  2005  Peyton      8  0.000002)
(('Peyton', 'M'),         region sex  year    name  count      freq
4240711     NY   M  2014  Peyton     73  0.000023
1264266     FL   M  2011  Peyton    106  0.000034
3939169     NV   M  2001  Peyton      8  0.000002
3018706     MN   M  2017  Peyton     16  0.000005
370052      AZ   M  1999  Peyton     21  0.000006)
(('Phaedra', 'F'),         region sex  year     name  count      freq
4707686     PA   F  1963  Phaedra     10  0.000003)
(('Pheng', 'M'),         region sex  year   name  count      freq
2999207     MN   M  1989  Pheng     13  0.000004)
(('Phil', 'M'),         region sex  year  name  count      freq
4381043     OH   M  1932  Phil     10  0.000005)
(('Philip', 'M'),         region sex  year    name  count      freq
6179447     WV   M  1997  Philip     11  0.000003
3777885     NJ   M  1970  Philip    150  0.000045
5850348     VT   M  1941  Philip     22  0.000010
...        ...  ..   ...     ...    ...       ...
3933764     NV   M  1985  Philip      7  0.000002
1596195     IA   M  1959  Philip     81  0.000020
5663768     UT   M  1998  Philip      6  0.000002

[10 rows x 6 columns])
(('Phillip', 'M'),         region sex  year     name  count      freq
3133152     MO   M  1980  Phillip    100  0.000032
847021      CO   M  1914  Phillip     12  0.000009
4198352     NY   M  1992  Phillip    169  0.000049
...        ...  ..   ...      ...    ...       ...
2246247     KY   M  1959  Phillip    186  0.000047
3763697     NJ   M  1938  Phillip     16  0.000008
2706703     ME   M  1972  Phillip      9  0.000003

[9 rows x 6 columns])
(('Philomena', 'F'),         region sex  year       name  count      freq
4278255     OH   F  1948  Philomena      5  0.000002)
(('Phineas', 'M'),         region sex  year     name  count      freq
4237729     NY   M  2012  Phineas      8  0.000003)
(('Phoebe', 'F'),         region sex  year    name  count      freq
3082014     MO   F  2003  Phoebe     14  0.000004
1979008     IN   F  2005  Phoebe     16  0.000005
5318687     TX   F  1983  Phoebe      5  0.000002)
(('Phoenix', 'M'),         region sex  year     name  count      freq
5827254     VA   M  2017  Phoenix     40  0.000013
2544374     MA   M  2012  Phoenix     10  0.000003)
(('Phylis', 'F'),         region sex  year    name  count      freq
3958284     NY   F  1922  Phylis      5  0.000002)
(('Phyllis', 'F'),         region sex  year     name  count      freq
3284482     MT   F  1936  Phyllis     36  0.000019
1765464     IL   F  1992  Phyllis      5  0.000001
3344473     NC   F  1942  Phyllis    256  0.000099
391491      CA   F  1913  Phyllis     45  0.000044)
(('Pia', 'F'),         region sex  year name  count      freq
4014367     NY   F  1972  Pia      9  0.000003)
(('Pierce', 'M'),         region sex  year    name  count      freq
3152108     MO   M  2008  Pierce     13  0.000004
4654801     OR   M  2003  Pierce      8  0.000002)
(('Pinkie', 'F'),         region sex  year    name  count      freq
3169143     MS   F  1921  Pinkie     13  0.000006)
(('Piper', 'F'),         region sex  year   name  count      freq
1347173     GA   F  1997  Piper      8  0.000003
6148273     WV   F  2012  Piper     26  0.000008)
(('Pooja', 'F'),        region sex  year   name  count      freq
498063     CA   F  1988  Pooja     12  0.000004)
(('Porcha', 'F'),       region sex  year    name  count      freq
76809     AL   F  1988  Porcha      5  0.000001)
(('Porter', 'M'),         region sex  year    name  count      freq
5670693     UT   M  2009  Porter     85  0.000026
1674785     ID   M  2003  Porter     19  0.000006)
(('Portia', 'F'),         region sex  year    name  count      freq
5343316     TX   F  1994  Portia      8  0.000002)
(('Precious', 'F'),         region sex  year      name  count      freq
1964107     IN   F  1989  Precious      6  0.000002
581065      CA   F  2010  Precious     34  0.000011)
(('Presley', 'F'),         region sex  year     name  count      freq
2210359     KY   F  2005  Presley     14  0.000004
5399125     TX   F  2012  Presley    235  0.000076)
(('Presley', 'M'),         region sex  year     name  count      freq
3157150     MO   M  2013  Presley      5  0.000002)
(('Preston', 'M'),         region sex  year     name  count      freq
1232659     FL   M  1990  Preston     70  0.000020
3897693     NM   M  2015  Preston     12  0.000004
2119382     KS   M  1931  Preston      5  0.000003
...        ...  ..   ...      ...    ...       ...
653846      CA   M  1959  Preston     24  0.000006
4190708     NY   M  1987  Preston     33  0.000010
1015474     DC   M  1951  Preston      5  0.000001

[8 rows x 6 columns])
(('Price', 'M'),        region sex  year   name  count      freq
108579     AL   M  1921  Price      8  0.000004)
(('Prince', 'M'),         region sex  year    name  count      freq
1461618     GA   M  2014  Prince     50  0.000016)
(('Princeton', 'M'),         region sex  year       name  count      freq
4446542     OH   M  2014  Princeton     15  0.000005)
(('Priscila', 'F'),       region sex  year      name  count      freq
94213     AL   F  2010  Priscila      5  0.000002)
(('Priscilla', 'F'),         region sex  year       name  count      freq
1176589     FL   F  2015  Priscilla     36  0.000011
1950750     IN   F  1972  Priscilla     16  0.000006
1929663     IN   F  1940  Priscilla     59  0.000027
4600030     OR   F  1983  Priscilla      9  0.000003
4924490     SC   F  1940  Priscilla     34  0.000016
4878035     RI   F  1953  Priscilla     12  0.000003
4076359     NY   F  2002  Priscilla     32  0.000010)
(('Prisha', 'F'),         region sex  year    name  count      freq
569140      CA   F  2007  Prisha     15  0.000004
3739468     NJ   F  2009  Prisha     12  0.000004)
(('Prisila', 'F'),        region sex  year     name  count      freq
510587     CA   F  1991  Prisila      5  0.000001)
(('Queen', 'F'),         region sex  year   name  count      freq
4029479     NY   F  1980  Queen      6  0.000002)
(('Quentin', 'M'),         region sex  year     name  count      freq
3757684     NJ   M  1919  Quentin      7  0.000004
1673157     ID   M  1998  Quentin      6  0.000002
3889842     NM   M  1997  Quentin      8  0.000003)
(('Quiana', 'F'),         region sex  year    name  count      freq
1342799     GA   F  1993  Quiana      5  0.000001)
(('Quincy', 'F'),        region sex  year    name  count      freq
506356     CA   F  1990  Quincy      6  0.000002)
(('Quincy', 'M'),         region sex  year    name  count      freq
1428168     GA   M  1984  Quincy     22  0.000007
4222351     NY   M  2005  Quincy     27  0.000008)
(('Quinn', 'F'),         region sex  year   name  count      freq
4612274     OR   F  2003  Quinn     15  0.000005)
(('Quinten', 'M'),         region sex  year     name  count      freq
2035785     IN   M  1993  Quinten      5  0.000001
2399707     LA   M  1984  Quinten      7  0.000002)
(('Quintez', 'M'),         region sex  year     name  count      freq
1434032     GA   M  1991  Quintez      7  0.000002)
(('Quintin', 'M'),         region sex  year     name  count      freq
4829101     PA   M  1983  Quintin      8  0.000003
4656099     OR   M  2005  Quintin      6  0.000002)
(('Rachael', 'F'),         region sex  year     name  count      freq
3908194     NV   F  1986  Rachael     12  0.000004
4061865     NY   F  1996  Rachael    147  0.000046
2347211     LA   F  2008  Rachael      5  0.000001
6137174     WV   F  1980  Rachael     22  0.000007
11977       AK   F  2006  Rachael      5  0.000001
580945      CA   F  2010  Rachael     40  0.000013
3333194     NC   F  1922  Rachael     10  0.000005)
(('Racheal', 'F'),         region sex  year     name  count      freq
2089384     KS   F  1981  Racheal      5  0.000002
2326322     LA   F  1984  Racheal      8  0.000003)
(('Rachel', 'F'),         region sex  year    name  count      freq
5633575     UT   F  2016  Rachel     40  0.000013
4258074     OH   F  1917  Rachel     64  0.000034
2614577     MD   F  2020  Rachel     29  0.000010
...        ...  ..   ...     ...    ...       ...
3095886     MO   F  2016  Rachel     34  0.000011
1577462     IA   F  2017  Rachel     15  0.000005
2277927     LA   F  1910  Rachel     22  0.000043

[10 rows x 6 columns])
(('Rachell', 'F'),         region sex  year     name  count      freq
457262      CA   F  1972  Rachell      8  0.000003
2322017     LA   F  1979  Rachell      5  0.000002)
(('Rachelle', 'F'),         region sex  year      name  count      freq
5129108     TN   F  1992  Rachelle     10  0.000003
306981      AZ   F  1995  Rachelle     12  0.000004)
(('Radwan', 'M'),         region sex  year    name  count      freq
2900657     MI   M  2017  Radwan      6  0.000002)
(('Rae', 'F'),         region sex  year name  count      freq
5326840     TX   F  1987  Rae      7  0.000002
2729646     MI   F  1934  Rae      6  0.000003
1746941     IL   F  1980  Rae      7  0.000002
6006271     WI   F  1952  Rae     14  0.000004)
(('Raechel', 'F'),         region sex  year     name  count      freq
1763062     IL   F  1991  Raechel     11  0.000003)
(('Raeford', 'M'),         region sex  year     name  count      freq
3441223     NC   M  1941  Raeford     19  0.000008)
(('Raegan', 'F'),         region sex  year    name  count      freq
2214162     KY   F  2010  Raegan     34  0.000011
2347506     LA   F  2009  Raegan     19  0.000006)
(('Raelyn', 'F'),         region sex  year    name  count      freq
5429126     TX   F  2020  Raelyn     47  0.000017)
(('Rafael', 'M'),        region sex  year    name  count      freq
964103     CT   M  1989  Rafael     19  0.000005)
(('Raheem', 'M'),         region sex  year    name  count      freq
3265730     MS   M  1997  Raheem     13  0.000004
4224492     NY   M  2006  Raheem     20  0.000006
3810595     NJ   M  2009  Raheem      6  0.000002)
(('Rahsaan', 'M'),         region sex  year     name  count      freq
1858480     IL   M  1975  Rahsaan     17  0.000006)
(('Rain', 'F'),         region sex  year  name  count      freq
5380014     TX   F  2006  Rain      6  0.000002)
(('Raina', 'F'),         region sex  year   name  count      freq
1186385     FL   F  2019  Raina     26  0.000009)
(('Raleigh', 'M'),         region sex  year     name  count      freq
1263798     FL   M  2010  Raleigh      6  0.000002
717608      CA   M  1996  Raleigh      7  0.000002)
(('Ralph', 'M'),         region sex  year   name  count      freq
3871804     NM   M  1947  Ralph     44  0.000013
5853771     VT   M  1967  Ralph      9  0.000003
2377497     LA   M  1950  Ralph    116  0.000035
...        ...  ..   ...    ...    ...       ...
385534      AZ   M  2015  Ralph      6  0.000002
5199935     TN   M  1992  Ralph      6  0.000002
1580998     IA   M  1915  Ralph    208  0.000123

[8 rows x 6 columns])
(('Ram', 'M'),         region sex  year name  count      freq
5823578     VA   M  2013  Ram      5  0.000002)
(('Ramiro', 'M'),         region sex  year    name  count      freq
1240441     FL   M  1996  Ramiro     14  0.000004)
(('Ramon', 'M'),         region sex  year   name  count      freq
2877584     MI   M  1998  Ramon     18  0.000005
3157914     MO   M  2014  Ramon      7  0.000002
1657472     ID   M  1932  Ramon      6  0.000003
2529880     MA   M  1991  Ramon     16  0.000005
4575330     OK   M  2020  Ramon      8  0.000003)
(('Ramona', 'F'),         region sex  year    name  count      freq
6006238     WI   F  1952  Ramona     17  0.000005
5598564     UT   F  1955  Ramona      9  0.000002
3560359     NE   F  1936  Ramona     15  0.000008
2922534     MN   F  1954  Ramona     34  0.000009
280499      AZ   F  1952  Ramona     24  0.000007
1799621     IL   F  2011  Ramona     10  0.000003)
(('Rana', 'F'),         region sex  year  name  count      freq
2787294     MI   F  1995  Rana      8  0.000002
452698      CA   F  1970  Rana     12  0.000004)
(('Ranada', 'F'),         region sex  year    name  count      freq
4946795     SC   F  1980  Ranada      6  0.000002)
(('Randa', 'F'),        region sex  year   name  count      freq
473752     CA   F  1979  Randa      5  0.000002)
(('Randal', 'M'),         region sex  year    name  count      freq
2010759     IN   M  1946  Randal      8  0.000003
5066958     SD   M  1958  Randal     12  0.000003
3877845     NM   M  1964  Randal      5  0.000001)

(('Randall', 'M'),         region sex  year     name  count      freq
2138992     KS   M  1988  Randall      8  0.000002
6067815     WI   M  1947  Randall     97  0.000028
1058257     DE   M  1958  Randall     13  0.000003
4813754     PA   M  1962  Randall    225  0.000059
4545557     OK   M  1969  Randall     56  0.000017)
(('Randee', 'F'),         region sex  year    name  count      freq
5313726     TX   F  1981  Randee     10  0.000003)
(('Randel', 'M'),        region sex  year    name  count      freq
654014     CA   M  1959  Randel     13  0.000003)
(('Randell', 'M'),         region sex  year     name  count      freq
131496      AL   M  1964  Randell      6  0.000002
4815633     PA   M  1964  Randell      6  0.000002)
(('Randi', 'F'),         region sex  year   name  count      freq
5732888     VA   F  1997  Randi      7  0.000002
1327104     GA   F  1977  Randi      5  0.000002)
(('Randolph', 'M'),         region sex  year      name  count      freq
5433047     TX   M  1912  Randolph     11  0.000012)
(('Randy', 'M'),         region sex  year   name  count      freq
4803057     PA   M  1945  Randy     32  0.000013
951398      CT   M  1952  Randy     21  0.000006
6173149     WV   M  1973  Randy     36  0.000013)
(('Ranee', 'F'),         region sex  year   name  count      freq
2746101     MI   F  1957  Ranee      5  0.000001)
(('Raphael', 'M'),         region sex  year     name  count      freq
5521137     TX   M  1992  Raphael     30  0.000009
4201949     NY   M  1994  Raphael     53  0.000016)
(('Raquel', 'F'),         region sex  year    name  count      freq
5611615     UT   F  1985  Raquel     11  0.000003
4356260     OH   F  2012  Raquel     11  0.000004
4773156     PA   F  2014  Raquel      9  0.000003)
(('Rashard', 'M'),         region sex  year     name  count      freq
5010066     SC   M  1988  Rashard     12  0.000004)
(('Rashaun', 'M'),         region sex  year     name  count      freq
1454129     GA   M  2008  Rashaun      6  0.000002)
(('Rashawn', 'M'),         region sex  year     name  count      freq
1895010     IL   M  2006  Rashawn     13  0.000004
4183001     NY   M  1981  Rashawn     17  0.000005)
(('Rashida', 'F'),         region sex  year     name  count      freq
1337827     GA   F  1989  Rashida     11  0.000003)
(('Raul', 'M'),        region sex  year  name  count      freq
342913     AZ   M  1937  Raul     16  0.000008)
(('Raveen', 'F'),         region sex  year    name  count      freq
3381641     NC   F  1990  Raveen      5  0.000001)
(('Raven', 'F'),         region sex  year   name  count      freq
3733893     NJ   F  2005  Raven     14  0.000004)
(('Raven', 'M'),         region sex  year   name  count      freq
1885678     IL   M  1999  Raven      5  0.000002)
(('Ray', 'M'),         region sex  year name  count      freq
371791      AZ   M  2001  Ray     12  0.000004
4629175     OR   M  1930  Ray     24  0.000012
3597826     NE   M  1932  Ray     39  0.000020
3131843     MO   M  1977  Ray      9  0.000003
2701574     ME   M  1949  Ray      9  0.000003
247114      AR   M  1971  Ray     21  0.000007)
(('Rayan', 'F'),         region sex  year   name  count      freq
4085550     NY   F  2005  Rayan      5  0.000001)
(('Rayanna', 'F'),         region sex  year     name  count      freq
4095978     NY   F  2009  Rayanna      5  0.000002)
(('Rayden', 'M'),         region sex  year    name  count      freq
885360      CO   M  2008  Rayden      5  0.000001
5218292     TN   M  2014  Rayden     12  0.000004)
(('Rayford', 'M'),         region sex  year     name  count      freq
5433174     TX   M  1912  Rayford      7  0.000008)
(('Raylan', 'M'),         region sex  year    name  count      freq
4573784     OK   M  2018  Raylan      8  0.000003)
(('Raylyn', 'F'),         region sex  year    name  count      freq
5402107     TX   F  2012  Raylyn      6  0.000002)
(('Raymond', 'F'),        region sex  year     name  count      freq
459429     CA   F  1973  Raymond      7  0.000003)
(('Raymond', 'M'),         region sex  year     name  count      freq
741485      CA   M  2006  Raymond    399  0.000117
231869      AR   M  1933  Raymond    121  0.000065
6175380     WV   M  1981  Raymond     23  0.000007
...        ...  ..   ...      ...    ...       ...
5813999     VA   M  2005  Raymond     31  0.000009
4632755     OR   M  1947  Raymond     73  0.000021
4905607     RI   M  1994  Raymond     15  0.000005

[8 rows x 6 columns])
(('Raymundo', 'M'),         region sex  year      name  count      freq
5559079     TX   M  2010  Raymundo     34  0.000011
3896558     NM   M  2012  Raymundo      5  0.000002)
(('Rayna', 'F'),         region sex  year   name  count      freq
5298095     TX   F  1972  Rayna      5  0.000002)
(('Raziah', 'F'),         region sex  year    name  count      freq
1170984     FL   F  2012  Raziah      6  0.000002)
(('Raziel', 'M'),         region sex  year    name  count      freq
4217651     NY   M  2002  Raziel      6  0.000002)
(('Reba', 'F'),         region sex  year  name  count      freq
1732901     IL   F  1970  Reba      8  0.000002
2181789     KY   F  1957  Reba     10  0.000002
1133139     FL   F  1994  Reba      5  0.000002)
(('Rebecca', 'F'),         region sex  year     name  count      freq
276610      AZ   F  1939  Rebecca     12  0.000006
5761720     VA   F  2020  Rebecca     37  0.000013
2447315     MA   F  1953  Rebecca     77  0.000021
...        ...  ..   ...      ...    ...       ...
4887398     RI   F  1995  Rebecca     58  0.000018
3092529     MO   F  2013  Rebecca     36  0.000012
3574166     NE   F  1978  Rebecca    128  0.000044

[9 rows x 6 columns])
(('Rebekah', 'F'),         region sex  year     name  count      freq
2107135     KS   F  2012  Rebekah      6  0.000002
3368253     NC   F  1975  Rebekah     32  0.000012
3411397     NC   F  2013  Rebekah     31  0.000010
1346499     GA   F  1997  Rebekah     71  0.000022)
(('Reece', 'M'),         region sex  year   name  count      freq
4555858     OK   M  1991  Reece      5  0.000001)
(('Reed', 'F'),         region sex  year  name  count      freq
4061306     NY   F  1995  Reed      6  0.000002)
(('Reed', 'M'),         region sex  year  name  count      freq
1893286     IL   M  2005  Reed     21  0.000006
3005657     MN   M  2001  Reed     32  0.000010
4402571     OH   M  1968  Reed      6  0.000002)
(('Reese', 'F'),         region sex  year   name  count      freq
1050566     DE   F  2005  Reese      6  0.000002
89151       AL   F  2005  Reese     13  0.000004
2820924     MI   F  2019  Reese     52  0.000018)
(('Reese', 'M'),         region sex  year   name  count      freq
4981255     SC   M  1923  Reese      6  0.000003
4573912     OK   M  2018  Reese      6  0.000002
3149315     MO   M  2005  Reese     19  0.000006)
(('Regan', 'F'),         region sex  year   name  count      freq
6143034     WV   F  1997  Regan      5  0.000002
1175713     FL   F  2014  Regan      6  0.000002
6033366     WI   F  1996  Regan      6  0.000002)
(('Reggie', 'M'),         region sex  year    name  count      freq
5657401     UT   M  1984  Reggie      6  0.000002)
(('Regina', 'F'),         region sex  year    name  count      freq
1120433     FL   F  1987  Regina     71  0.000022
5367460     TX   F  2003  Regina     56  0.000017
3505573     ND   F  1912  Regina     10  0.000011
...        ...  ..   ...     ...    ...       ...
2077895     KS   F  1957  Regina     51  0.000013
4255565     OH   F  1912  Regina     26  0.000029
2068469     KS   F  1932  Regina      9  0.000005

[10 rows x 6 columns])
(('Reginald', 'F'),         region sex  year      name  count      freq
1315648     GA   F  1963  Reginald      6  0.000002)
(('Reginald', 'M'),         region sex  year      name  count      freq
2257952     KY   M  1986  Reginald      9  0.000003
4195130     NY   M  1990  Reginald     75  0.000021
5848326     VT   M  1923  Reginald     17  0.000008
3009790     MN   M  2006  Reginald      5  0.000001
2020873     IN   M  1967  Reginald     24  0.000008)
(('Regine', 'F'),         region sex  year    name  count      freq
4025272     NY   F  1978  Regine     10  0.000003)
(('Reid', 'M'),         region sex  year  name  count      freq
1440711     GA   M  1998  Reid     14  0.000004
4645616     OR   M  1984  Reid      5  0.000002
134516      AL   M  1970  Reid      5  0.000001
2264518     KY   M  2000  Reid      5  0.000001)
(('Reign', 'M'),         region sex  year   name  count      freq
5580500     TX   M  2018  Reign     23  0.000008)
(('Reilly', 'F'),         region sex  year    name  count      freq
829430      CO   F  2004  Reilly     10  0.000003
4355381     OH   F  2011  Reilly      5  0.000002)
(('Reilly', 'M'),         region sex  year    name  count      freq
5963310     WA   M  1992  Reilly      5  0.000001)
(('Reina', 'F'),         region sex  year   name  count      freq
5330369     TX   F  1989  Reina     20  0.000006)
(('Reinaldo', 'M'),         region sex  year      name  count      freq
3774180     NJ   M  1963  Reinaldo     12  0.000003)
(('Remi', 'F'),        region sex  year  name  count      freq
619288     CA   F  2020  Remi    219  0.000079)
(('Remi', 'M'),         region sex  year  name  count      freq
4240377     NY   M  2013  Remi      5  0.000002)
(('Remington', 'M'),         region sex  year       name  count      freq
3551149     ND   M  2016  Remington      8  0.000003)
(('Remy', 'F'),         region sex  year  name  count      freq
5154858     TN   F  2016  Remy      8  0.000003)
(('Remy', 'M'),         region sex  year  name  count      freq
4249096     NY   M  2018  Remy     46  0.000016)
(('Rena', 'F'),         region sex  year  name  count      freq
3164942     MS   F  1912  Rena      8  0.000009)
(('Renae', 'F'),        region sex  year   name  count      freq
448165     CA   F  1968  Renae     26  0.000008
60802      AL   F  1964  Renae      9  0.000002)
(('Renata', 'F'),         region sex  year    name  count      freq
4708744     PA   F  1964  Renata      9  0.000002)
(('Rene', 'F'),         region sex  year  name  count      freq
286250      AZ   F  1964  Rene      8  0.000002
6130233     WV   F  1961  Rene      6  0.000002)
(('Rene', 'M'),         region sex  year  name  count      freq
629173      CA   M  1925  Rene      7  0.000003
2046819     IN   M  2007  Rene      8  0.000002
640847      CA   M  1945  Rene     40  0.000016)
(('Renea', 'F'),         region sex  year   name  count      freq
5295969     TX   F  1971  Renea      9  0.000003)
(('Renee', 'F'),         region sex  year   name  count      freq
3293796     MT   F  1975  Renee     12  0.000004
5117377     TN   F  1976  Renee     22  0.000008
3904766     NV   F  1969  Renee      6  0.000002
...        ...  ..   ...    ...    ...       ...
5732592     VA   F  1997  Renee     13  0.000004
2434273     MA   F  1921  Renee      5  0.000002
3073853     MO   F  1994  Renee     23  0.000007

[8 rows x 6 columns])
(('Renzo', 'M'),         region sex  year   name  count      freq
4221768     NY   M  2004  Renzo      5  0.000002)
(('Reshard', 'M'),         region sex  year     name  count      freq
1258119     FL   M  2007  Reshard      7  0.000002)
(('Reta', 'F'),         region sex  year  name  count      freq
2173721     KY   F  1942  Reta      5  0.000002)
(('Retha', 'F'),         region sex  year   name  count      freq
5094625     TN   F  1938  Retha      9  0.000004
172887      AR   F  1923  Retha     15  0.000007
4463701     OK   F  1926  Retha     17  0.000008)
(('Reuben', 'M'),         region sex  year    name  count      freq
5173230     TN   M  1939  Reuben      6  0.000003
1397190     GA   M  1931  Reuben     16  0.000008)
(('Reva', 'F'),         region sex  year  name  count      freq
3957966     NY   F  1922  Reva     14  0.000007)
(('Rex', 'M'),         region sex  year name  count      freq
3442966     NC   M  1944  Rex     23  0.000009
1592992     IA   M  1950  Rex     38  0.000011
5642717     UT   M  1937  Rex     18  0.000009
352352      AZ   M  1966  Rex      6  0.000002
1454133     GA   M  2008  Rex      6  0.000002
2114234     KS   M  1916  Rex     24  0.000013)
(('Reymundo', 'M'),         region sex  year      name  count      freq
3869659     NM   M  1938  Reymundo      5  0.000002)
(('Reynold', 'M'),         region sex  year     name  count      freq
4385980     OH   M  1942  Reynold      5  0.000002)
(('Rhea', 'F'),         region sex  year  name  count      freq
1626356     ID   F  1928  Rhea      5  0.000002
4682231     PA   F  1933  Rhea     13  0.000007
4625763     OR   F  2020  Rhea      6  0.000002
1349885     GA   F  1999  Rhea      8  0.000002)
(('Rhianna', 'F'),         region sex  year     name  count      freq
3854212     NM   F  2000  Rhianna      5  0.000001)
(('Rhiannon', 'F'),         region sex  year      name  count      freq
4078874     NY   F  2003  Rhiannon     26  0.000008)
(('Rhonda', 'F'),         region sex  year    name  count      freq
3520813     ND   F  1978  Rhonda     10  0.000003)
(('Rhyleigh', 'F'),         region sex  year      name  count      freq
1382618     GA   F  2018  Rhyleigh      7  0.000002)
(('Rhys', 'M'),         region sex  year  name  count      freq
2056531     IN   M  2017  Rhys     17  0.000006
2057596     IN   M  2018  Rhys     15  0.000005
3156788     MO   M  2013  Rhys     11  0.000004)
(('Rian', 'M'),         region sex  year  name  count      freq
1455270     GA   M  2009  Rian      9  0.000003)
(('Ricardo', 'M'),         region sex  year     name  count      freq
1267978     FL   M  2013  Ricardo     91  0.000029
2388938     LA   M  1968  Ricardo      8  0.000003
2985770     MN   M  1955  Ricardo      6  0.000002
680821      CA   M  1980  Ricardo    781  0.000249
3869244     NM   M  1937  Ricardo     16  0.000008)
(('Rich', 'M'),         region sex  year  name  count      freq
2854467     MI   M  1969  Rich      6  0.000002)
(('Richard', 'F'),         region sex  year     name  count      freq
2209641     KY   F  2004  Richard     12  0.000004)
(('Richard', 'M'),         region sex  year     name  count      freq
5945968     WA   M  1958  Richard    752  0.000191
2710407     ME   M  1992  Richard     47  0.000014
3250941     MS   M  1966  Richard    301  0.000092
...        ...  ..   ...      ...    ...       ...
1580440     IA   M  1913  Richard    143  0.000139
1508446     HI   M  1959  Richard    131  0.000033
3316847     MT   M  1979  Richard     47  0.000016

[12 rows x 6 columns])
(('Richie', 'M'),        region sex  year    name  count      freq
132495     AL   M  1966  Richie      6  0.000002)
(('Rick', 'M'),         region sex  year  name  count      freq
661624      CA   M  1966  Rick    262  0.000080
6085831     WI   M  1989  Rick      7  0.000002)
(('Rickey', 'M'),         region sex  year    name  count      freq
1846210     IL   M  1961  Rickey    102  0.000026
6082468     WI   M  1982  Rickey      6  0.000002
2260605     KY   M  1992  Rickey      6  0.000002)
(('Ricki', 'F'),         region sex  year   name  count      freq
3075083     MO   F  1995  Ricki      7  0.000002)
(('Ricky', 'M'),         region sex  year   name  count      freq
254191      AR   M  1990  Ricky     28  0.000008
1853506     IL   M  1970  Ricky    126  0.000038
1061979     DE   M  1982  Ricky      6  0.000002
2257768     KY   M  1986  Ricky     57  0.000018
2123359     KS   M  1945  Ricky     13  0.000005
131588      AL   M  1965  Ricky    189  0.000055)
(('Rida', 'F'),         region sex  year  name  count      freq
1798048     IL   F  2010  Rida      7  0.000002)
(('Ridge', 'M'),         region sex  year   name  count      freq
2415830     LA   M  2005  Ridge      7  0.000002)
(('Rigoberto', 'M'),         region sex  year       name  count      freq
5975323     WA   M  2007  Rigoberto      6  0.000002
360544      AZ   M  1984  Rigoberto     11  0.000003)

(('Riley', 'F'),         region sex  year   name  count      freq
1004343     DC   F  2002  Riley      7  0.000002
1648776     ID   F  2009  Riley     27  0.000008
930897      CT   F  2001  Riley     48  0.000015
1967165     IN   F  1993  Riley     16  0.000005
6201005     WY   F  2015  Riley      8  0.000003)
(('Riley', 'M'),         region sex  year   name  count      freq
5457217     TX   M  1938  Riley     11  0.000005
2360891     LA   M  1915  Riley      5  0.000003
1520389     HI   M  2000  Riley     17  0.000005
2875351     MI   M  1996  Riley     84  0.000026
2270850     KY   M  2011  Riley     63  0.000020
1890013     IL   M  2003  Riley    169  0.000051)
(('Rishi', 'M'),         region sex  year   name  count      freq
780074      CA   M  2019  Rishi     26  0.000009
2539920     MA   M  2006  Rishi      5  0.000001)
(('Rita', 'F'),         region sex  year  name  count      freq
5247376     TX   F  1933  Rita    107  0.000058
2485414     MA   F  2006  Rita     10  0.000003
1090203     FL   F  1958  Rita    100  0.000025
4275907     OH   F  1946  Rita    342  0.000113
276280      AZ   F  1938  Rita     25  0.000012)
(('Riva', 'F'),         region sex  year  name  count      freq
1809839     IL   F  2016  Riva      5  0.000002
3738795     NJ   F  2008  Riva      5  0.000001)
(('Rob', 'M'),         region sex  year name  count      freq
4635355     OR   M  1955  Rob      6  0.000002
643702      CA   M  1948  Rob      6  0.000002)
(('Robbie', 'F'),         region sex  year    name  count      freq
3166487     MS   F  1916  Robbie     25  0.000014)
(('Robbie', 'M'),        region sex  year    name  count      freq
130175     AL   M  1962  Robbie     27  0.000007
696866     CA   M  1988  Robbie     16  0.000005)
(('Robby', 'M'),         region sex  year   name  count      freq
4641262     OR   M  1973  Robby      9  0.000003)
(('Robert', 'F'),         region sex  year    name  count      freq
1732555     IL   F  1970  Robert     17  0.000005
2433278     MA   F  1919  Robert      9  0.000005
1334122     GA   F  1985  Robert      7  0.000002)
(('Robert', 'M'),         region sex  year    name  count      freq
2023877     IN   M  1973  Robert   1071  0.000388
3928334     NV   M  1953  Robert    126  0.000034
5492925     TX   M  1972  Robert   2497  0.000864
...        ...  ..   ...     ...    ...       ...
4187626     NY   M  1985  Robert   2308  0.000711
6176303     WV   M  1985  Robert    244  0.000075
4556931     OK   M  1994  Robert    206  0.000062

[8 rows x 6 columns])
(('Roberta', 'F'),         region sex  year     name  count      freq
4463508     OK   F  1926  Roberta     79  0.000037
3344064     NC   F  1941  Roberta     33  0.000014
523030      CA   F  1995  Roberta     23  0.000007
...        ...  ..   ...      ...    ...       ...
1924182     IN   F  1927  Roberta     89  0.000041
3848540     NM   F  1988  Roberta     10  0.000003
2940743     MN   F  1986  Roberta      5  0.000002

[9 rows x 6 columns])
(('Roberto', 'M'),         region sex  year     name  count      freq
3153300     MO   M  2009  Roberto      7  0.000002
4410664     OH   M  1979  Roberto      9  0.000003
4651212     OR   M  1997  Roberto     22  0.000007
261414      AR   M  2005  Roberto     11  0.000003
2848407     MI   M  1960  Roberto     11  0.000003)
(('Robin', 'F'),         region sex  year   name  count      freq
193031      AR   F  1965  Robin    105  0.000031
1965366     IN   F  1991  Robin     20  0.000006
4500916     OK   F  1995  Robin      9  0.000003
6050331     WI   F  2015  Robin      9  0.000003
2176845     KY   F  1948  Robin      6  0.000002
616633      CA   F  2019  Robin     25  0.000009)
(('Robin', 'M'),         region sex  year   name  count      freq
1843057     IL   M  1957  Robin     87  0.000022
348858      AZ   M  1958  Robin     21  0.000005)
(('Robinson', 'M'),         region sex  year      name  count      freq
4186938     NY   M  1984  Robinson     14  0.000004)
(('Robyn', 'F'),         region sex  year   name  count      freq
4591687     OR   F  1966  Robyn     13  0.000004
1636928     ID   F  1973  Robyn     13  0.000005)
(('Rochel', 'F'),        region sex  year    name  count      freq
489770     CA   F  1985  Rochel      6  0.000002)
(('Rochelle', 'F'),         region sex  year      name  count      freq
6024050     WI   F  1983  Rochelle     11  0.000003
3904960     NV   F  1970  Rochelle      6  0.000002
3959740     NY   F  1924  Rochelle      6  0.000003)
(('Rocio', 'F'),         region sex  year   name  count      freq
5321178     TX   F  1985  Rocio     71  0.000022)
(('Rocky', 'M'),         region sex  year   name  count      freq
701216      CA   M  1990  Rocky     37  0.000010
2131362     KS   M  1967  Rocky      6  0.000002
246587      AR   M  1969  Rocky      5  0.000002)
(('Rod', 'M'),        region sex  year name  count      freq
129414     AL   M  1960  Rod      5  0.000001)
(('Roderick', 'M'),         region sex  year      name  count      freq
1456259     GA   M  2010  Roderick     22  0.000007
6171070     WV   M  1965  Roderick      5  0.000001
4151087     NY   M  1952  Roderick     42  0.000012
950762      CT   M  1949  Roderick      7  0.000002
875272      CO   M  1994  Roderick      5  0.000002
359721      AZ   M  1982  Roderick      5  0.000002
1402427     GA   M  1941  Roderick      7  0.000003)
(('Rodger', 'M'),         region sex  year    name  count      freq
2128691     KS   M  1960  Rodger      9  0.000002
2013253     IN   M  1952  Rodger     20  0.000006
6060235     WI   M  1924  Rodger      5  0.000002)
(('Rodney', 'M'),         region sex  year    name  count      freq
2650552     MD   M  2003  Rodney     20  0.000006
5939478     WA   M  1939  Rodney     45  0.000022
149417      AL   M  1998  Rodney     34  0.000010
3136889     MO   M  1987  Rodney     51  0.000016
1884756     IL   M  1999  Rodney     29  0.000009
232566      AR   M  1934  Rodney      8  0.000004)
(('Rodolfo', 'M'),         region sex  year     name  count      freq
3877042     NM   M  1962  Rodolfo      8  0.000002)
(('Rodrigo', 'M'),         region sex  year     name  count      freq
3798063     NJ   M  1997  Rodrigo      6  0.000002)
(('Rogelio', 'M'),         region sex  year     name  count      freq
669326      CA   M  1972  Rogelio     86  0.000030
4212044     NY   M  1999  Rogelio      6  0.000002
1866287     IL   M  1983  Rogelio     29  0.000009)
(('Roger', 'M'),         region sex  year   name  count      freq
5483111     TX   M  1963  Roger    410  0.000109
3151289     MO   M  2007  Roger     10  0.000003
2546201     MA   M  2014  Roger      6  0.000002
3930295     NV   M  1966  Roger     13  0.000004
4634493     OR   M  1953  Roger    144  0.000039
3658842     NH   M  1988  Roger      7  0.000002)
(('Rohan', 'M'),         region sex  year   name  count      freq
5575060     TX   M  2016  Rohan     26  0.000008
3813331     NJ   M  2012  Rohan     25  0.000008
3790179     NJ   M  1988  Rohan      7  0.000002
4251372     NY   M  2019  Rohan     24  0.000008)
(('Roland', 'M'),         region sex  year    name  count      freq
2409892     LA   M  1998  Roland     10  0.000003
5220432     TN   M  2016  Roland     11  0.000004
5647653     UT   M  1956  Roland     10  0.000003
...        ...  ..   ...     ...    ...       ...
5008776     SC   M  1985  Roland      5  0.000002
230766      AR   M  1930  Roland     18  0.000009
3606405     NE   M  1963  Roland      6  0.000002

[8 rows x 6 columns])
(('Romaine', 'F'),         region sex  year     name  count      freq
4682081     PA   F  1933  Romaine     36  0.000019)
(('Roman', 'M'),         region sex  year   name  count      freq
4843853     PA   M  2000  Roman     35  0.000010
2715082     ME   M  2012  Roman      9  0.000003
1853740     IL   M  1970  Roman     25  0.000007
4650737     OR   M  1996  Roman     15  0.000005)
(('Romana', 'F'),         region sex  year    name  count      freq
5256159     TX   F  1941  Romana      5  0.000002)
(('Romeo', 'M'),         region sex  year   name  count      freq
1260747     FL   M  2009  Romeo     44  0.000013)
(('Romero', 'M'),        region sex  year    name  count      freq
741262     CA   M  2005  Romero      5  0.000001)
(('Ron', 'M'),         region sex  year name  count      freq
2129719     KS   M  1963  Ron     26  0.000007
862059      CO   M  1966  Ron     22  0.000007)
(('Ronak', 'M'),        region sex  year   name  count      freq
745696     CA   M  2007  Ronak     12  0.000003)
(('Ronald', 'M'),         region sex  year    name  count      freq
5529575     TX   M  1997  Ronald    125  0.000039
3593085     NE   M  1915  Ronald     18  0.000011
851477      CO   M  1933  Ronald    113  0.000061
708345      CA   M  1993  Ronald    345  0.000103
4442215     OH   M  2011  Ronald     37  0.000012)
(('Ronaldo', 'M'),         region sex  year     name  count      freq
5217741     TN   M  2013  Ronaldo      5  0.000002)
(('Ronan', 'M'),         region sex  year   name  count      freq
5860598     VT   M  2018  Ronan      9  0.000003
4573785     OK   M  2018  Ronan      8  0.000003)
(('Ronda', 'F'),         region sex  year   name  count      freq
4723313     PA   F  1978  Ronda     18  0.000006
6008878     WI   F  1957  Ronda     13  0.000003
1090516     FL   F  1958  Ronda     14  0.000004
4276547     OH   F  1946  Ronda      6  0.000002
1547489     IA   F  1960  Ronda     42  0.000011
5043600     SD   F  1961  Ronda     20  0.000005)
(('Roni', 'M'),        region sex  year  name  count      freq
742898     CA   M  2006  Roni     11  0.000003)
(('Ronne', 'F'),         region sex  year   name  count      freq
3979657     NY   F  1948  Ronne      8  0.000002)
(('Ronnie', 'M'),         region sex  year    name  count      freq
4379655     OH   M  1929  Ronnie      8  0.000004
5028814     SC   M  2016  Ronnie      9  0.000003
5172941     TN   M  1939  Ronnie     55  0.000027)
(('Ronny', 'M'),         region sex  year   name  count      freq
5494589     TX   M  1973  Ronny     24  0.000009)
(('Roosevelt', 'M'),         region sex  year       name  count      freq
122506      AL   M  1948  Roosevelt     77  0.000023
118842      AL   M  1941  Roosevelt     80  0.000035
5194383     TN   M  1982  Roosevelt      5  0.000002
719675      CA   M  1997  Roosevelt     10  0.000003)
(('Rory', 'F'),         region sex  year  name  count      freq
2611782     MD   F  2017  Rory     10  0.000003)
(('Rory', 'M'),         region sex  year  name  count      freq
3884862     NM   M  1984  Rory      5  0.000002
2526664     MA   M  1985  Rory     23  0.000007
1838429     IL   M  1950  Rory     14  0.000004
4444906     OH   M  2013  Rory     36  0.000012
383134      AZ   M  2013  Rory     15  0.000005
2854193     MI   M  1969  Rory     17  0.000005)
(('Rosa', 'F'),         region sex  year  name  count      freq
3339387     NC   F  1933  Rosa    181  0.000097
3709748     NJ   F  1984  Rosa     32  0.000010
3182121     MS   F  1946  Rosa     34  0.000011)
(('Rosabella', 'F'),         region sex  year       name  count      freq
1182513     FL   F  2017  Rosabella      8  0.000003)
(('Rosalee', 'F'),         region sex  year     name  count      freq
605800      CA   F  2016  Rosalee     16  0.000005
2171041     KY   F  1937  Rosalee      6  0.000003
1702934     IL   F  1941  Rosalee     12  0.000005)
(('Rosalia', 'F'),         region sex  year     name  count      freq
5366867     TX   F  2002  Rosalia      5  0.000002)
(('Rosalie', 'F'),         region sex  year     name  count      freq
5233769     TX   F  1920  Rosalie     46  0.000022
3168662     MS   F  1920  Rosalie      9  0.000004
3225685     MS   F  2020  Rosalie     13  0.000005
1537454     IA   F  1937  Rosalie     21  0.000011)
(('Rosalind', 'F'),         region sex  year      name  count      freq
3670372     NJ   F  1922  Rosalind     10  0.000005
552842      CA   F  2003  Rosalind     14  0.000004
6007495     WI   F  1954  Rosalind      5  0.000001)
(('Rosalinda', 'F'),         region sex  year       name  count      freq
4024149     NY   F  1977  Rosalinda      5  0.000002)
(('Rosaline', 'F'),         region sex  year      name  count      freq
1472376     HI   F  1918  Rosaline      6  0.000003
2434236     MA   F  1921  Rosaline      6  0.000003)
(('Rosalva', 'F'),        region sex  year     name  count      freq
530659     CA   F  1997  Rosalva     14  0.000004)
(('Rosalyn', 'F'),         region sex  year     name  count      freq
5110988     TN   F  1966  Rosalyn      9  0.000003
1695747     IL   F  1930  Rosalyn     12  0.000006
3048531     MO   F  1959  Rosalyn     14  0.000004)
(('Rosamond', 'F'),         region sex  year      name  count      freq
1924439     IN   F  1927  Rosamond      8  0.000004)
(('Rosamund', 'F'),        region sex  year      name  count      freq
622656     CA   F  2020  Rosamund      5  0.000002)
(('Rosanne', 'F'),         region sex  year     name  count      freq
1542059     IA   F  1948  Rosanne      5  0.000002
5108643     TN   F  1962  Rosanne      5  0.000001)
(('Rosario', 'M'),        region sex  year     name  count      freq
656357     CA   M  1961  Rosario     10  0.000003)
(('Roscoe', 'M'),         region sex  year    name  count      freq
3245003     MS   M  1953  Roscoe     17  0.000005
1193760     FL   M  1923  Roscoe     10  0.000005
3424884     NC   M  1913  Roscoe     22  0.000021)
(('Rose', 'F'),         region sex  year  name  count      freq
5865803     WA   F  1929  Rose     47  0.000023
3289960     MT   F  1960  Rose     14  0.000004
3286787     MT   F  1948  Rose     20  0.000006
...        ...  ..   ...   ...    ...       ...
2157932     KY   F  1913  Rose     66  0.000064
5989799     WI   F  1912  Rose    111  0.000125
3304353     MT   F  2020  Rose      6  0.000002

[9 rows x 6 columns])
(('Roseanne', 'F'),         region sex  year      name  count      freq
3971754     NY   F  1940  Roseanne     16  0.000007
1705406     IL   F  1944  Roseanne      7  0.000003)
(('Rosella', 'F'),         region sex  year     name  count      freq
4687562     PA   F  1941  Rosella     15  0.000007
4914788     SC   F  1918  Rosella      5  0.000002
2730529     MI   F  1936  Rosella     12  0.000006

5036034     SD   F  1927  Rosella      6  0.000003)
(('Roselyn', 'F'),         region sex  year     name  count      freq
330690      AZ   F  2014  Roselyn      7  0.000002
4059315     NY   F  1994  Roselyn      5  0.000002)
(('Rosemarie', 'F'),         region sex  year       name  count      freq
593550      CA   F  2013  Rosemarie     23  0.000007
4689553     PA   F  1944  Rosemarie    149  0.000059
1715808     IL   F  1956  Rosemarie     37  0.000009
3668811     NJ   F  1918  Rosemarie     10  0.000005)
(('Rosemary', 'F'),         region sex  year      name  count      freq
6011054     WI   F  1961  Rosemary     30  0.000008
3901166     NV   F  1943  Rosemary      6  0.000002
2282549     LA   F  1920  Rosemary     47  0.000022
449767      CA   F  1969  Rosemary    100  0.000031)
(('Rosetta', 'F'),         region sex  year     name  count      freq
3031866     MO   F  1929  Rosetta     16  0.000008
2744786     MI   F  1956  Rosetta     10  0.000003
4935831     SC   F  1961  Rosetta     14  0.000004
178082      AR   F  1933  Rosetta     11  0.000006
5692551     VA   F  1939  Rosetta     31  0.000015)
(('Rosette', 'F'),        region sex  year     name  count      freq
611714     CA   F  2017  Rosette      5  0.000002)
(('Rosie', 'F'),         region sex  year   name  count      freq
4934938     SC   F  1959  Rosie      5  0.000001
2061488     KS   F  1914  Rosie      8  0.000006)
(('Rosita', 'F'),         region sex  year    name  count      freq
286167      AZ   F  1964  Rosita     11  0.000003
501584      CA   F  1989  Rosita     11  0.000003
1729467     IL   F  1967  Rosita      5  0.000002)
(('Ross', 'M'),         region sex  year  name  count      freq
3764644     NJ   M  1941  Ross     15  0.000007
3802909     NJ   M  2002  Ross      6  0.000002
120204      AL   M  1943  Ross      7  0.000003
239541      AR   M  1951  Ross      6  0.000002
3260717     MS   M  1987  Ross     13  0.000004
2987505     MN   M  1960  Ross     55  0.000014
5639385     UT   M  1921  Ross     12  0.000006)
(('Rowan', 'F'),         region sex  year   name  count      freq
1789238     IL   F  2006  Rowan     21  0.000006
1781095     IL   F  2001  Rowan      5  0.000002)
(('Rowan', 'M'),         region sex  year   name  count      freq
3485456     NC   M  2005  Rowan     10  0.000003)
(('Rowdy', 'M'),        region sex  year   name  count      freq
761646     CA   M  2012  Rowdy      5  0.000002)
(('Rowen', 'M'),         region sex  year   name  count      freq
2154508     KS   M  2017  Rowen     12  0.000004)
(('Rowena', 'F'),         region sex  year    name  count      freq
1291477     GA   F  1924  Rowena      5  0.000002
2279286     LA   F  1913  Rowena      6  0.000006
3037034     MO   F  1939  Rowena      6  0.000003)
(('Rowyn', 'F'),         region sex  year   name  count      freq
1992551     IN   F  2016  Rowyn      9  0.000003)
(('Roxana', 'F'),         region sex  year    name  count      freq
2594082     MD   F  1999  Roxana      6  0.000002)
(('Roxann', 'F'),         region sex  year    name  count      freq
1707115     IL   F  1946  Roxann      5  0.000002)
(('Roxanna', 'F'),         region sex  year     name  count      freq
3993393     NY   F  1959  Roxanna     11  0.000003
2308004     LA   F  1962  Roxanna     12  0.000003)
(('Roxanne', 'F'),         region sex  year     name  count      freq
5152453     TN   F  2014  Roxanne      7  0.000002)
(('Roxie', 'F'),         region sex  year   name  count      freq
3033041     MO   F  1931  Roxie      7  0.000004
2738756     MI   F  1949  Roxie     12  0.000004
3357950     NC   F  1961  Roxie      9  0.000002
3287868     MT   F  1952  Roxie      5  0.000001)
(('Roy', 'M'),         region sex  year name  count      freq
3429750     NC   M  1922  Roy    318  0.000149
3226124     MS   M  1910  Roy     30  0.000058
5465459     TX   M  1947  Roy    718  0.000209
...        ...  ..   ...  ...    ...       ...
6177868     WV   M  1991  Roy     16  0.000005
2226518     KY   M  1919  Roy    252  0.000129
2618311     MD   M  1924  Roy     51  0.000023

[9 rows x 6 columns])
(('Royal', 'M'),         region sex  year   name  count      freq
4572140     OK   M  2016  Royal     10  0.000003)
(('Royce', 'M'),        region sex  year   name  count      freq
645166     CA   M  1950  Royce     12  0.000004)
(('Ruben', 'M'),         region sex  year   name  count      freq
5947140     WA   M  1960  Ruben      9  0.000002
1440567     GA   M  1998  Ruben     21  0.000006
873770      CO   M  1992  Ruben     25  0.000007
2868292     MI   M  1988  Ruben     20  0.000006)
(('Rubin', 'M'),         region sex  year   name  count     freq
4133403     NY   M  1926  Rubin     21  0.00001)
(('Ruby', 'F'),         region sex  year  name  count      freq
5634329     UT   F  2017  Ruby    131  0.000043
1075804     FL   F  1929  Ruby    112  0.000055
5589254     UT   F  1919  Ruby     36  0.000018
3698374     NJ   F  1971  Ruby      6  0.000002
3833736     NM   F  1952  Ruby     15  0.000004)
(('Rubye', 'F'),         region sex  year   name  count      freq
5226623     TX   F  1912  Rubye     28  0.000032)
(('Ruchel', 'F'),         region sex  year    name  count      freq
4075772     NY   F  2001  Ruchel      5  0.000002)
(('Rudolph', 'M'),         region sex  year     name  count      freq
227773      AR   M  1923  Rudolph     12  0.000006
1879024     IL   M  1994  Rudolph      6  0.000002
117464      AL   M  1938  Rudolph     19  0.000009
...        ...  ..   ...      ...    ...       ...
231288      AR   M  1931  Rudolph      8  0.000004
4983899     SC   M  1930  Rudolph     27  0.000013
4130516     NY   M  1922  Rudolph    112  0.000053

[8 rows x 6 columns])
(('Rudy', 'M'),         region sex  year  name  count      freq
2842410     MI   M  1951  Rudy     19  0.000005
3885079     NM   M  1985  Rudy     11  0.000003
2834847     MI   M  1936  Rudy     12  0.000006
5810598     VA   M  2001  Rudy      8  0.000002)
(('Rufus', 'M'),         region sex  year   name  count      freq
4978707     SC   M  1918  Rufus     51  0.000025
4808040     PA   M  1953  Rufus      9  0.000002)
(('Ruie', 'F'),         region sex  year  name  count      freq
2161886     KY   F  1920  Ruie      5  0.000002)
(('Russ', 'M'),         region sex  year  name  count      freq
4815428     PA   M  1964  Russ     12  0.000003
644282      CA   M  1949  Russ     14  0.000004)
(('Russell', 'M'),         region sex  year     name  count      freq
5945596     WA   M  1957  Russell    137  0.000034
5059297     SD   M  1921  Russell     29  0.000013
1870061     IL   M  1987  Russell     81  0.000025
4810295     PA   M  1957  Russell    391  0.000098
6164097     WV   M  1946  Russell     96  0.000032
5455971     TX   M  1937  Russell     53  0.000027)
(('Rusty', 'M'),         region sex  year   name  count      freq
1207137     FL   M  1957  Rusty     12  0.000003
3453254     NC   M  1961  Rusty     23  0.000006)
(('Ruth', 'F'),         region sex  year  name  count      freq
5235649     TX   F  1922  Ruth    691  0.000325
2280        AK   F  1957  Ruth     17  0.000004
3518740     ND   F  1968  Ruth      6  0.000002
2794859     MI   F  2001  Ruth     22  0.000007)
(('Ruth', 'M'),         region sex  year  name  count      freq
4134936     NY   M  1928  Ruth     11  0.000005)
(('Ruthann', 'F'),         region sex  year     name  count      freq
3986817     NY   F  1954  Ruthann      7  0.000002)
(('Ruthie', 'F'),         region sex  year    name  count      freq
4101146     NY   F  2011  Ruthie      5  0.000002)
(('Ryan', 'F'),         region sex  year  name  count      freq
3908037     NV   F  1985  Ryan      6  0.000002
3722680     NJ   F  1996  Ryan     20  0.000006
2205051     KY   F  1997  Ryan      7  0.000002
4357956     OH   F  2013  Ryan     11  0.000004
4959007     SC   F  2000  Ryan      9  0.000003)
(('Ryan', 'M'),         region sex  year  name  count      freq
2665095     MD   M  2020  Ryan    115  0.000041
1848048     IL   M  1963  Ryan     22  0.000006
2252676     KY   M  1974  Ryan    118  0.000043
5808243     VA   M  1999  Ryan    563  0.000172
965685      CT   M  1993  Ryan    472  0.000140)
(('Ryann', 'F'),         region sex  year   name  count      freq
2768454     MI   F  1979  Ryann      7  0.000002)
(('Ryder', 'M'),         region sex  year   name  count      freq
5830642     VA   M  2020  Ryder     66  0.000024
5978643     WA   M  2011  Ryder    179  0.000058)
(('Ryker', 'M'),         region sex  year   name  count     freq
2059350     IN   M  2020  Ryker     84  0.00003)
(('Rylan', 'F'),         region sex  year   name  count      freq
6150916     WV   F  2018  Rylan      6  0.000002)
(('Rylan', 'M'),         region sex  year   name  count      freq
1275739     FL   M  2017  Rylan     54  0.000018
3551203     ND   M  2016  Rylan      6  0.000002)
(('Ryland', 'M'),         region sex  year    name  count      freq
1232427     FL   M  1989  Ryland      5  0.000001
3013698     MN   M  2011  Ryland      8  0.000003
4433609     OH   M  2004  Ryland     11  0.000003)
(('Rylee', 'M'),         region sex  year   name  count      freq
3547695     ND   M  2001  Rylee      5  0.000002)
(('Ryleigh', 'F'),         region sex  year     name  count      freq
5909043     WA   F  2000  Ryleigh      5  0.000001
4358900     OH   F  2014  Ryleigh     93  0.000029
5621231     UT   F  2001  Ryleigh      9  0.000003
2810620     MI   F  2012  Ryleigh     64  0.000021
938260      CT   F  2013  Ryleigh     11  0.000004
3406432     NC   F  2010  Ryleigh     68  0.000022)
(('Rylie', 'F'),         region sex  year   name  count      freq
4094089     NY   F  2009  Rylie     28  0.000009)
(('Rylin', 'F'),         region sex  year   name  count      freq
4350414     OH   F  2008  Rylin      5  0.000001)
(('Ryu', 'M'),         region sex  year name  count      freq
1265646     FL   M  2011  Ryu      6  0.000002)
(('Sabastian', 'M'),         region sex  year       name  count      freq
5530164     TX   M  1997  Sabastian     16  0.000005
6096738     WI   M  2006  Sabastian      7  0.000002)
(('Sabella', 'F'),         region sex  year     name  count      freq
5424348     TX   F  2018  Sabella      6  0.000002)
(('Sabina', 'F'),         region sex  year    name  count      freq

4003982     NY   F  1966  Sabina     11  0.000003)
(('Sabrina', 'F'),         region sex  year     name  count      freq
6021938     WI   F  1980  Sabrina     33  0.000011
3579320     NE   F  1992  Sabrina      7  0.000002
941963      CT   F  2019  Sabrina      7  0.000002
2317134     LA   F  1974  Sabrina     28  0.000010)
(('Sade', 'F'),         region sex  year  name  count      freq
1757700     IL   F  1988  Sade     43  0.000013)
(('Sadie', 'F'),         region sex  year   name  count      freq
421711      CA   F  1952  Sadie      7  0.000002
3187741     MS   F  1956  Sadie     29  0.000007
4958206     SC   F  1999  Sadie     13  0.000004
...        ...  ..   ...    ...    ...       ...
1531652     IA   F  1922  Sadie     10  0.000005
3745775     NJ   F  2014  Sadie     98  0.000031
395994      CA   F  1922  Sadie     18  0.000008

[8 rows x 6 columns])
(('Saeed', 'M'),        region sex  year   name  count      freq
723110     CA   M  1998  Saeed      5  0.000002)
(('Sage', 'F'),         region sex  year  name  count      freq
4339936     OH   F  2002  Sage     12  0.000004
3735172     NJ   F  2006  Sage     16  0.000005)
(('Sage', 'M'),         region sex  year  name  count      freq
4422435     OH   M  1993  Sage      5  0.000001)
(('Sahil', 'M'),         region sex  year   name  count      freq
6237334     PR   M  2017  Sahil      5  0.000002)
(('Saige', 'F'),         region sex  year   name  count      freq
4973495     SC   F  2017  Saige      5  0.000002)
(('Sailor', 'F'),         region sex  year    name  count      freq
2109408     KS   F  2015  Sailor      5  0.000002)
(('Saira', 'F'),        region sex  year   name  count      freq
585632     CA   F  2011  Saira     19  0.000006)
(('Salem', 'F'),         region sex  year   name  count      freq
1809433     IL   F  2016  Salem      7  0.000002)
(('Salina', 'F'),         region sex  year    name  count      freq
5342816     TX   F  1994  Salina     13  0.000004)
(('Sallie', 'F'),         region sex  year    name  count      freq
1716123     IL   F  1956  Sallie     12  0.000003)
(('Sally', 'F'),         region sex  year   name  count      freq
2066925     KS   F  1928  Sally     20  0.000009
5130019     TN   F  1993  Sally      8  0.000002
1533319     IA   F  1926  Sally     15  0.000007
...        ...  ..   ...    ...    ...       ...
75845       AL   F  1987  Sally     11  0.000003
1639433     ID   F  1981  Sally      6  0.000002
4925417     SC   F  1942  Sally     41  0.000016

[8 rows x 6 columns])
(('Salma', 'F'),        region sex  year   name  count      freq
841171     CO   F  2015  Salma      6  0.000002)
(('Salman', 'M'),        region sex  year    name  count      freq
781033     CA   M  2019  Salman      9  0.000003)
(('Salvador', 'M'),         region sex  year      name  count      freq
1878159     IL   M  1994  Salvador     64  0.000019
3504727     NC   M  2020  Salvador      9  0.000003)
(('Salvator', 'M'),         region sex  year      name  count      freq
4164409     NY   M  1965  Salvator      6  0.000002)
(('Salvatore', 'M'),         region sex  year       name  count      freq
4387387     OH   M  1945  Salvatore      8  0.000003
2902829     MI   M  2019  Salvatore     10  0.000003)
(('Sam', 'M'),         region sex  year name  count      freq
2620319     MD   M  1932  Sam      7  0.000004
1854569     IL   M  1971  Sam     44  0.000014
4427937     OH   M  1999  Sam     12  0.000004
2854095     MI   M  1969  Sam     31  0.000010
4832981     PA   M  1988  Sam      8  0.000002)
(('Samantha', 'F'),         region sex  year      name  count      freq
3850113     NM   F  1992  Samantha    200  0.000058
5845164     VT   F  2005  Samantha     16  0.000005
2088507     KS   F  1980  Samantha     45  0.000014)
(('Samara', 'F'),         region sex  year    name  count      freq
1811971     IL   F  2018  Samara     51  0.000017
839999      CO   F  2014  Samara      7  0.000002
2607641     MD   F  2013  Samara      9  0.000003
3726489     NJ   F  1999  Samara      9  0.000003)
(('Samatha', 'F'),         region sex  year     name  count      freq
3203124     MS   F  1982  Samatha      6  0.000002
3378479     NC   F  1987  Samatha      8  0.000002)
(('Samhita', 'F'),        region sex  year     name  count      freq
574753     CA   F  2008  Samhita      7  0.000002)
(('Samir', 'M'),         region sex  year   name  count      freq
2863434     MI   M  1981  Samir      6  0.000002
669049      CA   M  1971  Samir      5  0.000002
2900198     MI   M  2017  Samir     13  0.000004
2862706     MI   M  1980  Samir      6  0.000002)
(('Samira', 'F'),         region sex  year    name  count      freq
5329488     TX   F  1988  Samira      5  0.000001
3749188     NJ   F  2016  Samira     10  0.000003)
(('Samiyah', 'F'),         region sex  year     name  count      freq
1816463     IL   F  2020  Samiyah      8  0.000003)
(('Sammie', 'F'),        region sex  year    name  count      freq
181886     AR   F  1941  Sammie     12  0.000005)
(('Sammie', 'M'),         region sex  year    name  count      freq
645415      CA   M  1950  Sammie      6  0.000002
5503588     TX   M  1980  Sammie     11  0.000004)
(('Sammy', 'M'),         region sex  year   name  count      freq
2241251     KY   M  1948  Sammy     36  0.000011
5165855     TN   M  1923  Sammy      7  0.000003
2856690     MI   M  1972  Sammy      6  0.000002
5495498     TX   M  1974  Sammy     93  0.000034
5184556     TN   M  1963  Sammy     35  0.000009)
(('Sampson', 'M'),         region sex  year     name  count      freq
4987740     SC   M  1939  Sampson      5  0.000002)
(('Samson', 'M'),         region sex  year    name  count      freq
4572940     OK   M  2017  Samson     10  0.000003)
(('Samuel', 'F'),        region sex  year    name  count      freq
505394     CA   F  1990  Samuel     10  0.000003)
(('Samuel', 'M'),         region sex  year    name  count      freq
3595093     NE   M  1922  Samuel     25  0.000012
3931831     NV   M  1975  Samuel      7  0.000003
956955      CT   M  1969  Samuel     29  0.000009
...        ...  ..   ...     ...    ...       ...
3315895     MT   M  1974  Samuel     18  0.000006
5967684     WA   M  1999  Samuel    328  0.000100
2247643     KY   M  1962  Samuel    102  0.000027

[14 rows x 6 columns])
(('Samya', 'F'),         region sex  year   name  count      freq
3405408     NC   F  2009  Samya     12  0.000004)
(('Sanaa', 'F'),         region sex  year   name  count      freq
4073924     NY   F  2001  Sanaa     32  0.000010
4959665     SC   F  2001  Sanaa      9  0.000003
4775977     PA   F  2016  Sanaa     18  0.000006)
(('Sanaii', 'F'),         region sex  year    name  count      freq
4095391     NY   F  2009  Sanaii      7  0.000002)
(('Sanaya', 'F'),         region sex  year    name  count      freq
4110239     NY   F  2015  Sanaya     11  0.000003)
(('Sandi', 'F'),         region sex  year   name  count      freq
5606490     UT   F  1975  Sandi      8  0.000003)
(('Sandra', 'F'),         region sex  year    name  count      freq
4594663     OR   F  1973  Sandra     51  0.000018
3511014     ND   F  1936  Sandra     21  0.000011
2186729     KY   F  1966  Sandra    322  0.000099
...        ...  ..   ...     ...    ...       ...
1728293     IL   F  1967  Sandra    870  0.000273
901741      CT   F  1934  Sandra     45  0.000023
3551        AK   F  1964  Sandra     36  0.000010

[8 rows x 6 columns])
(('Sandra', 'M'),        region sex  year    name  count      freq
665949     CA   M  1969  Sandra      9  0.000003)
(('Sandy', 'F'),         region sex  year   name  count      freq
5604288     UT   F  1970  Sandy     11  0.000003
2484624     MA   F  2005  Sandy      7  0.000002
1542253     IA   F  1949  Sandy     19  0.000006
2925074     MN   F  1959  Sandy    118  0.000030
5747805     VA   F  2009  Sandy      5  0.000002
1936901     IN   F  1953  Sandy     17  0.000005)
(('Sanford', 'M'),         region sex  year     name  count      freq
3116469     MO   M  1946  Sanford     14  0.000005)
(('Saniya', 'F'),         region sex  year    name  count      freq
1978571     IN   F  2004  Saniya      5  0.000002)
(('Santana', 'F'),         region sex  year     name  count      freq
2335655     LA   F  1995  Santana      7  0.000002)
(('Santos', 'F'),         region sex  year    name  count     freq
5237956     TX   F  1924  Santos     88  0.00004)
(('Santos', 'M'),         region sex  year    name  count      freq
1220296     FL   M  1976  Santos      5  0.000002)
(('Sara', 'F'),         region sex  year  name  count      freq
5388059     TX   F  2009  Sara    291  0.000089
1537836     IA   F  1938  Sara     26  0.000013
5994364     WI   F  1923  Sara      7  0.000003
...        ...  ..   ...   ...    ...       ...
64471       AL   F  1970  Sara     27  0.000008
2913658     MN   F  1933  Sara      8  0.000004
4681281     PA   F  1932  Sara    213  0.000108

[10 rows x 6 columns])
(('Sarah', 'F'),         region sex  year   name  count      freq
2306083     LA   F  1960  Sarah     96  0.000024
1623278     ID   F  1912  Sarah     12  0.000014
4871831     RI   F  1919  Sarah     18  0.000009
4879625     RI   F  1960  Sarah     13  0.000003)
(('Sarai', 'F'),         region sex  year   name  count      freq
5629994     UT   F  2011  Sarai      5  0.000002)
(('Sari', 'F'),         region sex  year  name  count      freq
1721001     IL   F  1960  Sari      6  0.000002)
(('Sariah', 'F'),         region sex  year    name  count      freq
5621904     UT   F  2002  Sariah     11  0.000003)
(('Sarina', 'F'),         region sex  year    name  count      freq
5902856     WA   F  1994  Sarina      8  0.000002)
(('Sasha', 'F'),         region sex  year   name  count      freq
939472      CT   F  2015  Sasha     10  0.000003
4052593     NY   F  1992  Sasha    124  0.000036)
(('Sathvik', 'M'),        region sex  year     name  count      freq
776261     CA   M  2017  Sathvik      5  0.000002)
(('Saul', 'M'),         region sex  year  name  count      freq
1217308     FL   M  1972  Saul      5  0.000002
5205681     TN   M  2000  Saul      6  0.000002)
(('Savana', 'F'),         region sex  year    name  count      freq
6035489     WI   F  1999  Savana      9  0.000003)
(('Savanah', 'F'),        region sex  year     name  count      freq
601650     CA   F  2015  Savanah     20  0.000006)
(('Savanna', 'F'),         region sex  year     name  count      freq
6140002     WV   F  1988  Savanna      9  0.000003)
(('Savannah', 'F'),         region sex  year      name  count      freq
12217       AK   F  2008  Savannah     20  0.000006
5366983     TX   F  2003  Savannah    582  0.000175
1568178     IA   F  2003  Savannah     46  0.000014
4959278     SC   F  2001  Savannah    177  0.000054
4952367     SC   F  1990  Savannah     29  0.000008
2288459     LA   F  1930  Savannah      6  0.000003)
(('Savion', 'M'),         region sex  year    name  count      freq
4224388     NY   M  2006  Savion     25  0.000007
1465357     GA   M  2016  Savion      6  0.000002)
(('Sawyer', 'F'),         region sex  year    name  count      freq
573357      CA   F  2008  Sawyer     16  0.000005
4515841     OK   F  2014  Sawyer     22  0.000007)
(('Sawyer', 'M'),         region sex  year    name  count      freq
1469996     GA   M  2020  Sawyer    125  0.000045)
(('Sayuri', 'F'),        region sex  year    name  count      freq
585972     CA   F  2011  Sayuri     14  0.000004)
(('Scarlett', 'F'),         region sex  year      name  count      freq
1185761     FL   F  2019  Scarlett    331  0.000114)
(('Scot', 'M'),         region sex  year  name  count      freq
4412154     OH   M  1981  Scot     10  0.000003)
(('Scott', 'F'),         region sex  year   name  count      freq
4706986     PA   F  1962  Scott      5  0.000001
5308521     TX   F  1978  Scott      5  0.000002)
(('Scott', 'M'),         region sex  year   name  count      freq
5643822     UT   M  1942  Scott     13  0.000005
966168      CT   M  1994  Scott     90  0.000027
5213381     TN   M  2009  Scott     10  0.000003
3790390     NJ   M  1989  Scott    328  0.000094
3146778     MO   M  2002  Scott     42  0.000013)
(('Scotty', 'M'),         region sex  year    name  count      freq
2240435     KY   M  1946  Scotty      9  0.000003
3133375     MO   M  1980  Scotty     13  0.000004)
(('Sean', 'M'),         region sex  year  name  count      freq
5658282     UT   M  1987  Sean     97  0.000030
6103925     WI   M  2015  Sean     19  0.000006
2709047     ME   M  1985  Sean     52  0.000016)
(('Seanna', 'F'),         region sex  year    name  count      freq
4090143     NY   F  2007  Seanna      7  0.000002)
(('Sebastian', 'M'),         region sex  year       name  count      freq
2526815     MA   M  1985  Sebastian      9  0.000003
5012384     SC   M  1992  Sebastian     10  0.000003
5459481     TX   M  1940  Sebastian      5  0.000002
1915732     IL   M  2020  Sebastian    324  0.000117)
(('Selena', 'F'),         region sex  year    name  count      freq
3212088     MS   F  1999  Selena     21  0.000006
5133111     TN   F  1997  Selena     24  0.000008
1756643     IL   F  1987  Selena     13  0.000004
4624036     OR   F  2018  Selena     12  0.000004)
(('Selina', 'F'),         region sex  year    name  count      freq
1382626     GA   F  2018  Selina      7  0.000002
1139042     FL   F  1998  Selina     18  0.000005)
(('Selma', 'F'),         region sex  year   name  count      freq
1921385     IN   F  1920  Selma      5  0.000002)
(('Semaj', 'M'),         region sex  year   name  count      freq
1886242     IL   M  2000  Semaj     19  0.000006)
(('Sequoia', 'F'),        region sex  year     name  count      freq
564653     CA   F  2006  Sequoia     19  0.000006)
(('Serena', 'F'),         region sex  year    name  count      freq
5285250     TX   F  1964  Serena     13  0.000004
196536      AR   F  1972  Serena      6  0.000002)
(('Sergio', 'M'),         region sex  year    name  count      freq
2527763     MA   M  1987  Sergio     10  0.000003)
(('Seth', 'M'),         region sex  year  name  count      freq
6097032     WI   M  2007  Seth     70  0.000020
2663553     MD   M  2018  Seth     20  0.000007
1521870     HI   M  2005  Seth     19  0.000006
2903686     MI   M  2020  Seth     25  0.000009)
(('Setsuko', 'F'),        region sex  year     name  count      freq
398923     CA   F  1926  Setsuko      7  0.000003)
(('Shabria', 'F'),         region sex  year     name  count      freq
2591602     MD   F  1996  Shabria      6  0.000002)
(('Shadae', 'F'),         region sex  year    name  count      freq
1120061     FL   F  1986  Shadae      6  0.000002)

(('Shae', 'F'),         region sex  year  name  count      freq
4337548     OH   F  2000  Shae      6  0.000002)
(('Shai', 'M'),         region sex  year  name  count      freq
4219868     NY   M  2003  Shai      5  0.000002)
(('Shaina', 'F'),         region sex  year    name  count      freq
5312480     TX   F  1980  Shaina      5  0.000002)
(('Shakeya', 'F'),         region sex  year     name  count      freq
4049018     NY   F  1990  Shakeya     10  0.000003)
(('Shakia', 'F'),         region sex  year    name  count      freq
1145809     FL   F  2001  Shakia      6  0.000002)
(('Shakina', 'F'),         region sex  year     name  count      freq
4734476     PA   F  1987  Shakina      5  0.000002)
(('Shakira', 'F'),         region sex  year     name  count      freq
6216598     PR   F  1999  Shakira    113  0.000034)
(('Shakur', 'M'),         region sex  year    name  count      freq
4212052     NY   M  1999  Shakur      6  0.000002
3479516     NC   M  1999  Shakur      5  0.000002)
(('Shalimar', 'F'),         region sex  year      name  count      freq
6220450     PR   F  2004  Shalimar      5  0.000002)
(('Shalom', 'F'),         region sex  year    name  count      freq
5387395     TX   F  2008  Shalom      6  0.000002)
(('Shamar', 'M'),         region sex  year    name  count      freq
3479913     NC   M  2000  Shamar     21  0.000006)
(('Shameka', 'F'),         region sex  year     name  count      freq
3369821     NC   F  1977  Shameka     24  0.000008)
(('Shamell', 'M'),         region sex  year     name  count      freq
4191724     NY   M  1987  Shamell      5  0.000002)
(('Shana', 'F'),         region sex  year   name  count      freq
5605222     UT   F  1972  Shana      7  0.000002
2473078     MA   F  1992  Shana     17  0.000005)
(('Shanda', 'F'),         region sex  year    name  count      freq
3367534     NC   F  1974  Shanda     23  0.000008)
(('Shandi', 'F'),         region sex  year    name  count      freq
5329233     TX   F  1988  Shandi      6  0.000002)
(('Shane', 'M'),         region sex  year   name  count      freq
977086      CT   M  2016  Shane     18  0.000006
1867042     IL   M  1984  Shane    123  0.000039)
(('Shanee', 'F'),        region sex  year    name  count      freq
521791     CA   F  1994  Shanee      5  0.000002)
(('Shanell', 'F'),         region sex  year     name  count      freq
1327112     GA   F  1977  Shanell      5  0.000002)
(('Shanelle', 'F'),         region sex  year      name  count      freq
4064829     NY   F  1997  Shanelle     17  0.000005)
(('Shanice', 'F'),         region sex  year     name  count      freq
3727982     NJ   F  2000  Shanice      6  0.000002
4954304     SC   F  1993  Shanice     40  0.000012)
(('Shanika', 'F'),         region sex  year     name  count      freq
5311348     TX   F  1980  Shanika     16  0.000005
4951170     SC   F  1988  Shanika     18  0.000005)
(('Shaniya', 'F'),         region sex  year     name  count      freq
1152878     FL   F  2005  Shaniya     44  0.000013
1980523     IN   F  2006  Shaniya      8  0.000002)
(('Shanna', 'F'),         region sex  year    name  count      freq
6029494     WI   F  1991  Shanna      9  0.000003
5596531     UT   F  1949  Shanna     10  0.000003
4296747     OH   F  1967  Shanna     10  0.000003)
(('Shannon', 'F'),         region sex  year     name  count      freq
5050996     SD   F  1994  Shannon     15  0.000005
6021173     WI   F  1979  Shannon    243  0.000080
6194411     WY   F  1968  Shannon     24  0.000008
6011743     WI   F  1962  Shannon     16  0.000004)
(('Shannon', 'M'),         region sex  year     name  count      freq
1849608     IL   M  1965  Shannon     28  0.000008
140287      AL   M  1982  Shannon     39  0.000012
5208651     TN   M  2004  Shannon     12  0.000004
1438785     GA   M  1996  Shannon      9  0.000003
4192321     NY   M  1988  Shannon     19  0.000006)
(('Shanta', 'F'),         region sex  year    name  count      freq
1109248     FL   F  1978  Shanta     18  0.000006)
(('Shantel', 'F'),         region sex  year     name  count      freq
1348482     GA   F  1998  Shantel      8  0.000002
4949216     SC   F  1984  Shantel      5  0.000002)
(('Shantell', 'F'),        region sex  year      name  count      freq
475606     CA   F  1980  Shantell      8  0.000003)
(('Shaquanda', 'F'),         region sex  year       name  count      freq
1113243     FL   F  1981  Shaquanda      7  0.000002)
(('Shaquille', 'M'),         region sex  year       name  count      freq
1438701     GA   M  1996  Shaquille     11  0.000003
5964699     WA   M  1994  Shaquille      5  0.000002
4198505     NY   M  1992  Shaquille     67  0.000019)
(('Sharelle', 'F'),         region sex  year      name  count      freq
4045423     NY   F  1988  Sharelle      5  0.000001)
(('Shari', 'F'),         region sex  year   name  count      freq
4490563     OK   F  1978  Shari      7  0.000002
3903829     NV   F  1964  Shari      6  0.000002)
(('Sharika', 'F'),         region sex  year     name  count      freq
1332535     GA   F  1983  Sharika      5  0.000002)
(('Sharilyn', 'F'),        region sex  year      name  count      freq
443710     CA   F  1965  Sharilyn      5  0.000001)
(('Sharita', 'F'),         region sex  year     name  count      freq
5718841     VA   F  1981  Sharita      9  0.000003)
(('Sharla', 'F'),        region sex  year    name  count      freq
450955     CA   F  1969  Sharla      8  0.000002)
(('Sharmaine', 'F'),        region sex  year       name  count      freq
443711     CA   F  1965  Sharmaine      5  0.000001)
(('Sharon', 'F'),         region sex  year    name  count      freq
5613220     UT   F  1988  Sharon      9  0.000003
5694254     VA   F  1943  Sharon    149  0.000056
796649      CO   F  1952  Sharon    234  0.000065
1753266     IL   F  1985  Sharon     67  0.000021
2091587     KS   F  1986  Sharon     10  0.000003
2932225     MN   F  1972  Sharon     39  0.000013)
(('Sharon', 'M'),         region sex  year    name  count      freq
4163483     NY   M  1964  Sharon      5  0.000001)
(('Sharonda', 'F'),         region sex  year      name  count      freq
5717890     VA   F  1980  Sharonda     19  0.000006)
(('Sharron', 'F'),         region sex  year     name  count      freq
3046477     MO   F  1956  Sharron     12  0.000003
4691331     PA   F  1946  Sharron     16  0.000005
63970       AL   F  1969  Sharron     12  0.000004
993697      DC   F  1968  Sharron      5  0.000002)
(('Shaun', 'M'),         region sex  year   name  count      freq
2997800     MN   M  1986  Shaun     26  0.000008
2017903     IN   M  1961  Shaun     12  0.000003
5003857     SC   M  1975  Shaun      7  0.000003)
(('Shauna', 'F'),         region sex  year    name  count      freq
1638110     ID   F  1977  Shauna      8  0.000003
1633434     ID   F  1960  Shauna     14  0.000004)
(('Shaunda', 'F'),         region sex  year     name  count      freq
3202057     MS   F  1980  Shaunda      5  0.000002)
(('Shaunte', 'F'),         region sex  year     name  count      freq
4316186     OH   F  1984  Shaunte     10  0.000003)
(('Shavon', 'F'),         region sex  year    name  count      freq
4070584     NY   F  1999  Shavon      6  0.000002)
(('Shawana', 'F'),         region sex  year     name  count      freq
5718252     VA   F  1980  Shawana      6  0.000002)
(('Shawn', 'F'),         region sex  year   name  count      freq
1953624     IN   F  1976  Shawn     29  0.000011
2781202     MI   F  1990  Shawn      5  0.000001)
(('Shawn', 'M'),         region sex  year   name  count      freq
1511994     HI   M  1972  Shawn     34  0.000012
5497746     TX   M  1976  Shawn    469  0.000170)
(('Shawna', 'F'),         region sex  year    name  count      freq
826645      CO   F  2001  Shawna      7  0.000002
4772125     PA   F  2013  Shawna      5  0.000002
805473      CO   F  1970  Shawna     49  0.000015
4005348     NY   F  1967  Shawna     17  0.000005
2680328     ME   F  1968  Shawna      6  0.000002)
(('Shawnda', 'F'),         region sex  year     name  count      freq
4316647     OH   F  1984  Shawnda      5  0.000002)
(('Shawnee', 'F'),         region sex  year     name  count      freq
4050034     NY   F  1990  Shawnee      5  0.000001)
(('Shawon', 'M'),         region sex  year    name  count      freq
1871969     IL   M  1988  Shawon      5  0.000001)
(('Shay', 'M'),         region sex  year  name  count      freq
5530467     TX   M  1997  Shay     10  0.000003)
(('Shayla', 'F'),         region sex  year    name  count      freq
1157437     FL   F  2007  Shayla     68  0.000020
2578220     MD   F  1977  Shayla     10  0.000003
454662      CA   F  1971  Shayla     16  0.000005
212450      AR   F  2005  Shayla      9  0.000003
3722721     NJ   F  1996  Shayla     18  0.000006)
(('Shea', 'F'),         region sex  year  name  count      freq
2691208     ME   F  2010  Shea      5  0.000002)
(('Shea', 'M'),         region sex  year  name  count      freq
1254418     FL   M  2005  Shea      7  0.000002
3002913     MN   M  1996  Shea      7  0.000002)
(('Sheena', 'F'),         region sex  year    name  count      freq
2786264     MI   F  1994  Sheena      6  0.000002)
(('Sheila', 'F'),         region sex  year    name  count      freq
5839960     VT   F  1969  Sheila      9  0.000003
3570040     NE   F  1966  Sheila     69  0.000021
1715547     IL   F  1956  Sheila    446  0.000114
5838949     VT   F  1963  Sheila     21  0.000006)
(('Sheilah', 'F'),         region sex  year     name  count      freq
2451062     MA   F  1959  Sheilah      5  0.000001)
(('Shelba', 'F'),         region sex  year    name  count      freq
5692246     VA   F  1938  Shelba     10  0.000005)
(('Shelbi', 'F'),         region sex  year    name  count      freq
1563669     IA   F  1994  Shelbi      8  0.000002)
(('Shelby', 'F'),         region sex  year    name  count      freq
2207214     KY   F  2001  Shelby    184  0.000056
1637769     ID   F  1976  Shelby     10  0.000004
3968914     NY   F  1936  Shelby      7  0.000004
3189653     MS   F  1959  Shelby     10  0.000003
1775829     IL   F  1999  Shelby    171  0.000052
5417984     TX   F  2017  Shelby     93  0.000031)
(('Shelby', 'M'),         region sex  year    name  count      freq
3233179     MS   M  1927  Shelby     15  0.000007)
(('Sheldon', 'M'),         region sex  year     name  count      freq
2371565     LA   M  1938  Sheldon      8  0.000004
3473765     NC   M  1993  Sheldon      9  0.000003)
(('Shelia', 'F'),         region sex  year    name  count      freq
5123109     TN   F  1984  Shelia     10  0.000003)
(('Shelley', 'F'),         region sex  year     name  count      freq
3701561     NJ   F  1975  Shelley     15  0.000005
910986      CT   F  1961  Shelley     22  0.000006)
(('Shelly', 'F'),         region sex  year    name  count      freq
73204       AL   F  1983  Shelly     16  0.000005
4699323     PA   F  1955  Shelly     28  0.000007
909190      CT   F  1957  Shelly     12  0.000003
1353019     GA   F  2001  Shelly      7  0.000002
285962      AZ   F  1964  Shelly     43  0.000012)
(('Shelsy', 'F'),        region sex  year    name  count      freq
548953     CA   F  2002  Shelsy     14  0.000004)
(('Shepherd', 'M'),         region sex  year      name  count      freq
1265885     FL   M  2011  Shepherd      5  0.000002)
(('Sheri', 'F'),         region sex  year   name  count      freq
1485276     HI   F  1970  Sheri     19  0.000006
5700602     VA   F  1954  Sheri      8  0.000002
4591528     OR   F  1966  Sheri     50  0.000015
5703605     VA   F  1959  Sheri     28  0.000007
2077433     KS   F  1956  Sheri     38  0.000010)
(('Sherrell', 'F'),         region sex  year      name  count      freq
2740674     MI   F  1951  Sherrell      5  0.000001
1332540     GA   F  1983  Sherrell      5  0.000002)
(('Sherri', 'F'),         region sex  year    name  count      freq
1703804     IL   F  1942  Sherri      8  0.000003
1945285     IN   F  1965  Sherri    181  0.000053
5042124     SD   F  1955  Sherri      5  0.000001)
(('Sherrie', 'F'),         region sex  year     name  count      freq
4010061     NY   F  1970  Sherrie     47  0.000014
2564447     MD   F  1952  Sherrie     11  0.000003
5260861     TX   F  1946  Sherrie     30  0.000010)
(('Sherrill', 'F'),        region sex  year      name  count      freq
421186     CA   F  1952  Sherrill     20  0.000006
404198     CA   F  1934  Sherrill      6  0.000003)
(('Sherron', 'F'),        region sex  year     name  count      freq
459884     CA   F  1973  Sherron      5  0.000002)
(('Sherry', 'F'),         region sex  year    name  count      freq
4055376     NY   F  1993  Sherry     27  0.000008)
(('Sheryl', 'F'),         region sex  year    name  count      freq
3065666     MO   F  1983  Sheryl      7  0.000002
5113370     TN   F  1970  Sheryl     17  0.000005
3699656     NJ   F  1973  Sheryl     27  0.000010
2176118     KY   F  1947  Sheryl     13  0.000004)
(('Shigeko', 'F'),        region sex  year     name  count      freq
395582     CA   F  1921  Shigeko      8  0.000004)
(('Shiloh', 'F'),         region sex  year    name  count      freq
3864009     NM   F  2020  Shiloh      5  0.000002)
(('Shirlee', 'F'),         region sex  year     name  count      freq
4582332     OR   F  1942  Shirlee      5  0.000002)
(('Shirley', 'F'),         region sex  year     name  count      freq
3835504     NM   F  1957  Shirley     58  0.000014
2074638     KS   F  1950  Shirley    162  0.000049
3963027     NY   F  1929  Shirley   1540  0.000755
4318653     OH   F  1986  Shirley      8  0.000002
2076874     KS   F  1955  Shirley    110  0.000029
3829399     NM   F  1938  Shirley     62  0.000030)
(('Shirley', 'M'),         region sex  year     name  count      freq
5770964     VA   M  1930  Shirley     33  0.000016)
(('Shiro', 'M'),        region sex  year   name  count      freq
626958     CA   M  1921  Shiro      6  0.000003)
(('Shiv', 'M'),         region sex  year  name  count      freq
5547542     TX   M  2005  Shiv      8  0.000002)
(('Shonda', 'F'),         region sex  year    name  count      freq
4026989     NY   F  1979  Shonda     13  0.000004)
(('Shoshana', 'F'),         region sex  year      name  count      freq
2609859     MD   F  2015  Shoshana      7  0.000002)
(('Shriya', 'F'),         region sex  year    name  count      freq
5915561     WA   F  2006  Shriya      5  0.000001)
(('Shulem', 'M'),         region sex  year    name  count      freq
4226148     NY   M  2007  Shulem     54  0.000016)
(('Shyann', 'F'),         region sex  year    name  count      freq
1356654     GA   F  2003  Shyann      5  0.000002
6034897     WI   F  1998  Shyann      6  0.000002)
(('Shyanne', 'F'),         region sex  year     name  count      freq
316117      AZ   F  2003  Shyanne      7  0.000002

3581928     NE   F  1999  Shyanne      8  0.000002)
(('Shyla', 'F'),         region sex  year   name  count      freq
5893645     WA   F  1983  Shyla      6  0.000002)
(('Sianna', 'F'),        region sex  year    name  count      freq
614024     CA   F  2018  Sianna     10  0.000003)
(('Sid', 'M'),         region sex  year name  count      freq
2848648     MI   M  1960  Sid      5  0.000001)
(('Sidney', 'F'),         region sex  year    name  count      freq
1997874     IN   F  2020  Sidney      5  0.000002
5422763     TX   F  2018  Sidney     16  0.000005)
(('Sidney', 'M'),         region sex  year    name  count      freq
3460355     NC   M  1973  Sidney     18  0.000007
4399687     OH   M  1964  Sidney     14  0.000004
1433614     GA   M  1991  Sidney     25  0.000007
3478029     NC   M  1998  Sidney     15  0.000005
1446556     GA   M  2003  Sidney     17  0.000005)
(('Sierra', 'F'),         region sex  year    name  count      freq
5733179     VA   F  1998  Sierra    147  0.000045
2687581     ME   F  1997  Sierra     22  0.000007
6199789     WY   F  2006  Sierra     10  0.000003)
(('Silas', 'M'),         region sex  year   name  count      freq
1273627     FL   M  2016  Silas    141  0.000045
1526413     HI   M  2019  Silas     13  0.000004)
(('Silvana', 'F'),         region sex  year     name  count      freq
4100369     NY   F  2011  Silvana      8  0.000003)
(('Silvia', 'F'),         region sex  year    name  count      freq
1797549     IL   F  2010  Silvia     12  0.000004
4062479     NY   F  1996  Silvia     19  0.000006)
(('Simone', 'F'),         region sex  year    name  count      freq
592816      CA   F  2013  Simone     68  0.000022
6042571     WI   F  2007  Simone      7  0.000002)
(('Sincere', 'M'),         region sex  year     name  count      freq
5020996     SC   M  2006  Sincere     24  0.000007)
(('Sinead', 'F'),         region sex  year    name  count      freq
4087806     NY   F  2006  Sinead      6  0.000002)
(('Siobhan', 'F'),         region sex  year     name  count      freq
2493449     MA   F  2014  Siobhan      6  0.000002)
(('Sire', 'M'),         region sex  year  name  count      freq
4248410     NY   M  2017  Sire      6  0.000002)
(('Sirena', 'F'),        region sex  year    name  count      freq
453236     CA   F  1970  Sirena      7  0.000002)
(('Siya', 'F'),         region sex  year  name  count      freq
2358104     LA   F  2019  Siya      5  0.000002)
(('Skip', 'M'),         region sex  year  name  count      freq
4391566     OH   M  1952  Skip      5  0.000001)
(('Sky', 'F'),         region sex  year name  count      freq
318995      AZ   F  2005  Sky      5  0.000001
5736286     VA   F  2000  Sky      5  0.000001)
(('Skye', 'F'),         region sex  year  name  count      freq
4495998     OK   F  1987  Skye     11  0.000003)
(('Skyla', 'F'),         region sex  year   name  count      freq
2493853     MA   F  2015  Skyla     23  0.000007)
(('Skylar', 'F'),         region sex  year    name  count      freq
3646517     NH   F  2014  Skylar     14  0.000004
1971506     IN   F  1998  Skylar     46  0.000014
6038408     WI   F  2003  Skylar     48  0.000014)
(('Skylar', 'M'),         region sex  year    name  count      freq
1440620     GA   M  1998  Skylar     18  0.000005)
(('Skylee', 'F'),         region sex  year    name  count      freq
5636340     UT   F  2019  Skylee     11  0.000004)
(('Skyler', 'F'),         region sex  year    name  count      freq
5337547     TX   F  1992  Skyler     20  0.000006
102151      AL   F  2019  Skyler      9  0.000003)
(('Skyler', 'M'),         region sex  year    name  count      freq
1911954     IL   M  2017  Skyler     13  0.000004
2038771     IN   M  1998  Skyler     50  0.000015)
(('Skylynn', 'F'),         region sex  year     name  count      freq
4762198     PA   F  2007  Skylynn      6  0.000002)
(('Sloan', 'M'),         region sex  year   name  count      freq
1277325     FL   M  2017  Sloan      5  0.000002)
(('Sofia', 'F'),         region sex  year   name  count      freq
5846690     VT   F  2017  Sofia     10  0.000003
1120857     FL   F  1987  Sofia     15  0.000005
6033472     WI   F  1996  Sofia      5  0.000002)
(('Solimar', 'F'),         region sex  year     name  count      freq
1176075     FL   F  2014  Solimar      5  0.000002)
(('Solomon', 'M'),         region sex  year     name  count      freq
6097214     WI   M  2007  Solomon     18  0.000005
258029      AR   M  1998  Solomon      5  0.000002)
(('Sondra', 'F'),        region sex  year    name  count      freq
803350     CO   F  1965  Sondra      7  0.000002
195045     AR   F  1969  Sondra     10  0.000003)
(('Sonia', 'F'),         region sex  year   name  count      freq
3386606     NC   F  1995  Sonia      6  0.000002
810594      CO   F  1979  Sonia     11  0.000004
4939683     SC   F  1968  Sonia     25  0.000008)
(('Sonja', 'F'),         region sex  year   name  count      freq
4274895     OH   F  1944  Sonja     12  0.000005
614382      CA   F  2018  Sonja      8  0.000003
3292474     MT   F  1969  Sonja      6  0.000002)
(('Sonny', 'M'),         region sex  year   name  count      freq
6166618     WV   M  1952  Sonny      7  0.000002
5546653     TX   M  2005  Sonny     25  0.000007)
(('Sonora', 'F'),         region sex  year    name  count      freq
5406307     TX   F  2013  Sonora      5  0.000002)
(('Sonya', 'F'),         region sex  year   name  count      freq
4771525     PA   F  2013  Sonya      9  0.000003)
(('Sophia', 'F'),         region sex  year    name  count      freq
5121067     TN   F  1981  Sophia     10  0.000003
923072      CT   F  1986  Sophia      8  0.000002
4891364     RI   F  2012  Sophia    105  0.000034)
(('Sophie', 'F'),         region sex  year    name  count      freq
3993444     NY   F  1959  Sophie     10  0.000003
917         AK   F  1944  Sophie      5  0.000002)
(('Sora', 'F'),        region sex  year  name  count      freq
599590     CA   F  2014  Sora      6  0.000002)
(('Soraya', 'F'),         region sex  year    name  count      freq
5425792     TX   F  2019  Soraya     31  0.000011
523499      CA   F  1995  Soraya     14  0.000004)
(('Spencer', 'F'),         region sex  year     name  count      freq
5744872     VA   F  2007  Spencer      6  0.000002
844205      CO   F  2018  Spencer      7  0.000002)
(('Spencer', 'M'),         region sex  year     name  count      freq
5517523     TX   M  1990  Spencer    177  0.000050
257647      AR   M  1998  Spencer     42  0.000013
5487861     TX   M  1967  Spencer     17  0.000005
4645380     OR   M  1984  Spencer     22  0.000007
1620814     IA   M  2017  Spencer     14  0.000005)
(('Stacey', 'F'),         region sex  year    name  count      freq
3358037     NC   F  1961  Stacey      7  0.000002
5842172     VT   F  1984  Stacey     12  0.000004)
(('Staci', 'F'),         region sex  year   name  count      freq
2756180     MI   F  1968  Staci     28  0.000009)
(('Stacie', 'F'),         region sex  year    name  count      freq
3713961     NJ   F  1988  Stacie     11  0.000003)
(('Stacy', 'F'),         region sex  year   name  count      freq
5050690     SD   F  1992  Stacy      6  0.000002)
(('Stanley', 'M'),         region sex  year     name  count      freq
3533859     ND   M  1930  Stanley     29  0.000014
3760838     NJ   M  1929  Stanley    191  0.000094
6202769     WY   M  1926  Stanley     11  0.000005
2503811     MA   M  1923  Stanley    260  0.000121
1821522     IL   M  1920  Stanley    427  0.000203
5771791     VA   M  1932  Stanley     57  0.000029
1592922     IA   M  1950  Stanley     98  0.000029)
(('Starr', 'F'),         region sex  year   name  count      freq
4029010     NY   F  1980  Starr     10  0.000003
432748      CA   F  1959  Starr      5  0.000001)
(('Stavros', 'M'),         region sex  year     name  count      freq
4179418     NY   M  1978  Stavros     10  0.000003)
(('Stefan', 'M'),         region sex  year    name  count      freq
5522752     TX   M  1993  Stefan     44  0.000013
5813726     VA   M  2004  Stefan      5  0.000002
1431182     GA   M  1988  Stefan     14  0.000004
6091115     WI   M  1998  Stefan      8  0.000002)
(('Stefanie', 'F'),         region sex  year      name  count      freq
5114029     TN   F  1971  Stefanie     18  0.000006)
(('Steffany', 'F'),        region sex  year      name  count      freq
501713     CA   F  1989  Steffany     10  0.000003)
(('Stella', 'F'),         region sex  year    name  count      freq
407136      CA   F  1939  Stella     76  0.000037
5735768     VA   F  2000  Stella     10  0.000003
11349       AK   F  2003  Stella      5  0.000002
3646841     NH   F  2015  Stella     10  0.000003
3280534     MT   F  1914  Stella      9  0.000007
295368      AZ   F  1980  Stella      5  0.000002)
(('Stephaine', 'F'),        region sex  year       name  count      freq
477497     CA   F  1981  Stephaine     18  0.000006)
(('Stephan', 'M'),         region sex  year     name  count      freq
5790661     VA   M  1970  Stephan      5  0.000001
1450719     GA   M  2006  Stephan     12  0.000004
2045859     IN   M  2006  Stephan      8  0.000002)
(('Stephanie', 'F'),         region sex  year       name  count      freq
440060      CA   F  1964  Stephanie    906  0.000247
4730886     PA   F  1985  Stephanie   1073  0.000330
75537       AL   F  1987  Stephanie    244  0.000075
5878013     WA   F  1959  Stephanie     63  0.000016
2184445     KY   F  1962  Stephanie    106  0.000028)
(('Stephany', 'F'),         region sex  year      name  count      freq
1746844     IL   F  1980  Stephany      8  0.000003)
(('Stephen', 'M'),         region sex  year     name  count      freq
1062326     DE   M  1985  Stephen     53  0.000016
1208003     FL   M  1959  Stephen    387  0.000098
2022219     IN   M  1970  Stephen    436  0.000130
5790692     VA   M  1971  Stephen    360  0.000113
4839719     PA   M  1996  Stephen    384  0.000119
3930756     NV   M  1969  Stephen     26  0.000008)
(('Stephon', 'M'),         region sex  year     name  count      freq
4209070     NY   M  1998  Stephon     39  0.000012
5518489     TX   M  1990  Stephon      8  0.000002)
(('Sterling', 'M'),         region sex  year      name  count      freq
3424644     NC   M  1912  Sterling      9  0.000010
5672589     UT   M  2011  Sterling     11  0.000004)
(('Stevan', 'M'),         region sex  year    name  count      freq
1839113     IL   M  1951  Stevan     11  0.000003)
(('Steve', 'M'),         region sex  year   name  count      freq
4532834     OK   M  1937  Steve     16  0.000008)
(('Steven', 'F'),         region sex  year    name  count      freq
2768385     MI   F  1979  Steven      8  0.000003)
(('Steven', 'M'),         region sex  year    name  count      freq
1877975     IL   M  1994  Steven    551  0.000167
2386626     LA   M  1965  Steven    323  0.000094)
(('Stevie', 'F'),         region sex  year    name  count      freq
3091734     MO   F  2012  Stevie     12  0.000004
2329827     LA   F  1988  Stevie      7  0.000002
3377743     NC   F  1986  Stevie      6  0.000002)
(('Stewart', 'M'),         region sex  year     name  count      freq
4631662     OR   M  1942  Stewart      5  0.000002
3121700     MO   M  1957  Stewart     10  0.000002)
(('Stone', 'M'),         region sex  year   name  count      freq
4574020     OK   M  2018  Stone      5  0.000002)
(('Stoney', 'M'),         region sex  year    name  count      freq
5501255     TX   M  1978  Stoney      6  0.000002)
(('Stormy', 'F'),         region sex  year    name  count      freq
3383433     NC   F  1992  Stormy      7  0.000002
5606172     UT   F  1974  Stormy      5  0.000002)
(('Story', 'F'),         region sex  year   name  count      freq
4106290     NY   F  2013  Story      5  0.000002)
(('Stuart', 'M'),         region sex  year    name  count      freq
3426139     NC   M  1915  Stuart      5  0.000003
5935587     WA   M  1922  Stuart     12  0.000006
1219923     FL   M  1976  Stuart     16  0.000006
5459179     TX   M  1940  Stuart      9  0.000004
4418180     OH   M  1989  Stuart     24  0.000007
1025399     DC   M  1984  Stuart      6  0.000002
1212776     FL   M  1966  Stuart     33  0.000010)
(('Sue', 'F'),         region sex  year name  count      freq
2301713     LA   F  1954  Sue     61  0.000016
5041731     SD   F  1954  Sue     12  0.000003)
(('Sugey', 'F'),         region sex  year   name  count      freq
5394848     TX   F  2010  Sugey      6  0.000002)
(('Suhayla', 'F'),         region sex  year     name  count      freq
4774982     PA   F  2015  Suhayla      7  0.000002)
(('Sullivan', 'M'),         region sex  year      name  count      freq
4846561     PA   M  2002  Sullivan      7  0.000002
4853431     PA   M  2008  Sullivan     14  0.000004)
(('Summer', 'F'),         region sex  year    name  count      freq
918148      CT   F  1975  Summer      5  0.000002
2089042     KS   F  1981  Summer     25  0.000008
5305010     TX   F  1977  Summer    176  0.000061)
(('Sunni', 'F'),        region sex  year   name  count      freq
471273     CA   F  1978  Sunni      5  0.000002)
(('Sunny', 'F'),        region sex  year   name  count     freq
474554     CA   F  1980  Sunny     30  0.00001)
(('Sunshine', 'F'),        region sex  year      name  count      freq
594148     CA   F  2013  Sunshine     13  0.000004)
(('Susan', 'F'),         region sex  year   name  count      freq
3835870     NM   F  1958  Susan    175  0.000044
6190728     WY   F  1945  Susan     32  0.000013
2307554     LA   F  1962  Susan    449  0.000117
...        ...  ..   ...    ...    ...       ...
2687276     ME   F  1995  Susan      5  0.000002
992521      DC   F  1966  Susan    145  0.000044
2471194     MA   F  1990  Susan     50  0.000014

[11 rows x 6 columns])
(('Susanna', 'F'),         region sex  year     name  count      freq
4368679     OH   F  2019  Susanna      6  0.000002)
(('Susanne', 'F'),         region sex  year     name  count      freq
4734352     PA   F  1987  Susanne      6  0.000002
4273365     OH   F  1942  Susanne     27  0.000010
3682894     NJ   F  1951  Susanne     35  0.000010
6020961     WI   F  1978  Susanne      8  0.000003)
(('Susie', 'F'),        region sex  year   name  count      freq
526565     CA   F  1996  Susie     25  0.000008)
(('Susumu', 'M'),        region sex  year    name  count      freq
631029     CA   M  1928  Susumu      6  0.000003)
(('Suzan', 'F'),         region sex  year   name  count      freq
3045226     MO   F  1954  Suzan     10  0.000003
3696501     NJ   F  1969  Suzan      7  0.000002)
(('Suzann', 'F'),         region sex  year    name  count      freq
3682140     NJ   F  1949  Suzann      5  0.000002)
(('Suzanna', 'F'),         region sex  year     name  count      freq
4118875     NY   F  2018  Suzanna      5  0.000002
4781664     PA   F  2019  Suzanna      6  0.000002)
(('Suzanne', 'F'),         region sex  year     name  count      freq
2164666     KY   F  1925  Suzanne      8  0.000004
55113       AL   F  1956  Suzanne     35  0.000009
1041297     DE   F  1956  Suzanne     17  0.000004
...        ...  ..   ...      ...    ...       ...
401964      CA   F  1931  Suzanne     42  0.000021
2770000     MI   F  1981  Suzanne     78  0.000025
5040199     SD   F  1948  Suzanne     27  0.000008

[9 rows x 6 columns])
(('Suzette', 'F'),         region sex  year     name  count      freq
1304329     GA   F  1947  Suzette      5  0.000001
5108650     TN   F  1962  Suzette      5  0.000001
2678950     ME   F  1963  Suzette      6  0.000002)
(('Suzie', 'F'),         region sex  year   name  count      freq
1115638     FL   F  1983  Suzie      9  0.000003)
(('Sybil', 'F'),         region sex  year   name  count      freq
3965658     NY   F  1932  Sybil     25  0.000013
4935448     SC   F  1960  Sybil      6  0.000002)
(('Sydney', 'F'),         region sex  year    name  count      freq
5725709     VA   F  1990  Sydney     56  0.000016
5598994     UT   F  1956  Sydney      7  0.000002
202871      AR   F  1986  Sydney      7  0.000002)
(('Sydney', 'M'),         region sex  year    name  count      freq
5640336     UT   M  1925  Sydney      5  0.000002)
(('Syed', 'M'),         region sex  year  name  count      freq
3790931     NJ   M  1989  Syed      8  0.000002
5805573     VA   M  1995  Syed      8  0.000002)
(('Sylas', 'M'),         region sex  year   name  count      freq
1274112     FL   M  2016  Sylas     22  0.000007)

(('Sylvia', 'F'),         region sex  year    name  count      freq
3177879     MS   F  1938  Sylvia     84  0.000041
6191804     WY   F  1952  Sylvia      7  0.000002
4683191     PA   F  1935  Sylvia    304  0.000156
5303263     TX   F  1976  Sylvia    205  0.000074)
(('Sylvie', 'F'),        region sex  year    name  count      freq
914186     CT   F  1967  Sylvie      6  0.000002)
(('Symone', 'F'),         region sex  year    name  count      freq
1372215     GA   F  2012  Symone      7  0.000002)
(('Symphony', 'F'),         region sex  year      name  count      freq
4968179     SC   F  2011  Symphony      6  0.000002)
(('Tabatha', 'F'),         region sex  year     name  count      freq
2197749     KY   F  1985  Tabatha     28  0.000009
5712996     VA   F  1973  Tabatha     23  0.000008
3209232     MS   F  1993  Tabatha      5  0.000001)
(('Tabetha', 'F'),         region sex  year     name  count      freq
1126462     FL   F  1990  Tabetha      5  0.000001)
(('Tabitha', 'F'),         region sex  year     name  count      freq
5896245     WA   F  1987  Tabitha     25  0.000008
3906779     NV   F  1980  Tabitha      9  0.000003)
(('Tahirah', 'F'),         region sex  year     name  count      freq
4080038     NY   F  2003  Tahirah      7  0.000002)
(('Tahisha', 'F'),         region sex  year     name  count      freq
3700258     NJ   F  1973  Tahisha      5  0.000002)
(('Taiesha', 'F'),         region sex  year     name  count      freq
4037008     NY   F  1984  Taiesha      6  0.000002)
(('Taisha', 'F'),        region sex  year    name  count      freq
484157     CA   F  1983  Taisha      6  0.000002)
(('Taj', 'M'),        region sex  year name  count      freq
886039     CO   M  2009  Taj      7  0.000002
771304     CA   M  2016  Taj     32  0.000010)
(('Takeo', 'M'),        region sex  year   name  count      freq
625021     CA   M  1917  Takeo      6  0.000003)
(('Takisha', 'F'),         region sex  year     name  count      freq
3700640     NJ   F  1974  Takisha     16  0.000006)
(('Talia', 'F'),         region sex  year   name  count      freq
6026296     WI   F  1986  Talia      5  0.000002)
(('Talitha', 'F'),         region sex  year     name  count      freq
5119232     TN   F  1978  Talitha      5  0.000002)
(('Taliyah', 'F'),         region sex  year     name  count      freq
3858911     NM   F  2009  Taliyah      5  0.000002)
(('Talmadge', 'M'),         region sex  year      name  count     freq
3430601     NC   M  1923  Talmadge     21  0.00001)
(('Tam', 'M'),        region sex  year name  count      freq
723135     CA   M  1998  Tam      5  0.000002)
(('Tamala', 'F'),        region sex  year    name  count      freq
463755     CA   F  1975  Tamala      7  0.000003)
(('Tamara', 'F'),         region sex  year    name  count      freq
2928943     MN   F  1966  Tamara    130  0.000040
2210042     KY   F  2004  Tamara      5  0.000002
56070       AL   F  1957  Tamara      8  0.000002
...        ...  ..   ...     ...    ...       ...
2925628     MN   F  1960  Tamara    132  0.000033
3576167     NE   F  1983  Tamara     10  0.000003
2323153     LA   F  1981  Tamara     43  0.000014

[9 rows x 6 columns])
(('Tameeka', 'F'),         region sex  year     name  count      freq
3703487     NJ   F  1977  Tameeka      9  0.000003)
(('Tameika', 'F'),         region sex  year     name  count      freq
5718188     VA   F  1980  Tameika      7  0.000002)
(('Tameka', 'F'),         region sex  year    name  count      freq
3391430     NC   F  1999  Tameka      5  0.000002
2330780     LA   F  1989  Tameka      6  0.000002
1955245     IN   F  1978  Tameka     19  0.000007)
(('Tamela', 'F'),         region sex  year    name  count      freq
3052107     MO   F  1964  Tamela     11  0.000003)
(('Tamera', 'F'),         region sex  year    name  count      freq
2764979     MI   F  1976  Tamera     10  0.000004
2305975     LA   F  1959  Tamera      5  0.000001
5599240     UT   F  1957  Tamera     15  0.000004)
(('Tami', 'F'),         region sex  year  name  count      freq
1105899     FL   F  1975  Tami     36  0.000013
5710359     VA   F  1969  Tami     19  0.000006)
(('Tamia', 'F'),        region sex  year   name  count      freq
493275     CA   F  1986  Tamia      5  0.000002)
(('Tamica', 'F'),         region sex  year    name  count      freq
3369452     NC   F  1976  Tamica      6  0.000002
4036811     NY   F  1984  Tamica      7  0.000002)
(('Tamie', 'F'),        region sex  year   name  count      freq
431634     CA   F  1959  Tamie     30  0.000008)
(('Tamika', 'F'),         region sex  year    name  count      freq
1116388     FL   F  1984  Tamika     38  0.000012
3383238     NC   F  1992  Tamika     10  0.000003
1735091     IL   F  1972  Tamika     31  0.000011)
(('Tammara', 'F'),         region sex  year     name  count      freq
1940539     IN   F  1958  Tammara      9  0.000002)
(('Tammi', 'F'),         region sex  year   name  count      freq
1940384     IN   F  1958  Tammi     17  0.000004
3358939     NC   F  1962  Tammi      5  0.000001
4054728     NY   F  1992  Tammi      5  0.000001
1556130     IA   F  1978  Tammi      8  0.000003
4301908     OH   F  1972  Tammi     40  0.000014
451934      CA   F  1970  Tammi     70  0.000021)
(('Tammie', 'F'),         region sex  year    name  count      freq
4489859     OK   F  1977  Tammie     12  0.000004
488629      CA   F  1985  Tammie     15  0.000005)
(('Tammy', 'F'),         region sex  year   name  count      freq
2305998     LA   F  1960  Tammy    404  0.000102
1727107     IL   F  1966  Tammy    827  0.000253
6017673     WI   F  1973  Tammy    360  0.000130)
(('Tamra', 'F'),        region sex  year   name  count      freq
283284     AZ   F  1958  Tamra      6  0.000002
427482     CA   F  1956  Tamra      7  0.000002)
(('Tania', 'F'),         region sex  year   name  count      freq
571978      CA   F  2008  Tania    122  0.000036
6022164     WI   F  1980  Tania     10  0.000003
2569944     MD   F  1962  Tania      5  0.000001
1170185     FL   F  2012  Tania     12  0.000004
3703125     NJ   F  1977  Tania     34  0.000012)
(('Tanisha', 'F'),         region sex  year     name  count      freq
4606916     OR   F  1995  Tanisha      8  0.000002)
(('Tanner', 'F'),         region sex  year    name  count      freq
3073626     MO   F  1993  Tanner      5  0.000001)
(('Tanner', 'M'),         region sex  year    name  count      freq
266156      AR   M  2013  Tanner     13  0.000004
5026946     SC   M  2014  Tanner     45  0.000014)
(('Tanya', 'F'),         region sex  year   name  count      freq
5332194     TX   F  1990  Tanya     73  0.000020
2190746     KY   F  1973  Tanya     67  0.000024
5098841     TN   F  1946  Tanya      6  0.000002)
(('Tara', 'F'),         region sex  year  name  count      freq
1104653     FL   F  1974  Tara    244  0.000088
5612959     UT   F  1988  Tara     54  0.000016)
(('Taraji', 'F'),         region sex  year    name  count      freq
1162000     FL   F  2008  Taraji      5  0.000001)
(('Tarek', 'M'),         region sex  year   name  count      freq
4199133     NY   M  1992  Tarek     11  0.000003
767520      CA   M  2014  Tarek      5  0.000002)
(('Tarra', 'F'),         region sex  year   name  count      freq
4007863     NY   F  1968  Tarra      5  0.000002)
(('Taryn', 'F'),         region sex  year   name  count      freq
1789118     IL   F  2006  Taryn     28  0.000008
2203215     KY   F  1994  Taryn      7  0.000002
4116379     NY   F  2017  Taryn      5  0.000002
210684      AR   F  2002  Taryn      8  0.000002
835715      CO   F  2010  Taryn      9  0.000003
3638555     NH   F  1982  Taryn      5  0.000002
4510587     OK   F  2008  Taryn     16  0.000005)
(('Tasha', 'F'),         region sex  year   name  count      freq
3377149     NC   F  1986  Tasha     43  0.000013
1559271     IA   F  1985  Tasha     23  0.000007)
(('Tate', 'M'),         region sex  year  name  count      freq
721561      CA   M  1998  Tate     22  0.000007
707542      CA   M  1992  Tate      7  0.000002
3624281     NE   M  2017  Tate     13  0.000004)
(('Tatiyana', 'F'),         region sex  year      name  count      freq
5362729     TX   F  2001  Tatiyana      8  0.000002)
(('Tatum', 'F'),         region sex  year   name  count      freq
2496292     MA   F  2017  Tatum      7  0.000002
1140792     FL   F  1999  Tatum     21  0.000006
1340293     GA   F  1991  Tatum      7  0.000002)
(('Tatum', 'M'),         region sex  year   name  count      freq
5559081     TX   M  2010  Tatum     34  0.000011)
(('Tatyana', 'F'),         region sex  year     name  count      freq
622696      CA   F  2020  Tatyana      5  0.000002
2786276     MI   F  1994  Tatyana      6  0.000002)
(('Taurus', 'M'),         region sex  year    name  count      freq
5006270     SC   M  1980  Taurus      7  0.000002)
(('Taven', 'M'),         region sex  year   name  count      freq
5554505     TX   M  2008  Taven     13  0.000004)
(('Tawanda', 'F'),         region sex  year     name  count      freq
6018796     WI   F  1974  Tawanda      5  0.000002
1104033     FL   F  1973  Tawanda     16  0.000006)
(('Tawny', 'F'),        region sex  year   name  count      freq
444661     CA   F  1966  Tawny     14  0.000004)
(('Tayah', 'F'),         region sex  year   name  count      freq
5366466     TX   F  2002  Tayah      6  0.000002)
(('Taylar', 'F'),         region sex  year    name  count      freq
5363689     TX   F  2001  Taylar      5  0.000002)
(('Taylin', 'F'),         region sex  year    name  count      freq
3410456     NC   F  2012  Taylin      9  0.000003)
(('Taylor', 'F'),         region sex  year    name  count      freq
5634444     UT   F  2017  Taylor     32  0.000011
76308       AL   F  1988  Taylor     31  0.000009
3710818     NJ   F  1985  Taylor     17  0.000005)
(('Taylor', 'M'),         region sex  year    name  count      freq
5774483     VA   M  1938  Taylor      9  0.000004
1669405     ID   M  1985  Taylor     15  0.000005
2409479     LA   M  1998  Taylor    100  0.000031
126677      AL   M  1955  Taylor      5  0.000001
2394059     LA   M  1976  Taylor      7  0.000003)
(('Tayshawn', 'M'),         region sex  year      name  count      freq
1451389     GA   M  2006  Tayshawn      5  0.000001)
(('Teagan', 'F'),         region sex  year    name  count      freq
1576052     IA   F  2015  Teagan     16  0.000005)
(('Teagan', 'M'),         region sex  year    name  count      freq
4449852     OH   M  2016  Teagan      6  0.000002)
(('Ted', 'M'),         region sex  year name  count      freq
6203174     WY   M  1930  Ted      6  0.000003
3241175     MS   M  1945  Ted     21  0.000008
3601407     NE   M  1946  Ted     18  0.000006
3607920     NE   M  1969  Ted     16  0.000005)
(('Teddy', 'M'),         region sex  year   name  count      freq
3773064     NJ   M  1961  Teddy     14  0.000004)
(('Tegan', 'F'),         region sex  year   name  count      freq
1359502     GA   F  2005  Tegan      8  0.000002)
(('Temperance', 'F'),         region sex  year        name  count      freq
4517043     OK   F  2015  Temperance      9  0.000003)
(('Tena', 'F'),        region sex  year  name  count      freq
451286     CA   F  1969  Tena      6  0.000002)
(('Tenaya', 'F'),        region sex  year    name  count      freq
558013     CA   F  2004  Tenaya      7  0.000002)
(('Tenika', 'F'),         region sex  year    name  count      freq
4020416     NY   F  1975  Tenika      5  0.000002)
(('Tennille', 'F'),         region sex  year      name  count      freq
5307896     TX   F  1978  Tennille      9  0.000003)
(('Teodoro', 'M'),         region sex  year     name  count      freq
5481703     TX   M  1961  Teodoro      7  0.000002)
(('Tera', 'F'),         region sex  year  name  count      freq
3203217     MS   F  1982  Tera      5  0.000002
1557118     IA   F  1980  Tera      8  0.000003
2933427     MN   F  1974  Tera     10  0.000004)
(('Terell', 'M'),         region sex  year    name  count      freq
1238127     FL   M  1994  Terell      9  0.000003)
(('Terence', 'M'),         region sex  year     name  count      freq
135775      AL   M  1973  Terence     17  0.000006
135321      AL   M  1972  Terence     13  0.000004
4140637     NY   M  1937  Terence     27  0.000014
4202021     NY   M  1994  Terence     39  0.000012
678178      CA   M  1978  Terence     24  0.000008)
(('Teresa', 'F'),         region sex  year    name  count      freq
3053056     MO   F  1966  Teresa    346  0.000106)
(('Teri', 'F'),         region sex  year  name  count      freq
4276267     OH   F  1946  Teri     15  0.000005
3704480     NJ   F  1978  Teri      8  0.000003
4280234     OH   F  1951  Teri     32  0.000009
4036305     NY   F  1984  Teri     12  0.000004)
(('Terra', 'F'),         region sex  year   name  count      freq
5885984     WA   F  1972  Terra     12  0.000004
3071511     MO   F  1991  Terra     12  0.000003
448939      CA   F  1968  Terra      8  0.000003
3851432     NM   F  1994  Terra      6  0.000002)
(('Terrance', 'M'),         region sex  year      name  count      freq
1836382     IL   M  1947  Terrance     62  0.000018
2702843     ME   M  1955  Terrance     19  0.000005
1593005     IA   M  1950  Terrance     34  0.000010
2639697     MD   M  1986  Terrance     21  0.000007)
(('Terrell', 'M'),         region sex  year     name  count      freq
4416504     OH   M  1987  Terrell     28  0.000009
1387354     GA   M  1912  Terrell      8  0.000009
742294      CA   M  2006  Terrell     22  0.000006
251064      AR   M  1981  Terrell      5  0.000002
4450718     OH   M  2017  Terrell     14  0.000005)
(('Terrence', 'M'),         region sex  year      name  count      freq
4552466     OK   M  1984  Terrence      5  0.000002
4898911     RI   M  1953  Terrence      6  0.000002
4414167     OH   M  1984  Terrence     36  0.000011)
(('Terri', 'F'),         region sex  year   name  count      freq
5703446     VA   F  1959  Terri    131  0.000033
1729600     IL   F  1968  Terri    169  0.000053
1778689     IL   F  2000  Terri      8  0.000002
2199558     KY   F  1988  Terri     10  0.000003
2074343     KS   F  1949  Terri     24  0.000007
2182055     KY   F  1958  Terri    156  0.000040)
(('Terrica', 'F'),         region sex  year     name  count      freq
1116118     FL   F  1983  Terrica      5  0.000002)
(('Terrie', 'F'),         region sex  year    name  count      freq
1304800     GA   F  1948  Terrie      8  0.000002)
(('Terry', 'F'),         region sex  year   name  count      freq
5707543     VA   F  1965  Terry     87  0.000025)
(('Terry', 'M'),         region sex  year   name  count      freq
3931473     NV   M  1973  Terry     10  0.000004
2511977     MA   M  1948  Terry     25  0.000008
3309668     MT   M  1945  Terry     41  0.000016
4402691     OH   M  1969  Terry    338  0.000104
3654223     NH   M  1959  Terry      9  0.000002
3600798     NE   M  1944  Terry    119  0.000047
1403665     GA   M  1944  Terry    124  0.000049)
(('Tesla', 'F'),         region sex  year   name  count      freq
2204582     KY   F  1996  Tesla      5  0.000002)
(('Tess', 'F'),         region sex  year  name  count      freq
5320081     TX   F  1984  Tess      9  0.000003)
(('Tessa', 'F'),         region sex  year   name  count      freq
2932982     MN   F  1973  Tessa      7  0.000003
6037627     WI   F  2002  Tessa     38  0.000012
933320      CT   F  2005  Tessa     19  0.000006
1645637     ID   F  2001  Tessa      6  0.000002)
(('Tessie', 'F'),         region sex  year    name  count      freq
2314337     LA   F  1970  Tessie      8  0.000002
2324529     LA   F  1982  Tessie      8  0.000003)
(('Tevin', 'M'),         region sex  year   name  count      freq
2644205     MD   M  1994  Tevin     35  0.000011
3140601     MO   M  1993  Tevin     22  0.000007)
(('Thaddeus', 'M'),         region sex  year      name  count      freq
2846355     MI   M  1957  Thaddeus     14  0.000003
2380264     LA   M  1954  Thaddeus      6  0.000002
4791146     PA   M  1924  Thaddeus     34  0.000015
2503542     MA   M  1922  Thaddeus     26  0.000012)
(('Thais', 'F'),        region sex  year   name  count      freq
548956     CA   F  2002  Thais     14  0.000004)
(('Thalia', 'F'),         region sex  year    name  count      freq
3743946     NJ   F  2012  Thalia      7  0.000002
2210507     KY   F  2005  Thalia      9  0.000003
2600721     MD   F  2006  Thalia      5  0.000001)
(('Thatcher', 'M'),         region sex  year      name  count      freq
1457218     GA   M  2010  Thatcher      5  0.000002)

(('Thelma', 'F'),         region sex  year    name  count      freq
4704340     PA   F  1960  Thelma     27  0.000007
6132497     WV   F  1967  Thelma      9  0.000003
3675434     NJ   F  1935  Thelma     29  0.000015
1471908     HI   F  1916  Thelma     21  0.000012)
(('Theo', 'M'),         region sex  year  name  count      freq
5984136     WA   M  2016  Theo     43  0.000014)
(('Theodora', 'F'),         region sex  year      name  count      freq
2915984     MN   F  1939  Theodora      6  0.000003
1686717     IL   F  1917  Theodora     10  0.000005
1086546     FL   F  1952  Theodora      5  0.000001)
(('Theodore', 'M'),         region sex  year      name  count      freq
5933552     WA   M  1913  Theodore     12  0.000012
5062264     SD   M  1935  Theodore     10  0.000005
104381      AL   M  1913  Theodore     26  0.000025
...        ...  ..   ...       ...    ...       ...
5811103     VA   M  2002  Theodore     33  0.000010
5953903     WA   M  1976  Theodore     25  0.000009
1998223     IN   M  1912  Theodore     35  0.000039

[11 rows x 6 columns])
(('Theresa', 'F'),         region sex  year     name  count      freq
30076       AL   F  1911  Theresa      5  0.000009
3636295     NH   F  1972  Theresa     18  0.000006
5890067     WA   F  1979  Theresa     56  0.000019
2562098     MD   F  1947  Theresa     74  0.000022
2948629     MN   F  1998  Theresa     16  0.000005
1922929     IN   F  1924  Theresa     24  0.000011
3559491     NE   F  1933  Theresa     16  0.000009)
(('Therese', 'F'),         region sex  year     name  count      freq
4670823     PA   F  1917  Therese     10  0.000005
2436075     MA   F  1926  Therese    148  0.000069)
(('Theron', 'M'),         region sex  year    name  count      freq
1999969     IN   M  1917  Theron      9  0.000005
105982      AL   M  1916  Theron      6  0.000003)
(('Thom', 'M'),        region sex  year  name  count      freq
643712     CA   M  1948  Thom      6  0.000002)
(('Thomas', 'F'),         region sex  year    name  count      freq
4273799     OH   F  1942  Thomas      5  0.000002
4679566     PA   F  1929  Thomas     12  0.000006)
(('Thomas', 'M'),         region sex  year    name  count      freq
4643281     OR   M  1979  Thomas    133  0.000044
224748      AR   M  1917  Thomas    225  0.000121
3946335     NV   M  2015  Thomas     51  0.000016
6162610     WV   M  1942  Thomas    422  0.000164
1012716     DC   M  1940  Thomas    168  0.000078
2150373     KS   M  2011  Thomas     77  0.000025
2137579     KS   M  1985  Thomas    139  0.000043)
(('Thor', 'M'),         region sex  year  name  count      freq
3017124     MN   M  2015  Thor      9  0.000003)
(('Tia', 'F'),         region sex  year name  count      freq
928347      CT   F  1996  Tia     13  0.000004
3712774     NJ   F  1987  Tia     18  0.000006
4514505     OK   F  2012  Tia      7  0.000002
4002319     NY   F  1965  Tia     13  0.000004
3996885     NY   F  1961  Tia      5  0.000001)
(('Tiana', 'F'),         region sex  year   name  count      freq
5309593     TX   F  1979  Tiana     12  0.000004
2344837     LA   F  2006  Tiana     11  0.000003
5139052     TN   F  2003  Tiana     15  0.000005
328915      AZ   F  2013  Tiana     15  0.000005)
(('Tianna', 'F'),         region sex  year    name  count      freq
5385542     TX   F  2008  Tianna     20  0.000006
4960955     SC   F  2003  Tianna     15  0.000005
4040334     NY   F  1986  Tianna     11  0.000003)
(('Tiarra', 'F'),         region sex  year    name  count      freq
5338559     TX   F  1992  Tiarra      7  0.000002)
(('Tiera', 'F'),         region sex  year   name  count      freq
1348760     GA   F  1998  Tiera      6  0.000002)
(('Tierney', 'F'),         region sex  year     name  count      freq
1786709     IL   F  2004  Tierney      5  0.000002)
(('Tiffani', 'F'),         region sex  year     name  count      freq
3203221     MS   F  1982  Tiffani      5  0.000002)
(('Tiffany', 'F'),         region sex  year     name  count      freq
1570192     IA   F  2006  Tiffany     12  0.000004
5047993     SD   F  1980  Tiffany     44  0.000014
2603160     MD   F  2009  Tiffany     19  0.000006
...        ...  ..   ...      ...    ...       ...
1812935     IL   F  2018  Tiffany      8  0.000003
1171735     FL   F  2013  Tiffany     52  0.000017
5898563     WA   F  1990  Tiffany    172  0.000048

[8 rows x 6 columns])
(('Tiffiny', 'F'),         region sex  year     name  count      freq
1740067     IL   F  1975  Tiffiny      5  0.000002)
(('Tiger', 'M'),        region sex  year   name  count      freq
746734     CA   M  2007  Tiger      6  0.000002)
(('Tillie', 'F'),         region sex  year    name  count      freq
3827692     NM   F  1931  Tillie      9  0.000005)
(('Tim', 'M'),         region sex  year name  count      freq
2515415     MA   M  1958  Tim     28  0.000007
2011819     IN   M  1949  Tim     58  0.000018
4998244     SC   M  1963  Tim     47  0.000013)
(('Timmy', 'M'),         region sex  year   name  count      freq
5196293     TN   M  1986  Timmy      9  0.000003
4389010     OH   M  1948  Timmy     11  0.000003
1249165     FL   M  2002  Timmy     10  0.000003)
(('Timothy', 'F'),         region sex  year     name  count      freq
5301441     TX   F  1974  Timothy      5  0.000002)
(('Timothy', 'M'),         region sex  year     name  count      freq
6179864     WV   M  1999  Timothy     67  0.000020
5461638     TX   M  1943  Timothy     76  0.000029
113502      AL   M  1930  Timothy      7  0.000003
6102052     WI   M  2013  Timothy     52  0.000017
2985082     MN   M  1954  Timothy    609  0.000161
4155295     NY   M  1957  Timothy   1796  0.000449
2986604     MN   M  1958  Timothy    931  0.000237)
(('Tina', 'F'),         region sex  year  name  count      freq
2085343     KS   F  1973  Tina    106  0.000038
3057151     MO   F  1972  Tina    344  0.000119
3839305     NM   F  1966  Tina     51  0.000016
5978        AK   F  1978  Tina     11  0.000004)
(('Tinley', 'F'),         region sex  year    name  count      freq
6054341     WI   F  2019  Tinley      7  0.000002)
(('Tionna', 'F'),        region sex  year    name  count      freq
546643     CA   F  2001  Tionna      6  0.000002)
(('Tisha', 'F'),         region sex  year   name  count      freq
3705332     NJ   F  1979  Tisha     10  0.000003
3057458     MO   F  1972  Tisha     16  0.000006
4313662     OH   F  1982  Tisha     19  0.000006)
(('Titan', 'M'),         region sex  year   name  count      freq
1525490     HI   M  2016  Titan     12  0.000004)
(('Titus', 'M'),         region sex  year   name  count      freq
3255834     MS   M  1976  Titus      5  0.000002
5977868     WA   M  2010  Titus     24  0.000008
3488812     NC   M  2008  Titus     22  0.000007)
(('Tobie', 'F'),         region sex  year   name  count      freq
3059923     MO   F  1975  Tobie      5  0.000002)
(('Toby', 'M'),         region sex  year  name  count     freq
2253195     KY   M  1975  Toby     27  0.00001)
(('Tod', 'M'),         region sex  year name  count      freq
2517873     MA   M  1964  Tod     12  0.000003)
(('Todd', 'M'),         region sex  year  name  count      freq
2126395     KS   M  1954  Todd     11  0.000003
3661682     NH   M  2002  Todd      5  0.000002
388636      AZ   M  2018  Todd      5  0.000002
5474545     TX   M  1955  Todd     31  0.000008
5071112     SD   M  1979  Todd     21  0.000007
6175343     WV   M  1981  Todd     45  0.000014)
(('Tom', 'M'),         region sex  year name  count      freq
6207353     WY   M  1963  Tom     11  0.000003
4823829     PA   M  1976  Tom      9  0.000003
1666980     ID   M  1975  Tom      5  0.000002
4383553     OH   M  1938  Tom    196  0.000095
866783      CO   M  1977  Tom      6  0.000002)
(('Tomas', 'M'),         region sex  year   name  count      freq
5664873     UT   M  2000  Tomas      8  0.000002
4835796     PA   M  1991  Tomas      6  0.000002
4241164     NY   M  2014  Tomas     20  0.000006)
(('Tomika', 'F'),         region sex  year    name  count      freq
5114416     TN   F  1971  Tomika      5  0.000002)
(('Tommie', 'F'),        region sex  year    name  count     freq
180859     AR   F  1939  Tommie     21  0.00001)
(('Tommy', 'M'),         region sex  year   name  count      freq
2841741     MI   M  1950  Tommy     47  0.000014
130006      AL   M  1962  Tommy    188  0.000049
2241160     KY   M  1948  Tommy    125  0.000038
3611998     NE   M  1984  Tommy      5  0.000002
1848648     IL   M  1964  Tommy     92  0.000025)
(('Toney', 'M'),         region sex  year   name  count      freq
5487337     TX   M  1966  Toney      5  0.000002)
(('Toni', 'F'),         region sex  year  name  count      freq
1177460     FL   F  2015  Toni     10  0.000003
1750495     IL   F  1983  Toni     46  0.000015
3985970     NY   F  1954  Toni    177  0.000047
...        ...  ..   ...   ...    ...       ...
5308780     TX   F  1979  Toni    106  0.000035
803091      CO   F  1965  Toni     29  0.000008
426393      CA   F  1956  Toni    295  0.000075

[8 rows x 6 columns])
(('Tonia', 'F'),        region sex  year   name  count      freq
451930     CA   F  1970  Tonia     71  0.000021)
(('Tonja', 'F'),         region sex  year   name  count      freq
1736571     IL   F  1973  Tonja     18  0.000007)
(('Tony', 'M'),         region sex  year  name  count      freq
3545203     ND   M  1987  Tony      5  0.000002
4627827     OR   M  1922  Tony      5  0.000002
128344      AL   M  1959  Tony    261  0.000066
...        ...  ..   ...   ...    ...       ...
5011543     SC   M  1991  Tony     46  0.000013
3656201     NH   M  1971  Tony      6  0.000002
3314264     MT   M  1966  Tony     27  0.000008

[8 rows x 6 columns])
(('Tonya', 'F'),         region sex  year   name  count      freq
6128097     WV   F  1956  Tonya      5  0.000001
3064448     MO   F  1982  Tonya     65  0.000020
2566082     MD   F  1955  Tonya      5  0.000001
1637686     ID   F  1976  Tonya     24  0.000009)
(('Torey', 'M'),         region sex  year   name  count      freq
4199902     NY   M  1992  Torey      5  0.000001)
(('Tori', 'F'),         region sex  year  name  count      freq
4962541     SC   F  2005  Tori     13  0.000004
3853245     NM   F  1998  Tori      6  0.000002
2680052     ME   F  1967  Tori      7  0.000002
1123761     FL   F  1989  Tori     22  0.000006)
(('Torie', 'F'),         region sex  year   name  count      freq
4334827     OH   F  1998  Torie      5  0.000002)
(('Torrie', 'M'),         region sex  year    name  count      freq
3782263     NJ   M  1976  Torrie      5  0.000002)
(('Tory', 'M'),         region sex  year  name  count      freq
2643969     MD   M  1993  Tory      6  0.000002)
(('Trace', 'M'),         region sex  year   name  count      freq
1257208     FL   M  2007  Trace     29  0.000008
3487928     NC   M  2007  Trace      9  0.000003
1673140     ID   M  1998  Trace      7  0.000002)
(('Tracee', 'F'),         region sex  year    name  count      freq
5306304     TX   F  1977  Tracee      7  0.000002)
(('Tracey', 'F'),         region sex  year    name  count      freq
4062512     NY   F  1996  Tracey     18  0.000006)
(('Tracey', 'M'),         region sex  year    name  count      freq
1418979     GA   M  1970  Tracey     22  0.000007
1217753     FL   M  1973  Tracey     12  0.000004
5525753     TX   M  1994  Tracey      5  0.000002)
(('Tracie', 'F'),         region sex  year    name  count      freq
444013      CA   F  1966  Tracie    108  0.000033
5878160     WA   F  1959  Tracie     21  0.000005)
(('Tracy', 'F'),         region sex  year   name  count      freq
5047327     SD   F  1977  Tracy     31  0.000011
5742000     VA   F  2005  Tracy      7  0.000002
288412      AZ   F  1969  Tracy     92  0.000028
2181114     KY   F  1956  Tracy     14  0.000004
4753118     PA   F  2001  Tracy      6  0.000002)
(('Tracy', 'M'),         region sex  year   name  count      freq
5567983     TX   M  2013  Tracy      8  0.000003
5470169     TX   M  1951  Tracy     25  0.000007
18171       AK   M  1963  Tracy      7  0.000002
5781009     VA   M  1952  Tracy      9  0.000002
5007109     SC   M  1982  Tracy     14  0.000004)
(('Tramaine', 'M'),         region sex  year      name  count      freq
1265658     FL   M  2011  Tramaine      6  0.000002)
(('Travis', 'M'),         region sex  year    name  count      freq
1417033     GA   M  1967  Travis     92  0.000029
5075686     SD   M  2002  Travis      6  0.000002
3239390     MS   M  1941  Travis     25  0.000011
1414139     GA   M  1962  Travis     33  0.000009)
(('Travon', 'M'),         region sex  year    name  count      freq
703805      CA   M  1991  Travon     31  0.000009
4451437     OH   M  2017  Travon      5  0.000002)
(('Trayvon', 'M'),         region sex  year     name  count      freq
5547722     TX   M  2005  Trayvon      7  0.000002)
(('Treasure', 'F'),         region sex  year      name  count      freq
4774986     PA   F  2015  Treasure      7  0.000002)
(('Tremaine', 'M'),         region sex  year      name  count      freq
2998512     MN   M  1987  Tremaine      5  0.000002
5550376     TX   M  2006  Tremaine      6  0.000002)
(('Trent', 'M'),         region sex  year   name  count      freq
3798666     NJ   M  1998  Trent     12  0.000004
1600925     IA   M  1972  Trent     28  0.000010
723497      CA   M  1999  Trent    108  0.000033)
(('Trenton', 'M'),         region sex  year     name  count      freq
4656403     OR   M  2006  Trenton     26  0.000008
2417930     LA   M  2008  Trenton     33  0.000010
2861807     MI   M  1979  Trenton      9  0.000003
1678773     ID   M  2012  Trenton     10  0.000003)
(('Trever', 'M'),         region sex  year    name  count      freq
3148762     MO   M  2004  Trever      8  0.000002)
(('Trevon', 'M'),        region sex  year    name  count      freq
157740     AL   M  2009  Trevon      7  0.000002)
(('Trevor', 'M'),         region sex  year    name  count      freq
3662202     NH   M  2005  Trevor     25  0.000007
3774919     NJ   M  1964  Trevor      6  0.000002)
(('Trey', 'M'),         region sex  year  name  count      freq
661337      CA   M  1965  Trey      6  0.000002
1462093     GA   M  2014  Trey     12  0.000004)
(('Tricia', 'F'),         region sex  year    name  count      freq
5118169     TN   F  1977  Tricia     12  0.000004)
(('Trina', 'F'),         region sex  year   name  count      freq
490848      CA   F  1986  Trina     48  0.000015
2457568     MA   F  1970  Trina     21  0.000006
5278997     TX   F  1960  Trina     38  0.000010
2578721     MD   F  1978  Trina     13  0.000005
4715440     PA   F  1971  Trina     69  0.000022
449641      CA   F  1969  Trina    192  0.000059
2749363     MI   F  1961  Trina     35  0.000009)
(('Trinidad', 'F'),        region sex  year      name  count      freq
271748     AZ   F  1917  Trinidad      6  0.000003)
(('Trinity', 'F'),         region sex  year     name  count      freq
5425061     TX   F  2019  Trinity    157  0.000054
3420848     NC   F  2019  Trinity     69  0.000024)
(('Tripp', 'M'),        region sex  year   name  count      freq
160099     AL   M  2012  Tripp      7  0.000002)
(('Trish', 'F'),         region sex  year   name  count      freq
1740070     IL   F  1975  Trish      5  0.000002)
(('Trisha', 'F'),         region sex  year    name  count      freq
4600893     OR   F  1985  Trisha     19  0.000006
5609246     UT   F  1981  Trisha     53  0.000017
3575698     NE   F  1982  Trisha     25  0.000008
4328373     OH   F  1994  Trisha     27  0.000008)
(('Trista', 'F'),         region sex  year    name  count      freq
4493040     OK   F  1982  Trista      7  0.000002
1640229     ID   F  1984  Trista     12  0.000004)
(('Tristan', 'F'),         region sex  year     name  count      freq
5622032     UT   F  2002  Tristan      8  0.000002)
(('Tristan', 'M'),         region sex  year     name  count      freq
5857731     VT   M  1998  Tristan      7  0.000002
2413659     LA   M  2003  Tristan     58  0.000017
2028220     IN   M  1980  Tristan      6  0.000002
5961492     WA   M  1990  Tristan     38  0.000011)
(('Tristen', 'F'),        region sex  year     name  count      freq
541838     CA   F  2000  Tristen     10  0.000003
320402     AZ   F  2006  Tristen      5  0.000001)
(('Tristen', 'M'),         region sex  year     name  count      freq
1621812     IA   M  2018  Tristen      5  0.000002
2059880     IN   M  2020  Tristen     10  0.000004)
(('Tristian', 'M'),         region sex  year      name  count      freq
2417551     LA   M  2007  Tristian      7  0.000002)
(('Tristin', 'M'),         region sex  year     name  count      freq
1675346     ID   M  2004  Tristin      7  0.000002)

(('Troy', 'M'),         region sex  year  name  count      freq
3477782     NC   M  1998  Troy     45  0.000014
3877228     NM   M  1963  Troy     33  0.000009
3665789     NH   M  2019  Troy      6  0.000002
3488627     NC   M  2008  Troy     50  0.000015
1905524     IL   M  2013  Troy     34  0.000011
3004421     MN   M  1999  Troy     21  0.000006
5950659     WA   M  1969  Troy    202  0.000062)
(('Trudy', 'F'),         region sex  year   name  count      freq
1545600     IA   F  1956  Trudy     16  0.000004
5103301     TN   F  1954  Trudy     10  0.000003)
(('Truman', 'M'),        region sex  year    name  count      freq
716971     CA   M  1996  Truman     13  0.000004
768609     CA   M  2015  Truman     21  0.000007)
(('Trystan', 'M'),        region sex  year     name  count      freq
756788     CA   M  2011  Trystan     27  0.000009)
(('Tucker', 'M'),         region sex  year    name  count      freq
2711320     ME   M  1996  Tucker      9  0.000003
2275700     KY   M  2018  Tucker     65  0.000022
2878602     MI   M  1999  Tucker     22  0.000007)
(('Turner', 'M'),         region sex  year    name  count      freq
3491928     NC   M  2010  Turner      7  0.000002
3140369     MO   M  1992  Turner      5  0.000001)
(('Twila', 'F'),         region sex  year   name  count      freq
2076643     KS   F  1954  Twila     10  0.000003)
(('Twyla', 'F'),         region sex  year   name  count      freq
1730372     IL   F  1968  Twyla      8  0.000003)
(('Ty', 'M'),         region sex  year name  count      freq
2997149     MN   M  1984   Ty      7  0.000002
2142235     KS   M  1996   Ty     31  0.000010)
(('Tyasia', 'F'),         region sex  year    name  count      freq
4062433     NY   F  1996  Tyasia     21  0.000007)
(('Tyeisha', 'F'),         region sex  year     name  count      freq
1342665     GA   F  1993  Tyeisha      6  0.000002)
(('Tyesha', 'F'),         region sex  year    name  count      freq
1333112     GA   F  1984  Tyesha      9  0.000003)
(('Tyler', 'F'),         region sex  year   name  count      freq
5735505     VA   F  2000  Tyler     22  0.000007)
(('Tyler', 'M'),         region sex  year   name  count      freq
4843597     PA   M  2000  Tyler   1108  0.000331
5212824     TN   M  2009  Tyler    261  0.000080
2848538     MI   M  1960  Tyler      7  0.000002
...        ...  ..   ...    ...    ...       ...
1519151     HI   M  1996  Tyler     99  0.000031
2277189     KY   M  2020  Tyler     46  0.000017
1025951     DC   M  1986  Tyler      7  0.000002

[9 rows x 6 columns])
(('Tymel', 'M'),         region sex  year   name  count      freq
4208658     NY   M  1997  Tymel      5  0.000002)
(('Tynasia', 'F'),         region sex  year     name  count      freq
2599599     MD   F  2005  Tynasia      6  0.000002)
(('Tyre', 'M'),         region sex  year  name  count      freq
1442094     GA   M  1999  Tyre      8  0.000002)
(('Tyree', 'M'),         region sex  year   name  count      freq
5581686     TX   M  2018  Tyree      7  0.000002)
(('Tyrell', 'M'),         region sex  year    name  count      freq
4450049     OH   M  2016  Tyrell      5  0.000002)
(('Tyrese', 'M'),         region sex  year    name  count      freq
1451810     GA   M  2007  Tyrese     28  0.000008)
(('Tyriek', 'M'),         region sex  year    name  count      freq
4194855     NY   M  1989  Tyriek      5  0.000001)
(('Tyron', 'M'),         region sex  year   name  count      freq
1223430     FL   M  1980  Tyron      6  0.000002)
(('Tyrone', 'M'),         region sex  year    name  count      freq
5186051     TN   M  1966  Tyrone     24  0.000007)
(('Tyson', 'M'),         region sex  year   name  count      freq
4641207     OR   M  1973  Tyson     13  0.000005
2707686     ME   M  1977  Tyson      6  0.000002)
(('Tzivi', 'F'),         region sex  year   name  count      freq
4118889     NY   F  2018  Tzivi      5  0.000002)
(('Tzivia', 'F'),         region sex  year    name  count      freq
4087815     NY   F  2006  Tzivia      6  0.000002)
(('Tzvi', 'M'),         region sex  year  name  count      freq
4234551     NY   M  2011  Tzvi     57  0.000018)
(('Ubaldo', 'M'),         region sex  year    name  count      freq
5445838     TX   M  1926  Ubaldo      6  0.000003)
(('Ulysses', 'M'),         region sex  year     name  count      freq
5440784     TX   M  1921  Ulysses      6  0.000003
721100      CA   M  1998  Ulysses     87  0.000027)
(('Unique', 'F'),         region sex  year    name  count      freq
4740410     PA   F  1992  Unique     13  0.000004)
(('Unknown', 'F'),        region sex  year     name  count      freq
430491     CA   F  1958  Unknown     10  0.000003)
(('Uriah', 'M'),        region sex  year   name  count      freq
697008     CA   M  1988  Uriah     13  0.000004)
(('Uriel', 'M'),         region sex  year   name  count      freq
1440854     GA   M  1998  Uriel     10  0.000003)
(('Urijah', 'M'),         region sex  year    name  count      freq
1458123     GA   M  2011  Urijah      9  0.000003)
(('Ursula', 'F'),         region sex  year    name  count      freq
1108296     FL   F  1977  Ursula     13  0.000005
446210      CA   F  1967  Ursula     29  0.000009)
(('Vada', 'F'),        region sex  year  name  count      freq
221335     AR   F  2018  Vada      5  0.000002)
(('Vaishnavi', 'F'),         region sex  year       name  count      freq
5410062     TX   F  2014  Vaishnavi      5  0.000002)
(('Val', 'F'),         region sex  year name  count      freq
1725911     IL   F  1964  Val      5  0.000001)
(('Valarie', 'F'),         region sex  year     name  count      freq
1948580     IN   F  1969  Valarie     10  0.000003)
(('Valentina', 'F'),         region sex  year       name  count      freq
1317228     GA   F  1965  Valentina      6  0.000002
1378089     GA   F  2016  Valentina     51  0.000016)
(('Valeria', 'F'),         region sex  year     name  count      freq
5927055     WA   F  2016  Valeria     38  0.000012
4258273     OH   F  1917  Valeria     13  0.000007
3951669     NY   F  1913  Valeria      6  0.000006)
(('Valerie', 'F'),         region sex  year     name  count      freq
5836694     VT   F  1949  Valerie      9  0.000003
2682816     ME   F  1978  Valerie     15  0.000005
3676568     NJ   F  1938  Valerie     29  0.000014
...        ...  ..   ...      ...    ...       ...
286477      AZ   F  1965  Valerie     43  0.000013
4586361     OR   F  1954  Valerie     44  0.000012
4882091     RI   F  1970  Valerie      9  0.000003

[8 rows x 6 columns])
(('Van', 'M'),         region sex  year name  count      freq
5064791     SD   M  1948  Van      5  0.000002
3873262     NM   M  1951  Van      5  0.000001
651754      CA   M  1957  Van     20  0.000005)
(('Vance', 'M'),         region sex  year   name  count      freq
1423011     GA   M  1976  Vance      7  0.000003)
(('Vanessa', 'F'),         region sex  year     name  count      freq
824158      CO   F  1999  Vanessa     96  0.000029
1188286     FL   F  2020  Vanessa     88  0.000032
3521498     ND   F  1981  Vanessa      9  0.000003
4770751     PA   F  2013  Vanessa     56  0.000018
3586781     NE   F  2010  Vanessa     18  0.000006)
(('Vanna', 'F'),         region sex  year   name  count      freq
1180892     FL   F  2016  Vanna      5  0.000002)
(('Varun', 'M'),         region sex  year   name  count      freq
3820889     NJ   M  2018  Varun      5  0.000002)
(('Vaughn', 'M'),         region sex  year    name  count      freq
3783489     NJ   M  1978  Vaughn      6  0.000002
2011639     IN   M  1948  Vaughn      7  0.000002)
(('Velda', 'F'),         region sex  year   name  count      freq
2280217     LA   F  1915  Velda      6  0.000004)
(('Velma', 'F'),         region sex  year   name  count      freq
2077581     KS   F  1956  Velma     12  0.000003
174866      AR   F  1927  Velma    103  0.000048
183113      AR   F  1944  Velma     63  0.000025
3038210     MO   F  1942  Velma     44  0.000017
2068668     KS   F  1933  Velma     33  0.000018
3341198     NC   F  1936  Velma     47  0.000024)
(('Vena', 'F'),         region sex  year  name  count      freq
1683790     IL   F  1912  Vena      6  0.000007)
(('Vera', 'F'),         region sex  year  name  count      freq
3684087     NJ   F  1953  Vera     28  0.000008
1303837     GA   F  1947  Vera     76  0.000022
3953178     NY   F  1916  Vera    244  0.000137
4582501     OR   F  1943  Vera     11  0.000004
5709108     VA   F  1967  Vera     15  0.000005
97191       AL   F  2014  Vera     17  0.000005
3677488     NJ   F  1940  Vera     12  0.000006)
(('Verania', 'F'),        region sex  year     name  count      freq
312627     AZ   F  2000  Verania      6  0.000002)
(('Verla', 'F'),         region sex  year   name  count      freq
1542417     IA   F  1949  Verla      7  0.000002)
(('Verlin', 'M'),         region sex  year    name  count      freq
5172279     TN   M  1937  Verlin      8  0.000004)
(('Verline', 'F'),         region sex  year     name  count      freq
3179746     MS   F  1941  Verline      7  0.000003)
(('Vern', 'M'),         region sex  year  name  count      freq
5639785     UT   M  1923  Vern     17  0.000008)
(('Verna', 'F'),         region sex  year   name  count      freq
1476769     HI   F  1940  Verna      9  0.000004
1075168     FL   F  1927  Verna     20  0.000009
3336048     NC   F  1927  Verna     51  0.000024
431525      CA   F  1959  Verna     44  0.000011)
(('Vernetta', 'F'),         region sex  year      name  count      freq
1716443     IL   F  1956  Vernetta      6  0.000002)
(('Vernia', 'F'),         region sex  year    name  count      freq
3330976     NC   F  1918  Vernia      5  0.000002)
(('Vernon', 'M'),         region sex  year    name  count      freq
6074923     WI   M  1965  Vernon     17  0.000005
1593719     IA   M  1952  Vernon     41  0.000011
855782      CO   M  1949  Vernon     26  0.000008
2832946     MI   M  1932  Vernon     67  0.000034
4547312     OK   M  1973  Vernon     13  0.000005
1852781     IL   M  1969  Vernon     40  0.000012
1833018     IL   M  1941  Vernon     91  0.000040)
(('Veronica', 'F'),         region sex  year      name  count      freq
282107      AZ   F  1956  Veronica     23  0.000006
417167      CA   F  1949  Veronica     64  0.000019
3075475     MO   F  1996  Veronica     33  0.000010
...        ...  ..   ...       ...    ...       ...
5357728     TX   F  2000  Veronica    261  0.000078
394335      CA   F  1919  Veronica     11  0.000006
3728277     NJ   F  2001  Veronica     80  0.000024

[10 rows x 6 columns])
(('Versie', 'F'),       region sex  year    name  count      freq
46689     AL   F  1941  Versie      5  0.000002)
(('Vesta', 'F'),         region sex  year   name  count      freq
2667220     ME   F  1916  Vesta      6  0.000003)
(('Vicki', 'F'),         region sex  year   name  count      freq
5039138     SD   F  1942  Vicki      6  0.000002
797938      CO   F  1955  Vicki    102  0.000027
5046524     SD   F  1973  Vicki     12  0.000004)
(('Vickie', 'F'),         region sex  year    name  count      freq
3354466     NC   F  1957  Vickie    375  0.000094)
(('Vicky', 'F'),         region sex  year   name  count      freq
2566272     MD   F  1956  Vicky     26  0.000007
193700      AR   F  1966  Vicky     11  0.000003
3048996     MO   F  1960  Vicky     90  0.000023)
(('Victor', 'M'),         region sex  year    name  count      freq
2620718     MD   M  1934  Victor      9  0.000005
3802147     NJ   M  2002  Victor    105  0.000032
368321      AZ   M  1997  Victor    152  0.000048
5469810     TX   M  1951  Victor    317  0.000090
1026102     DC   M  1987  Victor     23  0.000007
2654510     MD   M  2008  Victor     59  0.000017
261282      AR   M  2005  Victor     24  0.000007)
(('Victoria', 'F'),         region sex  year      name  count      freq
2674817     ME   F  1949  Victoria     24  0.000007
830911      CO   F  2006  Victoria    114  0.000033
1315933     GA   F  1964  Victoria     49  0.000013
803092      CO   F  1965  Victoria     29  0.000008
4261847     OH   F  1923  Victoria     37  0.000017)
(('Victoriano', 'M'),         region sex  year        name  count      freq
5545587     TX   M  2004  Victoriano      6  0.000002)
(('Vida', 'F'),         region sex  year  name  count      freq
4013254     NY   F  1971  Vida      5  0.000002
597034      CA   F  2014  Vida     43  0.000014)
(('Vihaan', 'M'),         region sex  year    name  count      freq
1902974     IL   M  2011  Vihaan     10  0.000003
5819938     VA   M  2010  Vihaan      8  0.000003)
(('Vikki', 'F'),       region sex  year   name  count      freq
63473     AL   F  1968  Vikki      7  0.000002)
(('Vilma', 'F'),         region sex  year   name  count      freq
5285292     TX   F  1964  Vilma     12  0.000003)
(('Vince', 'M'),         region sex  year   name  count      freq
1841239     IL   M  1954  Vince      8  0.000002
729063      CA   M  2001  Vince     20  0.000006)
(('Vincent', 'M'),         region sex  year     name  count      freq
3529969     ND   M  1911  Vincent      6  0.000011
964884      CT   M  1991  Vincent     56  0.000016
1526144     HI   M  2018  Vincent     11  0.000004
...        ...  ..   ...      ...    ...       ...
2241815     KY   M  1949  Vincent     18  0.000005
3661015     NH   M  1999  Vincent      6  0.000002
5933446     WA   M  1912  Vincent      7  0.000008

[10 rows x 6 columns])
(('Vincenza', 'F'),         region sex  year      name  count      freq
3985463     NY   F  1953  Vincenza      8  0.000002)
(('Viola', 'F'),         region sex  year   name  count      freq
5100976     TN   F  1950  Viola     11  0.000003
4077904     NY   F  2002  Viola      6  0.000002
1628165     ID   F  1938  Viola      9  0.000004
5682427     VA   F  1917  Viola    107  0.000058)
(('Violet', 'F'),         region sex  year    name  count      freq
4729626     PA   F  1983  Violet      6  0.000002
4510606     OK   F  2008  Violet     15  0.000004
1573268     IA   F  2011  Violet     35  0.000011
...        ...  ..   ...     ...    ...       ...
4726333     PA   F  1980  Violet      5  0.000002
5758826     VA   F  2018  Violet    110  0.000037
4750175     PA   F  1999  Violet      7  0.000002

[8 rows x 6 columns])
(('Virgie', 'F'),         region sex  year    name  count      freq
4270035     OH   F  1936  Virgie      5  0.000003)
(('Virgil', 'M'),         region sex  year    name  count      freq
3252562     MS   M  1969  Virgil      9  0.000003)
(('Virginia', 'F'),         region sex  year      name  count      freq
4267252     OH   F  1932  Virginia    586  0.000298
821241      CO   F  1995  Virginia     13  0.000004
5887760     WA   F  1975  Virginia     10  0.000004
...        ...  ..   ...       ...    ...       ...
821973      CO   F  1996  Virginia     14  0.000004
5836788     VT   F  1950  Virginia     25  0.000008
3560527     NE   F  1937  Virginia     94  0.000047

[8 rows x 6 columns])
(('Viridiana', 'F'),         region sex  year       name  count      freq
3911014     NV   F  1994  Viridiana      5  0.000002
1760158     IL   F  1989  Viridiana      7  0.000002)
(('Vito', 'M'),         region sex  year  name  count      freq
4374545     OH   M  1919  Vito      6  0.000003
752603      CA   M  2009  Vito      6  0.000002
678503      CA   M  1978  Vito     11  0.000004)
(('Viva', 'F'),         region sex  year  name  count      freq
5094190     TN   F  1937  Viva      7  0.000004)
(('Vivian', 'F'),         region sex  year    name  count      freq
1498117     HI   F  2011  Vivian      7  0.000002
4275999     OH   F  1946  Vivian     86  0.000028
3022058     MO   F  1910  Vivian     35  0.000068)
(('Viviana', 'F'),         region sex  year     name  count      freq
5148878     TN   F  2011  Viviana      6  0.000002)
(('Viviann', 'F'),        region sex  year     name  count      freq
558019     CA   F  2004  Viviann      7  0.000002)
(('Vivienne', 'F'),         region sex  year      name  count      freq
6054850     WI   F  2020  Vivienne     22  0.000008
3088307     MO   F  2009  Vivienne     16  0.000005)
(('Vladimir', 'M'),         region sex  year      name  count      freq
6229073     PR   M  2001  Vladimir      6  0.000002
4241446     NY   M  2014  Vladimir     13  0.000004
3791828     NJ   M  1990  Vladimir      7  0.000002)
(('Vonda', 'F'),         region sex  year   name  count      freq
3031044     MO   F  1927  Vonda      6  0.000003
6115838     WV   F  1927  Vonda      6  0.000003)
(('Wade', 'M'),         region sex  year  name  count      freq
708723      CA   M  1993  Wade     49  0.000015
4446343     OH   M  2014  Wade     26  0.000008
19855       AK   M  1974  Wade      5  0.000002
3010977     MN   M  2008  Wade     17  0.000005
2255060     KY   M  1979  Wade      9  0.000003
5799526     VA   M  1987  Wade     21  0.000006)
(('Waleed', 'M'),         region sex  year    name  count      freq
5571070     TX   M  2014  Waleed      6  0.000002)
(('Walker', 'M'),         region sex  year    name  count      freq
4983259     SC   M  1928  Walker      9  0.000004
3323100     MT   M  2007  Walker      5  0.000001
3325257     MT   M  2015  Walker      7  0.000002)
(('Wallace', 'M'),         region sex  year     name  count      freq
5768692     VA   M  1925  Wallace     74  0.000034
6157563     WV   M  1928  Wallace     22  0.000010
2002878     IN   M  1925  Wallace     37  0.000017
1595351     IA   M  1956  Wallace      6  0.000002
2004760     IN   M  1930  Wallace     32  0.000015
2824042     MI   M  1912  Wallace     13  0.000015
1831022     IL   M  1937  Wallace     30  0.000015)
(('Walter', 'M'),         region sex  year    name  count      freq
5938703     WA   M  1936  Walter     71  0.000037
4382123     OH   M  1935  Walter    345  0.000177
260963      AR   M  2004  Walter      8  0.000002
...        ...  ..   ...     ...    ...       ...
853727      CO   M  1942  Walter     57  0.000022
954440      CT   M  1962  Walter     84  0.000022
1841447     IL   M  1955  Walter    383  0.000100

[9 rows x 6 columns])
(('Walton', 'M'),        region sex  year    name  count      freq
112511     AL   M  1928  Walton      6  0.000003)
(('Wanda', 'F'),         region sex  year   name  count      freq
1541311     IA   F  1947  Wanda     40  0.000012
5876913     WA   F  1957  Wanda     40  0.000010
4469684     OK   F  1938  Wanda    373  0.000180
2306006     LA   F  1960  Wanda    270  0.000068
1760042     IL   F  1989  Wanda      8  0.000002
454143      CA   F  1971  Wanda     57  0.000018
3513301     ND   F  1947  Wanda     23  0.000007)
(('Wanya', 'M'),         region sex  year   name  count      freq
3264867     MS   M  1995  Wanya      6  0.000002)
(('Ward', 'M'),         region sex  year  name  count      freq
3106258     MO   M  1922  Ward      8  0.000004
5948458     WA   M  1963  Ward      8  0.000002)
(('Wardell', 'M'),         region sex  year     name  count      freq

4988951     SC   M  1942  Wardell      6  0.000002)
(('Waris', 'M'),        region sex  year   name  count      freq
775653     CA   M  2017  Waris      7  0.000002)
(('Warner', 'M'),         region sex  year    name  count      freq
1387464     GA   M  1912  Warner      5  0.000006)
(('Warren', 'M'),         region sex  year    name  count      freq
5933897     WA   M  1915  Warren     20  0.000012
3244485     MS   M  1952  Warren     26  0.000007
3016934     MN   M  2015  Warren     15  0.000005
...        ...  ..   ...     ...    ...       ...
944350      CT   M  1919  Warren     23  0.000012
5197391     TN   M  1988  Warren      9  0.000003
5522726     TX   M  1993  Warren     50  0.000015

[9 rows x 6 columns])
(('Waunita', 'F'),         region sex  year     name  count      freq
6111464     WV   F  1917  Waunita      5  0.000003)
(('Wayland', 'M'),         region sex  year     name  count      freq
5457110     TX   M  1938  Wayland     16  0.000008)
(('Waylon', 'M'),         region sex  year    name  count      freq
693053      CA   M  1986  Waylon      9  0.000003
5206358     TN   M  2001  Waylon      8  0.000002
357217      AZ   M  1977  Waylon      6  0.000002)
(('Waymon', 'M'),         region sex  year    name  count      freq
1428459     GA   M  1984  Waymon      7  0.000002)
(('Wayne', 'M'),         region sex  year   name  count      freq
3311435     MT   M  1954  Wayne     51  0.000013
694103      CA   M  1987  Wayne    108  0.000033
3927991     NV   M  1948  Wayne      5  0.000002
...        ...  ..   ...    ...    ...       ...
1865194     IL   M  1982  Wayne     58  0.000018
5643972     UT   M  1943  Wayne     66  0.000025
5939448     WA   M  1939  Wayne     85  0.000041

[11 rows x 6 columns])
(('Webster', 'M'),         region sex  year     name  count      freq
3106837     MO   M  1923  Webster      5  0.000002
5770278     VA   M  1928  Webster      8  0.000004)
(('Wei', 'M'),         region sex  year name  count      freq
4212330     NY   M  1999  Wei      5  0.000002)
(('Weldon', 'M'),         region sex  year    name  count      freq
2977385     MN   M  1931  Weldon      5  0.000003)
(('Wendell', 'M'),         region sex  year     name  count      freq
3594555     NE   M  1920  Wendell     16  0.000008
1587734     IA   M  1934  Wendell     36  0.000019
3775896     NJ   M  1966  Wendell     10  0.000003
4135497     NY   M  1929  Wendell     22  0.000011
3242105     MS   M  1947  Wendell     19  0.000006)
(('Wendy', 'F'),         region sex  year   name  count      freq
323794      AZ   F  2009  Wendy     14  0.000004
5882613     WA   F  1967  Wendy    223  0.000070
4011511     NY   F  1971  Wendy    659  0.000207
1751860     IL   F  1984  Wendy     65  0.000020
6195266     WY   F  1974  Wendy     19  0.000007
4700978     PA   F  1957  Wendy    381  0.000095
1477704     HI   F  1944  Wendy      5  0.000002)
(('Werner', 'M'),         region sex  year    name  count      freq
4156054     NY   M  1957  Werner      7  0.000002)
(('Wesley', 'M'),         region sex  year    name  count      freq
1585087     IA   M  1926  Wesley     34  0.000016
2397793     LA   M  1982  Wesley     85  0.000027
3454929     NC   M  1964  Wesley     83  0.000023
...        ...  ..   ...     ...    ...       ...
2697616     ME   M  1930  Wesley     10  0.000005
2899676     MI   M  2017  Wesley    130  0.000043
943729      CT   M  1916  Wesley      8  0.000004

[13 rows x 6 columns])
(('Wesson', 'M'),         region sex  year    name  count      freq
4451974     OH   M  2018  Wesson     19  0.000006
2903946     MI   M  2020  Wesson     13  0.000005)
(('Westin', 'M'),         region sex  year    name  count      freq
6104162     WI   M  2015  Westin      9  0.000003
1258303     FL   M  2007  Westin      6  0.000002
383278      AZ   M  2013  Westin     10  0.000003)
(('Westley', 'M'),        region sex  year     name  count      freq
722120     CA   M  1998  Westley     10  0.000003)
(('Weston', 'M'),         region sex  year    name  count      freq
4654685     OR   M  2003  Weston     13  0.000004
5956707     WA   M  1981  Weston      7  0.000002)
(('Westyn', 'M'),         region sex  year    name  count      freq
5565005     TX   M  2012  Westyn     11  0.000004)
(('Whitley', 'F'),         region sex  year     name  count      freq
5410922     TX   F  2015  Whitley     36  0.000011)
(('Whitney', 'F'),         region sex  year     name  count      freq
6041328     WI   F  2006  Whitney     13  0.000004
5622411     UT   F  2003  Whitney     39  0.000012)
(('Whitney', 'M'),         region sex  year     name  count      freq
2375451     LA   M  1946  Whitney     17  0.000006)
(('Wilbert', 'M'),         region sex  year     name  count      freq
2624041     MD   M  1947  Wilbert     20  0.000006
2829670     MI   M  1925  Wilbert     18  0.000008
5515070     TX   M  1988  Wilbert     13  0.000004)
(('Wilbur', 'M'),         region sex  year    name  count      freq
2632333     MD   M  1968  Wilbur      8  0.000003
1655530     ID   M  1921  Wilbur     13  0.000006)
(('Wilburn', 'M'),         region sex  year     name  count      freq
1416230     GA   M  1965  Wilburn      7  0.000002
1414371     GA   M  1962  Wilburn      8  0.000002)
(('Wilda', 'F'),         region sex  year   name  count      freq
1918677     IN   F  1914  Wilda      5  0.000004)
(('Wilder', 'M'),         region sex  year    name  count      freq
4227596     NY   M  2007  Wilder      6  0.000002)
(('Wiley', 'M'),         region sex  year   name  count      freq
1398670     GA   M  1934  Wiley     27  0.000014
5444265     TX   M  1925  Wiley     30  0.000014
3246587     MS   M  1956  Wiley      8  0.000002)
(('Wilford', 'M'),         region sex  year     name  count      freq
1655631     ID   M  1921  Wilford      5  0.000002)
(('Wilfred', 'M'),         region sex  year     name  count      freq
4221103     NY   M  2004  Wilfred      9  0.000003
5848251     VT   M  1922  Wilfred      8  0.000004
3433330     NC   M  1927  Wilfred      7  0.000003)
(('Wilfredo', 'M'),         region sex  year      name  count      freq
4175055     NY   M  1975  Wilfredo     89  0.000032)
(('Wilhelmina', 'F'),         region sex  year        name  count      freq
2278512     LA   F  1911  Wilhelmina      5  0.000009)
(('Wilhemina', 'F'),         region sex  year       name  count      freq
3351517     NC   F  1952  Wilhemina      5  0.000001)
(('Will', 'M'),         region sex  year  name  count      freq
5208686     TN   M  2004  Will     11  0.000003
5766634     VA   M  1920  Will      8  0.000004
4193948     NY   M  1989  Will     16  0.000005)
(('Willa', 'F'),         region sex  year   name  count      freq
3093942     MO   F  2014  Willa     12  0.000004
3982199     NY   F  1950  Willa      5  0.000002
4279599     OH   F  1950  Willa     11  0.000003
169919      AR   F  1917  Willa      5  0.000003
2186100     KY   F  1964  Willa      6  0.000002
1009028     DC   F  2019  Willa     10  0.000003)
(('Willard', 'F'),         region sex  year     name  count      freq
3329713     NC   F  1916  Willard      7  0.000004)
(('Willard', 'M'),         region sex  year     name  count      freq
5445186     TX   M  1926  Willard     46  0.000022
5638932     UT   M  1919  Willard     21  0.000011)
(('Willem', 'M'),         region sex  year    name  count      freq
4250743     NY   M  2018  Willem      5  0.000002)
(('William', 'F'),        region sex  year     name  count      freq
170444     AR   F  1918  William      5  0.000002)
(('William', 'M'),         region sex  year     name  count      freq
5473044     TX   M  1954  William   2595  0.000684
6166319     WV   M  1952  William    948  0.000262
5676032     UT   M  2016  William    273  0.000088
...        ...  ..   ...      ...    ...       ...
5665721     UT   M  2002  William    185  0.000056
4240463     NY   M  2014  William    754  0.000238
1035790     DC   M  2019  William     86  0.000030

[9 rows x 6 columns])
(('Willie', 'F'),       region sex  year    name  count      freq
43489     AL   F  1936  Willie    333  0.000172)
(('Willie', 'M'),         region sex  year    name  count      freq
141245      AL   M  1984  Willie     83  0.000026
1194912     FL   M  1927  Willie    316  0.000146
1430105     GA   M  1987  Willie    133  0.000041
3267300     MS   M  2000  Willie     24  0.000007
3875873     NM   M  1959  Willie     10  0.000003)
(('Willis', 'M'),         region sex  year    name  count      freq
2389408     LA   M  1969  Willis     16  0.000005
2620021     MD   M  1931  Willis     13  0.000007
3253018     MS   M  1970  Willis      9  0.000003)
(('Willow', 'F'),         region sex  year    name  count      freq
3528101     ND   F  2014  Willow     12  0.000004
2103992     KS   F  2008  Willow     11  0.000003)
(('Wilma', 'F'),         region sex  year   name  count      freq
2431010     MA   F  1914  Wilma     11  0.000009
2906431     MN   F  1916  Wilma     47  0.000026)
(('Wilson', 'M'),         region sex  year    name  count      freq
4906669     RI   M  1999  Wilson      7  0.000002
2391977     LA   M  1973  Wilson     13  0.000005
3104682     MO   M  1919  Wilson     16  0.000008
231414      AR   M  1931  Wilson      5  0.000003
4438518     OH   M  2008  Wilson     15  0.000004
2264459     KY   M  2000  Wilson      6  0.000002
5179374     TN   M  1952  Wilson      7  0.000002)
(('Wilton', 'M'),         region sex  year    name  count      freq
4983243     SC   M  1928  Wilton     10  0.000005
5779015     VA   M  1948  Wilton     10  0.000003)
(('Windell', 'M'),         region sex  year     name  count      freq
4998512     SC   M  1963  Windell      7  0.000002)
(('Winfred', 'M'),         region sex  year     name  count      freq
5170915     TN   M  1934  Winfred     10  0.000005
3114485     MO   M  1941  Winfred      6  0.000003)
(('Winifred', 'F'),         region sex  year      name  count      freq
2557767     MD   F  1933  Winifred      6  0.000003)
(('Winnie', 'F'),         region sex  year    name  count      freq
1075285     FL   F  1927  Winnie      9  0.000004)
(('Winona', 'F'),         region sex  year    name  count      freq
2723047     MI   F  1922  Winona      8  0.000004)
(('Winston', 'M'),         region sex  year     name  count      freq
270663      AR   M  2020  Winston      8  0.000003
782517      CA   M  2020  Winston     69  0.000025
1889694     IL   M  2002  Winston      6  0.000002
4446550     OH   M  2014  Winston     15  0.000005
627492      CA   M  1922  Winston      6  0.000003)
(('Winter', 'F'),        region sex  year    name  count      freq
103009     AL   F  2020  Winter     11  0.000004)
(('Wren', 'M'),        region sex  year  name  count      freq
757945     CA   M  2011  Wren      8  0.000003)
(('Wyatt', 'M'),         region sex  year   name  count      freq
5958932     WA   M  1985  Wyatt      6  0.000002
865969      CO   M  1975  Wyatt      5  0.000002
3893057     NM   M  2005  Wyatt     24  0.000007
3155381     MO   M  2012  Wyatt    285  0.000092
4565486     OK   M  2008  Wyatt    175  0.000052)
(('Wyman', 'M'),        region sex  year   name  count      freq
110947     AL   M  1925  Wyman      5  0.000002)
(('Wynell', 'F'),         region sex  year    name  count      freq
5249982     TX   F  1935  Wynell      8  0.000004)
(('Wynter', 'F'),         region sex  year    name  count      freq
5134697     TN   F  1998  Wynter      5  0.000002)
(('Xander', 'M'),        region sex  year    name  count      freq
263681     AR   M  2009  Xander     18  0.000006)
(('Xavier', 'M'),       region sex  year    name  count      freq
24413     AK   M  1999  Xavier      8  0.000002)
(('Xena', 'F'),        region sex  year  name  count      freq
546311     CA   F  2001  Xena      7  0.000002)
(('Ximena', 'F'),         region sex  year    name  count      freq
1652956     ID   F  2018  Ximena     10  0.000003)
(('Yael', 'F'),         region sex  year  name  count      freq
4024894     NY   F  1978  Yael     19  0.000007)
(('Yaire', 'F'),         region sex  year   name  count      freq
3396897     NC   F  2003  Yaire      5  0.000002)
(('Yajaira', 'F'),         region sex  year     name  count      freq
5144248     TN   F  2007  Yajaira      5  0.000001
214032      AR   F  2007  Yajaira      5  0.000001)
(('Yamilet', 'F'),         region sex  year     name  count      freq
4082549     NY   F  2004  Yamilet      7  0.000002
3742269     NJ   F  2011  Yamilet     11  0.000004)
(('Yandel', 'M'),         region sex  year    name  count      freq
1453597     GA   M  2008  Yandel     13  0.000004
6229284     PR   M  2002  Yandel     31  0.000009)
(('Yaneishka', 'F'),         region sex  year       name  count      freq
6219567     PR   F  2003  Yaneishka      9  0.000003)
(('Yara', 'F'),        region sex  year  name  count      freq
564319     CA   F  2006  Yara     27  0.000008)
(('Yareli', 'F'),         region sex  year    name  count      freq
1154029     FL   F  2005  Yareli      8  0.000002)
(('Yarelis', 'F'),         region sex  year     name  count      freq
3732014     NJ   F  2003  Yarelis      5  0.000002)
(('Yaretzi', 'F'),         region sex  year     name  count      freq
4101523     NY   F  2012  Yaretzi     61  0.000020
321154      AZ   F  2007  Yaretzi     11  0.000003)
(('Yash', 'M'),         region sex  year  name  count      freq
1260380     FL   M  2008  Yash      5  0.000001)
(('Yasin', 'M'),         region sex  year   name  count      freq
4237242     NY   M  2012  Yasin     14  0.000005)
(('Yasmin', 'F'),         region sex  year    name  count      freq
3702040     NJ   F  1975  Yasmin      5  0.000002
3719448     NJ   F  1993  Yasmin     14  0.000004
3076153     MO   F  1996  Yasmin      5  0.000002
4068938     NY   F  1999  Yasmin     52  0.000016)
(('Yassin', 'M'),         region sex  year    name  count      freq
4227231     NY   M  2007  Yassin      8  0.000002)
(('Yazmine', 'F'),        region sex  year     name  count      freq
564549     CA   F  2006  Yazmine     21  0.000006)
(('Yehuda', 'M'),         region sex  year    name  count      freq
2662063     MD   M  2016  Yehuda      8  0.000003)
(('Yesenia', 'F'),         region sex  year     name  count      freq
3389301     NC   F  1998  Yesenia     25  0.000008)
(('Yetta', 'F'),         region sex  year   name  count      freq
2721019     MI   F  1918  Yetta      5  0.000002)
(('Yidel', 'M'),         region sex  year   name  count      freq
4227385     NY   M  2007  Yidel      7  0.000002)
(('Ying', 'F'),         region sex  year  name  count      freq
4054756     NY   F  1992  Ying      5  0.000001)
(('Yisroel', 'M'),         region sex  year     name  count      freq
3799448     NJ   M  1999  Yisroel     22  0.000007)
(('Yolanda', 'F'),         region sex  year     name  count      freq
6114493     WV   F  1924  Yolanda      6  0.000003
1098828     FL   F  1968  Yolanda    151  0.000048
899309      CT   F  1924  Yolanda     20  0.000009
798574      CO   F  1956  Yolanda     18  0.000005)
(('Yolonda', 'F'),         region sex  year     name  count      freq
1322130     GA   F  1971  Yolonda      5  0.000002)
(('Yoselin', 'F'),         region sex  year     name  count      freq
5356028     TX   F  1999  Yoselin     14  0.000004
1797782     IL   F  2010  Yoselin      9  0.000003)
(('Yoshiko', 'F'),        region sex  year     name  count      freq
391984     CA   F  1914  Yoshiko     10  0.000008)
(('Yousif', 'M'),        region sex  year    name  count      freq
763539     CA   M  2013  Yousif      9  0.000003)
(('Yusra', 'F'),        region sex  year   name  count      freq
566316     CA   F  2006  Yusra      7  0.000002)
(('Yvette', 'F'),         region sex  year    name  count      freq
5696175     VA   F  1946  Yvette      5  0.000002
3626611     NH   F  1915  Yvette     17  0.000010
5899903     WA   F  1991  Yvette     11  0.000003
2668026     ME   F  1920  Yvette     26  0.000012)
(('Yvonne', 'F'),         region sex  year    name  count      freq
6019680     WI   F  1976  Yvonne     12  0.000004
5592486     UT   F  1933  Yvonne     11  0.000006
2751150     MI   F  1963  Yvonne    139  0.000037
3672795     NJ   F  1928  Yvonne     15  0.000007)
(('Zachariah', 'M'),         region sex  year       name  count      freq
4831176     PA   M  1986  Zachariah     15  0.000005
6083681     WI   M  1985  Zachariah     13  0.000004
4653467     OR   M  2001  Zachariah     20  0.000006
2145876     KS   M  2003  Zachariah     11  0.000003)
(('Zachary', 'M'),         region sex  year     name  count      freq
2994453     MN   M  1978  Zachary    103  0.000036
1063803     DE   M  1994  Zachary     85  0.000026
385804      AZ   M  2016  Zachary     83  0.000027
267878      AR   M  2016  Zachary     26  0.000008)
(('Zachery', 'M'),         region sex  year     name  count      freq
3259877     MS   M  1985  Zachery     10  0.000003)
(('Zack', 'M'),         region sex  year  name  count      freq
1397480     GA   M  1931  Zack      5  0.000003)
(('Zackary', 'M'),         region sex  year     name  count      freq
3502022     NC   M  2018  Zackary      9  0.000003
3891915     NM   M  2002  Zackary      9  0.000003
3493925     NC   M  2012  Zackary     19  0.000006
2262173     KY   M  1996  Zackary     37  0.000011
1453280     GA   M  2008  Zackary     29  0.000009)
(('Zackery', 'M'),         region sex  year     name  count      freq
750875      CA   M  2009  Zackery     31  0.000009
3155148     MO   M  2011  Zackery      7  0.000002)
(('Zadyn', 'M'),         region sex  year   name  count      freq
2895891     MI   M  2013  Zadyn      5  0.000002)
(('Zahara', 'F'),         region sex  year    name  count      freq
4096877     NY   F  2010  Zahara     21  0.000007)
(('Zahir', 'M'),         region sex  year   name  count      freq
4848564     PA   M  2004  Zahir     11  0.000003)
(('Zaiden', 'M'),         region sex  year    name  count      freq
264312      AR   M  2010  Zaiden     15  0.000005
2659118     MD   M  2013  Zaiden     16  0.000005)
(('Zain', 'M'),         region sex  year  name  count      freq
4864040     PA   M  2016  Zain     15  0.000005)
(('Zaira', 'F'),        region sex  year   name  count      freq
324559     AZ   F  2009  Zaira      5  0.000002)
(('Zaire', 'M'),         region sex  year   name  count      freq
4251191     NY   M  2019  Zaire     38  0.000013)

(('Zakai', 'M'),         region sex  year   name  count      freq
1452893     GA   M  2007  Zakai      5  0.000001)
(('Zakary', 'M'),         region sex  year    name  count      freq
1672177     ID   M  1995  Zakary      6  0.000002
775951      CA   M  2017  Zakary      6  0.000002)
(('Zamora', 'F'),         region sex  year    name  count      freq
1380905     GA   F  2017  Zamora      7  0.000002)
(('Zander', 'M'),         region sex  year    name  count      freq
2716700     ME   M  2018  Zander      8  0.000003)
(('Zandra', 'F'),        region sex  year    name  count      freq
492850     CA   F  1986  Zandra      6  0.000002)
(('Zane', 'M'),         region sex  year  name  count      freq
5013017     SC   M  1993  Zane      8  0.000002
2029141     IN   M  1982  Zane     11  0.000003
1668528     ID   M  1981  Zane      5  0.000002)
(('Zaniyah', 'F'),         region sex  year     name  count      freq
4348762     OH   F  2007  Zaniyah      5  0.000001
3410130     NC   F  2012  Zaniyah     15  0.000005)
(('Zara', 'F'),         region sex  year  name  count      freq
5425141     TX   F  2019  Zara    118  0.000040
572287      CA   F  2008  Zara     59  0.000017
4096480     NY   F  2010  Zara     44  0.000014
1053998     DE   F  2020  Zara      7  0.000003)
(('Zariah', 'F'),         region sex  year    name  count      freq
2112628     KS   F  2020  Zariah      8  0.000003)
(('Zariya', 'F'),         region sex  year    name  count      freq
5420191     TX   F  2017  Zariya      8  0.000003)
(('Zariyah', 'F'),         region sex  year     name  count      freq
3743554     NJ   F  2012  Zariyah     13  0.000004)
(('Zavier', 'M'),         region sex  year    name  count      freq
5577913     TX   M  2017  Zavier     20  0.000007)
(('Zayden', 'M'),         region sex  year    name  count      freq
3487826     NC   M  2007  Zayden     11  0.000003
6186228     WV   M  2018  Zayden     28  0.000009)
(('Zayla', 'F'),         region sex  year   name  count      freq
4123357     NY   F  2020  Zayla      6  0.000002)
(('Zayne', 'M'),         region sex  year   name  count      freq
5028940     SC   M  2016  Zayne      7  0.000002)
(('Zechariah', 'M'),         region sex  year       name  count      freq
1885028     IL   M  1999  Zechariah     13  0.000004)
(('Zelda', 'F'),         region sex  year   name  count      freq
1298483     GA   F  1937  Zelda      6  0.000003
2818248     MI   F  2017  Zelda     22  0.000007)
(('Zelma', 'F'),         region sex  year   name  count      freq
5684121     VA   F  1920  Zelma      8  0.000004)
(('Zenobia', 'F'),         region sex  year     name  count      freq
1339459     GA   F  1990  Zenobia      5  0.000001)
(('Zeynab', 'F'),         region sex  year    name  count      freq
4123656     NY   F  2020  Zeynab      5  0.000002)
(('Zhane', 'F'),         region sex  year   name  count      freq
4067083     NY   F  1998  Zhane     18  0.000005)
(('Zion', 'M'),         region sex  year  name  count      freq
2266727     KY   M  2004  Zion      7  0.000002)
(('Ziya', 'F'),         region sex  year  name  count      freq
1186936     FL   F  2019  Ziya     12  0.000004)
(('Zoe', 'F'),         region sex  year name  count      freq
2724841     MI   F  1925  Zoe      5  0.000002)
(('Zoey', 'F'),        region sex  year  name  count      freq
547577     CA   F  2002  Zoey    125  0.000038)
(('Zoie', 'F'),         region sex  year  name  count      freq
5148245     TN   F  2011  Zoie     19  0.000006
2593378     MD   F  1998  Zoie      5  0.000002)
(('Zuleyka', 'F'),         region sex  year     name  count      freq
1379183     GA   F  2016  Zuleyka      7  0.000002)
(('Zuri', 'F'),         region sex  year  name  count      freq
6151740     WV   F  2020  Zuri      5  0.000002
3091955     MO   F  2012  Zuri      8  0.000003
520731      CA   F  1994  Zuri      8  0.000002)
(('Zuriel', 'M'),        region sex  year    name  count      freq
737585     CA   M  2004  Zuriel      9  0.000003)
(('Zvi', 'M'),         region sex  year name  count      freq
4244631     NY   M  2015  Zvi      5  0.000002)
(('Zya', 'F'),        region sex  year name  count      freq
618071     CA   F  2019  Zya      8  0.000003)
(('Zylah', 'F'),        region sex  year   name  count      freq
575860     CA   F  2008  Zylah      5  0.000001)

In [14]:
df['name'] = df.index.get_level_values('name_')
df['sex'] = df.index.get_level_values('sex_')
df.head()

              year  count      freq     name sex
name_   sex_
Aaden   M     2008     51  0.000015    Aaden   M
Aahana  F     2018     26  0.000009   Aahana   F
Aahil   M     2019      5  0.000002    Aahil   M
Aaleyah F     2010     17  0.000005  Aaleyah   F
Aalia   F     4033     13  0.000004    Aalia   F

In [15]:
df.query('name == "Chris"')

            year  count      freq   name sex
name_ sex_
Chris F     1983      5  0.000002  Chris   F
      M     7850    239  0.000069  Chris   M

In [114]:
counts[('Timothy',)]

sex
F       5
M    3538
Name: count, dtype: int64

In [16]:
df['istrain'] = np.random.rand(len(df)) < .9
df.head()

              year  count      freq     name sex  istrain
name_   sex_
Aaden   M     2008     51  0.000015    Aaden   M     True
Aahana  F     2018     26  0.000009   Aahana   F     True
Aahil   M     2019      5  0.000002    Aahil   M     True
Aaleyah F     2010     17  0.000005  Aaleyah   F     True
Aalia   F     4033     13  0.000004    Aalia   F     True

In [17]:
# A list of dicts or a dict of dicts is fastest way to create dataframe from groups of rows
# https://stackoverflow.com/users/8727339/mohit-motwani
# https://stackoverflow.com/a/57001947/623735

df_most_common = {}
for name, group in df.groupby('name'):
    row_dict = group.iloc[group['count'].argmax()].to_dict()
    df_most_common[(name, row_dict['sex'])] = row_dict
df_most_common = pd.DataFrame(df_most_common).T
df_most_common

          year count      freq    name sex istrain
Aaden  M  2008    51  0.000015   Aaden   M    True
Aahana F  2018    26  0.000009  Aahana   F    True
Aahil  M  2019     5  0.000002   Aahil   M    True
...        ...   ...       ...     ...  ..     ...
Zvi    M  2015     5  0.000002     Zvi   M    True
Zya    F  2019     8  0.000003     Zya   F    True
Zylah  F  2008     5  0.000001   Zylah   F    True

[4025 rows x 6 columns]

In [71]:
df = df_with_duplicates;
for name, group in df_with_duplicates.groupby('name'):
    if len(group) > 1: 
        df.drop(group['count'].idxmin(), inplace=True)

In [66]:
df = df_with_duplicates
group = df.groupby('name').get_group('Chris')
group['count'].idxmax()

('Chris', 'M')

In [72]:

df.query('name == "Chris"')

            year  count      freq   name sex  istrain
name_ sex_
Chris M     7850    239  0.000069  Chris   M     True

In [19]:
df_most_common['istest'] = ~df_most_common['istrain'].astype(bool)
print(df_most_common['name sex count istrain istest'.split(' ')])

            name sex count istrain  istest
Aaden  M   Aaden   M    51    True   False
Aahana F  Aahana   F    26    True   False
Aahil  M   Aahil   M     5    True   False
...          ...  ..   ...     ...     ...
Zvi    M     Zvi   M     5    True   False
Zya    F     Zya   F     8    True   False
Zylah  F   Zylah   F     5    True   False

[4025 rows x 5 columns]

In [77]:
df_most_common[['istest', 'istrain']].sum() / len(df_most_common)

istest     0.095652
istrain    0.904348
dtype: float64

In [21]:
istest = df_most_common['istest']
istest

Aaden   M    False
Aahana  F    False
Aahil   M    False
             ...
Zvi     M    False
Zya     F    False
Zylah   F    False
Name: istest, Length: 4025, dtype: bool

In [22]:
istest.sum()

385

In [23]:
istest_idx = df_most_common[istest].index
istest_idx[:4]

MultiIndex([('Abelardo', 'M'),
            ( 'Adaline', 'F'),
            ( 'Adalynn', 'F'),
            ( 'Addelyn', 'F')],
           )

In [24]:
df['istrain'].sum() / len(df)

0.9043478260869565

In [25]:
df['istest'] = df_most_common['istest']
df['istest'] = df['istest'].fillna(False)
df['istrain'] = ~df['istest']
df['istrain'].sum() / len(df)

0.9043478260869565

In [26]:
df[~df['istrain'] & ~df['istest']]

Empty DataFrame
Columns: [year, count, freq, name, sex, istrain, istest]
Index: []

In [80]:
istrain = df['istrain']
istrain.sum() / len(istrain)

0.9040993788819875

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(analyzer='char', ngram_range=(1, 3), lowercase=False)
vectorizer

TfidfVectorizer(analyzer='char', lowercase=False, ngram_range=(1, 3))

In [81]:
unique_names = df['name'][istrain].unique()
vectorizer.fit(unique_names)
vecs = vectorizer.transform(df['name'])
vecs

<4025x3657 sparse matrix of type '<class 'numpy.float64'>'
	with 57656 stored elements in Compressed Sparse Row format>

In [82]:
vecs = pd.DataFrame(vecs.toarray())
vecs.columns = vectorizer.get_feature_names_out()
vecs.index = df.index
print(vecs.iloc[:,:5])

                    A        Aa       Aad       Aah  Aal
name_  sex_
Aaden  M     0.193989  0.393903  0.505031  0.000000  0.0
Aahana F     0.183496  0.372597  0.000000  0.454943  0.0
Aahil  M     0.186079  0.377841  0.000000  0.461346  0.0
...               ...       ...       ...       ...  ...
Zvi    M     0.000000  0.000000  0.000000  0.000000  0.0
Zya    F     0.000000  0.000000  0.000000  0.000000  0.0
Zylah  F     0.000000  0.000000  0.000000  0.000000  0.0

[4025 rows x 5 columns]

In [31]:
import torch
torch

In [32]:
class LogisticRegressionNN(torch.nn.Module):

    def __init__(self, num_features, num_outputs=1):
         super().__init__()
         self.linear = torch.nn.Linear(num_features, num_outputs)

    def forward(self, X):
        return torch.sigmoid(self.linear(X))

In [33]:
def make_tensor(X):
    """ Convert numpy ndarray to torch.Tensor """
    X = getattr(X, 'values', X)
    return X if isinstance(X, torch.Tensor) else torch.Tensor(X)

def make_array(x):
    """ Convert torch.Tensor to numpy 1-D array """
    if hasattr(x, 'detach'):
        return torch.squeeze(x).detach().numpy()
    return x

In [34]:
num_features = vecs.shape[1]  # number of unique n-grams in our "vocabulary"
num_outputs = 1    # number of nesses (sexes) to predict, we're predicting only femaleness

In [35]:
from tqdm import tqdm
import time
import json
import copy

# Fraction of the tensors y_pred and y that are the same 
# (y_pred == y).sum() / len(y)
def measure_binary_accuracy(y_pred, y):
    """ Round y_pred and y then count the preds that are equal to the truth to compute fraction correct """
    y_pred = make_array(y_pred).round()
    y = make_array(y).round()
    num_correct = (y_pred == y).sum()
    return num_correct / len(y)

In [36]:
def measure_performance(model, X_train, X_test, y_train, y_test, criterion):
    with torch.no_grad():
        # Calculating the loss and accuracy for the train dataset
        accuracy_train = measure_binary_accuracy(model(X_train), y_train)
        outputs_test = torch.squeeze(model(X_test))
        accuracy_test = measure_binary_accuracy(outputs_test, y_test)
        loss_test = criterion(outputs_test, y_test)
        return dict(i=i, 
                    # loss_train=loss.item(),
                    accuracy_train=accuracy_train,
                    loss_test=loss_test.item(),
                    accuracy_test=accuracy_test)

In [37]:
model = LogisticRegressionNN(num_features=vecs.shape[1], num_outputs=1)
model

LogisticRegressionNN(
  (linear): Linear(in_features=3657, out_features=1, bias=True)
)

In [38]:
learning_rate = 0.05
optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate)
optimizer

SGD (
Parameter Group 0
    dampening: 0
    lr: 0.05
    momentum: 0
    nesterov: False
    weight_decay: 0
)

In [44]:
df[['count']].columns

Index(['count'], dtype='object')

In [73]:
# BCE: Binary Cross Entropy
criterion = torch.nn.BCELoss(weight=torch.Tensor(df[['count']].values))
criterion

BCELoss()

In [84]:
X = vecs.values
y = (df[['sex']] == 'F').values
X_train = torch.Tensor(X[istrain])
X_test = torch.Tensor(X[~istrain])
y_train = torch.Tensor(y[istrain])
y_test = torch.Tensor(y[~istrain])

In [95]:
num_epochs = 200
loss_func_train = torch.nn.BCELoss(weight=torch.Tensor(df[['count']][istrain].values))
hyperparam_values ={'lr': 0.02,'momentum': 0.001}
model = LogisticRegressionNN(num_features=vecs.shape[1], num_outputs=1)
optimizer = torch.optim.SGD(model.parameters(), **hyperparam_values)
pbar_epochs = tqdm(range(num_epochs), desc='Epoch:', total=num_epochs)

for epoch in pbar_epochs:
    optimizer.zero_grad() # Setting our stored gradients equal to zero
    outputs = model(X_train)
    loss_train = loss_func_train(outputs, y_train) 
    loss_train.backward() # Computes the gradient of the given tensor w.r.t. the weights/bias
    optimizer.step() # Updates weights and biases with the optimizer (SGD)

Epoch:: 100%|██████████| 200/200 [00:01<00:00, 138.24it/s]

In [118]:
model = LogisticRegressionNN(num_features=vecs.shape[1], num_outputs=1)
optimizer = torch.optim.SGD(model.parameters(), **hyperparam_values)
loss_func_test = torch.nn.BCELoss(weight=torch.Tensor(df[['count']][~istrain].values)) 

for epoch in range(num_epochs):
    optimizer.zero_grad() 
    outputs = model(X_train)
    loss_train = loss_func_train(outputs, y_train) 
    loss_train.backward() 
    optimizer.step() 
    outputs_test = model(X_test)
    loss_test = loss_func_test(outputs_test, y_test)
    accuracy_test = measure_binary_accuracy(outputs_test, y_test)
    if epoch % 20 == 19:
        print((f'Epoch {epoch}: loss_train/test: {loss_train.item():.4f}/{loss_test.item():.4f}, accuracy_test: {accuracy_test:.4f}'))

Epoch 19: loss_train/test: 80.1816/75.3989, accuracy_test: 0.4275
Epoch 39: loss_train/test: 75.0748/74.4430, accuracy_test: 0.5933
Epoch 59: loss_train/test: 71.0529/73.7784, accuracy_test: 0.6503
Epoch 79: loss_train/test: 67.7637/73.2873, accuracy_test: 0.6839
Epoch 99: loss_train/test: 64.9957/72.9028, accuracy_test: 0.6891
Epoch 119: loss_train/test: 62.6145/72.5862, accuracy_test: 0.6995
Epoch 139: loss_train/test: 60.5302/72.3139, accuracy_test: 0.7073
Epoch 159: loss_train/test: 58.6803/72.0716, accuracy_test: 0.7073
Epoch 179: loss_train/test: 57.0198/71.8502, accuracy_test: 0.7202
Epoch 199: loss_train/test: 55.5152/71.6437, accuracy_test: 0.7280

In [105]:
num_epochs = 100
#hyperparam_values = {'lr': 0.289}
hyperparam_values ={'lr': 0.02,'momentum': 0.001}
model = LogisticRegressionNN(num_features=vecs.shape[1], num_outputs=1)
optimizer = torch.optim.SGD(model.parameters(), **hyperparam_values)
criterion_train = torch.nn.BCELoss(weight=torch.Tensor(df[['count']][istrain].values))  # BCE: Binary Cross Entropy
criterion_test = torch.nn.BCELoss(weight=torch.Tensor(df[['count']][~istrain].values))  # BCE: Binary Cross Entropy
X = vecs.values
y = (df[['sex']] == 'F').values
X_train = torch.Tensor(X[istrain])
X_test = torch.Tensor(X[~istrain])
y_train = torch.Tensor(y[istrain])
y_test = torch.Tensor(y[~istrain])

pbar_epochs = tqdm(range(num_epochs), desc='Epoch:', total=num_epochs)
results = [None] * num_epochs
for epoch in range(num_epochs):
    optimizer.zero_grad() # Setting our stored gradients equal to zero
    outputs = model(X_train)
    loss_train = criterion_train(outputs, y_train) 
    loss_train.backward() # Computes the gradient of the given tensor w.r.t. the weights/bias
    epoch_loss_train = loss_train.item()
    optimizer.step() # Updates weights and biases with the optimizer (SGD)
    #print(f'Train loss: {np.round(loss_train.detach().numpy(), 4):0.4f}')
    outputs_test = model(X_test)
    loss_test = criterion_test(outputs_test, y_test).item()
    accuracy_test = measure_binary_accuracy(outputs_test, y_test)
    #results[epoch] = dict(loss_train=loss_train, loss_test=loss_test, accuracy_test=accuracy_test)
    if epoch % 20 == 19:
        print((f'Epoch {epoch}: loss_train/test: {loss_train:.4f}/{loss_test:.4f}, accuracy_test: {accuracy_test}'))
    #pbar_epochs.set_description(f'loss_train/test: {loss_train:.4f}/{loss_test:.4f}')
print((f'loss_train/test: {loss_train:.4f}/{loss_test:.4f}, accuracy_test: {accuracy_test}'))

Epoch::   0%|          | 0/100 [28:01<?, ?it/s]

Epoch 19: loss_train/test: 80.2628/75.2845, accuracy_test: 0.43005181347150256
Epoch 39: loss_train/test: 75.1420/74.3274, accuracy_test: 0.6139896373056994
Epoch 59: loss_train/test: 71.1092/73.6625, accuracy_test: 0.6580310880829016
Epoch 79: loss_train/test: 67.8115/73.1716, accuracy_test: 0.6839378238341969
Epoch 99: loss_train/test: 65.0367/72.7877, accuracy_test: 0.6839378238341969
Epoch 119: loss_train/test: 62.6499/72.4720, accuracy_test: 0.6968911917098446
Epoch 139: loss_train/test: 60.5611/72.2008, accuracy_test: 0.7020725388601037
Epoch 159: loss_train/test: 58.7074/71.9598, accuracy_test: 0.7124352331606217
Epoch 179: loss_train/test: 57.0437/71.7398, accuracy_test: 0.7202072538860104
Epoch 199: loss_train/test: 55.5364/71.5347, accuracy_test: 0.727979274611399
loss_train/test: 55.5364/71.5347, accuracy_test: 0.727979274611399

In [ ]:
# Create new majority sex column to hold the most common sex for names used for both sexes
df['majority_sex'] = df['sex']

# Overwrite the minority sex with the majority.
for name_, sex_ in df_most_common.index:
    opposite_sex = 'F' if sex_ == 'M' else 'M'
    try:
        # if you put majority_sex after .iloc this fails to overwrite data and generates warning
        df['majority_sex'].loc[(name_, opposite_sex)] = sex_
        print(f'overwrote ({name_}, {opposite_sex}) with {sex_}')
    except KeyError:
        pass

In [ ]:
dupe_names = df[df['name'].duplicated()]['name'].values
df[df['name'].isin(dupe_names)]

In [ ]:
weight_test = torch.Tensor(df[['count']].loc[df_most_common.index].values)
criterion_test = torch.nn.BCELoss(weight=weight_test)
criterion_test

In [ ]:
def rand_range(min_value=0.001, max_value=1):
    scale = max_value - min_value
    return scale * np.random.rand() + min_value

In [ ]:
def rand_range_log(min_value=0.001, max_value=1):
    min_log = np.log(min_value)
    max_log = np.log(max_value)
    return np.exp(rand_range(np.log(min_value), np.log(max_value)))

Create random hyperparameter table for optimizer learning_rate and momentum

In [ ]:
# lr: learning_rate
hyperparam_ranges = dict(lr=[0.02, 1.0], momentum=[0.00001, 1.0])
hyperparam_table = []
num_attempts = 30
for i in range(num_attempts):
    hyperparam_values = dict()
    for k, v in hyperparam_ranges.items():
        hyperparam_values[k] = rand_range_log(*hyperparam_ranges[k])
    hyperparam_table.append(hyperparam_values)
pd.DataFrame(hyperparam_table)

In [ ]:
model = LogisticRegressionNN(num_features=vecs.shape[1], num_outputs=1)
model

In [ ]:
optimizer = torch.optim.SGD(model.parameters(), **hyperparam_table[0])
optimizer

In [ ]:
weight_train = torch.Tensor(df['count'][istrain].values.reshape(-1, 1) / df['count'][istrain].mean())
weight_train.sum()

In [ ]:
df['count'][istrain].values.reshape(sum(istrain), 1)

In [ ]:
weight_train.shape

In [ ]:
weight_test = torch.Tensor(df['count'][~istrain].values.reshape(-1, 1) / df['count'][~istrain].mean())
weight_test.sum()

In [ ]:
# pbar = tqdm(hyperparam_table, desc='Training attempt', total=len(hyperparam_table))
num_epochs=200

t0 = time.time()
for i, hyperparam_values in enumerate(hyperparam_table):
    t1 = time.time()
    model = LogisticRegressionNN(num_features=vecs.shape[1], num_outputs=1)
    optimizer = torch.optim.SGD(model.parameters(), lr=hyperparam_values['lr'])
    # BCE: Binary Cross Entropy weighted by the number of babies with that first name and sex
    criterion_train = torch.nn.BCELoss(weight=weight_train)
    criterion_test = torch.nn.BCELoss(weight=weight_test)
    X = vecs.values
    X_train = torch.Tensor(X[istrain])
    X_test = torch.Tensor(X[~istrain])
    y_train = torch.Tensor((df[['sex']] == 'F').astype(int).values[istrain])
    y_test = torch.Tensor((df[['majority_sex']] == 'F').astype(int).values[~istrain])
    
    pbar_epochs = tqdm(range(num_epochs), desc='Epoch:', total=num_epochs)
    results = [None] * num_epochs
    for epoch in pbar_epochs:
        optimizer.zero_grad() # Setting our stored gradients equal to zero
        outputs = model(X_train)
        loss_train = criterion_train(outputs, y_train) 
        loss_train.backward() # Computes the gradient of the given tensor w.r.t. the weights/bias
        loss_train = loss_train.item()
        optimizer.step() # Updates weights and biases with the optimizer (SGD)
        # print(f'Train loss: {np.round(loss_train.detach().numpy(), 4):0.4f}')
        outputs_test = model(X_test)
        loss_test = criterion_test(outputs_test, y_test).item()
        accuracy_test = measure_binary_accuracy(outputs_test, y_test)
        results[epoch] = dict(loss_train=loss_train, loss_test=loss_test, accuracy_test=accuracy_test)
        # pbar_epochs.set_description(f'loss_train/test: {loss_train:.4f}/{loss_test:.4f}')
    t2 = time.time()
    results[-1]['time_per_attempt'] = t2 - t1
    results[-1]['total_time'] = t2 - t0
    hyperparam_table[i].update(results[-1])
    print(f'attempt {i}/{len(hyperparam_table)}')
    for k, v in hyperparam_table[i].items():
        print(f'{k}: {v:04f}')

In [ ]:
istest = df['istest']
df['name'][istest].unique()

In [ ]:
hyperparam_table[-1]

In [ ]:
hyperparam_df = pd.DataFrame(hyperparam_table).sort_values('accuracy_test')
hyperparam_df

In [ ]:
def fit(model=model, X=vecs.values, y=(df[['sex']] == 'F').values, optimizer=None,
        num_epochs=30, learning_rate=.1, criterion=criterion, optimizer=optimizer):
    pbar = tqdm(range(num_epochs), desc='Epoch', total=num_epochs)
    X_train = torch.Tensor(X[istrain])
    X_test = torch.Tensor(X[~istrain])
    y_train = torch.Tensor(y[istrain])
    y_test = torch.Tensor(y[~istrain])

    results = []
    for i in pbar:
        optimizer.zero_grad() # Setting our stored gradients equal to zero
        outputs = model(X_train)
        loss_train = criterion(outputs, y_train) 
        loss_train.backward() # Computes the gradient of the given tensor w.r.t. the weights/bias
        optimizer.step() # Updates weights and biases with the optimizer (SGD)
    return results

In [ ]:
test_loss = hyperparam_df['loss_test']
test_accuracy = hyperparam_df['accuracy_test']
hyperparam_df.plot(x='lr', y='momentum', kind='scatter', logy=True, logx=True, grid=True, marker='o', s=100*test_accuracy**2, alpha=test_loss*.7)

In [ ]:
results = fit()

In [ ]:
pd.DataFrame(results)

In [ ]:
# model.score(vecs[~istrain], y[~istrain], sample_weight=df['count'][~istrain])

In [ ]:
# model.classes_

In [ ]:
names = ['Dewey', 'Kemal', 'Copeland', 'Vishvesh']
ourvecs = vectorizer.transform(names)
ourvecs = pd.DataFrame.sparse.from_spmatrix(ourvecs)
ourvecs.columns = vectorizer.get_feature_names_out()
ourvecs.index = list(zip(names, 'M'*len(names)))
ourvecs

In [ ]:
ourtensors =

In [ ]:
names = ['Maria', 'Syndee', 'Aditi', 'Constance']
vecs = vectorizer.transform(names)
vecs = pd.DataFrame.sparse.from_spmatrix(vecs)
vecs.columns = vectorizer.get_feature_names_out()
vecs.index = list(zip(names, 'M'*len(names)))
pd.DataFrame(model.predict_proba(vecs)[:,0], index=vecs.index)

In [ ]:
class LogisticRegressionNumpyNN(LogisticRegressionNN):

    def __init__(self, *args, **kwargs):
         super().__init__(*args, **kwargs)

    def predict_proba(self, X):
        return self.forward(make_tensor(X))
    
    def predict(self, X):
        return (np.array(self.forward(make_tesnor(X))) > 0.5).astype(int)
    
# ', '.join([v for v in dir(LogisticRegression) if v[0] != '_'])